#services{
	.dataTables-example tbody tr {
		max-height: 35px;
		min-height:35px;
		height:35px;
	}
	td[colspan = "4"]{
		padding: 0 !important;
	}

	.ibox-content{
		padding:0 !important;
	}
	.panel-body{
		padding: 10px 22px !important;
	}

	.ibox{
		margin-bottom: 0 !important;
	}

	.ibox-title {
		margin-bottom: 8px !important;
	}

/*	.ibox-tools{
		.prof{
			.active{
				background-color: #bfbfbf;
			}
		}
	}*/

}

img.lightbox-image {
    position: relative;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

