<template>
<li>
    <a @click="action" href="#" :class="{ 'not-read': !isRead }">
        <div class="row">
            <div class="col-xs-2 notif-image">
                <img :src="notification.chat_room.users[0].avatar">
            </div>
            <div class="col-xs-7 notif-content">
                <div class="row">
                    <div class="col-xs-12 notif-title ellipsis">
                        {{ fullName }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 notif-body ellipsis">
                        {{ notification.body }}
                    </div>
                </div>
            </div>
            <div class="col-xs-3 notif-date">
                <small>{{ fromNow }}</small>
            </div>
        </div>
    </a>
</li>
</template>

<script>
export default {
    props: ['notification'],

    methods: {
        action() {
            axiosAPIv1.post('/messages/' + this.notification.id + '/mark-as-read')
            .then(result => {
                this.$parent.getNotifications();
            });

            if (this.notification.chat_room.name) {
                //return window.location.href = '/messages/#/cr/' + this.notification.chat_room_id;
            }

            var chat = [];
            $(".panel-chat-box").each(function(){
                chat.push($(this).attr('id'));
            });

            if (this.notification.chat_room.name) {
                if($.inArray('user'+this.notification.chat_room.name,chat)=='-1')
                    Event.fire('chat-box.show', this.notification);

            } else {
                 if($.inArray('user'+this.notification.chat_room.users[0].id,chat)=='-1')
                    Event.fire('chat-box.show', this.notification.chat_room.users[0]);
           
            }

            setTimeout(function(){
              $('.js-auto-size').textareaAutoSize();
            }, 5000);
        },
    },

    computed: {
        fromNow() {
            return moment(this.notification.created_at).fromNow();
        },

        href() {
            if (this.notification.chat_room.name) {
                //return '/messages/#/cr/' + this.notification.chat_room_id;
            }

            return '/messages/#/u/' + this.notification.chat_room.users[0].id;
        },

        isRead() {
            if(this.notification.user_id ==  window.Laravel.user.id)
                return true;
            else
                return !! this.notification.read_at;
        },
        fullName() {
            if (this.notification.chat_room.name)
                return this.notification.chat_room.name;
            else
                return this.notification.chat_room.users[0].first_name + ' ' + this.notification.chat_room.users[0].last_name; 
        }
    }
}
</script>
