<template>
<li>
    <a @click="markAsRead" target="_blank" :href="href" :class="{ 'not-read': !isRead }">
        <div class="row" data-toggle="tooltip" data-placement="left" data-container="body" :title="notification.data.body">
            <div class="col-xs-2 notif-image">
                <img :src="notification.sender_avatar">
            </div>
            <div class="col-xs-7 notif-content">
                <div class="row">
                    <div class="col-xs-12 notif-title ellipsis">
                        {{ notification.data.title }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 notif-body">
                        {{ notification.data.body }}
                    </div>
                </div>
            </div>
            <div class="col-xs-3 notif-date">
                <small>{{ fromNow }}</small>
            </div>
        </div>
    </a>
</li>
</template>

<script>
export default {
    props: ['notification'],

    methods: {
        markAsRead() {
            if (! this.notification.read_at) {
                return axiosAPIv1.post('/notifications/' + this.notification.id + '/mark-as-read');
            }
        }
    },

    computed: {
        href() {
            if (!!~this.type.search('document')) {
                 if(!!~this.notification.data.body.search('uploaded a new document')){
                     return 'http://'+Laravel.cpanel_url+'/documents';
                 }
                 else{
                    return '/profile?open=documents';
                }
            }

            else if (!!~this.type.search('new-issue') || !!~this.type.search('issue-assignment')) {
                return 'http://'+Laravel.cpanel_url+'/customer-service';
            } 

            else if (!!~this.type.search('feedback')) {
                return '/feedback';
            } 

            else if (!!~this.type.search('friend')) {
                if(!!~this.notification.data.body.search('accepted your friend request')){
                    return '/users/'+this.notification.from_id;
                }
                return '/friends';
            }

            else if (!!~this.type.search('new-order-confirmation')) {
                return '/user/purchase-report';
            }

            else if (!!~this.type.search('new-purchase')) {
                return '/user/sales-report?storeid='+this.notification.data.product.store_id;
            }

            else if (!!~this.type.search('new-user')) {
                return '/profile?open=notifications';
            }

            else if (!!~this.type.search('order-status-update')) {
                if(!!~this.notification.data.body.search('requested to return your item')){
                    return '/user/sales-report';
                }
                else if(!!~this.notification.data.body.search('successfully received the item')){
                    return '/user/sales-report';
                }
                else{
                return '/user/purchase-report';
                }
            } 

            else if (!!~this.type.search('new-product-review') || !!~this.type.search('new-product-review-comment')) {
                if (this.notification.data.product) {
                    return '/product/' + this.notification.data.product.slug;
                }

                return '#';
            } 

            else if (!!~this.type.search('change-ewallet-transaction-status')) {
                return '/user/ewallet';
            }
            else if (!!~this.type.search('new-ewallet-transaction')) {
                if(!!~this.notification.data.body.search('uploaded a deposit slip') || !!~this.notification.data.body.search('deposited money for approval') || !!~this.notification.data.body.search('requested for a Withdraw')){
                    return 'http://'+Laravel.cpanel_url+'/ewallet';
                }
                return '/user/ewallet';
            }
            return '#';
        },

        fromNow() {
            return this.notification.human_created_at;
        },

        isRead() {
            return !! this.notification.read_at;
        },

        type() {
            let arrType = this.notification.type.split('\\');
            let type = arrType[arrType.length - 1].replace(/([a-z](?=[A-Z]))/g, '$1-').toLowerCase();

            return type;
        }
    },

    mounted() {
        $('[data-toggle="tooltip"]').tooltip();

        $('.notif-body', this.$el).ellipsis({
            lines: 2,
            responsive: true
        });
    }
}
</script>
