<template>
<li>
    <a href="/friends" :class="{ 'not-read': !isRead }">
        <div class="row">
            <div class="col-xs-2 notif-image">
                <img :src="notification.data.image">
            </div>
            <div class="col-xs-10 notif-content">
                <div class="row">
                    <div class="col-xs-12 notif-title ellipsis">
                        {{ notification.data.user.full_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 notif-body ellipsis">
                        {{ hlang['sent'] }}
                    </div>
                </div>
            </div>
            <!-- <div class="col-xs-5 notif-button">
                <button @click="confirm">{{ clang['confirm'] }}</button>
                <button @click="deleteRequest">{{ clang['delete'] }}</button>
            </div> -->
        </div>
    </a>
</li>
</template>

<script>
export default {
    data(){
        return {
            hlang:[],
            clang:[]
        }
    },
    props: ['notification'],
    created() {
        function getHeaderTranslation() {
            return axios.get('/translate/header');
        }
        function getCommonTranslation() {
            return axios.get('/translate/common');
        }

        axios.all([
            getHeaderTranslation(),
            getCommonTranslation()
        ]).then(axios.spread(
            (
            htranslation,
            ctranslation
            ) => {
                
            this.hlang = htranslation.data.data;
            this.clang = ctranslation.data.data;


        }))
        .catch($.noop);
    },

    methods: {
        confirm() {
            return axiosAPIv1.post('/friends/' + this.notification.data.friend.id + '/confirm', {
                notif_id: this.notification.id
            }).then(result => {
                Event.fire('friend-request.accepted', this.notification);
            });
        },

        deleteRequest() {
            return axiosAPIv1.post('/friends/' + this.notification.data.friend.id + '/delete-request', {
                notif_id: this.notification.id
            }).then(result => {
                Event.fire('friend-request.deleted', this.notificaiton);
            });
        }
    },

    computed: {
        isRead() {
            return !! this.notification.read_at;
        }
    }
}
</script>
