#tracking {

	.no-result{
		margin-top: 20px;
	}

	.form-group{
		.input-group{
			margin-top: 15px !important;
			.custom-txt{
				margin-top: 0 !important;
			}
		}
	}

	.ibox-content {
		height: 700px;

	    i.cursor {
	    	cursor: pointer;
		}

		#client-title {
			.tracking-no {
				font-size: 18px;
			}
			.client-name {
			    font-size: 15px;
			    text-transform: capitalize;
			    font-weight: bold;
			    margin-left: 12px;		
			}
		}

		.client-result {

			.table-responsive {
				max-height: 450px;
				overflow-y: auto;

				#clientlist {
					.strikethrough {
						text-decoration: line-through;

						td {
							text-decoration: line-through;
						}
					}

					tbody tr .process {
						cursor: pointer;
					    color: #009dcd;
					    text-decoration: underline;
					}					

				}
			}		
		}

		.group-result {
			.group-name {
				color: #3c8dbc;
				text-transform: capitalize;
			}

			.table-responsive {
				max-height: 450px;
				overflow-y: auto;
				
				#grouplist {
					.clickable {
						.cursor {
							color: #45afec
						}

						.leader {
						    color: #f71b02;
			    			font-size: 10px;
			                font-weight: bold;
						}
					}

					.strikethrough {
						text-decoration: line-through;

						td {
							text-decoration: line-through;
						}
					}
				}	
			}

			.services-tbl {
				thead tr td {
					color: #3c8dbc;
					font-size: 10px;
					font-weight: bold;
				}
				tbody tr td {
					font-size: 10px;
				}

				tbody tr .process {
					cursor: pointer;
				    color: #009dcd;
				    text-decoration: underline;
				}

				.fa-exclamation-circle {
					color: #ea0909;
					font-size: 12px;
				}

				.fa-commenting {
				    color: #17E355;
				    font-size: 12px;				
				}

				.fa-check-circle {
					color: #1cadd6;
					font-size: 12px;
				}

			}			
		}

		.computed {
		    float: right;
    		margin-right: 30px;

			table {
				.align-right {
					text-align:right;
				}
				.align-left {
					text-align:left;
				}
				.color-font {
					color:#3c8dbc;
					font-weight: bold;
					margin-left: 5px;
				}
			}
		}
	}

}