<template>
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default panel-card">
                <div class="panel-heading">
                    <img :src="item.cover_image" />
                </div>
                <div class="panel-figure">
                    <img class="img-responsive img-circle" :src="item.profile_image" />
                </div>
                <div class="panel-body text-center">
                    <h4 class="panel-header"><a :href="'/stores/' + item.slug">{{ namelength }}</a></h4>
                    <small>&nbsp;</small>
                </div>
                <div class="panel-thumbnails">
                    <div class="row">
                        <div class="col-xs-4" v-for="(value, key) in item.latest_prod">
                            <div class="thumbnail">
                              <a :href="'/product/' + value.slug">
                                <img :src="value.main_image" />
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
export default {
  props: ['item'],
  methods:{
    select(id){
       this.$parent.selectItem(id)
    }
  },
  computed:{
    discount(){
      return (1-(this.item.sale_price / this.item.price))*100
    },
    namelength(){
      var m = $("meta[name=locale-lang]");    
      var langmode = m.attr("content");
      var name = this.item.cn_name ? this.item.cn_name: this.item.name;
      if (this.item.name.length > 30) {
        if(langmode=="cn"){
            return name.substr(0, 30)+"...";  
        }
        return this.item.name.substr(0, 30)+"...";
      }
      else{
        if(langmode=="cn"){
            return name;  
        }
        return this.item.name;
      }
    },

  }
}
</script>