// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Messenger page.
// -----------------------------------------------------------------------------

@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';

#messages-content{
	margin: 0 !important;
	padding-bottom:0 !important;
	height: auto;
	.mail-box {
	    border-collapse: collapse;
	    border-spacing: 0;
	    display: table;
	    table-layout: fixed;
	    width: 100%;
	    height: 62vh;
	    aside {
		    display: table-cell;
		    float: none;
		    height: 100%;
		    padding: 0;
		    vertical-align: top;

			.btn-msg-btn{
				margin: 0 !important;
				font-size: 16px !important;
				padding: 3px 13px !important;
				width: 100%;
			}
		}



		.sm-side {
		    background: none repeat scroll 0 0 #e5e8ef;
		    border-radius: 4px 0 0 4px;
		    width: 25%;
		    .user-head {
			    background: none repeat scroll 0 0 $wyc-default-teal;
			    border-radius: 4px 0 0;
			    color: #fff;
			    min-height: 76px;
			    padding: 24px 10px;
			}
			.inbox-body {
			    padding: 0 27px;
			    .custom-search{
			    	margin: 0 !important;
			    }


			ul{
				&.labels-info {
					li {
						margin: 0;
						border-bottom: 1px dotted #fff;
						h4 {
						    color: #5c5c5e;
						    font-size: 13px;
						    padding-left: 15px;
						    padding-right: 15px;
						    padding-top: 5px;
						    text-transform: uppercase;
						}
						a {
						    border-radius: 0;
						    color: $wyc-default-teal;
						    &:hover,
						    &:focus{
						    	background: none repeat scroll 0 0 $wyc-default-tan;
    							color: $wyc-default-teal;
    							.message {
								    color: #000;
								}
						    }

						    &.new{
						    	background: none repeat scroll 0 0 $wyc-default-powder;
						    	color: #fff;
						    	.message {
								    color: #000;
								}
						    	&:hover,
							    &:focus{
							    	background: none repeat scroll 0 0 $wyc-default-tan;
	    							color: $wyc-default-teal;
	    								.message {
									    color: #000;
									}
							    }
						    }

						    i{
						    	padding-right: 10px;
						    }

							img{
								width: 45px;
								border-radius: 100%;
								margin-top: 5px;
							}

							.fr-status{
								margin-top:15px;
							}
							.message {
								color: #9d9f9e;
								font-size: 11px;
								margin-bottom: 0;
								p{
									text-overflow: ellipsis;
									overflow: hidden;
									white-space: nowrap;
								}
							}
							.fr-details{
								padding:0;
								.fr-name{
									p{
										text-overflow: ellipsis;
										overflow: hidden;
										white-space: nowrap;
									}
								}
							
							}
						}
					}

				}
			}
		}

		.lg-side {
		    background: none repeat scroll 0 0 #fff;
		    border-radius: 0 4px 4px 0;
		    width: 75%;
		    .inbox-head {
			    background: none repeat scroll 0 0 $wyc-default-teal;
			    border-radius: 0 4px 0 0;
			    color: #fff;
			    min-height: 76px;
			    padding: 20px;
			    h4 {
				    display: inline-block;
				    font-weight: 300;
				    margin: 0;
				    padding-top: 6px;
				}

			}
		}
	}

	.inbox-body {
	    padding: 20px;
	}
}