
#MyFrame {

  -ms-transform: scale(0.83);
    -moz-transform: scale(0.83);
    -o-transform: scale(0.83);
    -webkit-transform: scale(0.83);
    transform: scale(0.83);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

}
#client_list{
	padding:20px;
}
#lists{
	width: 100% !important;
}

#list3.table{
  margin-bottom: 0 !important;
}

.blue-log{
  color:#0c6cc5 !important;
}

.profile-pic{
    max-width: 80px;
    float:left;
    border:1px;
    border-style: solid !important;
    margin: 5px 20px 5px 32px;
    border-radius:5px;
}

.profile{
    width: auto;
    padding:10px 10px 40px 10px;
}

.profile-name{
    margin-top: 8% !important;
    font-weight: bold;
    text-align: center;
}

.arrow-package{
    position: absolute;
    background-image: url("../../../assets/visa/images/img/arrow-package.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    padding: 0px 15px 0px 5px;
    margin-top: 5px;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    min-width: 35%;
}

.newbox{
    background-color: transparent;
}

.newbox:after{
    background-image: url("../../../assets/visa/images/img/line.png");
    background-repeat: repeat-x;
    content: " ";
    padding: 1px;
    margin-left: 2px;
    background-position: center;
}

.info-box {
     border-radius:5px !important;
}

.box-position{
    margin-top:35%;
    margin-left: 15px;
    margin-right: 15px;
}

.newspan {
    margin-left: 0px !important;
    margin-right: 20px !important;
}
.custom-box-left {
    padding-left: 15px !important;
    padding-right: 0px !important;
    background: #fff  !important;
}

.custom-box-right {
    padding-left: 0px !important;
    padding-right: 15px !important;
    height: 100% !important;
    /*background-color: #FFFFFF;*/
}
.custom-box-inner-left {
    background: #fff !important;
    border-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.list-group-item {
     background-color: #F8F8F8 !important;
}

.list-group-sub {
     border:0px !important;
     background-color: #ffffff !important;
}

.info-box-text{
    font-size: 11px;
}

.progress-description{
    font-size: 11px;
}

.info-box-number{
    padding-top: 10px;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.bg-red { background-color: #ff7171 !important;}
.bg-yellow {background-color: #ffbc2d !important;}
.bg-aqua {background-color: #00c0ef !important;}
.bg-green {background-color: #4ec98b !important;}
.fa,.text-muted{
    text-align: center;
}
.custom-col{
    margin-right: 5px !important;
}

.customNavigation{
    position: absolute;
    top:25%;
    left:0;
}
.dropdown-border-bottom{
    border-bottom: 1px solid;
    border-bottom-color: #ddd;
}

.btns{
    padding:10px !important;
    padding-top: 20px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.titled{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left:50px !important;
}

.pic-edit{
    max-width: 120px;
    min-width: 120px;
    float:left;
    border:1px;
    border-style: solid !important;
    margin: 5px 20px 5px 5px;
    border-radius:5px;
}

.btn-center{
    position:absolute;
    top: 0;
    left:25%;
    margin-top: 65%;
}


.dborder {
    padding-left: 15px !important;
    padding-bottom: 15px !important;
    padding-right: 15px !important;
}

.custom-x {
    min-width: 105px;
    text-align: center;
    background-color: #f4f5f6 !important;
    border:0px !important;
    color: #727272;
}

.custom-x-x {
    min-width: 123px;
    text-align: right;
    background-color: #f4f5f6 !important;
    border:0px !important;
    color: #727272;
}

.dborder2{
    padding-top: 20px !important;
    padding-bottom: 7px !important;

}

.dborderx{
    margin-top: 20px !important;
    margin-left:50px !important;
    border-radius:10px !important;
}

.rem-border {
      border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
      border: 0px !important;
}

.circular {
    border-radius:15px !important;
    box-shadow: 10px 10px 25px #484848;
    padding: 15px !important;

}

.modal-open .custom-box-right{
  -webkit-filter: blur(5px) grayscale(50%);
}

.modal-open .custom-box-left{
  -webkit-filter: blur(5px) grayscale(50%);
}

.modal-dialog{
    margin-top: 20%;
}

#MyFrame{
     border-radius:10px !important;
}

.b-client{
      border-radius: 0px !important;
      border-top: 0px !important;
      box-shadow: none !important;
      border:0px !important;
      border-color: #FFFFFF;
}

#client_list{
    border:0px !important;
    border-color: #FFFFFF;
}

.modal-header {
    border-bottom: 0px !important;
    margin-bottom: 2px !important;
}
.modal-footer{
    border-top: 0px !important;
    margin-top: 2px !important;
}

#myImg {
    max-width: 120px;
    max-height: 120px;
}

.service-modal-header {
    background-color: #3c8dbc;
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
}

.circular-service {
    border-radius:15px !important;
    box-shadow: 10px 10px 25px #484848;
    padding: 0px !important;
    min-width: 800px !important;
    background-color: #f8f8f8 !important;
}

.service-title{
    color: #FFFFFF;
    font-size: 21px;
}


.modal-dialog-service{
    margin-top:5% !important;
    margin-left:20% !important;
}
#service-modal{
  position:fixed !important;
}
.service-search {
    padding: 10px 0px 10px 0px;
}

.service-search-inner {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    background-color: #f5f5f5 !important;
}

.service-search-inner2 {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    background-color: #f5f5f5 !important;
    min-width: 250px;
}

.treeview .list-group-item {
    cursor:pointer
}

.treeview span.indent {
    margin-left:10px;
    margin-right:10px
}

.treeview span.icon {
    width:12px;
    margin-right:5px
}

.treeview .node-disabled {
    color:blue;
    cursor:not-allowed;
}

.treeview .node-selected {
    color:blue !important;
}

.node-treeview2{
    border: 0px !important;
}

.node-treeview2:hover{
    background-color: #FFFFFF !important;
}

.node-treeview2:not(.node-disabled):hover{
    background-color:#F5F5F5;
}

#treeview2{
    overflow: auto;
    max-height: 450px !important;
    width: 100% !important;

}

.costing {
    margin-top:10px;
    margin-bottom:10px;
    resize: none;
    padding-bottom: 5px;
}

.service-loader {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: white;
  opacity: 0.7;
  visibility: hidden;
}

.cssload-loader {
    width: 244px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    position: absolute;
    left: 40%;
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size:12px;
    letter-spacing: 0.2em;
    z-index: 9999;
    top:50%;

}
.cssload-loader::before {
    top: 0;
}
.cssload-loader::after {
    bottom: 0;
}



@keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 39px;
    }
    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-o-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 39px;
    }
    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-ms-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 39px;
    }
    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-webkit-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 39px;
    }
    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-moz-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 39px;
    }
    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}
.custom-xx {
    min-width: 112px;
    text-align: left;
    background-color: #f4f5f6 !important;
    border:0px !important;
    color: #727272;
}

.custom-xx-group {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.custom-xx-parent {
    padding-right: 1px !important;
    padding-left: 0px !important;
}

.left-service-panel{
    height: auto !important;
}

.service-text{
    overflow: hidden;
    min-height: 65px;
}

.logger{
    display: none;
}
.first .logger{
      display: block !important;
}

#timeline{
    overflow: auto;
    height: 85% !important;
}
.custom-alert-inner{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.custom-alert {

    background: #F0F0F0 !important;
}

.settings .form-group{
    margin-left: 15px !important;
}

.tracking-css{
    padding:5px !important;
}
#services{
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
.pad-bot{
    padding-bottom: 5px !important;
}
.tools{
    display: block !important;
}

body.modal-open .wrapper{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.standard-modal{
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
    background-color: black !important;
    opacity: 0.75 !important;
    border-radius: 10px !important;
    height: 350px !important;
    width: 500px !important;
    margin-left: 60px !important;
}

.lockscreen{
    background-color: transparent !important;
}

.lockscreen-logo{
    padding-top: 35px !important;
}

.dif{
    padding-top: 35px !important;
}

.custom-modal-mid{
    width: 80% !important;
    height: 80% !important;

}

.padding-left{
    padding-left: 20px !important;
}
.padding-left-sub{
    padding-left: 10px !important;
    margin-bottom: 1px !important;
}
.sm-title{
  font-size: 12px !important;
}
.no-pad-bot{
  padding-bottom: 1px !important;
  margin-bottom: 1px !important;
}
.text-blue{
    color: #559bc4;
}
.text-standard-size{
    font-size: 16px !important;
}
td.details-control {
    background: url('../../../assets/visa/images/img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../../../assets/visa/images/img/details_close.png') no-repeat center center;
}
#tblOpenService {
  background-color: #f4f5f6 !important;
}

/*css for custom dashboard inside admin panel */


.treeview a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: black !important;
    padding: 6px 5px 6px 15px;
}

.dash-menu{
  font-family: "Open Sans";
  color:#000 !important;
  font-size: 16px;
  padding: 8px 5px 8px 15px !important;
}

.dash-bg{
    background-color:#f0eceb;
    margin-top:1px !important;
    border-bottom: 1px solid #28353e;

}
li.dash-bg:active{
    background-color:#f0eceb !important ;
}
.dash-a:hover, .active .dash-a:hover{
    background-color:none;
}
.active .dash-a{
    background-color:#f0eceb !important;
}

.icon-white{
  color:#000;
}

.active a i.fa-2x:before {
    content: "\f107";
}
.dash-parent{
font-size:12px !important;
  font-weight: bold;
      color: black !important;
}

.menu-open li a.dash-parent{
  padding-top:3px !important;

}

.dashview-menu{
    display:block !important;
    list-style: outside none none;
    padding:0 0 0 5px;
    line-height: 1.3 !important;
}

.dashview-menu li a.dashview-a{
    color:#3c8dbc !important;
    padding-left: 35px !important;
    font-size:11px !important;
    font-family: "Open Sans", sans-serif;
}

.fa-angle-right{
   margin-right:5px;
}
