#app .spacer-10{clear:both;height:10px}#app .m-top-0{margin-top:0}#app .m-left-60{margin-left:60px}#app .badge-leader{padding:7px}#app .badge-leader span.badge-leader-text{display:inline-block;margin-top:4px;margin-right:10px}