
<template>
    <li class="dropdown mega-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{getTitle}} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu mega-dropdown-menu row">
            <li class="col-sm-4" style="text-align:center; padding-left:40px; padding-right:40px;">
                <ul>
                    <div v-if="products.length">
                        <li class="dropdown-header">{{ hlang['new-products'] }}</li>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item" :class="key==0?'active':''" v-for='product,key in products' v-if='key < 3' :key='product.id'>
                                    <a :href="'/product/'+product.slug" class='block-center'>
                                        <img :src="product.main_image_thumbnail" class="block-center" style="height: 150px;margin-left: auto;margin-right: auto;" :alt="product.slug">
                                    </a>
                                    <h4 v-if="lang=='cn'" class="header-category-product-slider-name">
                                        <small v-if="product.cn_name">{{product.cn_name}}</small>
                                        <small v-else>{{product.name}}</small>
                                    </h4>
                                    <h4 v-else class="header-category-product-slider-name">{{product.name}}</h4>
                                    <span v-if="product.sale_price!=null" class="text-primary" ><span v-if="product.fee_included==1">{{ parseFloat(product.sale_price)+parseFloat(product.shipping_fee)+parseFloat(product.charge)+parseFloat(product.vat) | currency}}</span><span v-else>{{ parseFloat(product.sale_price) | currency}}</span></span>
                                    <span v-else class="text-primary" ><span v-if="product.fee_included==1">{{ parseFloat(product.price)+parseFloat(product.shipping_fee)+parseFloat(product.charge)+parseFloat(product.vat) | currency}}</span><span v-else>{{ parseFloat(product.price) | currency}}</span></span>
                                    <button @click='addToFavorites(product.id,product.name)' class="btn btn-default" type="button">
                                        <span class="glyphicon glyphicon-heart"></span> {{ clang['add-to-wishlist'] }}
                                    </button>
                                </div>
                               
                                <!-- End Item -->
                            </div>
                            <!-- End Carousel Inner -->
                        </div>
                        <!-- /.carousel -->
                        <li class="divider"></li>
                    </div>
                    <li><a href="/categories" class="btn btn-raised btn-primary"> {{ hlang['view-all-cat'] }} <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                </ul>
            </li>
            <li class="col-sm-2">
                <ul class="list-unstyled">
                    <li class="dropdown-header grandparent">
                        <a :href="'/product?search='+this.category.slug">{{getTitle}}</a>
                    </li>

                    <span v-for="data in firstColumn">
                        <li :class="data.isParent ? 'dropdown-header secparent' : ''" v-if="lang=='cn'">
                            <a :href="'/product?search='+data.slug" :class="!data.isParent ? 'r-arrow down' : ''" v-if="data.name_cn">
                                {{ data.name_cn }}
                            </a>
                            <a :href="'/product?search='+data.slug" :class="!data.isParent ? 'r-arrow down' : ''" v-else>
                                {{ data.name }}
                            </a>
                        </li>
                        <li :class="data.isParent ? 'dropdown-header secparent' : ''" v-else>
                            <a :href="'/product?search='+data.slug" :class="!data.isParent ? 'r-arrow down' : ''">
                                {{ data.name }}
                            </a>
                        </li>
                        <li class="divider"></li>
                    </span>
                </ul>
            </li>
            <li class="col-sm-2">
                <ul class="list-unstyled">
                    <li class="dropdown-header grandparent">&nbsp;</li>
                    <span v-for="data in secondColumn">
                        <li :class="data.isParent ? 'dropdown-header secparent' : ''" v-if="lang=='cn'">
                            <a :href="'/product?search='+data.slug" :class="!data.isParent ? 'r-arrow down' : ''" v-if="data.name_cn">
                                {{ data.name_cn }}
                            </a>
                            <a :href="'/product?search='+data.slug" :class="!data.isParent ? 'r-arrow down' : ''" v-else>
                                {{ data.name }}
                            </a>
                        </li>
                        <li :class="data.isParent ? 'dropdown-header secparent' : ''" v-else>
                            <a :href="'/product?search='+data.slug" :class="!data.isParent ? 'r-arrow down' : ''">
                                {{ data.name }}
                            </a>
                        </li>
                        <li class="divider"></li>
                    </span>
                </ul>
            </li>
            <li class="col-sm-2">
                <ul class="list-unstyled" >
                    <li class="dropdown-header grandparent">&nbsp;</li>
                    <span v-for="data in thirdColumn">
                        <li :class="data.isParent ? 'dropdown-header secparent' : ''" v-if="lang=='cn'">
                            <a :href="'/product?search='+data.slug" :class="!data.isParent ? 'r-arrow down' : ''" v-if="data.name_cn">
                                {{ data.name_cn }}
                            </a>
                            <a :href="'/product?search='+data.slug" :class="!data.isParent ? 'r-arrow down' : ''" v-else>
                                {{ data.name }}
                            </a>
                        </li>
                        <li :class="data.isParent ? 'dropdown-header secparent' : ''" v-else>
                            <a :href="'/product?search='+data.slug" :class="!data.isParent ? 'r-arrow down' : ''">
                                {{ data.name }}
                            </a>
                        </li>
                        <li class="divider"></li>
                    </span>
                </ul>
            </li>
            <li class="col-sm-2">
                <ul class="list-unstyled" >
                    <li class="dropdown-header grandparent">&nbsp;</li>
                    <span v-for="data in fourthColumn">
                        <li :class="data.isParent ? 'dropdown-header secparent' : ''" v-if="lang=='cn'">
                            <a :href="'/product?search='+data.slug" :class="!data.isParent ? 'r-arrow down' : ''" v-if="data.name_cn">
                                {{ data.name_cn }}
                            </a>
                            <a :href="'/product?search='+data.slug" :class="!data.isParent ? 'r-arrow down' : ''" v-else>
                                {{ data.name }}
                            </a>
                        </li>
                        <li :class="data.isParent ? 'dropdown-header secparent' : ''" v-else>
                            <a :href="'/product?search='+data.slug" :class="!data.isParent ? 'r-arrow down' : ''">
                                {{ data.name }}
                            </a>
                        </li>
                        <li class="divider"></li>
                    </span>
                </ul>
            </li>
        </ul>
    </li>
</template>
<script>
    export default{
        mounted(){
            $('.carousel').carousel({
                interval: 3000 //changes the speed
            });
        },

        props: ['category'],
        data(){
            return {
                image: '',
                perColumn:0,
                products:[],
                fixedCategories:[],
                hlang:[],
                clang:[],
                firstColumn:[],
                secondColumn:[],
                thirdColumn:[],
                fourthColumn:[],
            }
        },
        created() {
            function getHeaderTranslation() {
                return axios.get('/translate/header');
            }
            function getCartTranslation() {
                return axios.get('/translate/cart');
            }

            axios.all([
                getHeaderTranslation(),
                getCartTranslation()
            ]).then(axios.spread(
                (
                htranslation,
                ctranslation
                ) => {
                    
                this.hlang = htranslation.data.data;
                this.clang = ctranslation.data.data;

            }))
            .catch($.noop);

            this.products = this.category.products;
            
            for(var j=0; j < this.category.children.length; j++)
            {
                this.category.children[j].isParent = true;
                this.fixedCategories.push(this.category.children[j])
                
                this.products = this.products.concat(this.category.children[j].products);
                for(var k=0; k < this.category.children[j].children.length; k++)
                {
                    this.category.children[j].children[k].isParent = false;
                    this.fixedCategories.push(this.category.children[j].children[k]);
                    this.products = this.products.concat(this.category.children[j].children[k].products);
                }
            }

            $('.carousel').carousel({
                interval: 3000 //changes the speed
            })

            for(var i=0; i<this.fixedCategories.length; i++) {
                if(this.firstColumn.length < 6) {
                    this.firstColumn.push(this.fixedCategories[i]);
                } else if(this.secondColumn.length < 6) {
                    this.secondColumn.push(this.fixedCategories[i]);
                } else if(this.thirdColumn.length < 6) {
                    this.thirdColumn.push(this.fixedCategories[i]);
                } else if(this.fourthColumn.length < 6) {
                    this.fourthColumn.push(this.fixedCategories[i]);
                }
            }

        },

        methods:{
            addToFavorites(id,name){
                if(Laravel.isAuthenticated === true){
                    axiosAPIv1.get('/addtofavorites/' + id)
                    .then(result => {
                        if(result.data.response==1){
                            var fav = parseInt($("#fav-count").text())+1;
                            $("#fav-count").text(fav).show();
                            toastr.success(this.clang['added-favorites'], name);
                        } else if(result.data.response==2){
                            toastr.error(result.data.error_msg, this.clang['not-added-wishlist']);
                        } else {
                            toastr.info(this.clang['already-favorites'], name);
                        }                       
                    });
                
                } else{
                    toastr.error(this.clang['login-favorites']);                 
                }
            },
            hasAddedRow(isParent,minimum){
                if(isParent)
                {
                    return minimum-1;
                }else
                {
                    return minimum;
                }
            },

            maximumLastColumn(){
                if(this.fixedCategories[6].isParent)
                {

                }else
                {

                }
            }
        },

        computed:{
            getTitle(){
                if(this.lang == "cn"){
                    if(this.category.name_cn){
                        return this.category.name_cn.replace("'s Fashion","");
                    }
                    return this.category.name.replace("'s Fashion","");
                }
                return this.category.name.replace("'s Fashion","");
            },
            getParent(){
                if(this.lang == "cn"){
                    if(this.fixedCategories[6].name_cn){
                        return this.fixedCategories[6].name_cn.replace("'s Fashion","");
                    }
                    return this.fixedCategories[6].name.replace("'s Fashion","");
                }
                return this.fixedCategories[6].name.replace("'s Fashion","");
            },
            getParent2(){
                if(this.lang == "cn"){
                    if(this.fixedCategories[this.hasAddedRow(this.fixedCategories[6].isParent,13)].name_cn){
                        return this.fixedCategories[this.hasAddedRow(this.fixedCategories[6].isParent,13)].name_cn;
                    }
                    return this.fixedCategories[this.hasAddedRow(this.fixedCategories[6].isParent,13)].name;
                }
                return this.fixedCategories[this.hasAddedRow(this.fixedCategories[6].isParent,13)].name;
            },
            lang(){
                var m = $("meta[name=locale-lang]");    
                return m.attr("content");
            },

        }
    }
</script>