<template>
    <div class="form-group label-floating">
        <div class="col-md-2">
            <img :src="image" class="img-responsive">
        </div>
        <div class="col-md-8">
            <label class="control-label" for="txt-pImage">Primary Image</label>
            <input readonly="" class="form-control" id="txt-pImage" type="text">
            <input id="inputFile" multiple="" type="file" v-on:change="onFileChange">
            <p class="help-block">This is your product's primary image.</p>
        </div>
        <div class="col-md-2">
        <a href="javascript:void(0)" class="btn btn-default btn-raised" id="btn-upload-image" @click="upload">Upload</a>
        </div>
    </div>
</template>
<style scoped>
    img{
        max-height: 36px;
    }
</style>
<script>
    export default{
        data(){
            return {
                image: ''
            }
        },
        methods: {
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            upload(){
                axios.post('/api/upload',{image: this.image}).then(response => {

                });
            }
        }
    }
</script>