<template>
<li>
    <div class="row">
        <div class="col-sm-12 notif-box">
          <div class="col-sm-2">
            <img class="notif-img img-circle" v-bind:src="friend.user.avatar" alt="">
          </div><!-- End col-sm-2 -->
          <div class="col-sm-10 msg-context">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                 <div class="col-sm-6 notif-name">
                   <p>
                      {{friend.user.first_name}} {{friend.user.last_name}}
                   </p>
                 </div><!-- End col-sm-6 msg-name -->
                 <div class="col-sm-6 fr-btn-set" >
                    <div class="col-sm-6 fr-button">
                      <a href="javascript:void(0)" @click='acceptFriend(friend.user.id)' class="btn btn-raised btn-tangerine">Accept</a>
                    </div>
                    <div class="col-sm-6 fr-button">
                      <a href="javascript:void(0)" @click='rejectFriend(friend.user.id)' class="btn btn-default">Reject</a>
                    </div>
                 </div><!-- End col-sm-6 msg-time -->
                </div><!-- End row -->
              </div><!-- End col-sm-12 -->
            </div><!-- End row -->
            <div class="row">
              <div class="col-sm-12 msg-content">
                <p>
                  {{friend.date}}
                </p>
              </div><!-- End col-sm-12 -->
            </div><!-- End row -->
          </div><!-- End msg-context -->
        </div><!-- End notif-box -->
    </div><!-- End row -->
</li>
</template>

<script>
export default {
	props: ['friend'],

  methods:{
    acceptFriend(id){
      axiosAPIv1
        .post('/friend/find',{
          user_id:Laravel.user.id,
          user_id2:id
        })
        .then(response => {
          if(response.status == 200)
          {
            axiosAPIv1
              .put('/friends/'+response.data,{
                status:'Friend'
              })
              .then(data => {
                if(data.status == 200)
                {
                  for(var j=0; j<this.$root.requests.length; j++)
                  {
                    if(this.$root.requests[j].user.id == id)
                    {
                      this.$root.requests.splice(j,1);
                    }
                  }
                  toastr.success('','Friend Accepted!');
                }
              })
              .catch($.noop);
          }
        })
    },
    rejectFriend(id){
      axiosAPIv1
        .post('/friend/find',{
          user_id:Laravel.user.id,
          user_id2:id
        })
        .then(response => {
          if(response.status == 200)
          {
            axiosAPIv1
              .delete('/friends/'+response.data)
              .then(data => {
                if(data.status == 200)
                {
                  for(var j=0; j<this.$root.requests.length; j++)
                  {
                    if(this.$root.requests[j].user.id == id)
                    {
                      this.$root.requests.splice(j,1);
                    }
                  }
                  toastr.success('','Request Rejected!');
                }
              })
              .catch($.noop);
          }
        })
    }
  },

}
</script>