<template>
	<li>
	  <a :href="msg.href">
	    <div class="row">
	      <div class="col-sm-12 notif-box">
	        <div class="col-sm-2">
	          <img class="notif-img img-circle" v-bind:src="msg.img" alt="">
	        </div><!-- End col-sm-2 -->
	        <div class="col-sm-10 msg-context">
	          <div class="row">
	            <div class="col-sm-12">
	              <div class="row">
	               <div class="col-sm-6 notif-name">
	                 <p>
	                  {{msg.name}}
	                 </p>
	               </div><!-- End col-sm-10 msg-name -->
	               <div class="col-sm-6 msg-time">
	                 <p>
	                 	{{msg.time}}
	                 </p>
	               </div><!-- End col-sm-2 msg-time -->
	              </div><!-- End row -->
	            </div><!-- End col-sm-12 -->
	          </div><!-- End row -->
	          <div class="row">
	            <div class="col-sm-12 msg-content">
	              <p>
	                {{msg.message}}
	              </p>
	            </div><!-- End col-sm-12 -->
	          </div><!-- End row -->
	        </div><!-- End msg-context -->
	      </div><!-- End col-sm-12 -->
	    </div><!-- End row -->
	  </a>
	</li>
</template>

<script>
export default {
	props: ['msg'],
}
</script>