<template>
	<li>
	   	<a :href="notif.href">
	     	<div class="row">
		       	<div class="col-sm-12 notif-box">
		         	<div class="col-sm-2">
			           	<img class="notif-img img-circle" v-bind:src="notif.img" alt="">
		         	</div>
		         	<div class="col-sm-10 notif-context">
			           	<p class="notif-content"><span class="notif-name">{{notif.name}}</span>&nbsp;{{notif.context}}</p>
		         	</div>
		       	</div>
	     	</div>
	   	</a>
 	</li>
</template>

<script>
export default {
	props: ['notif'],
}
</script>