<template>
    <div class="box-product-outer" style="margin:0 auto;">
      <div class="box-product">
        <div class="img-wrapper" style="height:auto;">
          <a :href="'/product/' + item.slug">
          <img alt="Product" v-bind:src="'/shopping/images/product/'+item.id+'/primary.jpg'" class="imgthumb">
          </a>
          <div class="tags" v-if='item.sale_price'>
            <span class="label-tags"><span class="label label-danger arrowed">{{item.discount}}%</span></span>
          </div>
          <div class="option">
            <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Add to Cart" data-original-title="Add to Cart" @click="addToCart()"><i class="fa fa-shopping-cart"></i></a>
            <a href="javascript:void(0)" data-toggle="tooltip" title="Add to Compare" @click="addToCompare()"><i class="fa fa-align-left"></i></a>
            <a href="javascript:void(0)" data-toggle="tooltip" title="Add to Wishlist" class="wishlist" @click="addToFavorites()"><i class="fa fa-heart"></i></a>
          </div>
        </div>
        <h6>
          <a class="product-name" :href="'/product/' + item.slug">
            {{ namelength }}
          </a>
        </h6>
        <div class="price" style="margin-top:-5px; font-size:14px;">
          <div>
            <span v-if='item.discount && item.discount > 0'>P{{parseFloat("0"+saleprice) | currency}}</span>
            <div style="display:block;">
              <span :class="(item.discount && item.discount > 0)?'price-old':''" style="margin-left:0px;">
                P{{parseFloat("0"+price) | currency}}
              </span>
              <div v-if="item.discount == 0" style="height:20px; clear:both;"></div>
              <span v-if='item.discount && item.discount > 0' style="font-size:13px; color:#666;">-{{ item.discount }}%</span>
            </div>
          </div>
        </div>
        <div class="rating-block">
            <div class="star-ratings-sprite-xsmall"><span :style="productRating" class="star-ratings-sprite-xsmall-rating"></span></div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  props: ['item'],
  methods:{
    select(id){
       this.$parent.selectItem(id)
    },
    addToCart(){
       this.$parent.addToCart(this.item.id,this.item.name)
    },
    addToCompare(){
       this.$parent.addToCompare(this.item.id,this.item.name)
    },
    addToFavorites(){
       this.$parent.addToFavorites(this.item.id,this.item.name)
    }
  },
  computed:{
    price(){
      if(this.item.fee_included==1)
        return parseFloat(this.item.price) + parseFloat(this.item.shipping_fee) + parseFloat(this.item.charge) + parseFloat(this.item.vat);
      else
        return this.item.price;
    },
    saleprice(){
      if(this.item.fee_included==1)
        return parseFloat(this.item.sale_price) + parseFloat(this.item.shipping_fee) + parseFloat(this.item.charge) + parseFloat(this.item.vat);
      else
        return this.item.sale_price;
    },
    namelength(){
      var m = $("meta[name=locale-lang]");    
      var lang = m.attr("content");
      var prodname = this.item.name;
      if(lang == "cn"){
        if(this.item.cn_name){
          prodname = this.item.cn_name; 
        }
        else{
          prodname = this.item.name; 
        }
      }

      if (prodname.length > 38) {
        var name = prodname.substr(0, 38)+"...";
        return name;
      }
      else{
        return prodname;
      }
    },
    starRating(){
      return "width:"+Math.round((this.item.rate/this.item.count)*20)+"%";
    },
    productRating(){
      return "width:"+this.item.product_rating+"%";
    },

  }
}
</script>