<template>
<table class="lists table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>{{title}}</th>

                <th class="text-center">
                  <a :href="viewmore">
                        <span class="fa fa-arrow-right" style="margin-top: 5px;"></span>
                  </a>
                </th>
            </tr>
        </thead>
          <tbody>

  				<tr v-for="(item, index) in services" v-cloak>
    					<td>
    			    <!--  <span><a :href="'/visa/client/' + item.client_id" target="_blank" >{{(index + 1) + ".)"}} {{  item.service_date }} : {{ item.detail +" "+ item.no_days }}
                 </a><span class="label remarks" v-html="item.remarks">{{ item.remarks }}</span></span> -->

                 <span :style="isDisabled" v-if="item.remarks" >
                   <a href="#"  data-toggle="popover" data-placement="right" data-container="body"  :data-content="(item.remarks).replace(/<\/?[^>]+(>|$)/g, '')" data-trigger="hover">
                     {{(index + 1) + ".)"}} {{  item.service_date }} : {{ item.detail +" "+ item.no_days }}
                   </a>
                 </span>
                 <span :style="isDisabled" v-else>
                     {{(index + 1) + ".)"}} {{  item.service_date }} : {{ item.detail +" "+ item.no_days }}
                 </span>
    					</td>

              <td class="text-center">
                  <a :href="'/visa/client/' + item.client_id" target="_blank">
                      <i class="fa fa-list"></i>
                  </a>
              </td>
  				</tr>

          <tr v-show="services.length === 0">
              <td align="center">
                 <span>{{nodata}}</span>
              </td>
          </tr>

        </tbody>
</table>
</template>
<script>
  export default{
    props: ['columns','title', 'nodata', 'viewmore'],
    data() {
			return {
				services: [],
        ref: ""
			}
		},

		methods: {
    },
    computed:{
      isDisabled(){
        return ("");
      }
    },

    created() {
      this.services = JSON.parse(this.columns);
      this.viewmore = this.viewmore;
    },
    mounted() {
    }
  }
</script>
