<template>

<table class="lists table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th colspan="3">{{title}}</th>
            </tr>
        </thead>
          <tbody>
    				<tr v-for="(item, index) in services" v-cloak>
                <td v-for="(innerItem, innerIndex) in item" width="33.33%">
                  <span><a :href="'/visa/client/' + innerItem.client_id" target="_blank" >{{(innerItem.ctr) + ".)"}} {{innerItem.client_name}} [{{  innerItem.client_id}}]</a> : {{ innerItem.detail  }}
                  {{ (translation) ? translation['with-an-estimated-cost-of'] : 'with an estimated cost of' }} <strong>{{innerItem.estimated_cost}}</strong></span>
                  <span style="text-transform: lowercase;">{{ innerItem.status }}</span> in {{ innerItem.where_to_file }}
                  by
                  <span>
                    {{ innerItem.processor }}
                  </span>
               </td>
    				</tr>

           <tr v-show="services.length === 0">
              <td align="center">
                 <span>{{nodata}}</span>
              </td>
           </tr>
        </tbody>
</table>


</template>
<script>
  export default{
    props: ['columns','title', 'translation','nodata'],
    data() {
			return {
				services: []
			}
		},

		methods: {
        arrangeListInThreecolumn(payloadList){

            var tempChildContainer = [];
            var tempList = [];
            var ctr = 0;

            payloadList.map(function (item, index) {
                if(index % 3 == 0){
                  ctr = 0;
                    tempChildContainer = [];
                    item['ctr'] = (index + 1);
                    tempChildContainer.push(item)
                }else{
                    tempChildContainer.push(item)
                    item['ctr'] = (index + 1);
                } ctr = ctr + 1;

                if(ctr == 3 || (index + 1) === payloadList.length){
                    tempList.push(tempChildContainer)
                }

            });

            return tempList;
        }

    },
    created() {
      this.services = this.arrangeListInThreecolumn(JSON.parse(this.columns));
    },
    mounted() {
    }
  }
</script>
