
<template>
<div>
<div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                <thead>
                                <tr>

                                    <th data-toggle="true" style="width:150px;">Cut-off Start</th>
                                    <th data-hide="phone" style="width:150px;">Cut-off End</th>
                                    <th data-hide="phone">Basic Pay</th>
                                    <th data-hide="phone,tablet" >Bonus</th>
                                    <th data-hide="phone">Allowance</th>
                                    <th data-hide="phone">Absent Count</th>
                                    <th data-hide="phone">Late Count</th>
                                    <th data-hide="phone">Holiday</th>
                                    <th data-hide="phone">Deductions</th>
                                    <th data-hide="phone">Loan</th>
                                    <th data-hide="phone">Penalty</th>
                                    <th data-hide="phone">Total Pay</th>
                                    <th data-hide="phone">Total Earnings</th>
                                    <th data-hide="phone">Total Overtime Approved</th>
                                    <th class="text-right" data-sort-ignore="true">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="p in profile_list" :key="p.id">
                                         <td>{{getCutoffStart(p._date,p._month,p._year)}}</td>
                                         <td>{{getCutoffEnd(p._date,p._month,p._year)}}</td>
                                         <td>{{p._basic_pay}}</td>
                                         <td>{{p._bonus}}</td>
                                         <td>{{p._allowance}}</td>
                                         <td>{{p._absent_count}}</td>
                                         <td>{{p._late_count}}</td>
                                         <td>{{p._holiday_count}}</td>
                                         <td>{{p._total_deductions}}</td>
                                         <td>{{p._loan}}</td>
                                         <td>{{p._penalty}}</td>
                                         <td>{{p._total_pay}}</td>
                                         <td>{{p._total_earnings}}</td>
                                         <td>{{p._overtime}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a target="_blank" class="btn-success btn btn-xs" :href="'/visa/payroll/get-profile/'+profile[0].user.id+'/edit/'+p._year+'-'+p._month+'-'+p._date">View Payroll</a>
                                            </div>
                                        </td>
                                    </tr>
                                <!--
                                    <tr v-show="!this.used">
                                        <td>{{start_cut_off}}</td>
                                        <td>{{end_cut_off}}</td>
                                        <td>{{profile[0].user.payroll_settings._basic_pay}}</td>
                                        <td>{{profile[0].user.payroll_settings._bonus}}</td>
                                        <td>{{profile[0].user.payroll_settings._allowance}}</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>
                                            <div class="btn-group">
                                                <a target="_blank" class="btn-success btn btn-xs" :href="'/visa/payroll/get-profile/'+profile[0].user.id+'/new/0000-00-00'">View Payroll</a>
                                            </div>
                                        </td>
                                    </tr>     
                                -->
                                </tbody>
                             
                            </table>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>

<script>
    const resource = require('vue-resource');
    var dt = new Date();
    export default {
        props: ['user_profile','payroll_list'],
         data() {
         return {
             profile_list: JSON.parse(this.payroll_list), 
             profile: JSON.parse(this.user_profile), 
             cur_date: dt.getDate(),
             cur_month: dt.getMonth(), 
             cur_year: dt.getFullYear(), 
             start_date:0,
             end_date:0,
             start_month:0,
             end_month:0,
             list_month:['January','February','March','April','May','June','July','August','September','October','November','December'],
             start_cut_off:'',
             end_cut_off:'',
             used:false,
            
          }
         },
         methods:{
                checkPayrollExist(){
                    this.$http.get('/visa/payroll/get-payroll-count',{
                        params: {
                                    id: this.profile[0].user_id,
                            }
                    }
                        ).then(response => {
                            console.log(response.data);
                            if(response.data==0){
                                this.reCompute();
                            }else{
                                this.getCurrentPayroll();
                            }
                    })
                },
                reCompute(){
                    this.$http.post('/visa/payroll/recompute',{
                        id:this.profile[0].user_id
                    }, function (data) {
                       this.getCurrentPayroll();
                       
                                //console.log(data)
                    }).catch(function (error) {
                        
                    }).then(function () {
                        location.reload();
                    });
                },
             getCurrentPayroll(){
                 if(this.cur_date>10 && this.cur_date <= 25){
                     this.start_date=11;
                     this.end_date=25;
                     this.start_month=this.cur_month;
                     this.end_month=this.cur_month; 
                 }else{ 
                     this.start_date=26;
                     this.end_date=10;
                     this.start_month=this.cur_month-1;
                     this.end_month=this.cur_month;  
                 }
                 this.start_cut_off = this.list_month[this.start_month]+' '+this.start_date+', '+this.cur_year;
                 this.end_cut_off = this.list_month[this.end_month]+' '+this.end_date+', '+this.cur_year;
                       var dt = new Date();
                       this.$http.get('/visa/payroll/get-payroll-date',{
                            params: {
                                    id: this.profile[0].user_id,
                                    _month: (this.cur_month==dt.getMonth() && dt.getDate()>25) ? this.cur_month+1:this.cur_month,
                                    _date: this.cur_date,
                                    _year:this.cur_year
                            }
                        }).then(response => {
                            this.used = (response.data.count>0) ? true : false;
                        })
             },
             getCutoffStart(d,m,y){
                 //console.log(d);
                 var st='';
                 var x = (m-1<=0) ? 12 + (m-2): m-2; 
                 
                 if(d==10){
                    st=this.list_month[x]+' 11, '+y;
                 }else{
                    st=this.list_month[x]+' 26, '+y;
                 }
                 return st;
             },
             getCutoffEnd(d,m,y){
                  //console.log(d);
                 var x = (m-1<=0) ? 12 + (m-2): m-2; 
                
                 var yx = (m-1<=0) ? 12 + (m-1): m-1; 
                 var st='';
                 if(d==10){
                    st=this.list_month[x]+' 25, '+y;
                 }else{
                    st=this.list_month[yx]+' 10, '+y;
                 }
                return st;
             }
         },
         created(){
            // this.checkPayrollExist();
             
         }
    }
</script>
