
<template>
<div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">


            <div class="ibox-content m-b-sm border-bottom">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="department">Department</label>
                            <select name="department" id="department" class="form-control" v-model="department_id" @change="reloadUsers">
                                <option value="0" selected>All</option>
                                <option v-for="dep in department" v-bind:key="dep.id" :value="dep.id">{{dep.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">

                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                <thead>
                                <tr>

                                    <th data-toggle="true">Name</th>
                                    <th data-toggle="true" style="width:150px;">Cut-off Start</th>
                                    <th data-hide="phone" style="width:150px;">Cut-off End</th>
                                    <th data-hide="phone,tablet" >Basic Pay</th>
                                    <th data-hide="phone">Bonus</th>
                                    <th data-hide="phone">Allowance</th>
                                    <th data-hide="phone">Total</th>
                                   <th class="text-right" data-sort-ignore="true">Action</th> 

                                </tr>
                                </thead>
                                <tbody v-for="emp in employees" v-bind:key="emp.user_id">
                                <tr>
                                    <td>
                                        <a target="_blank" :href="'/visa/payroll/show-list/'+emp.user.id">{{emp.user.first_name+' '+emp.user.last_name}}</a>
                                    </td>
                                    
                                   
                                     <template v-if="emp.user.payroll_settings == null">
                                        <td>
                                            not set
                                        </td>
                                        <td>
                                            not set
                                        </td>
                                        <td>
                                            not set
                                        </td>
                                        <td>
                                            not set
                                        </td>
                                        <td>
                                            not set
                                        </td>
                                        <td>
                                            no current record
                                        </td>
                                      
                                    </template>
                                    <template v-else>
                                        <template v-if="emp.payroll">
                                            <td>{{getCutoffStart(emp.payroll._date,emp.payroll._month,emp.payroll._year)}}</td>
                                            <td>{{getCutoffEnd(emp.payroll._date,emp.payroll._month,emp.payroll._year)}}</td>
                                            <td>
                                                {{emp.payroll._basic_pay}}
                                            </td>
                                            <td>
                                                {{emp.payroll._bonus}}
                                            </td>
                                            <td>
                                                {{emp.payroll._allowance}}
                                            </td>
                                            <td >
                                                {{emp.payroll._total_earnings}}
                                            </td>
                                        </template>
                                        <template v-else> 
                                            
                                            <td>{{start_cut_off}}</td>
                                            <td>{{end_cut_off}}</td>
                                             <td>
                                                {{emp.user.payroll_settings._basic_pay}}
                                            </td>
                                            <td>
                                                {{emp.user.payroll_settings._bonus}}
                                            </td>
                                            <td>
                                                {{emp.user.payroll_settings._allowance}}
                                            </td>
                                            <td>no current record</td>
                                        </template>
                                        
                                       
                                    </template>
                                    <td class="text-right">
                                            <div class="btn-group">
                                                <a target="_blank" class="btn-success btn btn-xs" :href="'/visa/payroll/get-profile/'+emp.user.id+'/new/0000-00-00'">View Payroll</a>
                                            </div>
                                      </td>
                                    <!--
                                      <td class="text-right">
                                            <div class="btn-group">
                                                <a target="_blank" class="btn-success btn btn-xs" :href="'/visa/payroll/show-list/'+emp.user.id">Payroll</a>
                                            </div>
                                      </td>
                                      -->
                                  
                                </tr>                          
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>

<script>
    const resource = require('vue-resource');
    var dt = new Date();
    export default {
      data() {
          return {
             cur_date: dt.getDate(),
             cur_month: dt.getMonth(), 
             cur_year: dt.getFullYear(), 
             department:[],
             employees:[],
             department_id:0,
             start_cut_off:'',
             end_cut_off:'',
             start_date:0,
             end_date:0,
             start_month:0,
             end_month:0,
             list_month:['January','February','March','April','May','June','July','August','September','October','November','December'],
          }
      },
      methods:{
        getCutoffStart(d,m,y){
                 //console.log(d);
                var st='';
                var x = (m-1<=0) ? 12 + (m-2): m-2; 
                
                if(d==10){
                st=this.list_month[x]+' 11, '+y;
                }else{
                st=this.list_month[x]+' 26, '+y;
                }
                return st;
            },
        getCutoffEnd(d,m,y){
            //console.log(d);
            var x = (m-1<=0) ? 12 + (m-2): m-2; 
        
            var yx = (m-1<=0) ? 12 + (m-1): m-1; 
            var st='';
            if(d==10){
            st=this.list_month[x]+' 25, '+y;
            }else{
            st=this.list_month[yx]+' 10, '+y;
            }
           return st;
          },
          getCurrentPayroll(){
                if(this.cur_date>10 && this.cur_date <= 25){
                     this.start_date=26;
                     this.end_date=10;
                     this.start_month=this.cur_month-1;
                     this.end_month=this.cur_month;  
                 }else{ 
                     if(this.cur_date>25){
                         this.start_month=this.cur_month;
                         this.end_month=this.cur_month; 
                     }else{
                         this.start_month=this.cur_month-1;
                         this.end_month=this.cur_month-1; 
                     }
                     this.start_date=11;
                     this.end_date=25;
                     
                 }
                 this.start_cut_off = this.list_month[this.start_month]+' '+this.start_date+', '+this.cur_year;
                 this.end_cut_off = this.list_month[this.end_month]+' '+this.end_date+', '+this.cur_year; 
             },
          getDepartment(){
            this.$http.get('/visa/payroll/get-department').then(response => {
                this.department = response.data;
            })
          },
          getEmployees(){
            this.$http.get('/visa/payroll/get-employees/'+ this.department_id).then(response => {
                this.employees = response.data;
                //console.log(this.employees);
            })
          },
          reloadUsers(){
              this.getEmployees();
          }
          
      },
      created(){
        this.getCurrentPayroll();
        this.getDepartment();
        this.reloadUsers();
      }
      
    }
</script>
