#write-report {

	.ibox-content {
		height: 700px;

	    i.cursor {
	    	cursor: pointer;
		}


		.table-responsive {
			max-height: 450px;
			overflow-y: auto;
			
			#clientlist {
				.clickable {
					.cursor {
						color: #45afec
					}

					.leader {
					    color: #f71b02;
		    			font-size: 10px;
		                font-weight: bold;
					}
				}

				.strikethrough {
					text-decoration: line-through;

					td {
						text-decoration: line-through;
					}
				}
			}	
		}

		.services-tbl {
			thead tr td {
				color: #3c8dbc;
				font-size: 10px;
				font-weight: bold;
			}
			tbody tr td {
				font-size: 10px;
			}

			tbody tr .process {
				cursor: pointer;
			    color: #009dcd;
			    text-decoration: underline;
			}

			.fa-exclamation-circle {
				color: #ea0909;
				font-size: 12px;
			}

			.fa-commenting {
			    color: #17E355;
			    font-size: 12px;				
			}

			.fa-check-circle {
				color: #1cadd6;
				font-size: 12px;
			}

		}			
		


	}

	.ios-scroll {
	  height: auto;
	  max-height: 500px;
	  margin: 20px auto;
	  padding-right:20px;
	  overflow:auto;
	}
	div.ios-scroll::-webkit-scrollbar {
	  width: 8px;
	}
	/* Track */
	div.ios-scroll::-webkit-scrollbar-track {
	  -webkit-border-radius: 10px;
	  border-radius: 10px;
	}
	/* Handle */
	div.ios-scroll::-webkit-scrollbar-thumb {
	  opacity:0.1;
	  -webkit-border-radius: 10px;
	  border-radius: 10px;
	  background: rgba(0,0,0,0.5); 
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}

}