<template>
	<table id="doc-list" class="table table-striped table-bordered table-hover dataTables"></table>
</template>
<script>
	export default {
		props: ['tableData'],
	    data() {
	      return {
	        headers: [
	          { title: 'Define' },
	          { title: 'Your', class: 'some-special-class' },
	          { title: 'Column Names' },
	          { title: 'Here' }
	        ],
	        rows: [] ,
	        dtHandle: null
	      }
	    },
	}
</script>