<template>
	<div class="row" 
		data-toggle='tooltip' 
		data-placement='left'
		:title='"Uploaded: "+doc.created_at'
	>
		<div class="col-md-7">{{doc.type.toUpperCase()}}</div>
		<div class="col-md-5">
			<a 
				@click='downloadDoc(doc.name)' 
				:href="'/images/documents/'+user+'/'+doc.name" 
				:download="$parent.last_name+$parent.first_name+'_'+doc.name"  
				class='btn btn-default fa fa-download'
			></a>
			<a 
				:href="'/images/documents/'+user+'/'+doc.name" 
				:title="doc.type" 
				data-gallery="" 
				class='btn btn-default fa fa-eye'
			></a>

		</div>
	</div>
</template>

<script type="text/javascript">
	export default{
		props: ['doc','user'],
		
		methods:{
			downloadDoc(file){
				axiosAPIv1
					.post('/doclog',{
						 user_id		:this.user
						,processor_id	:Laravel.user.id
						,doc_id			:this.doc.id
					})
					.then(response => {
						if(response.status == 201)
						{
							//insert to parent's doc logs variable
							this.$parent.document_logs.unshift(response.data.data);
						}
					})
			},
		},

		mounted(){
			$('[data-toggle="tooltip"]').tooltip();
		}
	}
</script>