<template>
	<tr>
		<td>{{docs.id}}</td>
		<td>{{docs.uploader.first_name}}&nbsp;{{docs.uploader.last_name}}</td>
		<td>{{docs.type}}</td>
		<td>
			<span class="label">{{docs.status}}</span>
		</td>
		<td>{{docs.created_at}}</td>
		<td>{{docs.expires_at}}</td>
		<td>{{docs.reason}}</td>
		<td style="text-align:center;">
			<a href="#" class="btn btn-success btn-outline btn-sm" @click="viewModal(docs.id)"><i class="fa fa-eye"></i></a>
            <a href="javascript:void(0)" :id="'ver'+docs.id" class="btn btn-warning btn-outline btn-sm verify" data-placement="bottom" v-if="docs.status == 'Pending'" @click="updateStatus(docs.id)"><i class="fa fa-thumbs-up"></i></a>
            <a href="javascript:void(0)" :id="'den'+docs.id" class="btn btn-danger btn-outline btn-sm deny" data-placement="bottom" v-if="docs.status == 'Pending'" @click="updateStatus(docs.id)"><i class="fa fa-thumbs-down"></i></a>
		</td>
	</tr>
</template>

<script>
	export default{
		props: ['docs'],
		methods:{
			viewModal(id){
				$('#viewImg').attr('src', '');
				axios.get('documents/get-details/'+id)
				.then(result =>{
					this.$parent.selected = result.data;
					$('#viewDocument').modal('toggle');
				});
				
			},
			updateStatus(id){
				this.$parent.activeId = id;				
			},

		},
		mounted() {
			$(".verify")
		        .popover({
		        	html:true,
		        	content: function () {
		        		// setTimeout(function () {
		        		// 	$(this.nextSibling).find('input').datepicker();
		        		// }.bind(this), 1);
		        		return $('#frmValidUntil').html();
		        	},
		       	});

		    $(".deny")
		        .popover({
		        	html:true,
		        	content: $('#frmReason').html(),
		       	});
		},


	}
</script>