@charset 'UTF-8';
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';


.modal{

	.modal-content {
		border-radius: 2px !important;
		border:0px !important;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);

		margin-top: 80px;

	}

	.modal-header,.modal-footer {
		border:0px !important;
	}


	.modal-title
	,h1
	,h2
	,h3
	,h4
	,h5
	,h6
	,h7{
		color: $wyc-default-teal;
	}



}


.modal-backdrop {
   background-color: transparent !important;
   /*background-color: $light-grey !important;*/
}