<template>
	<div class="col-sm-12">
	    <div class='card product-card'>
			<div class="col-lg-12 product-set">
				<div class="col-lg-3 product-img-set">
					<img  class="product-img" :src="details.product.main_image">
				</div>
				<div class="col-lg-9 productDetails">
					<div class="col-sm-12">
						<a :href="'/product/'+details.product.slug">
							<p class="productName">{{details.product.name}}</p>
						</a>
						<p>By <span class="storeName"><a :href="'/stores/'+details.product.store.slug">{{details.product.store.name}}</a></span></p>
						
						<p class="sku">{{details.product.sku}}<span class="label label-success" v-if="details.status === 'Shipped'">{{details.status}}</span>
						<span class="label label-default" v-if="details.status === 'Cancelled'">{{details.status}}</span>
						<span class="label label-warning" v-if="details.status === 'Pending'">{{details.status}}</span>
						<span class="label label-primary" v-if="details.status === 'Delivered'">{{details.status}}</span></p>
					</div>				
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-7">
								<div class="row">
									<div class="col-sm-6">Price:</div>
									<div class="col-sm-6">&#8369; {{details.price_per_item}}</div>
								</div>
								<div class="row">
									<div class="col-sm-6">You Save:</div>
									<div class="col-sm-6">&#8369; {{savedAmount}}&nbsp;(<span>{{discountPercentage}}</span>% Off)</div>
								</div>
								<div class="row">
									<div class="col-sm-6">Now:</div>
									<div class="col-sm-6">&#8369; {{discountedPrice}}</div>
								</div>									
							</div>
							<div class="col-sm-5">
								<h5 class="title qualification">QUALIFICATIONS</h5>
								<p v-if="details.product.boxContent != null || details.product.boxContent !=''">What's in the box: <span>{{details.product.boxContent}}</span></p>
								<p v-if="details.product.brand != null || details.product.brand !=''">Brand: <span>{{details.product.brand}}</span></p>
    							<p v-if="details.product.variants != null || details.product.variants !=''">Variant: <span>{{details.variants}}</span></p>
    							<p v-if="details.product.weight != null || details.product.weight !=''">Weight: <span>{{details.product.weight}}</span></p>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="row">
							<h4 class="title delivery-title">DELIVERY INFORMATION</h4>
							<div class="row ">
								<div class="col-sm-12">
									<p>for {{details.product.shipment_type}}</p>
<!-- 									<p v-if="details.discount != 0">Pick Up Location:&nbsp;<span>{{details.pickup_location}}</span></p>
 -->								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
   </div>
</template>

<script>
	export default{
		props:['details'],
		computed:{
			total(){
				var discountedPrice = (this.details.price_per_item - this.details.discount);
				return (this.details.quantity * discountedPrice)
			},
			discountedPrice(){
				return (this.details.price_per_item - this.details.discount)
			},
			discountPercentage(){
				var discountedPrice = (this.details.price_per_item - this.details.discount);
				return (Math.floor((this.details.price_per_item/discountedPrice) * 10))
			},
			savedAmount(){
				var discountedPrice = (this.details.quantity * (this.details.price_per_item - this.details.discount));
				var originalTotal = (this.details.quantity * this.details.price_per_item);
				return(originalTotal - discountedPrice);
			}
		}
	}
</script>