<template>
	<tr>
		<td class="report-header">{{order.tracking_number}}</td>
		<td class="report-header hidden-xs">{{namelength}}</td>
		<td class="report-header hidden-xs">{{order.created_at}}</td>
		<td class="report-header hidden-xs">&#8369;{{order.subtotal}}</td>
		<td class="report-header" v-if="order.status == 'Pending'">{{this.$parent.lang.data['pending']}}</td>
		<td class="report-header" v-if="order.status == 'Received'">{{this.$parent.lang.data['received']}}</td>
		<td class="report-header" v-if="order.status == 'Delivered'">{{this.$parent.lang.data['delivered']}}</td>
		<td class="report-header" v-if="order.status == 'Cancelled'">{{this.$parent.lang.data['cancelled']}}</td>
		<td class="report-header" v-if="order.status == 'Returned'">{{this.$parent.lang.data['returned']}}</td>
		<td class="report-header custom-rec" v-if="order.status == 'In Transit'">

			<div v-if="(order.status != 'Received') && (order.status != 'Delivered')" class="btn-group">
              	<button type="button" class="btn btn-primary btn-raised btn-sm">{{this.$parent.lang.data['in-transit']}}</button>
              	<button type="button" class="btn btn-primary btn-raised btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            	    <span class="caret"></span>
            	    <span class="sr-only">Toggle Dropdown</span>
              	</button>
              	<ul class="dropdown-menu">
	                <li>
	                	<a @click="markAsReceived" href="javascript:void(0)">{{this.$parent.lang.data['i-receive']}}</a>
	                </li>
	                <li>
	                	<a @click="markAsReturned" href="javascript:void(0)">{{this.$parent.lang.data['i-return']}}</a>
	                </li>
              	</ul>
            </div>
		</td>
		<td>
			<a @click="viewProds(order.id)" style="cursor:pointer;">
				<span class="hidden-xs hidden-sm">{{this.$parent.lang.data['see-more']}}</span>
				<span class="hidden-lg hidden-md" data-toggle="tooltip" data-placement="left" title="" data-original-title="See More"><i class="fa fa-eye" aria-hidden="true"></i></span>
			</a>
		</td>
		<td>
			<a @click="viewAirwayBill(order.id)" style="cursor:pointer;" v-if="(order.status == 'Received') || (order.status == 'Delivered')">
				<span class="hidden-xs hidden-sm">{{this.$parent.lang.data['airway-bill']}}</span>
				<span class="hidden-lg hidden-md" data-toggle="tooltip" data-placement="left" title="" data-original-title="Airway Bill"><i class="fa fa-file-text" aria-hidden="true"></i></span>
			</a>
		</td>
	</tr>
</template>

<script>
	export default{
		props:['order'],

		data() {
			return {
				options: [
					'I received the item',
					'I want to return this item',
				]
			};
		},

		methods:{
			viewProds(id){
		        this.$parent.showDetails(id);
		    },
			viewAirwayBill(id){
		        this.$parent.showAirwayBill(id);
		    },
		    received(id){
		    	if ($('#chck_'+id).is(":checked")) {
				      axios.post('purchase-report/update-receive/'+id)
			          .then(result => {
			            toastr.success(this.$parent.lang.data['mark-received-msg']);
				      })
				      .catch(error => {
				          toastr.error(this.$parent.lang.data['update-failed-msg']);
				      });
			    }
			   	this.$parent.getOrders();
		    },

		    markAsReceived() {
		    	var areyousure = this.$parent.lang.data['you-sure-msg'];
		    	swal({
					title: areyousure,
					html: this.$parent.lang.data['mark-receive-msg-1']+'<a href="/faq" target="_blank"> '+this.$parent.lang.data['mark-receive-msg-2']+'</a>.',
					type: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: this.$parent.lang.data['yes']
		    	}).then(() => {
					axios.post('purchase-report/update-receive/' + this.order.id)
						.then(result => {
							swal(this.$parent.lang.data['received'], this.$parent.lang.data['mark-received-msg'], 'success');

							this.$parent.getOrders();
						})
						.catch(error => {
							toastr.error(this.$parent.lang.data['update-failed-msg']);
						});
		    	});
		    },

		    markAsReturned() {
		    	Event.fire('order.mark-as-returned', this.order);
		    }
		},
		computed:{
		    namelength(){
		      var name = this.order.product.cn_name ? this.order.product.cn_name: this.order.product.name;
		      if (this.order.product.name.length > 45) {
		        if(this.$parent.langmode=="cn"){
		            return name.substr(0, 45)+"...";  
		        }
		        return this.order.product.name.substr(0, 45)+"...";
		      }
		      else{
		        if(this.$parent.langmode=="cn"){
		            return name;  
		        }
		        return this.order.product.name;
		      }
		    },

		  }
	}
</script>