<template>
    <div class="box-product-outer">
      <div class="box-product">
        <div class="img-wrapper">
          <a :href="'/product/' + item.product.slug">
            <img alt="Product" :src="item.image">
          </a>
          <div class="tags" v-if='item.product.sale_price'>
            <span class="label-tags"><span class="label label-danger arrowed">{{item.discount}}%</span></span>
          </div>
        </div>
        <h6><a :href="'/product/' + item.product.slug">{{ namelength }}</a></h6>
        <div class="price">
          <div>
            <span v-if='item.product.sale_price'>{{parseFloat("0"+saleprice) | currency}}</span> 
            <span :class="item.product.sale_price?'price-old':''">{{parseFloat("0"+price) | currency}}</span>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  props: ['item'],
  methods:{
    select(id){
       this.$parent.selectItem(id)
    }
  },
  computed:{
    price(){
      if(this.item.product.fee_included==1)
        return parseFloat(this.item.product.price) + parseFloat(this.item.product.shipping_fee) + parseFloat(this.item.product.charge) + parseFloat(this.item.product.vat);
      else
        return this.item.product.price;
    },
    saleprice(){
      if(this.item.product.fee_included==1)
        return parseFloat(this.item.product.sale_price) + parseFloat(this.item.product.shipping_fee) + parseFloat(this.item.product.charge) + parseFloat(this.item.product.vat);
      else
        return this.item.product.sale_price;
    },
    namelength(){
      var name = this.item.product.cn_name ? this.item.product.cn_name: this.item.product.name;
      if (this.item.product.name.length > 45) {
        if(this.$parent.langmode=="cn"){
            return name.substr(0, 45)+"...";  
        }
        return this.item.product.name.substr(0, 45)+"...";
      }
      else{
        if(this.$parent.langmode=="cn"){
            return name;  
        }
        return this.item.product.name;
      }
    },

  }
}
</script>