#app {

	.spacer-10 {
		clear: both;
		height: 10px;
	}

	.m-top-0 {
		margin-top: 0px;
	}

	.m-left-60 {
		margin-left: 60px;
	}

	.badge-leader {
		padding: 7px;

		span.badge-leader-text {
			display: inline-block;
		    margin-top: 4px;
		    margin-right: 10px;
		}
	}

}