#app {

	i.cursor {
		cursor: pointer;
	}

	.spacer-1 {
		height: 1px;
		clear: both;
	}

	.spacer-10 {
		height: 10px;
		clear: both;
	}

	.strikethrough {
		text-decoration: line-through;

		td {
			text-decoration: line-through;
		}
	}

	.badge-client {
		padding: 7px;

		span.badge-client-text {
			display: inline-block;
		    margin-top: 4px;
		    margin-right: 10px;
		}
	}

	.btn-link-primary {
		color: #1ab394;
	}

	#timeline {
	  list-style: none;
	  position: relative;
	}

	#timeline:before {
	  top: 0;
	  bottom: 0;
	  position: absolute;
	  content: " ";
	  width: 2px;
	  background-color: #1ab394;
	  left: 0;
	  margin-left: -1.5px;
	}

	#timeline .clearFix {
	  clear: both;
	  height: 0;
	}

	#timeline .timeline-badge {
	  color: #fff;
	  width: 50px;
	  height: 50px;
	  font-size: 19px;
	  text-align: center;
	  position: absolute;
	  top: 20px;
	  left: 0px;
	  margin-left: -10px;
	  background-color: #1ab394;
	  z-index: 100;
	  border-top-right-radius: 50%;
	  border-top-left-radius: 50%;
	  border-bottom-right-radius: 50%;
	  border-bottom-left-radius: 50%;
	}

	#timeline .timeline-badge span.timeline-balloon-date-day {
	  font-size: 1.2em;
	}

	#timeline .timeline-badge span.timeline-balloon-date-month {
	  font-size: .9em;
	  position: relative;
	  top: -10px;
	}

	#timeline .timeline-badge.timeline-filter-movement {
	  background-color: #ffffff;
	  font-size: 1.7em;
	  height: 35px;
	  margin-left: -18px;
	  width: 35px;
	  top: 40px;
	}

	#timeline .timeline-badge.timeline-filter-movement a span {
	  color: #f16f14;
	  font-size: 1em;
	  top: -1px;
	  margin-left: 7px;
	  background-color: #FFF;
	}

	#timeline .timeline-badge.timeline-future-movement {
	  background-color: #ffffff;
	  height: 35px;
	  width: 35px;
	  font-size: 1.7em;
	  top: -16px;
	  margin-left: -18px;
	}

	#timeline .timeline-badge.timeline-future-movement a span {
	  color: #1ab394;
	  font-size: .9em;
	  top: 2px;
	  left: 1px;
	}

	#timeline .timeline-movement {
	  border-top: dashed 1px #1ab394;
	  position: relative;
	}

	#timeline .no-dashed {
	  border: none !important;
	}

	#timeline .timeline-movement.timeline-movement-top {
	  height: 60px;
	}

	#timeline .timeline-movement .timeline-item {
	  padding: 20px 0;
	}

	#timeline .timeline-movement .timeline-item .timeline-panel {
	  border: 1px solid #d4d4d4;
	  border-radius: 3px;
	  background-color: #FFFFFF;
	  color: #666;
	  padding: 10px;
	  position: relative;
	  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	}

	#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
	  list-style: none;
	  padding: 0;
	  margin: 0;
	}

	#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
	  text-align: right;
	}

	#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
	  color: #666;
	}

	#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
	  color: #f16f14;
	  font-size: 14px;
	}

	#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
	  text-align: left;
	}

	#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
	  color: #f16f14;
	  font-size: 14px;
	}

	#edit-service-modal textarea {
		resize: none;
	}

	.ios-scroll {
		height: auto;
	  	max-height: 500px;
	  	margin: 20px auto;
	  	padding-right:20px;
	  	overflow:auto;
	}
	div.ios-scroll::-webkit-scrollbar {
		width: 8px;
	}
	/* Track */
	div.ios-scroll::-webkit-scrollbar-track {
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	/* Handle */
	div.ios-scroll::-webkit-scrollbar-thumb {
		opacity:0.1;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: rgba(0,0,0,0.5); 
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}

}
.clients_select input {
	width: 100% !important;
}
.agents_select input {
	width: 100% !important;
}
.search-field{
	width: 100% !important;
}
.close2 {
  position: absolute;
  width: 8px;
  height: 8px;
	opacity: 0.3;
}
.close2:hover {
  opacity: 1;
}
.close2:before, .close2:after {
  position: absolute;
  content: ' ';
  height: 15px;
  width: 5px;
	background-color: red;
}
.close2:before {
  transform: rotate(45deg);
}
.close2:after {
  transform: rotate(-45deg);
}
.com-select{
	margin-top:7px;
	font-size: 15px;
}
.mr-top{
	margin-top:7px !important;
	font-size: 14px !important;
}
