#manager {

	.ibox-content {

	    i.cursor {
	    	cursor: pointer;
		}


		.table-responsive {
			max-height: 450px;
			overflow-y: auto;
			
			#clientlist {
				.clickable {
					.cursor {
						color: #45afec
					}

					.leader {
					    color: #f71b02;
		    			font-size: 10px;
		                font-weight: bold;
					}
				}

				.strikethrough {
					text-decoration: line-through;

					td {
						text-decoration: line-through;
					}
				}
			}	
		}

		.services-tbl {
			thead tr td {
				color: #3c8dbc;
				font-size: 10px;
				font-weight: bold;
			}
			tbody tr td {
				font-size: 10px;
			}

			tbody tr .process {
				cursor: pointer;
			    color: #009dcd;
			    text-decoration: underline;
			}

			.fa-exclamation-circle {
				color: #ea0909;
				font-size: 12px;
			}

			.fa-commenting {
			    color: #17E355;
			    font-size: 12px;				
			}

			.fa-check-circle {
				color: #1cadd6;
				font-size: 12px;
			}

		}


		#docsContainer{
			ul{
				list-style-type: none;
			}

			.title-docs{
			    margin-left: 40px;
			    margin-bottom: 14px;
			    font-weight: bold;
    			font-size: 22px;
			}
		}

		.btn-generate{
		    margin-left: 35px;
		}

	}

}