<template>
<input type="file" @change="onFileChange" :name="name" :required="required" accept="image/*">
</template>

<script>
export default {
    data() {
        return {
            name: 'imgfileupload',
            required: false,
            event: 'onLoad',
            loadingEvent: 'loading',
            url: null
        }
    },

    methods: {
        onFileChange(e) {
            var files = e.target.files || e.dataTransfer.files;

            if (! files.length) return;

            this.createImage(files[0]);
        },

        createImage(file) {
            var vm = this,
                image = new Image(),
                reader = new FileReader();

            reader.onload = (e) => {
                this.progress = e.total/100000;
                this.$parent.inc = this.progress;
                if (vm.url) {
                    Event.fire('Imgfileupload.' + vm.loadingEvent);
                    this.$parent.progress = 0;
                    return axios.post(vm.url, {image: e.target.result})
                        .then(result => {
                            Event.fire('Imgfileupload.' + vm.event, result.data);
                        });
                }

                Event.fire('Imgfileupload.' + vm.event, e.target.result);
            };

            reader.readAsDataURL(file);

        },
    },

    mounted() {
        $.extend(this.$data, this.$el.dataset);
    }
}
</script>