<template id="progress-bar">
  <div class="progress" style="height: 36px; width: 113.2px; border-radius: 1px;" v-show="loading">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width:20%" :style="{width: getProgress}">
      <span v-if="progress < 100 && showProgressText">
      {{getProgress}}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: true
    },
    progress: {
      default: 0,
      type: Number
    },
    showProgressText: {
      default: true,
      type: Boolean
    },
    progressCompleteText: {
      default: 'Complete!',
      type: String
    }
  },
  computed: {
    getProgress() {
      return Math.round(this.progress) + "%";
    }
  },
  watch: {
    progress(progress) {
      this.currentProgress = progress;
    }
  },
  data() {
    return {
      currentProgress: 0
    }
  }
}
</script>