// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: $wyc-default-teal;
    text-align:center;

    .footer-copyright{
      color: #fff !important;
      padding-top:10px;
      font-size: 12px;
      span{
        color: $icon-color;
      }
    }

    .footer-social-media{
      padding-top:5px;
      a{
        color: #fff;
        margin: 0 5px;
        font-size: 20px;

        &:hover{
          color: $icon-color;
        }
      }
    }

    .footer-links{
      color: #fff !important;
      padding-top:10px;
      margin-bottom: 10px;
      a{
        margin: 0 5px;
        font-size: 12px;
        color: $icon-color;
       }
    }
}

/********************************/
/*        Mobile Version        */
/********************************/
.wataf-mobile{
  .wataf-mobile-footer{
    .list-inline{
      text-align: center;
      li {
        .btn{
          padding: 2px 9px;
          .notif-icon{
            padding: 3px;
            font-size: large;
            color: #fefefe !important;
          }
        }
      }
    }
  }
}