// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';

/* Top Header */
.th_dropDown {
  display: block;
  padding: 10x 7px
}

.th_activeHover{
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: $wyc-default-powder;
  background-color: $wyc-default-powder;
}

.top-header{
    background-color: $wyc-default-teal;
    height:40px;
    .btn{
        margin:2px 1px;
    }
    .container{
        background-color: $wyc-default-teal !important;
        .cart-btn {
        margin-top:1px;
        button {
          float: right;
          color: #fefefe !important;
          border-color: #d7d7d7;
          border-radius: 0;
          /*background-color: #f3f3f3;*/
          margin:0px 1px;
          padding: 10px 2px;

          &:hover{
            border-color: $wyc-default-teal;
          }
        }

        &:hover {
          color: #666;
        }

        &:active {
          outline: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
        }

        .dropdown-menu {
          right: 15px;
          padding: 10px;
        }

        .cart {
          overflow-y: auto;
          max-height: 200px;
        }

        .media {
          margin-top: 10px;

          &:first-child {
            margin-top: 0;
          }

          .media-body{
            a {
              font-size: 12px;
              display: block;
              margin-bottom: 0;
              color: #233231;
              font-weight: bold;
              span {
                font-size: 12px;
                display: block;
                color: #233231;
                font-weight: bold;
              }
            }
            div{
              font-size: 12px;
              color: #6394F8;;
            }
          }

          .media-right{
            a {
              color: #aaa;

              &:hover {
                color: #ef5350;
              }
            }
          }
        }

        .subtotal-cart {
            margin: 10px 0;
            padding: 10px 0;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;

            span {
              font-size: 13px;
              color: #ef5350;
            }
        }

        .open{
          button {
            color: #666 !important;
            background-color: #e7e7e7 !important;
            border-color: $wyc-default-teal !important;
          }
        }

        .group-cart{
          button {
            color: #d4fdff !important;
            background-color: $wyc-default-powder !important;
            border-color: $wyc-default-teal !important;
            font-weight:  500;
            padding:10px 30px;
          }
        }
    }
    }

    .list-inline{
        margin-bottom: 0;

        li{
            float: left;
            margin: 0;
            padding: 0;

            .counter{
                position: absolute !important;
                top: 0 !important;
                right: 4px;
                font-size: 9px;
                background-color: $wyc-default-orange;
                height: auto !important;
                border-radius:100%;
            }
            .dropdown-toggle {
                border-radius: 0;
                background-color: transparent;
                height: initial;
                color: #fff;
                border-color: $wyc-default-teal;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
                @extend .th_dropDown;
                &:focus{
                    outline: none !important;
                }
                &:hover{
                    @extend .th_activeHover;
                }
                &:active{
                    @extend .th_activeHover;
                }

                img{
                    margin-bottom: 2px;
                }

                .notif-icon{
                  padding: 3px;
                  font-size: 20px;
                }
            }

            a.iconic-btn{
              font-size: 19px;
            }

            a{
                color: #fff;
                border-color: $wyc-default-teal;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
                margin:2px 1px;
                padding:6px 8px;
                @extend .th_dropDown;
                &:hover{
                    @extend .th_activeHover;
                }
                &:active{
                    @extend .th_activeHover;
                }
            }

            &.dropdown-open, &.bootstrap-select.open{
                .drop-down-toggle{
                      text-decoration: none;
                      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
                      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
                      color: #efefef;
                      border-color: #00796b;
                      background-color: #00796b;
                }
            }

            .profile-dropdown-menu{
              &.notification{
                  min-width:450px;
                  max-width: 450px;
                  width: 450px;
                  padding: 5px 10px !important;
                  li{
                    a{
                      padding: 0 !important;
                    }
                  }
                  .notif-label{
                    font-weight: bold;
                    color: $wyc-default-teal;
                  }
                  .notif-body{
                    padding:5px;
                    li{
                      border-bottom: 1px dotted $wyc-default-teal;
                      padding-top: 7px;
                      .notif-box{
                        margin-bottom: 5px;
                        .notif-img{
                          width:100%
                        }
                        .notif-name{
                          font-weight: bold;
                          color:$wyc-default-orange;
                          p{
                            text-overflow: ellipsis;
                            overflow:hidden;
                          }
                        }
                        .notif-context{
                          padding-left: 0 !important;
                          font-size: 12px;
                          padding-top: 10px;
                        }

                        .msg-context{
                          padding-left: 0 !important;
                          font-size: 12px;
                          .msg-time{
                            text-align: right;
                          }
                          .msg-content{
                            color: $mid-grey;
                            margin:0 !important;
                            p{
                              text-overflow: ellipsis;
                              overflow:hidden;
                            }
                          }

                        }
                        .fr-btn-set{
                          padding: 0 !important;
                          .fr-button{
                            padding: 0 2px !important;
                          }
                        }
                      }
                    }

                  }
                  .notif-footer{
                    text-align: center;
                  }
              }
            }

            .dropdown-menu-login {
              line-height: 1.4;
              min-width: 230px;
              padding: 10px;
              background-color: #f1f0f3;
              button {
                border-radius: 0;
                background-color: $wyc-default-powder;
                color:#fff;
                font-weight:bold;
              }
              label{
                span{
                  font-size:10px;
                }
              }
            }
        }
    }

}

/* Middle Header */
.middle-header {
    background-color: #f9f9f9;
    border-bottom: 2px solid $wyc-default-powder;
    position: relative;
    z-index: 4;

    .container{
        background-color: #f9f9f9 !important;

        .row{
            padding: 15px 0;
        }
    }
    @media screen and (max-width: $pc-medium) {
    .logo{
      text-align: center;
      img {
        display: inherit;
      }
    }
    }

    .search-box {
        margin-top:10px;

        input[type="text"] {
            &:active{
            z-index: 4;
            }
        }

        .bootstrap-select {
            z-index: 3;

            &.dropdown-toggle, &.bootstrap-menu{
            margin-left: -1px;
            }
        }
    }

    .btn-search {
      z-index: 3 !important;
      color: #fff;
      border-color: transparent;
      background-color: $wyc-default-teal;

      &:focus, &:active{
        color: #fff;
        border-color: transparent;
        outline: 0;
        background-color: $wyc-default-powder;
      }
      @media screen and (max-width: $pc-small) {
        width: 100px;
        float: none;
      }
    }
}

/* Bottom Header */
.shadow-navbar {
  position: relative;
  z-index: 3;
  margin-bottom: 0;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color:#fff !important;
  color:#222222 !important;

    .cart-btn {
        margin-top:1px;
        button {
          float: right;
          color: #2a4245;
          border-color: #d7d7d7;
          border-radius: 0;
          /*background-color: #f3f3f3;*/
          margin:0px 1px;

          &:hover{
            border-color: $wyc-default-teal;
          }
        }

        &:hover {
          color: #666;
        }

        &:active {
          outline: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
        }

        .dropdown-menu {
          right: 15px;
          padding: 10px;
        }

        .cart {
          overflow-y: auto;
          max-height: 200px;
        }

        .media {
          margin-top: 10px;

          &:first-child {
            margin-top: 0;
          }

          .media-body{
            a {
              font-size: 12px;
              display: block;
              margin-bottom: 0;
              color: #233231;
              font-weight: bold;
            }
            div{
              font-size: 12px;
              color: #6394F8;;
            }
          }

          .media-right{
            a {
              color: #aaa;

              &:hover {
                color: #ef5350;
              }
            }
          }
        }

        .subtotal-cart {
            margin: 10px 0;
            padding: 10px 0;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;

            span {
              font-size: 13px;
              color: #ef5350;
            }
        }

        .open{
          button {
            color: #666 !important;
            background-color: #e7e7e7 !important;
            border-color: $wyc-default-teal !important;
          }
        }

        .group-cart{
          button {
            color: #d4fdff !important;
            background-color: $wyc-default-powder !important;
            border-color: $wyc-default-teal !important;
            font-weight:  500;
          }
        }
    }
}

.navbar-common{
  color: #fff ;
  background-color: $wyc-default-orange;
}

.navbar {
  min-height: 40px;
  border: 0;

  .navbar-nav{

    li{
      .down{
        font-size: 14px !important;
      }
      a{
        padding-top: 10px;
        padding-bottom: 10px;

        &:hover, &:focus{
           @extend .navbar-common;
        }
      }
    }

    .active{
      a{
        @extend .navbar-common;

        &:hover, &:focus{
           @extend .navbar-common;
        }
      }
    }
    .open{
      a{
        @extend .navbar-common;
        &:hover, &:focus{
             @extend .navbar-common;
        }
      }
    }
  }

  .navbar-toggle {
    float: left;
    margin-right: 0;
    margin-left: 15px;
    padding: 5px 7px;
    border-radius: 0;
    background-color: #f3f3f3;
  }

  .btn-cart-xs {
    font-size: 13px;
    margin-top: 3px;
    margin-right: 15px;
    padding: 8px 25px;
    color: #666;
    background-color: #f3f3f3;
  }

  .mega-menu {
    position: static !important;

    .dropdown-menu {
      width: 100%;
      height: 360px;
    }

    .mega-menu-content {
      padding: 20px 30px 5px;
    }

    .list-unstyled {
      margin-bottom: 15px;
      .r-arrow{
        display: block;
        padding: 3px 20px !important;
        background-color:transparent;
        color:#5a5a5a !important;
        &:hover{
          text-decoration: none;
          color: #262626;
          background-color: #eee;
        }
        &:before{
          font-family: 'fontAwesome';
          margin-right: 5px;
          content: '\f0da';
        }
      }
    }
  }



.mega-dropdown-menu {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  padding: 20px 30px 5px;
  margin-top:5px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #444 !important;

  li{
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        a{
          display: block;
          padding: 3px 20px !important;
          clear: both;
          font-weight: normal;
          line-height: 1.428571429;
          color: #999;
          white-space: normal;

          &:hover, &:focus{
            text-decoration: none;
            color: #444 !important;
            background-color: #f5f5f5 !important;
          }
        }
      }
    }
  }
  .grandparent{
      a{
        color: $wyc-default-teal !important;
        background-color:transparent;
        padding: 0px !important;
        font-weight: bold;
      }
  }
  .secparent{
      a{
        color: $wyc-default-orange !important;
        background-color:transparent;
        padding: 0px !important;
        font-weight: 500;
        font-size: 14px !important;
      }
  }
  .dropdown-header {
    color: $wyc-default-orange;
    font-size: 15px;
    font-weight: 500;
    padding:3px;
    form {
      margin: 3px 20px;
    }
    .form-group {
      margin-bottom: 3px;
    }
  }
}

/*.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
}*/


}

.owl-theme .owl-controls {
  position: absolute;
  top: 1px;
  right: 1px;
  margin-top: 0;
}
.owl-theme .owl-controls .owl-nav [class*='owl-'] {
  font-size: 18px;
  line-height: 1;
  margin: 0;
  padding: 0 5px;
  opacity: .5;
  border-radius: 0;
}
.owl-theme .owl-controls .owl-nav .owl-prev {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.owl-theme .owl-controls .owl-nav .owl-next {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.owl-theme.owl-controls-top-offset .owl-controls {
  right: 0;
  margin-top: -35px;
}

    /* Extra Css For mega menu */
.list-column{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    .cat-list{
      display: block;
      width: 200px;
      background-color: transparent !important;
      color: #000 !important;
  }
}

.panel-notif {
  width: 400px;
  padding: 0;
  font-size: 12px;

  * {
    color: #333333;
  }

  .panel-heading {
    background-color: #ffffff;
    border-bottom: 1px solid #f5f5f5;
    padding: 5px 10px;
  }

  .panel-body {
    position: relative;
    max-height: 450px;
    padding: 0;

    ul.inbox-messages {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        float: none;
        border-bottom: 1px solid #d2d2d2;

        a {
          padding: 10px;
          margin: 0;

          &:hover,
          &.not-read {
            background-color: #edf2fa;
          }

          .notif-image {
            width: 60px;
            padding-right: 0;

            img {
              width: 36px;
              height: 36px;
            }
          }

          .notif-content {
            padding-left: 0;

            .notif-title {
              font-weight: 600;
            }
          }

          .notif-date {
            text-align: right;
          }

          .notif-button {
            text-align: right;

            button {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .panel-footer {
    padding: 5px 10px;
    background-color: #ffffff;

    a {
      padding: 0 !important;
      margin: 0 !important;
      color: #333333 !important;

      &:hover {
        text-decoration: underline !important;
        border-color: #ffffff !important;
        background-color: #ffffff !important;
        color: #333333 !important;
      }
    }
  }
}


/********************************/
/*        Mobile Version        */
/********************************/

.wataf-mobile{
  .wataf-mobile-hdr{
      padding: 2px 0 !important;
      .header-left{
        .btn{
          padding: 0 !important;
        }
        span{
          color: #fefefe !important;
          .wataf-title-hdr{
            font-size: small;
            }
            i{
               font-size: x-large;
            }
        }
      }

    .header-right{
       .list-inline{
          li {
            i{
              font-size: large;
            }
            .counter{
              right: 1px !important;
            }
          }
       }
    }
  }
}



/********************************/
/*         TOPWYC HEADER        */
/********************************/

.topwyc{
  .container{
    overflow: visible !important;

  }
  .trans-switch{
    margin-top:29px;
  }
  .btn-lang{
    padding: 0 !important;
    margin: 0 !important;
  }
  #language{
    .dd-selected{
      margin: 0 !important;
      background-color: transparent !important;
      padding:0 !important;

    }

    .dd-select{
      background-color: transparent !important;
      width: auto !important;
    }

    .dd-options{
      background-color: transparent !important;
      width: auto !important;
      padding: 0;
      border: none;
      margin-top: 2px;
    }
  }

  .nav li a {
      color: #009688 !important;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
      color: #fff !important;
      background-color: #009688 !important;
  }

  .trans-switch a {
    border-top: 0px !important;
    margin-top: 6px !important;
  }


}
