<template>
<div :id="'user'+userId" class="panel panel-chat-box">
  <div @click="toggleVisibility" class="panel-heading">
    <span class="full-name">{{ fullName }}</span>
    <span @click.stop="close" class="pull-right" title="Close" data-toggle='tooltip' data-placement='top'><i class="material-icons">clear</i></span>
    <span @click="viewChatRoom" class="pull-right m-r-1 p-r-1" v-if="cr_check" title="Open in Messenger" data-toggle='tooltip' data-placement='top'><i class="material-icons">aspect_ratio</i></span>
    <span @click="viewChatUser" class="pull-right m-r-1 p-r-1" v-else><i class="material-icons" title="Open in Messenger" data-toggle='tooltip' data-placement='top'>aspect_ratio</i></span>
    <span @click.stop="addSupportsToChatVisibility=true" v-if="support" class="pull-right m-r-1 p-r-1">
        <i class="material-icons" title="Add support to chat" data-toggle='tooltip' data-placement='top'>add</i>
    </span>

    <div id="add-support-to-chat-container" class="row" v-if="addSupportsToChatVisibility && support" @click.stop="">
        <div class="col-xs-9">
            <multiselect
                v-model="selectedSupports"
                :options="allAvailableSupports"
                :custom-label="customLabel"
                track-by="id"
                :multiple="true"
                :close-on-select="true"
                :hide-selected="true"
                placeholder="Select a support"
                :show-labels="false"
                style="width:95%;">
            </multiselect>
        </div>
        <div class="col-xs-3">
            <button type="button" class="btn btn-default btn-xs" @click.stop="addSupports">Done</button>
        </div>
    </div>
  </div>
  <div class="chat-box">
    <div :id="'panel-body-'+userId" class="panel-body" :class="[issue=='1' || closed=='1' ? height : '']">
      <div class="row alert-reminder">
        <div class="abs alert alert-grey alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{language["reminder"]}}:</strong> {{language['alert-msg']}}
        </div>
      </div>
      <div v-show='issue=="0"'>
          <infinite-loading :on-infinite="onInfinite" ref="infiniteLoading" direction="top" :distance="0"></infinite-loading>
          <ul> 
              <li v-for="message in messages" :class="{ me: isMe(message) }">
                  <div v-if='!isMe(message)' class='someoneMessage'>
                    <div class="col-sm-2 col-md-2">
                        <img  
                            :src="message.user.avatar" 
                            class='img-responsive chat-avatar' 
                            data-toggle='tooltip' 
                            data-placement='left'
                            data-container="#chat-bar"
                            :data-temp-title='message.user.full_name + " " + message.created_at' 
                            :title="message.user.full_name + ' ' + message.created_at">
                    </div>
                    <div class="col-sm-9 col-md-9">
                        <span class="username" v-if="message.user.nick_name!==null">{{ message.user.nick_name }}</span>
                        <span class="username" v-else>{{ message.user.first_name }}</span>
                        <br>
                        <span class="message">{{ message.body }}</span>
                    </div>
                  </div>
                    <span v-if='isMe(message)' class="message custom-tooltip-placement" data-toggle='tooltip' data-placement='right' data-container="body" :title="message.created_at">
                        {{ message.body }}
                    </span>
              </li>
          </ul>
      </div>
      <div v-show='issue=="1"'>
        <div class="thanks">{{language["thank-you"]}}</div>
        <br>
        <div>{{language["case-solved"]}}</div>
        <div class="cd-filter-block">
            <ul class="cd-filter-content cd-filters list">
                <li class="margin">
                    <input class="filter" data-filter=".radio1" type="radio" value="yes" v-model="form.case_solved" name="case_solved" id="yes">
                    <label class="radio-label" for="radio1">{{language["yes"]}}</label>
                </li>
                <li class="margin">
                    <input class="filter" data-filter=".radio2" type="radio" value="no" v-model="form.case_solved" name="case_solved" id="no">
                    <label class="radio-label" for="radio2">{{language["no"]}}</label>
                </li>
                <span class="help-block error" v-if="form.errors.has('case_solved')">{{language["please"]}}</span>
            </ul>
        </div>    
        <div>{{language["rate-agent"]}}</div>
        <div class="cd-filter-block">
            <ul class="cd-filter-content cd-filters list">
                <li class="margin">
                    <input class="filter" data-filter=".radio1" type="radio" value="good" v-model="form.rate_agent" name="rate_agent" id="good">
                    <label class="radio-label" for="radio1">{{language["good"]}}</label>
                </li>
                <li class="margin">
                    <input class="filter" data-filter=".radio2" type="radio" value="average" v-model="form.rate_agent" name="rate_agent" id="average">
                    <label class="radio-label" for="radio2">{{language["average"]}}</label>
                </li>
                <li class="margin">
                    <input class="filter" data-filter=".radio3" type="radio" value="bad" v-model="form.rate_agent" name="rate_agent" id="bad">
                    <label class="radio-label" for="radio3">{{language["bad"]}}</label>
                </li>
                <span class="help-block error" v-if="form.errors.has('case_solved')">{{language["please"]}}</span>
            </ul>
        </div>
        <div>{{language["comments"]}}</div>
        <textarea id="add-comment" :rows="4" name="comments" v-model="form.comments"></textarea>
        <a id="submit" href="javascript:void(0)" class="btn btn-light-green" @click='saveIssueFeedback()'>{{language["submit"]}}</a>
      </div>
      <div class="thanks" v-show='closed=="1"'>{{language["issue"]}} :)</div>
    </div>
    <div class="panel-footer" v-show='issue=="0" && closed=="0"'>
      <textarea class="js-auto-size" :data-chat="'panel-body-'+userId" :id="'id'+userId" :rows="1" v-model="newMessage" @keydown.enter.prevent="send" @focus="markAllAsSeen"  :placeholder="language['type-a-message']" :disabled="isblock=='Blocked'"></textarea>
    </div>
  </div>
</div>

</template>

<script>
import InfiniteLoading from 'vue-infinite-loading';
import Multiselect from 'vue-multiselect';

export default {
    props: ['user'],

    data() {
        return {
            messages: [],
            newMessage: null,
            newMessage2: null,
            currentPage: 0,
            chatRoomId: null,
            $chatBox: null,
            $conversation: null,
            language:[],
            issue:null,
            closed:null,
            isblock:null,
            height: 'issue-height',
            allAvailableSupports: [],
            selectedSupports: [],
            currentSupports: [],
            addSupportsToChatVisibility: false,
            support:false,
            addSupportForm: {
                id: 0,
                subject: '',
                body: '',
                status: '',
                supportIds: []
            },
            form: new Form({
               case_solved: null,
               rate_agent: null,
               comments: null
            },{ baseURL: 'http://'+Laravel.base_api_url })
        }
    },

    methods: {
        onInfinite() {
            if (! this.$chatBox.is(':visible')) {
                return this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
            }

            this.getMessages();
            setTimeout(function () {
                $(".panel-chat-box [data-toggle='tooltip']").tooltip();
                $(".panel-chat-box [data-toggle='tooltip']").tooltip('fixTitle');
            }, 300);

        },

        getMessages() {
            var prevScrollHeight = this.$conversation.prop('scrollHeight');

            if (this.user.hasOwnProperty('chat_room')) {

                return axiosAPIv1.get('/messages/chat-room/' + this.user.chat_room_id, {
                    params: {
                        page: ++this.currentPage,
                    }
                }).then(result => {
                    var data = result.data.data;

                    if (data && data.length) {
                        data.sort((a, b) => {
                            return a.id - b.id;
                        });

                        this.messages = data.concat(this.messages);
                        this.currentPage = result.data.current_page;

                        setTimeout(function () {
                            if (this.currentPage === 1) {
                                this.$conversation.scrollTop(this.$conversation.prop('scrollHeight'));
                            } else {
                                this.$conversation.scrollTop(this.$conversation.prop('scrollHeight') - prevScrollHeight);
                            }

                            this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
                        }.bind(this), 1);
                    } else {
                        this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
                    }
                });

            } else {

                return axiosAPIv1.get('/messages/user/' + this.user.id, {
                    params: {
                        page: ++this.currentPage,
                    }
                }).then(result => {
                    var data = result.data.data;

                    if (data && data.length) {
                        data.sort((a, b) => {
                            return a.id - b.id;
                        });

                        this.messages = data.concat(this.messages);
                        this.currentPage = result.data.current_page;
                        if (! this.chatRoomId) {
                            this.chatRoomId = data[0].chat_room_id;
                            this.listen();
                        }

                        setTimeout(function () {
                            if (this.currentPage === 1) {
                                this.$conversation.scrollTop(this.$conversation.prop('scrollHeight'));
                            } else {
                                this.$conversation.scrollTop(this.$conversation.prop('scrollHeight') - prevScrollHeight);
                            }

                            this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
                        }.bind(this), 1);
                    } else {
                        this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
                    }
                });

            }
        },

        send() {
            if (! this.newMessage) {
                return;
            }
            //if user sends spaces only
            if($.trim(this.newMessage)==''){
                $('#id'+this.userId).val('');
                return;
            }
            this.messages.push({
                user_id: window.Laravel.user.id,
                body: this.newMessage
            });

            setTimeout(function () {
                this.$conversation.scrollTop(this.$conversation.prop('scrollHeight'));

                this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
            }.bind(this), 1);

            if (this.user.hasOwnProperty('chat_room')) {

                axiosAPIv1.post('/messages', {
                    to_chat_room: this.user.chat_room_id,
                    body: this.newMessage
                }).then(result => {
                    if (! this.chatRoomId) {
                        this.chatRoomId = result.data.data.chat_room_id;
                        this.listen();
                    }
                });

            } else {

                axiosAPIv1.post('/messages', {
                    to_user: this.user.id,
                    body: this.newMessage
                }).then(result => {
                    if (! this.chatRoomId) {
                        this.chatRoomId = result.data.data.chat_room_id;
                        this.listen();
                    }
                });
                            
            }

            this.newMessage = null;
        },

        close() {
            Event.fire('chat-box.close', this.user);
        },
        viewChatRoom() {
            window.location.href = '/messages#/cr/'+this.user.chat_room.id;
        },

        viewChatUser() {
            window.location.href = '/messages#/u/'+this.user.id;
        },

        toggleVisibility() {
            this.$chatBox.slideToggle(300, () => {
                if (this.$chatBox.is(':visible')) {
                    this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
                } else {
                    this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
                }
            });
        },

        isMe(message) {
            return window.Laravel.user.id == message.user_id;
        },

        scrollToBottom() {
            setTimeout(function () {
                this.$conversation.scrollTop(this.$conversation.prop('scrollHeight'));
            }.bind(this), 1);
        },

        listen() {
            Event.listen('chat-room-' + this.chatRoomId, message => {

                if (this.user.hasOwnProperty('chat_room') && message.user.hasOwnProperty('user')){
                    this.newMessage2 = {"body": message.body,
                                        "user": {"avatar": message.user.user.avatar, 
                                                 "full_name": message.user.user.full_name, 
                                                 "nick_name": message.user.user.nick_name,
                                                 "first_name": message.user.user.first_name}
                    };
                    this.messages.push(this.newMessage2);
                }
                else
                    this.messages.push(message);

                // $('.chat-avatar').each(function(){
                //     $(this).attr('title',$(this).data('temp-title'));
                // })
                // $("[data-toggle='title']").tooltip('fixTitle');
                this.scrollToBottom();
                // var audio = new Audio('/sound/wycnotif.mp3');
                // audio.play();
            });
        },

        markAllAsSeen() {
            this.$parent.markAllAsSeen();
        },

        saveIssueFeedback() {
            this.form.submit('post', '/v1/saveIssueFeedback/'+this.user.chat_room.name)
              .then(result => {
                    toastr.success(this.language['feedback'] + ' :)');
                    this.issue = 0;
                    this.closed = 1;
              })
        },

        getIds(supports) {
            return supports.map(support => {
                return support.id;
            });
        },

        getAddedSupportsNames(supports) {
            return supports.map(support => {
                return support.first_name + ' ' + support.last_name;
            });
        },

        getAllAvailableSupports() {
            axiosAPIv1.get('/getAllAvailableSupports/'+this.user.chat_room.id).then(result => {
                this.allAvailableSupports = result.data;
            });
        },

        getCurrentSupports() {
            axiosAPIv1.get('/getCurrentSupports/'+this.user.chat_room.id).then(result => {
                this.currentSupports = result.data;
            });
        },

        addSupports() {
            this.addSupportsToChatVisibility = false;

            if(this.selectedSupports.length > 0) {
                var supportIds = this.getIds(this.selectedSupports); // Add all selected supports
                var addedSupportsName = this.getAddedSupportsNames(this.selectedSupports);

                supportIds.push(window.Laravel.user.id); // Add currently logged in support

                // Add currently belong supports
                for(var i=0; i<this.currentSupports.length; i++) {
                    supportIds.push(this.currentSupports[i].id);
                }

                axiosAPIv1.patch('/customer-service/' + this.addSupportForm.id, {
                    subject: this.addSupportForm.subject,
                    body: this.addSupportForm.body,
                    status: this.addSupportForm.status,
                    supportIds: supportIds,
                }).then(result => {
                    for(var i=0; i<addedSupportsName.length; i++) {
                        this.newMessage = addedSupportsName[i] + ' was added to the conversation.';
                        this.send(); 
                    }

                    this.selectedSupports = []; // remove all selected
                    this.getAllAvailableSupports(); // refresh options
                    this.getCurrentSupports(); // update current supports
                });
            }
        },

        customLabel(support) {
            return 'Support: ' + support.first_name;
        },

        isSupport() {
            for(let i=0; i<(window.Laravel.user.roles).length; i++) {
                if(window.Laravel.user.roles[i].name == 'support') {
                    this.support = true;
                }
            }
        }

    },

    computed: {
        fullName() {
            if (this.user.hasOwnProperty('chat_room'))
                return this.user.chat_room.name;
            else 
                return this.user.first_name + ' ' + this.user.last_name;
        },
        userId() {
            if (this.user.hasOwnProperty('chat_room'))
                return this.user.chat_room.name;
            else 
                return this.user.id;
        },
        cr_check() {
            if (this.user.hasOwnProperty('chat_room'))
                return true;
            else 
                return false;
        },
    },

    components: {
        InfiniteLoading,
        Multiselect
    },

    created() {
        function getTranslation() {
            return axios.get('/translate/chat-box');
        }

        axios.all([
            getTranslation()
        ]).then(axios.spread(
            (
            language
            ) => {
                
            this.language = language.data.data;
        }))
        .catch($.noop);

        if (this.user.hasOwnProperty('chat_room')) {
            axiosAPIv1.get('/getIssueStatus/'+this.user.chat_room.name)
            .then(result => {     
                this.addSupportForm.id = result.data[0].id;
                this.addSupportForm.subject = result.data[0].subject;
                this.addSupportForm.body = result.data[0].body;
                this.addSupportForm.status = result.data[0].status;

                if(result.data[0].status=="closed" && result.data[0].case_solved=="") {
                    this.issue = 1;
                    this.closed = 0;
                } else {
                    this.issue = 0;
                    if(result.data[0].status=="open")
                        this.closed = 0;
                    else
                        this.closed = 1;
                }
            });
        } else {
            this.issue = 0;
            this.closed = 0;
        }

        if (!this.user.hasOwnProperty('chat_room')) {
            axiosAPIv1.get('/users/' + this.user.id + '?include=relationship')
            .then(result => {
                this.isblock = result.data.friend_status; 
            });
        }

        setTimeout(function () {
        $('.alert-reminder').hide();
        },5000);

        // Get all available supports
        this.getAllAvailableSupports();

        // Get all current supports
        this.getCurrentSupports();

        // Check if support
        this.isSupport();
    },

    mounted() {
        var $el = $(this.$el);

        this.$chatBox = $el.find('.chat-box');
        this.$conversation = $el.find('.panel-body');

         setTimeout(function () {
            // $("[data-toggle='tooltip']").tooltip();
            $(".panel-chat-box [data-toggle='tooltip']").tooltip();

            //chatbox sticky alert message
            $('.alert-grey').each(function(){
                var $that = $(this),
                    $page = $that.closest('.panel-body');
                $page.scroll(function(){      
                    $that.css({top: this.scrollTop});
                });
            });
        },1000);

    }
}
</script>

