<template>
  <div>
        <div class="row timeline-movement timeline-movement-top no-dashed no-side-margin" v-if="log.year != null">
            <div class="timeline-badge timeline-filter-movement">
                <a href="#">
                    <span>{{log.year}}</span>
                </a>
            </div>
        </div>
        <div class="row timeline-movement  no-side-margin">
            <div class="timeline-badge" v-if="log.month != null">
                <span class="timeline-balloon-date-day">{{log.day}}</span>
                <span class="timeline-balloon-date-month">{{log.month}}</span>
            </div>

                <div class="col-sm-12  timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits" >
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo" v-html="log.data.title"></span></li>
                                    <li><span class="causale">{{log.data.processor}}</span> </li>
                                    <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{log.data.date}}</small></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

        </div>
  </div>
</template>

<script>
export default {
  props: ['log','logcount'],
  methods:{
    // select(id){
        //this.$parent.selectItem(id)
    // },
  },
}
</script>