<template>
	<form class="form-horizontal" @submit.prevent="addNewService">

		<div class="ios-scroll">
	    	<div class="form-group" :class="{ 'has-error': addNewServiceForm.errors.has('services') }">
		        <label class="col-md-2 control-label">
		            {{ (translation) ? translation['service'] : 'Service' }}:
		        </label>

		        <div class="col-md-10">
		            <select data-placeholder="Select Service" class="chosen-select-for-service" multiple style="width:350px;" tabindex="4">
		                <option v-for="service in servicesList" :value="service.id" :data-docs-needed="service.docs_needed" :data-docs-optional="service.docs_optional">
		                	{{ (service.detail).trim() }}
		                </option>
		            </select>

		            <span class="help-block" v-if="addNewServiceForm.errors.has('services')" v-text="addNewServiceForm.errors.get('services')"></span>

		            <div class="spacer-10"></div>

		            <p>
		            	{{ (translation) ? translation['if-you-want-to-view-all-services-at-once'] : 'If you want to view all services at once,' }}
		            	<a href="/visa/service/view-all" target="_blank">{{ (translation) ? translation['click-here'] : 'click here' }}</a>
		            </p>
		        </div>
		    </div>

		    <div class="form-group">
		    	<label class="col-md-2 control-label">
		            {{ (translation) ? translation['note'] : 'Note' }}:
		        </label>
		        <div class="col-md-10">
		        	<input type="text" class="form-control" name="note" v-model="addNewServiceForm.note" placeholder="for internal use only, only employees can see.">
		        </div>
		    </div>

		    <div v-show="addNewServiceForm.services.length <= 1">
		    	<div classs="col-md-12">
				    <div class="form-group col-md-6">
				    	<label class="col-md-4 control-label " style="padding-left: 0px;padding-right: 0px;">
				            {{ (translation) ? translation['extra-cost'] : 'ExtraCost' }}:
				        </label>
				        <div class="col-md-8">
				        	<input type="text" class="form-control" name="tip" v-model="addNewServiceForm.tip"  style="width : 175px;">
				        </div>
				    </div>

				    <div class="form-group  col-md-6 m-l-2" >
				    	<label class="col-md-4 control-label ">
				            {{ (translation) ? translation['charge'] : 'Charge' }}:
				        </label>
				        <div class="col-md-8">
				        	<input type="text" class="form-control" name="charge" readonly v-model="addNewServiceForm.charge"  style="width : 175px;">
				        </div>
				    </div>

				</div><br><br>

		    	<div classs="col-md-12">
				    <div class="form-group col-md-6">
				    	<label class="col-md-4 control-label ">
				            {{ (translation) ? translation['cost'] : 'Cost' }}:
				        </label>
				        <div class="col-md-8">
				        	<input type="text" class="form-control" name="cost" v-model="addNewServiceForm.cost"  style="width : 175px;">
				        </div>
				    </div>

<!-- 				    <div class="form-group  col-md-6 m-l-2" :class="{ 'has-error': addNewServiceForm.errors.has('discount') }">
				    	<label class="col-md-4 control-label ">
				            {{ (translation) ? translation['discount'] : 'Discount' }}:
				        </label>
				        <div class="col-md-8">
				        	<input type="number" class="form-control" name="discount" v-model="addNewServiceForm.discount" min="0" style="width : 175px;">
				        	<span class="help-block" v-if="addNewServiceForm.errors.has('discount')" v-text="addNewServiceForm.errors.get('discount')"></span>
				        </div>
				    </div> -->
				</div>

<!-- 
			    <div class="form-group" v-if="addNewServiceForm.discount > 0">
			    	<label class="col-md-2 control-label">
			            {{ (translation) ? translation['reason'] : 'Reason' }}:
			        </label>
			        <div class="col-md-10">
			        	<input type="text" class="form-control" name="reason" v-model="addNewServiceForm.reason">
			        </div>
			    </div> -->
		    </div>

		    <div class="form-group">
		    	<label class="col-md-2">

		        </label>
		        <div class="col-md-10">
		        	<label class="checkbox-inline">
		    			<input type="checkbox" v-model="addNewServiceForm.sameDayFilling">
		    			<strong>{{ (translation) ? translation['same-day-filing'] : 'Same Day Filing' }}</strong>
		    		</label>
		        </div>
		    </div>

		    <div v-show="showCheckboxAll">
			    <div style="height:20px;clear:both;"></div> <!-- spacer -->

			    <label class="checkbox-inline">
	    			<input type="checkbox" @click="checkAllForAllServices" class="checkbox-all"> 
	    			Check all required documents for all services
	    		</label>
    		</div>

		    <div style="height:20px;clear:both;"></div> <!-- spacer -->

		    <div v-show="requiredDocumentsAndOptionalDocumentsLoading">
		    	<center>
			    	<div class="spiner-example">
			            <div class="sk-spinner sk-spinner-wave">
			                <div class="sk-rect1"></div>
			                <div class="sk-rect2"></div>
			                <div class="sk-rect3"></div>
			                <div class="sk-rect4"></div>
			                <div class="sk-rect5"></div>
			            </div>
			        </div>
		        </center>
		    </div>

            <div v-for="(detail, index) in detailArray" :id="'service-component-'+index" class="panel panel-default">
	            <div class="panel-heading">
	                {{ detail }}
	            </div>
	            <div class="panel-body">

	            	<div class="row">
	            		<div class="col-md-6">
	            			<div class="form-group row" v-show="requiredDocs[index].length != 0">
	            				<label class="col-md-12 text-normal">
						            <input type="checkbox" @click="checkAll($event, index)" :class="'checkbox-' + index" :data-chkbox-class="index"> 
						            {{ (translation) ? translation['check-all-required-documents'] : 'Check all required documents' }}
						        </label>
	            			</div> <!-- form-group -->
							<div class="form-group row">
								<label class="col-md-12">
									{{ (translation) ? translation['required-documents'] : 'Required Documents' }}:
								</label>
								<div class="col-md-12 padd-10-0-0-40">
									<div v-for="doc in requiredDocs[index]">
						            	<label class="text-normal">
						            		<input type="checkbox" @click="checkIndividual(index); toggleCommonUniqueDocument($event, doc)" :value="doc.id" class="chkbx-required" :name="'rDocs-'+index" :checked="uniqueDocumentsOnHand.includes((doc.id).toString()) || clickedCommonUniqueDocument.includes((doc.id).toString())" :disabled="uniqueDocumentsOnHand.includes((doc.id).toString())" :data-is-unique="doc.is_unique"> {{ doc.title }}
						            	</label>
						            </div>

						            <p v-if="anyAcrIcardRequiredDocsArray[index].length > 0" style="font-weight:bold; margin-top:10px;">
						            	ACR-ICARD:
						            </p>
						            <div v-for="a in anyAcrIcardRequiredDocsArray[index]">
						            	<label class="text-normal">
						            		<input type="radio" :value="a.id" :name="'anyAcrIcardRequiredDocsArray-'+index" :checked="uniqueDocumentsOnHand.includes((a.id).toString()) || clickedCommonUniqueDocument.includes((a.id).toString())" :disabled="uniqueDocumentsOnHand.includes((a.id).toString())" @click="toggleCommonUniqueDocument($event, a)"> {{ a.title }}
						            	</label>
						            </div>

						            <div style="height:6px;clear:both;"></div>

							        <p class="text-muted" v-if="requiredDocs[index].length == 0 && anyAcrIcardRequiredDocsArray[index].length == 0">
							        	No documents to show.
							        </p>
								</div>
							</div> <!-- form-group -->
						</div> <!-- col-md-6 -->
						<div class="col-md-6">
							<div class="form-group row" v-show="optionalDocs[index].length != 0">
	            				<label class="col-md-12 text-normal">
						            <input type="checkbox" @click="checkAllOptional($event, index)" :class="'optional-checkbox-' + index" :data-optional-chkbox-class="index"> 
						            Check all optional documents
						        </label>
	            			</div> <!-- form-group -->
							<div class="form-group row">
								<label class="col-md-12">
									{{ (translation) ? translation['optional-documents'] : 'Optional Documents' }}:
								</label>
								<div class="col-md-12 padd-10-0-0-40">
									<div v-for="doc in optionalDocs[index]">
						            	<label class="text-normal">
						            		<input type="checkbox" :value="doc.id" :name="'oDocs-'+index"  @click="checkIndividualOptional(index); toggleCommonUniqueDocument($event, doc)" :checked="uniqueDocumentsOnHand.includes((doc.id).toString()) || clickedCommonUniqueDocument.includes((doc.id).toString())" :disabled="uniqueDocumentsOnHand.includes((doc.id).toString())" :data-is-unique="doc.is_unique"> {{ doc.title }}
						            	</label>
						            </div>

						            <p v-if="anyAcrIcardOptionalDocsArray[index].length > 0" style="font-weight:bold; margin-top:10px;">
						            	ACR-ICARD:
						            </p>
						            <div v-for="a in anyAcrIcardOptionalDocsArray[index]">
						            	<label class="text-normal">
						            		<input type="radio" :value="a.id" :name="'anyAcrIcardOptionalDocsArray-'+index" :checked="uniqueDocumentsOnHand.includes((a.id).toString()) || clickedCommonUniqueDocument.includes((a.id).toString())" :disabled="uniqueDocumentsOnHand.includes((a.id).toString())" @click="toggleCommonUniqueDocument($event, a)"> {{ a.title }}
						            	</label>
						            </div>

						            <div style="height:6px;clear:both;"></div>
						            
							        <p class="text-muted" v-if="optionalDocs[index].length == 0 && anyAcrIcardOptionalDocsArray[index].length == 0">
							        	No documents to show.
							        </p>
								</div>
							</div>
						</div> <!-- col-md-6 -->
	            	</div> <!-- row -->

	            </div>
	        </div>

    	</div>


    	<button v-if="!loading" type="submit" class="btn btn-primary pull-right" :disabled="requiredDocumentsAndOptionalDocumentsLoading">
    		{{ (translation) ? translation['save'] : 'Save' }}
    	</button>
    	<button v-if="loading" type="button" class="btn btn-default pull-right">
            <div class="sk-spinner sk-spinner-wave" style="width:40px; height:20px;">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
             </div>
        </button>
	    <a class="btn btn-default pull-right m-r-10" data-dismiss="modal">
	    	{{ (translation) ? translation['close'] : 'Close' }}
	    </a>
    </form>

</template>

<script>
    export default{
    	props: ['tracking','client_id'],

        data() {
        	return {
        		translation: null,

        		loading: false,

        		requiredDocumentsAndOptionalDocumentsLoading: false,

        		servicesList: [],

        		clients: [],

        		detailArray: [],
        		requiredDocs: [],
        		anyAcrIcardRequiredDocsArray: [],
        		optionalDocs: [],
        		anyAcrIcardOptionalDocsArray: [],
        		uniqueDocumentsOnHand: [],

        		showCheckboxAll: false,

        		addNewServiceForm: new Form({
        			cost: '',
        			tip: '',
        			charge: '',
					services: [],
					note: '',
					discount: '',
					reason: '',
					client_id: this.$parent.$parent.usr_id,
					track: this.$parent.$parent.tracking_selected,
					serviceid: '',
        			docs: '',
        			req_docs:'',
        			sameDayFilling: false				
				},{ baseURL  : '/visa/client/'}),	

				clickedCommonUniqueDocument: []
        	}
        },

        methods: {

        	toggleCommonUniqueDocument(e, document) {
        		let isChecked = e.target.checked;

        		let index = this.clickedCommonUniqueDocument.indexOf(document.id);

        		if( document.is_unique == 1 && isChecked && index == -1 ) {
        			this.clickedCommonUniqueDocument.push(document.id);
        		} else if( document.is_unique == 1 && !isChecked && index != -1 ) {
        			this.clickedCommonUniqueDocument.splice(index, 1);
        		}
        	},

        	getTranslation() {
        		axios.get('/visa/client/translation/add-service')
			        .then(response => {
			        	this.translation = response.data.translation;
			        });
        	},

        	toggleCheckAllRequiredDocumentsForAllServices(detailArray) {
        		$('input.checkbox-all').prop('checked', false);

        		var visibility = false;

        		detailArray.forEach((d, index) => {
        			if( this.requiredDocs[index].length != 0 ) {
        				visibility = true;
        			}
        		});

        		this.showCheckboxAll = visibility;
        	},

        	fetchServiceList() {
        		axios.get('/visa/service-manager/show')
					.then(response => {
						this.servicesList = response.data.filter(r => r.parent_id != 0);
						setTimeout(() => {
							$(".chosen-select-for-service").trigger("chosen:updated");
						}, 1000);
						
					})
					.catch(error => console.log(error) );
        	},

        	resetAddNewServiceForm() {
        		this.clients = [];

        		this.detailArray = [];
				this.requiredDocs = [];
				this.anyAcrIcardRequiredDocsArray = [];
				this.optionalDocs = [];
				this.anyAcrIcardOptionalDocsArray = [];
				this.uniqueDocumentsOnHand = [];

        		this.showCheckboxAll = false;

        		this.clickedCommonUniqueDocument = [];

        		this.addNewServiceForm.cost = '';
        		this.addNewServiceForm.tip = '';
        		this.addNewServiceForm.charge = '';
				this.addNewServiceForm.services = [];
				this.addNewServiceForm.note = '';
				this.addNewServiceForm.discount = '';
				this.addNewServiceForm.reason = '';
				this.addNewServiceForm.client_id = this.$parent.$parent.usr_id;
				this.addNewServiceForm.track = this.$parent.$parent.tracking_selected;
				this.addNewServiceForm.serviceid = '';
        		this.addNewServiceForm.docs = '';
        		this.addNewServiceForm.req_docs = '';
        		this.addNewServiceForm.sameDayFilling = false;

        		$('input.checkbox-all').prop('checked', false);

        		// Deselect All
				$('.chosen-select-for-service, .chosen-select-for-required-docs, .chosen-select-for-optional-docs').val('').trigger('chosen:updated');
        	},

        	addNewService() {
        		this.loading = true;

        		this.addNewServiceForm.client_id = this.$parent.$parent.usr_id;
        		this.addNewServiceForm.track = this.$parent.$parent.tracking_selected;

        		var docsArray = [];
        		var requiredDocs = '';
        		var anyAcrIcardRequiredDocsArray = '';
        		var optionalDocs = '';
        		var anyAcrIcardOptionalDocsArray = '';
        		var hasRequiredDocsErrors = [];
        		for(let i=0; i<this.detailArray.length; i++) {
	        		let requiredOptions = $('#service-component-' + i + ' input[name="rDocs-'+i+'"]:visible').length 
	        			+ (this.anyAcrIcardRequiredDocsArray[i].length > 0 ? 1 : 0);
	        		let requiredCount = $('#service-component-' + i + ' input[name="rDocs-'+i+'"]:checked:visible').length
	        			+ $('#service-component-' + i + ' input[name="anyAcrIcardRequiredDocsArray-'+i+'"]:checked:visible').length;

	        		if(requiredCount == 0 && requiredOptions > 0) {
	        			hasRequiredDocsErrors.push(this.detailArray[i]);
	        		}

	        		$.each($('#service-component-' + i + ' input[name="rDocs-'+i+'"]:checked:visible'), function() {
		                requiredDocs += $(this).val() + ',';
		            });

		            $.each($('#service-component-' + i + ' input[name="anyAcrIcardRequiredDocsArray-'+i+'"]:checked:visible'), function() {
		                anyAcrIcardRequiredDocsArray += $(this).val() + ',';
		            });

		            $.each($('#service-component-' + i + ' input[name="oDocs-'+i+'"]:checked:visible'), function() {
		                optionalDocs += $(this).val() + ',';
		            });

		            $.each($('#service-component-' + i + ' input[name="anyAcrIcardOptionalDocsArray-'+i+'"]:checked:visible'), function() {
		                anyAcrIcardOptionalDocsArray += $(this).val() + ',';
		            });

				    docsArray.push((requiredDocs + optionalDocs + anyAcrIcardRequiredDocsArray + anyAcrIcardOptionalDocsArray).slice(0, -1));
				    requiredDocs = '';
				    anyAcrIcardRequiredDocsArray = '';
				    optionalDocs = '';
				    anyAcrIcardOptionalDocsArray = '';
	        	}
        		this.addNewServiceForm.docs = docsArray;

        		if(this.addNewServiceForm.discount > 0 && this.addNewServiceForm.reason == ''){
			        toastr.error( (this.translation) ? this.translation['please-input-reason'] : 'Please input reason' );
			        this.loading = false;
        		}
        		else if(hasRequiredDocsErrors.length > 0){
        			for(let i=0; i<hasRequiredDocsErrors.length; i++) {
        				toastr.error( (this.translation) ? this.translation['please-select-from-required-documents'] : 'Please select from required documents.', hasRequiredDocsErrors[i]);
        			}
        			this.loading = false;
        		}
        		else if((this.addNewServiceForm.services).length > 0){
        			this.addNewServiceForm.submit('post','/clientAddService')
	            	.then(response => {
		                if(response.success) {
		                		// this.$parent.$parent.quickReportClientsId = response.clientsId;
			                	// this.$parent.$parent.quickReportClientServicesId = response.clientServicesId;
			                	// this.$parent.$parent.quickReportTrackings = response.trackings;

			                	this.resetAddNewServiceForm();
			                	var client_id = this.$parent.$parent.usr_id;
			                	var track = this.$parent.$parent.tracking_selected;
								this.$parent.$parent.showServicesUnder(client_id,track);
								this.$parent.$parent.updateTrackingList(client_id);
								this.$parent.$parent.reloadComputation();
								this.$parent.$parent.reloadTransactionLogs();
								this.$parent.$parent.getDocumentLogs();
								this.$parent.$parent.getDocumentLogsDetails();
								var owl = $("#owl-demo");
								owl.data('owlCarousel').destroy();

								// this.$parent.$parent.$refs.multiplequickreportref.fetchDocs(response.clientServicesId);

			                	$('#add-new-service-modal').modal('hide');

			                	toastr.success(response.message);
			                }
			            this.loading = false;
		           })
		            .catch(error =>{
		                for(var key in error) {
			            		if(error.hasOwnProperty(key)) toastr.error(error[key][0])
			            	}
			            this.loading = false;
		            });
        		}
        		else{
			        toastr.error( (this.translation) ? this.translation['please-select-service-category'] : 'Please select service category' );
			        this.loading = false;
        		}
        		
			},

			fetchDocs(service_id,needed,optional){
				$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').val('').trigger('chosen:updated');
				this.addNewServiceForm.serviceid = service_id;

				if(this.addNewServiceForm.services.length == 1){
					if(needed=='' || needed===undefined){
						this.requiredDocs = [];
					} else {
					 	axios.get('/visa/group/'+needed+'/service-docs')
					 	  .then(result => {
				            this.requiredDocs = result.data;
				        });
					} 

		        	if(optional=='' || optional===undefined){
		        		this.optionalDocs = [];
		        	} else {
					 	axios.get('/visa/group/'+optional+'/service-docs')
					 	  .then(result => {
				            this.optionalDocs = result.data;
				        });
		        	}
				} else {
					this.requiredDocs = [];
					this.optionalDocs = [];
				}



	        	setTimeout(() => {
	        		$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').trigger('chosen:updated');
	        	}, 2000);
			},

			getDocs(servicesId) {
				this.showCheckboxAll = false;

				this.requiredDocumentsAndOptionalDocumentsLoading = true;

				axios.get('/visa/get-docs', {
						params: {
					      	servicesId: servicesId,
					      	clientId: window.Laravel.data.data.id
					    }
					})
					.then(result => {
						this.requiredDocumentsAndOptionalDocumentsLoading = false;

						this.detailArray = result.data.detailArray;
				        this.requiredDocs = result.data.requiredDocsArray;
				        this.anyAcrIcardRequiredDocsArray = result.data.anyAcrIcardRequiredDocsArray;
				        this.optionalDocs = result.data.optionalDocsArray;
				        this.anyAcrIcardOptionalDocsArray = result.data.anyAcrIcardOptionalDocsArray;
				        this.uniqueDocumentsOnHand = result.data.uniqueDocumentsOnHand;

				        this.toggleCheckAllRequiredDocumentsForAllServices(this.detailArray);

				        setTimeout(() => {
				        	this.detailArray.forEach((d, index) => {
					        	this.checkIndividual(index);
					        	this.checkIndividualOptional(index);
					        });
				        }, 500);

				        setTimeout(() => {
				        	$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').chosen('destroy');
				        	$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').chosen({
								width: "100%",
								no_results_text: "No result/s found.",
								search_contains: true
							});

			        		$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').val('').trigger('chosen:updated');
			        	}, 1000);
					});
			},


			initChosenSelect() {
				$('.chosen-select-for-service').chosen({
					width: "100%",
					no_results_text: "No result/s found.",
					search_contains: true
				});

				let vm = this;

				$('.chosen-select-for-service').on('change', function() {
					let services = $(this).val();
					
					vm.getDocs(services);

					vm.addNewServiceForm.services = services.sort((a, b) => a - b);

					// Set cost input
					if(services.length == 1) {
						vm.servicesList.map(s => {
							if(s.id == services[0]) {
								var branchID = vm.$parent.$parent.branch;
								var profileCost = 0;

								axios.get('/visa/service-manager/getServiceProfileCost/'+s.id+'/0/'+branchID)
									.then(response => {
									
										profileCost = response.data;
										// if(parseInt(profileCost) < 1 ){
										// 	profileCost = s.charge;
										// }
										//var serviceCharge = parseFloat(s.cost) + parseFloat(profileCost) + parseFloat(s.tip);
										vm.addNewServiceForm.cost = profileCost.cost;
										vm.addNewServiceForm.charge = profileCost.charge;
										vm.addNewServiceForm.tip = profileCost.tip;
									})
									.catch(error => console.log(error) );
								//var serviceCharge = parseFloat(s.cost) + parseFloat(s.charge) + parseFloat(s.tip);
								// vm.addNewServiceForm.cost = s.cost;
								// vm.addNewServiceForm.charge = s.charge;
								// vm.addNewServiceForm.tip = s.tip;
							}
						});
					} else {
						vm.addNewServiceForm.cost = 0;
						vm.addNewServiceForm.charge = 0;
						vm.addNewServiceForm.tip = 0;
					}
				});


			},

			callDataTable() {
				$('.add-new-service-datatable').DataTable().destroy();

				setTimeout(function() {
					$('.add-new-service-datatable').DataTable({
			            pageLength: 10,
			            responsive: true,
			            dom: '<"top"lf>rt<"bottom"ip><"clear">'
			        });
				}, 1000);
			},

			checkAllForAllServices(e) {
				let checked = e.target.checked;

				this.detailArray.forEach((d, index) => {
			    	$('input.checkbox-'+index+':visible').prop('checked', checked);
			    	$('input[name="rDocs-'+index+'"]:visible:not(:disabled)').prop('checked', checked);

			    	var vm = this;
			    	$.each($('#service-component-'+index+' input[name="rDocs-'+index+'"]:visible:not(:disabled)'), function() {

			            var isUnique = $(this).attr("data-is-unique");
			            var documentId = $(this).val();
			            var index = vm.clickedCommonUniqueDocument.indexOf(documentId);
			            if( isUnique == 1 && checked && index == -1 ) {
			            	vm.clickedCommonUniqueDocument.push(documentId);
			            } else if( isUnique == 1 && !checked && index != -1 ) {
		        			vm.clickedCommonUniqueDocument.splice(index, 1);
		        		}

			        });
			    });
			},

			checkAll(e, index) {
				let checked1 = e.target.checked;

				$('input[name="rDocs-'+index+'"]:visible:not(:disabled)').prop('checked', checked1);

				let checked2 = true;
				this.detailArray.forEach((d, index) => {
					if( $('input.checkbox-'+index).is(":visible") && !$('input.checkbox-'+index+':visible').prop('checked') ) {
						checked2 = false;
					}
				});
				$('input.checkbox-all:visible').prop('checked', checked2);

				var vm = this;
				$.each($('#service-component-'+index+' input[name="rDocs-'+index+'"]:visible:not(:disabled)'), function() {

		            var isUnique = $(this).attr("data-is-unique");
		            var documentId = $(this).val();
		            var index = vm.clickedCommonUniqueDocument.indexOf(documentId);
		            if( isUnique == 1 && checked1 && index == -1 ) {
		            	vm.clickedCommonUniqueDocument.push(documentId);
		            } else if( isUnique == 1 && !checked1 && index != -1 ) {
	        			vm.clickedCommonUniqueDocument.splice(index, 1);
	        		}

		        });
 			},

 			checkIndividual(index) {
 				let requiredOptions = $('#service-component-' + index + ' input[name="rDocs-'+index+'"]:visible').length;
	        	let requiredCount = $('#service-component-' + index + ' input[name="rDocs-'+index+'"]:checked:visible').length;

	        	let checked1 = false;
	        	if(requiredOptions == requiredCount) { 
	        		checked1 = true; 
	        	}
	        	$('input.checkbox-'+ index +':visible').prop('checked', checked1);

	        	let checked2 = true;
				this.detailArray.forEach((d, index) => {
					if( $('input.checkbox-'+index).is(":visible") && !$('input.checkbox-'+index+':visible').prop('checked') ) {
						checked2 = false;
					}
				});
				$('input.checkbox-all:visible').prop('checked', checked2);
 			},

 			checkAllOptional(e, index) {
				let checked1 = e.target.checked;
				$('input[name="oDocs-'+index+'"]:visible:not(:disabled)').prop('checked', checked1);

				var vm = this;
				$.each($('#service-component-'+index+' input[name="oDocs-'+index+'"]:visible:not(:disabled)'), function() {

		            var isUnique = $(this).attr("data-is-unique");
		            var documentId = $(this).val();
		            var index = vm.clickedCommonUniqueDocument.indexOf(documentId);
		            if( isUnique == 1 && checked1 && index == -1 ) {
		            	vm.clickedCommonUniqueDocument.push(documentId);
		            } else if( isUnique == 1 && !checked1 && index != -1 ) {
	        			vm.clickedCommonUniqueDocument.splice(index, 1);
	        		}

		        });
 			},

 			checkIndividualOptional(index) {
 				let optionalOptions = $('#service-component-' + index + ' input[name="oDocs-'+index+'"]:visible').length;
	        	let optionalCount = $('#service-component-' + index + ' input[name="oDocs-'+index+'"]:checked:visible').length;

	        	let checked1 = false;
	        	if(optionalOptions == optionalCount) { 
	        		checked1 = true; 
	        	}
	        	$('input.optional-checkbox-'+ index +':visible').prop('checked', checked1);
 			},
        },

        watch: {
		    clickedCommonUniqueDocument: {
		    	handler(commonUniqueDocument) {
		    		setTimeout(() => {
		    			this.detailArray.forEach((d, index) => {
						    this.checkIndividual(index);
						    this.checkIndividualOptional(index);
						});
		    		}, 750);
		    	}
		    }
		},

        created() {
			if(window.Laravel.language == 'cn'){
        		this.getTranslation();
        	}

        	this.fetchServiceList();
        },

        mounted() {
        	this.initChosenSelect();

        	$('#add-new-service-modal').on('hidden.bs.modal', () => {
				this.resetAddNewServiceForm();
			});
        }
    }
</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
	.checkbox-inline {
		margin-top: -7px;
	}
	div.padd-10-0-0-40 {
		padding: 10px 0px 0px 40px;
	}
	label.text-normal {
		font-weight: normal;
	}
</style>