<template>
  <div>
      
        <div class="row timeline-movement timeline-movement-top no-dashed no-side-margin" v-if="log3.year != null">
            <div class="timeline-badge timeline-filter-movement">
                <a href="#">
                    <span>{{log3.year}}</span>
                </a>
            </div>
        </div>
        <div class="row timeline-movement  no-side-margin">
            <div class="timeline-badge" v-if="log3.month != null">
                <span class="timeline-balloon-date-day">{{log3.day}}</span>
                <span class="timeline-balloon-date-month">{{log3.month}}</span>
            </div>

                <div class="col-sm-12  timeline-item">
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-1">
                            <div class="timeline-panel debits" >
                                <ul class="timeline-panel-ul">
                                    <li><p><small class="text-muted">{{ (translation) ? translation['current-commission'] : 'Current Commission' }} : <b>{{log3.data.commission | currency}}</b></small></p> </li>
                                    <li><p><small class="text-muted">{{ (translation) ? translation['prev-commission'] : 'Previous Commission' }} : <b>{{log3.data.prevcommission | currency}}</b></small></p> </li>
                                    <li><p><small class="text-muted">{{ (translation) ? translation['type'] : 'Type' }} : <b>{{log3.data.type }}</b></small></p> </li>
                                </ul>
                            </div>

                        </div>

                        <div class="col-sm-9">
                            <div class="timeline-panel debits" >
                                <ul class="timeline-panel-ul">
                                  <span v-if="log3.data.old_detail!=null" class="glyphicon glyphicon-chevron-down" :id="'span'+log3.data.id" @click="toggleTrans(log3.data.id)" style="float: right; cursor: pointer"></span>
                                    <li><span class="importo" v-html="this.detail"></span></li>
                                    <li><span class="causale">{{log3.data.processor}}</span> </li>
                                    <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{log3.data.date}}</small></p> </li>
                                    <li v-if="log3.data.old_detail!=null" class="hide" :id="'trans'+log3.data.id"><p><span v-html="log3.data.old_detail"></span></p> </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

        </div>
    
  </div>
</template>

<script>
export default {
  props: ['log3'],
  data() {
    return {
      translation: null
    }
  },
  methods:{
    select(id){
       this.$parent.selectItem(id)
    },
    toggleTrans(id){
      $("#trans"+id).toggleClass("hide");
      $("#span"+id).toggleClass("glyphicon-chevron-down glyphicon-chevron-up");
    }
  },
  computed:{
    detail(){
      var res = this.log3.data.title;
      return res.replace("</br>", " ");
    }
  },
  created() {
      console.log(this.log3);
    this.translation = this.$parent.transactionLogsTranslation;
  }
}
</script>