<template>
	
	<form class="form-horizontal" @submit.prevent="addDocs">

		<div>
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	Required Documents: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
		            <select data-placeholder="Select Docs" class="chosen-select-for-required-docs" multiple style="width:350px;" tabindex="4">
		                <option v-for="doc in requiredDocs" :value="doc.id">
		                	{{ (doc.title).trim() }}
		                </option>
		            </select>
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	Optional Documents:
			    </label>

			    <div class="col-md-10">
		            <select data-placeholder="Select Docs" class="chosen-select-for-optional-docs" multiple style="width:350px;" tabindex="4">
		                <option v-for="doc in optionalDocs" :value="doc.id">
		                	{{ (doc.title).trim() }}
		                </option>
		            </select>
			    </div>
			</div>
		</div>

		<button type="submit" class="btn btn-primary pull-right">Save</button>
	    <button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">Close</button>

	</form>

</template>

<script>
	
	export default {

    	data() {
        	return {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
        		requiredDocs: [],
        		optionalDocs: [],
        		docsForm : new Form({
        			serviceid: '',
        			docs: ''
        		}, { baseURL: axiosAPIv1.defaults.baseURL })
        	}
        },

        methods: {

			initChosenSelect() {

				$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').chosen({
					width: "100%",
					no_results_text: "No result/s found.",
					search_contains: true
				});

			},


			fetchDocs(id){
				$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').val('').trigger('chosen:updated');

				this.docsForm.serviceid = id[0].id;

				if(this.docsForm.docs == '')
					var rcv = ( id[0].rcv!=null ? id[0].rcv.split(",") : '');
				else
					var rcv = this.docsForm.docs.split(",");

			 	axios.get('/visa/group/'+id[0].docs_needed+'/service-docs')
			 	  .then(result => {
		            this.requiredDocs = result.data;
		        });
	        	
			 	axios.get('/visa/group/'+id[0].docs_optional+'/service-docs')
			 	  .then(result => {
		            this.optionalDocs = result.data;
		        });

	        	setTimeout(() => {
	        		$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').trigger('chosen:updated');
	        		$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').val(rcv).trigger('chosen:updated');
	        	}, 2000);
			},

        	addDocs() {

        		var requiredDocs = '';
        		$('.chosen-select-for-required-docs option:selected').each( function(e) {
			        requiredDocs += $(this).val() + ',';
			    });

        		var optionalDocs = '';
        		$('.chosen-select-for-optional-docs option:selected').each( function(e) {
			        optionalDocs += $(this).val() + ',';
			    });

			    var docs = requiredDocs + optionalDocs;
				this.docsForm.docs = docs.slice(0, -1);

				if(requiredDocs == ''){
					toastr.error('Please select Required Documents.');
				} else {
	        		this.docsForm.submit('post', '/visa/add-docs')
			            .then(response => {
			            	if(response.success) {
			            		$(".chosen-select-for-required-docs, .chosen-select-for-optional-docs").val('').trigger('chosen:updated');
			            		$('#docs-modal').modal('hide');
			            		toastr.success(response.message);
			            	}
			            });
				}

        	}
        },

        mounted() {
        	this.initChosenSelect();
        }

    }

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>