<template>
	
	<div v-if="documentlogsdetails.length > 0" class="row" style="padding-left:33px;">
		<h2>Documents on hand:</h2>

		<div v-if="!quickRelease" class="col-md-12">
			<button @click="quickRelease = true" class="btn btn-success btn-sm">
				Enable Quick Release
			</button>
		</div>

		<div style="height:10px; clear:both;"></div>

		<div v-if="documentlogsdetails.length <= 10">
			<div class="col-md-6">
				<ul :class="{'unstyled' : quickRelease}">
					<li v-for="(detail, index) in documentlogsdetails">
						<label>
							<input type="checkbox" v-model="quickReleaseForm.documents" :value="detail.id" v-if="quickRelease"> 
							{{ detail.title }}
						</label>
					</li>
				</ul>

				<div v-if="quickRelease" class="pull-right">
					<span v-if="!loading">
						<button @click="cancelQuickRelease" class="btn btn-danger btn-sm">
							Cancel
						</button>
						<button @click="submitQuickRelease" class="btn btn-primary btn-sm">
							Release
						</button>
					</span>
					<span v-else>
						<button type="button" class="btn btn-primary btn-sm">
					        <div class="sk-spinner sk-spinner-wave" style="width:40px;height:20px;margin-right:5px;">
					            <div class="sk-rect1 sk-react"></div>
					            <div class="sk-rect2 sk-react"></div>
					            <div class="sk-rect3 sk-react"></div>
					            <div class="sk-rect4 sk-react"></div>
					            <div class="sk-rect5 sk-react"></div>
					        </div>
					    </button>
					</span>
				</div>
			</div>
			<div class="col-md-6">
			</div>
		</div>

		<div v-else-if="documentlogsdetails.length > 10">
			<div class="col-md-6">
				<ul :class="{'unstyled' : quickRelease}">
					<li v-for="(detail, index) in documentlogsdetails" v-if="index < Math.ceil(documentlogsdetails.length/2)">
						<label>
							<input type="checkbox" v-model="quickReleaseForm.documents" :value="detail.id" v-if="quickRelease"> 
							{{ detail.title }}
						</label>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul :class="{'unstyled' : quickRelease}">
					<li v-for="(detail, index) in documentlogsdetails" v-if="index >= Math.ceil(documentlogsdetails.length/2)">
						<label>
							<input type="checkbox" v-model="quickReleaseForm.documents" :value="detail.id" v-if="quickRelease"> 
							{{ detail.title }}
						</label>
					</li>
				</ul>

				<div v-if="quickRelease" class="pull-right">
					<span v-if="!loading">
						<button @click="cancelQuickRelease" class="btn btn-danger btn-sm">
							Cancel
						</button>
						<button @click="submitQuickRelease" class="btn btn-primary btn-sm">
							Release
						</button>
					</span>
					<span v-else>
						<button type="button" class="btn btn-primary btn-sm">
						    <div class="sk-spinner sk-spinner-wave" style="width:40px;height:20px;margin-right:5px;">
						        <div class="sk-rect1 sk-react"></div>
						        <div class="sk-rect2 sk-react"></div>
						        <div class="sk-rect3 sk-react"></div>
						        <div class="sk-rect4 sk-react"></div>
						        <div class="sk-rect5 sk-react"></div>
						    </div>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>

</template>

<script>
	
	export default {
		props: ['documentlogsdetails'],

		data() {
			return {
				loading: false,

				quickRelease: false,

				quickReleaseForm: {
					clientId: null,
					documents: []
				}
			}
		},

		methods: {
			cancelQuickRelease() {
				this.quickRelease = false;

				this.quickReleaseForm.documents = [];
			},

			submitQuickRelease() {
				if( this.quickReleaseForm.documents.length == 0 ) {
					toastr.error('Please select from documents on hand.');

					return;
				} else {
					this.loading = true;

					axios.post('/visa/client/quick-release', this.quickReleaseForm)
					.then((response) => {
						this.loading = false;

						if( response.data.success ) {
							this.$parent.getDocumentLogs();

							this.cancelQuickRelease();

							this.$parent.showAllServices();
							this.$parent.updateTrackingList(window.Laravel.data.data.id);
							this.$parent.reloadComputation();
							this.$parent.reloadTransactionLogs();

							toastr.success('Document/s released successfully.');
						}
					});
				}
			}
		},

		created() {
			this.quickReleaseForm.clientId = window.Laravel.data.data.id;
		}
	}

</script>

<style scoped>
	div.sk-react {
		background-color: #fff;
	}
</style>