<template>
	
	<div>
        <div class="row timeline-movement timeline-movement-top no-dashed no-side-margin" v-if="log3.year != null">
            <div class="timeline-badge timeline-filter-movement">
                <a href="#">
                    <span>{{ log3.year }}</span>
                </a>
            </div>
        </div>
        <div class="row timeline-movement  no-side-margin">
            <div class="timeline-badge" v-if="log3.month != null">
                <span class="timeline-balloon-date-day">{{ log3.day }}</span>
                <span class="timeline-balloon-date-month">{{ log3.month }}</span>
            </div>

            <div class="col-sm-12 timeline-item">
                <div class="row">
                    <div class="col-sm-11 col-sm-offset-1">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">

                                <div :id="'panel-'+index" class="panel panel-default">
                                    <div class="panel-heading">
                                        <span v-if="log3.data.active == 0" class="label label-default">DISABLED</span>
                                        <span v-else class="label" :class="{
                                            'pending-status': (log3.data.status == 'pending'),
                                            'on-process-status': (log3.data.status == 'on process'),
                                            'complete-status': (log3.data.status == 'complete'),
                                        }">
                                            {{ log3.data.status.toUpperCase() }}
                                        </span>

                                        <span style="margin-left:10px;">
                                            {{ log3.data.service_name }}
                                        </span>
                                        
                                        <span class="pull-right">
                                            Created at: {{ log3.data.created_at }}
                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                            <li v-for="(documentLog, i) in log3.data.lists" class="detail-list" :class="{'latest': i == 0, 'hide' : i > 0, 'hide-marker' : i > 0}">
                                                <span v-html="documentLog.detail"></span>

                                                <ul class="document-lists" style="list-style-type:none;">
                                                    <li v-for="document in documentLog.documents" :class="{'unique':document.is_unique == 1, 'latest':document.latest, 'hide':!document.latest, 'hide-marker':!document.latest}">
                                                        {{ document.title }}
                                                        
                                                        <span class="label label-default">
                                                            {{ document.processor }}
                                                            --
                                                            {{ formatDatetime(document.created_at) }}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>

                                        <button type="button" class="btn btn-default btn-sm pull-right see-more-see-less-btn" v-if="seeMoreSeeLessBtnVisibility" @click="toggleVisibility">
                                            {{ seeMoreSeeLessBtnText }}
                                        </button>
                                    </div>
                                </div>
                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  	</div>

</template>

<script>

	export default {
		props: ['log3', 'index'],

        data() {
            return {
                seeMoreSeeLessBtnVisibility: false,
                seeMoreSeeLessBtnText: 'See more'
            }
        },

        methods: {
            formatDatetime(dateTime) {
                return moment(dateTime).format("MMM DD, YYYY hh:mm A");
            },

            toggleVisibility() {
                if( this.seeMoreSeeLessBtnText == 'See more') {
                    this.seeMoreSeeLessBtnText = 'See less';
                    $('div#panel-' + this.index + ' li.hide-marker').removeClass('hide');
                } else {
                    this.seeMoreSeeLessBtnText = 'See more';
                    $('div#panel-' + this.index + ' li.hide-marker').addClass('hide');
                }   
            }
        },

        watch: {
            log3: {
                immediate: true,
                deep: true,
                handler (log) {
                    var flag = false;

                    log.data.lists.forEach(list => {
                        list.documents.forEach(document => {
                            if( document.latest == false ) {
                                flag = true;
                            }
                        });
                    });

                    this.seeMoreSeeLessBtnVisibility = flag;
                    this.seeMoreSeeLessBtnText = 'See more';
                }
            }
        }
	}

</script>

<style scoped>
    #timeline .timeline-movement .timeline-item .timeline-panel {
        border: none;
        box-shadow: none;
    }
    .pending-status {
        background-color: #f0ad4e;
        color: #fff;
    }
    .on-process-status {
        background-color: #5cb85c;
        color: #fff;
    }
    .complete-status {
        background-color: #5bc0de;
        color: #fff;
    }
    ul.document-lists li:before {
        content: "\2022";
        color: black;
        font-weight: bold;
        width: 1em;
        margin-left: -1em;
        font-size: 16px;
    }
    ul.document-lists li.unique:before {
        color: red;
    }
    ul.document-lists li.latest {
        font-weight: bold;
        color: black;
    }
    button.see-more-see-less-btn {
        font-weight: bold;
    }
    ul li.detail-list {
        margin: 0 0 15px 0;
    }
</style>