<template>
	<form class="form-horizontal" @submit.prevent="editClientService">
		<div>

				<div class="col-md-12">
					<div class="form-group col-md-6" v-if="$parent.$parent.editServ.status=='complete' && checkDetail() && $parent.$parent.editServ.active==1">
							<template v-if="postDetail()=='9a'">
							<label class="col-md-4 control-label ">
								{{ (translation) ? translation['ext-expiry'] : 'Ext. expiry' }}:
							</label>
							</template>
							<template v-else>
							<label class="col-md-4 control-label ">
								{{ (translation) ? translation['expiration-date'] : 'Expiration Date' }}:
							</label>
							</template>
							<div class="col-md-8">
								
						        <!--<the-mask v-model="$parent.$parent.editServ.exp_date" id="exp_date"  class="input-sm form-control" name="exp_date"  placeholder="YYYY-MM-DD"  mask="####-##-##" />-->
							    	<input style="width : 175px;" type="text" onkeyup="
													var v = this.value;
													if (v.match(/^\d{4}$/) !== null) {
														this.value = v + '-';
													} else if (v.match(/^\d{4}\-\d{2}$/) !== null) {
														this.value = v + '-';
													}" v-model="$parent.$parent.editServ.exp_date" id="exp_date"  class="input-sm form-control" name="exp_date"  placeholder="YYYY-MM-DD" maxlength="10" >
								
							</div>
					</div>
				    <div class="form-group col-md-6" style="margin-right: 40px !important; ">
				    	<label class="col-md-4 control-label ">
				            {{ (translation) ? translation['status'] : 'Status' }}:
				        </label>
				        <div class="col-md-8">
				        	<select class="form-control" name="status" id="status" style="width : 175px;" v-model="$parent.$parent.editServ.status" @change="genDate()">
	                            <option value="complete">
	                            	{{ (translation) ? translation['complete'] : 'Complete' }}
	                            </option>
	                            <option value="on process">
	                            	{{ (translation) ? translation['on-process'] : 'On Process' }}
	                            </option>
	                            <option value="pending">
	                            	{{ (translation) ? translation['pending'] : 'Pending' }}
	                            </option>
	                 </select>
				        </div>
				    </div>
				</div>
				<template  v-if="$parent.$parent.editServ.status=='complete' && checkDetail() && $parent.$parent.editServ.active==1">

					<template v-if="postDetail()=='9a'">
						<div class="col-md-12">
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label ">
									{{ (translation) ? translation['arrival-date'] : 'Arrival Date' }}:
								</label>
									<div class="col-md-8">
										
											 <!--<the-mask v-model="$parent.$parent.editServ.arrival_date" id="arrival_date"  class="input-sm form-control" name="arrival_date"  placeholder="YYYY-MM-DD"  mask="####-##-##" />-->
											 <!--<input type="text" v-mask="'####-##-##'" v-model="$parent.$parent.editServ.arrival_date" id="arrival_date"  class="input-sm form-control" name="arrival_date"  placeholder="YYYY-MM-DD">-->
											<input style="width : 175px;" type="text" onkeyup="
												var v = this.value;
												if (v.match(/^\d{4}$/) !== null) {
													this.value = v + '-';
												} else if (v.match(/^\d{4}\-\d{2}$/) !== null) {
													this.value = v + '-';
												}" v-model="$parent.$parent.editServ.arrival_date" id="arrival_date"  class="input-sm form-control" name="arrival_date"  placeholder="YYYY-MM-DD"  maxlength="10">
										
									</div>
							</div>
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label ">
									{{ (translation) ? translation['first-expiry'] : '1st expiry' }}:
								</label>
								<div class="col-md-8">
									
										 <!--<the-mask v-model="$parent.$parent.editServ.first_exp_date" id="first_exp_date"  class="input-sm form-control" name="first_exp_date"  placeholder="YYYY-MM-DD"  mask="####-##-##" />-->
										 <input style="width : 175px;" type="text" onkeyup="
												var v = this.value;
												if (v.match(/^\d{4}$/) !== null) {
													this.value = v + '-';
												} else if (v.match(/^\d{4}\-\d{2}$/) !== null) {
													this.value = v + '-';
												}" v-model="$parent.$parent.editServ.first_exp_date" id="first_exp_date"  class="input-sm form-control" name="first_exp_date"  placeholder="YYYY-MM-DD" maxlength="10">
									
								</div>
						</div>
						</div>
					</template>
					<template v-if="postDetail()=='9g' || postDetail()=='trv'">
						<div class="col-md-12">
							<!--
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label ">
											ICard:
								</label>
									<div class="col-md-8">
										<div class="form-group">
											 <input type="text" v-model="$parent.$parent.editServ.icard" id="icard" name="icard" class="form-control" placeholder="Icard"/>
										</div>
									</div>
							</div>
							-->
							<div class="form-group col-md-6">
								<label class="col-md-4 control-label ">
									{{ (translation) ? translation['icard-issued'] : 'ICard Issued' }}:
								</label>
								<div class="col-md-8">
									<div class="form-group">
										 <!--<the-mask v-model="$parent.$parent.editServ.issue_date" id="issue_date"  class="input-sm form-control" name="issue_date"  placeholder="YYYY-MM-DD"  mask="####-##-##" />-->
										 <input style="width : 175px;" type="text" onkeyup="
												var v = this.value;
												if (v.match(/^\d{4}$/) !== null) {
													this.value = v + '-';
												} else if (v.match(/^\d{4}\-\d{2}$/) !== null) {
													this.value = v + '-';
												}"  v-model="$parent.$parent.editServ.issue_date" id="issue_date"  class="input-sm form-control" name="issue_date"  placeholder="YYYY-MM-DD" maxlength="10">
									</div>
								</div>
							</div>
							<div class="form-group col-md-6 ">
								<label class="col-md-4 control-label ">
									{{ (translation) ? translation['icard-expiry'] : 'ICard expiry' }}:
								</label>
									<div class="col-md-8">
										<div class="form-group">
												<!--<the-mask v-model="$parent.$parent.editServ.icard_exp_date" id="icard_exp_date"  class="input-sm form-control" name="icard_exp_date"  placeholder="YYYY-MM-DD"  mask="####-##-##" />-->
												<input style="width : 175px;" type="text" onkeyup="
												var v = this.value;
												if (v.match(/^\d{4}$/) !== null) {
													this.value = v + '-';
												} else if (v.match(/^\d{4}\-\d{2}$/) !== null) {
													this.value = v + '-';
												}"  v-model="$parent.$parent.editServ.icard_exp_date" id="icard_exp_date"  class="input-sm form-control" name="icard_exp_date"  placeholder="YYYY-MM-DD" maxlength="10">
										</div>
									</div>
							</div>
						</div>

					</template>

				</template>

				<div class="col-md-12">
				    <div class="form-group col-md-6">
				    	<label class="col-md-4 control-label ">
				            {{ (translation) ? translation['extra-cost'] : 'Extra Cost' }}:
				        </label>
				        <div class="col-md-8">
				        	<input type="number" min="0" class="form-control" name="tip"  v-model="$parent.$parent.editServ.tip" style="width : 175px;">
				        </div>
				    </div>
					<div class="form-group col-md-6">
				    	<label class="col-md-4 control-label ">
				            {{ (translation) ? translation['charge'] : 'Charge' }}:
				        </label>
				        <div class="col-md-8">
				        	<input type="number" min="0" class="form-control" name="charge" readonly  v-model="$parent.$parent.editServ.charge" style="width : 175px;">
				        </div>
				    </div>
				</div>

		    	<div class="col-md-12">
				    <div class="form-group col-md-6">
				    	<label class="col-md-4 control-label ">
				            {{ (translation) ? translation['cost'] : 'Cost' }}:
				        </label>
				        <div class="col-md-8">
				        	<input type="number" min="0" class="form-control" name="cost" v-model="$parent.$parent.editServ.cost" style="width : 175px;">
				        </div>
				    </div>

				    <div class="form-group  col-md-6"  v-if="admin == '1' || admin == '1193' || admin == '2352'">
				    	<label class="col-md-4 control-label ">
				            {{ (translation) ? translation['discount'] : 'Discount' }}:
				        </label>
				        <div class="col-md-8">
				        	<input type="number" class="form-control" name="discount" v-model="$parent.$parent.editServ.discount" min="0" style="width : 175px;">
				        </div>
				    </div>
				</div>

			
			    <div class="form-group col-md-12" v-if="$parent.$parent.editServ.discount > 0">
			    	<label class="col-md-2 control-label" >
			            {{ (translation) ? translation['reason'] : 'Reason' }}:
			        </label>
			        <div class="col-md-10">
			        	<input type="text" class="form-control" name="reason" v-model="$parent.$parent.editServ.reason">
			        </div>
			    </div>

			    <div class="form-group col-md-12">
			    	<label class="col-md-2 control-label">
			            {{ (translation) ? translation['note'] : 'Note' }}:
			        </label>
			        <div class="col-md-9">
			        	<input type="text" class="form-control" name="note" v-model="$parent.$parent.editServ.note" placeholder="for internal use only, only employees can see.">
			        </div>
			    </div>
		

			<div classs="col-md-12">
				<div class="form-group col-md-6">

						<label class="col-md-4 control-label">
					        {{ (translation) ? translation['status'] : 'Status' }}:
					    </label>
					    <div class="col-md-8">
					    	<div style="height:5px;clear:both;"></div>
					        <label class=""> <input type="radio" value="0" name="active" v-model="$parent.$parent.editServ.active"> <i></i> {{ (translation) ? translation['disabled'] : 'Disabled' }} </label>

		                    <label class="m-l-2"> <input type="radio" value="1" name="active" v-model="$parent.$parent.editServ.active"> <i></i> {{ (translation) ? translation['enabled'] : 'Enabled' }} </label>
		                </div>

			    </div>
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label ">
				        {{ (translation) ? translation['extend-to'] : 'Extend To' }}:
				    </label>
				    <div class="col-md-6">
				    	<form id="daily-form" class="form-inline">
	                        <div class="form-group">
	                            <div class="input-group date">
	                                <span class="input-group-addon">
	                                    <i class="fa fa-calendar"></i>
	                                </span>
	                                <input type="date" id="date" v-model="$parent.$parent.editServ.extend" class="form-control" autocomplete="off" name="date" max="3000-12-12">
	                            </div>
	                        </div>
	                    </form>
				    </div>
				</div>

				<!-- DOCUMENTS -->
				<!-- <div v-show="requiredDocumentsLoading || optionalDocumentsLoading || documentsToBeReleasedLoading || optionalDocumentsToBeReleasedLoading">
					<div class="row">
						<div class="col-md-12">
					    	<center>
						    	<div class="spiner-example">
						            <div class="sk-spinner sk-spinner-wave">
						                <div class="sk-rect1"></div>
						                <div class="sk-rect2"></div>
						                <div class="sk-rect3"></div>
						                <div class="sk-rect4"></div>
						                <div class="sk-rect5"></div>
						            </div>
						        </div>
					        </center>
				        </div>
			        </div>
				</div>

				<div v-show="!requiredDocumentsLoading && !optionalDocumentsLoading && !documentsToBeReleasedLoading && !optionalDocumentsToBeReleasedLoading">
					<div class="row" v-show="$parent.$parent.editServ.status == 'pending' || $parent.$parent.editServ.status == 'on process'">
						<div class="col-md-6">
							<div class="form-group row">
							    <label class="col-md-12">
							       	{{ (translation) ? translation['required-documents'] : 'Required Documents' }}:
							    </label>

							    <div class="col-md-12 padd-10-0-0-40">
						            <div v-for="doc in requiredDocs">
							           	<label class="text-normal">
							            	<input type="checkbox" :value="doc.id" v-model="rDocs"> {{ (doc.title).trim() }}
							            </label>
							        </div>

							        <div style="height:6px;clear:both;"></div>
							        <p class="text-muted" v-if="requiredDocs.length == 0">{{ (translation) ? translation['no-documents-to-show'] : 'No documents to show.' }}</p>
							    </div>
							</div>

							<div class="form-group row">
							    <label class="col-md-12">
							       	{{ (translation) ? translation['optional-documents'] : 'Optional Documents' }}:
							    </label>

							    <div class="col-md-12 padd-10-0-0-40">
						            <div v-for="doc in optionalDocs">
							           	<label class="text-normal">
							            	<input type="checkbox" :value="doc.id" v-model="oDocs"> {{ (doc.title).trim() }}
							            </label>
							        </div>

							        <div style="height:6px;clear:both;"></div>
							        <p class="text-muted" v-if="optionalDocs.length == 0">{{ (translation) ? translation['no-documents-to-show'] : 'No documents to show.' }}</p>
							    </div>
							</div>
						</div>
						<div class="col-md-6"></div>
					</div>

					<div style="height:1px;clear:both;"></div>
					
					<div class="row" v-show="$parent.$parent.editServ.status == 'complete'">
						<div class="col-md-6">
							<div class="form-group row">
							    <label class="col-md-12">
							       	{{ (translation) ? translation['docs-released'] : 'Documents to be released' }}:
							    </label>

							    <div class="col-md-12 padd-10-0-0-40">
						            <div v-for="doc in documentsToBeReleased">
							           	<label class="text-normal">
							            	<input type="checkbox" :value="doc.id" v-model="docsToBeReleased" :disabled="$parent.$parent.editServ.status == 'pending'">
							            	{{ (doc.title).trim() }}
							            </label>
							        </div>

							        <div style="height:6px;clear:both;"></div>
							        <p class="text-muted" v-if="documentsToBeReleased.length == 0">{{ (translation) ? translation['no-documents-to-show'] : 'No documents to show.' }}</p>
							    </div>
							</div>

							<div class="form-group row">
							    <label class="col-md-12">
							       	{{ (translation) ? translation['optional-docs-released'] : 'Optional Documents to be released' }}:
							    </label>

							    <div class="col-md-12 padd-10-0-0-40">
						            <div v-for="doc in documentsToBeReleasedOptional" v-if="oDocs.includes((doc.id).toString())">
							           	<label class="text-normal">
							            	<input type="checkbox" :value="doc.id" v-model="docsToBeReleasedOptional" :disabled="$parent.$parent.editServ.status == 'pending'">
							            	{{ (doc.title).trim() }}
							            </label>
							        </div>

							        <div v-for="addtl in additionalOptionalDocumentsToBeReleased">
							           	<label class="text-normal">
							            	<input type="checkbox" :value="addtl.id" v-model="docsToBeReleasedOptional" :disabled="$parent.$parent.editServ.status == 'pending'">
							            	{{ (addtl.title).trim() }}
							            </label>
							        </div>

							        <div style="height:6px;clear:both;"></div>
							        <p class="text-muted" v-if="!optionalDocumentsToBeReleasedVisibility(documentsToBeReleasedOptional, oDocs) && additionalOptionalDocumentsToBeReleased.length == 0">{{ (translation) ? translation['no-documents-to-show'] : 'No documents to show.' }}</p>
							    </div>
							</div>
						</div>
						<div class="col-md-6"></div>
					</div>
				</div> -->
				<!-- DOCUMENTS -->

				<!-- DOCUMENT TRACKER -->
				<div class="row" v-show="$parent.$parent.editServ.status == 'pending' || $parent.$parent.editServ.status == 'on process'">
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-md-12">
							    {{ (translation) ? translation['required-documents'] : 'Required Documents' }}:
							</label>

							<div class="col-md-12 padd-10-0-0-40">
								<div v-for="doc in $parent.$parent.required_docs">
							        <label class="text-normal">
							           	<input type="checkbox" :value="doc.id" name="required_docs" :checked="isChecked($parent.$parent.rcvDocsOnHand, doc.id)" @change="check(doc.id)">
							           	{{ (doc.title).trim() }}
							        </label>
							    </div>

							    <p v-if="$parent.$parent.any_acr_icard_required_docs_array.length > 0" style="font-weight:bold; margin-top:10px;">
							        ACR-ICARD:
							    </p>
							    <div v-for="a in $parent.$parent.any_acr_icard_required_docs_array">
							        <label class="text-normal">
							            <input type="radio" :value="a.id" name="any_acr_icard_required_docs_array" :checked="isChecked($parent.$parent.rcvDocsOnHand, a.id)" @change="check(a.id)"> 
							            {{ a.title }}
							        </label>
							    </div>

							    <div style="height:6px;clear:both;"></div>

								<p class="text-muted" v-if="$parent.$parent.required_docs.length == 0 && $parent.$parent.any_acr_icard_required_docs_array.length == 0">
								    No documents to show.
								</p>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-12">
							    {{ (translation) ? translation['optional-documents'] : 'Optional Documents' }}:
							</label>

							<div class="col-md-12 padd-10-0-0-40">
								<div v-for="doc in $parent.$parent.optional_docs_array">
							        <label class="text-normal">
							           	<input type="checkbox" :value="doc.id" name="optional_docs_array" :checked="isChecked($parent.$parent.rcvDocsOnHand, doc.id)" @change="check(doc.id)">
							           	{{ (doc.title).trim() }}
							        </label>
							    </div>

							    <p v-if="$parent.$parent.any_acr_icard_optional_docs_array.length > 0" style="font-weight:bold; margin-top:10px;">
							        ACR-ICARD:
							    </p>
							    <div v-for="a in $parent.$parent.any_acr_icard_optional_docs_array">
							        <label class="text-normal">
							            <input type="radio" :value="a.id" name="any_acr_icard_optional_docs_array" :checked="isChecked($parent.$parent.rcvDocsOnHand, a.id)" @change="check(a.id)"> 
							            {{ a.title }}
							        </label>
							    </div>

							    <div style="height:6px;clear:both;"></div>

								<p class="text-muted" v-if="$parent.$parent.optional_docs_array.length == 0 && $parent.$parent.any_acr_icard_optional_docs_array.length == 0">
								    No documents to show.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6"></div>
				</div>

				<div style="height:1px;clear:both;"></div>
					
				<div class="row" v-show="$parent.$parent.editServ.status == 'complete'">
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-md-12">
							    {{ (translation) ? translation['docs-released'] : 'Documents to be released' }}:
							</label>

							<div class="col-md-12 padd-10-0-0-40">
								<div v-for="doc in $parent.$parent.outcome_docs">
							        <label class="text-normal">
							           	<input type="checkbox" :value="doc.id" name="outcome_docs" :checked="isChecked($parent.$parent.rcvDocsReleasedOnHand, doc.id)" :disabled="isChecked($parent.$parent.rcvDocsReleasedOnHand, doc.id)">
							           	{{ (doc.title).trim() }}
							        </label>
							    </div>

							    <div style="height:6px;clear:both;"></div>

							    <p class="text-muted" v-if="$parent.$parent.outcome_docs.length == 0">
							    	{{ (translation) 
							    		? translation['no-documents-to-show'] 
							    		: 'No documents to show.' 
							    	}}
							    </p>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-12">
							    {{ (translation) ? translation['optional-docs-released'] : 'Optional Documents to be released' }}:
							</label>

							<div class="col-md-12 padd-10-0-0-40">
								<div v-for="doc in $parent.$parent.outcome_optional_docs">
							        <label class="text-normal">
							           	<input type="checkbox" :value="doc.id" name="outcome_optional_docs" :checked="isChecked($parent.$parent.rcvDocsReleasedOnHand, doc.id)" :disabled="isChecked($parent.$parent.rcvDocsReleasedOnHand, doc.id)">
							           	{{ (doc.title).trim() }}
							        </label>
							    </div>

							    <div style="height:6px;clear:both;"></div>

							    <p class="text-muted" v-if="$parent.$parent.outcome_optional_docs.length == 0">
							    	{{ (translation) 
							    		? translation['no-documents-to-show'] 
							    		: 'No documents to show.' 
							    	}}
							    </p>
							</div>
						</div>
					</div>
					<div class="col-md-6"></div>
				</div>			
				<!-- DOCUMENT TRACKER -->

			</div>
		</div>

 <!--			<div class="col-md-12">
				<div class="form-group">
				    <label class="col-md-2 control-label">
				        Reporting:
				    </label>
				    <div class="col-md-10">
				        <input type="text" class="form-control" name="reporting" v-model="$parent.$parent.editServ.reporting">
				    </div>
				</div>
			</div> -->

		<div style="height:10px; clear:both;"></div>

    	<div class="col-md-12">
			<a class="btn btn-default pull-right m-r-10" data-dismiss="modal">
				{{ (translation) ? translation['close'] : 'Close' }}
			</a>
			<button v-if="!loading && $parent.$parent.editloading" type="submit" class="btn btn-primary pull-right" style="margin-right:5px;">
				{{ (translation) ? translation['save'] : 'Save' }}
			</button>
	    	<button v-if="loading" type="button" class="btn btn-primary pull-right">
		        <div class="sk-spinner sk-spinner-wave" style="width:40px;height:20px;margin-right:5px;">
		            <div class="sk-rect1 edit-service-sk-react"></div>
		            <div class="sk-rect2 edit-service-sk-react"></div>
		            <div class="sk-rect3 edit-service-sk-react"></div>
		            <div class="sk-rect4 edit-service-sk-react"></div>
		            <div class="sk-rect5 edit-service-sk-react"></div>
		        </div>
		    </button>
	    </div>
    </form>

</template>

<script>
    export default{
    	props: ['tracking','client_id'],

        data() {
        	return {
        		loading: false,

        		requiredDocumentsLoading: false,
        		optionalDocumentsLoading: false,
        		documentsToBeReleasedLoading: false,
        		optionalDocumentsToBeReleasedLoading: false,

        		translation: null,

        		rDocs: [],
        		oDocs: [],
        		docsToBeReleased: [],
        		docsToBeReleasedOptional: [],

        		servicesList: [],
						tempHolder:'',
        		cost: '',

        		clients: [],

        		requiredDocs: [],
        		optionalDocs: [],
        		documentsToBeReleased: [],
        		documentsToBeReleasedOptional: [],

        		admin : null,
						nsrv:'',

				additionalOptionalDocumentsToBeReleased: []
        	}
        },
		watch:{

		},
		computed: {

		},
        methods: {

        	getTranslation() {
        		axios.get('/visa/client/translation/edit-service')
			        .then(response => {
			        	this.translation = response.data.translation;
			        });
        	},

        	isChecked(documentsOnHand, documentId) {
        		if( documentsOnHand != null ) {
        			let arr = documentsOnHand.split(',');

        			return arr.includes(documentId);
        		}

        		return false;
        	},

        	check(docID){
        		var temp1 = '';
				$.each($('input[name="required_docs"]:checked'), function() {
		            temp1 += $(this).val() + ',';
		        });
				//console.log(temp1);
		        var any_acr_icard_required_docs_array = $('input[name^="any_acr_icard_required_docs_array"]:checked').val();
		        if( any_acr_icard_required_docs_array != undefined ) {
		        	temp1 += any_acr_icard_required_docs_array + ',';
		        }

		        $.each($('input[name="optional_docs_array"]:checked'), function() {
				    temp1 += $(this).val() + ',';
				});
		        var any_acr_icard_optional_docs_array = $('input[name^="any_acr_icard_optional_docs_array"]:checked').val();
		        if( any_acr_icard_optional_docs_array != undefined ) {
		        	temp1 += any_acr_icard_optional_docs_array + ',';
		        }
				//console.log(temp1);

        		this.$parent.$parent.rcvDocsOnHand = temp1;
        	},

        	optionalDocumentsToBeReleasedVisibility(documentsToBeReleasedOptional, oDocs) {
        		var visibility = false;

        		documentsToBeReleasedOptional.forEach(doc => {
        			if( oDocs.includes((doc.id).toString()) ) {
        				visibility = true;
        			}
        		});

        		return visibility;
        	},

					checkDetail(){
						var l = false;
						//if(this.$parent.$parent.editServ.detail.toLowerCase().indexOf("9a") >= 0 || this.$parent.$parent.editServ.detail.toLowerCase().indexOf("9g") >= 0 || this.$parent.$parent.editServ.detail.toLowerCase().indexOf("trv") >= 0 || this.$parent.$parent.editServ.detail.toLowerCase().indexOf("cwv") >= 0){
						if(this.$parent.$parent.editServ.parent_id==63 || this.$parent.$parent.editServ.parent_id==114 || this.$parent.$parent.editServ.parent_id==70 || this.$parent.$parent.editServ.parent_id==238){
							l = true;
						}
						//console.log(this.$parent.$parent.editServ.parent_id);
						return l;
					},
					genDate(){
						if(this.$parent.$parent.editServ.status=='complete'){
							this.$parent.$parent.editServ.exp_date = this.tempHolder;
							if(this.checkDetail() && this.$parent.$parent.editServ.parent_id!=114 ){
								if(this.$parent.$parent.editServ.exp_date != '' && this.$parent.$parent.editServ.exp_date != null){									
									var str = this.MandY();
									var d = moment(this.$parent.$parent.editServ.exp_date,'YYYY-MM-DD').add(str,'months');

								  this.$parent.$parent.editServ.exp_date=moment(d,'YYYY-MM-DD').format('YYYY-MM-DD');
								}
								else{
									this.$parent.$parent.editServ.exp_date = '';
									//$parent.$parent.editServ.exp_date
								}
							}
						}
					},
					MandY(){
						var m = 0;		
						m = this.$parent.$parent.editServ.months_required;	
						return m;
					},
					postDetail(){
						if(this.$parent.$parent.editServ.parent_id==114){
							return '9a';
						}else if(this.$parent.$parent.editServ.parent_id == 63){
							return '9a';
						}else if(this.$parent.$parent.editServ.parent_id== 70){
							return '9g';
						}else if(this.$parent.$parent.editServ.parent_id== 148){
							return 'trv';
						}else if(this.$parent.$parent.editServ.parent_id== 238){
							return 'cwv';
						}else{
							return ''
						}
					},
        	resetEditServiceForm() {
        		this.$parent.$parent.editServ.cost = 0;
        		this.$parent.$parent.editServ.tip = 0;
        		this.$parent.$parent.editServ.charge = 0;
        		this.$parent.$parent.editServ.status = "";
        		this.$parent.$parent.editServ.prev_status = "";
        		this.$parent.$parent.editServ.active = 0;
        		this.$parent.$parent.editServ.discount = 0;
        		this.$parent.$parent.editServ.reason = "";
        		this.$parent.$parent.editServ.note = "";
        		this.$parent.$parent.editServ.id = null;
        		this.$parent.$parent.editServ.reporting = '';
        		this.$parent.$parent.editServ.extend = "";
        		this.$parent.$parent.editServ.rcv_docs = "";
        		this.$parent.$parent.editServ.rcv_docs_released = "";
				this.$parent.$parent.editServ.detail = "";
				this.$parent.$parent.editServ.exp_date = "";

				this.requiredDocs = [];
				this.optionalDocs = [];
				this.documentsToBeReleased = [];
				this.documentsToBeReleasedOptional = [];
				this.additionalOptionalDocumentsToBeReleased = [];

				this.rDocs = [];
        		this.oDocs = [];
        		this.docsToBeReleased = [];
        		this.docsToBeReleasedOptional = [];

        		this.$parent.$parent.required_docs = [];
				this.$parent.$parent.any_acr_icard_required_docs_array = [];
				this.$parent.$parent.optional_docs_array = [];
				this.$parent.$parent.any_acr_icard_optional_docs_array = [];
				this.$parent.$parent.outcome_docs = [];
				this.$parent.$parent.outcome_optional_docs = [];
        	},
			compareDates(val,val2){
				var CurrentDate = moment().format('YYYY-MM-DD');
				var ret = true;
				
				if(val2==1){//9a or downgrading
					if(val=='arrival'){
						if(moment(this.$parent.$parent.editServ.arrival_date,'YYYY-MM-DD').diff(CurrentDate)>0){
							ret = false;//arrival cannot be future
					
						}
					}else if(val=='first'){
						if(moment(this.$parent.$parent.editServ.first_exp_date,'YYYY-MM-DD').diff(moment(this.$parent.$parent.editServ.arrival_date,'YYYY-MM-DD'))<=0){
							ret = false;//first exp cannot be lessthan or equal to arrival date
						
						}
					}else if(val=='exp'){
						if(moment(this.$parent.$parent.editServ.exp_date,'YYYY-MM-DD').diff(moment(this.$parent.$parent.editServ.first_exp_date,'YYYY-MM-DD'))<=0){
							ret = false;//exp date cannot be lessthan or equal to first exp date
						
						}
					}
				}else if(val2==2){//9g or trv
					if(val=='issue'){
						if(moment(this.$parent.$parent.editServ.issue_date,'YYYY-MM-DD').diff(CurrentDate)>0){
							ret = false;//issue date cannot be ahead from today
						}
					}else if(val=='icard'){
						if(moment(this.$parent.$parent.editServ.icard_exp_date,'YYYY-MM-DD').diff(moment(this.$parent.$parent.editServ.issue_date,'YYYY-MM-DD'))<=0){
							ret = false;//icard expiration cannot be lessthan or equal to issue date
						}
					}else if(val=='exp'){
						if(moment(this.$parent.$parent.editServ.exp_date,'YYYY-MM-DD').diff(CurrentDate)<0){
							ret = false;//exp date must be present date
						}
					}
				}else if(val2==3){
					if(val=='exp'){
						if(moment(this.$parent.$parent.editServ.exp_date,'YYYY-MM-DD').diff(CurrentDate)<0){
							ret = false;//exp date must be present date
						}
					}
				}
				return ret;
			},

			checkIfRequiredDocsAreComplete() {
				let requiredOptions = $('input[name="required_docs"]').length + (this.$parent.$parent.any_acr_icard_required_docs_array.length > 0 ? 1 : 0);

	        	let requiredCount = $('input[name="required_docs"]:checked').length + $('input[name="any_acr_icard_required_docs_array"]:checked').length;
	        	//console.log("Options : "+requiredOptions);
	        	//console.log("req Count : "+requiredCount);
	        	return requiredOptions == requiredCount;
			},

			checkIfNoRequiredDocs() {
				let requiredOptions = $('input[name="required_docs"]').length + (this.$parent.$parent.any_acr_icard_required_docs_array.length > 0 ? 1 : 0);

	        	let requiredCount = $('input[name="required_docs"]:checked').length + $('input[name="any_acr_icard_required_docs_array"]:checked').length;

	        	if(requiredOptions > 0 && requiredCount == 0){
	        		return 1;
	        	}
	        	return 0;
			},

        	editClientService() {
				var flag = true;
				var requiredDocs = '';
				if(this.$parent.$parent.editServ.active==1){
					if(this.$parent.$parent.editServ.exp_date!='' && this.$parent.$parent.editServ.exp_date!=null && flag){
						flag = this.isValidDate(this.$parent.$parent.editServ.exp_date);
						if(!flag) toastr.error('Expiration date format is incorrect');
					}
					if(this.$parent.$parent.editServ.arrival_date!='' && this.$parent.$parent.editServ.arrival_date!=null && flag){
						flag = this.isValidDate(this.$parent.$parent.editServ.arrival_date);
						if(!flag) toastr.error('Arrival date format is incorrect');
					}
					if(this.$parent.$parent.editServ.icard_exp_date!='' && this.$parent.$parent.editServ.icard_exp_date!=null && flag){
						flag = this.isValidDate(this.$parent.$parent.editServ.icard_exp_date);
						if(!flag) toastr.error('Icard expiration date format is incorrect');
					}
					if(this.$parent.$parent.editServ.first_exp_date!='' && this.$parent.$parent.editServ.first_exp_date!=null && flag){
						flag = this.isValidDate(this.$parent.$parent.editServ.first_exp_date);
						if(!flag) toastr.error('First expiration date format is incorrect');
					}
				}
				if(flag){
					
					$('.chosen-select-for-required-docs option:selected').each( function(e) {
						requiredDocs += $(this).val() + ',';
					});

					var optionalDocs = '';
					$('.chosen-select-for-optional-docs option:selected').each( function(e) {
						optionalDocs += $(this).val() + ',';
					});

					var docs = requiredDocs + optionalDocs;

					let requiredOptions = $('input[name="required_docs"]:visible').length + (this.$parent.$parent.any_acr_icard_required_docs_array.length > 0 ? 1 : 0);
	        		let requiredCount = $('input[name="required_docs"]:checked:visible').length + $('input[name="any_acr_icard_required_docs_array"]:checked:visible').length;

					// rcv_docs
						var temp1 = '';
						$.each($('input[name="required_docs"]:checked'), function() {
				            temp1 += $(this).val() + ',';
				        });

				        var any_acr_icard_required_docs_array = $('input[name^="any_acr_icard_required_docs_array"]:checked').val();
				        if( any_acr_icard_required_docs_array != undefined ) {
				        	temp1 += any_acr_icard_required_docs_array + ',';
				        }

						var reqLength = temp1.slice(0, -1);

				        $.each($('input[name="optional_docs_array"]:checked'), function() {
				            temp1 += $(this).val() + ',';
				        });
				        var any_acr_icard_optional_docs_array = $('input[name^="any_acr_icard_optional_docs_array"]:checked').val();
				        if( any_acr_icard_optional_docs_array != undefined ) {
				        	temp1 += any_acr_icard_optional_docs_array + ',';
				        }
				        this.$parent.$parent.editServ.rcv_docs = temp1.slice(0, -1);
				        //console.log('rcv :'+this.$parent.$parent.editServ.rcv_docs );

			        // rcv_docs_released
						var temp2 = '';
						$.each($('input[name="outcome_docs"]:checked'), function() {
				            temp2 += $(this).val() + ',';
				        });
						$.each($('input[name="outcome_optional_docs"]:checked'), function() {
				            temp2 += $(this).val() + ',';
				        });
				        this.$parent.$parent.editServ.rcv_docs_released = (temp2 != '') 
				        	? temp2.slice(0, -1).split(',')
				        	: [];

				    if(reqLength != ''){
						reqLength = reqLength.split(",");
				    }

					reqLength = reqLength.length;
					//alert(this.compareDates('exp',1));
					var d = new Date();

							var month = d.getMonth()+1;
							var day = d.getDate();

							var output = d.getFullYear() + '/' +
						((''+month).length<2 ? '0' : '') + month + '/' +
						((''+day).length<2 ? '0' : '') + day;
							var curDate = moment(output, 'YYYY/MM/DD').format('YYYY-MM-DD');
							var arDate = moment(this.$parent.$parent.editServ.arrival_date, 'MM/DD/YYYY').format('YYYY-MM-DD');

				if(this.$parent.$parent.editServ.active==1){
					//console.log(reqLength);
					//console.log(this.requiredDocs.length);
					if(this.$parent.$parent.editServ.discount > 0 && this.$parent.$parent.editServ.reason == null){
						toastr.error( (this.translation) ? this.translation['please-input-reason'] : 'Please input reason');
					}
					else if( this.checkIfNoRequiredDocs() ){
						toastr.error( (this.translation) ? this.translation['please-select-required-documents'] : 'Please select required documents' );
					}
					else if(this.$parent.$parent.editServ.status=='complete' && this.checkDetail() && (this.$parent.$parent.editServ.exp_date=='' || this.$parent.$parent.editServ.exp_date==null) && this.$parent.$parent.editServ.active==1){
						toastr.error( (this.translation) ? this.translation['please-fillup-the-expiration-date'] : 'Please fillup the expiration date' );
					}else if((new Date(curDate) < new Date(arDate)) && (this.$parent.$parent.editServ.arrival_date!='' && this.$parent.$parent.editServ.arrival_date!=null)){
						toastr.error( (this.translation) ? this.translation['arrival-date-cannot-be-ahead-from-today'] : 'Arrival date cannot be ahead from today' );
					}else if(this.$parent.$parent.editServ.status=='complete' && this.checkDetail() && ((this.$parent.$parent.editServ.arrival_date==''||this.$parent.$parent.editServ.arrival_date==null) || (this.$parent.$parent.editServ.first_exp_date=='' || this.$parent.$parent.editServ.first_exp_date==null)) && (this.$parent.$parent.editServ.parent_id==63 || this.$parent.$parent.editServ.parent_id==114) && this.$parent.$parent.editServ.active==1){
						toastr.error( (window.translation) ? window.translation['please-make-sure-the-all-dates-are-filled'] : 'Please make sure the all dates are filled');
					}else if(this.$parent.$parent.editServ.status=='complete' && this.checkDetail() && ((this.$parent.$parent.editServ.icard_exp_date=='' || this.$parent.$parent.editServ.icard_exp_date==null) || (this.$parent.$parent.editServ.issue_date=='' || this.$parent.$parent.editServ.issue_date==null)) && (this.$parent.$parent.editServ.parent_id==70 || this.$parent.$parent.editServ.parent_id==148) && this.$parent.$parent.editServ.active==1){
						toastr.error( (window.translation) ? window.translation['please-make-sure-the-all-dates-are-filled'] : 'Please make sure the all dates are filled');
					}else if(this.$parent.$parent.editServ.status=='complete' && this.checkDetail() && !this.compareDates('arrival',1) && (this.$parent.$parent.editServ.parent_id==63 || this.$parent.$parent.editServ.parent_id==114) && this.$parent.$parent.editServ.active==1){
						toastr.error(this.translation ? this.translation['arrival-date-cannot-be-ahead-from-today'] : 'Arrival date cannot be ahead from today');
					}else if(this.$parent.$parent.editServ.status=='complete' && this.checkDetail() && !this.compareDates('first',1) && (this.$parent.$parent.editServ.parent_id==63 || this.$parent.$parent.editServ.parent_id==114) && this.$parent.$parent.editServ.active==1){
						toastr.error( (window.translation) ? window.translation['arrival-date-cannot-be-ahead-of-first-expiration-date'] : 'Arrival date cannot be ahead of First expiration date');
					}else if(this.$parent.$parent.editServ.status=='complete' && this.checkDetail() && !this.compareDates('exp',1) && (this.$parent.$parent.editServ.parent_id==63 || this.$parent.$parent.editServ.parent_id==114) && this.$parent.$parent.editServ.active==1){
						toastr.error( (window.translation) ? window.translation['first-expiration-date-cannot-be-ahead-of-extended-expiration-date'] : 'First expiration date cannot be ahead of Extended expiration date');
					}else if(this.$parent.$parent.editServ.status=='complete' && this.checkDetail() && !this.compareDates('issue',2) && (this.$parent.$parent.editServ.parent_id==70 || this.$parent.$parent.editServ.parent_id==148) && this.$parent.$parent.editServ.active==1){
						toastr.error('Issue date cannot be ahead from today');
					}else if(this.$parent.$parent.editServ.status=='complete' && this.checkDetail() && !this.compareDates('icard',2) && (this.$parent.$parent.editServ.parent_id==70 || this.$parent.$parent.editServ.parent_id==148) && this.$parent.$parent.editServ.active==1){
						toastr.error('Icard expiration cannot be less than or equal to Icard issue date ');
					}else if(this.$parent.$parent.editServ.status=='complete' && this.checkDetail() && !this.compareDates('exp',2) && (this.$parent.$parent.editServ.parent_id==70 || this.$parent.$parent.editServ.parent_id==148) && this.$parent.$parent.editServ.active==1){
						toastr.error('Service expiration date must be ahead from today');
					}else if(this.$parent.$parent.editServ.status=='complete' && this.checkDetail() && !this.compareDates('exp',3) && this.$parent.$parent.editServ.parent_id==238 && this.$parent.$parent.editServ.active==1){
						toastr.error('Service expiration date must be ahead from today');
					// }else if(reqLength != 0 && reqLength == this.requiredDocs.length && this.$parent.$parent.editServ.status=='pending' && this.$parent.$parent.editServ.active != 0){
					// 	toastr.info('Required Documents are complete, Service Status will change to On Process!');
					}else if(this.$parent.$parent.editServ.prev_status=='complete' && this.$parent.$parent.editServ.status=='pending' && this.$parent.$parent.editServ.note ==""){
						toastr.error('Please leave a note why service is "Pending".');
					}else if(this.$parent.$parent.editServ.status=='complete' && !this.checkIfRequiredDocsAreComplete()){
						toastr.error('Status cannot be changed to "Complete". Required Documents are incomplete.');
					}else if(reqLength != this.requiredDocs.length && this.$parent.$parent.editServ.status=='on process'){
						toastr.info('Required Documents are incomplete, Service Status will change to Pending!');
					}

					else{
						this.editServiceSubmit();
					}
				}

				else{ // if disable
					this.editServiceSubmit();
				}

				}
			},

			editServiceSubmit(){
				this.loading = true;

							this.$parent.$parent.editServ.submit('post','/clientEditService')
							.then(response => {
								if(response.success) {
									this.loading = false;

														this.resetEditServiceForm();
														var client_id = this.$parent.$parent.usr_id;
														var track = this.$parent.$parent.tracking_selected;
															this.$parent.$parent.showServicesUnder(client_id,track);
															this.$parent.$parent.updateTrackingList(client_id);
															this.$parent.$parent.reloadComputation();
															this.$parent.$parent.reloadTransactionLogs();
															this.$parent.$parent.getDocumentLogs();
															this.$parent.$parent.getDocumentLogsDetails();
															var owl = $("#owl-demo");
															owl.data('owlCarousel').destroy();
															$(".chosen-select-for-required-docs, .chosen-select-for-optional-docs").val('').trigger('chosen:updated');
															$('#edit-service-modal').modal('hide');
															toastr.success( (this.translation) ? this.translation['successfully-updated'] : 'Successfully updated' );
															//location.reload();
								} else {
									this.loading = false;
									toastr.error(response.message);
								}
							})
							.catch(error =>{
								for(var key in error) {
									if(error.hasOwnProperty(key)) toastr.error(error[key][0])
								}

								this.loading = false;
							});
			},

			isValidDate(s) {
				var bits = s.split('-');
				var d = new Date(bits[0] + '/' + bits[1] + '/' + bits[2]);
				return !!(d && (d.getMonth() + 1) == bits[1] && d.getDate() == Number(bits[2]));
			},
			fetchDocs(id){
				$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').val('').trigger('chosen:updated');

				if(this.$parent.$parent.editServ.rcv_docs == '')
					var rcv = ( id[0].rcv!=null ? id[0].rcv.split(",") : '');
				else
					var rcv = this.$parent.$parent.editServ.rcv_docs.split(",");

				this.requiredDocumentsLoading = true;
				this.rDocs = [];
			 	axios.get('/visa/group/'+ ((id[0].docs_needed) ? (id[0].docs_needed) : 0) +'/service-docs')
			 	  .then(result => {
			 	  	this.requiredDocumentsLoading = false;

		            this.requiredDocs = result.data;
		            this.requiredDocs.forEach(r => {
		            	let index = rcv.indexOf(String(r.id));
		            	if(index != -1) {
		            		this.rDocs.push(rcv[index]);	
		            	}
		            });
		        });

			 	this.optionalDocumentsLoading = true;
			 	this.oDocs = [];
			 	axios.get('/visa/group/'+ ((id[0].docs_optional) ? (id[0].docs_optional) : 0) +'/service-docs')
			 	  .then(result => {
			 	  	this.optionalDocumentsLoading = false;

		            this.optionalDocs = result.data;

		            this.optionalDocs.forEach(o => {
		            	let index = rcv.indexOf(String(o.id));

		            	if(index != -1) {
		            		this.oDocs.push(rcv[index]);	
		            	}
		            });
		        });

			 	let rcvReleased = (id[0].rcv_docs_released) ? id[0].rcv_docs_released.split(',') : [];

			 	this.documentsToBeReleasedLoading = true;
			 	this.docsToBeReleased = [];
			 	axios.get('/visa/group/'+ ((id[0].docs_released) ? (id[0].docs_released) : 0) +'/service-docs')
			 	  .then(result => {
			 	  	this.documentsToBeReleasedLoading = false;

		            this.documentsToBeReleased = result.data;

		            this.documentsToBeReleased.forEach(r => {
		            	let index = rcvReleased.indexOf(String(r.id));

		            	if(index != -1) {
		            		this.docsToBeReleased.push(rcvReleased[index]);	
		            	}
		            });
		        });

			 	this.optionalDocumentsToBeReleasedLoading = true;
			 	this.docsToBeReleasedOptional = [];
			 	axios.get('/visa/group/'+ ((id[0].docs_released_optional) ? (id[0].docs_released_optional) : 0) +'/service-docs')
			 	  .then(result => {
			 	  	this.optionalDocumentsToBeReleasedLoading = false;

		            this.documentsToBeReleasedOptional = result.data;

		            this.additionalOptionalDocumentsToBeReleased = [];
		            // 9A
		            if(id[0]._9a_docs_released_optional != null && id[0].parent_id == 63) {
		            	this.additionalOptionalDocumentsToBeReleased.push({
		            		id: 7,
		            		title: 'ACR I-Card Original'
		            	});
		            }
		            // 9G
		            else if(id[0]._9g_docs_released_optional != null && id[0].parent_id == 70 && (id[0].service_id != 429 && id[0].service_id != 430 && id[0].service_id != 431 && id[0].service_id != 432 && id[0].service_id != 433 && id[0].service_id != 434 && id[0].service_id != 435 && id[0].service_id != 436 && id[0].service_id != 43)) {
		            	this.additionalOptionalDocumentsToBeReleased.push({
		            		id: 10,
		            		title: 'Alien Employment Permit (AEP) Card Original'
		            	});
		            }
		            // Blacklist
		            else if(id[0]._blacklist_docs_released_optional != null && id[0].parent_id == 126 && id[0].service_id == 334) {
		            	this.additionalOptionalDocumentsToBeReleased.push({
		            		id: 199,
		            		title: 'BLO Order'
		            	});
		            }
		            // Downgrading 1
		            else if(id[0]._downgrading_1_docs_released_optional != null && id[0].parent_id == 114 
		            	&& (id[0].service_id == 121 || id[0].service_id == 394 || id[0].service_id == 423)) {
		            	this.additionalOptionalDocumentsToBeReleased.push({
		            		id: 131,
		            		title: 'Cancellation of ACR I-CARD'
		            	});
		            }
		            // Downgrading 2
		            else if(id[0]._downgrading_2_docs_released_optional != null && id[0].parent_id == 114 
		            	&& (id[0].service_id == 307 || id[0].service_id == 415 || id[0].service_id == 416)) {
		            	this.additionalOptionalDocumentsToBeReleased.push({
		            		id: 75,
		            		title: 'CEZA Cancellation Order Original'
		            	});
		            }
		            // Special Retiree Resident Visa (SRRV)
		            else if(id[0].parent_id == 217 && id[0].service_id == 386) {
		            	// Special Retiree Resident Visa (SRRV) Conversion 1
		            	if(id[0]._srrv_1_docs_released_optional != null) {
		            		this.additionalOptionalDocumentsToBeReleased.push({
			            		id: 201,
			            		title: 'Affirmation'
			            	});
		            	}
		            	// Special Retiree Resident Visa (SRRV) Conversion 2
		            	if(id[0]._srrv_2_docs_released_optional != null) {
		            		this.additionalOptionalDocumentsToBeReleased.push({
			            		id: 200,
			            		title: 'Certificate of Deposit'
			            	});
		            	}
		            }

		            this.documentsToBeReleasedOptional.forEach(r => {
		            	let index = rcvReleased.indexOf(String(r.id));

		            	if(index != -1) {
		            		this.docsToBeReleasedOptional.push(rcvReleased[index]);	
		            	}
		            });
		        });
				
				this.nsrv = rcv;
		        
		        // setTimeout(() => {
	        	// $('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').chosen('destroy');
	        	// $('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').chosen({
						// 	width: "100%",
						// 	no_results_text: "No result/s found.",
						// 	search_contains: true
						// });
						//
	        	// $('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').val(this.nsrv).trigger('chosen:updated');
        		// $('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').trigger('chosen:updated');
        		// }, 2000);

			},


			callDataTable() {
				$('.add-new-service-datatable').DataTable().destroy();

				setTimeout(function() {
					$('.add-new-service-datatable').DataTable({
			            pageLength: 10,
			            responsive: true,
			            dom: '<"top"lf>rt<"bottom"ip><"clear">'
			        });
				}, 1000);
			},
        },

        created() {
        	if(window.Laravel.language == 'cn'){
        		this.getTranslation();
        	}
			this.tempHolder = this.$parent.$parent.editServ.exp_date;
        	this.admin = this.$parent.$parent.processor.id;

        	//alert(this.admin);
					//alert(this.$parent.$parent.editServ.status);
					// if(this.$parent.$parent.editServ.status != '' || this.$parent.$parent.editServ.status != null){
					// 	alert(this.$parent.$parent.editServ.status);
					// }
        },
				updated(){
					//setTimeout(() => {
					$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').chosen('destroy');
					$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').chosen({
						width: "100%",
						no_results_text: "No result/s found.",
						search_contains: true
					});

					$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').val(this.nsrv).trigger('chosen:updated');
					$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').trigger('chosen:updated');
				//	}, 2000);
				},
        mounted() {
        	// DatePicker
	        	$('.datepicker').datepicker({
	                todayBtn: "linked",
	                keyboardNavigation: false,
	                forceParse: false,
	                calendarWeeks: true,
	                autoclose: true,
	                format: "yyyy-mm-dd",
	            })
	            .on('changeDate', function(e) { // Bootstrap Datepicker onChange
	            	let id = e.target.id;
			        let date = e.target.value;

			        console.log('ID : ' + id);
			        console.log('DATE : ' + date);
			        this.$parent.$parent.editServ.extend = date;
			    }.bind(this))
			    .on('change', function(e) { // native onChange
			    	let id = e.target.id;
			    	let date = e.target.value;

			    	console.log('ID : ' + id);
			        console.log('DATE : ' + date);
			        this.$parent.$parent.editServ.extend = date;
			    }.bind(this));

			$('#edit-service-modal').on('hidden.bs.modal', () => {
				this.$parent.$parent.editloading = false;
				this.resetEditServiceForm();
			});
        },

    }
</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
	div.padd-10-0-0-40 {
		padding: 10px 0px 0px 40px;
	}
	label.text-normal {
		font-weight: normal;
	}
	div.edit-service-sk-react {
		background-color: #ffffff;
	}
</style>
