<template>
    <div class="item item-fix-width">
        <a href="javascript:void(0)" class="item-clickable" @click="showServicesUnder()">
            <div :class="'info-box' +bg">
                <div class="arrow-package">{{status}}</div>
                <span class="info-box-icon newbox"><i class="fa fa-dropbox box-position"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{ (translation) ? translation['package'] : 'Package #' }}</span>
                    <span class="info-box-number">{{ pack.tracking }}</span>
                    <span class="progress-description">
                        {{pack.log_date | commonDate}}
                    </span>
                </div>
            </div>
        </a>
    </div>
</template>

<script>
export default {
  props: ['pack','translation'],

  methods:{
    // getTranslation() {
    //   axios.get('/visa/client/translation/package')
    //     .then(response => {
    //       this.translation = response.data.translation;
    //     });
    // },
    select(id){
       this.$parent.selectItem(id)
    },
    showServicesUnder(){
       this.$parent.showServicesUnder(this.pack.client_id,this.pack.tracking);
    },
  },
  created() {
    // this.getTranslation();
  },
  computed:{
    status(){
      switch(this.pack.status){
        case '0':
          return (this.translation) ? this.translation['empty'] : 'Empty';
          break;
        case '1':
          return (this.translation) ? this.translation['on-process'] : 'On Process';
          break;
        case '2':
          return (this.translation) ? this.translation['pending'] : 'Pending';
          break;
        case '4':
          return (this.translation) ? this.translation['complete'] : 'Complete';
          break;
        default:
          return (this.translation) ? this.translation['complete'] : 'Complete';;
      }
    },
    bg(){
      switch(this.pack.status){
        case '0':
          return ' bg-red';
          break;
        case '1':
          return ' bg-green';
          break;
        case '2':
          return ' bg-yellow';
          break;
        case '4':
          return ' bg-aqua';
          break;
        default:
          return 'bg-aqua';
      }
    },
  },
}
</script>