<template>
    <tr>
        <td class="text-center"><span :style="isDisabled">{{ serv.service_date | commonDate }}</span></td>
        <td class="text-center">
          <span :style="isDisabled" v-if="serv.remarks">
            <a href="#" data-toggle="popover" data-placement="right" data-container="body" :data-content="serv.remarks" data-trigger="hover">
              {{serv.detail}}
            </a>
          </span>
          <span :style="isDisabled" v-else>
              {{serv.detail}}
          </span>
        </td>
        <td class="text-center"><span :style="isDisabled">{{ totalcost() | currency }}</span></td>
        <!-- <td class="text-center"><span :style="isDisabled">{{ serv.charge | currency }}</span></td> -->
        <!-- <td class="text-center"><span :style="isDisabled">{{ serv.tip | currency }}</span></td> -->
        <td class="text-center">
          <span :style="isDisabled" v-if="serv.reason">
            <a href="#" data-toggle="popover" data-placement="right" data-container="body" :data-content="serv.reason" data-trigger="hover">
              {{ serv.amount | currency }}
            </a>
          </span>
          <span :style="isDisabled" v-else>
              {{ serv.amount | currency }}
          </span>
        </td>
        <td class="text-center ucfirst"><span :style="isDisabled">{{ serv.status }}</span></td>
        <td class="text-center"><span :style="isDisabled">{{ serv.tracking }}</span></td>
        <td class="text-center"><span :style="isDisabled" v-if="serv.group_id > 0"><a :href='"/visa/group/"+serv.group_id' target="_blank">{{ serv.name }}</a></span></td>
        <td class="text-center" ><span>
            <a href="javascript:void(0)" @click="editService(serv)" data-toggle="popover" data-placement="top" data-container="body" data-content="Edit Service" data-trigger="hover" >
                <i class="fa fa-pencil-square-o"></i>
            </a>
            &nbsp;
            <span v-if="serv.active == 1 && serv.status != 'pending'">
              <a href="javascript:void(0)" @click="writeReport(serv)" data-toggle="popover" data-placement="top" data-container="body" data-content="Add Quick Report" data-trigger="hover">
                  <i class="fa fa-list-alt"></i>
              </a>
              &nbsp;
            </span>
            <a href="javascript:void(0)" @click="viewReportByService(serv)" data-toggle="popover" data-placement="left" data-container="body" data-content="View Service Report" data-trigger="hover">
                <i class="fa fa-list"></i>
            </a>
            &nbsp;
            <a href="javascript:void(0)" :class="showForm" @click="viewExtensionFrmModal(serv.service_id, serv.detail, serv.months_required)" data-toggle="popover" data-placement="left" data-container="body" data-content="Extension Form" data-trigger="hover" id="export_btn">
                <i class="fa fa-file-pdf-o"></i>
            </a>
            &nbsp;
            <a href="javascript:void(0)" @click="addDocs(serv)" data-toggle="popover" data-placement="top" data-container="body" data-content="Add Documents" data-trigger="hover" class="hide">
                <i class="fa fa-file"></i>
            </a>
          </span>
        </td>


    </tr>
</template>

<script>
export default {
  props: ['serv'],
  methods:{
    select(id){
       this.$parent.selectItem(id)
    },
    showServicesUnder(){
       this.$parent.showServicesUnder(this.serv.client_id,this.serv.tracking)
    },
    editService(service){
       this.$parent.editService(this.serv.id)
       this.$parent.fetchDocs2([service]);
    },
    viewReportByService(service){
       this.$parent.viewReportByService(this.serv.id)
    },
    writeReport(service) {
      this.$parent.fetchDocs([service]);

      this.$parent.quickReportClientsId = [service.client_id];

      this.$parent.quickReportClientServicesId = [service];

      this.$parent.quickReportTrackings = [service.tracking];

      $('#add-quick-report-modal').modal('show');
    },
    addDocs(service){
      this.$parent.fetchDocs2([service]);
      $('#docs-modal').modal('show');
    },

    totalcost: function () {
      return parseInt(this.serv.tip) + parseInt(this.serv.cost) + parseInt(this.serv.charge) + parseInt(this.serv.com_client) + parseInt(this.serv.com_agent);
    },

    viewExtensionFrmModal(id, service, months){
      this.$parent.extensionFrm.months_req = months;
      var serviceUp = service.toUpperCase();
      var express = serviceUp.includes("EXPRESS");
      var expressrush = serviceUp.includes("EXPRESS RUSH");
      var a = serviceUp.includes("9A");
      var rush = serviceUp.includes("RUSH");
      if((a) && ((express) || (rush))){
        this.$parent.extensionFrm.express_regular = "Express";
      }else{
        this.$parent.extensionFrm.express_regular = "Regular";
      }
      this.$parent.extensionFrm.service_name = serviceUp;

      if(expressrush){
        this.$parent.extensionFrm.auth_rep = '';
        this.$parent.extensionFrm.acc_num = '';
        this.$parent.is_rush = true;
      }
      else{
        this.$parent.setAuthorizedReps(id);
      }

      $('#extensionform').modal('show');

      //get date today
      var today = new Date();
      var issue_date = new Date();
      var dd = today.getDate();
      var day = today.getDay();

      //check if weekeends
      if (day == 5){
        issue_date.setDate( dd + 3 )
      }else if (day == 6){
        issue_date.setDate( dd + 2 )
      }else {
        issue_date.setDate( dd + 1 )
      }

      var mm = issue_date.getMonth()+1;
      var yyyy = issue_date.getFullYear();
      var d = issue_date.getDate();

      if(d<10)
      {
          d ='0'+ d;
      }
      if(mm<10)
      {
          mm ='0'+ mm;
      }

      this.$parent.extensionFrm.issue_date = yyyy +'-'+ mm +'-'+ d;
    },

  },
  computed:{
    isDisabled(){
      return (this.serv.active > 0 ? "":"text-decoration: line-through;");
    },



    showForm(){
      var serv_id = this.serv.service_id;
      var processor = this.$parent.processor.id;
      if(this.serv.active == 0){
        return "hidden";
      }else{
        if(!(serv_id == 355 || serv_id == 349 || 
          serv_id == 350 || serv_id == 418 || 
          serv_id == 419 || serv_id == 337 ||
          serv_id == 361 || serv_id == 67 ||
          serv_id == 425 || serv_id == 426)){
          return "hidden";
        }else{
          // i temporarily included Jeff's account - xy
          if(!(processor == 1 || processor == 7 || processor == 9171 || processor == 2 || processor == 3 || processor == 4)){
            return "hidden";
          }
        }
      };
    },
    bg(){
      return;
      }
  },
}
</script>
