<template>
  <div>
        <div class="row timeline-movement timeline-movement-top no-dashed no-side-margin" v-if="log2.year != null">
            <div class="timeline-badge timeline-filter-movement">
                <a href="#">
                    <span>{{log2.year}}</span>
                </a>
            </div>
        </div>
        <div class="row timeline-movement  no-side-margin">
            <div class="timeline-badge" v-if="log2.month != null">
                <span class="timeline-balloon-date-day">{{log2.day}}</span>
                <span class="timeline-balloon-date-month">{{log2.month}}</span>
            </div>

                <div class="col-sm-12  timeline-item">
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-1">
                            <div class="timeline-panel debits" >
                                <ul class="timeline-panel-ul">
                                    <li><p><small class="text-muted">{{ (translation) ? translation['current-balance'] : 'Current Balance' }} : <b>{{(log2.data.balance>0 ? '+' : '')}}{{log2.data.balance | currency}}</b></small></p> </li>

                                    <li>
                                      <p>
                                        <small class="text-muted">{{ (translation) ? translation['prev-balance'] : 'Previous Balance' }} : <b>
                                        {{(log2.data.prevbalance>0 ? '+' : '')}}{{log2.data.prevbalance | currency}}</b></small>
                                      </p> 
                                    </li>

                                    <li><p>
                                      <small class="text-muted" v-if="log2.data.amount > 0" style="color: #1ab394">
                                        {{ (translation) ? translation['amount'] : 'Amount' }} : 
                                        <b>{{(log2.data.amount>0 ? '+' : '')}}{{log2.data.amount  | currency}}</b>
                                      </small>
                                      <small class="text-muted" v-else-if="log2.data.amount < 0" style="color: #b20000">
                                        {{ (translation) ? translation['amount'] : 'Amount' }} : 
                                        <b>{{(log2.data.amount>0 ? '+' : '')}}{{log2.data.amount  | currency}}</b>
                                      </small>
                                      <small class="text-muted" v-else>
                                        {{ (translation) ? translation['amount'] : 'Amount' }} : 
                                        <b>{{(log2.data.amount>0 ? '+' : '')}}{{log2.data.amount  | currency}}</b>
                                      </small>
                                    </p> </li>
                                    <li><p><small class="text-muted">{{ (translation) ? translation['type'] : 'Type' }} : <b>{{log2.data.type }}</b></small></p> </li>
                                </ul>
                            </div>

                        </div>

                        <div class="col-sm-9">
                            <div class="timeline-panel debits" style="border: none; box-shadow: none; padding: 0px;">
                                <ul class="timeline-panel-ul">

                                  <div class="panel panel-default">
                                      <div class="panel-heading">
                                          <span v-if="log2.data.active == 0" class="label label-default">DISABLED</span>
                                          <span v-else-if="log2.data.active == 'none'"></span>
                                          <span v-else class="label" :class="{
                                              'pending-status': (log2.data.status == 'pending'),
                                              'on-process-status': (log2.data.status == 'on process'),
                                              'complete-status': (log2.data.status == 'complete'),
                                          }">
                                              {{ log2.data.status.toUpperCase() }}
                                          </span>
  
                                          <span style="margin-left:10px;" v-if="log2.data.active != 'none'">
                                              <strong v-if="log2.data.tracking != ''">#{{ log2.data.tracking }} :</strong> 
                                              <b>{{ log2.data.service_name }}</b>
                                          </span>
                                          <span v-else>
                                              <strong v-if="log2.data.tracking != ''">#{{ log2.data.tracking }} :</strong> 
                                              <b>{{ log2.data.service_name }}</b>
                                          </span>
                                          
  <!--                                         <span class="pull-right">
                                              Created at: {{ log3.data.created_at }}
                                          </span> -->
                                      </div>
                                      <div class="panel-body">
                                          <ul>
                                              <span v-if="log2.data.old_detail!=null" class="glyphicon glyphicon-chevron-down" :id="'span'+log2.data.id" @click="toggleTrans(log2.data.id)" style="float: right; cursor: pointer"></span>
                                              <li><span class="importo" v-html="this.detail"></span>
    <!--                                             <span class="causale"><small>{{log2.data.processor}}</small></span> -->
                                                 <span class="label label-default"><b>{{log2.data.processor}} -- {{log2.data.date}}</b> </span>
                                              </li>
                                              <li v-if="log2.data.old_detail!=null" class="hide" :id="'trans'+log2.data.id" style="margin-top: 20px; ">
                                              <p><span class="importo" v-html="log2.data.old_detail" style="color: #6d6d6d;"></span></p> </li>
                                          </ul>
                                      </div>
                                  </div>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

        </div>
  </div>
</template>

<script>
export default {
  props: ['log2'],
  data() {
    return {
      translation: null
    }
  },
  methods:{
    select(id){
       this.$parent.selectItem(id)
    },
    toggleTrans(id){
      $("#trans"+id).toggleClass("hide");
      $("#span"+id).toggleClass("glyphicon-chevron-down glyphicon-chevron-up");
    }
  },
  computed:{
    detail(){
      var res = this.log2.data.title;
      return res.replace("</br>", " ");
    }
  },
  created() {
    this.translation = this.$parent.transactionLogsTranslation;
  }
}
</script>

<style scoped>
    .importo {
      font-size: 13px !important; 
    }
    .one-column {
        -webkit-column-count: 1;
        -moz-column-count: 1; 
        column-count: 1;
    }
    .two-column {
        -webkit-column-count: 2;
        -moz-column-count: 2; 
        column-count: 2;
    }
    .three-column {
        -webkit-column-count: 3;
        -moz-column-count: 3; 
        column-count: 3;
    }

    #timeline .timeline-movement .timeline-item {
        border: none;
        box-shadow: none;
    }
    .pending-status {
        background-color: #f0ad4e;
        color: #fff;
    }
    .on-process-status {
        background-color: #5cb85c;
        color: #fff;
    }
    .complete-status {
        background-color: #5bc0de;
        color: #fff;
    }
    ul.document-lists li:before {
        content: "\2022";
        color: black;
        font-weight: bold;
        width: 1em;
        margin-left: -1em;
        font-size: 16px;
    }
    ul.document-lists li.unique:before {
        color: red;
    }
</style>