<template>
	<div>
		<div v-show="!loading">
	    	<div class="table-responsive">
	            <table id="lists" cellspacing="5" class="dataTables_scroll table table-striped table-hover dataTables-example "  style="table-layout: fixed;word-wrap:break-word;border-collapse: collapse; width: 100%">
	                <thead>
	                    <tr>
	                        <th>{{ (translation) ? translation['service'] : 'Service' }}</th>
	                        <th>{{ (translation) ? translation['date-time'] : 'Date & Time' }}</th>
	        				<th>{{ (translation) ? translation['processor'] : 'Processor' }}</th>
	                    </tr>
	                </thead>
		                <tbody>	                
	                    </tbody>                  
	            </table>
	        </div>
		</div>

		<div v-show="loading">
	        <div class="spiner-example">
	            <div class="sk-spinner sk-spinner-wave">
	                <div class="sk-rect1"></div>
	                <div class="sk-rect2"></div>
	                <div class="sk-rect3"></div>
	                <div class="sk-rect4"></div>
	                <div class="sk-rect5"></div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<script>
    export default{
    	props: ['report_view','report_id'],

        data() {
        	return {
        		translation: null,
        		reports: [],
        		loading : true	
        	}
        },
		computed: {

		},
        methods: {
        	getTranslation() {
        		axios.get('/visa/client/translation/view-report')
			        .then(response => {
			        	this.translation = response.data.translation;
			        });
        	},

        	getReports(){
        		this.loading = true;
        		var rep_id = this.$parent.$parent.report_id;
	        	var rep_view = this.$parent.$parent.report_view;
	        	var client_id = 0;
	        	var service_id = 0;
	        	var group_id = 0;

	        	if(rep_view == 'client'){
	        		client_id = rep_id;
	        	} else if(rep_view == 'service') {
	        		service_id = rep_id;
	        	} else if(rep_view == 'group') {
	        		group_id = rep_id;
	        	}

	        	axios.get('/visa/report/get-reports/'+group_id+'/'+client_id+'/'+service_id)
				    .then(response => {
				        this.reports = response.data;
				        //setTimeout(() => {
			  				//this.loading = false;
			            	this.createDatatableToggle(this.reports);
			  			//}, 2000);
				    });
        	},

	        createDatatableToggle(reports) {

	            $('#lists').DataTable().destroy();

	            setTimeout(function() {

	                var format = function(d) {
	                    // console.log(d);
	                    var ids = '';
	                    var clids = [];
	                    // for(var i=0; i<(d.client).length; i++) {
	                    //     var found = jQuery.inArray(d.client[i].client_id, clids);
	                    //      // console.log(found);
	                    //     if (found < 0) {
	                    //         // Element was not found, add it.
	                    //         clids.push(d.client[i].client_id);
	                    //         ids += '<a href="/visa/client/'+d.client[i].client_id+'" target="_blank" data-toggle="popover" data-placement="top" data-container="body" data-content="'+d.client[i].fullname +'" data-trigger="hover">'+d.client[i].client_id +'</a>'+",";
	                    //     }
	                    //     // console.log(clids);
	                    //     // if(i != ((d.client).length - 1) ){
	                    //     //     ids = ids+",";
	                    //     // }

	                    // }
	                    // ids = rtrim(ids,',');
	                    return '<table cellpadding="5" cellspacing="0" class="table table-striped table-hover dtchildrow" >'+
	                                '<tr style="padding-left:50px;">'+
	                                    '<td>'+d.detail+'</td>'+
	                                    // '<td><b>Client IDs : </b> '+ids+'</td>'+
	                                '</tr>'+
	                            '</table>';
	                };
	                var loading = true;
	                var table2 = $('#lists').DataTable( {
	                    "data": reports,
	                    responsive: true,
	                    "initComplete": function( settings, json ) {
						    loading = false;
						  },
	                    "columns": [
	                        // {
	                        //     "width": "5%",
	                        //     "className":      'service-control text-center',
	                        //     "orderable":      false,
	                        //     "data":           null,
	                        //     "defaultContent": '<i class="fa fa-arrow-right" style="cursor:pointer;"></i>'
	                        // },
	                        { 
	                            "width": "75%",
	                            "className":      'service-control',
	                            data: null, render: function(reports, type, row) {
	                                return '<b style="color: black;">' + reports.service +' </b><small>['+reports.service_date+ ']</small>'
	                            }
	                        },
	                        {
	                            "className":      'service-control',
	                            "width": "13%",
	                            data: null, render: function(reports, type, row) {
	                                var sid = '';
	                                // for(var i=0; i<(reports.client).length; i++) {
	                                //     sid += reports.client[i].client_id+",";
	                                // }
	                                return '<b>'+reports.log_date+ '</b><span style="display:none;">'+sid+'</span>'
	                            }
	                        },
	                        {
	                            "className":      'service-control',
	                            "width": "12%",
	                            data: null, render: function(reports, type, row, meta) {
	                                return '<b>'+reports.processor+ '</b>'
	                            }
	                        },
	                        // {
	                        //     "width": "35%",
	                        //     "className":      'service-control wrapok',
	                        //     // "class": "wrapnot",
	                        //     data: null, render: function(reports, type, row, meta) {
	                        //         var ids = '';
	                        //         var clids = [];
	                        //         for(var i=0; i<(reports.client).length; i++) {
	                        //             var found = jQuery.inArray(reports.client[i].client_id, clids);
	                        //              // console.log(found);
	                        //             if (found < 0) {
	                        //                 // Element was not found, add it.
	                        //                 clids.push(reports.client[i].client_id);
	                        //                 ids += '<a href="/visa/client/'+reports.client[i].client_id+'" target="_blank" data-toggle="popover" data-placement="top" data-container="body" data-content="'+reports.client[i].client_id +'" data-trigger="hover">'+reports.client[i].fullname +'</a>'+" , ";
	                        //             }
	                        //             // console.log(clids);
	                        //             // if(i != ((d.client).length - 1) ){
	                        //             //     ids = ids+",";
	                        //             // }

	                        //         }
	                        //         return ids;
	                        //     }
	                        // },
	                    ]
	                });
	                this.loading = loading;
	                table2.columns.adjust().draw();
	                $('body').off('click', 'table#lists tbody td.service-control');
	                $('body').on('click', 'table#lists tbody td.service-control', function (e) {
	                    var tr2 = $(this).closest('tr');
	                    var row = table2.row( tr2 );
	                         
	                    if(row.child.isShown()) {
	                        row.child.hide();
	                        tr2.removeClass('shown');
	                    } else {
	                        row.child( format(row.data()) ).show();
	                        tr2.addClass('shown');
	                    }
	                });
	                //EXPAND ALL CHILD ROWS BY DEFAULT
	                table2.rows().every(function(){
	                    // If row has details collapsed
	                    if(!this.child.isShown()){
	                        // Open this row
	                        this.child(format(this.data())).show();
	                        $(this.node()).addClass('shown');
	                    }
	                });


	                // Handle click on "Expand All" button
	                $('#btn-show-all-children').on('click', function(){
	                    // Enumerate all rows
	                    table2.rows().every(function(){
	                        // If row has details collapsed
	                        if(!this.child.isShown()){
	                            // Open this row
	                            this.child(format(this.data())).show();
	                            $(this.node()).addClass('shown');
	                        }
	                    });
	                });

	                // Handle click on "Collapse All" button
	                $('#btn-hide-all-children').on('click', function(){
	                    // Enumerate all rows
	                    table2.rows().every(function(){
	                        // If row has details expanded
	                        if(this.child.isShown()){
	                            // Collapse row details
	                            this.child.hide();
	                            $(this.node()).removeClass('shown');
	                        }
	                    });
	                });

	            }.bind(this), 2000);

	        },
        },

        created() {
        	if(window.Laravel.language == 'cn'){
        		this.getTranslation();
        	}

        	//this.getReports();
	    },

        mounted() {

        }
    }

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>