// Variables, Mixins
@import "../vendor/inspinia/variables";
@import "../vendor/inspinia/mixins";

.chatbox {
    .ibox-content {
        height: 600px;
        padding: 0;

        .container-fluid {
            height: 100%;

            > .row {
                height: 100%;

                > .left-pane,
                > .right-pane {
                    position: relative;
                    height: 100%;
                }

                > .left-pane {
                    padding: 0;
                    border-right: 1px solid #e7eaec;

                    ul#user-message {
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        height: 100%;
                        overflow: hidden;

                        > li {
                            > a {
                                display: block;
                                padding: 0 7px;
                                margin: 0;
                                cursor: pointer;
                                color: inherit;

                                &:hover,
                                &.not-read,
                                &.router-link-active {
                                    background-color: #f5f5f5;
                                }

                                > [class*="col-xs-"] {
                                    padding: 0;
                                }

                                > [class*="message-"] {
                                    padding: 10px 0;
                                }

                                .message-user-avatar {
                                    padding: 10px;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }

                > .right-pane {
                    padding: 0;

                    .panel-chat-box {
                        height: 100%;
                        box-shadow: none;
                        border: none;

                        * {
                            color: #333333;
                        }

                        .panel-heading {
                            border-bottom: 1px solid #e7eaec;
                        }

                        .chat-box {
                            position: relative;
                            height: 100%;
                            padding: 0;

                            .panel-body {
                                position: relative;
                                height: 440px;
                                overflow: hidden;

                                ul {
                                    list-style-type: none;
                                    padding: 0;
                                    margin: 0;

                                    li {
                                        padding: 10px 0;

                                        img {
                                            width: 32px;
                                            height: 32px;
                                        }

                                        div.message {
                                            display: inline-block;
                                            padding: 6px;
                                            border-radius: 5px;
                                            background-color: #f5f5f5;
                                        }

                                        &.me {
                                            div.message {
                                                float: right;
                                                color: #ffffff;
                                                background-color: #1ab394;
                                            }
                                        }
                                    }
                                }
                            }

                            .panel-footer {
                                position: relative;
                                height: 20%;
                                padding: 0;
                                background-color: #ffffff;
                                border-top: 1px solid #e7eaec;

                                textarea {
                                    width: 100%;
                                    height: 100%;
                                    padding: 7px 5px;
                                    border: none;
                                    resize: none;
                                    outline: none;
                                }

                                .btn-send-message {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    margin: 5px 7px 5px 5px;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.messages-user-search {
    width: 250px;

    input#user-search {
        padding: 0;
        border: none;
    }

    ul.users-container {
        position: relative;
        list-style-type: none;
        padding: 0;
        margin: 0;
        max-height: 252px;
        overflow: hidden;

        > li {
            padding: 5px;
            cursor: pointer;

            &:hover {
                background-color: #f5f5f5;
            }

            > img {
                width: 32px;
                height: 32px;
            }

            > span {
                padding-left: 5px;
            }
        }
    }
}

.context-menu-icon.context-menu-icon--fa::before {
    color: $navy;
}

.context-menu-item.context-menu-hover {
    background-color: $navy;
}
