@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';

#orders-content{
 	.ellipsis{
 		cursor:pointer;
 	}
 	hr{
	    border-color: #009688;
	    border-style: dotted;
	    margin: 0;
 	}
}

#shipmentpage{
	hr{
	    border-color: #009688;
	    border-style: dotted;
	    margin: 0;
 	}
}

.swal2-container {
    z-index: 9999 !important;
}

.orderdetails-modal{
	.modal-content{
		.modal-body{
			overflow-y: auto;
		}
		.modal-footer{
			padding: 5px;
		}
		.card{
			padding: 5px 0;
			min-height: 210px;

			&.total-card{
				margin-top: 5px;
			}

			&.address-detail{
				margin-top: 5px;
				p{
					margin-bottom: 0;
				}
			}
		}

		.productDetails{
			.title{
				&.qualification{
					font-size: 22px;
					margin-top: 10px;
				}
			}
			.productName{
				margin-top: 5px;
				// text-overflow: ellipsis;
    			// overflow: hidden;
    			// white-space:nowrap;
    			font-size: large;
    			word-wrap: break-word;
			}
			.sku{
				font-size: smaller;
				.label{
				 	font-size: 12px;
				 	font-weight: 400;
				 	line-height: 1.25;
				 	display: inline-block;
				 	height: 20px;
				 	border-radius: 0;
				}
			}
		}
		.order-details{
			text-align: left;
		}
		.delivery-info{
			margin-bottom: 10px;
		}
		.payment-info {
			div.row {
				text-align: right;
			}
		}
		.product-set{
			.product-img-set{
				text-align: center;
				.product-img{
					width: 100%;
					height: 100%;
				}
				.product-status{
					margin-top: 10px;
					background-color: $wyc-default-teal;
				}
			}
		}

		.priceDetails{
			.original-price{
				font-size: large;
				text-decoration: line-through;
				color: $dark-grey;
			}
			.unit-price{
				font-size: xx-large;
				color: $wyc-default-teal;
			}

		}

		#photoEvidence{
			h4{
				margin-top: 25px;
			}
			.img-wrapper{
			    display: inline-block;
			    margin: 16px;
			    div{
			        width: 355px;
					height: 300px;
					img{
						width: 100%;
						height: 100%;
					}				    
			    }

			}
		}

		#videoEvidence{
			h4{
				margin-top: 25px;
			}
			video {
			    width: 100% !important;
			    height: auto !important;
			}
		}

		.qualification-container{
			margin-top: 5px;
		}

		.productChat{
			p{
				margin-top: 35px;
				i{
				    color: #38a79c;
					font-size: 20px;
				}
				a{
				    color: #38a79c;
				    font-size: 20px;
				    font-weight: bold;
				    font-style: italic;
				}
			}
		}

	}
}

div.products-info table {
	thead tr th:nth-child(1) {
		width: 20%;
	}
	tbody tr td {
		vertical-align: middle;
	}
}

div.filter-container {
	div.margin-20 {
		margin-left: 20px;
	}

	div.filter-form {
		margin-top: 30px;
	}
}