#treeParent ul, #myUL {
  list-style-type: none;
  font-size: 14px;
}
#treeParent{
  background-color: #B4C9CE;
  height:50vh;
  overflow: auto;
}
.row-btn:hover { 
  background-color: #1ab394 !important;
}
.root{
  cursor:wait;
}
.rootSelected{
  font-weight: bold;
  color: yellow;
}
.inputForm{
  //filter: alpha(opacity=0);
  //opacity: 0;
}
.inputForm2{
  //transition: visibility 0s, opacity 0.5s linear;
}
.processLocator{
  margin: auto;
  text-align: center;
}
#myUL {
  margin-top:20px;
  padding: 10px 10px 0px 0px;
}
.no-padding{
  padding: 0px !important;
}
.carets {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.carets::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.carets-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}
.tbl-computation{
  line-height: 20px;
}
.text-muted{
  margin-left: 10px;
}
#ftable td {
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
#ftable th {
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: -1px;
}

#navigation{
  display:none !important;
}
#page-wrapper{
  width: 100% !important;
  margin:auto !important;
}

.btn-plus {
  margin-right:45px;
  padding: 4px 10px 4px 10px;
  position: absolute;
  right: 0;
  z-index: 5;
  top:-50px;
}
.selectTop2{
  margin-right:300px;
  position: absolute;
  right: 0;
  z-index: 5;
  top:-50px;
  width:100px;
}

.selectTop{
  margin-right:90px;
  position: absolute;
  right: 0;
  z-index: 5;
  top:-50px;
}

.tblTop{
  margin-right:600px;
  padding: 8px 10px 4px 10px;
  position: absolute;
  right: 0;
  z-index: 5;
  top:-75px;
}
.tblTop td{
  min-width: 220px;
}
.border-bottom{
  //display: none !important;
}
.swal2-container {
  z-index: 3000 !important;
}

.sidebar-col {
  margin-left:-560px;
  padding: 0;
  width: 560px;
  background-color: #F5F5F6;
  position: fixed;
  height: 560px;
  left: 0;
  z-index: 500;
  top: calc(50% - 280px);
  border-style: groove;
}
.sidebar-col-visible {
  margin-left:0 !important;
}
.float-button-visible {
  left: 560px !important;
}
.float-button{
  position: fixed;
  //left: 560px;
  left:0;
  //width: 56px;
  //height: 56px;
  margin-right: 56px;
  top: calc(50% - 28px);
  background-color: #F5F5F6;
}
.limit-word{
  max-width: 600px !important;
  min-width: 450px !important;
  word-wrap: break-word;
  overflow: hidden !important;
  white-space: normal !important;
}
.inputForm{
  border:4px solid #CCC;
    width:450px;
    //height:50px;
    //display:none;
    position:absolute;
    left:calc(50% - 150px);
    top:50%;
    margin:-25px 0 0 -50px;
    border-radius:5px;

}
.modal-header{
    cursor: move;
}
.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}

//.wrapper11, .wrapper22 { width: 100%; overflow-x: scroll; overflow-y: hidden; }
// .wrapper11 { height: 20px; }
// .wrapper22 {width: 100%; overflow-x: hidden; overflow-y: hidden;  min-height: 100vh;  }
// .div11 { height: 20px; background-color: red;overflow: auto;}
// .div22 { }

.footer-fixed { width: 100%; overflow-x: scroll; overflow-y: hidden; }
.footer-fixed { height: 20px; }
.wrapper22 {min-width: 100%; overflow-x: hidden; overflow-y: hidden;}
.div11 { height: 20px;}
.div22 { overflow: none; }
.div33 { width: 15px;}

.ibox-content{
  margin: 0;
  padding: 0;
  background: transparent;
}
.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 37px;
  width: 100%;
  color: white;
  text-align: center;
}
.footer{
  position: fixed;
}
.sidebar-fixed{
  height: 79vh;
  right: 0;
  //background: red;
  position: fixed;
  top:130px;
  overflow-x: scroll;
}

#ftable table {
  position: relative;
  //min-width: 98vw;
  //background-color: #aaa;
  overflow: hidden;
  //border-collapse: collapse;
}


/*thead*/
#ftable thead {
  position: relative;
  display: block; /*seperates the header from the body allowing it to be positioned*/
  //width: 100%;
  overflow: hidden;
  margin-left: -1px;
}

#ftable thead th {
  //background-color: #99a;
  max-width: 180px;
  //height: 32px;
  //border: 1px solid #222;
  z-index: 1;
}

#ftable thead th:nth-child(1) {/*first cell in the header*/
  position: relative;
  //display: block; /*seperates the first cell in the header from the header*/
  //background-color: #88b;

}

table {
  border-collapse: separate;

}

#ftable tbody tr td:nth-child(1) {  /*the first cell in each tr*/
  position: relative;
  //display: block; /*seperates the first column from the tbody*/
  height: 40px;
  //z-index: 10 !important;
  background-color: #FEF7F7;
}

#ftable thead th:nth-child(2) {/*first cell in the header*/
  position: relative;
  //display: block; /*seperates the first cell in the header from the header*/
  //background-color: #88b;
}
#ftable tbody tr td:nth-child(2) {  /*the first cell in each tr*/
  position: relative;
  //display: block; /*seperates the first column from the tbody*/
  height: 40px;
  //z-index: 10 !important;
  background-color: #FEF7F7;
}

#ftable thead th:nth-child(3) {/*first cell in the header*/
  position: relative;
  //display: block; /*seperates the first cell in the header from the header*/
  //background-color: #88b;
}
#ftable tbody tr td:nth-child(3) {  /*the first cell in each tr*/
  position: relative;
  //display: block; /*seperates the first column from the tbody*/
  height: 40px;
  //z-index: 10 !important;
  background-color: #FEF7F7;
}

#ftable thead th:nth-child(4) {/*first cell in the header*/
  position: relative;
  //display: block; /*seperates the first cell in the header from the header*/
  //background-color: #88b;
}
#ftable tbody tr td:nth-child(4) {  /*the first cell in each tr*/
  position: relative;
  //display: block; /*seperates the first column from the tbody*/
  height: 40px;
  //z-index: 10 !important;
  background-color: #FEF7F7;
}

#ftable thead th:nth-child(5) {/*first cell in the header*/
  position: relative;
  //display: block; /*seperates the first cell in the header from the header*/
  //background-color: #88b;
}
#ftable tbody tr td:nth-child(5) {  /*the first cell in each tr*/
  position: relative;
  //display: block; /*seperates the first column from the tbody*/
  height: 40px;
  //z-index: 10 !important;
  background-color: #FEF7F7;
}
/*tbody*/

@media screen and (max-height: 450px) {
  .tblTop{
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .tblTop{
    display: none;
  }
}
@media screen and (max-height: 768px) and (min-height: 450)  {
  #ftable tbody {
    position: relative;
    display: block; /*seperates the tbody from the header*/
    max-width: 99vw;
    min-width: 99vw;
    min-height: 67vh;
    max-height: 67vh;
    overflow-x: scroll;
    overflow-y: scroll;

  }

}

@media only screen and (max-height: 1050px) and (min-height: 901px){
  #ftable tbody {
    position: relative;
    display: block; /*seperates the tbody from the header*/
    max-width: 99vw;
    min-width: 99vw;
    min-height: 78vh;
    max-height: 78vh;
    overflow-x: scroll;
    overflow-y: scroll;
  }
}

@media only screen and (max-height: 1080px) and (min-height: 1051px){
  #ftable tbody {
    position: relative;
    display: block; /*seperates the tbody from the header*/
    max-width: 99vw;
    min-width: 99vw;
    min-height: 80vh;
    max-height: 80vh;
    overflow-x: scroll;
    overflow-y: scroll;
  }
}


@media screen and (max-height: 900px)  and (min-height: 651px){
  #ftable tbody {
    position: relative;
    display: block; /*seperates the tbody from the header*/
    max-width: 99vw;
    min-width: 99vw;
    min-height: 73vh;
    max-height: 73vh;
    overflow-x: scroll;
    overflow-y: scroll;
  }
}

.float-e-margins{
  //margin-bottom: 60px !important;
  //margin-right: -40px;
}

#ftable tbody td {
  //background-color: #bbc;
  //min-width: 250px;
  //max-width: 500px;
  //border: 1px solid #222;
}
.normal-c{
  min-width: 160px !important;
  max-width: 160px !important;
}
.normal-b{
  min-width: 350px !important;
  max-width: 350px !important;
}
.normal-a{
  min-width: 30px !important;
  max-width: 30px !important;
}
.smaller{
  min-width: 80px !important;
  max-width: 80px !important;
}

html body{
  overflow: hidden;
}
.dt-button-collection{

  display: block;
  height: 300px !important;
  width:300px !important;
  overflow-y: scroll !important;
}
table td {
  font-size: 10px;
}
table th {
  font-size: 12px !important;
}
.tblTop td{
  font-size: 12px !important;
}
#example td {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
}
#example th {
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: -1px;
}
th:hover {
  cursor: pointer;
  background-color: #FFE4C4;
}
table.dataTable thead th, table.dataTable thead td {
   padding: 1px 1px !important; 

}
.DTFC_LeftBodyWrapper{
  margin-top:-12.5px;
  margin-left:-0.5px;
}
.border th{
  border: 1px solid #ddd;
}
.border td{
  border: 1px solid #ddd;
}
.mini{
  overflow: hidden !important;
  max-width: 10px !important;
  min-width: 10px !important;
  width: 10px !important;
  text-overflow: ellipsis;
}
.mick-head{
  width: 15px !important;
  max-width: 15px !important;
  min-width: 15px !important;
  padding:3px;
}
.mick {
  width: 15px !important;
  max-width: 15px !important;
  min-width: 15px !important;
  padding:0 5px 0 0 !important;
  margin-left:5px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-row{
  width: 50px !important;
  max-width: 50px !important;
  min-width: 50px !important;
  padding:0px !important;
}
.uitooltip {
  padding: 5px;
  background:black;
  color:white;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
  border-radius: 16px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
  
  }
  .uitooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }