<template>
  <li class="mix">
    <div class="box-product-outer">
      <div class="box-product">
        <div class="img-wrapper">
          <a href="#">
            <img alt="Product" v-bind:src="item.image">
          </a>
          <div class="tags">
            <span class="label-tags"><span class="label label-danger arrowed">{{discount | round}}%</span></span>
          </div>
          <div class="option">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Cart" data-original-title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
            <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
            <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
          </div>
        </div>
        <h6><a href="#">{{item.name}}</a></h6>
        <div class="price">
          <div>{{item.sale_price | currency}} <span class="price-old">{{item.price | currency}}</span></div>
        </div>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>
          <i class="fa fa-star-o"></i>
          <a href="#">(5 reviews)</a>
        </div>
      </div>
    </div>
  </li>	
</template>


<script>
export default {
	props: ['item'],
	methods:{
		select(id){
			 this.$parent.selectItem(id)
		}
	},
	computed:{
		discount(){
			return (1-(this.item.sale_price / this.item.price))*100
		}
	}
}
</script>