<template>
  <div class="mix col-sm-3">
    <div class="box-product-outer">
      <div class="box-product">
        <div class="img-wrapper">
          <a :href="'/product/' + item.slug">
            <img alt="Product" v-bind:src="'/shopping/images/product/'+item.id+'/primary.jpg'" onError="this.src = '/images/avatar/default-product.jpg'">
            <!-- <img alt="Product" v-bind:src="item.image" onError="this.src = '/images/avatar/default-product.jpg'"> -->
            <!-- onError="this.src = '/images/avatar/default-product.jpg'" -->
          </a>
          <div class="tags" v-if='item.sale_price'>
            <span class="label-tags"><span class="label label-danger arrowed">{{item.discount}}%</span></span>
          </div>
          <div class="option">
            <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Add to Cart" data-original-title="Add to Cart" @click="addToCart()"><i class="fa fa-shopping-cart"></i></a>
            <a href="javascript:void(0)" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left" @click="addToCompare()"></i></a>
            <a href="javascript:void(0)" data-toggle="tooltip" title="Add to Wishlist" class="wishlist" @click="addToFavorites()"><i class="fa fa-heart"></i></a>
          </div>
        </div>
        <h6><a :href="'/product/' + item.slug">{{namelength}}</a></h6>
        <div class="price">
          <div>
            <span v-if='item.sale_price'>{{parseFloat("0"+saleprice) | currency }}</span> 
            <span :class="item.sale_price?'price-old':''">{{parseFloat("0"+price) | currency}}</span>
          </div>
        </div>
        <div class="rating-block">
            <div class="star-ratings-sprite-small"><span :style="productRating" class="star-ratings-sprite-small-rating"></span></div>
        </div>
      </div>
    </div>
  </div>	
</template>


<script>
export default {
	props: ['item'],
	methods:{
		select(id){
			 this.$parent.selectItem(id)
		},
    addToCart(){
       this.$parent.addToCart(this.item.id,this.item.name)
    },
    addToCompare(){
       this.$parent.addToCompare(this.item.id,this.item.name)
    },
    addToFavorites(){
       this.$parent.addToFavorites(this.item.id,this.item.name)
    }
	},
  computed:{
    price(){
      if(this.item.fee_included==1)
        return parseFloat(this.item.price) + parseFloat(this.item.shipping_fee) + parseFloat(this.item.charge) + parseFloat(this.item.vat);
      else
        return this.item.price;
    },
    saleprice(){
      if(this.item.fee_included==1)
        return parseFloat(this.item.sale_price) + parseFloat(this.item.shipping_fee) + parseFloat(this.item.charge) + parseFloat(this.item.vat);
      else
        return this.item.sale_price;
    },
    namelength(){
      var name = this.item.cn_name ? this.item.cn_name: this.item.name;
      if (this.item.name.length > 45) {
        if(this.$parent.langmode=="cn"){
            return name.substr(0, 45)+"...";  
        }
        return this.item.name.substr(0, 45)+"...";
      }
      else{
        if(this.$parent.langmode=="cn"){
            return name;  
        }
        return this.item.name;
      }
    },
    starRating(){
      return "width:"+Math.round((this.item.rate/this.item.count)*20)+"%";
    },
    productRating(){
      return "width:"+this.item.product_rating+"%";
    },

  }
}
</script>