// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

///STRONG ORANGE
///@type Color

$icon-color : #EEAA78 !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$size-sm: 5px;
$size-md: 10px;
$size-lg: 15px;

$wyc-orange: #FF9800 !default;
$wyc-default-orange: #E37222 !default;
$wyc-default-blue: #26C6DA !default;
$wyc-default-teal: #009688 !default;
$wyc-default-tan: #EEAA7B !default;
$wyc-default-powder: #66B9BF !default;

$negative-color: #ce8483 !default;
$positive-color: #00C851 !default;
$default-color: #969696!default;
$selected-color: cornsilk !default;

$teal-hover: #94CED2;
$orange-hover: #EB9C64;

//for big buttons
$big-btn-title-size: 20px !default;

//Responsive Media Query Size - PC
$pc-small: 768px;
$pc-medium: 992px;
$pc-large: 1200px;

//Responsive Media Query Size - Mobile
$cp-small:480px;

$orange-800: #EF6C00 !default;
$lightblue-800: #0277BD !default;
$cyan-800: #00838F !default;

// colors
$bg-colours:(	
	 "red":#F44336 // white
	,"pink":#E91E63     // red
	,"purple":#9C27B0   // yellow
	,"deep-purple":#673AB7   // yellow
	,"indigo":#3F51B5   // yellow
	,"blue":#2196F3   // yellow
	,"light-blue":#03A9F4   // yellow
	,"cyan":#00BCD4   // yellow
	,"teal":#009688   // yellow
	,"green":#4CAF50   // yellow
	,"light-green":#8BC34A   // yellow
	,"lime":#CDDC39   // yellow
	,"yellow":#FFEB3B   // yellow
	,"amber":#FFC107   // yellow
	,"orange":#FF9800   // yellow
	,"deep-orange":#FF5722   // yellow
	,"brown":#795548   // yellow
	,"grey":#9E9E9E   // yellow
	,"blue-grey":#607D8B   // yellow
);
