<template>
<div class="modal md-modal fade" :id="id" tabindex="-1" role="dialog" aria-labelledby="modal-label">
    <div :class="'modal-dialog '+size" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-label">
                    <slot name="modal-title">Modal Title</slot>
                </h4>
            </div>
            <div class="modal-body">
                <slot name="modal-body">Modal Body</slot>
            </div>
            <div class="modal-footer">
                <slot name="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </slot>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: {
        'id':{required:true}
        ,'size': {default:'modal-sm'}
    }
}
</script>
