<template>

  <div class="tabs-container">

      <div class="tabs-left">
          <ul class="nav nav-tabs" >
              <li v-for="project in projects"><a data-toggle="tab" :href="'#'+project.user_id+''"> {{project.first_name}} {{project.last_name}}</a></li>
          </ul>
          <div class="tab-content" >
              <div :id="project.user_id" class="tab-pane" v-for="project in projects">
                  <div class="panel-body">
                    <table class="table table-hover table-bordered">
                      <thead>
                          <tr>
                              <th v-for="column in columns" :key="column.name" @click="$emit('sort', column.name)"
                                  :class="sortKey === column.name ? (sortOrders[column.name] > 0 ? 'sorting_asc' : 'sorting_desc') : 'sorting'"
                                  :style="'width:'+column.width+';'+'cursor:pointer;'">
                                  {{column.label}}
                              </th>
                          </tr>
                      </thead>
                      <tbody>

                          <template v-for="cl in project.inner1" >
                            <tr>
                                <td colspan="5">{{cl.first_name}} {{cl.last_name}}</td>
                            </tr>

                            <template v-for="nest in cl.inner2">
                              <tr>
                                <td colspan="2" style="text-align:right">{{nest.detail}}</td>
                                <td>{{nest.cost}}</td>
                                <td>{{nest.extra_cost}}</td>
                                <td>{{nest.subtotal}}</td>
                              </tr>
                            </template>

                          </template>
                          <tr>
                              <td colspan="4"><b class="pull-right">Total Budget</b></td>
                              <td>{{project.total}}</td>
                          </tr>
                          <tr>
                              <td colspan="4"><b class="pull-right">Total Cost</b></td>
                              <td>{{project.grand}}</td>
                          </tr>
                          <tr>
                              <td colspan="4"><b class="pull-right">Total Return</b></td>
                              <td>{{project.return}}</td>
                          </tr>

                      </tbody>
                    </table>
                  </div>
              </div>

          </div>

      </div>

  </div>
<!--
              <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th v-for="column in columns" :key="column.name" @click="$emit('sort', column.name)"
                            :class="sortKey === column.name ? (sortOrders[column.name] > 0 ? 'sorting_asc' : 'sorting_desc') : 'sorting'"
                            :style="'width:'+column.width+';'+'cursor:pointer;'">
                            {{column.label}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                  <template v-for="project in projects" >
                    <tr>
                        <td colspan="4"><center>{{project.first_name}} {{project.last_name}}</center></td>
                        <td>{{project.total}}</td>
                    </tr>
                    <template v-for="cl in project.inner1" >
                      <tr>
                          <td colspan="5">{{cl.first_name}} {{cl.last_name}}</td>
                      </tr>

                      <template v-for="nest in cl.inner2">
                        <tr>
                          <td></td>
                          <td>{{nest.detail}}</td>
                          <td>{{nest.cost}}</td>
                          <td>{{nest.extra_cost}}</td>
                          <td>{{nest.total}}</td>
                        </tr>
                      </template>

                    </template>

                    <tr>
                        <td colspan="4"><b class="pull-right">Total Return</b></td>
                        <td>{{project.return}}</td>
                    </tr>
                    </template>
                </tbody>
              </table>
            -->

</template>

<script>
  export default{
    props: ['columns','sortKey','sortOrders','projects']
  }
</script>
