<template>
  <div>
      <div class="col-md-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
              <div class="row">

                  <div class="col-sm-offset-8 col-sm-4">

                      <div class="form-group pull-right" style="display:none"><input v-model="tableData.search" @input="getData()" type="text" placeholder="Search" class="input-sm form-control"> </div>
                      <div class="form-group" id="data_5">
                          <label class="font-normal"><span v-if="translation">{{ translation['date-select'] }}</span></label>
                          <the-mask  id="df" v-model="tableData.from" class="input-sm form-control" name="start"  placeholder="YYYY/MM/DD"  mask="####/##/##" @input="getData() "/>
                          <!-- <div class="input-daterange input-group" id="datepicker">
                             <input id="df" v-model="tableData.from" type="text" class="input-sm form-control" name="start"  placeholder="YYYY/MM/DD" />
                              <the-mask  id="df" v-model="tableData.from" class="input-sm form-control" name="start"  placeholder="YYYY/MM/DD"  mask="####/##/##" @input="getData() "/>
                              <span class="input-group-addon">to</span>
                              <the-mask  id="dt" v-model="tableData.to" type="text" class="input-sm form-control" name="end" placeholder="YYYY/MM/DD" mask="####/##/##" @input="getData()"/>
                          </div>-->
                      </div>
                  </div>


              </div>
            <DailyTable :projects="projects" :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">

          </DailyTable>
          </div>
          </div>
      </div>
  </div>
</template>
<script>
  import DailyTable from './DataTable.vue';
  export default {

    props: ['translation'],
    components: { DailyTable: DailyTable},
    data() {
      var d =  moment();
      let sortOrders = {};
      let columns = [
          {width: '20%', label: 'Client Name', name: 'first_name' },
          {width: '25%', label: '', name: 'service_name'},
          {width: '25%', label: 'Cost', name: 'cost'},
          {width: '10%', label: 'Extra Cost', name: 'extra_cost'},
          {width: '10%', label: 'Total', name: 'total'},
      ];
      columns.forEach((column) => {
         sortOrders[column.name] = 0;
      });

      return{
        // myUser:0,
        // rets:false,
        counter: 0,
        success: false,
        edit: false,
        tmpHref:false,
        projects: [],
        columns: columns,
        sortKey: 'created_at',
        sortOrders: sortOrders,
        perPage: ['10', '20', '30'],
        tableData: {
            draw: 0,
            length: 1000,
            search: '',
            column: 2,
            dir: 'desc',
            from:d.format("YYYY/MM/DD"),
            to:d.format("YYYY/MM/DD")
        },
      }
    },
    methods : {

      getData(url = './daily-cost'){
        this.projects = [];
        //$( ".tabs-container" ).empty();
        // this.tableData.from = $('input[name="start"]').val();
        // this.tableData.to = $('input[name="end"]').val();
        //console.log(this.tableData.from);

        this.tableData.draw++;
        axios.get(url, {params: this.tableData}).then((response) => {
            let data = response.data;
            //console.log(response.data);
            //this.projects = response.data.data;
            if (this.tableData.draw == data.draw) {

                this.projects = data.data;
                //this.configPagination(data.data);
            }
        });
      },
      getUser(user_id){
              // this.myUser = user_id;
              // return this.rets;
      },
      sortBy(key) {
          this.sortKey = key;
          this.sortOrders[key] = this.sortOrders[key] * -1;
          this.tableData.column = this.getIndex(this.columns, 'name', key);
          this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
          this.getProjects();
      },
      getIndex(array, key, value) {
          return array.findIndex(i => i[key] == value)
      },
      tru(){
        alert();
      }

    },
    created(){
      this.getData();

    },
    updated(){
      //this.setDate();
      $('ul.nav-tabs li:first-child').addClass('active');
      $('div.tab-content div:first-child').addClass('active');
    },
    watch: {
      // myUser: function(newValue, oldValue) {
      //   console.log(newValue, oldValue)
      //   this.rets = true;
      // }
    }
  }
</script>
