


.image-detail {
  margin-bottom: 10px;

  	img {
	  width: 100%;
	  border: 1px solid #ececec;
	  border-radius: 0;
	}
}

.title-detail {
  font-size: 22px;
  line-height: 1;
  margin-bottom: 2px;
  margin-left: 5px;
  font-weight: 500;
	tr {
	  	td {
		  vertical-align: middle !important;
		  	&:first-child {
			  width: 150px;
			}
		}
	}
  .wishlist{
    color: rgba(0,0,0, 0.87);
    font-size: 11px;
    text-decoration: none;
    &:hover {
      color: #e50050;
    }
  }
}

.table-detail{
  border-bottom: 1px solid rgba(0,0,0,.09);
  .fxWd{
    width:150px;
  }
  .label.arrowed{
    /* margin-left: 0px !important; */
  }
  .shipprice{
    font-size:  1.5rem !important;
  }
	.price{
    margin-top:0px;
		margin-bottom:5px;
    font-size:  2.7rem !important;

		div{
    		font-weight: bold;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center; 
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
		}
		.price-old{
      margin-left:0px;
			margin-right:10px;
      font-size:  1.7rem !important;
		}
    .ysv{
      font-size:  12px;
      color:#3e3e3e;
      font-weight:  600;
      margin-left:  10px;
    }
		.label-default.arrowed::before {
		    border-right-color: #777;
		}
	}
	td{
        border-top: 0px !important;
  }

}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}
#qty-mar{
  padding-left:0px;
}
.color-stock{
  margin-top: 11px;
}
.store-details{
    background-color: #fbfbfb;
    border-left: 1px solid #e8e8e8;
    margin-top: -30px;
    margin-right: -10px;
    padding: 20px 10px 50px 10px;
    min-height: 485px;
    h5{
        color:#333;
        font-weight: 500;
        border-bottom: 1px solid #eee;
        padding-bottom: 6px;
    }
    .storename{
        font-size:13px;
    }
    .store-desc{
        font-size:12px;
        padding-top:5px;
    }
    .store-btn{
        font-size:11px;
    }

    .stars{
      margin-bottom: 15px;
      .levels {
          float: left;
          margin-right: 2px;
          width: 16px;
          height: 16px;
          &.diamonds{
          background-image: url(/images/diamonds.gif);
          background-repeat: no-repeat;
          background-position: 0 0;
        }

      }
    }

    .badges-container{
      margin: 5px 0;
      .badges-img{
        padding:0;
        img{
          width: 100%;
        }
      }
      .badge-text{
        padding-right:0; 
        span{
          font-size: smaller;
          font-weight: bold;
        }
        
      }
    }

    .green{
      color: green;
    }

    .red{
      color: red;
    }

    .font-size{
      font-size: 10px;
    }

    .margin8{
      margin-left: 8px;
    }

    .margin5{
      margin-left: 5px;
    }
}

.rating-block{
    margin-top:3px;
    margin-bottom:0px;

    .star-ratings-sprite {
      background: url("/shopping/img/general/rating/star-rating-sprite.png") repeat-x;
      font-size: 0;
      height: 21px;
      line-height: 0;
      overflow: hidden;
      text-indent: -999em;
      width: 110px;
      /*margin: 0 auto;*/
      
      &-rating {
        background: url("/shopping/img/general/rating/star-rating-sprite.png") repeat-x;
        background-position: 0 100%;
        float: left;
        height: 21px;
        display:block;
      }
      
    }

    .star-ratings-sprite-small {
      background: url("/shopping/img/general/rating/star-rating-sprite-small.png") repeat-x;
      font-size: 0;
      height: 15px;
      line-height: 0;
      overflow: hidden;
      text-indent: -999em;
      width: 75px;
      /*margin: 0 auto;*/
      
      &-rating {
        background: url("/shopping/img/general/rating/star-rating-sprite-small.png") repeat-x;
        background-position: 0 100%;
        float: left;
        height: 15px;
        display:block;
      }
      
    }
}

.radio-review{
  height: 25px;
  width: 18px;
}

.label-review{
  margin-bottom: 0px;
  margin-top: 3px;
}

.redSpan{
  color:red;
}

.nav-tabs{
    li.active{
            background-color:#44bdb2;
        }
}

.specsTable{
    td{
        border-top:0px !important;
    }
    .specsTitle{
        font-weight: bold;
        width : 200px;
    }
}

.btn-grey{
  background-color:#D8D8D8;
  color:#FFF;
}
.rating-blocks{
  background-color:#FAFAFA;
  border:1px solid #EFEFEF;
  padding:15px 15px 20px 15px;
  border-radius:3px;
}
.bold{
  font-weight:700;
}
.padding-bottom-7{
  padding-bottom:7px;
}

.starCounter{
    .star-title{
        width:35px; 
        line-height:1;
        .starCount{
            height:9px; 
            margin:5px 0;
        } 
    }
    .progress-star{
        width:200px;
        .progress{
            height:9px; 
            margin:8px 0;
        }
    }
}

.img-responsive{
  width: 100%
}

.btn-like{
  height: 20px !important;
  min-width: 20px !important;
  width: 20px !important;
  font-size: 15px !important;
}

.btnsmall{
  font-size: 11px !important;
  cursor: pointer;
}

#toast-container{
  margin-bottom:30px
}

.popover:after 
  {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 275px;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #656565;
  display: block;
  width: 0;
  height: 0;
  z-index: 1;
  }

@media screen and (max-width: 1199px) {

    .btnmobile {
      padding: 10px;
      font-size: 11px;
    }

    .buy-now-cont {
      width: 355px;
    }

}

@media screen and (min-width: 768px) {

    #zoom_03 {
      width: 100%
    }

}

@media screen and (max-width: 991px) and (min-width: 768px) {

    .break {
      margin-top: 555px;
    }

    #qty-mar {
      width: 75px
    }

    #remain {
      position: absolute;
      left: 200px;
    }

    .box-product h6 a {
      font-size: 12px;
    }

    .box-product .img-wrapper {
      height: 120px;
    }

}

@media screen and (max-width: 991px) and (min-width: 768px) {

    .break {
      margin-top: 500px;
    }

    #qty-mar {
      width: 75px
    }

    #remain {
      position: absolute;
      left: 200px;
    }

    .box-product h6 a {
      font-size: 12px;
    }

    .box-product .img-wrapper {
      height: 120px;
    }

}

@media screen and (max-width: 767px) {

    .mobile {
      margin-top: 15px;
      margin-left: 10px;
    }

}

@media screen and (max-width: 400px) {

    .box-product h6 a {
      font-size: 11px;
    }

    .box-product .img-wrapper {
      height: 120px;
    }

}

@media screen and (max-width: 378px) {

    #zoom_03 {
        width: 100%
    }

}

span.store-btn a {
  text-overflow: ellipsis; 
  overflow: hidden;
}

.popover {
  background-color: #009688;
  color: #fff;
  border: solid thin #006f65;
  border-radius: 12px;
  font-size: 13px;
}
.popover:after {
  border-color: transparent transparent transparent #006f65;
}
div.popover.fade.left.in {
  cursor: pointer;
}
