// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Store page.
// -----------------------------------------------------------------------------

@import
  '../../abstracts/variables',
  '../../abstracts/functions',
  '../../abstracts/mixins';

// -----------------------------------------------------------------------------
//                          Create Product
// -----------------------------------------------------------------------------

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: left;
    display: block;
    margin-top: 60px;
    .box-icon {
        background-color: $wyc-default-teal;
        border-radius: 50%;
        display: table;
        height: 60px;
        margin: 0 auto;
        width: 60px;
        margin-top: -41px;
        span {
            color: #fff;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    }

    .info{
        h4 {
            font-size: 20px;
            letter-spacing: 2px;
            text-transform: capitalize;
            font-weight: bold;
        }
        .avatar {
            position: absolute;
            top: 0px;
            left: 1px;
            width: 240px;
            height: 200px;
            background: url('/images/avatar/default-product.jpg');
            background-size: cover;
            border: 1px solid #e5e5e5;

            .product-profile-photo {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .avatar-uploader {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: transparent;
                overflow: hidden;

                .avatar-upload-text {
                    position: absolute;
                    width: 100%;
                    height: 26px;
                    line-height: 26px;
                    border: 0;
                    background: rgba(0, 0, 0, 0.8);
                    color: #ffffff;
                    font-size: 12px;
                    text-align: center;
                    bottom: 0;
                }

                input {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    opacity: 0;
                    width: 100%;
                }

                .v-spinner-primary {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 1.6rem;
                    background-color: white;
                    z-index: 9999;
                }
            }
        }
    }
}


#descs {

    .number {
        margin-top: 30px;
        font-size: 18px;
    }

    .delete-spec {
        position: relative;
        left: 66px;
    }

    .btn-upload {
        margin-right: 25px;
    }

    .top {
        top: 28px;
        left: 1px;
    }    

    .add-desc {
        top: 20px;
        left: 20px;
        width: 80px;
        height: 80px;
        background: url('/images/avatar/desc-image.jpg');
        background-size: cover;
        border: 1px solid #e5e5e5;

        .add-desc-photo {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 78px;
            height: 78px;
        }
        .add-desc-uploader{
            top: 0;
            left: 0;
            width: 100%;
            /* height: 100%; */
            background: transparent;
            /*border-radius: 100%;*/
            overflow: hidden;

            .add-desc-upload-text {
                position: absolute;
                width: 298px;
                height: 26px;
                line-height: 26px;
                border: 0;
                background: rgba(0, 0, 0, 0.8);
                color: #ffffff;
                font-size: 12px;
                text-align: center;
                bottom: 0;
            }

            input {
                position: absolute;
                bottom: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                opacity: 0;
                width: 100%;
            }
            .v-spinner-desc {
                position: absolute;
                height: 24px !important;
                top: 275px;
                left: 30%;
                right: 0;
                bottom: 0;
                border-radius: 1.6rem;
                background-color: #333333;
                z-index: 9999;
            }
        }
    }
}

.avatar-uploader {
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;

    .avatar-upload-text {
        position: absolute;
        width: 100%;
        height: 26px;
        line-height: 26px;
        border: 0;
        background: rgba(0, 0, 0, 0.8);
        color: #ffffff;
        font-size: 12px;
        text-align: center;
        bottom: 0;
    }

    input {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        opacity: 0;
        width: 100%;
    }

    .v-spinner-primary {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 1.6rem;
        background-color: white;
        z-index: 9999;
    }
}


#variations {
    .item-spec-container-1 {

        .border-row{
            border-color: #009688;
            border-style: dotted;
            border-width: thin;
        }

        .border-right{
            border-right-color: #009688;
            border-right-style: dotted;
            border-right-width: thin;
        }

        .border-left{
            border-left-color: #009688;
            border-left-style: dotted;
            border-left-width: thin;
        }

        .margin {
            margin-top: 42px;
            margin-left: 12px;
        }

        .add-desc {
            width: 80px;
            height: 80px;
            background: url(/images/avatar/desc-image.jpg);
            background-size: cover;
            border: 1px solid #e5e5e5;

            .add-desc-photo {
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 78px;
                height: 78px;
            }
        }

        .top {
            top: 42px;
            left: 1px;
        }

        .delete-spec {
            position: absolute;
            float: right;
            right: -15px;
            top: 22px;
        }
    }

    .item-spec-container-2 {
        .margin {
            margin-left: 25px;
        }

        .delete-spec2 {
            position: relative;
            float: right;
            right: -15px;
            top: -30px;
        }

    }

    .btn-var{
        width: 149.94px;
    }

    .btn-upload{
        position: relative;
        top: 24px;
    }
}

.img-responsive {
  width: 100%
}


@media screen and (min-width: 768px) {

    #zoom_03 {
      width: 100%
    }

    #shipping{
        .jqzoom{
          margin-top: -30px;
        }
    }

    #main-photos .margin{
        margin-top: -30px;
    }    

}

@media screen and (max-width: 767px) {

    #variations .item-spec-container-1 .add-desc{
        margin-left: 25px;
    }
}

@media screen and (max-width: 378px) {

    #zoom_03 {
        width: 100%
    }

}

@media screen and (max-width: 991px) and (min-width: 768px) {

    .break {
      margin-top: 555px;
    }

    #qty-mar {
      width: 75px
    }

    #remain {
      position: absolute;
      left: 200px;
    }

    .box-product h6 a {
      font-size: 12px;
    }

    .box-product .img-wrapper {
      height: 120px;
    }

}

@media screen and (max-width: 991px) and (min-width: 768px) {

    .break {
      margin-top: 500px;
    }

    #qty-mar {
      width: 75px
    }

    #remain {
      position: absolute;
      left: 200px;
    }

    .box-product h6 a {
      font-size: 12px;
    }

    .box-product .img-wrapper {
      height: 120px;
    }

}

@media screen and (max-width: 480px) {

    #tags {
        right: 79px !important;
    }

    .btnFinishProduct {
        margin-right: 14px;
    }

}


@media screen and (max-width: 414px) {

    #tags {
        right: 13px !important;
    }

}


#previewModal a.color-variation {
    margin-right: 5px;
}
