<template>

  <div>

    <div v-if="album.length !=0" >
    <div class="col-xs-12 col-sm-12 col-md-12" v-for="projects in project" :key="projects.id" style="padding-left:30px !important;padding-right:30px !important;">
    <div v-if="checkID(projects.id) && projects.allow_public==1">
      <div class="row m-b-lg">
        <div class="text-center">
              <div class="navy-line"></div>
                <h1>{{projects.title}}</h1>
        </div>
      </div>

      <div class="row" >
          <div class="w3-container">

              <div class="slick_demo_2" >

                  <div  v-for="images in album" :key="images.id" v-if="images.album_id == projects.id">
                      <div class="ibox-content out-container" >
                        <img id="myImg" :src="'/images/gallery/' + images.filename" alt="Avatar" class="out-image" @click="enlarge('/images/gallery/' + images.filename)">
                      </div>
                  </div>

              </div>
          </div>
      </div>
      <a class="pull-right show-more" :href="'/gallery/albums/'+projects.id" target="_blank" >Show more</a>

      </div>

      </div>
    </div>

  </div>
</template>
<script>

export default {
  data(){
    return{
      album:[],
      project:[],
    }
  },
  methods:{
      getAlbum(url = 'gallery/albums') {
          axios.get(url)
              .then(response => {
                  let data = response.data;
                  // this.album.id = data.id;
                  this.project = data;
                  //console.log(this.project);

              })
              .catch(errors => {
                  console.log(errors);
              });
      },
      getImages(url = 'gallery/get-images') {
          axios.get(url)
              .then(response => {
                  let data = response.data;
                  // this.album.id = data.id;
                  this.album = data;
                  //console.log(this.album);
                  //alert(this.album.length);
                  $(".slick-slide").width(97/this.album.length);
              })
              .catch(errors => {
                  console.log(errors);
              });
      },
      checkID(id){

        var found = 0;
        this.album.some(function (el) {
          if(el.album_id == id){
            found++;
          }

        });

        if(found>=5){
          return true;
        }else{
          return false;
        }

      },
      enlarge(img){
        $( "#imgAppender" ).empty();
        var modal = document.getElementById('myModal1');
        var header = document.getElementById('topHeader');
        var modalImg = document.getElementById("img01");
        modal.style.display = "block";
        //modalImg.src = img;
        var span = document.getElementsByClassName("close")[0];
        $("body").addClass("modal-open");
        $(header).addClass("paddingClass");

        var images = $('.slick-track').find('img').map(function() { return this.src; }).get();
        //console.log(img);
        $.each( images, function( key, value ) {
          //console.log( key + ": " + value );
          if(value.indexOf(img) != -1){
              $("#imgAppender").append('<div class="item active"><img id= "img01"  src="'+value+'"  style="width:100%;"></div>');
            }else{
              $("#imgAppender").append('<div class="item"><img id= "img01"  src="'+value+'"  style="width:100%;"></div>');
            }
        });

        modal.onclick = function(e) {
          if (!$(e.target).is('#img01') && !$(e.target).is('#llr') && !$(e.target).is('#lll')&& !$(e.target).is('#lllr') && !$(e.target).is('#llll')) {
            modal.style.display = "none";
            $("body").removeClass("modal-open");
            $(header).removeClass("paddingClass");
          }

        }

      },

    },
    created(){
      this.getAlbum();
      this.getImages();
    },

    updated(){
      // var item_length = $('.slider > div').length - 1;

      $('.slick_demo_2').slick({
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 1,
          centerMode: false,
          //autoplay: true,
          //autoplaySpeed: 2000,
          prevArrow: '<a class="btn prev pull-left slick-arrow" style="background-color: transparent; position:absolute; top:50%; margin-top:-25px;left:-35px;"><img src="/js/owl/arrow left.png"></a>',
          nextArrow: '<a class="btn next pull-right slick-arrow" style="background-color: transparent; position:absolute; top:50%; margin-top:-25px;right:-35px;"><img src="/js/owl/arrow right.png"></a>',
          responsive: [
                      {
                        breakpoint: 1024,
                        settings: {
                          slidesToShow: 5,
                          slidesToScroll: 1,
                          infinite: true,
                          dots: true
                        }
                      },
                      {
                        breakpoint: 600,
                        settings: {
                          slidesToShow: 3,
                          slidesToScroll: 1
                        }
                      },
                      {
                        breakpoint: 480,
                        settings: {
                          slidesToShow: 1,
                          slidesToScroll: 1
                        }
                      }
                      // You can unslick at a given breakpoint now by adding:
                      // settings: "unslick"
                      // instead of a settings object
                    ]
      });

    }

}



</script>
