<template>
  <form class="form-horizontal" action="#" method="POST" enctype="multipart/form-data" >

    <div class="col-md-8">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5><span v-if="translation">{{ translation['news-editor'] }}</span></h5>
          </div>
          <div class="ibox-content no-padding" >

              <div id="summer" name="summer" class="summernote" :model.sync="newNews.content">
              
              </div>

               
              

          </div>
      </div>
  </div>

  <div class="col-md-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
              <h5><span v-if="translation">{{ translation['featured-image'] }}</span><code> Recommended size: <i>1280x510</i></code></h5>

        </div>
        <div class="ibox-content" style="height:246px !important;">
            <div class="avatar-upload">
              <div class="avatar-edit">
                  <input type='file' id="imageUpload" @change="onFileChanged"  accept=".png, .jpg, .jpeg" />

                  <label for="imageUpload"></label>
              </div>
              <div class="avatar-preview">
                  <div id="imagePreview" v-bind:style="{ backgroundImage: 'url(../../images/news/'+ newNews.image + ')' }">
                  </div>
                  <input v-model="newNews.image" type="hidden" />
              </div>
            </div>
        </div>
      </div>
                  <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><span v-if="translation">{{ translation['advanced-settings'] }}</span></h5>

                        </div>
                        <div class="ibox-content">


                                <div class="form-group">
                                  <label class="col-lg-2 control-label">
                                    <span v-if="translation">{{ translation['title'] }}</span>
                                  </label>

                                    <div class="col-lg-10">
                                      <input id="titulo" name="titulo" v-model="newNews.header" type="input" placeholder="Title" class="form-control">
                                      <span class="help-block m-b-none">
                                        <span v-if="translation">{{ translation['dont-leave-this-area-empty'] }}</span>
                                      </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="i-checks" v-if="newNews.featured==1">
                                          <label> 
                                            <input id="chkFeatured" type="checkbox" checked> <i></i> 
                                            <span v-if="translation">{{ translation['featured'] }}</span> 
                                          </label>
                                        </div>
                                        <div class="i-checks" v-else>
                                          <label> 
                                            <input id="chkFeatured" type="checkbox" > <i></i> 
                                            <span v-if="translation">{{ translation['featured'] }}</span> 
                                          </label>
                                        </div>
                                        <div style="display:none" class="i-checks" v-if="newNews.allow_comment==1">
                                          <label> 
                                            <input id="chkComment" type="checkbox" > <i></i> 
                                            <span v-if="translation">{{ translation['allow-comments'] }}</span> 
                                          </label>
                                        </div>
                                        <div style="display:none" class="i-checks" v-else>
                                          <label> 
                                            <input id="chkComment" type="checkbox" > <i></i> 
                                            <span v-if="translation">{{ translation['allow-comments'] }}</span> 
                                          </label>
                                        </div>
                                        <div class="i-checks" v-if="newNews.only_private==1">
                                          <label> 
                                            <input id="chkPrivate" type="checkbox" checked> <i></i> 
                                            <span v-if="translation">{{ translation['private'] }}</span> 
                                          </label>
                                        </div>
                                        <div class="i-checks" v-else>
                                          <label> 
                                            <input id="chkPrivate" type="checkbox" > <i></i> 
                                            <span v-if="translation">{{ translation['private'] }}</span> 
                                          </label>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">

                            				<button  class="btn btn-default pull-right" type="button" v-if="!edit" @click="saveNews()">
                                      <span v-if="translation">{{ translation['save'] }}</span>
                                    </button>

                            				<button  class="btn btn-default pull-right" type="button" v-if="edit" @click="updateNews(newNews.news_id)">
                                      <span v-if="translation">{{ translation['update'] }}</span>
                                    </button>

                                    <button  class="btn btn-default pull-right" type="button"  @click="clearNews()">
                                      <span v-if="translation">{{ translation['clear'] }}</span>
                                    </button>

                                  <!--<button class="btn btn-white pull-right btn-sm" @click="saveNews(newNews.news_id)">Save</button>-->

                                </div>

                        </div>
                    </div>

  </div>
</form>


</template>

<script>
  export default{
    props: {
      translation: Object,
    newNews: Object,
    edit: Boolean,
    isValid: Boolean,
    updateNews: Function,
    saveNews: Function,
    onFileChanged: Function,
    clearNews: Function,
    }

  }
</script>
