<template>
  <div >
  <nav class="pagination" v-if="!client">
        <span class="page-stats">{{pagination.from}} - {{pagination.to}} of {{pagination.total}}</span>
        <a v-if="pagination.prevPageUrl" class="btn btn-default pagination-previous" @click="$emit('prev');">
            <span v-if="translation">{{ translation['prev'] }}</span>
        </a>
        <a class="btn btn-default pagination-previous" v-else :disabled="true">
            <span v-if="translation">{{ translation['prev'] }}</span>
        </a>

        <a v-if="pagination.nextPageUrl" class="btn btn-default pagination-next" @click="$emit('next');">
            <span v-if="translation">{{ translation['next'] }}</span>
        </a>
        <a class="btn btn-default pagination-next" v-else :disabled="true">
            <span v-if="translation">{{ translation['next'] }}</span>
        </a>
    </nav>

    <nav class="pagination" v-else>
        <span class="page-stats">
            {{pagination.from}} - {{pagination.to}} of {{filtered.length}}
            <span v-if="filtered.length < pagination.total">
                (
                    <span v-if="translation">{{ translation['filtered-from'] }} </span>
                    {{pagination.total}} 
                    <span v-if="translation">{{ translation['total-entries'] }}</span>
                )
            </span>
        </span>
        <a v-if="pagination.prevPage" class="btn btn-default pagination-previous" @click="$emit('prev');">
            <span v-if="translation">{{ translation['prev'] }}</span>
        </a>
        <a class="btn btn-default pagination-previous" v-else :disabled="true">
            <span v-if="translation">{{ translation['prev'] }}</span>
        </a>

        <a v-if="pagination.nextPage" class="btn btn-default pagination-next" @click="$emit('next');">
            <span v-if="translation">{{ translation['next'] }}</span>
        </a>
        <a class="btn btn-default pagination-next" v-else :disabled="true">
            <span v-if="translation">{{ translation['next'] }}</span>
        </a>
    </nav>
  </div>
</template>
<script>
  export default{
    props: ['pagination', 'client', 'filtered', 'translation']
  }
</script>
