
<template>

  <div>
   
    <NewsEditor  v-bind:clearNews="clearNews" v-bind:onFileChanged="onFileChanged" v-bind:saveNews="saveNews" v-bind:updateNews="updateNews" v-bind:newNews="newNews" v-bind:isValid="isValid" v-bind:edit="edit" :translation="translation" >

    </NewsEditor>

    <div class="col-md-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
              <div class="row">
                  <div class="col-sm-1 m-b-xs"><select class="input-sm form-control input-s-sm inline" v-model="tableData.length" @change="getProjects()">
                    <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                  </select>
                  </div>

                  <div class="col-sm-offset-7 col-sm-4">
                      <div class="input-group pull-right"><input v-model="tableData.search" @input="getProjects()" type="text" placeholder="Search" class="input-sm form-control"> </div>
                  </div>
              </div>

                <NewsTable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                  <tbody>
                      <tr v-for="project in projects" :key="project.news_id">
                          <td>{{project.header}}</td>
                          <td>{{project.name}}</td>
                          <td>{{project.created_at}}</td>
                          <td>
                            <div class="form-group">
                              <button type="button" class="btn btn-primary btn-xs" @click="editNews(project.news_id)"><span class="glyphicon glyphicon-pencil"></span></button>
                              <button type="button" class="btn btn-danger btn-xs" @click="deleteNews(project.news_id)"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                          </td>
                      </tr>
                  </tbody>
              </NewsTable>
              <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)"
                    :translation="translation">
              </pagination>
            </div>
        </div>
    </div>
  </div>
</template>

<script>

  import NewsEditor from './NewsEditor.vue';
  import NewsTable from './DataTable.vue';
  import Pagination from './Pagination.vue';
  
  const resource = require('vue-resource');
  let user = window.Laravel.user;

  export default {
    components: { NewsEditor: NewsEditor, NewsTable: NewsTable, Pagination: Pagination},

    props: ['translation'],

    data() {

        let sortOrders = {};
        let columns = [
            {width: '40%', label: 'Header', name: 'header' },
            {width: '25%', label: 'Name', name: 'name'},
            {width: '25%', label: 'Created', name: 'created_at'},
            {width: '10%', label: 'Action'},
        ];
        columns.forEach((column) => {
           sortOrders[column.name] = 2;
        });

        return {
          config: {
            events: {
              'froalaEditor.initialized': function () {
                console.log('initialized')
              }
            }
         },
            selectedFile: null,
            newNews: {
        			news_id: '',
        			header: '',
              content: '',
              mobile_content:'',
        			image: '',
              author_id: '',
              featured: '',
              created_at: '',
              updated_at: '',
              allow_comment: '',
              only_private: '',
              name: '',
              form_data:'',
              temp_data:''
        		},
        		success: false,
        		edit: false,
            tmpHeader:'',
            tmpContent: '',
            tmpHref:false,
            projects: [],
            columns: columns,
            sortKey: 'created_at',
            sortOrders: sortOrders,
            perPage: ['10', '20', '30'],
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 2,
                dir: 'desc',
            },
            pagination: {
                lastPage: '',
                currentPage: '',
                total: '',
                lastPageUrl: '',
                nextPageUrl: '',
                prevPageUrl: '',
                from: '',
                to: ''
            },

        }
    },
    methods: {

        onFileChanged (e) {
          //console.log(event.target.files[0]);
          //this.selectedFile = event.target.files[0];
          let files = e.target.files || e.dataTransfer.files;
          if (!files.length)
                    return;
          this.createImage(files[0]);

        },
        createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.selectedFile = e.target.result;
                };
                reader.readAsDataURL(file);
        },
        getProjects(url = './news-list') {
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {

                        this.projects = data.data.data;
                        this.configPagination(data.data);
                    }
                })
                .catch(errors => {
                    console.log(errors);
                });
        },
        updateProjects(url, method, id){
          axios.post(url, {
            id: id,
            method: method
          })
          .then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });
        },

        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        editNews(id){
            this.edit = true;

      			this.$http.get('./news-list/' + id).then(response => {
                let data = response.data;
                this.newNews.news_id = data.news_id;
                this.newNews.header = data.header;
                this.newNews.content = data.content;
                this.newNews.image = data.image;
                this.newNews.temp_data = data.image;
                this.newNews.author_id = data.author_id;
                this.newNews.featured = data.featured;
                this.newNews.created_at = data.created_at;
                this.newNews.updated_at = data.updated_at;
                this.newNews.allow_comment = data.allow_comment;
                this.newNews.only_private = data.only_private;
                $('.note-editable').html(this.newNews.content);
                console.log(this.newNews);
            })

        },
        clearNews(){
          $('.note-editable').empty();
          $('#imageUpload').val(null);
          $("#imagePreview").css('background-image', 'url(../../images/news/)');
          this.edit = false;
          this.newNews = {
            news_id: '',
            header: '',
            content: '',
            mobile_content:'',
            image: '',
            author_id: '',
            featured: 0,
            created_at: '',
            updated_at: '',
            allow_comment: 0,
            only_private: 0,
            form_data:''
          }
          this.selectedFile = null;
          $('#chkPrivate').prop('checked', false);
          $('#chkFeatured').prop('checked', false);
          $('#chkComment').prop('checked', false);
        },
        deleteNews(id){
          if(confirm('Are you sure?')){
            //this.updateProjects('./news-list/update','delete',id);
            this.$http.delete('./news-list/' + id);
          }
          this.getProjects();
        },
        updateNews(id) {
          var bg = $("#imagePreview").css("background-image")
          bg =  bg.replace(/.*\s?url\([\'\"]?/, '').replace(/[\'\"]?\).*/, '')
          this.tmpHref = false;
          if($('.note-editable').text().length >=50){
          this.newNews.content  = $('.note-editable').html();
          this.newNews.featured = ($('#chkFeatured').is(':checked') ? 1 : 0);
          this.newNews.allow_comment = ($('#chkComment').is(':checked') ? 1 : 0);
          this.newNews.only_private = ($('#chkPrivate').is(':checked') ? 1 : 0);
          this.newNews.author_id = user.id;
          this.newNews.name = user.first_name;
          this.newNews.form_data = this.selectedFile;
          var filename = new Date();
          var time = filename.getDay()+''+filename.getYear()+''+filename.getHours() +''+ filename.getMinutes() +''+ filename.getSeconds()+'.jpeg';
          $.isEmptyObject(this.newNews.form_data)? '' : this.newNews.image = time;
          //console.log(this.newNews.image);
          var news = this.newNews;
          this.tmpHeader =   $('#titulo').val();
          this.tmpContent =   $('.note-editable').html();

        			this.$http.patch('./news-list/' + id, news, function (data) {
        				//console.log(data)
        			}).catch(function (error) {
                if(error.status ==422){

                  if(this.tmpContent!='<p><br></p>' && this.tmpHeader != ''){
                      toastr.error("Title must be minimum of 5 characters, content must be minimum of 50 characters");
                  }else{
                   
                      toastr.error("Content and title cannot be empty");
                  }
                  $("#imagePreview").css('background-image','url(' + bg + ')');
                  this.tmpHref = true;
                }
              }).then(function () {
                if(!this.tmpHref){
                  $('.note-editable').empty();

                  this.newNews = {
                    news_id: '',
                    header: '',
                    content: '',
                    mobile_content:'',
                    image: '',
                    author_id: '',
                    featured: 0,
                    created_at: '',
                    updated_at: '',
                    allow_comment: 0,
                    only_private: 0,
                    form_data:''
                  }
                  this.selectedFile = null;
                  $('#chkPrivate').prop('checked', false);
                  $('#chkFeatured').prop('checked', false);
                  $('#chkComment').prop('checked', false);
                  this.edit = false;
                  this.getProjects();
                   swal({
                            title: "Success",
                            text: "You have successfully updated a news"
                    });
                }
              });

        }else{
          toastr.error("Title must be minimum of 5 characters, content must be minimum of 50 characters");
        }
    		},
        saveNews() {
          var bg = $("#imagePreview").css("background-image")
          bg =  bg.replace(/.*\s?url\([\'\"]?/, '').replace(/[\'\"]?\).*/, '')
          this.tmpHref = false;
            this.newNews.content  = $('.note-editable').html();
            this.newNews.featured = ($('#chkFeatured').is(':checked') ? 1 : 0);
            this.newNews.allow_comment = ($('#chkComment').is(':checked') ? 1 : 0);
            this.newNews.only_private = ($('#chkPrivate').is(':checked') ? 1 : 0);
            this.newNews.author_id = user.id;
            this.newNews.name = user.first_name;
            this.newNews.form_data = this.selectedFile;
            var filename = new Date();
            var time = filename.getDay()+''+filename.getYear()+''+filename.getHours() +''+ filename.getMinutes() +''+ filename.getSeconds()+'.jpeg';
            $.isEmptyObject(this.newNews.form_data)? '' : this.newNews.image = time;
            // User input
      			var news = this.newNews

            this.tmpHeader =   $('#titulo').val();
            this.tmpContent =   $('.note-editable').html();

      			// Send post request
            //console.log(news);
      			this.$http.post('./news-list', news).catch(function (error) {
               if(error.status==422){
                  if(this.tmpContent!='<p><br></p>' && this.tmpHeader != ''){
                    toastr.error("Title must be minimum of 5 characters, content must be minimum of 50 characters");
                  }else{
                    toastr.error("Content and title cannot be empty");
                  }
                   $("#imagePreview").css('background-image','url(' + bg + ')');
                    this.tmpHref = true;

               }

            }).then(function () {
              if(!this.tmpHref){
                // Clear form input
                $('.note-editable').empty();
                this.newNews = {
                  news_id: '',
                  header: '',
                  content: '',
                  mobile_content:'',
                  image: '',
                  author_id: '',
                  featured: 0,
                  created_at: '',
                  updated_at: '',
                  allow_comment: 0,
                  only_private: 0,
                  form_data:''
                }
                this.selectedFile = null;
                $('#chkPrivate').prop('checked', false);
                $('#chkFeatured').prop('checked', false);
                $('#chkComment').prop('checked', false);
                this.getProjects();
                swal({
                            title: "Success",
                            text: "You have successfully added a news"
                    });


              }
            });
      	}
    },
    computed: {
  		validation: function () {
  			return {
  				header: this.newNews.header.trim(),
  				content:  this.newNews.content.trim()

  			}
  		},

  		isValid: function () {
  			var validation = this.validation
  			return Object.keys(validation).every(function (key) {
  				return validation[key]
  			})
  		}
  	},
    created() {
        this.getProjects();
    },
    updated: function () {
        //this.getProjects();
    }
  };
</script>
