.products-grid {
    // max-width: 1200px;
    // margin: 0 auto;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    .grid-item {
        float: left;
        width: 315px;
        margin-bottom: 15px;
        @include shadow-z-1;

        .draft {
            position: absolute;
            top: 5px;
            right: 0;
            padding: 2px 5px;
            font-weight: 600;
            background-color: #f44336;
            color: white;
        }

        .content {
            padding: 10px;

            .product-name > a {
                color: #333;
            }

            .font-helvetica {
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            }

            .original-price {
                text-decoration: line-through;
            }

            .discount {
                position: absolute;
                top: 5px;
                right: 0;
                padding: 2px 5px;
                background-color: #f44336;
                color: white;
            }

            .jq-ry-container {
                padding: 0;
            }
        }
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 600px) {
    .products-grid {
        .grid-item {
            width: 290px;
        }
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    .products-grid {
        .grid-item {
            width: 220px;
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
    .products-grid {
        .grid-item {
            width: 210px;
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
    .products-grid {
        .grid-item {
            width: 190px;
        }
    }
}