.wyc-widget {
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-top: 10px;

    &.style1 {
        h2 {
            font-size: 30px;
            font-weight: 600;
            margin: 0;
        }
    }

    [class*="col-"] {
        display: inline-block;
        vertical-align: middle;
    }
}