// -----------------------------------------------------------------------------
// This file contains styles that are specific to the create store page.
// -----------------------------------------------------------------------------

@import
    '../../abstracts/variables',
    '../../abstracts/functions',
    '../../abstracts/mixins';

.stores-form-container {
    padding-top: 15px !important;
    padding-bottom: 90px !important;

    .title {
        margin-left: 0;
        margin-right: 0;
    }
}

.wyc-multiselect {
    .multiselect__tags {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #D2D2D2;
    }
}
#upload-primary{
    width: 100%;
    height: 400px;

    .croppie-container .cr-viewport, .croppie-container .cr-resizer {
        border:none !important;
    }

    .cr-slider-wrap {
        width: 75%;
        margin: 15px auto;
        text-align: center;
        position: absolute !important;
        left: 12.5% !important;
        bottom: 15px !important;
        display: none;
        z-index: 1;
    }

}
#modalPrimary{
    input[type="file"]{
        display: none !important;
    }
}
// -----------------------------------------------------------------------------
// STORE PROFILE CARD
// -----------------------------------------------------------------------------
.big-card{
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: #b0b0b0;
    border-top-width: 0;
    border-bottom-width: 2px;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    text-align:center;


    .croppie-container .cr-boundary {
        height: 100% !important;
    }

    .croppie-container .cr-viewport, .croppie-container .cr-resizer {
        border:none !important;
    }

    #upload-demo .cr-slider-wrap {
        width: 75%;
        margin: 15px auto;
        text-align: center;
        position: absolute !important;
        left: 12.5% !important;
        bottom: 0 !important;
        display: none;
        z-index: 1;
    }




    &.hovercard{
        position: relative;
        padding-top: 0;
        // overflow: hidden;
        // background-color: rgba(214, 224, 226, 0.2);
        
        .cardheader {
            background: url('https://dummyimage.com/1140x300/b0b0b0/f5f5f5&text=1140px+x+300px');
            background-size: cover;
            border: 1px solid #e5e5e5;
            height: 300px;

            background-repeat: no-repeat;
            background-position: center;    
            background-size: contain;

            .store-cover-photo {
                
                width: 100%;
                height: 100%;
            }

            .cover-uploader {
                display: inline-block;
                width: auto;
                position: absolute;
                z-index: 2;
                right: 12px;
                top: 12px;
                padding: 0 12px;
                height: 32px;
                line-height: 32px;
                background: rgba(0, 0, 0, 0.8);
                border: 0;
                border-radius: 1.6rem;
                color: #f9f8f8;
                cursor: pointer !important;

                input {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin-top: 0;
                    padding: 0;
                    cursor: pointer !important;
                    opacity: 0;
                    z-index: 3;
                    width: 100%;

                    font-size: 0;
                }

                .v-spinner-cover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 1.6rem;
                    background-color: white;
                    z-index: 9999;
                }
            }

        }

        .avatar {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 100px;
            height: 100px;
            background: url('/images/avatar/default.jpg');
            background-size: cover;
            border: 1px solid #e5e5e5;
            border-radius: 50%;
            z-index: 1;

            .store-profile-photo {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .avatar-uploader {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: transparent;
                border-radius: 100%;
                overflow: hidden;

                .avatar-upload-text {
                    position: absolute;
                    width: 100%;
                    height: 26px;
                    line-height: 26px;
                    border: 0;
                    background: rgba(0, 0, 0, 0.8);
                    color: #ffffff;
                    font-size: 12px;
                    text-align: center;
                    bottom: 0;
                    cursor: pointer !important;
                }

                input {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin: 0;
                    padding: 0;
                    font-size: 0;
                    opacity: 0;
                    width: 100%;
                    cursor: pointer !important;
                    height: 26px;                
                }

                .v-spinner-profile {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 26px;
                    background-color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 374px) {
    div.cr-viewport.cr-vp-circle {
        width: 200px !important;
        height: 200px !important;
    }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    div.cr-viewport.cr-vp-circle {
        width: 250px !important;
        height: 250px !important;
    }
}
