@import
    'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables',
    'node_modules/bootstrap-material-design/sass/shadows',
    '../../abstracts/variables',
    '../../abstracts/functions',
    '../../abstracts/mixins';

@import '../../components/product-grid';

.stores-container {
    padding-top: 15px !important;
    padding-bottom: 90px !important;

    .title {
        margin-left: 0;
        margin-right: 0;
    }
}

.panel-store-profile {
    border-radius: 0 !important;

    .user-avatar {
        width: 100%;
    }

    .panel-heading {
        padding: 0;
        border-radius: 0 !important;
    }

    .panel-body {
        .full-name {
            margin-top: 10px;
        }
    }

    .panel-footer {
        background-color: white;
        border-radius: 0 !important;
    }
}

.panel-store {
    .panel-heading {
        padding: 0;

        img {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }

    .panel-body {
        > h3 {
            height: 31px;

            a.store-name {
                display: block;
                color: $wyc-default-orange;
            }
        }

        .store-description {
            height: 40px;
        }
    }
}
table.show {
    display: table !important;
}