@import
    'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables',
    'node_modules/bootstrap-material-design/sass/shadows',
    '../../abstracts/variables',
    '../../abstracts/functions',
    '../../abstracts/mixins';

@import '../../components/product-grid';

.stores-show-container {
    padding-top: 15px !important;
    padding-bottom: 90px !important;

    .panel-stores-show {
        > .panel-heading {
            position: relative;
            padding: 0;

            img.store-cover {
                width: 100%;
            }

            .wrapper-store-profile {
                position: absolute;
                bottom: 20px;
                left: 20px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: url('/images/avatar/default.jpg');
                background-size: contain;

                img.store-profile {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    margin-top: 15px;
                }
            }
        }

        .panel-stores-show-profile {
            > .panel-heading {
                padding: 0;
                background-color: transparent;

                img.store-profile {
                    width: 100%;
                    margin-top: 15px;
                }
            }

            .panel-footer {
                background-color: #ffffff;
            }
        }
    }

    .wyc-widget{
        &.bg-red-500{
            background-color: #f55549 !important;
            color: #fff !important;
            a{
                color: #fff !important;
                &:hover{
                    color: #fff !important;
                }

            }
        }

        &.bg-cyan-8{
            a{
                color: #fff !important;
                &:hover{
                    color: #fff !important;
                }

            }
        }
    }

    .btn-cs{
        padding: 8px 12px;
    }

}

span.store-categories {
    margin-bottom: .6em;
    display: inline-block;
}