<template>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-container" v-if='notBlocked'>
		<div class="card">
			<div class="col-lg-12 text-center">
				<img class="friend-image img-circle img-responsive" :src='data.user.avatar'>
				<div class='friend-name'><a :href="'/users/'+data.user.id">{{ (data.user.first_name +" "+data.user.last_name) | truncate(25) }}</a>
					<br>
                    <slot name="date"><small class='tc-grey'>{{data.date}}</small></slot>
				</div>
			</div>
			<div class="row" v-if='type=="request"'>
			<!-- asdad -->
			    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
			        <button @click='btnFn(data.user.id,"reject")' class='btn btn-link btn-danger btn-has-loading' >{{this.$parent.lang['reject']}}</button>
			    </div>
			    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
			        <button @click='btnFn(data.user.id,"request")' class='btn btn-link btn-success btn-has-loading' >{{this.$parent.lang['accept']}}</button>
			    </div>
			</div>
			<div class="row" v-if='type=="friend"'>
			    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center margin">
			        <button @click='select(data.user)' class='btn btn-link btn-danger btn-has-loading' >{{this.$parent.lang['send-message']}}</button>
			    </div>
			    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
			        <button @click='btnFn(data.user.id,"unfriend")' class='btn btn-link btn-danger btn-has-loading' >{{this.$parent.lang['unfriend']}}</button>
			    </div>
			</div>
			<div class="row" v-if='type=="recommended"'>
			    <div class="col-xs-12 text-center">
			        <button @click='btnFn(data.user.id,"add") + changeBtn($event, "add")' class='btn btn-link btn-success btn-has-loading'>{{this.$parent.lang['add']}}</button>
			    </div>
			</div>
			<div class="row" v-if='type == "searched"'>
				<div class="col-xs-12 text-center">
			        <button @click='btnFn(data.user.id,button.type) + changeBtn($event, button.type)' class='btn btn-link btn-has-loading' :class='button.style'>{{button.content}}</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default{
		data() {
            return {
				notBlocked:true

            }
        },
		props:[
			'data',
			'type'
		],
		methods:{
			btnFn(id, type)
			{
				switch(type)
				{
					case 'add':
						axiosAPIv1
							.post('/friends',{
								user_id2:id
							})
							.then(response => {
								if(response.status == 201)
								{
									for(var j=0; j<this.$root.recommended.length; j++)
									{
										if(this.$root.recommended[j].user.id == id)
										{
											//remove
											this.$root.recommended.splice(j,1);
											this.$root.getFriendsData();
										}
									}

									if(this.type == 'searched') {
										for(var j=0; j<this.$root.searched.length; j++)
										{
											if(this.$root.searched[j].user.id == id)
											{
												//remove from search
												this.$root.searched.splice(j,1);
												this.$root.getFriendsData();
											}
										}
									}

									toastr.success('','Friend request sent!');
								}
							})
					break;
					case 'request':
						axiosAPIv1
							.post('/friend/find',{
								user_id:Laravel.user.id,
								user_id2:id
							})
							.then(response => {
								if(response.status == 200)
								{
									axiosAPIv1
										.put('/friends/'+response.data,{
											status:'Friend'
										})
										.then(data => {
											if(data.status == 200)
											{
												for(var j=0; j<this.$root.requests.length; j++)
												{
													if(this.$root.requests[j].user.id == id)
													{
														this.$root.friends.push(this.$root.requests[j]);
														//remove
														this.$root.requests.splice(j,1);
													}
												}
												toastr.success('','Friend Accepted!');
											}
										})
										.catch($.noop);
								}
							})
					break;
					case 'reject':
						axiosAPIv1
							.post('/friend/find',{
								user_id:Laravel.user.id,
								user_id2:id
							})
							.then(response => {
								if(response.status == 200)
								{
									axiosAPIv1
										.delete('/friends/'+response.data)
										.then(data => {
											if(data.status == 200)
											{
												for(var j=0; j<this.$root.requests.length; j++)
												{
													if(this.$root.requests[j].user.id == id)
													{
														//remove
														this.$root.requests.splice(j,1);
													}
												}
												toastr.success('','Rejected!');
											}
										})
										.catch($.noop);
								}
							})
					break;
					case 'unfriend':
					case 'cancel_request':
						axiosAPIv1
							.post('/friend/find',{
								user_id:Laravel.user.id,
								user_id2:id
							})
							.then(response => {
								if(response.status == 200)
								{
									axiosAPIv1
										.delete('/friends/'+response.data)
										.then(data => {
											if(data.status == 200)
											{
												for(var j=0; j<this.$root.friends.length; j++)
												{
													if(this.$root.friends[j].user.id == id)
													{
														//remove
														this.$root.friends.splice(j,1);
													}
												}
												toastr.success('','Successful!');
											}
										})
										.catch($.noop);
								}
							})
					break;
				}
			},

			select(user){
				this.$parent.select(user);
			},

			changeBtn(e, type) {
				if(type == 'add') {
					e.target.innerText = 'Cancel Request';
					e.target.style.color = 'red';
				} 
			}
		},

		computed: {
			button:function(){
				var data = {};
				data.type = 'add';
				data.content = 'Add Friend';
				data.style = 'btn-success';

				if(this.data.user.initiator)
				{
					switch(this.data.user.rel_status)
					{
						case 'Request':
							data.type = 'cancel_request';
							data.content = 'Cancel Request';
							data.style = 'btn-danger';
							break;

						case 'Friend':
							data.type = 'unfriend';
							data.content = 'Unfriend';
							data.style = 'btn-danger';
							break;

						case 'Blocked':
							data.type = 'cancel_request';
							data.content = 'Unblock';
							data.style = 'btn-info';
							break;

						case 'Restricted':
							data.type = 'cancel_request';
							data.content = 'Unrestrict';
							data.style = 'btn-info';
							break;

						default:

					}
 
				}else
				{
					switch(this.data.user.rel_status)
					{
						case 'Request':
							this.type = 'request';
							break;

						case 'Friend':
							data.type = 'unfriend';
							data.content = 'Unfriend';
							data.style = 'btn-danger';
							break;

						case 'Blocked':
							this.notBlocked = false;
							break;
						case 'Restricted':
							this.type = 'restricted';
							break;
						default:

					}
				}
				return data;
			}
		},

		created(){
			console.log(this.$parent.lang)
		}, 

	}
</script>