<template>
	<li class='col-md-12 ' :class='notif.read_at?"":"not-read"' v-if='notif_type!="NewChatMessage"'>
		<a :href='link' target="_blank">
			<div class='image'>
				<img :src="notif.data.image">
			</div>
			<div class='content' >
				<span><strong>{{ notif.data.title }}</strong></span>
				<br>
				<span>{{ notif.data.body }}</span>
				<br>
				<span><small>{{ notif.human_created_at }}</small></span>
				<!-- <p>
					<span class='fa ' :class="icon+' '+iconColor"></span>
					<span class='timestamp' v-text='notif.human_created_at'></span>
				</p> -->
			</div>
		</a>
	</li>
</template>

<script>
	export default{
		props:[
			'notif'
		],
		data:function () {
        	return {
            	link:"",
            	notif_type:'',
            	icon:'',
            	iconColor:''
         	}
	    },
		created(){
			this.notif_type = this.notif.type.replace("App\\Notifications\\","");
			var cpanelUrl = window.Laravel.cpanel_url;
			switch(this.notif_type)
			{
				case "NewChatMessage":
				break;
				case "NewDocument":
					this.link = "http://"+cpanelUrl+'/documents';
					this.icon = "fa-user";
					this.iconColor = "tc-green";
				break;
				case "NewEwalletTransaction":
					this.link = "http://"+cpanelUrl+'/ewallet';
					this.icon = "fa-user";
					this.iconColor = "tc-green";
				break;
				case "NewIssue":
					this.link = "http://"+cpanelUrl+'/customer-service';
					this.icon = "fa-user";
					this.iconColor = "tc-green";
				break;
				case "ChangeEwalletTransactionStatus":
					this.link = 'user/ewallet';
					this.icon = "fa-user";
					this.iconColor = "tc-green";
				break;
				case "NewPurchase":
					this.link = '/user/sales-report';
					this.icon = "fa-user";
					this.iconColor = "tc-green";
				break;
				case "OrderStatusUpdate":
					var lnk = '';
					if(!!~this.notif.data.body.search('requested to return your item')){
	                    lnk = '/user/sales-report';
	                }
	                else if(!!~this.notif.data.body.search('successfully received the item')){
	                    lnk = '/user/sales-report';
	                }
	                else{
	                lnk = '/user/purchase-report';
	                }
	                console.log(lnk);
					this.link = lnk;
					this.icon = "fa-user";
					this.iconColor = "tc-green";
				break;
				case "DocumentApproved":
					this.link = '/profile#documents';
					this.icon = "fa-user";
					this.iconColor = "tc-green";
				break;
				case "NewFriendRequest":
					this.link =  '/friends';
					this.icon = "fa-user";
					this.iconColor = "tc-green";
				break;
				case "FeedbackComment":
					this.link =  '/feedback#';
					this.icon = "fa-user";
					this.iconColor = "tc-green";
				break;
				case "ProductReviewComment":
					this.link =  '/product/';
					this.icon = "fa-user";
					this.iconColor = "tc-green";
				break;
			}
		}

	}
</script>