<template>
	<div class="col-sm-12 security-question-set">
		<div class="col-sm-8">
		 	<label class="account-label question-label">{{item.question}}</label>
		</div><!-- end col-sm-8 -->

		<div class="col-sm-4">
			<label class="account-label answer-label">{{this.$parent.lang2.data['ans-on-file']}}</label>
		 	<p></p>
		</div><!-- end col-sm-4 -->
	</div><!-- end security-question-set -->
</template>

<script>
	export default{
		props:['item']
	}
</script>