// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

[v-cloak] {
    display: none;
}

.inmodal {
    .modal-body {
        background-color: #f5f5f5;
    }
}
