
<template>
  <div>
  <div class="row" v-if="edit">
    <div class="col-md-12" style="height: 55px;">
       <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="col-md-4">
              <input v-model="eAds.title" type="input" placeholder="Title" class="form-control"  style="margin-top:-10px" @blur="updateTitle"> 
            </div>
            <div class="col-md-4">
                <div class="i-checks pull-left" style="margin:0 0 0 0;" v-if="eAds.status==1">
                    <label> 
                    <input id="chkActive" type="checkbox" @click="updateActive" checked> <i></i> 
                    <span>Active</span> 
                    </label>
                </div>
                <div class="i-checks pull-left" style="margin:0 0 0 0;" v-else>
                    <label> 
                    <input id="chkActive" @click="updateActive" type="checkbox"> <i></i> 
                    <span>Active</span> 
                    </label>
                </div>
            </div>
              <button class="form-group pull-right btn-warning" @click="clearAds()">Cancel Edit</button>
        </div>
      </div>
    </div>

  </div>
<template v-for="(d, index) in eAds.serialized" >
<div  v-bind:key="index"  v-if="edit">
  <div class="row" @mouseover="this.index = index">
     
    <div class="col-md-4">
       <div class="ibox float-e-margins" style="margin-bottom: 5px !important">
        <div class="ibox-title">
              <h5><span> Banner</span></h5>
        </div>
        <div class="ibox-content" style="height:230px !important;">
            <div class="avatar-upload">
              <div class="avatar-edit">
                  <input ref="imageUpload" type='file' id="imageUpload"  accept=".png, .jpg, .jpeg" @change="onFileChange($event,this.index)"/>

                  <label for="imageUpload"></label>
              </div>
              <div class="avatar-preview">
                  <div ref="imagePreview" id="imagePreview" v-bind:style="{ backgroundImage: 'url('+ d.path + ')' }" style=" background-size:contain; background-position: center center;  ">
                  </div>
                  <input  type="hidden" />
              </div>
            </div>
        </div>
      </div>
    </div>
        <div class="col-md-8">
             <div class="ibox float-e-margins" style="margin-bottom:5px !important">
                        <div class="ibox-title">
                            <h5><span >Height</span></h5>

                        </div>
                        <div class="ibox-content">

                                <div class="form-group">
                                      <input  ref="height" type="input" placeholder="Height" class="form-control" :value="d.height.trim()"> 

                                </div>


                        </div>
            </div>
             <div class="ibox float-e-margins" style="margin-bottom: 5px !important;">
                        <div class="ibox-title">
                            <h5><span >Width</span></h5>
                        </div>
                        <div class="ibox-content" style="padding-bottom:25px !important; margin-bottom: 5px !important;">

                                <div class="form-group">
                                   
                                     <input ref="width" type="input" placeholder="Width" class="form-control" :value="d.width.trim()"> 
                            
                                    <button class="btn btn-primary pull-right" type="button" style="margin:3px" @click="updateAds(this.index)">
                                      <span>Update</span>
                                    </button>
                             
                                </div>
                                

                        </div>
            </div>

        </div>
    </div>
    </div>
</template>
<template v-if="!edit">
  <div class="row" >
    <div class="col-md-4">
       <div class="ibox float-e-margins">
        <div class="ibox-title">
              <h5><span> Banner</span></h5>
        </div>
        <div class="ibox-content" style="height:230px !important;">
            <div class="avatar-upload">
              <div class="avatar-edit">
                  <input type='file' id="imageUpload"  accept=".png, .jpg, .jpeg" @change="onFileChange($event,0)"/>

                  <label for="imageUpload"></label>
              </div>
              <div class="avatar-preview">
                  <div id="imagePreview" v-bind:style="{ backgroundImage: 'url(data:image/png;base64,'+ newAds.image + ')' }" style=" background-size:contain; background-position: center center;  ">
                  </div>
                  <input  type="hidden" />
              </div>
            </div>
        </div>
      </div>
    </div>
        <div class="col-md-8">
             <div class="ibox float-e-margins" style="margin-bottom:5px !important">
                        <div class="ibox-title">
                            <h5><span >Title</span></h5>

                        </div>
                        <div class="ibox-content">

                                <div class="form-group">
                                      <input v-model="newAds.title" id="titulo" name="titulo"  type="input" placeholder="Title" class="form-control"> 

                                </div>


                        </div>
            </div>
             <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><span >Sizes</span></h5>
                        </div>
                        <div class="ibox-content" style="padding-bottom:25px !important">

                                <div class="form-group">
                                   
                                     <input v-model="newAds.sizes"  type="input" placeholder="Height:Width,Height:Width" class="form-control"> 
                                        <div class="i-checks pull-left" style="margin:7px 0 0 0;" v-if="newAds.status==1">
                                          <label> 
                                            <input id="chkActive" type="checkbox" checked> <i></i> 
                                            <span>Active</span> 
                                          </label>
                                        </div>
                                        <div class="i-checks pull-left" style="margin:7px 0 0 0;" v-else>
                                          <label> 
                                            <input id="chkActive" type="checkbox"> <i></i> 
                                            <span>Active</span> 
                                          </label>
                                        </div>
                                    <button class="btn btn-default pull-right" type="button" style="margin:3px" @click="saveAds()">
                                      <span>Save</span>
                                    </button>
                                    <button  class="btn btn-default pull-right" type="button" style="margin:3px"  @click="clearAds()">
                                      <span>Clear</span>
                                    </button>
                                <!--
                                    <button v-if="edit" class="btn btn-default pull-right" type="button" style="margin:3px" @click="updateAds()">
                                      <span>Update</span>
                                    </button>
                               
                                    <button  class="btn btn-default pull-right" type="button" style="margin:3px"  @click="clearAds()">
                                      <span>Clear</span>
                                    </button>
                                -->
                                </div>
                                

                        </div>
            </div>

        </div>
    </div>
    </template>
    <div class="row">
         <div class="col-md-12">
             <div class="ibox-content">
              <AdsTable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                  <tbody>
                      <tr v-for="project in projects" :key="project.id">
                          <td>{{project.title}}</td>
                          <td>{{project.sizes}}</td>
                          <td>{{project.created_at}}</td>
                          <td>
                            <div class="form-group">
                              <button type="button" class="btn btn-primary btn-xs" @click="editAds(project.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                              <button type="button" class="btn btn-danger btn-xs" @click="deleteAds(project.id)"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                          </td>
                      </tr>
                  </tbody>
              </AdsTable>
            <pagination :pagination="pagination"
                    @prev="getProjects(pagination.prevPageUrl)"
                    @next="getProjects(pagination.nextPageUrl)"
                    :translation="translation">
              </pagination>
          </div>   
          </div> 
    </div>
  </div>
</template>
<script>
    import AdsTable from './DataTable.vue';
    import Pagination from './Pagination.vue';
    const resource = require('vue-resource');
      export default {
          components: { AdsTable: AdsTable, Pagination: Pagination},
          props: ['translation'],
          data() {

                let sortOrders = {};
                let columns = [
                    {width: '40%', label: 'Title', name: 'title' },
                    {width: '25%', label: 'Sizes', name: 'sizes'},
                    {width: '25%', label: 'Created', name: 'created_at'},
                    {width: '10%', label: 'Action'},
                ];
                columns.forEach((column) => {
                sortOrders[column.name] = 2;
                });

                return{
                    index:0,
                    edit:false,
                    projects: [],
                    columns: columns,
                    sortKey: 'created_at',
                    sortOrders: sortOrders,
                    perPage: ['10', '20', '30'],
                     tableData: {
                        draw: 0,
                        length: 10,
                        search: '',
                        column: 2,
                        dir: 'desc',
                    },
                    pagination: {
                        lastPage: '',
                        currentPage: '',
                        total: '',
                        lastPageUrl: '',
                        nextPageUrl: '',
                        prevPageUrl: '',
                        from: '',
                        to: ''
                    },
                    newAds: {
                        id: '',
                        title: '',
                        image: '',
                        sizes: '',
                        created_at: '',
                        updated_at: '',
                        status: '',
                        serialized:''
                    },
                    eAds:{
                        id: '',
                        title: '',
                        status: '',
                        sizes: '',
                        serialized:[]
                    }
                }
          },
          methods:{
              sortBy(key) {
                    this.sortKey = key;
                    this.sortOrders[key] = this.sortOrders[key] * -1;
                    this.tableData.column = this.getIndex(this.columns, 'name', key);
                    this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
                    this.getProjects();
                },
                configPagination(data) {
                    this.pagination.lastPage = data.last_page;
                    this.pagination.currentPage = data.current_page;
                    this.pagination.total = data.total;
                    this.pagination.lastPageUrl = data.last_page_url;
                    this.pagination.nextPageUrl = data.next_page_url;
                    this.pagination.prevPageUrl = data.prev_page_url;
                    this.pagination.from = data.from;
                    this.pagination.to = data.to;
                },
                getIndex(array, key, value) {
                    return array.findIndex(i => i[key] == value)
                },
                 getProjects(url = './ads/ads-list') {
                    this.tableData.draw++;
                    axios.get(url, {params: this.tableData})
                        .then(response => {
                            let data = response.data;
                            if (this.tableData.draw == data.draw) {

                                this.projects = data.data.data;
                                this.configPagination(data.data);
                            }
                        })
                        .catch(errors => {
                            console.log(errors);
                        });
                },
                 editAds(id){
                    this.edit = true;
                        this.$http.get('./ads/ads-list/' + id).then(response => {
                        let data = response.data;
                        this.eAds.id = data.id;
                        this.eAds.title = data.title;
                        this.eAds.sizes = data.sizes;
                        this.eAds.status = data.status;
                        this.eAds.serialized = data.unserialized;
                    })

                },
                onFileChange(e,index) {
                    var files = e.target.files || e.dataTransfer.files;
                    if (!files.length)
                        return;
                    this.createImage(files[0],index);
                },
                createImage(file,index) {
                    var image = new Image();
                    var reader = new FileReader();
                    var vm = this;
            
                    reader.onload = (e) => { 
                        if(!this.edit){
                            vm.newAds.image = e.target.result;
                            this.newAds.image = this.newAds.image.replace('data:image/jpeg;base64,','');
                        }else{
                            let $ref = this.$refs.imagePreview[index];
                            $ref.style.backgroundImage="url("+e.target.result+")";
                        }
                    };
                    reader.readAsDataURL(file);
                   
                },
                fileCheck(e){
                    var files = e.files || e.dataTransfer.files;
                    if (!files.length)
                        return;
                    
                    return files[0];
                },
                saveAds(){
                    if(this.newAds.title==null || this.newAds.title==""){
                        toastr.error("Ad title cannot be empty");
                    }else if(this.newAds.sizes==null || this.newAds.sizes==""){
                        toastr.error("Ad sizes cannot be empty");
                    }else if(this.newAds.image==null || this.newAds.image==""){
                        toastr.error("Ad image cannot be empty");
                    }else{
                        this.newAds.status = ($('#chkActive').is(':checked') ? 1 : 0);
                        this.$http.post('./ads/ads-list', this.newAds).catch(function (error) {
                            }).then(function () {
                                swal({
                                    title: "Success",
                                    text: "Ad successfully saved"
                                });
                                this.clearAds();
                                this.getProjects();
                            });
                    }  

                },
                updateAds(index){
                  
                    let $height = this.$refs.height[index];
                    let $width = this.$refs.width[index];
                    let $image = this.$refs.imageUpload[index];
                    let vm = this;
                    let obj={
                           'method':'item',
                           'height':$height.value,
                           'width':$width.value,
                           'index': index
                    }
                    let obj2 = {}
                    if($height.value==null || $height.value==""){
                        toastr.error("Ad height cannot be empty");
                    }else if($width.value==null || $width.value==""){
                        toastr.error("Ad width cannot be empty");
                    }else{
                     var oFReader = new FileReader();
                     var image = new Image();
                        if($image.files[0]){
                        var files = this.fileCheck($image);
                            oFReader.readAsDataURL(files);
                         
                            oFReader.onload = function (oFREvent) {
                              obj.image = oFREvent.target.result;
                                image.onload =  function() {
                                 
                                    if(image.width!=$width.value || image.height!=$height.value){
                                        swal({
                                            title: 'Are you sure?',
                                            html:
                                            'System detected the <b>height</b> or <b>width</b> of the uploaded image is not equal to the image preferred size.<br><code>Uploading it will reduce the image quality</code>',
                                            type: 'warning',
                                            showCancelButton: true,
                                            confirmButtonColor: '#3085d6',
                                            cancelButtonColor: '#d33',
                                            confirmButtonText: 'Forced upload',
                                            preConfirm: () => {
                                                return vm.$http.patch('./ads/ads-list/'+ vm.eAds.id, obj, function (data) {
                                                //console.log(data)
                                                }).catch(function (error) {
                                            
                                                }).then(function () {
                                                    vm.editAds(vm.eAds.id);
                                                    vm.getProjects();
                                                });
                                            }
                                        }).then((result) => {
                                            
                                        })
                                    }else{
                                        vm.$http.patch('./ads/ads-list/'+ vm.eAds.id, obj, function (data) {
                                                //console.log(data)
                                                }).catch(function (error) {
                                            
                                                }).then(function () {
                                                    vm.editAds(vm.eAds.id);
                                                    vm.getProjects();
                                                     swal({
                                                        title: "Success",
                                                        text: "Ad successfully updated"
                                                    });
                                                });
                                    }
                                   
                                };
                                 
                                     
                                    image.src = oFREvent.target.result;
                                    
                            };
                           
                            
                        }else{
                            swal({
                                title: 'Warning!',
                                html:
                                'If the dimension of the image is not compatible to your device, the ads will not appear to your device<br><b>The image will resize base to the dimension.</b>',
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Proceed',
                                preConfirm: () => {
                                    return  this.$http.patch('./ads/ads-list/'+ this.eAds.id, obj, function (data) {
                                    //console.log(data)
                                    }).catch(function (error) {
                                
                                    }).then(function () {
                                        this.editAds(this.eAds.id);
                                        this.getProjects();
                                    }); 
                                }
                            }).then((result) => {
                                
                            })
                           
                        }        
                       
                    }
                    // if(this.newAds.title==null || this.newAds.title==""){
                    //     toastr.error("Ad title cannot be empty");
                    // }else if(this.newAds.sizes==null || this.newAds.sizes==""){
                    //     toastr.error("Ad sizes cannot be empty");
                    // }else if(this.newAds.image==null || this.newAds.image==""){
                    //     toastr.error("Ad image cannot be empty");
                    // }else{
                    //     this.newAds.status = ($('#chkActive').is(':checked') ? 1 : 0);
                    //     this.$http.patch('./ads/ads-list/'+ this.newAds.id, this.newAds, function (data) {
                    //         //console.log(data)
                    //     }).catch(function (error) {
                    
                    //     }).then(function () {
                    //         swal({
                    //             title: "Success",
                    //             text: "Ad successfully saved"
                    //         });
                    //         this.clearAds();
                    //         this.getProjects();
                    //     });
                    // }
                },
                updateTitle(e){
                   if(e.target.value==null || e.target.value==""){
                       toastr.error("Ad title cannot be empty");
                   }else{
                       let obj={
                           'method':'title',
                           'title':e.target.value,
                       }
                       this.$http.patch('./ads/ads-list/'+ this.eAds.id, obj, function (data) {
                            //console.log(data)
                        }).catch(function (error) {
                    
                        }).then(function () {
                            this.getProjects();
                        });
                   }
                },
                updateActive(e){
                    let obj={
                           'method':'status',
                           'status':(e.target.checked) ? 1:0
                    }
                    this.$http.patch('./ads/ads-list/'+ this.eAds.id, obj, function (data) {
                            //console.log(data)
                        }).catch(function (error) {
                    
                        }).then(function () {
                            this.getProjects();
                        });
                    
                },
                 deleteAds(id){
                    if(confirm('Are you sure?')){
                        //this.updateProjects('./news-list/update','delete',id);
                        this.$http.delete('./ads/ads-list/' + id);
                    }
                    this.getProjects();
                    this.clearAds();
                 },
                clearAds(){
                    this.edit = false;
                    this.newAds = {
                        id: '',
                        title: '',
                        image: '',
                        sizes: '',
                        created_at: '',
                        updated_at: '',
                        status: '',
                    };
                     this.eAds={
                        id: '',
                        title: '',
                        status: '',
                        sizes: '',
                        serialized:[]
                    };
                }
          },
          created() {
                this.getProjects();
         },
          
      }
</script>
