<template>
	<tr :class="{'order-separator': (index!=0 && prevOrderId!=order.order_id) }">
		<td class="report-header">
			<p><b>{{order.tracking_number}}</b></p>
			<p>{{order.created_at}}</p>
		</td>
		<td class="report-header hidden-xs">{{order.product.name}}</td>
		<td class="report-header hidden-xs">{{order.quantity}}</td>
		<td class="report-header hidden-xs">{{now | currency}}</td>
		<td class="report-header hidden-xs">{{order.subtotal}}</td>
		<td class="report-header">
			<div v-if="(order.status != 'Received') && (order.status != 'Delivered') && (order.status != 'Returned') && (order.status != 'In Transit') && (order.status != 'Cancelled') " class="btn-group">
              	<button @click="statusAction" type="button" class="btn btn-primary btn-raised btn-sm">
              	<span v-if="'In Transit' == order.status">{{this.$parent.$parent.lang.data['in-transit']}}</span>
              	<span v-if="'Cancelled' == order.status">{{this.$parent.$parent.lang.data['cancelled']}}</span>
              	<span v-if="'Pending' == order.status">{{this.$parent.$parent.lang.data['pending']}}</span>
              	</button>
              	<button type="button" class="btn btn-primary btn-raised btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            	    <span class="caret"></span>
            	    <span class="sr-only">Toggle Dropdown</span>
              	</button>
              	<ul class="dropdown-menu">
	                <li v-if="'In Transit' != order.status">
	                	<a @click="updateStatus('In Transit')" href="javascript:void(0)">{{this.$parent.$parent.lang.data['in-transit']}}</a>
	                </li>
	                <li v-if="'Cancelled' != order.status">
	                	<a @click="updateStatus('Cancelled')" href="javascript:void(0)">{{this.$parent.$parent.lang.data['cancelled']}}</a>
	                </li>
	                <li v-if="'Pending' != order.status">
	                	<a @click="updateStatus('Pending')" href="javascript:void(0)">{{this.$parent.$parent.lang.data['pending']}}</a>
	                </li>
              	</ul>
            </div>

			<button @click='receivedBySeller(order.id)' v-if="(order.status == 'Returned' && order.returned_received_date == null) " class='btn btn-xs btn-raised btn-warning' :title="this.$parent.$parent.lang.data['received-returned-msg-2']" data-toggle='tooltip' data-placement='bottom'><span class='fa fa-exclamation'></span></button>
			<span v-if="(order.status == 'In Transit') || (order.status == 'Received') || (order.status == 'Delivered') || (order.status == 'Returned') || (order.status == 'Cancelled') ">{{this.$parent.$parent.lang.data[this.orderstatus]}}</span>
		</td>
		<td>
			<a @click="viewDetails(order.id)" style="cursor:pointer;">
				<span class="hidden-xs hidden-sm">{{this.$parent.$parent.lang.data['see-more']}}</span>
				<span class="hidden-lg hidden-md" data-toggle="tooltip" data-placement="left" title="" data-original-title="See More"><i class="fa fa-eye" aria-hidden="true"></i></span>
			</a>
		</td>
		<td>
			<a @click="viewAirwayBill(order.id)" style="cursor:pointer;" v-if="(order.status != 'Pending')">
				<span class="hidden-xs hidden-sm">{{this.$parent.$parent.lang.data['airway-bill']}}</span>
				<span class="hidden-lg hidden-md" data-toggle="tooltip" data-placement="left" title="" data-original-title="Airway Bill"><i class="fa fa-file-text" aria-hidden="true"></i></span>
			</a>
		</td>
	</tr>
</template>
<script>
	export default{
		props:['order', 'index', 'prevOrderId'],
		data () {
		    return {
		    	
			}
	    },
		computed:{
	        price_per_item(){
	            if(this.order.fee_included==1)
	                return parseFloat(this.order.price_per_item) + parseFloat(this.order.shipping_fee) + parseFloat(this.order.charge) + parseFloat(this.order.vat);
	            else
	                return this.order.price_per_item;
	        },
	        discountedAmount(){
	            if(this.order.discount!=null || this.order.discount != 0)
	                var $amount = this.order.sale_price;
	            else
	                var $amount = 0;
	            //$amount = $amount.toFixed(2);
	            return $amount;
	        },
	        now(){
	            return this.price_per_item-this.discountedAmount;
	        },	        
			total(){
				return (this.order.quantity * this.order.price_per_item)
			},
			orderstatus(){
			if(this.order.status == "In Transit"){
				return 'in-transit';
			}
		      return this.order.status.toLowerCase();
			},
		},
		components: {
		  	Multiselect: window.VueMultiselect.default
		},
		methods:{
			viewAirwayBill(id){
		        this.$parent.$parent.showAirwayBill(id);
		    },
			receivedBySeller(id){
				swal({
		   				title: this.$parent.$parent.lang.data['confirm'],
		   				html:  this.$parent.$parent.lang.data['received-returned-msg-1'],
		   				type: 'warning',
		   				showCancelButton: true,
		   				confirmButtonColor: '#3085d6',
		   				cancelButtonColor: '#d33',
		   				confirmButtonText: this.$parent.$parent.lang.data['yes']
		   			}).then(() => {
		   				axiosAPIv1.post('order-details/receive-returned-item' , {
		   					//make api to return the money to the buyer and stocks and the current date for the returned_received_date column
		   					id:id
		   				} )
						    .then(result => {
				          		toastr.success(this.$parent.$parent.lang.data['saved-msg']);
						    	this.$parent.$parent.getStores();
						    })
							.catch(error => {
							    toastr.error(this.$parent.$parent.lang.data['update-failed-msg']);
							});
		   			}).catch(() => this.order.status = this.order.original_status);
			},

			viewDetails(id){
		        this.$parent.$parent.showDetails(id);
		    },

		   	updateStatus(status) {
		   		this.order.status = status;

		   		if (status === 'In Transit') {
		   			Event.fire('order.in-transit', this.order);
		   		} else if (status === 'Cancelled') {
		   			Event.fire('order.cancelled', this.order);
		   		} else if (status === 'Pending') {
		   			swal({
		   				title: this.$parent.$parent.lang.data['confirm'],
		   				html: this.$parent.$parent.lang.data['mark-pending-msg'],
		   				type: 'warning',
		   				showCancelButton: true,
		   				confirmButtonColor: '#3085d6',
		   				cancelButtonColor: '#d33',
		   				confirmButtonText: this.$parent.$parent.lang.data['yes']
		   			}).then(() => {
		   				axios.get('/user/sales-report/updateStatus/' + this.order.id + '/' + status)
						    .then(result => {
				          		toastr.success(this.$parent.$parent.lang.data['saved-msg']);
						    	this.$parent.$parent.getStores();
						    })
							.catch(error => {
							    toastr.error(this.$parent.$parent.lang.data['update-failed-msg']);
							});
		   			}).catch(() => this.order.status = this.order.original_status);
		   		}
		   	},

		   	statusAction() {
		   		if (this.order.status === 'In Transit') {
		   			Event.fire('order.in-transit', this.order);
		   		} else if (this.order.status === 'Cancelled') {
		   			Event.fire('order.cancelled', this.order);
		   		}
		   	}
		},

		created() {
			this.order.original_status = this.order.status;
		},

		beforeUpdate() {
			if (! this.order.original_status) {
				this.order.original_status = this.order.status;
			}
		}
	}
</script>