<template>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-group store-panel">
				<div class="panel panel-default">
					<!-- <div class="col-sm-12 panel-heading pnl-store" data-toggle="collapse" :href="'#store_'+store.id" :id="store.id">
						<span>
							<a>
								<h4 class="store-name">{{store.name}}
								<span v-if="store.pending_order_count.length != ''">
									<i class="fa fa-exclamation-circle pending-notification" aria-hidden="true"></i>
								</span>				
								</h4>
								<p style="font-size: small;">{{store.cn_name}}</p>
							</a>
						</span>
						<hr>
					</div> --><!-- end panel-heading-->
					
					<div :id="'store_'+store.id" class="panel-collapse collapse" :class="{ in: (index == param || store.id == param) }">
						<!-- <div class="row">
							<div class="col-lg-12">
								<ul class="nav nav-pills">
								  <li :id="'fl_Pending_'+store.id" class="badge-details">
									  <a href="javascript:void(0)"  @click="filterStatus(store.id, 'Pending')">{{this.$parent.lang.data['pending-order']}}
									  	<span class="badge">{{store.pending_order_count.length}}</span>
									  </a>
								  </li>
								  <li :id="'fl_Delivered_'+store.id"  class="badge-details">
									  <a href="javascript:void(0)"  @click="filterStatus(store.id, 'Delivered')">{{this.$parent.lang.data['delivered']}}
										  <span class="badge">{{store.delivered_order_count.length}}</span>
									  </a>
								  </li>
								  <li :id="'fl_Cancelled_'+store.id"  class="badge-details">
									  <a href="javascript:void(0)"  @click="filterStatus(store.id, 'Cancelled')">{{this.$parent.lang.data['cancelled-order']}} 
									  	<span class="badge">{{store.cancelled_order_count.length}}</span>
									  </a>
								  </li>
								  <li :id="'fl_Transit_'+store.id"  class="badge-details">
									  <a href="javascript:void(0)" @click="filterStatus(store.id, 'Transit')">{{this.$parent.lang.data['in-transit']}}
									  	<span class="badge">{{store.transit_order_count.length}}</span>
									  </a>
								  </li>
								  <li :id="'fl_All_'+store.id"  class="active badge-details">
									  <a href="javascript:void(0)" @click="filterStatus(store.id, 'All')">{{this.$parent.lang.data['all']}} 
									  	<span class="badge">{{store.order_details.length}}</span>
									  </a>
								  </li>
								</ul>
								<table class='table table-striped filter-table sales-tbl show' v-if="store.order_details != ''" :id="'all_tbl_'+store.id">
									<thead>
										<tr>
											<th class="col-sm-2 report-header">{{this.$parent.lang.data['transaction']}}</th>
											<th class="col-sm-2 report-header hidden-xs">{{this.$parent.lang.data['product']}}</th>
											<th class="col-sm-2 report-header hidden-xs">{{this.$parent.lang.data['qty']}}</th>
											<th class="col-sm-1 report-header hidden-xs">{{this.$parent.lang.data['unit-price']}}</th>
											<th class="col-sm-1 report-header hidden-xs">{{this.$parent.lang.data['total']}}</th>
											<th class="col-sm-2 report-header">{{this.$parent.lang.data['status']}}</th>	
											<th class="col-sm-1 report-header"></th>
											<th class="col-sm-1 report-header"></th>
										</tr>
									</thead>
									<tbody>
										<orders
											v-for="(order,index) in store.order_details"
											:order = "order"
											:key = "order.id"
											:index = "index"
											:prevOrderId = "(index == 0) ? 0 : store.order_details[index-1].order_id"
										></orders>
									</tbody>
								</table>
								<table class='table table-striped filter-table sales-tbl' v-if="store.pending_order_count != ''" :id="'pending_tbl_'+store.id">
									<thead>
										<tr>
											<th class="col-sm-2 report-header">{{this.$parent.lang.data['transaction']}}</th>
											<th class="col-sm-2 report-header hidden-xs">{{this.$parent.lang.data['product']}}</th>
											<th class="col-sm-2 report-header hidden-xs">{{this.$parent.lang.data['qty']}}</th>
											<th class="col-sm-1 report-header hidden-xs">{{this.$parent.lang.data['unit-price']}}</th>
											<th class="col-sm-1 report-header hidden-xs">{{this.$parent.lang.data['total']}}</th>
											<th class="col-sm-2 report-header">{{this.$parent.lang.data['status']}}</th>	
											<th class="col-sm-1 report-header"></th>
											<th class="col-sm-1 report-header"></th>
										</tr>
									</thead>
									<tbody>
										<orders
											v-for="(order,index) in store.pending_order_count"
											:order = "order"
											:key = "order.id"
											:index = "index"
											:prevOrderId = "(index == 0) ? 0 : store.pending_order_count[index-1].order_id"
										></orders>
									</tbody>
								</table>
								<table class='table table-striped filter-table sales-tbl' v-if="store.delivered_order_count != ''" :id="'delivered_tbl_'+store.id">
									<thead>
										<tr>
											<th class="col-sm-2 report-header">{{this.$parent.lang.data['transaction']}}</th>
											<th class="col-sm-2 report-header hidden-xs">{{this.$parent.lang.data['product']}}</th>
											<th class="col-sm-2 report-header hidden-xs">{{this.$parent.lang.data['qty']}}</th>
											<th class="col-sm-1 report-header hidden-xs">{{this.$parent.lang.data['unit-price']}}</th>
											<th class="col-sm-1 report-header hidden-xs">{{this.$parent.lang.data['total']}}</th>
											<th class="col-sm-2 report-header">{{this.$parent.lang.data['status']}}</th>	
											<th class="col-sm-1 report-header"></th>
											<th class="col-sm-1 report-header"></th>
										</tr>
									</thead>
									<tbody>
										<orders
											v-for="(order,index) in store.delivered_order_count"
											:order = "order"
											:key = "order.id"
											:index = "index"
											:prevOrderId = "(index == 0) ? 0 : store.delivered_order_count[index-1].order_id"
										></orders>
									</tbody>
								</table>
								<table class='table table-striped filter-table sales-tbl' v-if="store.cancelled_order_count != ''" :id="'cancelled_tbl_'+store.id">
									<thead>
										<tr>
											<th class="col-sm-2 report-header">{{this.$parent.lang.data['transaction']}}</th>
											<th class="col-sm-2 report-header hidden-xs">{{this.$parent.lang.data['product']}}</th>
											<th class="col-sm-2 report-header hidden-xs">{{this.$parent.lang.data['qty']}}</th>
											<th class="col-sm-1 report-header hidden-xs">{{this.$parent.lang.data['unit-price']}}</th>
											<th class="col-sm-1 report-header hidden-xs">{{this.$parent.lang.data['total']}}</th>
											<th class="col-sm-2 report-header">{{this.$parent.lang.data['status']}}</th>	
											<th class="col-sm-1 report-header"></th>
											<th class="col-sm-1 report-header"></th>
										</tr>
									</thead>
									<tbody>
										<orders
											v-for="(order,index) in store.cancelled_order_count"
											:order = "order"
											:key = "order.id"
											:index = "index"
											:prevOrderId = "(index == 0) ? 0 : store.cancelled_order_count[index-1].order_id"
										></orders>
									</tbody>
								</table>
								<table class='table table-striped filter-table sales-tbl' v-if="store.transit_order_count != ''" :id="'transit_tbl_'+store.id">
									<thead>
										<tr>
											<th class="col-sm-2 report-header">{{this.$parent.lang.data['transaction']}}</th>
											<th class="col-sm-2 report-header hidden-xs">{{this.$parent.lang.data['product']}}</th>
											<th class="col-sm-2 report-header hidden-xs">{{this.$parent.lang.data['qty']}}</th>
											<th class="col-sm-1 report-header hidden-xs">{{this.$parent.lang.data['unit-price']}}</th>
											<th class="col-sm-1 report-header hidden-xs">{{this.$parent.lang.data['total']}}</th>
											<th class="col-sm-2 report-header">{{this.$parent.lang.data['status']}}</th>	
											<th class="col-sm-1 report-header"></th>
											<th class="col-sm-1 report-header"></th>
										</tr>
									</thead>
									<tbody>
										<orders
											v-for="(order,index) in store.transit_order_count"
											:order = "order"
											:key = "order.id"
											:index = "index"
											:prevOrderId = "(index == 0) ? 0 : store.transit_order_count[index-1].order_id"
										></orders>
									</tbody>
								</table>
								<div class="no-purchase show" :id="'all_hdr'+store.id"v-if="store.order_details == ''">
									<h4>{{this.$parent.lang.data['no-purchases-msg']}}</h4>
								</div>
								<div class="no-purchase" :id="'pending_hdr'+store.id"v-if="store.pending_order_count == ''">
									<h4>{{this.$parent.lang.data['no-pending-order-msg']}}</h4>
								</div>
								<div class="no-purchase" :id="'delivered_hdr'+store.id"v-if="store.delivered_order_count == ''">
									<h4>{{this.$parent.lang.data['no-delivered-msg']}}</h4>
								</div>
								<div class="no-purchase" :id="'cancelled_hdr'+store.id"v-if="store.cancelled_order_count == ''">
									<h4>{{this.$parent.lang.data['no-cancelled-order-msg']}}</h4>
								</div>
								<div class="no-purchase" :id="'transit_hdr'+store.id"v-if="store.transit_order_count == ''">
									<h4>{{this.$parent.lang.data['no-intransit-msg']}}</h4>
								</div>
							</div>
						</div> -->

						<div class="row" v-if="store.orders != ''">
							<div class="col-lg-12">
								<table class='table table-striped orders-tbl'>
									<thead>
										<tr>
											<th class="text-center"><b>Tracking Number</b></th>
											<th class="text-center"><b>Placed By</b></th>
											<th class="text-center"><b>Placed On</b></th>
											<th class="text-center"><b>Total</b></th>
											<th class="text-center"><b>Status</b></th>
											<th class="text-center">&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<template v-for="(order, index) in store.orders">
											<tr @click="showOrderDetail(order.id,store.id, $event)" class="clickable">
												<td><a><strong>{{ order.tracking_number }}</strong></a></td>
												<td>{{ order.user.full_name }}</td>
												<td>{{ order.created_at }}</td>
												<td>
													<!-- <a @click.stop="$parent.getDiscounted(order.details[0].id)">test</a> -->
													
			

													<!-- <span>{{store.id}}</span> -->
													<span>{{$parent.getDiscounted1(order.details[0].order_id,store.id)}}</span>
												</td>
												<td>
													<div v-if="store.store_order_status[order.id] > 0" class="btn-group">
														<button @click.stop="" type="button" class="btn btn-default btn-raised btn-sm">
														    <span>Pending</span>
														</button>
														<button type="button" class="btn btn-default btn-raised btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														    <span class="caret"></span>
														    <span class="sr-only">Toggle Dropdown</span>
														</button>
														<ul class="dropdown-menu">
															<li>
															    <a @click.stop="$parent.inTransit(order.details[0].order_id,store.id,$parent.getDiscounted2(order.details[0].order_id,store.id))" href="javascript:void(0)" style="color: black;">Request to Shipped</a>
															</li>
														</ul>
													</div>
													<div v-else>{{ order.status }}</div>
												</td>
												<td><a @click.stop="$parent.showDetails(order.details[0].order_id,store.id)">See More</a></td>
											</tr>
											<tr :id="'order-row-'+order.id+'_'+store.id" class="hide">
												<td colspan="6">
													<table class="table table-bordered order-details-tbl">
														<thead>
															<tr>
																<td colspan="5">
																	<h4><strong>Order Details</strong></h4>
																</td>
															</tr>
															<tr>
																<td class="text-center" style="width:10%;">Image</td>
																<td>Name</td>
																<td>Quantity</td>
																<td>Status</td>
																<td>&nbsp;</td>
															</tr>
														</thead>
														<tbody>
															<tr v-for="_detail in order.details">
																<template v-if="store.id == _detail.product.store_id">
																<td class="text-center">
																	<img :src="_detail.image" class="img-thumbnail">
																</td>
																<td>{{ _detail.product.name }}</td>
																<td>{{ _detail.quantity }}</td>
																<td>

																	<div v-if="_detail.status == 'Pending'" class="btn-group">
														              	<button type="button" class="btn btn-primary btn-raised btn-sm">
														              		<span>Pending</span>
														              	</button>
														              	<button type="button" class="btn btn-primary btn-raised btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														            	    <span class="caret"></span>
														            	    <span class="sr-only">Toggle Dropdown</span>
														              	</button>
														              	<ul class="dropdown-menu">
															                <li>
															                	<a @click="$parent.cancelled(_detail)" href="javascript:void(0)">Cancelled</a>
															                </li>
														              	</ul>
														            </div>

														            <div v-else-if="_detail.status == 'Returned' && _detail.returned_received_date == null" class="btn-group">
														              	<button type="button" class="btn btn-primary btn-raised btn-sm">
														              		<span>Returned</span>
														              	</button>
														              	<button type="button" class="btn btn-primary btn-raised btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														            	    <span class="caret"></span>
														            	    <span class="sr-only">Toggle Dropdown</span>
														              	</button>
														              	<ul class="dropdown-menu">
															                <li>
															                	<a @click="$parent.receivedBySeller(_detail.id)" href="javascript:void(0)">Received returned item</a>
															                </li>
														              	</ul>
														            </div>
																	<div v-else-if="_detail.status == 'Pending Request'">Waiting for Pickup</div>
														            <div v-else>{{ _detail.status }}</div>
																</td>
																<td>
																	<a v-if="_detail.status != 'Pending' && _detail.status != 'Cancelled'" @click="$parent.showAirwayBill(_detail.id)" style="cursor:pointer;">
																		Airway Bill
																	</a>
																</td>
																</template>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</template>
									</tbody>
								</table>
							</div>
						</div>

					</div><!-- end panel-group-->
				</div><!-- end panel-group-->
			</div><!-- end panel-group-->
		</div>
	</div>
</template>

<script>
	import order from './salesTable.vue';
	export default{
		props:['store', 'index', 'param'],
		components: {
		    'orders': order
		},
		data() {
			return {
				pp:null
			}
    	},
		methods:{
			// totalPriceComputation(id) { 
			// 	let listProd2 = [];
			// 	//this.$parent.listProd2 = 0;
			// 	axios.get('/user/sales-report/details/'+id)
	  //             .then(result => {
	  //               // this.orderProducts = result.data.order.details;

	  //               axios.get('/user/sales-report/getProductsFromSameStore/'+result.data.product_id+'/'+result.data.order_id)
	  //                 .then(prods => {
	  //                   listProd2 = prods;
	  //                   //console.log(listProd2.data);
	  //                   //this.totalP;
	  //                   var groupArray = require('group-array');
			//             var group = groupArray(listProd2.data, 'product.store.id');
			//             //console.log(group);
			//             var weight = 0;
			//             var volume = 0;
			//             var totalChargeWeight = 0;
			//             var productPrice = 0;
			//             var salePrice = 0;
			//             var totalWeight = 0;
			//             var chargeWeight = 0;
			//             var total = 0;
			//             var totalSP = 0;
			//             var discount = 0;
			//             var totaldiscount = 0;
			//             var t = 0;
			//             var disc = [];
			//             var vm = this;
			//             $.each( group, function( key, value ) {
			//                 //console.log("Loop:"+value.length);
			//                 if(value.length>0){
			//                     //console.log(value);
			//                     totalChargeWeight = 0;
			//                     productPrice = 0;
			//                     salePrice = 0;
			//                     var totalSalePrice = 0;
			//                     discount = 0;
			//                     for(var i=0; i<value.length; i++){
			//                         //console.log(value[i].product.weight);

			//                         weight = value[i].product.weight;
			//                         volume = (value[i].product.length*value[i].product.width*value[i].product.height)/3500;
			//                         if(weight>volume) chargeWeight = weight;
			//                         if(volume>weight) chargeWeight = volume;
			//                         totalChargeWeight+= (parseFloat(chargeWeight)*parseFloat(value[i].quantity));
			//                         productPrice += ((value[i].sale_price > 0 ? parseFloat(value[i].sale_price) : parseFloat(value[i].price_per_item))*parseFloat(value[i].quantity));
			//                         var sp = value[i].subtotal;
			//                         salePrice += (parseFloat(sp.replace(',', '')));
			//                     }
			//                     //console.log("total Price :"+productPrice);
			//                     totalWeight = totalChargeWeight * 1.2; //add 20% to total weight
			//                     //console.log("twt :"+totalWeight);
			//                     let rateCat = "SAMM";
			//                     let halfkg = 0;
			//                     let fkg = 0;
			//                     let excess = 0;
			//                     let rate = 0;
			//                     // rate computation
			//                     //console.log(rates);
			// 					let rates = window.Laravel.rates;

			//                     $.each(rates, function(i, item) {
			//                       if(rates[i].rate_category == rateCat){
			//                         halfkg = rates[i].halfkg;
			//                         fkg = rates[i].fkg;
			//                         excess = rates[i].excess;
			//                       }
			//                     });

			//                     if(totalWeight <= 0.5){
			//                       rate = halfkg;
			//                     }
			//                     else if(totalWeight >0.5 && totalWeight <=1){
			//                       rate = fkg;
			//                     }
			//                     else{
			//                       totalWeight -=1;
			//                       rate = (totalWeight * parseFloat(excess)) + parseFloat(fkg);
			//                     }
			//                     //console.log('rate b4 '+rate);
			//                     rate = parseFloat(rate) + 20; // add 20 for markup
			//                     //console.log("rate -> "+Math.ceil(rate));

			//                     //valuation charge computation
			//                     let vc = productPrice * 0.01; 
			//                     //console.log("vc -> "+Math.ceil(vc));

			//                     //tax computation - docu stamp
			//                     let vtx = 0;
			//                     if(productPrice > 0 && productPrice <=1000){
			//                         vtx = ((rate -1)+vc) * .12;
			//                       }
			//                     else{
			//                         vtx = ((rate -10)+vc) * .12;
			//                     }
			//                     //console.log("tax -> "+Math.ceil(vtx));

			//                     //total fee
			//                     let sFee = Math.ceil(rate) + Math.ceil(vtx) + Math.ceil(vc);        

			//                     //console.log("total fee :"+sFee);

			//                     total = productPrice + sFee;
			//                     t += total;

			//                     totalSalePrice += salePrice;
			//                     totalSP += salePrice;
			//                     discount = totalSalePrice - total;
			//                     totaldiscount += discount;
			//                     //console.log('discount-'+discount);
			                    
			//                 } 

			//             });


			//             var priceAfterDiscount = totalSP - totaldiscount;

			//             let FinalFee = t;
			//             // console.log(priceAfterDiscount - productPrice);
			//             this.$parent.listProd2 =  priceAfterDiscount ;
	  //               });
	  //           });
			// return this.$parent.listProd2;

	  //       },
	        // getDiscounted(id){
	        // 	//return id;
	        // 	console.log($parent.getDiscounted(id));
	        // },
			filterStatus(id, filter){
				if(filter == "Cancelled"){
					$('#cancelled_tbl_'+id).addClass('show');
					$('#all_tbl_'+id).removeClass('show');
					$('#delivered_tbl_'+id).removeClass('show');
					$('#pending_tbl_'+id).removeClass('show');
					$('#transit_tbl_'+id).removeClass('show');
					$('#pending_hdr'+id).removeClass('show');
					$('#all_hdr'+id).removeClass('show');
					$('#cancelled_hdr'+id).addClass('show');
					$('#delivered_hdr'+id).removeClass('show');
					$('#transit_hdr'+id).removeClass('show');
					$('#fl_Pending_'+id).removeClass('active');
					$('#fl_Cancelled_'+id).addClass('active');
					$('#fl_Delivered_'+id).removeClass('active');
					$('#fl_All_'+id).removeClass('active');
					$('#fl_Transit_'+id).removeClass('active');

				}else if(filter == "Pending"){
					$('#cancelled_tbl_'+id).removeClass('show');
					$('#all_tbl_'+id).removeClass('show');
					$('#delivered_tbl_'+id).removeClass('show');
					$('#pending_tbl_'+id).addClass('show');
					$('#transit_tbl_'+id).removeClass('show');
					$('#pending_hdr'+id).addClass('show');
					$('#all_hdr'+id).removeClass('show');
					$('#cancelled_hdr'+id).removeClass('show');
					$('#delivered_hdr'+id).removeClass('show');
					$('#transit_hdr'+id).removeClass('show');
					$('#fl_Pending_'+id).addClass('active');
					$('#fl_Cancelled_'+id).removeClass('active');
					$('#fl_Delivered_'+id).removeClass('active');
					$('#fl_All_'+id).removeClass('active');
					$('#fl_Transit_'+id).removeClass('active');

				}else if(filter == "Delivered"){
					$('#cancelled_tbl_'+id).removeClass('show');
					$('#all_tbl_'+id).removeClass('show');
					$('#delivered_tbl_'+id).addClass('show');
					$('#pending_tbl_'+id).removeClass('show');
					$('#transit_tbl_'+id).removeClass('show');
					$('#pending_hdr'+id).removeClass('show');
					$('#all_hdr'+id).removeClass('show');
					$('#cancelled_hdr'+id).removeClass('show');
					$('#delivered_hdr'+id).addClass('show');
					$('#transit_hdr'+id).removeClass('show');
					$('#fl_Pending_'+id).removeClass('active');
					$('#fl_Cancelled_'+id).removeClass('active');
					$('#fl_Delivered_'+id).addClass('active');
					$('#fl_All_'+id).removeClass('active');
					$('#fl_Transit_'+id).removeClass('active');

				}else if(filter == "All"){
					$('#cancelled_tbl_'+id).removeClass('show');
					$('#all_tbl_'+id).addClass('show');
					$('#delivered_tbl_'+id).removeClass('show');
					$('#pending_tbl_'+id).removeClass('show');
					$('#transit_tbl_'+id).removeClass('show');
					$('#pending_hdr'+id).removeClass('show');
					$('#all_hdr'+id).addClass('show');
					$('#cancelled_hdr'+id).removeClass('show');
					$('#delivered_hdr'+id).removeClass('show');
					$('#transit_hdr'+id).removeClass('show');
					$('#fl_Pending_'+id).removeClass('active');
					$('#fl_Cancelled_'+id).removeClass('active');
					$('#fl_Delivered_'+id).removeClass('active');
					$('#fl_All_'+id).addClass('active');
					$('#fl_Transit_'+id).removeClass('active');

				}else if(filter == "Transit"){
					$('#cancelled_tbl_'+id).removeClass('show');
					$('#all_tbl_'+id).removeClass('show');
					$('#delivered_tbl_'+id).removeClass('show');
					$('#pending_tbl_'+id).removeClass('show');
					$('#transit_tbl_'+id).addClass('show');
					$('#pending_hdr'+id).removeClass('show');
					$('#all_hdr'+id).removeClass('show');
					$('#cancelled_hdr'+id).removeClass('show');
					$('#delivered_hdr'+id).removeClass('show');
					$('#transit_hdr'+id).addClass('show');
					$('#fl_Pending_'+id).removeClass('active');
					$('#fl_Cancelled_'+id).removeClass('active');
					$('#fl_Delivered_'+id).removeClass('active');
					$('#fl_All_'+id).removeClass('active');
					$('#fl_Transit_'+id).addClass('active');

				}
			},
			showOrderDetail(id,sid, e) {
				if(e.target.nodeName != 'BUTTON' && e.target.nodeName != 'SPAN') {
					$('#order-row-' + id+'_'+sid).toggleClass('hide');
				}
			}
		},
		created() {
			//console.log(this.store);
			//console.log(this.totalPriceComputation);
		},

		computed: {

		}
	}


	$(document).ready(function(){
		$(document).on("click", ".pnl-store", function() {
			$('#cancelled_tbl_'+this.id).removeClass('show');
			$('#all_tbl_'+this.id).addClass('show');
			$('#delivered_tbl_'+this.id).removeClass('show');
			$('#pending_tbl_'+this.id).removeClass('show');
			$('#transit_tbl'+this.id).removeClass('show');
			$('#pending_hdr'+this.id).removeClass('show');
			$('#all_hdr'+this.id).addClass('show');
			$('#cancelled_hdr'+this.id).removeClass('show');
			$('#delivered_hdr'+this.id).removeClass('show');
			$('#fl_Pending_'+this.id).removeClass('active');
			$('#fl_Cancelled_'+this.id).removeClass('active');
			$('#fl_Delivered_'+this.id).removeClass('active');
			$('#fl_All_'+this.id).addClass('active');
			$('#fl_Transit_'+this.id).removeClass('active');
		});
	});
</script>