@import
    'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables',
    'node_modules/bootstrap-material-design/sass/shadows',
    '../../abstracts/variables',
    '../../abstracts/functions',
    '../../abstracts/mixins';

@import '../../components/product-grid';

.messages-container {
    padding-top: 15px !important;
    padding-bottom: 90px !important;

    .panel-messages {
        .panel-body {
            padding-top: 0;
            padding-bottom: 0;

            .left-pane {
                border-right: 1px solid #f5f5f5;

                .new-message {
                    position: relative;
                    margin-top: 2px;
                    color: inherit;
                }

                .user-latest-messages-container {
                    position: relative;
                    height: 600px;
                    overflow: hidden;

                    .list-group {
                        margin: 0 -7px;

                        .list-group-item {
                            padding: 5px 10px;

                            &.router-link-active {
                                background-color: #f5f5f5;
                            }

                            .user-avatar {
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .user-detail {
                                margin-top: 4px;
                                padding-left: 0;

                                .user-fullname,
                                .user-latest-message {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }

                                .user-latest-message {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }

            .right-pane {
                padding: 0;

                .panel-chat-box {
                    box-shadow: none;

                    * {
                        color: #333333;
                    }

                    .panel-heading {
                        background-color: #ffffff;
                        padding: 8px 15px 7px;
                        border-bottom: 1px solid #f5f5f5;
                    }

                    .chat-box {
                        position: relative;
                        height: 100px;
                        padding: 0;

                        .panel-body {
                            position: relative;
                            height: 500px;
                            overflow: hidden;

                            ul {
                                list-style-type: none;
                                padding: 0;
                                margin: 0;

                                li {
                                    padding: 10px 0;

                                    img {
                                        width: 32px;
                                        height: 32px;
                                    }

                                    span.username {
                                        font-size: 12px;
                                        font-weight: bold;
                                    }

                                    div.message {
                                        display: inline-block;
                                        padding: 6px;
                                        border-radius: 5px;
                                        background-color: #f5f5f5;
                                    }

                                    &.me {
                                        div.message {
                                            float: right;
                                            background-color: $orange-800;
                                            color: #ffffff;
                                        }
                                    }
                                }
                            }
                        }

                        .panel-footer {
                            position: relative;
                            height: 100%;
                            padding: 0;
                            background-color: #ffffff;

                            > .row,
                            > .row > [class*="col-xs"] {
                                height: 100%;
                            }

                            textarea {
                                width: 100%;
                                height: 70%;
                                padding: 7px 5px;
                                border: none;
                                border-top: 1px solid #f5f5f5;
                                resize: none;
                            }

                            .enter-send {
                                padding: 2px 4px;
                                border-top: 1px solid #f5f5f5;
                                font-size: 12px;

                                * {
                                    font-size: inherit;
                                    margin: 0;
                                }

                                input {
                                    margin: 0;
                                    padding: 0;
                                    position: relative;
                                    top: 2px;
                                }
                            }

                            .btn-send-container {
                                margin-left: -14px;
                                padding: 0;

                                a.btn-send {
                                    display: block;
                                    height: 100%;
                                    line-height: 6.5;
                                    text-align: center;
                                    background-color: #EF6C00;

                                    > i {
                                        vertical-align: middle;
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .header {
                border-bottom: 1px solid #f5f5f5;

                h5 {
                    font-weight: 500;
                }
            }

            .content {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }
}

.context-menu-icon.context-menu-icon--fa::before {
    color: #009688;
}

.context-menu-item.context-menu-hover {
    background-color: #009688;
}

.btn-group {
    display: block;
}
@media screen and (max-width: 767px) {
    .table-responsive {
        padding: 10px;
    }
    .btn-group a {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li.me div.message, .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li div.message {
        max-width: 780px;
        word-wrap: break-word;
    }

}

@media screen and (max-width: 1199px) and (min-width: 991px) {

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li.me div.message, .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li div.message {
        max-width: 640px;
        word-wrap: break-word;
    }

}


@media screen and (max-width: 480px) {

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li span.username {
        margin-left: 30px;
    }

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li.me div.message {
        max-width: 360px;
        word-wrap: break-word;   
    }

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li div.message {
        margin-left: 30px;
        max-width: 360px;
        word-wrap: break-word;
    }

}


@media screen and (max-width: 414px) {

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li span.username {
        margin-left: 30px;
    }

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li.me div.message {
        max-width: 305px;
        word-wrap: break-word;   
    }

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li div.message {
        margin-left: 30px;
        max-width: 305px;
        word-wrap: break-word;
    }

}

@media screen and (max-width: 375px) {

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li span.username {
        margin-left: 35px;
    }

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li.me div.message {
        max-width: 260px;
        word-wrap: break-word;   
    }

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li div.message {
        margin-left: 35px;
        max-width: 260px;
        word-wrap: break-word;
    }

}

@media screen and (max-width: 360px) {

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li span.username {
        margin-left: 35px;
    }

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li.me div.message {
        max-width: 250px;
        word-wrap: break-word;   
    }

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li div.message {
        margin-left: 35px;
        max-width: 250px;
        word-wrap: break-word;
    }

}

@media screen and (max-width: 320px) {

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li span.username {
        margin-left: 40px;
    }

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li.me div.message {
        max-width: 210px;
        word-wrap: break-word;   
    }

    .messages-container .panel-messages .panel-body .right-pane .panel-chat-box .chat-box .panel-body ul li div.message {
        margin-left: 40px;
        max-width: 210px;
        word-wrap: break-word;
    }

}

@media screen and (min-width: 514px) and (max-width: 767px) {
    div.list-group div.user-avatar.col-xs-3 {
        width: 16.66666667%;
    }
    div.list-group div.user-detail.col-xs-9 {
        width: 83.33333333%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    div.list-group div.user-avatar.col-md-3 { 
        width: 33.33333333%;
    }
    div.list-group div.user-detail.col-md-9 {
        width: 66.66666667%;
    }
}
