<template>
	
	<div id="charge-wrapper">

		<table class="table table-bordered">
			<thead>
				<tr>
					<th v-for="branch in branches">{{ branch }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td v-for="(charge, index) in charges">
						<input type="hidden"  :ref="'charge-branch-id-' + index" :value="branchIds[index]">
						<input type="number" :id="'s_'+index" class="form-control" :ref="'charge-' + index" :value="charge">
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</template>

<script>
	export default {
		props: ['branchcosts'],
		data() {
			return {
				mnlIndex:'',
				mnlCharge:''
			}
		},
		methods:{
			computeCommiAmt(){
				let commi = this.mnlCharge* 0.4;
    			this.$parent.$parent.addServFrm.commissionable_amt = commi;
			},
		},
		computed: {
			branches() {
				let branches = [];

				this.branchcosts.map(s => branches.push(s.branch));
				this.branchcosts.map((s, index) => {
					if(s.branch == 'Manila'){
						this.mnlIndex = index
					}
				});
				return branches;
			},
			branchIds() {
				let branchIds = [];

				this.branchcosts.map(s => branchIds.push(s.branch_id));
				
				return branchIds;
			},
			charges() {
				let charges = [];

				this.branchcosts.map(s => charges.push(s.charge));

				return charges;
			},
		},
		mounted(){
			var vm = this;
			$( "#s_" + vm.mnlIndex).on('keyup', function(e) {
				vm.mnlCharge = $( "#s_" + vm.mnlIndex).val();
				vm.computeCommiAmt();
			});
			$( "#s_" + vm.mnlIndex).on('change', function(e) {
				vm.mnlCharge = $( "#s_" + vm.mnlIndex).val();
				vm.computeCommiAmt();
			});
		}
	}
</script>

<style scoped>
	#charge-wrapper { width: 822px; overflow-x:scroll; }
	table { margin-bottom : 0px !important; }
</style>