<template>
	
	<div id="cost-wrapper">
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th v-for="branch in branches">{{ branch }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td v-for="(com_agent, index) in com_agents">
						<input type="hidden" :ref="'comagent-branch-id-' + index" :value="branchIds[index]">
						<input type="number" class="form-control" :ref="'comagent-' + index" :value="com_agent">
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</template>

<script>
	export default {
		props: ['branchcosts'],

		computed: {
			branches() {
				let branches = [];

				this.branchcosts.map(s => branches.push(s.branch));

				return branches;
			},
			branchIds() {
				let branchIds = [];

				this.branchcosts.map(s => branchIds.push(s.branch_id));

				return branchIds;
			},
			com_agents() {
				let com_agents = [];

				this.branchcosts.map(s => com_agents.push(s.com_agent));

				return com_agents;
			}
		}
	}
</script>

<style scoped>
	#cost-wrapper { width: 822px; overflow-x:scroll; }
	table { margin-bottom : 0px !important; }
</style>