<template>
	
	<div id="cost-wrapper">
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th v-for="branch in branches">{{ branch }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td v-for="(com_client, index) in com_clients">
						<input type="hidden" :ref="'comclient-branch-id-' + index" :value="branchIds[index]">
						<input type="number" class="form-control" :ref="'comclient-' + index" :value="com_client">
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</template>

<script>
	export default {
		props: ['branchcosts'],

		computed: {
			branches() {
				let branches = [];

				this.branchcosts.map(s => branches.push(s.branch));

				return branches;
			},
			branchIds() {
				let branchIds = [];

				this.branchcosts.map(s => branchIds.push(s.branch_id));

				return branchIds;
			},
			com_clients() {
				let com_clients = [];

				this.branchcosts.map(s => com_clients.push(s.com_client));

				return com_clients;
			}
		}
	}
</script>

<style scoped>
	#cost-wrapper { width: 822px; overflow-x:scroll; }
	table { margin-bottom : 0px !important; }
</style>