<template>
	
	<div id="cost-wrapper">
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th v-for="branch in branches">{{ branch }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td v-for="(cost, index) in costs">
						<input type="hidden" :ref="'cost-branch-id-' + index" :value="branchIds[index]">
						<input type="number" class="form-control" :ref="'cost-' + index" :value="cost">
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</template>

<script>
	export default {
		props: ['branchcosts'],

		computed: {
			branches() {
				let branches = [];

				//console.log(this.branchcosts);

				this.branchcosts.map(s => branches.push(s.branch));

				return branches;
			},
			branchIds() {
				let branchIds = [];

				this.branchcosts.map(s => branchIds.push(s.branch_id));

				return branchIds;
			},
			costs() {
				let costs = [];

				this.branchcosts.map(s => costs.push(s.cost));

				return costs;
			}
		},

		method: {
			forceRerender() {
		      this.branchcosts += 1;  
		    }
		}
	}
</script>

<style scoped>
	#cost-wrapper { width: 822px; overflow-x:scroll; }
	table { margin-bottom : 0px !important; }
</style>