<template>
	
	<div v-if="employeeid" style="margin:10px;">

		<div v-show="!loading">
			<center>
                <h1>{{ filterYear }}</h1>

                <form class="form-inline">
                    <div class="form-group">
                        <label>Year</label>
                        <select class="form-control" v-model="filterYear">
                            <option :value="year" v-for="year in selectYears">
                                {{ year }}
                            </option>
                        </select>
                    </div>
                    <button id="filter-btn" type="button" class="btn btn-primary" @click="filter">Filter</button>
                </form>
            </center>

            <div style="height:15px;clear:both;"></div>

			<div class="col-md-12">
			   	<div class="pull-right">
			        Legend:
			        <span class="label label-def">DEFAULT</span>
			        <span class="label label-late">LATE</span>
			        <span class="label label-slate">SUPER LATE</span>
			        <span class="label label-earlyout">EARLY OUT</span>
			        <span class="label label-absent">ABSENT</span>
			    </div>
			</div>

			<div style="height:15px;clear:both;"></div>

			<div id="fixTable-wrapper">
				<table id="fixTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th v-for="n in 31">
                                <strong>{{ n }}</strong>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    	<tr v-for="a in attendance">
                    		<td class="month"><strong>{{ a.month }}</strong></td>
                    		<td v-for="d in a.data" :class="{
                                'current' : d.current,
                                'weekends' : (d.time_in_status == 'WEEKENDS') && (d.time_out_status == 'WEEKENDS')
                            }">
                    			<span v-if="d.has_data">
                                    <span v-if="d.time_in_status == 'ABSENT' && d.time_out_status == 'ABSENT'">
                                        <span class="label label-absent">ABSENT</span>
                                    </span>
                                    <span v-else>
                                        <span v-if="d.time_in" class="label label-def" :class="{
                                            'label-late' : d.time_in_status == 'LATE',
                                            'label-slate' : d.time_in_status == 'SLATE'
                                        }">
                                            {{ d.time_in }}
                                        </span>
                                        &nbsp;&nbsp;
                                        <span v-if="d.time_out" class="label label-def" :class="{
                                            'label-earlyout' : d.time_out_status == 'EARLYOUT'
                                        }">
                                            {{ d.time_out }}
                                        </span>
                                    </span>
                                </span>
                    		</td>
                    	</tr>
                    </tbody>
                 </table>
			</div>
		</div>

		<div v-show="loading">
	        <div class="spiner-example">
	            <div class="sk-spinner sk-spinner-wave">
	                <div class="sk-rect1"></div>
	                <div class="sk-rect2"></div>
	                <div class="sk-rect3"></div>
	                <div class="sk-rect4"></div>
	                <div class="sk-rect5"></div>
	            </div>
	        </div>
	    </div>

    </div>

</template>

<script>
	export default {
		props: ['employeeid'],

		data() {
			return {
				loading: true,

				selectYears: ['2018', '2019', '2020', '2021', '2022'],

				filterYear: new Date().getFullYear(),

				current: true,

				attendance: []
			}
		},

		methods: {
			filter() {
				this.setCurrent();

				this.getAttendance();
			},

			setCurrent() {
				if(this.filterYear == new Date().getFullYear())
					this.current = true;
				else
					this.current = false;
			},

			getAttendance() {
				this.loading = true;

				axiosAPIv1.get('/employee/' + this.employeeid + '/attendance', {
					    params: {
					      	filterYear: this.filterYear
					    }
					})
			  		.then((response) => {
			  			this.attendance = response.data.attendance;

			  			setTimeout(() => {
			  				this.loading = false;

			  				$("#fixTable").tableHeadFixer({"head" : false, "left" : 1});

			  				let position = (this.current) ? (200 * (new Date().getDate())) - 200 : 0;
		  					$("#fixTable-wrapper").animate({scrollLeft: position}, 100);
			  			}, 1000);
			  		});
			}
		},

		created() {
			this.setCurrent();

			this.getAttendance();
		}
	}
</script>