<template>
	
	<div id="tip-wrapper">

		<table class="table table-bordered">
			<thead>
				<tr>
					<th v-for="branch in branches" >{{ branch }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td v-for="(tip, index) in tips">
						<input type="hidden" :ref="'tip-branch-id-' + index" :value="branchIds[index]">
						<input type="number" class="form-control" :ref="'tip-' + index" :value="tip">
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</template>

<script>
	export default {
		props: ['branchcosts'],

		computed: {
			branches() {
				let branches = [];

				this.branchcosts.map(s => branches.push(s.branch));

				return branches;
			},
			branchIds() {
				let branchIds = [];

				this.branchcosts.map(s => branchIds.push(s.branch_id));

				return branchIds;
			},
			tips() {
				let tips = [];

				this.branchcosts.map(s => tips.push(s.tip));

				return tips;
			}
		}
	}
</script>

<style scoped>
	#tip-wrapper { width: 822px; overflow-x:scroll; }
	table { margin-bottom : 0px !important; }
</style>