<template>
  <div>
  
    <div class="wrapper22">
      <div class="div22">
        <table id="example" class="display" ref="mytable">
         <!--
          <template v-if="branch_id=='1'"> 
            <thead>
              <tr v-if="user.id==1193">
                <th class="smaller">Row</th>
                <th v-for="column in columns" :key="column.name" v-show="column.name!='bank_ew'"> 
                  <span v-if="checkProps(column.name)"> <a @click="changeProps(column.name, false)"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                  {{column.label}}
                  </span>
                  <span v-else>
                                <a v-tooltip="column.label" @click="changeProps(column.name, true)"><i class="glyphicon glyphicon-chevron-left" ></i></a>
                                
                  </span>
    
                </th>
              </tr>
              <tr v-else>
                <th v-for="column in columns" :key="column.name" v-show="column.name!='process_output' && column.name!='amount_before' && column.name!='amount_after' && column.name!='profit' && column.name!='bank_ew'">     
                              <span v-if="checkProps(column.name)"> <a @click="changeProps(column.name, false)"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                  {{column.label}}
                              </span>
                              <span v-else>
                                <a v-tooltip="column.label" @click="changeProps(column.name, true)"><i class="glyphicon glyphicon-chevron-left" ></i></a>
                                 
                              </span>
                </th>
              </tr>

            </thead>
          </template>
          <template v-else>
            <thead>
              <tr v-if="user.id==1193">
                <th v-for="column in columns" :key="column.name" v-show="column.name!='bank_aub' && column.name!='bank_metrobank' && column.name!='bank_security'"> 
                  <span v-if="checkProps(column.name)"> <a @click="changeProps(column.name, false)"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                  {{column.label}}
                  </span>
                  <span v-else>
                                <a v-tooltip="column.label" @click="changeProps(column.name, true)"><i class="glyphicon glyphicon-chevron-left" ></i></a>
                                 
                  </span>
    
                </th>
              </tr>
              <tr v-else>
                <th v-for="column in columns" :key="column.name" v-show="column.name!='process_output' && column.name!='amount_before' && column.name!='amount_after' && column.name!='profit' && column.name!='bank_aub' && column.name!='bank_metrobank' && column.name!='bank_security'">     
                              <span v-if="checkProps(column.name)"> <a @click="changeProps(column.name, false)"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                  {{column.label}}
                              </span>
                              <span v-else>
                                <a v-tooltip="column.label" @click="changeProps(column.name, true)"><i class="glyphicon glyphicon-chevron-left" ></i></a>
                                 
                              </span>
                </th>
              </tr>

            </thead>
          </template>
          -->
           <thead>
              <tr>
                <th class="smaller no-sort">Row</th>
                <th v-for="column in columns" :key="column.name" class="no-sort"> 
                 
                                  {{column.label}}
                 
              
                </th>
              </tr>
            

            </thead>
                <slot></slot>
          </table>
        </div>
        <!--
        <div class="footer-fixed">
          <div class="div11"></div>
        </div>

        <div class="sidebar-fixed">
          <div class="div33"></div>
        </div>
            -->
      </div>
      </div>

</template>

<script>
  export default {
    props: ['columns', 'sortKey', 'sortOrders', 'checkProps', 'changeProps', 'user', 'branch_id']
  }
  
  // $(function () {
  //     $('.wrapper11').on('scroll', function (e) {
  //         $('.wrapper22').scrollLeft($('.wrapper11').scrollLeft());
  //     });
  //     $('.wrapper22').on('scroll', function (e) {
  //         $('.wrapper11').scrollLeft($('.wrapper22').scrollLeft());
  //     });
  // });
  // $(document).ready(function(){
  //     //$('.div11').width($('#ftable').width());
  //     $('.div22').width($('#ftable').width());
  //     $('.div11').width($('#ftable').width()+400);
  //
  //     //alert($('.div22')[0].scrollWidth+' | '+$('#ftable').width());
  // });
</script>
