
<template>
  <div>
    <div class="sidebar-col">
      <div class="float-button">
        <button  type="button" class="btn" @click="showStats()">
            <i id="mod-button" class="fa fa-mail-forward"></i>
        </button>
      </div>
      <div class="ibox">
        <div class="table-responsive">
                            <table class="table table-striped">

                                <tbody>
                                  <tr>
                                      <td>Initial Cash:</td>
                                      <td><span class="text-muted">{{numberWithCommas(initial_cash)}}</span></td>
                                  </tr>
                                  <tr>
                                      <td> Initial Bank:</td>
                                      <td><span class="text-muted">{{numberWithCommas(initial_bank)}}</span></td>
                                  </tr>
                                  <tr>
                                      <td>Cash Balance:</td>
                                      <td><span class="text-muted">{{numberWithCommas(cash_balance)}}</span></td>
                                  </tr>
                                  <tr>
                                      <td>Bank Balance:</td>
                                      <td><span class="text-muted">{{numberWithCommas(bank_balance)}}</span></td>
                                  </tr>
                                  <tr>
                                      <td>Total:</td>
                                      <td><span class="text-muted">{{numberWithCommas(total_balance)}}</span></td>
                                  </tr>
                                  <tr>
                                      <td>Profit:</td>
                                      <td><span class="text-muted">{{numberWithCommas(total_profit)}}</span></td>
                                  </tr>
                                  <tr>
                                      <td>Process Output:</td>
                                      <td><span class="text-muted">{{numberWithCommas(process_output)}}</span></td>
                                  </tr>
                                  <tr>
                                      <td>How much we received from client:</td>
                                      <td><span class="text-muted">{{numberWithCommas(we_receive_before)}}</span></td>
                                  </tr>
                                  <tr>
                                      <td >How much we received after we spent for client:</td>
                                      <td><span class="text-muted">{{numberWithCommas(we_receive_after)}}</span></td>
                                  </tr>

                                </tbody>
                            </table>
                        </div>

    </div>
    </div>

    <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div method="POST" role="form" id="inputForm" class="inputForm">
            <div class="modal-content">
                <div class="modal-header" id="myModal5header">
                    <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                    <h4 class="modal-title">New Transaction</h4>
                    <small class="font-bold">Please check your inputs before saving.</small>
                </div>
                <div class="modal-body">

                    <div class="form-group"><label>Transaction Type</label>
                      <select id="transaction_type" class="form-control m-b" @change="checkTrans()">
                          <option value="" disabled selected>Please Select</option>
                          <option value="pbr">Processing Budget Return</option>
                          <option value="pc">Processing Cost</option>
                          <option value="pab">Processing Additional Budget</option>
                          <option style="display:none" value="bpc">Borrowed Processing Cost</option>
                          <option value="abr">Admin Budget Return</option>
                          <option value="ac">Admin Cost</option>
                          <option value="aab">Admin Additional Budget</option>
                          <option value="bac">Borrowed Admin Cost</option>
                          <option value="dom">Deposit for Other Matter</option>
                          <option value="com">Cost for Other Matter</option>
                          <option value="ft">Fund Transfer</option>
                      </select>
                    </div>
                    <div v-if="cat_type=='ft'" class="form-group"><label>Cost Type</label>
                      <select class="form-control m-b" id="storage_type">
                          <option value="cash">Bank to Cash</option>
                          <option value="bank">Cash to Bank</option>
                      </select>
                    </div>
                    <div v-if="cat_type=='pc' || cat_type == 'ac'" class="form-group"><label>Cost Type</label>
                      <select class="form-control m-b" id="cost_type">
                          <option value="1">Budget</option>
                          <option value="2">Payment</option>
                      </select>
                    </div>
                    <div v-if="cat_type=='pc'" class="form-group"><label>Requesting User</label>
                      <select class="form-control m-b" id="user_type">
                            <option   v-for="u in user_profile" :value="u.id" :key="u.id">{{u.first_name}} {{u.last_name}}</option>
                      </select>
                    </div>
                    <div v-if="borrowed.length>0" class="form-group"><label>Borrowed List</label>
                      <select class="form-control m-b" id="borrowed_list">
                          <option   v-for="b in borrowed" :value="b.id" :key="b.id">{{b.trans_desc}}</option>
                      </select>
                    </div>
                    <div class="form-group" v-if="cat_type=='com' || cat_type=='dom' || cat_type=='bpc' || cat_type=='bac' || cat_type=='pc' || cat_type=='ac'"><label>Storage Type</label>
                      <select class="form-control m-b" id="storage_type" v-model="tmp_storage">
                          <option value="cash">Cash</option>
                          <option value="bank">Bank</option>
                      </select>
                    </div>
                    <div class="form-group" v-if="((cat_type=='com' || cat_type=='dom' || cat_type=='bpc' || cat_type=='bac' || cat_type=='pc' || cat_type=='ac') && (tmp_storage=='bank')) ||  cat_type=='ft'"><label>Bank Type</label>
                      <select class="form-control m-b" id="bank_type">
                          <template v-if="branch_id=='1'">
                          <option value="metrobank">Metrobank</option>
                          <option value="securitybank">Security Bank</option>
                          <option value="aub">AUB</option>
                          </template>
                          <template v-else>
                              <option value="eastwest">EastWest</option>
                          </template>
                      </select>
                    </div>
                      <div class="form-group" v-if="cat_type!='' && cat_type!=null"><label>Amount</label> <input id="txtAmount" type="text" placeholder="0.00" class="form-control"></div>
                      <div class="form-group" v-if="cat_type=='com' || cat_type=='dom' || cat_type=='bpc' || cat_type=='bac' || cat_type=='pc' || cat_type=='ac'"><label>Description</label> <textarea id="txtDescription" class="form-control" row="5"></textarea></div>

                  <h2 class="processLocator" id="processLocator"></h2>
                </div>

                <div class="modal-footer">
                      <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                      <button type="button"  v-if="cat_type!='' && cat_type!=null" class="btn btn-primary pull-right "  @click="saveProject()" id="btn_save" ><strong>Save</strong></button>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
  <!--
  <div class="col-md-12">
      <div class="row">
        <div class="ibox float-e-margins no-padding">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-4 b-r" >

                              <div class="ibox">
                                    <table class="tbl-computation" >

                                        <tr>
                                            <td>Initial Cash:</td>
                                            <td><span class="text-muted">{{numberWithCommas(initial_cash)}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>Initial Bank:</td>
                                            <td><span class="text-muted">{{numberWithCommas(initial_bank)}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>Cash Balance:</td>
                                            <td><span class="text-muted">{{numberWithCommas(cash_balance)}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>Bank Balance:</td>
                                            <td><span class="text-muted">{{numberWithCommas(bank_balance)}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>Total:</td>
                                            <td><span class="text-muted">{{numberWithCommas(total_balance)}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>Profit:</td>
                                            <td><span class="text-muted">{{numberWithCommas(total_profit)}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>Process Output:</td>
                                            <td><span class="text-muted">{{numberWithCommas(process_output)}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>How much we received from client:</td>
                                            <td><span class="text-muted">{{numberWithCommas(we_receive_before)}}</span></td>
                                        </tr>
                                        <tr>
                                            <td>How much we received after we spent for client:</td>
                                            <td><span class="text-muted">{{numberWithCommas(we_receive_after)}}</span></td>
                                        </tr>


                                    </table>

                            </div>

                            </div>

                            <div class="col-sm-8">


                            </div>
                        </div>
                    </div>
                </div>


      </div>

  </div>
  -->
</template>
<script>
export default {
  props: {
    initial_cash:Number,
    initial_bank:Number,
    bank_balance:Number,
    cash_balance:Number,
    total_balance:Number,
    total_profit:Number,
    process_output:Number,
    we_receive_before:Number,
    we_receive_after:Number,
    saveProject: Function,
    numberWithCommas: Function,
    checkTrans: Function,
    borrowed: Array,
    user_profile: Array,
    cat_type: String,
    branch: Array,
    showStats: Function,
    tmp_storage:String,
    branch_id:String,
  }
}

</script>
