<template>
     <table class="table table-hover">
                <thead>
                    <tr>
                        <th v-for="column in columns" :key="column.title" @click="$emit('sort', column.title)"
                            :class="sortKey === column.title ? (sortOrders[column.title] > 0 ? 'sorting_asc' : 'sorting_desc') : 'sorting'"
                            :style="'width:'+column.width+';'+'cursor:pointer;'">
                            {{column.label}}
                        </th>
                    </tr>
                </thead>
                <slot></slot>
      </table>
</template>
<script>
  export default{
    props: ['columns','sortKey','sortOrders']
  }
</script>
