<template>

  <div>
      <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="form-group">
                  <center><h2>{{album.title}}</h2></center>
                </div>
                <div class="form-group">
                  <form action="../upload/store" class="dropzone" id="dropzoneForm" enctype="multipart/form-data" >
                      <div class="dz-message" data-dz-message>
                        <span v-if="translation">{{ translation['drop-files-here-or-click-to-upload'] }}</span>
                      </div>
                      <div class="fallback">
                          <input name="file" type="file" multiple />
                      </div>
                  </form>
                </div>
            </div>
        </div>
      </div>
  </div>

</template>
<script>

var url  = window.location.href;
var tid = url.substring(url.lastIndexOf('/') + 1);
const resource = require('vue-resource');
Vue.http.interceptors.push((request, next) => {
    request.headers.set('X-CSRF-TOKEN', Laravel.csrfToken);

    next();
});

export default {
  data(){
    return{
      id:tid,
      album:{
        id:'',
        title:''
      },
      translation: null
    }
  },
  methods:{
    getAlbum(url = '../album-by-id/'+this.id) {
        axios.get(url)
            .then(response => {
                let data = response.data;
                this.album.title = data.title;
            })
            .catch(errors => {
                console.log(errors);
            });
    },
    getTranslation() {
      axios.get('/visa/gallery/translation/gallery-detail-page')
          .then(response => {
            this.translation = response.data.translation;
          });
    }
  },
  created(){
    this.getTranslation();

    this.getAlbum();
  },
  updated(){
    this.getAlbum();
  }
}


Dropzone.options.dropzoneForm = {
    paramName: "file", // The name that will be used to transfer the file
    maxFilesize: 5, // MB
    dictDefaultMessage: "<strong>Drop files here or click to upload. </strong></br>",
    init:function() {
      var myDropzone = this;

        $.get('../server-images/'+tid, function(data) {

            $.each(data.images, function (key, value) {

                var file = {name: value.server, size: value.size};
                myDropzone.options.addedfile.call(myDropzone, file);
                myDropzone.options.thumbnail.call(myDropzone, file, '/images/thumbnail/' + value.server);
                myDropzone.emit("complete", file);

            });
        });

    },
     renameFilename: function (file) {
        return new Date().getTime() + '_' +tid+ '.'+ file.split('.').pop();
      },
      sending: function(file, xhr, formData) {
        formData.append("_token", Laravel.csrfToken);
        formData.append("album_id", tid);
      },
      acceptedFiles: ".jpeg,.jpg,.png,.gif",
      addRemoveLinks: true,
      timeout: 50000,

      removedfile: function(file){
        var obj = '';
        var name = '';
        try{
           obj = JSON.parse(file.xhr.response);
           name = obj.success;
        }catch(err){
           name = file.name;
        }

                  $.ajax({
                      type: 'POST',
                      url: '../delete',
                      data: {filename: name},
                      success: function (data){
                          console.log("File has been successfully removed!!");
                      },
                      error: function(e) {
                          console.log(e);
                      }});
                      var fileRef;
                      return (fileRef = file.previewElement) != null ?
                      fileRef.parentNode.removeChild(file.previewElement) : void 0;
      },

    success: function(file, response)
    {
      // obj = JSON.parse(response);
      // file.previewElement.id = obj.filename;
      console.log(response);
    },
    error: function(file, response)
    {
        return false;
    }
};
</script>
