<style>
.gal-img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width:100%;
  height:100% !important;
  -webkit-filter: blur(0px);filter: blur(0px);
}
.img-container{
  height:252px !important;
  overflow:hidden;
}
.gal-img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-filter: blur(2px);filter: blur(2px);
}

</style>
<template>
  <div>
  <div class="row">
    <div class="col-md-12">
    <div v-for="project in projects" :key="project.id">
      <div class="col-md-3">
        <div class="thumbnail">
          <div class="img-container">
            <a :href="url+project.id">
              <img class="gal-img" :src="getImages(project.id)" alt="Lights" >
            </a>

          </div>
            <div class="caption">
               <div class="form-group">
                    <input type="text" v-model="project.title" class="form-control" style="text-align:center" @blur="updateTitle(project.title,project.id,project.allow_public,false)">
              </div>
              <div class="form-check">
               <input type="checkbox" class="form-check-input" id="exampleCheck1" v-model="project.allow_public" v-bind:id="project.id" v-bind:true-value="1" v-bind:false-value="0" @change="updateTitle(project.title,project.id,project.allow_public,true)">
               <label class="form-check-label" for="exampleCheck1" v-if="translation">
                {{ translation['publish-to-home'] }}
               </label>
             </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="alert alert-info">
      <strong v-if="translation">
        {{ translation['note-gallery-must-have-at-least-5-images-to-be-publish-in-homepage'] }}
      </strong> 
    </div>
  </div>
  </div>
</template>

<script>
  export default {
    data(){
      return{
        projects:[],
        url: './gallery/album-view/',
        album:{
          id:'',
          title:'',
          allow_public: false,
          update_public: false
        },
        translation: null
      }
    },
    methods:{
      getTranslation() {
        axios.get('/visa/gallery/translation/gallery-page')
          .then(response => {
            this.translation = response.data.translation;
          });
      },
      getAlbums(url = './gallery/newListAlbums') {
          axios.get(url)
              .then(response => {
                   this.projects = response.data;

              })
              .catch(errors => {
                  console.log(this.projects);
              }).then(function () {
                this.getAlbums();
              });;
      },
      updateTitle(title, id, allow_public,update_public){
        if($.trim(title).length > 1){
          this.album.title = title;
          this.album.id = id;
          this.album.allow_public = allow_public;
          this.album.update_public = update_public;

          this.$http.post('./gallery/album-list/edit/'+ id, this.album).catch(function (error) {
             if(error.status==422){
               this.error = true;
             }
             if(error.status==500){
               this.error2 = true;
             }
          }).then(function () {
            this.album = {
              id:'',
              title:'',
              allow_public: false,
              update_public: false
            }
          }).then(function () {
            this.getAlbums();
          });
        }else{
          alert( (this.translation) ? this.translation['gallery-title-cannot-be-empty'] : 'Gallery title cannot be empty.' );
        }
      },
      getImages(id){
         var str = '';
        // return axios.get('./gallery/featured-image/'+id)
        //     .then(response => {
        //          //return '/images/gallery/'+response.data.filename;
        //          // if(typeof str =='undefined'){
        //          //   return '/images/gallery.png';
        //          // }else{
        //          //   return '/images/gallery/'+str;
        //          // }
        //          return response;
        //     }).catch(error => { console.error(error); return Promise.reject(error); });;
        //     //return '/images/gallery.png';
        $.ajax({
            type: 'GET', //THIS NEEDS TO BE GET
            url: './gallery/featured-image/'+id,
            async: false,
            success: function (data) {

                if(typeof data.filename =='undefined'){
                           str= '/images/gallery.png';
                  }
                  else{
                           str= '/images/gallery/'+data.filename;
                  }

            },
            error: function() {
              str = '/images/gallery.png';
            }
          });
          return str;
      }
    },
    created(){
      this.getTranslation();
      this.getAlbums();
    }
  }
</script>
