<template>
  <div >
  <nav class="pagination" v-if="!client">
        <span class="page-stats">{{pagination.from}} - {{pagination.to}} of {{pagination.total}}</span>
        <a v-if="pagination.prevPageUrl" class="btn btn-default pagination-previous" @click="$emit('prev');">
            Prev
        </a>
        <a class="btn btn-default pagination-previous" v-else :disabled="true">
           Prev
        </a>

        <a v-if="pagination.nextPageUrl" class="btn btn-default pagination-next" @click="$emit('next');">
            Next
        </a>
        <a class="btn btn-default pagination-next" v-else :disabled="true">
            Next
        </a>
    </nav>

    <nav class="pagination" v-else>
        <span class="page-stats">
            {{pagination.from}} - {{pagination.to}} of {{filtered.length}}
            <span v-if="filtered.length < pagination.total">(filtered from {{pagination.total}} total entries)</span>
        </span>
        <a v-if="pagination.prevPage" class="btn btn-default pagination-previous" @click="$emit('prev');">
            Prev
        </a>
        <a class="btn btn-default pagination-previous" v-else :disabled="true">
           Prev
        </a>

        <a v-if="pagination.nextPage" class="btn btn-default pagination-next" @click="$emit('next');">
            Next
        </a>
        <a class="btn btn-default pagination-next" v-else :disabled="true">
            Next
        </a>
    </nav>
  </div>
</template>
<script>
export default{
  props: ['pagination', 'client', 'filtered']
}
</script>
