<template>

  <div>
    <div id="dialogAddAlbum" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12"><h3 class="m-t-none m-b">Add new album</h3>

                            <form role="form" action="#" method="POST" v-on:submit.prevent="saveAlbum(act,'')">
                              <p style="color:red" v-if="error">Title cannot duplicate or empty</p>
                              <p style="color:red" v-if="error2">Album already exist</p>
                                <div class="form-group"><input  v-model="album.title" name="title" id="title" type="text" placeholder="Title" class="form-control"></div>

                                <div class="col-sm-6 col-sm-offset-6">
                                        <button class="btn btn-primary pull-right" type="button" v-if="act=='Add'" @click="saveAlbum(act,'')">Save Changes</button>
                                        <button class="btn btn-primary pull-right" type="button" v-else @click="saveAlbum(act,album.id)">Save Changes</button>
                                        <button class="btn btn-white pull-right" type="button" @click="resetAll()">Cancel</button>
                                </div>
                            </form>
                        </div>

                </div>
            </div>
            </div>
        </div>
</div>

    <div class="row" >
        <div class="col-lg-12">
            <a class="btn btn-primary btn-sm pull-right"  @click="actionDoc('add', '')" ><i class="fa fa-plus fa-fw"></i>Add New Album</a>
            <div style="height:10px; clear:both;"></div>


            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>List of Albums</h3>
                </div>
                <div class="ibox-content">
                    <!-- SHOW IF DOCUMENTS ARE EMPTY
                    <div class="no-result" v-if="projects.length == 0">
                        <h3>No albums show.</h3>
                    </div>
                     -->
                    <!-- HIDE TABLE IF EMPTY -->
                    <div class="table-responsive" >
                      <div class="col-md-12">
                          <div class="ibox float-e-margins">

                              <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-1 m-b-xs"><select class="input-sm form-control input-s-sm inline" v-model="tableData.length" >
                                      <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                                    </select>
                                    </div>

                                    <div class="col-sm-offset-7 col-sm-4">
                                        <div class="input-group pull-right"><input v-model="tableData.search" @input="getAlbums()" type="text" placeholder="Search" class="input-sm form-control"> </div>
                                    </div>
                                </div>

                                  <AlbumTable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy" >
                                    <tbody v-if="projects.length != 0">
                                        <tr v-for="project in projects" :key="project.id">
                                            <td><a :href="url+project.id">{{project.title}}</a></td>
                                            <td>
                                              <div class="form-group">
                                                <button type="button" class="btn btn-danger btn-xs pull-right" @click="deleteAlbum(project.id)"><span class="glyphicon glyphicon-trash"></span></button>
                                                <button type="button" class="btn btn-primary btn-xs pull-right" @click="actionDoc('edit', project.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                <!--<a target="_blank" class="btn btn-primary btn-xs pull-right" :href="url+project.id"><span class="glyphicon glyphicon-th"></span></a>-->
                                              </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody  v-else>
                                        <tr>

                                            <td>
                                              No record found
                                            </td>
                                        </tr>
                                    </tbody>
                                 </AlbumTable>

                                 <pagination :pagination="pagination"
                                       @prev="getProjects(pagination.prevPageUrl)"
                                       @next="getProjects(pagination.nextPageUrl)">
                                 </pagination>
                              </div>
                          </div>
                      </div>
                    </div><!-- end table-responsive -->
                </div>
            </div>
        </div>
    </div>


  </div>
</template>

<script>
  import AlbumTable from './AlbumList.vue';
  import Pagination from './Pagination.vue';

  export default {
    components: {AlbumTable: AlbumTable, Pagination: Pagination},
    data() {
      let sortOrders = {};
      let columns = [
          {width: '40%', label: 'Album', name: 'title' },
          {width: '10%', label: 'Action'},
      ];
      columns.forEach((column) => {
         sortOrders[column.name] = 0;
      });
        return {
              act:'',
              album:{
                id:'',
                title:''
              },
              url: './gallery/album-view/',
              success: false,
              error: false,
              error2: false,
              projects: [],
              columns: columns,
              sortKey: 'title',
              sortOrders: sortOrders,
              perPage: ['10', '20', '30'],
              sendReq: false,
              tableData: {
                  draw: 0,
                  length: 10,
                  search: '',
                  column: 0,
                  dir: 'asc',
              },
              pagination: {
                  lastPage: '',
                  currentPage: '',
                  total: '',
                  lastPageUrl: '',
                  nextPageUrl: '',
                  prevPageUrl: '',
                  from: '',
                  to: ''
              },
          }

      },
      methods:{

        configPagination(data) {
            this.pagination.lastPage = data.last_page;
            this.pagination.currentPage = data.current_page;
            this.pagination.total = data.total;
            this.pagination.lastPageUrl = data.last_page_url;
            this.pagination.nextPageUrl = data.next_page_url;
            this.pagination.prevPageUrl = data.prev_page_url;
            this.pagination.from = data.from;
            this.pagination.to = data.to;
        },
        sortBy(key) {
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
            this.getProjects();
        },
        getIndex(array, key, value) {
            return array.findIndex(i => i[key] == value)
        },
        getAlbums(url = './gallery/album-list') {
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                    let data = response.data;
                    if (this.tableData.draw == data.draw) {

                        this.projects = data.data.data;
                        this.configPagination(data.data);
                    }
                })
                .catch(errors => {
                    console.log(errors);
                });
        },
        actionDoc(e, id){
          if(e == "add"){
            $('#dialogAddAlbum').modal('toggle');
            this.act = "Add";
          }else if(e==='edit'){
            this.album.id = id;
            this.$http.get('./gallery/album-list/' + id).then(response => {
                let data = response.data;
                this.album.title = data.title;
            })
            $('#dialogAddAlbum').modal('toggle');
            this.act = "Edit";
          }
        },
        resetAll(){
          this.error = false;
          this.error2 = false;
          $('#dialogAddAlbum').modal('toggle');
          this.act = "";
          this.album = {
            id:'',
            title:''
          }
        },
        saveAlbum(e,id){
          this.error = false;
          this.error2 = false;
          if(e=='Add'){
            this.$http.post('./gallery/album-list', this.album).catch(function (error) {
               if(error.status==422){
                 this.error = true;
               }
               if(error.status==500){
                 this.error2 = true;
               }
            }).then(function () {
              if(!this.error && !this.error2){
                $('#dialogAddAlbum').modal('toggle');
                this.act = "";
                this.album = {
                  id:'',
                  title:''
                }
              }
            });

          }else if(e=='Edit'){
            this.error = false;
            this.error2 = false;
            this.$http.post('./gallery/album-list/edit/'+ id, this.album).catch(function (error) {
               if(error.status==422){
                 this.error = true;
               }
               if(error.status==500){
                 this.error2 = true;
               }
            }).then(function () {
              if(!this.error && !this.error2){
                $('#dialogAddAlbum').modal('toggle');
                this.act = "";
                this.album = {
                  id:'',
                  title:''
                }
              }
            });
          }
          this.sendReq = true;
          this.getAlbums();

        },
        deleteAlbum(id){
          if(confirm('Are you sure?')){
            //this.updateProjects('./news-list/update','delete',id);
            this.$http.delete('./gallery/album-list/' + id).then(function (res) {
              if(res.data.response=='failed'){
                alert("This album is not empty!");
              }
            });
          }
          this.sendReq = true;
          this.getAlbums();
        }

      },
      created(){
        this.getAlbums();
      },
      updated(){
        if(this.sendReq){
          for(var i=0;i<2;i++){
            this.getAlbums();
          }
            this.sendReq = false;


        }

      }
  }
</script>
