	<template>
		
		<form class="form-horizontal">

			<!-- <div class="form-group">
	    		<label class="col-sm-2 control-label">{{(translation) ? translation['first-name'] : 'First Name'}}</label>
	    		<div class="col-sm-10">
	      			<input type="text" class="form-control" id="fname" name="fname" :placeholder="(translation) ? translation['enter-fname'] : 'Enter First Name'" autocomplete="off" v-model="addNewAgentForm.fname">
	    		</div>
	  		</div>

	  		<div class="form-group">
	    		<label class="col-sm-2 control-label">{{(translation) ? translation['last-name'] : 'Last Name'}}</label>
	    		<div class="col-sm-10">
	      			<input type="text" class="form-control" id="lname" name="lname" :placeholder="(translation) ? translation['enter-lname'] : 'Enter Last Name'" autocomplete="off" v-model="addNewAgentForm.lname">
	    		</div>
	  		</div>

	  		<div class="form-group">
	    		<label class="col-sm-2 control-label">{{(translation) ? translation['address'] : 'Address'}}</label>
	    		<div class="col-sm-10">
	      			<input type="text" class="form-control" id="address" name="address" :placeholder="(translation) ? translation['enter-add'] : 'Enter Address'" autocomplete="off" v-model="addNewAgentForm.address">
	    		</div>
	  		</div>

	  		<div class="form-group">
	    		<label class="col-sm-2 control-label">{{(translation) ? translation['cont-no'] : 'Contact Number'}}</label>
	    		<div class="col-sm-10">
	      			<input type="number" class="form-control" id="contact_number" name="contact_number" :placeholder="(translation) ? translation['enter-cont-no'] : 'Enter Contact Number'" autocomplete="off" v-model="addNewAgentForm.contact_number">
	    		</div>
	  		</div>

	  		<div class="form-group">
	    		<label class="col-sm-2 control-label">{{(translation) ? translation['alt-cont-no'] : 'Alternate Contact Number'}}</label>
	    		<div class="col-sm-10">
	      			<input type="number" class="form-control" id="alternate_contact_number" name="alternate_contact_number" :placeholder="(translation) ? translation['enter-alt-cont-no'] : 'Enter Alternate Contact Number'" autocomplete="off" v-model="addNewAgentForm.alternate_contact_number">
	    		</div>
	  		</div>

	  		<div class="form-group">
	    		<label class="col-sm-2 control-label">{{(translation) ? translation['email'] : 'Email'}}</label>
	    		<div class="col-sm-10">
	      			<input type="text" class="form-control" id="email" name="email" :placeholder="(translation) ? translation['enter-email'] : 'Enter Email'" autocomplete="off" v-model="addNewAgentForm.email">
	    		</div>
	  		</div>
	 -->
	  		<div class="form-group">
	    		<label class="col-sm-2 control-label">{{(translation) ? translation['shop'] : 'Shop'}}</label>
	    		<div class="col-sm-10">
	      			<!-- <select :data-placeholder="(translation) ? translation['select-agent'] : 'Select Agent'" class="chosen-select-for-agent" multiple>
			            <option v-for="m in visaclient" :value="m.id">
			               	{{ '[' + m.id + ']' + ' ' + m.first_name + ' ' + m.last_name }}
			            </option>
			        </select> -->
			        <input type="text" autocomplete="off" :placeholder="(translation) ? translation['select-shop'] : 'Select Shop'" class="form-control typeahead" name="agent-search" id="agent-search" />
	    		</div>
	  		</div>

	  		<div class="form-group">
	    		<label class="col-sm-2 control-label">{{(translation) ? translation['agent'] : 'Agent'}}</label>
	    		<div class="col-sm-10">
	      			<!-- <select :data-placeholder="(translation) ? translation['select-midman'] : 'Select Middleman'" class="chosen-select-for-middleman" multiple>
			            <option v-for="m in middlemen" :value="m.id">
			               	{{ '[' + m.id + ']' + ' ' + m.first_name + ' ' + m.last_name }}
			            </option>
			        </select> -->
			        <input type="text" autocomplete="off" :placeholder="(translation) ? translation['select-agent'] : 'Select Agent'"  class="form-control typeahead" name="midman-search" id="midman-search" />
	    		</div>
	  		</div>


	  		<div class="form-group">
	  			<div class="col-sm-12">
		  			<button v-if="!loading" type="button" class="btn btn-primary pull-right" @click="addNewAgent()">
		                <strong>{{(translation) ? translation['save'] : 'Save'}}</strong>
		            </button>

		            <button v-else type="button" class="btn btn-primary pull-right">
			            <div class="sk-spinner sk-spinner-wave" style="width:40px; height:20px;">
			                <div class="sk-rect sk-rect1"></div>
			                <div class="sk-rect sk-rect2"></div>
			                <div class="sk-rect sk-rect3"></div>
			                <div class="sk-rect sk-rect4"></div>
			                <div class="sk-rect sk-rect5"></div>
			             </div>
			        </button>
		        </div>
	  		</div>
			
		</form>

	</template>

	<script>
		
		export default {
			data() {
				return {
					loading: false,
					middlemen: [],
					visaclient: [],
					addNewAgentForm: {
						agent: null,
						middleman: null
					},
					translation:null
				}
			},
			methods: {
				getTranslation() {
			    axios.get('/visa/agents/translation')
			        .then(response => {
			          	this.translation = response.data.translation;
			        });
				},
				getMiddlemen(q) {
					axios.get('/visa/agents/get-middlemen', {
						 	params: {
						 		q: q
						 	}
						})
						.then(response => {
							this.middlemen = response.data;
							setTimeout(() => {
								this.addNewAgentForm.middleman = null;

								$("#add-new-agent-modal .chosen-select-for-middleman").val(null).trigger('chosen:updated');
							}, 1000);
						});
				},

				getNotAgent(q){
					axios.get('/visa/agents/get-middlemen', {
					 	params: {
					 		q: q
					 	}
					})
					.then(response => {
					
						this.visaclient = response.data;

						setTimeout(() => {
							this.addNewAgentForm.agent = null;

							$("#add-new-agent-modal .chosen-select-for-agent").val(null).trigger('chosen:updated');
						}, 1000);
					});
				},

				resetAddNewAgentForm() {
					this.addNewAgentForm = {
						agent: null,
						middleman: null
					};


				},

				addNewAgent() {
					this.loading = true;

					axios.post('/visa/agents', this.addNewAgentForm)
						.then(response => {
							let { status } = response.data;

					    	if(status == 'Failed') {
					    		let { errors } = response.data;
					    		
								if(typeof errors == 'string') {
								  toastr.error(errors);
								}else{
									for(let key in errors)
					    			if(errors.hasOwnProperty(key)) toastr.error(errors[key][0])
								}
								$("#add-new-agent-modal .chosen-select-for-middleman").val(null).trigger('chosen:updated');
					    		$("#add-new-agent-modal .chosen-select-for-agent").val(null).trigger('chosen:updated');
					    		this.resetAddNewAgentForm();

					    	} else if(status == 'Success') {
					    		let { message } = response.data;
					    		$("#add-new-agent-modal .chosen-select-for-middleman").val(null).trigger('chosen:updated');
					    		$("#add-new-agent-modal .chosen-select-for-agent").val(null).trigger('chosen:updated');

					    		this.resetAddNewAgentForm();


					    		this.$parent.$parent.getAgents();

					    		$('#add-new-agent-modal').modal('hide');

					    		toastr.success(message);
					    	}

					    	this.loading = false;
					  	});
				},
			},

			mounted() {

				$('#add-new-agent-modal').on('hidden.bs.modal', function () {
					$("#add-new-agent-modal .chosen-select-for-middleman").val(null).trigger('chosen:updated');
					$("#add-new-agent-modal .chosen-select-for-agent").val(null).trigger('chosen:updated');
					$('#agent-search').val('');
					$('#midman-search').val('');
				})
				//middleman
				$('#add-new-agent-modal .chosen-select-for-middleman').chosen({
					width: "100%",
					no_results_text: "Searching Agent ID/Name : ",
					max_selected_options: 1
				});

				$('#add-new-agent-modal .chosen-select-for-middleman').next().addClass('chosen-select-for-middleman');
				$('#add-new-agent-modal .chosen-select-for-middleman').on('change', () => {
					let middleman = $('#add-new-agent-modal .chosen-select-for-middleman').val()[0];

					this.addNewAgentForm.middleman = (middleman) ? middleman : null;
				});



				$('body').on('keydown', '#add-new-agent-modal .chosen-container.chosen-select-for-middleman input[type=text]', (e) => {
					let q = $('#add-new-agent-modal .chosen-container.chosen-select-for-middleman input[type=text]').val();
						if(e.keyCode == 13)
					    {
					        this.getMiddlemen(q);
					        e.stopPropagation();
					    }
		                   
		                
		
				});

				//agents
				$('#add-new-agent-modal .chosen-select-for-agent').chosen({
					width: "100%",
					no_results_text: "Searching User ID/Name : ",
					max_selected_options: 1
				});
				$('#add-new-agent-modal .chosen-select-for-agent').next().addClass('chosen-select-for-agent');
				$('#add-new-agent-modal .chosen-select-for-agent').on('change', () => {
					let agent = $('#add-new-agent-modal .chosen-select-for-agent').val()[0];

					this.addNewAgentForm.agent = (agent) ? agent : null;
				});

				$('body').on('keydown', '#add-new-agent-modal .chosen-container.chosen-select-for-agent input[type=text]', (e) => {
					let q = $('#add-new-agent-modal .chosen-container.chosen-select-for-agent input[type=text]').val();
						if(e.keyCode == 13)
					    {
					        this.getNotAgent(q);
					        e.stopPropagation();
					    }
	
				});


				//sample]
				var vm = this;
				  $('#agent-search.typeahead').typeahead({
					    minLength: 2,
					    fitToElement: true,
					    matcher: function(item) {
					      return true;
					    },
						 updater:function (item) {
						 	vm.addNewAgentForm.agent = item.id;
						 	vm.visaclient = [];
					     	return item;
					    }
				    }).on('keyup', function(e) {
			          	if(e.keyCode == 13) {
			          	  e.preventDefault();
					      let q = $('#agent-search.typeahead').val();
					      $.get('/visa/agents/get-middlemen', { q: q }, function (data) {
					          data = $.parseJSON(data);
					          $('#agent-search.typeahead').data('typeahead').source = data;
					          $('#agent-search.typeahead').typeahead('lookup').focus();
					      });
					    } else {
					        $('#agent-search.typeahead').data('typeahead').source = data;
					        $('#agent-search.typeahead').typeahead('lookup').focus();
					    }
				    });
				     
				    

				    $('#midman-search.typeahead').typeahead({
					    minLength: 2,
					    fitToElement: true,
					    matcher: function(item) {
					      return true;
					    },
						 updater:function (item) {
						 	vm.addNewAgentForm.middleman = item.id;
						 	vm.middlemen = [];
					     	return item;
					    }
				    }).on('keyup', function(e) {
				    	if(e.keyCode == 13) {
				    		e.preventDefault();
				    		let q = $('#midman-search.typeahead').val();
					        $.get('/visa/agents/get-middlemen', { q: q }, function (data) {
					          data = $.parseJSON(data);
					          $('#midman-search.typeahead').data('typeahead').source = data;
					          $('#midman-search.typeahead').typeahead('lookup').focus();
					          
					        });
				    	}else{
				    	  $('#midman-search.typeahead').data('typeahead').source = data;
				          $('#midman-search.typeahead').typeahead('lookup').focus();
				    	}
				    });

			},	
			created(){
				this.getTranslation();
			}
		}

	</script>

	<style scoped>
		div.sk-rect {
			background-color: #ffffff;
		}
	</style>