<template>
	
	<form class="form-horizontal" @submit.prevent="editAgent">

		<div class="form-group">
    		<label class="col-sm-2 control-label">{{(translation) ? translation['name'] : 'Name'}}</label>
    		<div class="col-sm-10">
      			<input type="text" class="form-control" id="name" name="name":placeholder="(translation) ? translation['name'] : 'Enter Name'" autocomplete="off" v-model="editAgentForm.name">
    		</div>
  		</div>

  		<div class="form-group">
    		<label class="col-sm-2 control-label">{{(translation) ? translation['address'] : 'Address'}}</label>
    		<div class="col-sm-10">
      			<input type="text" class="form-control" id="address" name="address" :placeholder="(translation) ? translation['enter-add'] : 'Enter Address'" autocomplete="off" v-model="editAgentForm.address">
    		</div>
  		</div>

  		<div class="form-group">
    		<label class="col-sm-2 control-label">{{(translation) ? translation['cont-no'] : 'Contact Number'}}</label>
    		<div class="col-sm-10">
      			<input type="text" class="form-control" id="contact_number" name="contact_number" :placeholder="(translation) ? translation['enter-cont-no'] : 'Enter Contact Number'" autocomplete="off" v-model="editAgentForm.contact_number">
    		</div>
  		</div>

  		<div class="form-group">
    		<label class="col-sm-2 control-label">{{(translation) ? translation['alt-cont-no'] : 'Alternate Contact Number'}}</label>
    		<div class="col-sm-10">
      			<input type="text" class="form-control" id="alternate_contact_number" name="alternate_contact_number" :placeholder="(translation) ? translation['enter-alt-cont-no'] : 'Enter Alternate Contact Number'" autocomplete="off" v-model="editAgentForm.alternate_contact_number">
    		</div>
  		</div>

  		<div class="form-group">
    		<label class="col-sm-2 control-label">{{(translation) ? translation['email'] : 'Email'}}</label>
    		<div class="col-sm-10">
      			<input type="text" class="form-control" id="email" name="email" :placeholder="(translation) ? translation['enter-email'] : 'Enter Email'" autocomplete="off" v-model="editAgentForm.email">
    		</div>
  		</div>

  		<div class="form-group">
    		<label class="col-sm-2 control-label">{{(translation) ? translation['agent'] : 'Agent'}}</label>
    		<div class="col-sm-10">
      			<select :data-placeholder="(translation) ? translation['select-midman'] : 'Select Middleman'" class="chosen-select-for-middleman" multiple="false">
		            <option v-for="m in middlemen" :value="m.id">
		               	{{ m.name }}
		            </option>
		        </select>
    		</div>
  		</div>

  		<div class="form-group">
  			<div class="col-sm-12">
	  			<button v-if="!loading" type="submit" class="btn btn-primary pull-right">
	                <strong>{{(translation) ? translation['save'] : 'Save'}}</strong>
	            </button>

	            <button v-else type="button" class="btn btn-primary pull-right">
		            <div class="sk-spinner sk-spinner-wave" style="width:40px; height:20px;">
		                <div class="sk-rect sk-rect1"></div>
		                <div class="sk-rect sk-rect2"></div>
		                <div class="sk-rect sk-rect3"></div>
		                <div class="sk-rect sk-rect4"></div>
		                <div class="sk-rect sk-rect5"></div>
		             </div>
		        </button>
	        </div>
  		</div>
		
	</form>

</template>

<script>
	export default {
		data() {
			return {
				loading: false,

				middlemen: [],

				editAgentForm: {
					id: '',
					name: '',
					address: '',
					contact_number: '',
					alternate_contact_number: '',
					email: '',
					middleman: null
				},
				translation:null
			}
		},

		methods: {
			getTranslation() {
		    axios.get('/visa/agents/translation')
		        .then(response => {
		          	this.translation = response.data.translation;
		        });
			},

			initMiddlemen(middlemen) {
				this.middlemen = middlemen;

				setTimeout(() => {
			        $("#edit-agent-modal .chosen-select-for-middleman").trigger("chosen:updated");
			    }, 1000);
			},

			getMiddlemen(q) {
				axios.get('/visa/agents/get-middlemen', {
					 	params: {
					 		q: q
					 	}
					})
					.then(response => {
						this.middlemen = response.data;

						setTimeout(() => {
							this.editAgentForm.middleman = null;

							$("#edit-agent-modal .chosen-select-for-middleman").val(null).trigger("chosen:updated");
						}, 1000);
					});
			},

			setAgent(agent) {
				this.editAgentForm = {
					id: agent.id,
					name: agent.first_name,
					address: agent.address,
					contact_number: agent.contact_number,
					alternate_contact_number: agent.alternate_contact_number,
					email: agent.email,
					middleman: agent.middleman
				};

				$('#edit-agent-modal .chosen-select-for-middleman').val(agent.middleman).trigger('chosen:updated');
			},

			editAgent() {
				this.loading = true;

				axios.patch('/visa/agents/' + this.editAgentForm.id, this.editAgentForm)
					.then(response => {
						let { status } = response.data;

				    	if(status == 'Failed') {
				    		let { errors } = response.data;

				    		for(let key in errors)
				    			if(errors.hasOwnProperty(key)) toastr.error(errors[key][0])

				    	} else if(status == 'Success') {
				    		let { message } = response.data;

				    		this.$parent.$parent.getAgent();
				    		this.$parent.$parent.getMiddleMan();

				    		$('#edit-agent-modal').modal('hide');

				    		toastr.success(message);
				    	}

				    	this.loading = false;
				  	});
			}
		},

		mounted() {
			$('#edit-agent-modal .chosen-select-for-middleman').chosen({
				width: "100%",
				no_results_text: "Searching Middleman ID/Name : "
			});

			$('#edit-agent-modal .chosen-select-for-middleman').on('change', () => {
				let middleman = $('#edit-agent-modal .chosen-select-for-middleman').val()[0];

				this.editAgentForm.middleman = (middleman) ? middleman : null;
			});

			$('body').on('keyup', '#edit-agent-modal .chosen-container input[type=text]', (e) => {
				let q = $('#edit-agent-modal .chosen-container input[type=text]').val();

				if( q.length >= 4 ) {
					this.getMiddlemen(q);
				}
			});
		},

		created(){
			this.getTranslation();
		}
	}
</script>

<style scoped>
	div.sk-rect {
		background-color: #ffffff;
	}
</style>