<template>
    <div class="item item-fix-width">
            <span style="position: absolute; top: 10px; right: 15px; "><a style="color: #FFF; font-weight:  600" :href="'/visa/agents/'+ a.id" target="_blank">{{(translation) ? translation['view'] : 'View'}}</a></span>
        <a href="javascript:void(0)" class="item-clickable" @click="showReferrals()">
            <div class="info-box bg-green">
            <div class="arrow-package">{{a.ref}} {{(translation) ? translation['ref'] : 'Referrals'}} </div>
          <!--   <span class="info-box-icon newbox"><i class="fa fa-dropbox box-position"></i></span> -->
                <div class="custom info-box-content">
                    <span class="info-box-text"></span>
                    <br>
                    <span class="info-box-number">{{a.first_name}}</span>
                    <span class="progress-description">{{(translation) ? translation['cashflow'] : 'Cashflow'}}: {{a.cashflow}}</span>
                </div>
            </div>
        </a>
    </div>
</template>

<script>
export default {
    props: ['a'],
    data() {
        return {
            translation: null,               
        }
    },
    methods:{
       showReferrals() {
            this.$parent.$refs.middlemanreferredclients.getReferredClients(this.a.id);
       },
       getTranslation() {
            axios.get('/visa/agents/translation')
                .then(response => {
                    this.translation = response.data.translation;
                });
        },
    },
    created(){
        this.getTranslation();
    }
}
</script>