<template>
	<tr>
        <td>{{refer.client_id}}</td>
        <td><a :href='"/visa/client/" +refer.client_id'>{{refer.user.full_name}}</a></td>
        <td>{{refer.cashflow.total}}</td>
        <td>{{refer.cashflow.points}}</td>
    </tr>
</template>

<script>
export default {
	props: ['refer']
}
</script>