<template>
	
	<table class="table table-bordered table-striped table-hover referred-clients">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="text-center">{{(translation) ? translation['id'] : 'ID'}}</th>
                <th>{{(translation) ? translation['name'] : 'Name'}}</th>
                <th class="text-center">{{(translation) ? translation['total-cost'] : 'Tota; Cost'}}</th>
                <th class="text-center">{{(translation) ? translation['points-earned'] : 'Points Earned'}}</th>
            </tr>
        </thead>
    </table>

</template>

<script>
	
	export default {

		data() {
			return {
				referredClients: [],
				translation: null
			}
		},

		methods: {
			getAgentsId() {
				return window.Laravel.data.agents.map(agent => agent.id);
			},

			format(services) {
				let table = 
					'<table class="table table-bordered table-striped table-hover">'+
						'<thead>'+
		                    '<tr>'+
			                    '<th class="text-center">'+this.translation['date']+'</th>'+
			                    '<th class="text-center">'+this.translation['detail']+'</th>'+
			                    '<th class="text-center">'+this.translation['charge']+'</th>'+
			                    '<th class="text-center">'+this.translation['disc']+'</th>'+
			                    '<th class="text-center">'+this.translation['status']+'<</th>'+
			                    '<th class="text-center">'+this.translation['tracking']+'<</th>'+
		                    '</tr>'+
		                '</thead>'+
		                '<tbody>';

		                for(var i=0; i<services.length; i++) {
		                    let className = (services[i].active == 0) ? 'strikethrough' : '';

		                    if(services[i].remarks) {
		                       	var remarks = services[i].remarks;
		                        var details = '<a href="#" data-toggle="popover" data-placement="right" data-container="body" data-content="'+remarks+'" data-trigger="hover">'+services[i].detail+'</a>';
		                    } else {
		                        var details = services[i].detail;
		                    }

		                    let charge = parseFloat(services[i].cost) + parseFloat(services[i].charge) + parseFloat(services[i].tip);

		                	table += '<tr class="'+className+'">';
		                       	table += '<td class="text-center">' + services[i].service_date + '</td>';
		                        table += '<td class="text-center">' + details + '</td>';
		                   		table += '<td class="text-center">' + charge + '</td>';
		                  		table += '<td class="text-center">' + services[i].discount_amount + '</td>';
		                        table += '<td class="text-center">' + services[i].status + '</td>';
		                        table += '<td class="text-center">' + services[i].tracking + '</td>';
		                    table += '</tr>';
		                }

		        table += '</tbody></table>';

		        return table;
			},

			setPrimaryRow(data) {
				var vm = this;

				var table = $('table.referred-clients').DataTable( {
					"data": data,
					"columns": [
						{
						    "width": "10%",
						    "className":      'details-control text-center',
						    "orderable":      false,
						    "data":           null,
						    "defaultContent": '<i class="fa fa-arrow-right" style="cursor:pointer;"></i>'
						},
						{ 
						    "width": "20%",
						    data: null, render: function(data, type, row) {
							    return data.id;
						    }, className: 'text-center'
						},
						{
						    "width": "30%",
							data: null, render: function(data, type, row) {
							    return '<a href="/visa/client/' + data.id + '" target="_blank">' + data.full_name + '</a>';
							}
						},
						{
						    "width": "20%",
							data: null, render: function(data, type, row) {
							    return data.total_cost;
							}, className: 'text-center'
						},
						{
						    "width": "20%",
							data: null, render: function(data, type, row) {
							    return data.points_earned;
							}, className: 'text-center'
						}
					]
				});

				$('body').off('click', 'table.referred-clients tbody td.details-control');
				
				setTimeout(function() {
					$('body').on('click', 'table.referred-clients tbody td.details-control', function (e) {
						var tr = $(this).closest('tr');
						var row = table.row(tr);

						if(row.child.isShown()) {
							row.child.hide();
							tr.removeClass('shown');
						} else {
							row.child(vm.format(row.data().services)).show();
							tr.addClass('shown');
						}
					});
				}.bind(this), 500);
			},

			getReferredClients(agentId) {
				let _agentsId = (agentId) ? [agentId] : this.getAgentsId();

				axios.get('/visa/agents/get-reffered-clients-via-middleman', {
				    	params: {
				      		agentsId: _agentsId
				    	}
				  	})
					.then(response => {
						this.referredClients = response.data;

						$('table.referred-clients').DataTable().destroy();

				    	setTimeout(() => {
				    		this.setPrimaryRow(this.referredClients);
				    	}, 1000);
					});
			},
			getTranslation() {
	            axios.get('/visa/agents/translation')
	                .then(response => {
	                    this.translation = response.data.translation;
	                });
        	},
		},

		created() {
			this.getReferredClients();
			this.getTranslation();
		}

	}

</script>