<template>
	
	<table class="table table-bordered table-striped table-hover referred-clients">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="text-center">{{(translation) ? translation['id'] : 'ID'}}</th>
                <th>{{(translation) ? translation['name'] : 'Name'}}</th>
                <th class="text-center">{{(translation) ? translation['total-cost'] : 'Total Cost'}}</th>
                <th class="text-center">{{(translation) ? translation['shop-points-earned'] : 'Shop Points Earned'}}</th>
                <th class="text-center">{{(translation) ? translation['agent-points-earned'] : 'Agent Points Earned'}}</th>
                <th class="text-center">{{(translation) ? translation['client-points-earned'] : 'Client Points Earned'}}</th>
            </tr>
        </thead>
    </table>

</template>

<script>
	
	export default {

		data() {
			return {
				referredClients: [],
				translation: null
			}
		},

		methods: {
			getTranslation() {
		    axios.get('/visa/agents/translation')
		        .then(response => {
		          	this.translation = response.data.translation;
		        });
			},

			getAgentId() {
				let pathArray = window.location.pathname.split( '/' );
				return pathArray[3];
			},

			format(services) {
				let table = 
					'<table class="table table-bordered table-striped table-hover">'+
						'<thead>'+
		                    '<tr>'+
			                    '<th class="text-center">'+this.translation['date']+'</th>'+
			                    '<th class="text-center">'+this.translation['detail']+'</th>'+
			                    '<th class="text-center">'+this.translation['charge']+'</th>'+
			                    '<th class="text-center">'+this.translation['shop-points-earned']+'</th>'+
			                    '<th class="text-center">'+this.translation['agent-points-earned']+'</th>'+
			                    '<th class="text-center">'+this.translation['client-points-earned']+'</th>'+
		                    '</tr>'+
		                '</thead>'+
		                '<tbody>';

		                for(var i=0; i<services.length; i++) {
		                    let className = (services[i].active == 0) ? 'strikethrough' : '';

		                    if(services[i].remarks) {
		                       	var remarks = services[i].remarks;
		                        var details = '<a href="#" data-toggle="popover" data-placement="right" data-container="body" data-content="'+remarks+'" data-trigger="hover">'+services[i].detail+'</a>';
		                    } else {
		                        var details = services[i].detail;
		                    }

		                    let charge = parseFloat(services[i].cost) + parseFloat(services[i].charge) + parseFloat(services[i].tip);

		                	table += '<tr class="'+className+'">';
		                       	table += '<td class="text-center">' + services[i].service_date + '</td>';
		                        table += '<td class="text-center">' + details + '</td>';
		                   		table += '<td class="text-center">' + charge + '</td>';
		                  		table += '<td class="text-center">' + services[i].com_agent + '</td>';
		                        table += '<td class="text-center">' + services[i].com_middleman + '</td>';
		                        table += '<td class="text-center">' + services[i].com_client + '</td>';
		                    table += '</tr>';
		                }

		        table += '</tbody></table>';
		        return table;
			},

			setPrimaryRow(data) {
				var vm = this;

				var table = $('table.referred-clients').DataTable( {
					"data": data,
					"columns": [
						{
						    "width": "5%",
						    "className":      'details-control text-center',
						    "orderable":      false,
						    "data":           null,
						    "defaultContent": '<i class="fa fa-arrow-right" style="cursor:pointer;"></i>'
						},
						{ 
						    "width": "5%",
						    data: null, render: function(data, type, row) {
							    return data.id;
						    }, className: 'text-center'
						},
						{
						    "width": "30%",
							data: null, render: function(data, type, row) {
							    return '<a href="/visa/client/' + data.id + '" target="_blank">' + data.full_name + '</a>';
							}
						},
						{
						    "width": "15%",
							data: null, render: function(data, type, row) {
							    return data.total_cost;
							}, className: 'text-center'
						},
						{
						  	"width": "15%",
							data: null, render: function(data, type, row) {
							    return data.shop_points_earned;
							}, className: 'text-center'
						},
						{
						    "width": "15%",
							data: null, render: function(data, type, row) {
							    return data.agent_points_earned;
							}, className: 'text-center'
						},
						{
						    "width": "15%",
							data: null, render: function(data, type, row) {
							    return data.points_earned;
							}, className: 'text-center'
						}
					]
				});

				$('body').off('click', 'table.referred-clients tbody td.details-control');
				
				setTimeout(function() {
					//$('table.referred-clients tbody td.details-control').closest('tr').css("height","20");
					$('body').on('click', 'table.referred-clients tbody td.details-control', function (e) {
						var tr = $(this).closest('tr');
						var row = table.row(tr);
						

						if(row.child.isShown()) {
							row.child.hide();
							
							tr.removeClass('shown');
							// tr.css("height","20");
						} else {
							row.child(vm.format(row.data().services)).show();
							tr.addClass('shown');
							// tr.closest('tr').next('tr').css("height","30");
							//tr.css("height","20");
						} 
					});
				}.bind(this), 500);
			},

			getReferredClients() {
				axios.get('/visa/agents/' + this.getAgentId() + '/get-reffered-clients')
					.then(response => {
						this.referredClients = response.data;

						$('table.referred-clients').DataTable().destroy();

				    	setTimeout(() => {
				    		this.setPrimaryRow(this.referredClients);
				    		// $('tr').css('height','40px');
				    		
				    		$("#DataTables_Table_0_info").closest('div.row').addClass('custom-tbl-footer');
				    	}, 1000);
					});
			}
		},
		created() {
			this.getReferredClients();
			this.getTranslation();
		}

	}

</script>