// -----------------------------------------------------------------------------
// This file contains all styles related to the panel component.
// -----------------------------------------------------------------------------

.panel-float {
    display: none;
    position: absolute;
    top: 140%;
    left: 0;
    margin: 0;
    width: 300px;
    z-index: 1000;
    text-align: left;

    .panel-body {
        padding: 10px !important;
    }
}
