<template>
	<tr @click="openModal(item.id)">
		<td>{{item.awb_id}}</td>
		<td>
			<ul type="none">
			  <li v-for="(tn,index) in item.details">
			  	<span v-if="index == item.details.length - 1">
			    {{ tn.order_id }}
			    </span>
			  </li>
			</ul>
		</td>
		<td>{{item.total_price}}</td>
		<td>{{item.wataf_cost}}</td>
		<td>{{item.twogo_cost}}</td>
		<td>{{(item.wataf_cost - item.twogo_cost).toFixed(2)}}</td>

	</tr>
</template>

<script>
	export default{
		props: ['item'],
		methods:{
			openModal(id){
				//$('.ibox').children('.ibox-content').toggleClass('sk-loading');
				axios.get('getOrderWithDetails/'+id)
				.then(result =>{
					this.$parent.selected = result.data;
					$("#shipdetails").modal('toggle');
					this.$parent.totalShippingFee;
				});	
			}
		}
	}
</script>