<template>
	<tr>
		<td><img class="img-thumbnail img-responsive" :src="item.image"></td>
		<td>{{item.tracking_number}}</td>
		<td>{{item.product.name}}</td>
		<td>
			<span class="label label-info" v-if="item.status == 'Pending'">{{item.status}}</span>
            <span class="label label-primary" v-if="item.status == 'In Transit'">{{item.status}}</span>
            <span class="label label-success" v-if="item.status == 'Delivered' || item.status == 'Received'">{{item.status}}</span>
            <span class="label label-warning" v-if="item.status == 'Returned'">{{item.status}}</span>
            <span class="label label-danger" v-if="item.status == 'Cancelled'">{{item.status}}</span>
		</td>
		<td>
			<p>Color: 
				<span v-if="item.color !=''">
					{{item.color}}
				</span>
				<span v-if="item.color ==''">
					N/A
				</span>
			</p>
			
			<p>Size: 
				<span v-if="item.size !=''">
					{{item.size}}
				</span>
				<span v-if="item.size ==''">
					N/A
				</span>
			</p>

			<p>Weight: 
				<span>
					{{item.product.weight}}
				</span>
				
			</p>
		</td>
		<td>{{item.quantity}}</td>
		<td>{{unit_price | currency}}</td>
	</tr>
</template>

<script>
	export default{
		props: ['item'],
		computed:{
			unit_price(){
				//compute for unit price per order detail
				var $up 	= 0;
				var $len 	= this.item.length;
				var $dt 	= this.item;
				var $ppi 	= $dt.price_per_item;
				var $sf		= $dt.shipping_fee;
				var $chrg 	= $dt.charge;
				var $vat 	= $dt.vat;
				var $sp 	= $dt.sale_price;
				var $qty 	= $dt.quantity;

					if($sp == 0){
						$up = ((parseFloat($ppi)+parseFloat($sf)+parseFloat($chrg)+parseFloat($vat))* $qty);
					}else{
						$up = ((parseFloat($sp)+parseFloat($sf)+parseFloat($chrg)+parseFloat($vat))* $qty);
					}
				return $up;
			},
		}
	}
</script>