#dashboard {

	  .small-box{
	    margin:unset !important;
	    border-radius: 2px;
	    position: relative;
	    display: block;
	    margin-bottom: 20px;
	    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

	  .inner {
				padding-top:10px;
				min-height: 100px;
    		text-align: center;
		}

		h3 {
		    font-size: 38px;
		    font-weight: bold;
		    white-space: nowrap;
				text-align: center;
				margin-bottom:5px !important;
				margin-top:5px !important;
		}

	  h5{
			  margin:0 !important;
				padding:0 !important;
		}

		h6 {
			  margin:0 !important;
				padding-top:5px !important;
		}


		.small-box-footer {
		    position: relative;
		    text-align: center;
		    padding: 3px 0;
		    color: #fff;
		    color: rgba(255,255,255,0.8);
		    display: block;
		    z-index: 10;
		    background: rgba(0,0,0,0.1);
		    text-decoration: none;
		}

	}
	.rem-padding{
	    padding: unset !important;
			float:none;
			display: inline-block;
	}

	.margined{
	    margin:0px 20px 20px 20px;
	}

	.bordered{
	    margin: 10px 10px 10px 10px;
	}

	.dash-number{
	    font-size: 45px;
	    font-weight: 600;
	    margin: 20px 0px 20px 40px;
	}

	.bg-g{
	    background-color: #ffffff !important;
	}

	.bgc-1{
	    color: #3c8dbc !important;
			padding-top:20px;
	}

	.bgc-1-1{
	    background-color: #3c8dbc !important;
	}

	.bgc-2{
	    color: #fb5d48 !important;
			padding-top:20px;
	}

	.bgc-2-2{
	    background-color: #fb5d48 !important;
	}

	.bgc-3{
	    color: #4bbe56 !important;
	}

	.bgc-3-3{
	    background-color: #4bbe56 !important;
	}

	.bgc-4{
	    color: #d64b79 !important;
	}

	.bgc-4-4{
	    background-color: #d64b79 !important;
	}

	.bgc-5{
	    color: #37b69a !important;
	}

	.bgc-5-5{
	    background-color: #37b69a !important;
	}

	.dash-box h6{
	    margin-left: 4px;
	    font-size: 12px;
	}

	.dash-box a{
	   color: #7a7a7a;
	}

	.dash-box a:hover{
	    color: #dc3522;
	    text-decoration: underline;
	}

	.dash-box h5{
	    font-weight: bold;
	    font-size: 16px;
	}

	.dash-box span{
	    font-weight: bold;
	    font-size: 12px;
	    color: #cacbcc;
	}

	.dash-box i {

	    font-size: 1.2em;
	}

	.dash-icon{
	 	color:#2096a4;
	}

	.center-box{
		text-align: center;
	}

	.column {
    float: left;
    width: 33.33%;
  }

	.row:after {
		  content: "";
		  display: table;
		  clear: both;
  }

	.remarks{
		white-space: normal
	}

	.amount-footer{
		padding:0 0 10px 0;
	}

}

@media screen and (max-width: 767px) {
    #dashboard .small-box .inner h3{
        text-align: center;
        margin: 0;
    }
		#dashboard .rem-padding{
				display: block;
		}
}
