<template>
<li class="list-group-item">
    <div class="row">
        <div class="col-xs-12 user-chat me">
            <div class="row">
                <div class="col-xs-12">
                    <div class="user-message">{{ message.body }}</div>
                </div>
            </div>
        </div>
    </div>
</li>
</template>

<script>
export default {
    props: ['message']
}
</script>
