<template>
<li class="list-group-item">
    <div class="row">
        <div class="col-xs-1 user-avatar">
            <img :src="avatar" class="img-circle">
        </div>
        <div class="col-xs-11 user-chat">
            <div class="row">
                <div class="col-xs-12">
                    <div class="user-message">{{ message.body }}</div>
                </div>
            </div>
        </div>
    </div>
</li>
</template>

<script>
export default {
    props: ['message'],

    computed: {
        avatar() {
            return this.message.user.avatar;
        }
    }
}
</script>
