<!-- chat convo for issue related -->

<template>
<div v-if="chatRoom" class="panel panel-chat-box">
    <div class="panel-heading">
        {{ chatRoomName }}
    </div>
    <div class="chat-box">
        <div class="panel-body">
            <infinite-loading :on-infinite="onInfinite" ref="infiniteLoading" direction="top" :distance="0">
                <span slot="no-more"></span>
                <span slot="no-results"></span>
            </infinite-loading>
            <ul>
                <li v-for="message,key in messages" :class="{ me: isMe(message) }">
                    <div class="row" >
                        <div class="col-xs-1 user-avatar" v-if="!isMe(message)" style="padding-right:0px;">
                            <img :src="message.user.avatar" class="img-circle userAvatar" data-toggle="tooltip" data-placement="right" :title="message.user.full_name" >
                        </div>
                        <div class="col-xs-11" v-if="!isMe(message)" style="padding-left:0px;margin-left:-10px;">
                            <span class="username" v-if="message.user.nick_name!==null">{{ message.user.nick_name }}</span>
                            <span class="username" v-else>{{ message.user.first_name }}</span>
                            <br>
                            <div class="message">{{ message.body }}</div>
                        </div>
                        <div class="col-xs-12" v-else style="padding-left:0px;">
                            <div class="message">{{ message.body }}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-11">
                    <textarea v-if="chatRoom.is_active" v-model="newMessage" @keydown.ctrl.enter.prevent="send" placeholder="Write something..."></textarea>
                    <textarea v-else disabled>This issue is already closed</textarea>
                    <div class="enter-send">
                        <label>
                            <input type="checkbox" id="enter_enabled" v-model="enterEnabled"> Press enter to send the message
                        </label>
                    </div>
                </div>
                <div class="col-xs-1 btn-send-container">
                    <a @click="send" href="javascript:void(0)" class="btn-send">
                        <i class="fa fa-send"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'

let settings = window.Laravel.user.settings ? window.Laravel.user.settings.settings : {};

export default {
    data() {
        return {
            chatRoom: null,
            messages: [],
            newMessage: null,
            newMessage2: null,
            currentPage: 0,
            enterEnabled: settings ? !! settings.message_enter_enabled : false,
            $chatBox: null,
            $conversation: null,
        }
    },

    watch: {
        $route(to, from) {
            Event.unlisten('chat-room-' + this.chatRoom ? this.chatRoom.id : null);

            this.chatRoom = null;
            this.messages = [];
            this.newMessage = null;
            this.currentPage = 0;
            this.$chatBox = null;
            this.$conversation = null;

            this.getChatRoom();
        }
    },

    methods: {
        onInfinite() {
            this.getMessages();
            $('[data-toggle="tooltip"]').tooltip();

        },

        getChatRoom() {
            axiosAPIv1.get('/chat-rooms/' + this.$route.params.id)
                .then(result => {
                    this.chatRoom = result.data;

                    setTimeout(function () {
                        var $el = $(this.$el);

                        this.$chatBox = $el.find('.chat-box');
                        this.$conversation = $el.find('.panel-body');
                        this.$conversation.perfectScrollbar();
                    }.bind(this), 1);

                    this.markAllAsRead();

                    this.listen();

                    Event.fire('chat-room.selected', result.data);

                    this.getMessages2();                   
                });
        },

        getMessages() {
            var prevScrollHeight = this.$conversation.prop('scrollHeight');
            return axiosAPIv1.get('/messages/chat-room/' + this.chatRoom.id, {
                params: {
                    page: ++this.currentPage,
                    limit: 999
                }
            }).then(result => {
                var data = result.data.data;

                if (data && data.length) {
                    data.sort((a, b) => {
                        return a.id - b.id;
                    });

                    this.messages = data.concat(this.messages);
                    this.currentPage = result.data.current_page;

                    setTimeout(function () {
                        if (this.currentPage === 1) {
                            this.$conversation.scrollTop(this.$conversation.prop('scrollHeight'));
                        } else {
                            this.$conversation.scrollTop(this.$conversation.prop('scrollHeight') - prevScrollHeight);
                        }

                        this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
                    }.bind(this), 1);
                } else {
                    this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
                }
            });
        },

        getMessages2() {
            
            return axiosAPIv1.get('/messages/chat-room/' + this.chatRoom.id, {
                params: {
                    page: ++this.currentPage,
                    limit: 999
                }
            }).then(result => {
                var data = result.data.data;

                if (data && data.length) {
                    data.sort((a, b) => {
                        return a.id - b.id;
                    });

                    this.messages = data.concat(this.messages);
                    this.currentPage = result.data.current_page;

                    setTimeout(function () {
                        if (this.currentPage === 1) {
                            this.$conversation.scrollTop(this.$conversation.prop('scrollHeight'));
                        } else {
                            this.$conversation.scrollTop(this.$conversation.prop('scrollHeight') - prevScrollHeight);
                        }

                        this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
                    }.bind(this), 1);
                } else {
                    this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
                }
            });
        },

        markAllAsRead() {
            return axiosAPIv1.post('/messages/mark-all-as-read', {
                to_chat_room: this.chatRoom.id
            }).then(result => {
                Event.fire('chat-box.marked-as-read');
            });
        },

        send(e) {
            if (((e.keyCode === 13) && ! this.enterEnabled) || ! this.newMessage) {
                return;
            }

            if ((e.keyCode === 13) && this.enterEnabled) {
                e.preventDefault();
            }

            this.messages.push({
                user_id: window.Laravel.user.id,
                body: this.newMessage
            });

            setTimeout(function () {
                this.$conversation.scrollTop(this.$conversation.prop('scrollHeight'));

                this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
            }.bind(this), 1);

            axiosAPIv1.post('/messages', {
                to_chat_room: this.chatRoom.id,
                body: this.newMessage
            }).then(result => Event.fire('chat-box.send'));

            this.newMessage = null;
        },

        close() {
            Event.fire('chat-box.close', this.chatRoom);
        },

        isMe(message) {
            return window.Laravel.user.id == message.user_id;
        },

        scrollToBottom() {
            setTimeout(function () {
                this.$conversation.scrollTop(this.$conversation.prop('scrollHeight'));
            }.bind(this), 1);
        },

        listen() {
            Event.listen('chat-room-' + this.chatRoom.id, function (message) {
                if (message.chat_room_id == this.chatRoom.id) {

                    axiosAPIv1.get('/users/' + message.user_id).then(result => {
                        this.newMessage2 = {"body": message.body,
                                            "user": {"avatar": result.data.avatar, 
                                                     "full_name": result.data.full_name,
                                                     "nick_name": result.data.nick_name,
                                                     "first_name": result.data.first_name}};
                        this.messages.push(this.newMessage2);
                        this.scrollToBottom();
                    });

                }
            }.bind(this));
        }
    },

    computed: {
        // avatar() {
        //     return this.message.chat_room.users[0]['avatar'];
        // },
        chatRoomName() {
            if (! this.chatRoom) {
                return '';
            }

            return this.chatRoom.name;
        }
    },

    components: {
        InfiniteLoading
    },

    created() {
        this.getChatRoom();
    }
}
</script>