<template>
<div class="list-group">
    <router-link :to="routeTo" class="list-group-item">
        <div class="row">
            <div class="col-xs-3 col-sm-2 col-md-3 user-avatar">
                <img :src="avatar" class="img-circle">
            </div>
            <div class="col-xs-9 col-sm-10 col-md-9 user-detail">
                <div class="row">
                    <div class="col-xs-12 user-fullname"><b>{{ fullName }}</b></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 user-latest-message">{{ message.body }}</div>
                </div>
            </div>
        </div>
    </router-link>
</div>
</template>

<script>
export default {
    props: ['message'],

    computed: {
        avatar() {
            return this.message.chat_room.users[0]['avatar'];
        },

        fullName() {
            if (this.message.chat_room.name) {
                return this.message.chat_room.users[0].full_name + ' - ' + this.message.chat_room.name;
            }

            return this.message.chat_room.name || this.message.chat_room.users[0]['full_name'];
        },

        routeTo() {
            if (this.message.chat_room.name) {
                return {
                    name: 'chat-room',
                    params: {
                        id: this.message.chat_room.id
                    }
                };
            }

            return {
                name: 'user',
                params: {
                    id: this.message.chat_room.users[0].id
                }
            };
        }

    }
}

            setTimeout(() => {
                $('.user-latest-messages-container').perfectScrollbar();
            }, 1);
</script>