<template>
<ul class="list-group">
    <bubble-not-me v-if="!isMe" :message="message"></bubble-not-me>
    <bubble-me v-if="isMe" :message="message"></bubble-me>
</ul>
</template>

<script>
export default {
    props: ['message'],

    computed: {
        isMe() {
            return this.message.user_id == window.Laravel.user.id;
        }
    },

    components: {
        'bubble-not-me': require('./BubbleNotMe.vue'),
        'bubble-me': require('./BubbleMe.vue')
    }
}
</script>