<template>
<div class="panel panel-default panel-float" :class="panelClass">
    <div class="panel-body">
        <div class="form-group label-placeholder">
            <label for="user-search" class="control-label">{{this.$parent.lang['search-user']}}...</label>
            <input v-model="search" @keyup="searchUser" type="text" class="form-control" id="user-search">
        </div>
        <ul class="users-container">
            <li v-for="user in users" @click="select(user)">
                <img :src="avatar(user)" class="img-circle">
                <span>{{ user.full_name }}</span>
            </li>
        </ul>
    </div>
</div>
</template>

<script>
export default {
    props: ['target', 'panelClass'],

    data() {
        return {
            targetEl: null,
            search: '',
            users: [],
            usersContainer: null,
            timeout: null
        }
    },

    watch: {
        search(val) {
            if (val != null && val.length === 0) {
                this.users = [];
            }
        },

        users(val) {
            if (val.length) {
                setTimeout(function () {
                    this.usersContainer.perfectScrollbar('update');
                }.bind(this), 1);
            }
        }
    },

    methods: {
        searchUser(e) {
            if ((((e.which <= 90) && (e.which >= 48)) || e.which === 8) && this.search && (this.search.length >= 2)) {
                clearTimeout(this.timeout);

                this.timeout = setTimeout(function () {
                    axiosAPIv1.get('/messages/users?search=' + this.search)
                        .then(result => {
                            this.users = result.data;
                        });
                }.bind(this), 200);
            }
        },

        select(user) {
            Event.fire('user-search.selected', user);

            this._reset();
        },

        avatar(user) {
            return user.avatar;
        },

        _positionEl() {
            var offset = this.targetEl.offset(),
                teWidth = this.targetEl.outerWidth(),
                teHeight = this.targetEl.outerHeight(),
                wWidth = window.innerWidth,
                position = {
                    top: offset.top + teHeight + 10,
                    left: offset.left
                };

            var $el = $(this.$el),
                $elWidth = $el.outerWidth() || $el.innerWidth();

            if ((offset.left + $elWidth) > wWidth) {
                position.left = (offset.left - $elWidth + teWidth);
            }

            $el.offset(position);
        },

        _reset() {
            var $el = $(this.$el),
                $input = $el.find('input'),
                $event = $.Event('keyup', {which: 8});

            this.search = null;
            this.users = [];

            $input.trigger($event);
            $input.blur();

            $el.hide();
        },

        _registerEventListeners() {
            $(window).resize(this._positionEl);

            Event.listen('user-search.show', () => {
                var $el = $(this.$el);

                $el.show();
                $el.find('input').focus();

                this._positionEl();
            });

            // Remove/Hide floating panels on outside click
            $(document).mouseup(function (e) {
                var $el = $(this.$el);

                // if the target of the click isn't the panel nor a descendant of the panel
                if (! $el.is(e.target) && $el.has(e.target).length === 0) {
                    this._reset();
                }
            }.bind(this));
        }
    },

    created() {
        this._registerEventListeners();
    },

    mounted() {
        this.targetEl = $(this.target);
        this.usersContainer = $('.users-container');
        this.usersContainer.perfectScrollbar();
    }
}
</script>
