#view-report-modal{
    .modal-content{
      width: 810px;
    }
}

.fff-bg{
	background-color: #FFF;
}
.control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
.scrollable-content{
            max-height: 565px;
            overflow-x: hidden;
            overflow-y: auto;
            border: 1px solid #ccc;
            padding: 10px;
        }
        .edit-input{
            border: 0px !important;
            width: 100px;
            padding-bottom: 20px;
        }
        .edit-textarea{
            border: 0px !important;
            width: 100%;
            padding-bottom: 20px;
        }
        .no-side-padding{
            padding-left:0px !important;
            padding-right:0px !important;
        }

        .no-side-margin{
            margin-left:0px !important;
            margin-right:0px !important;
        }
        .no-tb-padding{
            padding-top:0px !important;
            padding-bottom:0px !important;
        }

        .no-b-margin{
            margin-bottom:0px !important;
        }

        .sm-tb-padding{
            padding-top:2px !important;
            padding-bottom:2px !important;
        }
        .no-tb-border{
            border-top: 0px !important;
            border-bottom: 0px !important;
        }
        .details-size{
            font-size: 13px;
        }
        .totals{
            color: #1ab394;
        }

        .owl-item {
            width: auto !important;
            height: auto !important;
            padding: 10px !important;
        }

        .zoomer{
            zoom:80%;
        }

        .se-pre-con2 {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('/js/owl/loading.gif') center no-repeat #fff;
            background-position: 50% 50%;
        }

        .customNavigation {
            position: absolute;
            top: 25%;
            left: 0;
        }

        .info-box {
            display: block;
            min-height: 90px;
            /* background: #fff; */
            width: 100%;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            /*border-radius: 2px;*/
            margin-bottom: 15px;
        }

        .fa-4 {
            position: absolute;
            left: 90px;
            bottom: 42px;
            font-size: 51px;
            color: #898989;
        }

        .span12 {
            width: 940px;
            height: 120px;
            margin-left: auto;
            margin-right: auto;
        }
.bg-red { background-color: #ff7171 !important;}
.bg-yellow {background-color: #ffbc2d !important;}
.bg-aqua {background-color: #00c0ef !important;}
.bg-green {background-color: #4ec98b !important;}

.box-position {
    margin-top: 35%;
    margin-left: 15px;
    margin-right: 15px;
}

.arrow-package {
    color: #FFF;
    position: absolute;
    background-image: url(/js/owl/arrow-package.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0px 15px 0px 5px;
    margin-top: 5px;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    min-width: 35%;
}

.newbox {
    background-color: transparent !important;
}
.newbox:after {
    background-image: url(/js/owl/line.png);
    background-repeat: repeat-x;
    content: " ";
    padding: 1px;
    margin-left: 2px;
    background-position: center;
}
.info-box-icon {
    color: #FFF;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
}
.info-box-content {
    color: #FFF;
    padding: 5px 10px;
    margin-left: 90px;
}
.info-box-number {
    padding-top: 10px;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.progress-description {
    font-size: 11px !important;
}

.progress-description {
    margin: 0;
}
.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-package{
    width:100%;padding-right:15px;padding-top:10px;
}
.item-fix-width{
    min-width:217px;max-width:217px;
}
.item-clickable{
    text-decoration:none;
}

.ucfirst:first-letter{
   text-transform: capitalize;
}
.ucwords{
   text-transform: capitalize;
}
.underlined{
    border-bottom: 1px solid #d2d6de;
    margin: 0 0 30px;
    padding-bottom: 8px;
    padding-top: 12px;
}

.box-title {
    display: inline-block;
    margin: 0;
    line-height: 1;
}

.box-title2 {
    display: inline-block;
    margin-right: 50px !important;
    margin: 0;
    line-height: 1;
}

.blue-link{
    color: #337ab7 !important;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}


#timeline {
  list-style: none;
  position: relative;
}
#timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #1ab394;
  left: 0;
  margin-left: -1.5px;
}
#timeline .clearFix {
  clear: both;
  height: 0;
}
#timeline .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 19px;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 0px;
  margin-left: -25px;
  background-color: #1ab394;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
  font-size: 1.2em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
  font-size: .9em;
  position: relative;
  top: -10px;
}
#timeline .timeline-badge.timeline-filter-movement {
  background-color: #ffffff;
  font-size: 1.7em;
  height: 35px;
  margin-left: -18px;
  width: 35px;
  top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
  color: #f16f14;
  font-size: 1em;
  top: -1px;
  margin-left: -10px;
  background-color: #FFF;
}
#timeline .timeline-badge.timeline-future-movement {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  font-size: 1.7em;
  top: -16px;
  margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
  color: #1ab394;
  font-size: .9em;
  top: 2px;
  left: 1px;
}
#timeline .timeline-movement {
  border-top: dashed 1px #1ab394;
  position: relative;
}
#timeline .no-dashed{
border: none !important;
}
#timeline .timeline-movement.timeline-movement-top {
  height: 60px;
}
#timeline .timeline-movement .timeline-item {
  padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #666;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
  text-align: right;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
  color: #666;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
  color: #f16f14;
  font-size: 14px;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
  text-align: left;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
  color: #f16f14;
  font-size: 14px;
}

.txareawidth{
	width: 285px;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.doc-action-btns{
  display: inline;
}

.ios-scroll {
  height: auto;
  max-height: 500px;
  margin: 20px auto;
  padding-right:20px;
  overflow:auto;
}
div.ios-scroll::-webkit-scrollbar {
  width: 8px;
}
/* Track */
div.ios-scroll::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
div.ios-scroll::-webkit-scrollbar-thumb {
  opacity:0.1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0,0,0,0.5); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

div#show-employee {
  #fixTable-wrapper {
    overflow-x: scroll;
  }
  #fixTable {
    width: 1800px !important;
  }
  #fixTable tr th, #fixTable tr td {
    min-width: 200px;
    vertical-align: middle;
    padding: 10px;
  }
  #fixTable tr th + th,  #fixTable tr td + td {
    text-align: center;
  }
  .month {
    background-color: #1ab394;
    color: #ffffff;
  }
  th.current, td.current {
    background-color: #1ab394 !important;
    color: #fff;
  }
  td.weekends {
    background-color: #999 !important;
    color: #fff;
  }
  .label.label-def {
    background-color: #2a2c2e;
    font-weight: bold;
    color: #fff;
  }
  .label.label-late {
    background-color: #ece401;
    font-weight: bold;
    color: #000;
  }
  .label.label-slate {
    background-color: #f3a010;
    font-weight: bold;
    color: #000;
  }
  .label.label-earlyout {
    background-color: #ece401;
    font-weight: bold;
    color: #000;
  }
  .label.label-absent {
    background-color: #c30000;
    font-weight: bold;
    color: #fff;
  }
}

img.lightbox-image {
    position: relative;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

h3.client-name {
  word-wrap: break-word;
}
