<template>
	<li>
		<a href="#" :class="{new:frchat.unread}">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-3">
						<img class="fr-img" :src="frchat.img">
					</div><!-- ./col-sm-3 -->
					<div class="col-sm-7 fr-details">
						<div class="row">
							<div class="col-sm-12 fr-name">
								<p>{{frchat.name}}</p>
							</div><!-- ./ fr-name-->
						</div><!-- ./ row-->
						
						<div class="row">
							<div class="col-sm-12 message">
								<p>{{frchat.message}}</p>
							</div><!-- ./ message-->
						</div><!-- ./ row-->
					</div><!-- ./ fr-details-->
					<div class="col-sm-2 fr-status">
						<i class="fa fa-circle" :class="[frchat.status ? 'text-success' : '', 'text-muted']"></i>
					</div><!-- ./ fr-status-->
				</div><!-- ./ col-sm-12-->
			</div><!-- ./ row-->
		</a>
	</li>
</template>

<script>
export default {
props: ['frchat'],
}
</script>