<template>
	
	<div>
		
		<form class="form-horizontal" @submit.prevent="editSchedule">

			<div class="form-group" :class="{ 'has-error': editScheduleForm.errors.has('schedule_type') }">
			    <label class="col-md-2 control-label">
			        Schedule Type: <span class="text-danger">*</span>
		        </label>
			    <div class="col-md-10">
			    	<select class="form-control" name="schedule_type" v-model="editScheduleForm.scheduleType">
			    		<option v-for="scheduleType in scheduleTypes" :value="scheduleType.id">
			    			{{ scheduleType.name }}
			    		</option>
			    	</select>
			    	<span class="help-block" v-if="editScheduleForm.errors.has('schedule_type')" v-text="editScheduleForm.errors.get('schedule_type')"></span>
			    </div>
			</div>

			<div v-show="editScheduleForm.scheduleType == 1 ||  editScheduleForm.scheduleType == 2" class="form-group">
			    <label class="col-md-2 control-label">
			        Schedule Details: <span class="text-danger">*</span>
		        </label>
			    <div class="col-md-10">

			    	<div v-show="editScheduleForm.scheduleType == 1">
			    		<div class="input-group">
			    			<div class="bootstrap-timepicker timepicker">
					            <input id="timepicker1" type="text" class="form-control input-small timepicker-input" v-model="editScheduleForm.timeIn" autocomplete="off">
					        </div>
					        <span class="input-group-addon">to</span>
					        <div class="bootstrap-timepicker timepicker">
					            <input id="timepicker2" type="text" class="form-control input-small timepicker-input" v-model="editScheduleForm.timeOut" autocomplete="off">
					        </div>
			    		</div>
			    	</div>

			    	<div v-show="editScheduleForm.scheduleType == 2">
			    		<div class="input-group">
			    			<span class="input-group-addon">Time In From</span>
			    			<div class="bootstrap-timepicker timepicker">
					            <input id="timepicker3" type="text" class="form-control input-small timepicker-input" v-model="editScheduleForm.timeInFrom" autocomplete="off">
					        </div>
			    		</div>
			    		<div style="height:10px; clear:both;"></div>
			    		<div class="input-group">
			    			<span class="input-group-addon">Time In To</span>
			    			<div class="bootstrap-timepicker timepicker">
					            <input id="timepicker4" type="text" class="form-control input-small timepicker-input" v-model="editScheduleForm.timeInTo" autocomplete="off">
					        </div>
			    		</div>
			    	</div>

			    </div>
			</div>

			<button type="submit" class="btn btn-primary pull-right">Edit</button>
	    	<button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">Close</button>

		</form>

	</div>

</template>

<script>
	
	export default {
		props: ['selecteduser'],

		data() {
			return {
				scheduleTypes: [],

				editScheduleForm: new Form({
					userId: '',
					scheduleType: '',
					timeIn: '',
					timeOut: '',
					timeInFrom: '',
					timeInTo: ''
				}, { baseURL: axiosAPIv1.defaults.baseURL })
			}
		},

		methods: {
			initTimePicker() {
				setTimeout(() => {
					$('.timepicker-input').timepicker();
				}, 500);

				$('.timepicker-input').on('click', function(e) {
					let target = e.target;

					$('#' + target.id).timepicker('showWidget');

					if(target.value == '') {
						$('#' + target.id).timepicker('setTime', '12:00 AM');
					}
				});

				$('.timepicker-input').timepicker().on('changeTime.timepicker', (e) => {
					let id = e.target.id;

					if(id == 'timepicker1') {
						this.editScheduleForm.timeIn = e.time.value;
					} else if(id == 'timepicker2') {
						this.editScheduleForm.timeOut = e.time.value;
					} else if(id == 'timepicker3') {
						this.editScheduleForm.timeInFrom = e.time.value;
					} else if(id == 'timepicker4') {
						this.editScheduleForm.timeInTo = e.time.value;
					}
				});
			},
			getScheduleTypes() {
				axiosAPIv1.get('/schedule-types')
				  	.then((response) => {
				    	this.scheduleTypes = response.data;
				  	});
			},
			resetEditScheduleForm() {
				this.editScheduleForm = new Form({
					userId: '',
					scheduleType: '',
					timeIn: '',
					timeOut: '',
					timeInFrom: '',
					timeInTo: ''
				}, { baseURL: axiosAPIv1.defaults.baseURL });
			},
			setSelectedUser(user) {
				this.editScheduleForm.userId = user.id;

				if(user.schedule) {
					this.editScheduleForm.scheduleType = user.schedule.schedule_type_id;
				} else {
					this.editScheduleForm.scheduleType = '';
				}
						
				if(user.schedule && user.schedule.time_in && user.schedule.time_out) {
					this.editScheduleForm.timeIn = moment(user.schedule.time_in, 'HH:mm:ss').format("h:mm A");
					this.editScheduleForm.timeOut = moment(user.schedule.time_out, 'HH:mm:ss').format("h:mm A")
				} else {
					this.editScheduleForm.timeIn = '';
					this.editScheduleForm.timeOut = '';
				}

				if(user.schedule && user.schedule.time_in_from && user.schedule.time_in_to) {
					this.editScheduleForm.timeInFrom = moment(user.schedule.time_in_from, 'HH:mm:ss').format("h:mm A");
					this.editScheduleForm.timeInTo = moment(user.schedule.time_in_to, 'HH:mm:ss').format("h:mm A");
				} else {
					this.editScheduleForm.timeInFrom = '';
					this.editScheduleForm.timeInTo = '';
				}
			},
			editSchedule() {
				this.editScheduleForm.submit('patch', '/schedule/' + this.editScheduleForm.userId)
			        .then(response => {
			            if(response.success) {
			            	this.$parent.$parent.getUsers();
			                
			                this.resetEditScheduleForm();

			                $('#editSchedule').modal('hide');

			                toastr.success(response.message);
			            }
			        })
			        .catch(error => {
			        	let errors = JSON.parse(JSON.stringify(error));

			        	for(var key in errors) {
			        		let _error = errors[key].message;

			        		_error.forEach(e => {
			        			toastr.error(e);
			        		});
			        	}
			        });
			}
		},

		created() {
			this.getScheduleTypes();
		},

		mounted() {
			this.initTimePicker();
		}
	}

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>