<template>
	<div>
		<form class="form-horizontal" @submit.prevent="editSchedule">
		    <div class="form-group label-floating" :class="{ 'has-error': fileLeaveForm.errors.has('title') }">
                <label for="title">Title:</label>
                 <input 
                    type="text" 
                    class="form-control" 
                    required
                    id="title" 
                    name="title"
                    v-model="fileLeaveForm.title"
                >
                <p class="help-block" v-if="fileLeaveForm.errors.has('title')" v-text="fileLeaveForm.errors.get('title')"></p>
            </div>
            

            <div class="form-group label-floating" :class="{ 'has-error': fileLeaveForm.errors.has('reason') }">
                <label for="reason">Reason:</label>
                 <textarea
                    class="form-control" 
                    required
                    id="reason" 
                    name="reason"
                    v-model="fileLeaveForm.reason"
                ></textarea> 
                <p class="help-block" v-if="fileLeaveForm.errors.has('reason')" v-text="fileLeaveForm.errors.get('reason')"></p>
            </div>


			<button type="submit" class="btn btn-primary pull-right">Submit</button>
	    	<button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">Close</button>

		</form>	
	</div>

</template>

<script>
	
	export default {
		props: [],

		data() {
			return {
				fileLeaveForm: new Form({
					title:'',
					reason:'',
					start_date:'',
					end_date:'',
					type:'',
				}, { baseURL: axiosAPIv1.defaults.baseURL })
			}
		},

		methods: {},
		created() {},
		mounted() {}
	}

</script>
