<template>
    <div>
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <select class="col-md-3 pull-left" @change="getHolidays" v-model="year_added">
                            <option v-for="yr in years" v-bind:key="yr.id" :value="yr.year_added">{{yr.year_added}}</option>
                    </select>
                    
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                            <tr>
                                <th data-hide="phone">Title</th>
                                <th data-toggle="true">Start Date</th>
                                <th data-toggle="true">End Date</th>
                                <th data-toggle="true">Type</th>
                                <th data-sort-ignore="true">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="hd in holidays" v-bind:key="hd.id">
                                <td>{{hd.title}}</td>
                                <td>{{hd.start_date}}</td>
                                <td>{{hd.end_date}}</td>
                                <td>{{hd.type}}</td>
                                <td> 
                                    <span class="label label-warning" v-show="hd.status=='Pending'">Pending</span>
                                    <span class="label label-sucess" v-show="hd.status=='Complete'">Complete</span>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                </div>
                </div>
        </div>
    </div>
</template>
<script>
var dt = new Date();
   export default {
        props: ['employeeid'],
		data() {
			return {
                holidays:[],
                years:[],
                year_added:dt.getFullYear()
			}
        },
        methods:{
            getHolidays(){
                    axios.get('/visa/payroll/get-holidays',{
                        params: {
                            year: this.year_added,
                            user_id:this.employeeid
                        }
                    }).then(response => {
                    this.holidays = response.data.list;
                    this.years = response.data.year;
                 })
            },
        },
        created(){
            this.getHolidays();
        }
   }
</script>