<template>
	<div>
       
         <button class="btn btn-white col-md-2 pull-right" @click="showLoanPenaltyModal">Add new Loan</button>
        
          <br>
           <br>
           <br>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Loan Amount</th>
                        <th>Total Paid</th>
                        <th>Payment Terms</th>
                        <th>Number of Payments</th>
                        <th>Number Paid</th>
                        <th>Status</th>
                     
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="i in installments" :key="i.id">
                        <td>{{i.full_amount}}</td>
                        <td>{{i.payment_amount}}</td>
                        <td>{{i.payment_terms}}</td>
                        <td>{{i.payment_count}}</td>
                        <td>{{i.counter}}</td>
                        <td>{{i.status}}</td>
                       
                    </tr>
                </tbody>
            </table>
            
        <div class="modal inmodal" id="myModal6" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Loans</h4>                   
                    </div>
                    <div class="modal-body">
                         <div class="form-group">
                                <label>Payment Method</label>
                                <select class="form-control" v-model="lp_method">
                                    <option value="Installment">Installment</option>
                                    <!--<option value="OneTime">One time payment</option>-->
                                </select>
                         </div>
                          <div class="form-group" v-show="lp_method=='Installment'">
                                <label>Number of payments</label>
                                <select class="form-control" v-model="lp_payment" @change="checkInput">
                                     <!--<option value="1">One Time</option>-->
                                    <option value="3">3 Months (4%)</option>
                                    <option value="6">6 Months (8%)</option>
                                    <option value="16">12 Months (16%)</option>
                                    <!--<option value="OneTime">One time payment</option>-->
                                </select>
                               <!-- <input class="form-control" placeholder="2" v-model="lp_payment" @blur="checkInput"> -->
                          </div>
                          <div class="form-group">
                                <label>Start of Payment</label>
                                <input class="form-control" placeholder="YYYY-MM-DD" v-model="date_deduction" v-on:keyup="validateDate">
                          </div>
                          <div class="form-group">
                                <label>Loan Amount</label>
                                <input class="form-control" placeholder="0" v-model="lp_amount" @blur="checkInput2">
                          </div>
                          <div class="form-group">
                                <label>Repayment Amount</label>
                                <input class="form-control" placeholder="0" v-model="lp_repayment" disabled>
                          </div>
                          <div class="form-group">
                                <label>Reason</label>
                                 <textarea class="form-control" rows="5" v-model="lp_reason"></textarea>
                          </div>
                           <div class="form-group">
                                 <button data-dismiss="modal"  class="btn btn btn-white pull-right" @click="clearData">Close</button>
                                 <button class="btn btn-success pull-right" @click="postLoan">Save</button>
                          </div>
                           <br>
                           <br>
                    </div>
                   
                </div>
            </div>
        </div>
	</div>

</template>

<script>
    var counter = 0;
   
	export default {
		props: ['employeeid'],

		data() {
			return {
                lp_type:'loan',
                lp_method:'Installment',
                lp_payment:1,
                lp_repayment:0,
                lp_amount:0,
                installments:[],
                date_deduction:'',
                lp_reason:''
			}
		},

		methods: {
            clearData(){
                this.lp_type='loan';
                this.lp_method='Installment';
                this.lp_payment=1;
                this.lp_repayment=0;
                this.lp_amount=0;
                this.date_deduction='';
                this.lp_reason='';
            },
            validateDate(e){
                
                if(this.date_deduction.length<=10 && e.keyCode!=8){
             
                    var v = this.date_deduction;
                    if (v.match(/^\d{4}$/) !== null) {
                        this.date_deduction = v + '-';
                    } else if (v.match(/^\d{4}\-\d{2}$/) !== null) {
                        this.date_deduction = v + '-';
                    }
                }else{
                  
                    this.date_deduction = this.date_deduction.substring(0, this.date_deduction.length - 1);
                }
                 
            },
            showLoanPenaltyModal(){
                this.lp_type='loan';
                this.lp_method='Installment';
                this.lp_payment=1;
                this.lp_repayment=0;
                this.lp_amount=0;
                this.date_deduction='';
                this.lp_reason='';
               
                $('#myModal6').modal('toggle');
            },
            getLoan(){
                axios.get('/visa/payroll/get-installments',{
                    params: {
                            id: this.employeeid, 
                            credit_type:'LOAN'
                    }
                }).then(response => {
                    this.installments = response.data;
                    if(this.installments){
                         $.each(this.installments, function( index, value ) {
                           // console.log( index + ": " + value.status);
                            if(value.status=="NOT PAID"){
                               counter++;
                            }
                        });
                    }
                   
                })
            },
            postLoan(){
                let now = moment().format('YYYY-MM-DD');
                let startdectuct = moment(this.date_deduction);
                if(counter>0){
                    toastr.error('Already have an existing loan');
                }else{
                    if(this.lp_amount<=0 || this.lp_amount==''){
                        toastr.error('Invalid Amount');
                    }else if(!moment(this.date_deduction,'YYYY-MM-DD').isValid()){
                        toastr.error('Invalid Date');
                    }else if(startdectuct.isBefore(now)){
                        toastr.error('Start of deduction must be ahead from today');
                    }else if(this.lp_reason==''){
                        toastr.error('Loan reason cannot be empty');
                    }else{
                        axios.post('/visa/payroll/post-installments',{
                            user_id:this.employeeid,
                            full_amount:this.lp_repayment,
                            credit_type: 'LOAN',
                            payment_terms: (this.lp_method=='Installment') ? 'INSTALLMENT' : 'ONE TIME',
                            payment_count: (this.lp_method=='Installment') ? this.lp_payment : 1,
                            date_deduction: this.date_deduction,
                            reason: this.lp_reason,
                        }).then(response => {
                        swal({
                                    title: "Success",
                                    text: "Data Posted"
                            });
                            this.lp_type="loan";
                            this.lp_method="Installment";
                            this.lp_payment=2;
                            this.lp_amount=0;
                            this.lp_repayment=0;
                            this.lp_reason = '';
                            $('#myModal6').modal('toggle');
                            this.clearData();
                            this.getLoan();
                        });
                    }
                }
                
                
            },
            checkInput(){
                 this.lp_payment = (!$.isNumeric(this.lp_payment)) ? 2 : this.lp_payment;
                 this.lp_payment = (this.lp_payment<2) ? 2 : this.lp_payment;
                 if(this.lp_amount>0)
                 this.lp_repayment = (this.lp_payment==3 ? parseFloat(this.lp_amount) + (parseFloat(this.lp_amount)*0.04): (this.lp_payment==6 ? parseFloat(this.lp_amount) + (parseFloat(this.lp_amount*0.08)) : (this.lp_payment==16 ? parseFloat(this.lp_amount) + (parseFloat(this.lp_amount)*0.16) : parseFloat(this.lp_amount)) ))
            },
            checkInput2(){
                this.lp_amount = (!$.isNumeric(this.lp_amount)) ? 0 : this.lp_amount;
                this.lp_repayment = (this.lp_payment==3 ? parseFloat(this.lp_amount) + (parseFloat(this.lp_amount)*0.04): (this.lp_payment==6 ? parseFloat(this.lp_amount) + (parseFloat(this.lp_amount*0.08)) : (this.lp_payment==16 ? parseFloat(this.lp_amount) + (parseFloat(this.lp_amount)*0.16) : parseFloat(this.lp_amount)) ))
            },
        },
		created() {
            this.getLoan();
        },
		mounted() {}
    }
    
   

</script>
