<template>

	<form class="form-horizontal" @submit.prevent="addFunds">

		<div class="form-group">
		    <label class="col-md-2 control-label">
		        {{ (translation) ? translation['option'] : 'Option' }}:
	        </label>
		    <div class="col-md-10">
		    	<select class="form-control" name="option" v-model="addFundForm.option" @change="limitUser">
		    		<option value="Deposit">{{ (translation) ? translation['deposit'] : 'Deposit' }}</option>
		    		<option value="Payment">{{ (translation) ? translation['payment'] : 'Payment' }}</option>
		    		<option value="Discount">{{ (translation) ? translation['discount'] : 'Discount' }}</option>
		    		<option value="Refund">{{ (translation) ? translation['refund'] : 'Refund' }}</option>
		    		<option value="Transfer">{{ (translation) ? translation['balance-transfer'] : 'Balance Transfer' }}</option>
		    	</select>
		    </div>
		</div>
		<div class="form-group">
		    <label class="col-md-2 control-label">
		        {{ (translation) ? translation['storage'] : 'Storage' }}:
	        </label>
		    <div class="col-md-10">
		    	<select class="form-control" name="storage" v-model="addFundForm.storage">
		    		<option value="cash">{{ (translation) ? translation['cash'] : 'Cash' }}</option>
		    		<option value="bank">{{ (translation) ? translation['bank'] : 'Bank' }}</option>
					<option v-if="addFundForm.option=='Deposit' || addFundForm.option=='Payment' " value="alipay">Alipay</option>
		    	</select>
		    </div>
		</div>
		<div class="form-group" v-show="addFundForm.storage!='cash'">
		    <label class="col-md-2 control-label">
		        Bank:
	        </label>
		    <div class="col-md-10">
		    	<select class="form-control" name="bank_type" id="bank_type" v-model="addFundForm.bank_type">
					<option value="metrobank">Metrobank</option>
					<option value="securitybank">Security Bank</option>
					<option value="aub">AUB</option>
		    	</select>
		    </div>
		</div>
		<div class="form-group" v-show="addFundForm.storage=='alipay'" >
		    <label class="col-md-2 control-label">
		       Alipay Reference:
	        </label>
		    <div class="col-md-10">
		    	<input v-model="addFundForm.alipay_reference" type="text" class="form-control" id="alipay_reference" name="alipay_reference">
		    </div>
		</div>

		<div class="form-group" :class="{ 'has-error': addFundForm.errors.has('amount') }">
		    <label class="col-md-2 control-label">
		        {{ (translation) ? translation['amount'] : 'Amount' }}:
	        </label>
		    <div class="col-md-10">
		    	<input type="text" class="form-control" name="amount" v-model="addFundForm.amount">

		    	<span class="help-block" v-if="addFundForm.errors.has('amount')" v-text="addFundForm.errors.get('amount')"></span>

		    	<div v-if="addFundForm.option == 'Discount'">
			    	<input type="checkbox" name="clearbalance" v-model="addFundForm.clearbalance">for balance clearing
			    </div>
		    </div>
		</div>

        <div class="form-group transferTo">
        	<div class="col-sm-6">
	            <label class="col-sm-4 control-label">{{ (translation) ? translation['transfer-to'] : 'Transfer To' }}:</label>
	            <div class="col-sm-8">
	                <select class="form-control" id="transfer_type" name="transfer_type" v-model="addFundForm.transfer_type" @change="transType">
	                    <option value="client">{{ (translation) ? translation['client'] : 'Client' }}</option>
	                    <option value="group">{{ (translation) ? translation['group'] : 'Group' }}</option>
	                </select>
	            </div>
	        </div>
	        <div class="col-sm-6 transferTo transClient" >
				<label class="col-sm-4 control-label">{{ (translation) ? translation['client'] : 'Client' }}:</label>
	            <div class="col-sm-8">
	                <div id="search" class="navbar-form-custom">
	                    <div class="form-group">
	                        <input type="text" placeholder="Search Client" class="form-control typeahead" name="transfer-search" id="transfer-search" style="width: 170px;height: 35px;border: 1px solid #e5e6e7;border-radius: 1px;" autocomplete="off"/>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="col-sm-6 transferTo transGroup" >
				<label class="col-sm-4 control-label">{{ (translation) ? translation['group'] : 'Group' }}:</label>
	            <div class="col-sm-8">
	                <div id="search" class="navbar-form-custom">
	                    <div class="form-group">
	                        <input type="text" placeholder="Search Group" class="form-control grouptypeahead" name="transfer-search" id="transfer-search" style="width: 170px;height: 35px;border: 1px solid #e5e6e7;border-radius: 1px;" autocomplete="off"/>
	                    </div>
	                </div>
	            </div>
	        </div>
        </div>

		<div v-if="addFundForm.option == 'Discount' || addFundForm.option == 'Refund' || addFundForm.option == 'Transfer'" >

			<div class="form-group" :class="{ 'has-error': addFundForm.errors.has('reason') }">
			    <label class="col-md-2 control-label">
			        {{ (translation) ? translation['reason'] : 'Reason' }}:
		        </label>
			    <div class="col-md-10">
			    	<input type="text" class="form-control" name="reason" v-model="addFundForm.reason">

			    	<span class="help-block" v-if="addFundForm.errors.has('reason')" v-text="addFundForm.errors.get('reason')"></span>
			    </div>
			</div>

		</div>
		
		<button type="submit" class="btn btn-primary pull-right" id='submitFunds'>
			{{ (translation) ? translation['add'] : 'Add' }}
		</button>
	    <button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">
	    	{{ (translation) ? translation['close'] : 'Close' }}
	    </button>

	</form>

</template>

<script>

    export default {

    	props: ['groupid'],

    	data() {
    		return {
    			translation: null,

    			//branch : 1,
    			addFundForm: new Form({
					option: 'Deposit',
					amount: '',
					reason: '',
					storage: 'cash',
					transfer_type: 'client',
					selected_client: '',
					selected_group: '',
					bank_type: 'metrobank',
					alipay_reference: '',
					clearbalance: false,
				}, { baseURL: axiosAPIv1.defaults.baseURL })
    		}
    	},
    	mounted(){
    			$('.transferTo').hide();
    			$('.transGroup').hide();

    			var grid = this.$parent.$parent.groupId;
    			var branch = this.$parent.$parent.details.group.branch_id;
    			var clientUrl = '/visa/client/search/transfer-balance/'+branch+'/0';
    			var groupUrl = '/visa/client/search/group-transfer-balance/'+branch+'/'+grid;
    			var vm = this;
	    	    			$('input.typeahead').typeahead({
					              source:  function (query, process) {

										return $.get(clientUrl, { query: query }, function (data) {
												data = $.parseJSON(data);
												return process(data);
											});
										
									},
								  minLength: 2,
								  fitToElement: true,
								  matcher: function(item) {
										return true;
								  },
								  updater:function (item) {
									  vm.addFundForm.selected_client = item.id;
									  // alert(vm.addFundForm.selected_client);
									  return item;
								  }
							});

							$('input.grouptypeahead').typeahead({
					              source:  function (query, process) {
					              	if(query == vm.$parent.$parent.groupId){
										// $('.popover #fundset').addClass('has-error');
										toastr.error("Cannot transfer to same group id");
									}
									else{
										return $.get(groupUrl, { query: query }, function (data) {
												data = $.parseJSON(data);
												return process(data);
											});
										}
									},
								  minLength: 2,
								  fitToElement: true,
								  matcher: function(item) {
										return true;
								  },
								  updater:function (item) {
									  vm.addFundForm.selected_group =item.id;
									  return item;
								  }
							});


					// $fundsPopOver.on('hidden.bs.popover', function() {
					// 	$('.freason').hide();
					// 	$('.transferTo').hide();
					// 	$('.transGroup').hide();
					// 	$('.chosen-select-for-clients').chosen('destroy');
					// });

					$('#add-funds-modal').on('hidden.bs.modal', function () {
					  vm.resetAddFundForm();
					  $("#submitFunds").removeAttr('disabled');
					})
					
    	},

    	methods: {

    		getTranslation() {
        		axios.get('/visa/group/translation/add-fund')
			        .then(response => {
			        	this.translation = response.data.translation;
			        });
			},

    		passClient(client){
				this.addFundForm.selected_client = client;
    		},
    		resetAddFundForm() {
    			this.addFundForm.option = 'Deposit';
    			this.addFundForm.amount = '';
    			this.addFundForm.reason = '';
				this.addFundForm.storage = 'cash';
				this.addFundForm.transfer_type = 'client';
				this.addFundForm.selected_client = '';
				this.addFundForm.selected_group = '';
				this.addFundForm.bank_type = 'metrobank';
				this.addFundForm.alipay_reference = '';
				this.addFundForm.errors.clear();
				$(".grouptypeahead").val("");
				$(".typeahead").val("");
				$('.transClient').hide();
	    	    $('.transGroup').hide();
	    	    $('.transferTo').hide();
    		},

    		transType() {
				if(this.addFundForm.option == 'Transfer' && this.addFundForm.transfer_type == 'client'){
	    	    		$('.transClient').show();
	    	    		$('.transGroup').hide();
				}
				if(this.addFundForm.option == 'Transfer' && this.addFundForm.transfer_type == 'group'){
	    	    		$('.transClient').hide();
	    	    		$('.transGroup').show();
				}
    		},

    		limitUser() {
	    	    $('.transferTo').hide();

    			if(this.addFundForm.option == 'Discount' && (this.$parent.$parent.userauth != '1193' && this.$parent.$parent.userauth != '1' && this.$parent.$parent.userauth != '2352') ){
	    			$('#add-funds-modal').modal('hide');
	    			
	    			var title = (this.translation) 
	    				? this.translation['please-contact-sir-jason-to-give-discount-to-client'] 
	    				: 'Please contact sir Jason to give discount to client';

	    	      	swal({
						title: title,
			            type: 'info',
			            allowOutsideClick: false,
			            showCloseButton: true,
				        showCancelButton: false,
				        showConfirmButton: false
					});
	    	    }
	    	    if((this.addFundForm.option == 'Deposit' || this.addFundForm.option == 'Payment' || this.addFundForm.option == 'Refund') && (this.$parent.$parent.userauth != '9' && this.$parent.$parent.userauth != '1193' && this.$parent.$parent.userauth != '1' && this.$parent.$parent.userauth != '2' && this.$parent.$parent.userauth != '10552' && this.$parent.$parent.userauth != '2352')){
	    			$('#add-funds-modal').modal('hide');

	    			var title1 = (this.translation) 
	    				? this.translation['please-contact-mam-cha-to-give']
	    				: 'Please contact Maam Cha to give ';

	    			var title2 = (this.translation) 
	    				? this.translation['to-client']
	    				: ' to client.';

	    			var mode = '';

	    			if(this.addFundForm.option == 'Deposit'){
	    				mode = (this.translation) 
	    				? this.translation['deposit']
	    				: 'Deposit';
	    			}else if(this.addFundForm.option == 'Payment'){
	    				mode = (this.translation) 
	    				? this.translation['payment']
	    				: 'Payment';
	    			}else if(this.addFundForm.option == 'Refund'){
	    				mode = (this.translation) 
	    				? this.translation['refund']
	    				: 'Refund';
	    			}

	    	      	swal({
						title: title1+mode+title2,
			            type: 'info',
			            allowOutsideClick: false,
			            showCloseButton: true,
				        showCancelButton: false,
				        showConfirmButton: false
					});
	    	    }
	    	    if(this.addFundForm.option == 'Transfer'){
	    	    		$('.transferTo').show();
	    	    		$('.transGroup').hide();
				}
    		},

    		addFunds() {
    			$("#submitFunds").attr("disabled", true);
    			if(this.addFundForm.option == 'Discount' && (this.$parent.$parent.userauth != '1193' && this.$parent.$parent.userauth != '1' && this.$parent.$parent.userauth != '2352') ){

    				var title = (this.translation) 
	    				? this.translation['please-contact-sir-jason-to-give-discount-to-client'] 
	    				: 'Please contact sir Jason to give discount to client';

    					$('#add-funds-modal').modal('hide');
    					$("#submitFunds").removeAttr('disabled');
		    	      	swal({
							title: title,
				            type: 'info',
				            allowOutsideClick: false,
				            showCloseButton: true,
					        showCancelButton: false,
					        showConfirmButton: false
						});
		    	}
		    	else if((this.addFundForm.option == 'Deposit' || this.addFundForm.option == 'Payment' || this.addFundForm.option == 'Refund') && (this.$parent.$parent.userauth != '9' && this.$parent.$parent.userauth != '1193' && this.$parent.$parent.userauth != '1' && this.$parent.$parent.userauth != '2' && this.$parent.$parent.userauth != '10552' && this.$parent.$parent.userauth != '2352')){
	    			$('#add-funds-modal').modal('hide');
	    			$("#submitFunds").removeAttr('disabled');
	    			var title1 = (this.translation) 
	    				? this.translation['please-contact-mam-cha-to-give']
	    				: 'Please contact Maam Cha to give ';

	    			var title2 = (this.translation) 
	    				? this.translation['to-client']
	    				: ' to client.';

	    			var mode = '';

	    			if(this.addFundForm.option == 'Deposit'){
	    				mode = (this.translation) 
	    				? this.translation['deposit']
	    				: 'Deposit';
	    			}else if(this.addFundForm.option == 'Payment'){
	    				mode = (this.translation) 
	    				? this.translation['payment']
	    				: 'Payment';
	    			}else if(this.addFundForm.option == 'Refund'){
	    				mode = (this.translation) 
	    				? this.translation['refund']
	    				: 'Refund';
	    			}


	    	      	swal({
						title: title1+mode+title2,
			            type: 'info',
			            allowOutsideClick: false,
			            showCloseButton: true,
				        showCancelButton: false,
				        showConfirmButton: false
					});
	    	    }else if(this.addFundForm.storage=='alipay' && (this. addFundForm.alipay_reference=='' || this.addFundForm.alipay_reference==null)){
	    	    	$("#submitFunds").removeAttr('disabled');
	    	    	var msg = (this.translation) 
	    				? this.translation['alipay-ref-not-empty']
	    				: 'Alipay Reference cannot be empty.';
	    				
	    	    	toastr.error(msg);
					// swal({
					// 	title: "Alipay Reference cannot be empty",
			  //           type: 'info',
			  //           allowOutsideClick: false,
			  //           showCloseButton: true,
				 //        showCancelButton: false,
				 //        showConfirmButton: false
					// });

				}
				else if(this.addFundForm.option == 'Transfer' && this.addFundForm.reason == ''){
	    	    	$("#submitFunds").removeAttr('disabled');
	    	    	var msg = 'Please Input Reason!';
	    				
	    	    	toastr.info(msg);

				}
		    	else{    		
		    		// if($("input[name='clearbalance']:checked:visible").val() == 'on'){
		    		// 	this.addFundForm.clearbalance = true;
		    		// }
	    			this.addFundForm.submit('post', '/visa/group/' + this.groupid + '/add-funds')
			        .then(response => {
			            if(response.success) {
			                this.$parent.$parent.fetchDetails();

			                this.resetAddFundForm();
			                
			                $('#add-funds-modal').modal('hide');
			                toastr.success(response.message);
			            }else{		            	
			            	toastr.error(response.message);
					  		$("#submitFunds").removeAttr('disabled');
			            }
			          
			        }).catch(error =>{$("#submitFunds").removeAttr('disabled');});
			         
			      
		    	}
    		},
    	},

    	created() {
    		if(window.Laravel.language == 'cn'){
    			this.getTranslation();
    		}
    	},
		watch:{
		
			'addFundForm.storage': {
				handler: function (val, oldVal) { 
					//console.log(val+'-----'+oldVal);
					if(val=='alipay'){
						this.addFundForm.bank_type='aub';
						$("#bank_type option[value='metrobank']").remove();
						$("#bank_type option[value='securitybank']").remove();
					}else{
						$('#bank_type').empty();
						$("#bank_type").prepend("<option value='aub'>AUB</option>");
						$("#bank_type").prepend("<option value='securitybank'>Security Bank</option>");
						$("#bank_type").prepend("<option value='metrobank'>Metrobank</option>");
						this.addFundForm.bank_type='metrobank';
					}
				 },
				deep: true
			},
		}

    }

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>
