<template>
	<form  class="form-horizontal add-members" @submit.prevent="addNewMember">

		<div class="form-group " :class="{ 'has-error': addNewMemberForm.errors.has('clientId') }">
	        <label class="col-sm-2 control-label">
	            {{ (translation) ? translation['clients'] : 'Clients' }}
	        </label>

	        <div class="col-sm-10">
	            <select data-placeholder="Select clients" class="chosen-select-for-clients my-selection" multiple style="width:100%;">
		            <option v-for="client in clients" :value="client.id">
		               	{{ client.name }}
		            </option>
		        </select>
	        </div>
	    </div>

	    <button type="submit" class="btn btn-primary pull-right">
	    	{{ (translation) ? translation['add'] : 'Add' }}
	    </button>
	    <button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">
	    	{{ (translation) ? translation['close'] : 'Close' }}
	    </button>

	</form>
</template>

<script>

    export default {

    	props: ['groupid', 'branchid'],

    	data() {
    		return {
    			translation: null,

    			clients: [],

    			addNewMemberForm: new Form({
					clientIds: []
				}, { baseURL: axiosAPIv1.defaults.baseURL })
    		}
    	},

    	methods: {
    		getTranslation() {
        		axios.get('/visa/group/translation/add-new-member')
			        .then(response => {
			        	this.translation = response.data.translation;
			        });
			},

    		fetchClients(q) {
				
	    		axiosAPIv1.get('/visa/client/get-available-visa-clients', {
				 	params: {
				 		groupId: this.groupid,
				 		branchId: this.branchid,
				 		q: q
				 	}
				})
				.then(response => {
					//this.clients = [];
					if(response.data.length > 0){
						//this.clients.pop();
						this.clients.push({
			               id:response.data[0].id,
						   name:response.data[0].name });
						   //console.log(this.clients);
					}
					//console.log(q);
			 		setTimeout(() => {
						var my_val = $('.my-selection').val();
						//console.log(my_val);
						$(".my-selection").val(my_val).trigger("chosen:updated");
						
					}, 1000);
				});
    		},

    		resetAddNewMemberForm() {
    			this.addNewMemberForm = new Form({
					clientIds: []
				}, { baseURL: axiosAPIv1.defaults.baseURL });
    		},

    		addNewMember() {
    			if(this.addNewMemberForm.clientIds.length == 0) {
    				toastr.error( (this.translation) ? this.translation['clients-field-is-required'] : 'Clients field is required' );
    			} else {
    				this.addNewMemberForm.submit('post', '/visa/group/' + this.groupid + '/add-members')
		            .then(result => {
		                if(result.success) {
		                	this.clients = [];
		                	this.resetAddNewMemberForm();
		                	$(".chosen-select-for-clients").empty().trigger('chosen:updated');

		                	$('#add-new-member-modal').modal('hide');

					 		toastr.success(result.message);

					 		this.$parent.$parent.fetchMembers();

					 		//this.$parent.$parent.$refs.groupmembers.resetLoadedData();
					 		this.$parent.$parent.$refs.groupmembers.$refs.wizards.resetLoadedData();
                			//this.$parent.$parent.$refs.groupmembers.getGroupMembers();
                			this.$parent.$parent.getGroupMembers();

					 		this.$parent.$parent.$refs.addnewserviceref.fetchGroupPackagesServicesList();
						}
		            })
		            .catch(error => console.log(error));
    			}
    		}
    	},

    	created() {
			if(window.Laravel.language == 'cn'){
    			this.getTranslation();
    		}
    	},

    	mounted() {
			let vm = this;
			var typingTimer;                //timer identifier
			var doneTypingInterval = 1000;  //time in ms, 5 second for example

	  		$('.chosen-select-for-clients').chosen({
				width: "100%",
				no_results_text: "Searching Client # : ",
				search_contains: true
			});
			
			$('.chosen-select-for-clients').on('change', () => {
				let clientIds = $('.chosen-select-for-clients').val();

				this.addNewMemberForm.clientIds = clientIds;
			});


			$('.add-members').on('keydown', '.chosen-container input[type=text]', (e) => {
				clearTimeout(typingTimer);
			});

			$('.add-members').on('keyup', '.chosen-container input[type=text]', (e) => {
				
				clearTimeout(typingTimer);
  				typingTimer = setTimeout(
					  function(){
						let q = $('.add-members input[type=text]').val();
						if( q.length >= 4 ){
							vm.fetchClients(q);
						}
					}
					  , doneTypingInterval);
				
			});
    	}

    }

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>