<template>
	<form class="form-horizontal" @submit.prevent="addNewService">

		<div v-show="screen == 1">
	    	<div class="form-group" :class="{ 'has-error': addNewServiceForm.errors.has('services') }">
		        <label class="col-md-2 control-label">
		            {{ (translation) ? translation['service'] : 'Service' }}:
		        </label>

		        <div class="col-md-10">
		            <select data-placeholder="Select Service" class="chosen-select-for-service" multiple style="width:350px;" tabindex="4">
		                <option v-for="service in servicesList" :value="service.id">
		                	{{ (service.detail).trim() }}
		                </option>
		            </select>

		            <span class="help-block" v-if="addNewServiceForm.errors.has('services')" v-text="addNewServiceForm.errors.get('services')"></span>

		            <div class="spacer-10"></div>

		            <p>
		            	{{ (translation) ? translation['if-you-want-to-view-all-services-at-once-please-click'] : 'If you want to view all services at once, please click' }}
		            	<a href="/visa/service/view-all" target="_blank"> {{ (translation) ? translation['here'] : 'here' }}</a>
		            </p>
		        </div>
		    </div>

		    <div class="form-group">
		    	<label class="col-md-2 control-label">
		            {{ (translation) ? translation['note'] : 'Note' }}:
		        </label>
		        <div class="col-md-10">
		        	<input type="text" class="form-control" name="note" v-model="addNewServiceForm.note" placeholder="for internal use only, only employees can see.">
		        </div>
		    </div>


			<!--<div class="form-group">
				<template v-if="agent_com_id==0 || agent_com_id==null">
					<label class="col-md-2 control-label">
					Agent's Com:
					</label>
					<div class="col-md-4">
							<select id="agent_com" class="form-control m-b"  v-model="addNewServiceForm.agent_com_id">
								<option value="0" disabled>No Agent Selected</option>
								<option v-for="a in $parent.$parent.agents" :value="a.id">{{a.full_name}}</option>
							</select>
					</div>
				</template>
				<template v-if="client_com_id==0 || client_com_id==null">
					<label class="col-md-2 control-label">
					Client's Com:
					</label>
					<div class="col-md-4">
						<select id="client_com" class="form-control m-b" v-model="addNewServiceForm.client_com_id">
								<option value="0" disabled>No Client Selected</option>
								<option v-for="c in $parent.$parent.clients" :value="c.client_id">{{c.client.full_name}}</option>
						</select>
					</div>
				</template>
			</div>-->



		    <div v-show="addNewServiceForm.services.length <= 1">
			    <div class="form-group">
				
			    	<label class="col-md-2 control-label">
			            {{ (translation) ? translation['charge'] : 'Charge' }}:
			        </label>
			        <div class="col-md-2">
			        	<input type="text" class="form-control" readonly name="charge" v-model="addNewServiceForm.charge" >
			        </div>

			        <label class="col-md-2 control-label">
			            {{ (translation) ? translation['cost'] : 'Cost' }}:
			        </label>
			        <div class="col-md-2">
			        	<input type="text" class="form-control" name="cost" v-model="addNewServiceForm.cost" >
			        </div>

			        <label class="col-md-2 control-label">
			            {{ (translation) ? translation['extra-cost'] : 'Extra Cost' }}:
			        </label>
			        <div class="col-md-2">
			        	<input type="text" class="form-control" name="tip" v-model="addNewServiceForm.tip" >
			        </div>
				
					
			    </div>
				



<!-- 			    <div class="form-group">
			    	<label class="col-md-2 control-label">
			            Report :
			        </label>
			        <div class="col-md-10">
			        	<input type="text" class="form-control" name="reporting" v-model="addNewServiceForm.reporting">
			        </div>
			    </div> -->

<!-- 			    <div class="form-group" :class="{ 'has-error': addNewServiceForm.errors.has('discount') }">
			    	<label class="col-md-2 control-label">
			            {{ (translation) ? translation['discount'] : 'Discount' }}:
			        </label>
			        <div class="col-md-4">
			        	<input type="text" class="form-control" name="discount" v-model="addNewServiceForm.discount">
			        	<span class="help-block" v-if="addNewServiceForm.errors.has('discount')" v-text="addNewServiceForm.errors.get('discount')"></span>
			        </div>
			        <label class="col-md-2 control-label" v-if="addNewServiceForm.discount!=''">
			            {{ (translation) ? translation['reason'] : 'Reason' }}:
			        </label>
			        <div class="col-md-4" v-if="addNewServiceForm.discount!=''">
			        	<input type="text" class="form-control" name="reason" v-model="addNewServiceForm.reason">
			        </div>
			    </div> -->
		    </div>

		    <div class="form-group">
		    	<label class="col-md-2">

		        </label>
		        <div class="col-md-10">
		        	<label class="checkbox-inline">
		    			<input type="checkbox" v-model="addNewServiceForm.sameDayFilling"> <strong>{{ (translation) ? translation['same-day-filing'] : 'Same Day Filing' }}</strong>
		    		</label>
		        </div>
		    </div>

		    <a class="btn btn-primary pull-right" @click="changeScreen(2)">
		    	{{ (translation) ? translation['continue'] : 'Continue' }}
		    </a>
	    	<a class="btn btn-default pull-right m-r-10" data-dismiss="modal">
	    		{{ (translation) ? translation['close'] : 'Close' }}
	    	</a>
    	</div>

    	<div v-show="screen == 2">
    		<div class="table-responsive">
                <table class="table table-striped table-bordered table-hover add-new-service-datatable">
                    <thead>
	                    <tr>
	                        <th class="text-center">
	                        	<input type="checkbox" @click="toggleAllCheckbox">
	                        </th>
	                        <th>{{ (translation) ? translation['name'] : 'Name' }}</th>
	                        <th>{{ (translation) ? translation['client-id'] : 'Client ID' }}</th>
	                        <th>{{ (translation) ? translation['packages'] : 'Packages' }}</th>
	                    </tr>
                    </thead>
                    <tbody>
                    	<tr v-for="data in clients">
                    		<td class="text-center">
                    			<input type="checkbox" :value="data.client.id" v-model="addNewServiceForm.clients" @click="toggleClient($event, data.client.id)">
                    		</td>
                    		<td>{{ data.client.first_name }} {{ data.client.last_name }}</td>
                    		<td>{{ data.client.id }}</td>
                    		<td>
                    			<select class="form-control" :class="'package-select-' + data.client.id" 
                    			:disabled="addNewServiceForm.clients.indexOf(data.client.id) == -1">
                    				<option value="Generate new package">
                    					{{ (translation) ? translation['generate-new-package'] : 'Generate new package' }}
                    				</option>
                    				<option v-for="package in data.client.packages" :value="package.tracking" v-if="package.status != 4">
                    					{{package.tracking}} 
                    					({{ package.log_date | commonDate }})
                    				</option>
                    			</select>
                    		</td>
                    	</tr>
                    </tbody>
                </table>
            </div>

            <a class="btn btn-primary pull-right" @click="changeScreen(3)">
            	{{ (translation) ? translation['continue'] : 'Continue' }}
            </a>
	    	<a class="btn btn-default pull-right m-r-10" @click="changeScreen(1)">
	    		{{ (translation) ? translation['back'] : 'Back' }}
	    	</a>
    	</div>

    	<div v-show="screen == 3">
    		<div class="ios-scroll" v-if="detailArray.length > 0">
    			<label class="checkbox-inline" v-show="showCheckboxAll">
    				<input type="checkbox" @click="checkAllForAllServices" class="checkbox-all"> {{ (translation) ? translation['check-all-required-documents'] : 'Check all required documents for all services' }}
    			</label>

    			<div style="height:20px; clear:both;"></div> <!-- spacer -->

	    		<div v-for="(clientId, index1) in addNewServiceForm.clients" class="panel panel-default">
	               	<div class="panel-heading">
	                    <strong>{{ getClientName(clientId) }}</strong>
	                </div>
	                <div class="panel-body">
	                    
	                	<div v-for="(serviceId, index2) in addNewServiceForm.services" class="panel panel-default">
			               	<div class="panel-heading">
			                    {{ getServiceName(serviceId) }}
			                    <label class="checkbox-inline pull-right" v-show="requiredDocs[index2] && requiredDocs[index2].length != 0">
			                    	<input type="checkbox" @click="checkAll($event, index1, index2, clientId)" :class="'checkbox-' + index1 + '-' + index2" :data-chkbox-class="index1 + '-' + index2"> {{ (translation) ? translation['check-all-required-documents'] : 'Check all required documents' }}
			                    </label>
			                </div>
			                <div class="panel-body">
			                    
			                	<div class="form-group">
								    <label class="col-md-3 control-label">
								       	{{ (translation) ? translation['required-documents'] : 'Required Documents' }}:
								    </label>

								    <div class="col-md-9">
							            <div v-for="doc in requiredDocs[index2]">
							            	<label>
							            		<input type="checkbox" @click="checkIndividual(index1, index2); toggleCommonUniqueDocument($event, clientId, doc)" :value="doc.id" class="chkbx-required" :name="'rDocs-' + index1 + '-' + index2" :checked="isCheckedAndDisabled(clientId, doc.id) || isChecked(clientId, (doc.id).toString())" :disabled="isCheckedAndDisabled(clientId, doc.id)" 
							            		:data-is-unique="doc.is_unique"> {{ doc.title }}
							            	</label>
							            </div>

							            <p v-if="anyAcrIcardRequiredDocsArray[index2] && anyAcrIcardRequiredDocsArray[index2].length > 0" style="font-weight:bold; margin-top:10px;">
							            	ACR-ICARD:
							            </p>
							            <div v-for="a in anyAcrIcardRequiredDocsArray[index2]">
							            	<label class="text-normal">
							            		<input type="radio" :value="a.id" :name="'anyAcrIcardRequiredDocsArray-' + index1 + '-' + index2" :checked="isCheckedAndDisabled(clientId, a.id) || isChecked(clientId, (a.id).toString())" :disabled="isCheckedAndDisabled(clientId, a.id)" @click="toggleCommonUniqueDocument($event, clientId, a)"> 
							            		{{ a.title }}
							            	</label>
							            </div>

							            <div style="height:6px;clear:both;"></div>

								        <p class="text-muted" v-if="requiredDocs[index2] && requiredDocs[index2].length == 0 && anyAcrIcardRequiredDocsArray[index2] && anyAcrIcardRequiredDocsArray[index2].length == 0">
								        	No documents to show.
								        </p>
								    </div>
								</div>

								<div class="form-group">
								    <label class="col-md-3 control-label">
								       	{{ (translation) ? translation['optional-documents'] : 'Optional Documents' }}:
								    </label>

								    <div class="col-md-9">
							            <div v-for="doc in optionalDocs[index2]">
							            	<label>
							            		<input type="checkbox" :value="doc.id" :name="'oDocs-' + index1 + '-' + index2" :checked="isCheckedAndDisabled(clientId, doc.id) || isChecked(clientId, (doc.id).toString())" :disabled="isCheckedAndDisabled(clientId, doc.id)" @click="toggleCommonUniqueDocument($event, clientId, doc)" :data-is-unique="doc.is_unique"> {{ doc.title }}
							            	</label>
							            </div>

							            <p v-if="anyAcrIcardOptionalDocsArray[index2] && anyAcrIcardOptionalDocsArray[index2].length > 0" style="font-weight:bold; margin-top:10px;">
							            	ACR-ICARD:
							            </p>
							            <div v-for="a in anyAcrIcardOptionalDocsArray[index2]">
							            	<label class="text-normal">
							            		<input type="radio" :value="a.id" :name="'anyAcrIcardOptionalDocsArray-' + index1 + '-' + index2" :checked="isCheckedAndDisabled(clientId, a.id) || isChecked(clientId, (a.id).toString())" :disabled="isCheckedAndDisabled(clientId, a.id)" @click="toggleCommonUniqueDocument($event, clientId, a)"> 
							            		{{ a.title }}
							            	</label>
							            </div>

							            <div style="height:6px;clear:both;"></div>
							            
								        <p class="text-muted" v-if="optionalDocs[index2] && optionalDocs[index2].length == 0 && anyAcrIcardOptionalDocsArray[index2] && anyAcrIcardOptionalDocsArray[index2].length == 0">
								        	No documents to show.
								        </p>
								    </div>
								</div>

			                </div> <!-- SERVICE panel-body -->
			            </div> <!-- SERVICE panel -->

	                </div> <!-- CLIENT panel-body -->
	            </div> <!-- CLIENT panel -->
            </div>

    		<button v-if="!loading" type="submit" class="btn btn-primary pull-right">{{ (translation) ? translation['save'] : 'Save' }}</button>
    		<button v-if="loading" type="button" class="btn btn-default pull-right">
	            <div class="sk-spinner sk-spinner-wave" style="width:40px; height:20px;">
	                <div class="sk-rect1"></div>
	                <div class="sk-rect2"></div>
	                <div class="sk-rect3"></div>
	                <div class="sk-rect4"></div>
	                <div class="sk-rect5"></div>
	             </div>
	        </button>
	    	<a class="btn btn-default pull-right m-r-10" @click="changeScreen(2)">{{ (translation) ? translation['back'] : 'Back' }}</a>
    	</div>

    </form>

</template>

<script>
    export default{
    	props: ['groupid'],

        data() {
        	return {
				
				
        		translation: null,

        		loading: false,

        		screen: 1,

        		servicesList: [],


        		clients: [],

        		detailArray: [],
        		requiredDocs: [],
        		anyAcrIcardRequiredDocsArray: [],
        		optionalDocs: [],
        		anyAcrIcardOptionalDocsArray: [],

        		showCheckboxAll: false,

        		addNewServiceForm: new Form({
        			charge: '',
        			cost: '',
        			tip: '',
					services: [],
					note: '',
					discount: '',
					reason: '',
					reporting: '',

					clients: [],
					packages:[],
					docs: [],
					sameDayFilling: false
				}, { baseURL: axiosAPIv1.defaults.baseURL }),

				clickedCommonUniqueDocument: []
        	}
        },

        methods: {
        	// check() {
        	// 	console.log(this.addNewServiceForm.clients);
        	// },

        	toggleClient(e, clientId) {
        		let isChecked = e.target.checked;

        		if( isChecked ) {
        			this.clickedCommonUniqueDocument.push({
        				id: clientId,
        				documents: []
        			});
        		} else {
        			let indexToBeRemove = null;
        			this.clickedCommonUniqueDocument.forEach((c, index) => {
        				if( c.id == clientId ) {
        					indexToBeRemove = index;
        				}
        			});

        			if( indexToBeRemove ) {
        				this.clickedCommonUniqueDocument.splice(indexToBeRemove, 1);
        			}
        		}
        	},

        	toggleCommonUniqueDocument(e, clientId, document) {
        		let isChecked = e.target.checked;

        		this.clickedCommonUniqueDocument.forEach((c, i) => {
        			if( c.id == clientId ) {
        				let index = c.documents.indexOf(document.id);
        				
        				if( document.is_unique == 1 && isChecked && index == -1 ) {
		        			this.clickedCommonUniqueDocument[i].documents.push(document.id);
		        		} else if( document.is_unique == 1 && !isChecked && index != -1 ) {
		        			this.clickedCommonUniqueDocument[i].documents.splice(index, 1);
		        		}
        			}
        		});
        	},

        	isChecked(clientId, documentId) {
        		var flag = false;

        		this.clickedCommonUniqueDocument.forEach((c, i) => {
        			if( c.id == clientId ) {
        				flag = this.clickedCommonUniqueDocument[i].documents.includes(documentId);
        			}
        		});

        		return flag;
        	},

        	getTranslation() {
        		axios.get('/visa/group/translation/add-new-service')
			        .then(response => {
			        	this.translation = response.data.translation;
			        });
			},

        	fetchServiceList() {
        		axios.get('/visa/service-manager/showService/'+this.groupid)
					.then(response => {
						this.servicesList = response.data.filter(r => r.parent_id != 0);

						setTimeout(() => {
							$(".chosen-select-for-service").trigger("chosen:updated");
						}, 1000);
						
					})
					.catch(error => console.log(error) );
        	},

        	resetAddNewServiceForm() {
        		this.screen = 1;

        		this.addNewServiceForm.services = [];
        		this.addNewServiceForm.note = '';
        		this.addNewServiceForm.discount = '';
        		this.addNewServiceForm.reason = '';
        		this.addNewServiceForm.reporting = '';
        		this.addNewServiceForm.clients = [];
        		this.addNewServiceForm.packages = [];
        		this.addNewServiceForm.docs = [];
        		this.addNewServiceForm.sameDayFilling = false;	
				this.addNewServiceForm.client_com_id=this.$parent.$parent.client_com,
				this.addNewServiceForm.agent_com_id=this.$parent.$parent.agent_com,
        		this.addNewServiceForm.charge = '';
        		this.addNewServiceForm.cost = '';
        		this.addNewServiceForm.tip = '';

        		$('input.checkbox-all').prop('checked', false);

        		// Deselect All
				$('.chosen-select-for-service, .chosen-select-for-required-docs, .chosen-select-for-optional-docs').val('').trigger('chosen:updated');
				
				this.detailArray = [];
				this.requiredDocs = [];
				this.anyAcrIcardRequiredDocsArray = [];
				this.optionalDocs = [];
				this.anyAcrIcardOptionalDocsArray = [];

				this.showCheckboxAll = false;

				this.clickedCommonUniqueDocument = [];
        	},

        	addNewService() {
        		this.loading = true;

        		this.addNewServiceForm.packages = [];
				var tbl = $('.add-new-service-datatable').DataTable();
	        	this.addNewServiceForm.clients.forEach((c, index) => {
	        		let value = tbl.$('select.package-select-' + c).val();
	        		this.addNewServiceForm.packages.push(value);
	        	});

	        	var docsArray = [];
        		var requiredDocs = '';
        		var anyAcrIcardRequiredDocsArray = '';
        		var optionalDocs = '';
        		var anyAcrIcardOptionalDocsArray = '';
        		var hasRequiredDocsErrors = [];

	        	this.addNewServiceForm.services.forEach((service, index2) => {
	        		this.addNewServiceForm.clients.forEach((client, index1) => {
					    let requiredOptions = $('input[name="rDocs-' + index1 + '-' + index2 + '"]:visible').length + (this.anyAcrIcardRequiredDocsArray[index2].length > 0 ? 1 : 0);
	        			let requiredCount = $('input[name="rDocs-' + index1 + '-' + index2 + '"]:checked:visible').length + $('input[name="anyAcrIcardRequiredDocsArray-' + index1 + '-' + index2 + '"]:checked:visible').length;

	        			if(requiredCount == 0 && requiredOptions > 0) {
	        				hasRequiredDocsErrors.push({
	        					client: this.getClientName(client),
	        					service: this.getServiceName(service)
	        				});
	        			}

	        			$.each($('input[name="rDocs-' + index1 + '-' + index2 + '"]:checked:visible'), function() {
			                requiredDocs += $(this).val() + ',';
			            });

			            $.each($('input[name="anyAcrIcardRequiredDocsArray-' + index1 + '-' + index2 + '"]:checked:visible'), function() {
			                anyAcrIcardRequiredDocsArray += $(this).val() + ',';
			            });

			            $.each($('input[name="oDocs-' + index1 + '-' + index2 + '"]:checked:visible'), function() {
			                optionalDocs += $(this).val() + ',';
			            });

			            $.each($('input[name="anyAcrIcardOptionalDocsArray-' + index1 + '-' + index2 + '"]:checked:visible'), function() {
			                anyAcrIcardOptionalDocsArray += $(this).val() + ',';
			            });

					    docsArray.push((requiredDocs + optionalDocs + anyAcrIcardRequiredDocsArray + anyAcrIcardOptionalDocsArray).slice(0, -1));
				    	requiredDocs = '';
				    	anyAcrIcardRequiredDocsArray = '';
				    	optionalDocs = '';
				    	anyAcrIcardOptionalDocsArray = '';
	        		});
	        	});
        		
        		this.addNewServiceForm.docs = docsArray;

        		if(hasRequiredDocsErrors.length > 0){
        			for(let i=0; i<hasRequiredDocsErrors.length; i++) {
        				toastr.error( (this.translation) ? this.translation['please-select-from-required-documents'] : 'Please select from required documents', hasRequiredDocsErrors[i].client + ' - ' + hasRequiredDocsErrors[i].service);
        			}
        			this.loading = false;
         		} else {
					
		        	this.addNewServiceForm.submit('post', '/visa/group/' + this.groupid + '/add-service')
			            .then(response => {
			                if(response.success) {
								
			                	this.$parent.$parent.fetchDetails();
			                	this.$parent.$parent.fetchGBatch();
								this.$parent.$parent.fetchGServices();
								this.$parent.$parent.$refs.groupmembers.$refs.wizards.resetLoadedData();
								
                				//this.$parent.$parent.getGroupMembers();
								
			                	this.fetchGroupPackagesServicesList();
			                	

			                	
								if(this.client_com_id==0 && this.agent_com_id==0){
									this.agent_com_id = this.addNewServiceForm.agent_com_id;
									this.client_com_id = this.addNewServiceForm.client_com_id;
									this.$parent.$parent.client_com = this.addNewServiceForm.client_com_id;
									this.$parent.$parent.agent_com = this.addNewServiceForm.agent_com_id;
								}
								
								$('#add-new-service-modal').modal('hide');
								this.resetAddNewServiceForm();

			                	toastr.success(response.message);
			                }

			                this.loading = false;
			            })
			            .catch(error => {
			            	for(var key in error) {
			            		if(error.hasOwnProperty(key)) toastr.error(error[key][0])
			            	}

			            	this.loading = false;
			            });
			    }
			},

			toggleCheckAllRequiredDocumentsForAllServices() {
        		$('input.checkbox-all').prop('checked', false);

        		var visibility = false;

        		this.addNewServiceForm.services.forEach((s, index2) => {
        			if( this.requiredDocs[index2].length != 0 ) {
        				visibility = true;
        			}
        		});

        		this.showCheckboxAll = visibility;
        	},

			getDocs(servicesId) {
				this.showCheckboxAll = false;

				axios.get('/visa/get-docs', {
						params: {
					      	servicesId: servicesId
					    }
					})
					.then(result => {
				        this.detailArray = result.data.detailArray;
				        this.requiredDocs = result.data.requiredDocsArray;
				        this.anyAcrIcardRequiredDocsArray = result.data.anyAcrIcardRequiredDocsArray;
				        this.optionalDocs = result.data.optionalDocsArray;
				        this.anyAcrIcardOptionalDocsArray = result.data.anyAcrIcardOptionalDocsArray;

				        this.toggleCheckAllRequiredDocumentsForAllServices();
					});
			},

			getClientName(clientId) {
				var clientName = '';
				this.clients.forEach(client => {
					if(client.client.id == clientId) {
						clientName = client.client.first_name + ' ' + client.client.last_name; 
					}
				});

				return clientName;
			},

			getServiceName(serviceId) {
				var serviceName = '';
				this.servicesList.forEach(service => {
					if(service.id == serviceId) {
						serviceName = service.detail; 
					}
				});

				return serviceName;
			},

			initChosenSelect() {
				$('.chosen-select-for-service').chosen({
					width: "100%",
					no_results_text: "No result/s found.",
					search_contains: true
				});

				let vm = this;

				$('.chosen-select-for-service').on('change', function() {
					let services = $(this).val();

					vm.getDocs(services);

					 // console.log(services);
					// sort selected services IDs desc
					services.sort(function(a, b) {
					  if (isNaN(a) || isNaN(b)) {
					    if (a < b) return -1;
					    else return 1;
					  }
					  return a - b;
					});
					//console.log(services);

					vm.addNewServiceForm.services = services;

					// Set cost input
					if(services.length == 1) {
						vm.servicesList.map(s => {
							if(s.id == services[0]) {
								var profileID = vm.$parent.$parent.current_cost;
								var branchID = vm.$parent.$parent.current_branch;
								var profileCost = 0;
								// if(parseInt(profileID)> 0){
									axios.get('/visa/service-manager/getServiceProfileCost/'+s.id+'/'+profileID+'/'+branchID)
									.then(response => {
									
										profileCost = response.data;
										// if(parseInt(profileCost) < 1 ){
										// 	profileCost = s.charge;
										// }
										//var serviceCharge = parseFloat(s.cost) + parseFloat(profileCost) + parseFloat(s.tip);
										// if($('#add-new-service-modal').is(':visible')){	
										//console.log(profileCost);
										if(vm.addNewServiceForm.services > 0){									
											vm.addNewServiceForm.cost = profileCost.cost;
											vm.addNewServiceForm.charge = parseFloat(profileCost.charge)+parseFloat(profileCost.com_client)+parseFloat(profileCost.com_agent);
											vm.addNewServiceForm.tip = profileCost.tip;
										}
									})
									.catch(error => console.log(error) );
								// }
								// else{
								// 	if(parseInt(profileCost) < 1 ){
								// 			profileCost = s.charge;
								// 		}
								// 	//var serviceCharge = parseFloat(s.cost) + parseFloat(profileCost) + parseFloat(s.tip);
								// 	vm.addNewServiceForm.cost = s.cost;
								// 	vm.addNewServiceForm.charge = profileCost;
								// 	vm.addNewServiceForm.tip = s.tip;
								// }

							}
						});
					} else {
						vm.addNewServiceForm.cost = 0;
						vm.addNewServiceForm.charge = 0;
						vm.addNewServiceForm.tip = 0;
					}

				});

			},

			changeScreen(screen) {
			
				if(screen == 2) {
						
					if(this.addNewServiceForm.services.length == 0) {
						toastr.error( (this.translation) ? this.translation['please-select-at-least-one-service'] : 'Please select at least one service' );
					
					}else{
						axios.get('/visa/group/checkCommissionApplication',{
						params: {
							client_id:this.$parent.$parent.client_commission.client_id,
							agent_id:this.$parent.$parent.agent_commission.client_id,
							services:this.addNewServiceForm.services,
							profile_id: this.$parent.$parent.pselected,
							branch_id: this.$parent.$parent.branchId,
							
						}
					})
					.then(response => {
						var clientflag = true;
						var agentflag = true;
						if(!response.data.client_flag && !response.data.agent_flag){
							if(this.$parent.$parent.client_commission.client_id>0){
								toastr.error('You have selected a client who will recieve commission but, one of the selected services has no commission included.');
							}else{
								toastr.error('You have not selected a client who will recieve commission but, one of the selected services has commission included.');
							}
							clientflag = false;
						// }
						// if(!response.data.agent_flag){
							if(this.$parent.$parent.agent_commission.client_id>0){
								toastr.error('You have selected a agent who will recieve commission but, one of the selected services has no commission included.');
							}else{
								toastr.error('You have not selected a agent who will recieve commission but, one of the selected services has commission included.');
							}
							agentflag = false;
						}
						if(agentflag || clientflag){
							this.screen = screen;
						}
					
					})
					.catch(error => console.log(error) );
					}
					
				}else if(screen == 3) {
					var flag = true;
					if(this.addNewServiceForm.clients.length == 0) {
	        			toastr.error( (this.translation) ? this.translation['please-select-at-least-one-member'] : 'Please select at least one member' );
						flag = false;
	        		}

	        		setTimeout(() => {
				        $('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').chosen('destroy');
				        $('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').chosen({
							width: "100%",
							no_results_text: "No result/s found.",
							search_contains: true
						});

			        	$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').trigger('chosen:updated');
					}, 1000);
					
					if(flag){
							this.screen = screen;
					}
				}else{
					this.screen = screen;
				}

				
			},

			fetchGroupPackagesServicesList() {
				axios.get('/visa/group/'+ this.groupid +'/packages-services')
					.then(response => {
						this.clients = response.data;

						this.callDataTable();
					})
					.catch(error => console.log(error) );
			},

			callDataTable() {
				$('.add-new-service-datatable').DataTable().destroy();

				setTimeout(function() {
					$('.add-new-service-datatable').DataTable({
			            pageLength: 10,
			            responsive: true,
			            dom: '<"top"lf>rt<"bottom"ip><"clear">'
			        });
				}, 1000);
			},

			toggleAllCheckbox(e) {
				if(e.target.checked == true) {
					this.addNewServiceForm.clients = [];
					this.clients.forEach((c, index) => {
						this.addNewServiceForm.clients.push(c.client.id);
					});
				} else {
					this.addNewServiceForm.clients = [];
				}
			},

			checkAllForAllServices(e) {
				let checked = e.target.checked;

			    this.addNewServiceForm.clients.forEach((clientId, index1) => {
			    	this.addNewServiceForm.services.forEach((service, index2) => {
			    		$('input.checkbox-'+index1+'-'+index2+':visible').prop('checked', checked);
			    		$('input[name="rDocs-'+index1+'-'+index2+'"]:visible:not(:disabled)').prop('checked', checked);

			    		var vm = this;
						$.each($('input[name="rDocs-'+index1+'-'+index2+'"]:visible:not(:disabled)'), function() {
				            var isUnique = $(this).attr("data-is-unique");
				            var documentId = $(this).val();

			        		vm.clickedCommonUniqueDocument.forEach((c, i) => {
			        			if( c.id == clientId ) {
			        				let index = c.documents.indexOf(documentId);
			        				
			        				if( isUnique == 1 && checked && index == -1 ) {
					        			vm.clickedCommonUniqueDocument[i].documents.push(documentId);
					        		} else if( isUnique == 1 && !checked && index != -1 ) {
					        			vm.clickedCommonUniqueDocument[i].documents.splice(index, 1);
					        		}
			        			}
			        		});
				        });
			    	});
			    });
			},

			checkAll(e, index1, index2, clientId) {
				let checked1 = e.target.checked;
				$('input[name="rDocs-'+index1+'-'+index2+'"]:visible:not(:disabled)').prop('checked', checked1);

				let checked2 = true;
				this.addNewServiceForm.clients.forEach((c, index1) => {
			    	this.addNewServiceForm.services.forEach((s, index2) => {
			    		if( $('input.checkbox-'+index1+'-'+index2).is(":visible") && !$('input.checkbox-'+index1+'-'+index2+':visible').prop('checked') ) {
			    			checked2 = false;
			    		}
			    	});
			    });
				$('input.checkbox-all:visible').prop('checked', checked2);

				var vm = this;
				$.each($('input[name="rDocs-'+index1+'-'+index2+'"]:visible:not(:disabled)'), function() {
		            var isUnique = $(this).attr("data-is-unique");
		            var documentId = $(this).val();

	        		vm.clickedCommonUniqueDocument.forEach((c, i) => {
	        			if( c.id == clientId ) {
	        				let index = c.documents.indexOf(documentId);
	        				
	        				if( isUnique == 1 && checked1 && index == -1 ) {
			        			vm.clickedCommonUniqueDocument[i].documents.push(documentId);
			        		} else if( isUnique == 1 && !checked1 && index != -1 ) {
			        			vm.clickedCommonUniqueDocument[i].documents.splice(index, 1);
			        		}
	        			}
	        		});
		        });
			},

			checkIndividual(index1, index2) {
 				let requiredOptions = $('input[name="rDocs-'+index1+'-'+index2+'"]:visible').length;
	        	let requiredCount = $('input[name="rDocs-'+index1+'-'+index2+'"]:checked:visible').length;

	        	let checked1 = false;
	        	if(requiredOptions == requiredCount) { 
	        		checked1 = true; 
	        	}
	        	$('input.checkbox-'+ index1 + '-' + index2 +':visible').prop('checked', checked1);

	        	let checked2 = true;
				this.addNewServiceForm.clients.forEach((c, index1) => {
			    	this.addNewServiceForm.services.forEach((s, index2) => {
			    		if( $('input.checkbox-'+index1+'-'+index2).is(":visible") && !$('input.checkbox-'+index1+'-'+index2+':visible').prop('checked') ) {
			    			checked2 = false;
			    		}
			    	});
			    });
				$('input.checkbox-all:visible').prop('checked', checked2);
 			},

 			isCheckedAndDisabled(clientId, docId) {
 				var flag = false;
 				this.clients.forEach(c => {
 					if( c.client.id == clientId && c.client.uniqueDocumentsOnHand.includes((docId).toString())) {
 						flag = true;
 					}
 				});

 				return flag;
 			}
        },

        watch: {
		    clickedCommonUniqueDocument: {
		    	handler(commonUniqueDocument) {
		    		setTimeout(() => {
						this.addNewServiceForm.clients.forEach((c, index1) => {
							this.addNewServiceForm.services.forEach((s, index2) => {
								this.checkIndividual(index1, index2);
							});
						});
		    		}, 1000);
		    	},
		    	deep: true
		    }
		},

        created() {
			if(window.Laravel.language == 'cn'){
        		this.getTranslation();
        	}
        	this.fetchServiceList();
			this.fetchGroupPackagesServicesList();
		
        },

        mounted() {
        	this.initChosenSelect();

        	$('#add-new-service-modal').on('show.bs.modal', () => {
		        this.resetAddNewServiceForm();
		    });
        }
    }
</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
	.checkbox-inline {
		margin-top: -7px;
	}
</style>