<template>
	
	<form class="form-horizontal" @submit.prevent="addQuickReport">

		<div class="form-group">
		    <label class="col-md-2 control-label">
		        Action: <span class="text-danger">*</span>
		    </label>

		    <div class="col-md-10">
		        <select class="form-control" name="action" v-model="quickReportForm.actionId" @change="getCategories">
		            <option v-for="action in actions" :value="action.id">
		           		{{ action.name }}
		            </option>
		        </select>
		    </div>
		</div>

		<div class="form-group" v-show="quickReportForm.actionId == 1 || quickReportForm.actionId == 2 || quickReportForm.actionId == 3 || quickReportForm.actionId == 8 || quickReportForm.actionId == 9 || quickReportForm.actionId == 10 || quickReportForm.actionId == 11">
		    <label class="col-md-2 control-label">
		        Category: <span class="text-danger">*</span>
		    </label>

		    <div class="col-md-10">
		        <select class="form-control" name="category" v-model="quickReportForm.categoryId" @change="changeCategoryHandler" v-if="!customCategory">
		            <option v-for="category in categories" :value="category.id">
		            	{{ category.name }}
		            </option>
		        </select>

		        <input type="text" class="form-control" placeholder="Enter category" id="categoryName" v-show="customCategory">

		        <div style="height:10px; clear:both;"></div>
		        
		        <button type="button" class="btn btn-sm btn-primary pull-right" @click="customCategory = !customCategory; quickReportForm.categoryId = null" v-show="quickReportForm.actionId == 9">
		        	<span v-show="!customCategory">Use Custom Category</span>
		        	<span v-show="customCategory">Use Predefined Category</span>
		        </button>
		    </div>
		</div>

		<div v-show="quickReportForm.actionId == 1"> <!-- Filed -->
			<!-- Date picker (date1 : auto capture : required) -->

			<!-- Date picker (date2 : required) (Always visible) -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	Estimated Releasing Date: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" id="date2">
                    </div>
			    </div>
			</div>

			<!-- Array of Datetime picker (dateArray : optional) (Visible if action category_id is 1) -->
			<div class="form-group" v-show="quickReportForm.categoryId == 1">
				<label class="col-md-2 control-label">
			       	Scheduled Hearing Date and Time:
			    </label>
			    <div class="col-md-10">
			    	<div class="row" v-for="(dateElement, index) in quickReportForm.dateArray">
				    	<div class="col-md-11">
					    	<div class="input-group date" style="margin-bottom: 10px;">
		                        <span class="input-group-addon">
		                        	<i class="fa fa-calendar"></i>
		                       	</span>

		                       	<input type="text" class="form-control datePickerArray" name="dateArray[]" placeholder="yyyy-mm-dd hh:mm:ss">
		                    </div>
	                    </div>
	                    <div class="col-md-1 text-center">
	                    	<button type="button" class="btn btn-danger btn-sm" @click="removeDatePickerArray(index)">
	                    		<i class="fa fa-times"></i>
	                    	</button>
	                    </div>
                    </div>

                    <div style="height:10px;clear:both;"></div>

                    <button type="button" class="btn btn-primary btn-sm pull-right" @click="addDatePickerArray">
                    	<i class="fa fa-plus"></i> Add
                    </button>
			    </div>
			</div>

			<!-- Datetime picker (date3 : optional) (Visible if action category_id is 6,7,10,14,15) -->
			<div class="form-group" v-show="quickReportForm.categoryId == 6 || quickReportForm.categoryId == 7 || quickReportForm.categoryId == 10 || quickReportForm.categoryId == 14 || quickReportForm.categoryId == 15">
				<label class="col-md-2 control-label">
			       	Scheduled Appointment Date and Time:
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datetimepicker" id="date9">
                    </div>
			    </div>
			</div>

		</div>

		<div v-show="quickReportForm.actionId == 2"> <!-- Released -->
			<!-- Empty -->
		</div>

		<div v-show="quickReportForm.actionId == 3"> <!-- Paid OPS -->
			<!-- Date picker (date1 : auto capture : required) -->
		</div>

		<div v-show="quickReportForm.actionId == 4"> <!-- Unable to file need additional requirements -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	Documents: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
		            <select data-placeholder="Select Docs" class="chosen-select-for-docs" multiple style="width:350px;" tabindex="4">
		                <option v-for="doc in docs" :value="doc.title">
		                	{{ (doc.title).trim() }}
		                </option>
		            </select>
			    </div>
			</div>
		</div>

		<div v-show="quickReportForm.actionId == 5"> <!-- Document Selections -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	Documents: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
		            <select data-placeholder="Select Docs" class="chosen-select-for-docs" multiple style="width:350px;" tabindex="4">
		                <option v-for="doc in docs" :value="doc.title">
		                	{{ (doc.title).trim() }}
		                </option>
		            </select>
			    </div>
			</div>
		</div>

		<div v-show="quickReportForm.actionId == 6"> <!-- Deadline of Submission -->
			<!-- Date picker (date1 : required) -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	Submission Date: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" id="date1">
                    </div>
			    </div>
			</div>

			<!-- Multi selection (extraDetails : array of consequence : optional) -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	Consequence of none submission:
			    </label>

			    <div class="col-md-10">
			    	<div>
			    		<label>
			    			<input type="checkbox" v-model="quickReportForm.extraDetails" value="Addtional cost maybe charged.">
			    			Addtional cost maybe charged.
			    		</label>
			    	</div>
			    	<div>
			    		<label>
			    			<input type="checkbox" v-model="quickReportForm.extraDetails" value="Application maybe forfeited and has to re-apply.">
			    			Application maybe forfeited and has to re-apply.
			    		</label>
			    	</div>
			    	<div>
			    		<label>
			    			<input type="checkbox" v-model="quickReportForm.extraDetails" value="Initial deposit maybe forfeited.">
			    			Initial deposit maybe forfeited.
			    		</label>
			    	</div>
			    </div>
			</div>
		</div>

		<div v-show="quickReportForm.actionId == 7"> <!-- For Implementation -->
			<!-- Date picker (date1 : auto capture : required) -->

			<!-- Datetime picker (date2 : required) -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	Estimated Time of Finishing: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datetimepicker" id="date10">
                    </div>
			    </div>
			</div>
		</div>

		<div v-show="quickReportForm.actionId == 8"> <!-- Unable to file due to bad weather -->
			<!-- Date picker (date1 : required) -->
			<!-- Date picker (date2 : required) -->
            <div class="form-group">
			    <label class="col-md-2 control-label">
			       	Affected Date: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			    	<div class="input-daterange input-group">
		                <input type="text" class="input-sm form-control datepicker" id="date4" />
		                <span class="input-group-addon">to</span>
		                <input type="text" class="input-sm form-control datepicker" id="date5" />
		            </div>
			    </div>
			</div>

			<!-- Date picker (date3 : optional) -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	Target Filling Date:
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" id="date3">
                    </div>
			    </div>
			</div>

		</div>

		<div v-show="quickReportForm.actionId == 9"> <!-- Unable to finish due to suspension of work -->

			<!-- Datetime picker (date1 : required) -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	Date Range: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
                    <div class="input-daterange input-group">
		                <input type="text" class="input-sm form-control datepicker" id="date6" />
		                <span class="input-group-addon">to</span>
		                <input type="text" class="input-sm form-control datepicker" id="date11" />
		            </div>
			    </div>
			</div>

		</div>

		<div v-show="quickReportForm.actionId == 10"> <!-- Processing Period Extension -->

			<!-- Date picker (date1 : required) -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	Extended period for processing: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" id="date7">
                    </div>
			    </div>
			</div>

		</div>

		<div v-show="quickReportForm.actionId == 11"> <!-- For payment of SEC Certificate in SEC -->

			<!-- Date picker (date1 : required) -->
				<!-- Auto capture date -->
			<!-- Date picker (date2 : required) -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	Estimated Releasing Date: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" id="date8">
                    </div>
			    </div>
			</div>

		</div>

		<button type="submit" class="btn btn-primary pull-right">Create Report</button>
	    <button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">Close</button>

	</form>

</template>

<script>
	
	export default {

    	props: ['groupid', 'clientsid', 'clientservicesid', 'trackings', 'writereport'],

    	data() {
        	return {
        		today: null,

        		actions: [],
        		categories: [],
        		docs: [],

        		customCategory: false,

        		quickReportForm : new Form({
        			groupReport: true,
        			groupId: null,

        			clientsId: [],
        			clientServicesId: [],
        			trackings: [],

        			actionId: 1,

        			categoryId: null,
        			categoryName: null,

        			date1: null,
        			date2: null,
        			date3: null,
        			dateArray: [],

        			extraDetails: []
        		}, { baseURL: axiosAPIv1.defaults.baseURL })
        	}
        },

        methods: {
        	changeCategoryHandler() {
        		if(this.quickReportForm.actionId == 1 && this.quickReportForm.categoryId == 1) {
        			this.addDatePickerArray();
        		}
        	},

        	addDatePickerArray() {
        		this.quickReportForm.dateArray.push(null);

        		setTimeout(() => {
			        $('.datePickerArray').inputmask("datetime", {
		                mask: "y-2-1 h:s:s", 
		                placeholder: "yyyy-mm-dd hh:mm:ss", 
		                leapday: "-02-29", 
		                separator: "-", 
		                alias: "yyyy-mm-dd"
		            });
        		}, 500);
        	},

        	removeDatePickerArray(index) {
        		this.quickReportForm.dateArray.splice(index, 1);

			    this.quickReportForm.dateArray.map((date, index) => $('input[name^="dateArray"]:eq(' + index + ')').val(date) );
        	},

        	resetQuickReportForm() {
        		this.quickReportForm = new Form({
        			groupReport: true,
        			groupId: null,

        			clientsId: [],
        			clientServicesId: [],
        			trackings: [],

        			actionId: 1,

        			categoryId: null,
        			categoryName: null,

        			date1: null,
        			date2: null,
        			date3: null,
        			dateArray: [],

        			extraDetails: []
        		}, { baseURL: axiosAPIv1.defaults.baseURL });

        		$('#date1, #date2, #date3, #date4, #date5, #date6, #date7, #date8, #date9, #date10, #date11, #categoryName').val('');

        		this.customCategory = false;

        		this.setExtraFieldsValue(1);
        	},

        	getCurrentDate() {
        		let today = new Date();
				let dd = today.getDate();
				let mm = today.getMonth() + 1;
				let yyyy = today.getFullYear();

				if(dd < 10) {
				    dd = '0' + dd;
				} 

				if(mm < 10) {
				    mm = '0' + mm;
				} 

				return mm + '/' + dd + '/' + yyyy;
        	},

        	setExtraFieldsValue(action) {
        		// Reset
        		this.quickReportForm.date1 = null;
        		this.quickReportForm.date2 = null;
        		this.quickReportForm.date3 = null;
        		this.quickReportForm.dateArray = [];
        		this.quickReportForm.extraDetails = [];

        		// For auto capture date
        		if(action == 1 || action == 3 || action == 4 || action == 5 ||  action == 7 || action == 11) {
        			this.quickReportForm.date1 = this.getCurrentDate();
        		}
        	},

        	getActions() {
        		axios.get('/visa/actions')
					.then(response => {
						this.actions = response.data;
					})
					.catch(error => console.log(error));
        	},

        	getCategories() {
        		let actionId = this.quickReportForm.actionId;

        		this.setExtraFieldsValue(actionId);

        		this.categories = [];

        		axios.get('/visa/categories-by-action-id', {
        				params: {
					    	actionId: actionId
					    }
        			})
					.then(response => {
						this.categories = response.data;
					})
					.catch(error => console.log(error));
        	},

        	getDateArrayValues() {
        		var dateArray = [];
        		$('input[name^="dateArray"]').each( function(e) {
			        dateArray.push( (this.value != '') ? this.value : null );
			    });

			    return dateArray;
        	},

			initChosenSelect() {

				$('.chosen-select-for-docs').chosen({
					width: "100%",
					no_results_text: "No result/s found.",
					search_contains: true
				});

			},


			fetchDocs(id){

				var ids = '';
				$.each(id, function(i, item) {
				    ids += id[i].docs_needed + ',' + id[i].docs_optional + ',';
				});

				var uniqueList=ids.split(',').filter(function(allItems,i,a){
				    return i==a.indexOf(allItems);
				}).join(',');
	        	
			 	axios.get('/visa/group/'+uniqueList+'/service-docs')
			 	  .then(result => {
		            this.docs = result.data;
		        });

	        	setTimeout(() => {
	        		$('.chosen-select-for-docs').trigger('chosen:updated');	
	        	}, 5000);
			},

        	addQuickReport() {

        		var docs = [];
        		$('.chosen-select-for-docs option:selected').each( function(e) {
			        docs.push($(this).val());
			    });

        		var error = 0;

        		if(this.quickReportForm.categoryId == 6 || this.quickReportForm.categoryId == 7 || this.quickReportForm.categoryId == 10 || this.quickReportForm.categoryId == 14 || this.quickReportForm.categoryId == 15){
        			this.quickReportForm.date3 = $('#date9').val();
        		}

				if(this.quickReportForm.actionId == 1){
					this.quickReportForm.date2 = $('#date2').val();
					if(this.quickReportForm.categoryId == null && $('#date2').val() == ''){
						toastr.error('Please select Category and fill up Estimated Releasing Date.');
						error = 1;
					}
					else if(this.quickReportForm.categoryId == null){
						toastr.error('Please select Category.');
						error = 1;
					}
					else if($('#date2').val() == ''){
						toastr.error('Please fill up Estimated Releasing Date.');
						error = 1;
					} else {
						error = 0;
					}

				}

				if(this.quickReportForm.actionId == 2 || this.quickReportForm.actionId == 3){
					if(this.quickReportForm.categoryId == null){
						toastr.error('Please select Category.');
						error = 1;
					} else {
						error = 0;
					}
				}

				if(this.quickReportForm.actionId == 4 || this.quickReportForm.actionId == 5){
        			this.quickReportForm.extraDetails = docs;
					if(docs.length == 0){
						error = 1;
						toastr.error('Please select Documents.');
					} else {
						error = 0;
					}
				}

				if(this.quickReportForm.actionId == 6){
					this.quickReportForm.date1 = $('#date1').val();
					if($('#date1').val() == ''){
						toastr.error('Please fill up Submission Date.');
						error = 1;
					} else {
						error = 0;
					}
				}

				if(this.quickReportForm.actionId == 7) {
					this.quickReportForm.date2 = $('#date10').val();
					if($('#date10').val() == ''){
						toastr.error('Please fill up Estimated Time of Finishing Date.');
						error = 1;
					} else {
						error = 0;
					}
				}

				if(this.quickReportForm.actionId == 8){
					this.quickReportForm.date1 = $('#date4').val();
					this.quickReportForm.date2 = $('#date5').val();
					this.quickReportForm.date3 = $('#date3').val();
					if(this.quickReportForm.categoryId == null && ($('#date4').val() == '' || $('#date5').val() == '')){
						toastr.error('Please select Category and fill up Affected Date.');
						error = 1;
					}
					else if(this.quickReportForm.categoryId == null){
						toastr.error('Please select Category.');
						error = 1;
					}
					else if($('#date4').val() == '' || $('#date5').val() == ''){
						toastr.error('Please fill up Affected Date.');
						error = 1;
					} else {
						error = 0;
					}
				}

				if(this.quickReportForm.actionId == 9){
					this.quickReportForm.date1 = $('#date6').val();
					this.quickReportForm.date2 = $('#date11').val();
					if(this.customCategory) {
						this.quickReportForm.categoryId = 0;
						this.quickReportForm.categoryName = $('#categoryName').val();

						if(this.quickReportForm.categoryName == '') {
							toastr.error('Please select Category.');
							error = 1;
						}
					}

					if(this.quickReportForm.categoryId == null && $('#date6').val() == '' && $('#date11').val() == ''){
						toastr.error('Please select Category and fill up Date Range.');
						error = 1;
					}
					else if(this.quickReportForm.categoryId == null){
						toastr.error('Please select Category.');
						error = 1;
					}
					else if($('#date6').val() == ''){
						toastr.error('Please fill up Date Range (From).');
						error = 1;
					} else if($('#date11').val() == '') {
						toastr.error('Please fill up Date Range (To).');
						error = 1;
					} else {
						error = 0;
					}
				}

				if(this.quickReportForm.actionId == 10){
					this.quickReportForm.date1 = $('#date7').val();
					if(this.quickReportForm.categoryId == null && $('#date7').val() == ''){
						toastr.error('Please select Category and fill up Extended period for processing.');
						error = 1;
					}
					else if(this.quickReportForm.categoryId == null){
						toastr.error('Please select Category.');
						error = 1;
					}
					else if($('#date7').val() == ''){
						toastr.error('Please fill up Extended period for processing.');
						error = 1;
					} else {
						error = 0;
					}
				}

				if(this.quickReportForm.actionId == 11){
					this.quickReportForm.date2 = $('#date8').val();
					if(this.quickReportForm.categoryId == null && $('#date8').val() == ''){
						toastr.error('Please select Category and fill up Estimated Releasing Date.');
						error = 1;
					}
					else if(this.quickReportForm.categoryId == null){
						toastr.error('Please select Category.');
						error = 1;
					}
					else if($('#date8').val() == ''){
						toastr.error('Please fill up Estimated Releasing Date.');
						error = 1;
					} else {
						error = 0;
					}

				}

        		this.quickReportForm.groupId = this.groupid;
                this.quickReportForm.groupReport = (this.groupid != null) ? true : false;
        		this.quickReportForm.clientsId = this.clientsid;
        		this.quickReportForm.clientServicesId = this.clientservicesid;
        		this.quickReportForm.trackings = this.trackings;
        		this.quickReportForm.dateArray = this.getDateArrayValues();

        		if(error==0){

	        		this.quickReportForm.submit('post', '/visa/quick-report')
			            .then(response => {
			            	if(response.success) {
			            		$(".chosen-select-for-docs").val('').trigger('chosen:updated');

			            		this.resetQuickReportForm();
			            		
			            		$('#add-quick-report-modal').modal('hide');

			            		if(this.isWriteReportPage) {
			            			$('#add-quick-report-modal').on('hidden.bs.modal', function (e) {
									  	window.location.href = '/visa/report/write-report';
									});
			            		}

			            		toastr.success(response.message);
			            	}
			            })
			            .catch(error => {
			            	for(var key in error) {
			            		if(error.hasOwnProperty(key)) toastr.error(error[key][0])
			            	}
			            });

        		}

        	}
        },

        created() {
        	this.getActions();

        	this.getCategories();
        },

        mounted() {

        	this.initChosenSelect();

        	// DatePicker
	        	$('.datepicker').datepicker({
	                todayBtn: "linked",
	                keyboardNavigation: false,
	                forceParse: false,
	                calendarWeeks: true,
	                autoclose: true,
	                format: "mm/dd/yyyy"
	            })
	            .on('changeDate', function(e) { // Bootstrap Datepicker onChange
	            	let id = e.target.id;
			        let date = e.target.value;

			        if(id == 'date1') { this.quickReportForm.date1 = date; }
			        else if(id == 'date2') { this.quickReportForm.date2 = date; } 
			        else if(id == 'date3') { this.quickReportForm.date3 = date; }
			    }.bind(this))
			    .on('change', function(e) { // native onChange
			    	let id = e.target.id;

			        if(id == 'date1') { 
			        	this.quickReportForm.date1 = ($('input#date1').val() != '') ? $('input#date1').val() : null; 
			        }
			        else if(id == 'date2') { 
			        	this.quickReportForm.date2 = ($('input#date2').val() != '') ? $('input#date2').val() : null;
			        } 
			        else if(id == 'date3') { 
			        	this.quickReportForm.date3 = ($('input#date3').val() != '') ? $('input#date3').val() : null;
			        }
			    }.bind(this));

			// DateTime Picker
				$('.datetimepicker').inputmask("datetime", {
		            mask: "y-2-1 h:s:s", 
		            placeholder: "yyyy-mm-dd hh:mm:ss", 
		            leapday: "-02-29", 
		            separator: "-", 
		            alias: "yyyy-mm-dd"
		        })
		        .on('change', function(e) {
		        	let id = e.target.id;
		        	let value = e.target.value;

			        if(id == 'date1') { 
			        	this.quickReportForm.date1 = (value != '') ? value : null; 
			        }
			        else if(id == 'date2') { 
			        	this.quickReportForm.date2 = (value != '') ? value : null;
			        } 
			        else if(id == 'date3') { 
			        	this.quickReportForm.date3 = (value != '') ? value : null;
			        }
		        }.bind(this));

        },

        computed: {
        	isWriteReportPage() {
		      	return this.writereport || false;
		    }
        }

    }

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>