<template>

	<form id="add-temporary-client-form" class="form-horizontal" @submit.prevent="addTemporaryClient">
		        
		<div v-show="screen == 1">
			<button type="button" class="btn pull-left" @click="addContactNumber">
				<i class="fa fa-plus"></i> {{ (translation) ? translation['add-contact-number'] : 'Add Contact Number' }}
			</button>

			<div style="height:20px; clear:both;"></div>

			<div v-for="(contact_number, index) in temporaryClientForm.contact_numbers" class="form-group" >
				<div class="col-sm-1">
					<button v-if="index != 0" type="button" class="btn btn-danger pull-right remove-btn" @click="removeContactNumber(index)">
						<i class="fa fa-times"></i>
					</button>
				</div>
				<div class="col-sm-3">
					({{ index+1 }}) {{ (translation) ? translation['contact-no'] : 'Contact No.' }}:
					<select class="form-control countryCode" name="country_code[]" :id="'sc_'+index" v-model="contact_number.country_code">
						<option value="+63">+63</option>
						<option value="+86">+86</option>
					</select>
				</div>
				<div class="col-sm-4">
					<input type="number" class="form-control contact-number-input" name="contact_number[]" v-model="contact_number.value">
				</div>
				<div class="col-sm-4">
					{{ (translation) ? translation['branch'] : 'Branch' }}:
					<select class="form-control selectBranch" :id="'br_'+index" name="branch" v-model="contact_number.branch">
						<option value="">{{ (translation) ? translation['select-branch'] : 'Select Branch' }}</option>
						<option v-for="branch in branches" :value="branch.id">{{ branch.name }}</option>
					</select>
				</div>
			</div>

			<button type="button" class="btn btn-primary pull-right" @click="addTemporaryClientValidation">
				{{ (translation) ? translation['continue'] : 'Continue' }}
			</button>
		    <button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">
		    	{{ (translation) ? translation['close'] : 'Close' }}
		    </button>
	    </div>

	    <div v-show="screen == 2">
	    	<div class="panel panel-default" v-for="(contact_number, index) in temporaryClientForm.contact_numbers">
                <div class="panel-heading">
                    {{ contact_number.country_code }}{{ contact_number.value }}
                    <a v-if="ifExistArray[index]" :href="'/visa/client/' + userArray[index].id" class="pull-right" target="_blank">
                    	{{ (translation) ? translation['view-existing-profile'] : 'View Existing Profile' }}
                    </a>
                </div>
                <div class="panel-body">
                	<form class="form-horizontal">

                		<div class="form-group">
					    	<label class="col-sm-2 control-label">
					    		{{ (translation) ? translation['status'] : 'Status' }}:
					    	</label>
					    	<div class="col-sm-10">
					    		<div style="height:5px;clear:both;"></div>

					      		<span class="label" 
					      			:class="{'label-primary':!ifExistArray[index], 'label-danger':ifExistArray[index]}">
					      			{{ 
					      				(ifExistArray[index]) 
					      				? 
					      					((translation) ? translation['existing'] : 'Existing')
					      				: 
					      					((translation) ? translation['not-existing'] : 'Not Existing')
					      			}}
					      		</span>

					      		<span class="label" 
					      			:class="{'label-primary':!ifBindedArray[index], 'label-danger':ifBindedArray[index]}"
					      			style="margin-left:10px;">
					      			{{ 
					      				(ifBindedArray[index]) 
					      				? 
					      					((translation) ? translation['binded'] : 'Binded') 
					      				: 
					      					((translation) ? translation['not-binded'] : 'Not Binded')
					      			}}
					      		</span>

					      		<span class="label" 
					      			:class="{'label-primary':!ifGroupLeaderArray[index], 'label-danger':ifGroupLeaderArray[index]}" style="margin-left:10px;">
					      			{{ 
					      				(ifGroupLeaderArray[index]) 
					      				? 
					      					((translation) ? translation['group-leader'] : 'Group Leader')
					      				: 
					      					((translation) ? translation['not-group-leader'] : 'Not Group Leader')
					      			}}
					      		</span>
					    	</div>
					  	</div>

					  	<div v-show="ifExistArray[index]" class="form-group">
					    	<label class="col-sm-2 control-label">
					    		{{ (translation) ? translation['action'] : 'Action' }}:
					    	</label>
					    	<div class="col-sm-10">
					      		<label class="radio-inline">
								  	<input type="radio" :name="'action-'+index" value="proceed_anyway" v-model="contact_number.action" :disabled="ifBindedArray[index] || ifGroupLeaderArray[index]" /> 
								  	{{ (translation) ? translation['proceed-anyway'] : 'Proceed Anyway' }}
								</label>
								<label class="radio-inline">
								  	<input type="radio" :name="'action-'+index" value="use_existing_profile" v-model="contact_number.action" /> 
								  	{{ (translation) ? translation['use-existing-profile'] : 'Use Existing Profile' }}
								</label>
					    	</div>
					  	</div>

					  	<div v-show="!ifExistArray[index] || contact_number.action == 'proceed_anyway'" class="form-group">
						    <label class="col-sm-2 control-label">
						    	{{ (translation) ? translation['add-details'] : 'Add Details' }}:
						    </label>
						    <div class="col-sm-10">
						      	<label class="radio-inline">
									<input type="radio" :name="'process-'+index" value="complete" v-model="contact_number.process" /> {{ (translation) ? translation['no'] : 'No' }}
								</label>
								<label class="radio-inline">
									<input type="radio" :name="'process-'+index" value="detail" v-model="contact_number.process" /> {{ (translation) ? translation['yes'] : 'Yes' }}
								</label>
						    </div>
					  	</div>

					  	<div v-show="contact_number.process == 'detail'" class="form-group">
					  		<div class="form-group">
						    	<label class="col-sm-2 control-label">
						    		{{ (translation) ? translation['first-name'] : 'First Name' }}
						    	</label>
						    	<div class="col-sm-10">
						      		<input type="text" class="form-control" name="first_name" v-model="contact_number.first_name" :placeholder="(translation) ? translation['first-name'] : 'First Name'" autocomplete="off" />
						    	</div>
						  	</div>

						  	<div class="form-group">
						    	<label class="col-sm-2 control-label">
						    		{{ (translation) ? translation['last-name'] : 'Last Name' }}
						    	</label>
						    	<div class="col-sm-10">
						      		<input type="text" class="form-control" name="last_name" v-model="contact_number.last_name" :placeholder="(translation) ? translation['last-name'] : 'Last Name'" autocomplete="off" />
						    	</div>
						  	</div>

						  	<div class="form-group">
						    	<label class="col-sm-2 control-label">
						    		{{ (translation) ? translation['passport'] : 'Passport' }}
						    	</label>
						    	<div class="col-sm-10">
						      		<input type="text" class="form-control" name="passport" v-model="contact_number.passport" :placeholder="(translation) ? translation['passport'] : 'Passport'" autocomplete="off" />
						    	</div>
						  	</div>

						  	<div class="form-group">
						    	<label class="col-sm-2 control-label">
						    		{{ (translation) ? translation['birthdate'] : 'Birthdate' }}
						    	</label>
						    	<div class="col-sm-10">
						      		<input type="date" class="form-control" name="birthdate" v-model="contact_number.birthdate" autocomplete="off" />
						    	</div>
						  	</div>

						  	<div class="form-group">
						    	<label class="col-sm-2 control-label">
						    		{{ (translation) ? translation['gender'] : 'Gender' }}
						    	</label>
						    	<div class="col-sm-10">
						      		<select class="form-control" name="gender" v-model="contact_number.gender">
						      			<option value="Male">
						      				{{ (translation) ? translation['male'] : 'Male' }}
						      			</option>
						      			<option value="Female">
						      				{{ (translation) ? translation['female'] : 'Female' }}
						      			</option>
						      		</select>
						    	</div>
						  	</div>
					  	</div>

					</form>
                </div>
            </div>

	    	<button type="submit" id="temporaryClientFormSubmitBtn" class="btn btn-primary pull-right">
				{{ (translation) ? translation['save'] : 'Save' }}
			</button>
			<button type="button" class="btn btn-default pull-right m-r-10" @click="screen = 1">
				{{ (translation) ? translation['back'] : 'Back' }}
			</button>
		    <button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">
		    	{{ (translation) ? translation['close'] : 'Close' }}
		    </button>
	    </div>

	</form>

</template>

<script>

    export default {
    	data() {
    		return {
    			translation: null,

    			branches: [],
    			chinaBranchId:'',

    			temporaryClientForm: new Form({
					contact_numbers: [{country_code: '', value: '', branch: '', action: '', process: '', first_name: '', last_name: '', passport: '', birthdate:'', gender: '', ifExist: false, ifBinded: false, ifGroupLeader: false}]
				}, { baseURL: axiosAPIv1.defaults.baseURL }),

				screen: 1,

				ifExistArray: [],
				ifBindedArray: [],
				ifGroupLeaderArray: [],
				userArray: [],
    		}
    	},

    	methods: {
    		getTranslation() {
    			axios.get('/visa/client/translation/add-temporary-client')
               		.then(response => {
                   		this.translation = response.data.translation;
               		});
    		},

    		getBranches() {
    			axios.get('/visa/get-branches')
         			.then(
         				result => {
         					this.branches = result.data;
         					let brid = null;
         					$.each(result.data, function(key, value) {
         							if(value.name == 'China'){
         								brid = value.id
         							}
         						});
         					this.chinaBranchId = brid;
         				});

         		
    		},

    		resetTemporaryClientForm() {
	    		this.temporaryClientForm = new Form({
					contact_numbers: [{country_code: '', value: '', branch: '', action: '', process: '', first_name: '', last_name: '', passport: '', birthdate:'', gender: '', ifExist: false, ifBinded: false, ifGroupLeader: false}]
				}, { baseURL: axiosAPIv1.defaults.baseURL });
	    	},

	    	resetArray() {
	    		this.ifExistArray = [];
	    		this.ifBindedArray = [];
	    		this.ifGroupLeaderArray = [];
	    		this.userArray = [];
	    	},

	    	validateContactNumbers() {
	    		let isValid = true;

	    		var contactNumberText = (this.translation) ? this.translation['contact-number'] : 'Contact Number';
	    		var branchText = (this.translation) ? this.translation['branch'] : 'Branch';
	    		var countryCodeIsInvalidText = (this.translation) ? this.translation['country-code-is-invalid'] : 'country code is invalid';
	    		var isInvalidText = (this.translation) ? this.translation['is-invalid'] : 'is invalid';
	    		var mustBeTenDigitNumberText = (this.translation) ? this.translation['must-be-ten-digit-number'] : 'must be 10 digit number';
	    		var mustBeElevenDigitNumberText = (this.translation) ? this.translation['must-be-eleven-digit-number'] : 'must be 11 digit number';

	    		this.temporaryClientForm.contact_numbers.forEach((contactNumber, index) => {
	    			if(contactNumber.country_code == '') {
	    				isValid = false;
	    				toastr.error(contactNumberText + ' ' + (index+1) + ' ' + countryCodeIsInvalidText + '.');
	    			}else if(contactNumber.country_code == '+63'){
	    				//ph country code
	    				if(contactNumber.value.length != 10) {
		    				isValid = false;
		    				toastr.error(contactNumberText + ' ' + (index+1) + ' ' + mustBeTenDigitNumberText + '.');
	    				}
	    			}else if(contactNumber.country_code == '+86'){
	    				//china country code
	    				if(contactNumber.value.length != 11) {
		    				isValid = false;
		    				toastr.error(contactNumberText + ' ' + (index+1) + ' ' + mustBeElevenDigitNumberText + '.');
	    				}
	    			}

	    			if(contactNumber.value == '') {
	    				isValid = false;
	    				toastr.error(contactNumberText + ' ' + (index+1) + ' ' + isInvalidText + '.');
	    			}

	    			if(contactNumber.branch == '') {
	    				isValid = false;
	    				toastr.error(branchText + ' ' + (index+1) + ' ' + isInvalidText + '.');
	    			}
	    		});

	    		return isValid;
	    	},

	    	addTemporaryClientValidation() {
	    		let valid = this.validateContactNumbers();

	    		if(valid) {
					this.temporaryClientForm.submit('post', '/visa/client/add-temporary-validation')
				        .then(response => {
				        	if(response.success) {
				        		this.screen = 2;

				        		this.ifExistArray = response.ifExistArray;
				        		this.ifBindedArray = response.ifBindedArray;
				        		this.ifGroupLeaderArray = response.ifGroupLeaderArray;
				        		this.userArray = response.userArray;

				        		let count = this.temporaryClientForm.contact_numbers.length;
				        		for(let i=0; i<count; i++) {
				        			if(this.ifBindedArray[i] || this.ifGroupLeaderArray[i]) {
				        				this.temporaryClientForm.contact_numbers[i].action = 'use_existing_profile';
				        			} else {
				        				this.temporaryClientForm.contact_numbers[i].action = 'proceed_anyway';
				        			}

				        			this.temporaryClientForm.contact_numbers[i].process = 'complete';

				        			this.temporaryClientForm.contact_numbers[i].ifExist = this.ifExistArray[i];
				        			this.temporaryClientForm.contact_numbers[i].ifBinded = this.ifBindedArray[i];
				        			this.temporaryClientForm.contact_numbers[i].ifGroupLeader = this.ifGroupLeaderArray[i];
				        		}
				        	}
				        });
	    		}
	    	},

	    	validateInputs() {
	    		let isValid = true;

	    		this.temporaryClientForm.contact_numbers.forEach((contactNumber, index) => {
	    			if(contactNumber.action == '') {
	    				isValid = false;
	    				toastr.error( (this.translation) ? this.translation['the-action-field-is-required'] : 'The action field is required.', contactNumber.country_code + contactNumber.value);
	    			}

	    			if(contactNumber.process == '' && (contactNumber.action == 'proceed_anyway' || !ifExistArray[index]) ) {
	    				isValid = false;
	    				toastr.error( (this.translation) ? this.translation['the-add-details-field-is-required'] : 'The add details field is required.', contactNumber.country_code + contactNumber.value);
	    			}

	    			if(contactNumber.first_name == '' && contactNumber.process == 'detail') {
	    				isValid = false;
	    				toastr.error( (this.translation) ? this.translation['the-first-name-field-is-required'] : 'The first name field is required.', contactNumber.country_code + contactNumber.value);
	    			}

	    			if(contactNumber.last_name == '' && contactNumber.process == 'detail') {
	    				isValid = false;
	    				toastr.error( (this.translation) ? this.translation['the-last-name-field-is-required'] : 'The last name field is required.', contactNumber.country_code + contactNumber.value);
	    			}

	    			if(contactNumber.passport == '' && contactNumber.process == 'detail') {
	    				isValid = false;
	    				toastr.error( (this.translation) ? this.translation['the-passport-field-is-required'] : 'The passport field is required.', contactNumber.country_code + contactNumber.value);
	    			}

	    			if(contactNumber.birthdate == '' && contactNumber.process == 'detail') {
	    				isValid = false;
	    				toastr.error( (this.translation) ? this.translation['the-birthdate-field-is-required'] : 'The birthdate field is required.', contactNumber.country_code + contactNumber.value);
	    			}

	    			if(contactNumber.gender == '' && contactNumber.process == 'detail') {
	    				isValid = false;
	    				toastr.error( (this.translation) ? this.translation['the-gender-field-is-required'] : 'The gender field is required.', contactNumber.country_code + contactNumber.value);
	    			}
	    		});

	    		return isValid;
	    	},

	    	addTemporaryClient() {
	    		let valid = this.validateInputs();

	    		if(valid) {
	    			$('button#temporaryClientFormSubmitBtn').attr('disabled', 'disabled');

	    			this.temporaryClientForm.submit('post', '/visa/client/add-temporary')
				        .then(response => {
				            if(response.success) {
				            	this.resetTemporaryClientForm();

								this.resetArray();

								this.screen = 1;

				                $('#addTemporaryClientModal').modal('hide');

				                toastr.success(response.message);

				                setTimeout(() => {
				                	location.reload();
				                }, 3000);
				            }

				            $('button#temporaryClientFormSubmitBtn').removeAttr('disabled');
				        });
	    		}
			},

			addContactNumber() {
				this.temporaryClientForm.contact_numbers.push({country_code: '', value: '', branch: '', action: '', process: '', first_name: '', last_name: '', passport: '', birthdate:'', gender: '', ifExist: false, ifBinded: false, ifGroupLeader: false});
			},

			removeContactNumber(index) {
				this.temporaryClientForm.contact_numbers.splice(index, 1);
			}
    	},

    	created() {
    		this.getTranslation();

    		this.getBranches();
    	},

    	mounted() {
    		$('#addTemporaryClientModal').on('hidden.bs.modal', (e) => {
				this.resetTemporaryClientForm();

				this.resetArray();

				this.screen = 1;
			});

    		var vm = this;
			$('body').on('change', '.countryCode', function(e) {
				var sel = this.id;
				var sub = sel.substr(3);
				var china = vm.chinaBranchId;
				var code = vm.temporaryClientForm.contact_numbers[sub].country_code;
				if(code == "+86"){
					vm.temporaryClientForm.contact_numbers[sub].branch = china;
					$("#br_"+sub).attr('disabled','disabled');
				}else if (code == "+63"){
					vm.temporaryClientForm.contact_numbers[sub].branch = '';
					$("#br_"+sub).removeAttr('disabled','disabled');
					$("#br_"+sub+" option[value="+china+"]").attr('disabled','disabled');
				}
			});

			
    	}
    }

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
	button.remove-btn, input.contact-number-input {
		margin-top: 18px;
	}
</style>