<template>
    <tr>
        <td width="40%"><span >{{ bal.full_name }}</span></td>
        <td><span >{{ bal.temp_balance }}</span></td>
        <td><span >{{ bal.temp_collectable }}</span></td>
    </tr>
</template>

<script>
export default {
  props: ['bal'],
  methods:{
    select(id){
       this.$parent.selectItem(id)
    },
  },
  computed:{
    bg(){
      return;
      }
  },
}
</script>
