<template>
    <tr>
        <td width="40%"><span >{{ pay.full_name }}</span></td>
        <td><span >{{ pay.log_date }}</span></td>
        <td><span >{{ pay.temp_balance }}</span></td>
        <td><span >{{ pay.amount }}</span></td>
        <td><span >{{ pay.running }}</span></td>
        <td><span >{{ pay.total }}</span></td>
    </tr>
</template>

<script>
export default {
  props: [
  'pay',
  // 'paytotal',
  // 'payamount',
  // 'paybalance'
  ],
  methods:{

  },

}
</script>
