<template>
	
	<div>
		
		<div v-show="screen == 1">
			<div v-show="!members">
				<div class="spiner-example">
		            <div class="sk-spinner sk-spinner-wave">
		                <div class="sk-rect1"></div>
		                <div class="sk-rect2"></div>
		                <div class="sk-rect3"></div>
		                <div class="sk-rect4"></div>
		                <div class="sk-rect5"></div>
		            </div>
		        </div>
			</div> <!-- loading -->

			<form v-show="members" class="form-horizontal">
				<table class="table table-bordered table-striped table-hover membersDatatable">
			        <thead>
			            <tr>
			            	<th style="width:40%;">{{ (translation) ? translation['client-id'] : 'CLIENT ID' }}</th>
			                <th style="width:40%;">{{ (translation) ? translation['name'] : 'NAME' }}</th>
			                <th style="width:20%;">{{ (translation) ? translation['action'] : 'ACTION' }}</th>
			            </tr>
			        </thead>
			        <tbody>
			        	<tr v-for="member in members">
			        		<td>{{ member.client.id }}</td>
			        		<td>{{ member.client.first_name + ' ' + member.client.last_name }}</td>
			        		<td class="text-center">
			        			<input type="checkbox" name="clientsId[]" :value="member.client.id">
			        		</td>
			        	</tr>
			        </tbody>
			    </table>

			    <div class="spacer-10"></div>

			    <button type="button" class="btn btn-primary pull-right" @click="gotoScreen(2)">
			    	{{ (translation) ? translation['continue'] : 'Continue' }}
			    </button>
			</form>
		</div> <!-- screen 1 -->

		<div v-show="screen == 2">

			<form class="form-horizontal">

				<div class="scrollable">
					<table class="table table-bordered table-striped table-hover">
				        <thead>
				            <tr>
				            	<th style="width:45%;">{{ (translation) ? translation['client-id'] : 'CLIENT ID' }}</th>
				                <th style="width:45%;">{{ (translation) ? translation['name'] : 'NAME' }}</th>
				                <th style="width:10%;" class="text-center">{{ (translation) ? translation['action'] : 'ACTION' }}</th>
				            </tr>
				        </thead>
				        <tbody v-for="(member, index) in members" v-if="selectedClientsId.indexOf(member.client.id) != -1">
				        	
				        	<tr @click="toggleChildRow($event, index)">
						        <td style="width:45%;">{{ member.client.id }}</td>
						        <td style="width:45%;">{{ member.client.first_name + ' ' + member.client.last_name }}</td>
						        <td style="width:10%;" class="text-center">
						           	<i id="fa-1000" class="fa fa-arrow-right cursor" :class="'arrow-' + index"></i>
						        </td>
						    </tr>

						    <tr :id="'child-row-'+index" class="hide">
						    	<td colspan="3">
						    		<table class="table table-bordered table-striped table-hover">
								        <thead>
								            <tr class="child-row-header">
								            	<th>{{ (translation) ? translation['date'] : 'Date' }}</th>
								                <th>{{ (translation) ? translation['package'] : 'Package' }}</th>
								                <th>{{ (translation) ? translation['details'] : 'Details' }}</th>
								                <th>{{ (translation) ? translation['cost'] : 'Cost' }}</th>
								                <th>{{ (translation) ? translation['charge'] : 'Charge' }}</th>
								                <!-- <th>Tip</th> -->
								                <th>{{ (translation) ? translation['discount'] : 'Discount' }}</th>
								                <th>{{ (translation) ? translation['status'] : 'Status' }}</th>
								                <th class="text-center">
								                	
								                </th>
								            </tr>
								        </thead>
								        <tbody>
								        	<tr v-for="service in member.services" v-if="service.group_id == groupid && service.active == 1 && service.status != 'pending'">
								        		<td>{{ service.service_date }}</td>
								        		<td>{{ service.tracking }}</td>
								        		<td>{{ service.detail }}</td>
								        		<td>{{ totalcost(service.cost,service.tip) | currency }}</td>
								        		<td>{{ service.charge | currency }}</td>
								        		<!-- <td>{{ service.tip | currency }}</td> -->
								        		<td>{{ service.discount_amount | currency }}</td>
								        		<td>{{ service.status }}</td>
								        		<td class="text-center">
								        			<input type="checkbox" name="clientServicesId[]" :value="service.id">
								        		</td>
								        	</tr>
								        </tbody>
								    </table>
						    	</td>
						    </tr>

				        </tbody>
				    </table>
			    </div>

				<div class="spacer-10"></div>

				<button type="button" class="btn btn-primary pull-right" @click="setSelectedClientServicesAndTrackingsId">
					{{ (translation) ? translation['continue'] : 'Continue' }}
				</button>
				<button type="button" class="btn btn-default pull-right m-r-10" @click="gotoScreen(1)">
					{{ (translation) ? translation['back'] : 'Back' }}
				</button>
			</form>
		</div> <!-- screen 2 -->

	</div>

</template>

<script>
	export default {

		props: ['members', 'groupid'],

        data() {

        	return {
        		translation: null,

        		membersDatatable: null,

        		screen: 1,

        		selectedClientsId: [],
        		selectedClientServicesId: [],
        		selectedTrackings: []
        	}

        },

        methods: {

        	getTranslation() {
        		axios.get('/visa/group/translation/client-services')
			        .then(response => {
			        	this.translation = response.data.translation;
			        });
			},

        	gotoScreen(screen) {
        		this.setSelectedClientsId();

        		if(screen == 2 && this.selectedClientsId.length == 0) {
        			toastr.error( (this.translation) ? this.translation['please-select-clients'] : 'Please select clients' );
        		} else {
        			this.screen = screen;
        		}
        	},

        	setSelectedClientsId() {
        		let selectedClientsId = [];

			    this.membersDatatable.$("input[name='clientsId[]']:checked").each(function(e) {
			    	selectedClientsId.push(parseInt($(this).val()));
			    });

			    this.selectedClientsId = selectedClientsId;
        	},

        	setSelectedClientServicesAndTrackingsId() {
        		let selectedClientServicesId = [];

			    $("input[name='clientServicesId[]']:checked").each(function(e) {
			    	selectedClientServicesId.push(parseInt($(this).val()));
			    });

			    if(selectedClientServicesId.length == 0) {
			    	toastr.error( (this.translation) ? this.translation['please-select-services'] : 'Please select services' );
			    } else {
			    	axiosAPIv1.get('/visa/group/' + this.groupid + '/client-services', {
					    params: {
					      	clientServicesId: selectedClientServicesId
					    }
					})
					.then(response => {
						this.selectedClientServicesId = response.data;

						let selectedTrackings = [];

		        		this.selectedClientServicesId.forEach(clientService => {
		        			selectedTrackings.push(clientService.tracking);
		        		});

		        		this.selectedTrackings = selectedTrackings;

		        		this.showMultipleQuickReportModal();
					})
					.catch(error => console.log(error));
			    }
        	},

        	showMultipleQuickReportModal() {
        		this.$parent.$parent.quickReportClientsId = this.selectedClientsId;
				this.$parent.$parent.quickReportClientServicesId = this.selectedClientServicesId;
				this.$parent.$parent.quickReportTrackings = this.selectedTrackings;
					
				this.$parent.$parent.fetchDocs(this.selectedClientServicesId);

				$('#client-services-modal').modal('hide');

				setTimeout(() => {
					$('#add-quick-report-modal').modal('show');
				}, 1000);
        	},

        	uncheckSelectedClientsId() {
        		this.membersDatatable.$("input[name='clientsId[]']").prop('checked', false);
        	},

        	uncheckSelectedClientServicesId() {
        		this.membersDatatable.$("input[name='clientServicesId[]']").prop('checked', false);
        	},

        	createDatatable(className) {
        		this.membersDatatable = $('table.'+className).DataTable().destroy();

				setTimeout(function() {
					this.membersDatatable = $('table.'+className).DataTable({
				        pageLength: 10,
				        responsive: true,
				        "aaSorting": [],
				        dom: '<"top"lf>rt<"bottom"ip><"clear">'
				    });
				}.bind(this), 1000);
			},

			toggleChildRow(event, index) {
				$('#child-row-'+index).toggleClass('hide');
				$('.arrow-'+index).toggleClass('fa-arrow-right fa-arrow-down');
			},

			totalcost(tip, cost) {
		      return parseInt(tip) + parseInt(cost);
		    }

        },

        mounted() {

        	$('#client-services-modal').on('hidden.bs.modal', function (e) {
				
				this.screen = 1;
				
				this.selectedClientsId = [];
				this.selectedClientServicesId = [];
				this.selectedTrackings = [];

				this.uncheckSelectedClientsId();
				this.uncheckSelectedClientServicesId();

			}.bind(this));

        },

        created() {
        	if(window.Laravel.language == 'cn'){
        		this.getTranslation();
        	}
        }

	}
</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
	.spacer-10 {
		clear: both;
		height: 10px;
	}
	.cursor {
		cursor: pointer;
	}
	.scrollable {
		max-height: 450px;
		overflow-y: auto;
	}
	.child-row-header {
		color: #3c8dbc;
	}
</style>