<template>

	<div class="row">

		<form @submit.prevent="addDocuments">

			<div class="col-md-4" v-for="(image, index) in images">
				<div class="panel panel-default form-section">
	                <div class="panel-body">
	                	<center>
	                		<img :src="image" class="img-responsive img-thumbnail document-image zoom" :data-magnify-src="image">
	                	</center>

	                	<div style="height:10px;clear:both;"></div>

	                	<p>{{ (translation) ? translation['document-type'] : 'Document Type' }}:</p>
	                	<div class="form-group">
	                		<select class="form-control" v-model="documentTypes[index]">
	                			<option v-for="documentType in defaultDocumentTypes" :value="documentType.id">
	                				{{ documentType.name }}
	                			</option>
	                		</select>
	                	</div>

	                	<p>{{ (translation) ? translation['issued-at'] : 'Issued At' }}:</p>
	                	<div class="form-group">
			                <div class="input-group date">
				                <span class="input-group-addon">
				                    <i class="fa fa-calendar"></i>
				                </span>
				                <input type="date" class="form-control" v-model="issuedAt[index]">
				            </div>
				        </div>

			            <p>{{ (translation) ? translation['expired-at'] : 'Expired At' }}:</p>
			            <div class="form-group">
			                <div class="input-group date">
				                <span class="input-group-addon">
				                    <i class="fa fa-calendar"></i>
				                </span>
				                <input type="date" class="form-control" v-model="expiredAt[index]">
				            </div>
				        </div>

				        <div class="form-group">
				        	<button type="button" class="btn btn-danger btn-xs pull-right" @click="remove(index)">
				        		{{ (translation) ? translation['remove'] : 'Remove' }}
				        	</button>
				        </div>

	                </div>
	            </div>
	        </div>

	        <div class="col-md-4">
				<div class="panel panel-default add-documents-section" style="border: 0px !important;">
	                <div class="panel-body">
	                    <label for="image-upload" id="image-label">
	                    	<i class="fa fa-plus"></i>
	                    	{{ (translation) ? translation['choose-file'] : 'Choose File' }}
	                    </label>
	  					<input type="file" name="images" ref="files" @change="handleFilesUpload" id="image-upload" multiple />
	                </div>
	            </div>
			</div>

			<div style="height:1px;clear:both;"></div>

			<button type="submit" class="btn btn-primary pull-right">
				{{ (translation) ? translation['add-documents'] : 'Add Documents' }}
			</button>
	    	<button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">
	    		{{ (translation) ? translation['close'] : 'Close' }}
	    	</button>

		</form>

    </div>

</template>

<script>

	export default {
		data() {
			return {
				translation: null,

				defaultDocumentTypes: [],

				images: [],
				files: [],
				documentTypes: [],
				issuedAt: [],
				expiredAt: []
			}
		},

		methods: {
			getTranslation() {
		      axios.get('/visa/client/translation/client-documents')
		        .then(response => {
		          this.translation = response.data.translation;
		        });
		    },

			imagePreview(input) {
				if(input.files) {
					var validMimeType = ['data:image/jpeg', 'data:image/jpg', 'data:image/png'];
		            var filesAmount = input.files.length;

		            for(let i = 0; i < filesAmount; i++) {
		                var reader = new FileReader();

		                reader.onload = (event) => {
		                	let img = event.target.result;
							let lastCharIndex = img.indexOf(';');
							let mimeType = img.substr(0, lastCharIndex);
							if(!validMimeType.includes(mimeType)) {
								toastr.error(
									(this.translation)
									? this.translation['you-cant-upload-files-of-this-type']
									: 'You can\'t upload files of this type.'
								);
							} else {
								this.images.push(event.target.result);
								this.documentTypes.push(null);
								this.issuedAt.push(null);
								this.expiredAt.push(null);
							}
		                }

		                reader.readAsDataURL(input.files[i]);
		            }

		            setTimeout(() => {
		            	$('.zoom').magnify();
		            }, 1000);
		        }
			},

			handleFilesUpload() {
				this.files.push(this.$refs.files.files);
			},

			remove(index) {
				this.images.splice(index, 1);
				this.files.splice(index, 1);
				this.documentTypes.splice(index, 1);
				this.issuedAt.splice(index, 1);
				this.expiredAt.splice(index, 1);

				setTimeout(() => {
		            $('.zoom').magnify();
		        }, 500);
			},

			getDocumentTypes() {
				axios.get('/visa/service-manager/client-documents')
					.then(response => {
						this.defaultDocumentTypes = response.data;
					});
			},

	  		validate() {
	  			var success = true;
	  			let length = this.images.length;

	  			if(length == 0) {
	  				success = false;
	  				toastr.error(
	  					(this.translation)
	  					? this.translation['documents-is-required']
	  					: 'Documents is required'
	  				);
	  			} else {

		  			for(let i=0; i<length; i++) {

		  				if(this.documentTypes[i] == null) {
		  					success = false;
		  					var toastrText = (this.translation) ? this.translation['the-document-type-field-is-required'] : 'The document type field is required';
		  					toastr.error('['+(i+1)+']' + ' ' + toastrText);
		  				}

		  				if(this.issuedAt[i] == null) {
		  					success = false;
		  					var toastrText = (this.translation) ? this.translation['the-issued-at-field-is-required'] : 'The issued at field is required';
		  					toastr.error('['+(i+1)+']' + ' ' + toastrText);
		  				} else if(!moment(this.issuedAt[i], 'YYYY-MM-DD').isValid()) {
		  					success = false;
		  					var toastrText = (this.translation) ? this.translation['incorrect-issued-at-field-format'] : 'Incorrect issued at field format';
		  					toastr.error('['+(i+1)+']' + ' ' + toastrText);
		  				}

		  			 	if((this.expiredAt[i] != null) && (!moment(this.expiredAt[i], 'YYYY-MM-DD').isValid())) {
		  					success = false;
		  					var toastrText = (this.translation) ? this.translation['incorrect-expired-at-field-format'] : 'Incorrect expired at field format';
		  					toastr.error('['+(i+1)+']' + ' ' + toastrText);
		  				}

							if(this.expiredAt[i] != null ||  this.expiredAt[i] != ""){
								  if(moment(this.expiredAt[i]) <= moment(this.issuedAt[i])) {
										success = false;
										var toastrText = (this.translation) ? this.translation['date-expiry-should-ahead-issuance'] : 'Date of expiry should be ahead of issuance date.';
										toastr.error('['+(i+1)+']' + ' ' + toastrText);
								  }
							}

		  			}
	  			}

	  			return success;
	  		},

	  		addDocuments() {
	  			if(this.validate()) {
	  				let formData = new FormData();
					//console.log(this.files.length);
					//console.log(this.files);
					var ctr = 0;
					for(let i=0; i<this.files.length; i++) {
						for(let j=0; j<this.files[i].length; j++) {
					    	let file = this.files[i][j];
					    	formData.append('attachments['+ctr+']', file);
					    	//console.log(ctr);
					    	ctr++;
						}
					}

					formData.append('userId', window.Laravel.data.data.id);

					for(let i=0; i<this.images.length; i++) {
						formData.append('images['+i+']', this.images[i]);
						formData.append('documentTypes['+i+']', this.documentTypes[i]);
						formData.append('issuedAt['+i+']', this.issuedAt[i]);
						formData.append('expiredAt['+i+']', this.expiredAt[i]);
					}

					axios.post('/visa/service-manager/client-documents/upload-documents-v2',
						formData,
						{
						    headers: {
						        'Content-Type': 'multipart/form-data'
						    }
						}
					)
		            .then((response) => {
		               	if(response.data.success) {
		                	toastr.success(
		                		(this.translation)
		                		? this.translation['successfully-saved']
		                		: 'Successfully saved'
		                	);

							this.images = [];
							this.files = [];
							this.documentTypes = [];
							this.issuedAt = [];
							this.expiredAt = [];

							this.$parent.$parent.getFiles();

							$('#image-upload').val(null);

							$('#addDocumentsModal').modal('hide');
						}
		            });
	  			}
	  		}
		},

		created() {
			if(window.Laravel.language == 'cn'){
				this.getTranslation();
			}

			this.getDocumentTypes();
		},

		mounted () {
			let vm = this;

			$('#image-upload').on('change', function() {
		        vm.imagePreview(this);
		    });
		}
	}
</script>

<style scoped>
	div.add-documents-section {
		height: 300px;
		position: relative;
		overflow: hidden;
		background-color: #ffffff;
		color: #ecf0f1;
	}
	div.add-documents-section input {
	  	line-height: 200px;
	  	font-size: 200px;
	  	position: absolute;
	  	opacity: 0;
	  	z-index: 10;
	}
	div.add-documents-section label {
  		position: absolute;
  		z-index: 5;
		cursor: pointer;
		background-color: #4ABC96;
		width: 200px;
		height: 50px;
		font-size: 20px;
		line-height: 50px;
		text-transform: uppercase;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		text-align: center;
	}
	div.form-section {
		height: auto;
	}
	div.form-section img.document-image {
		height: 200px;
	}
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>
