<template>

	<form class="form-horizontal" @submit.prevent="deleteMember">

		<p>{{ (translation) ? translation['are-you-sure-you-want-to-delete-this-member'] : 'Are you sure you want to delete this member?' }}</p>

		<button type="submit" class="btn btn-primary pull-right">
			{{ (translation) ? translation['delete'] : 'Delete' }}
		</button>
	    <button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">
	    	{{ (translation) ? translation['close'] : 'Close' }}
	    </button>

	</form>

</template>

<script>

    export default {

    	props: ['groupid'],

    	data() {
    		return {
    			translation: null,

    			deleteMemberForm: new Form({
					memberId: null
				}, { baseURL: axiosAPIv1.defaults.baseURL })
    		}
    	},

    	methods: {

    		getTranslation() {
        		axios.get('/visa/group/translation/delete-member')
			        .then(response => {
			        	this.translation = response.data.translation;
			        });
			},

    		setMemberId(id) {
    			this.deleteMemberForm.memberId = id;
    		},

    		resetDeleteMemberForm() {
    			this.deleteMemberForm.memberId = null;
    		},

    		deleteMember() {
    			this.deleteMemberForm.submit('post', '/visa/group/' + this.groupid + '/delete-member')
		        .then(response => {
		        	this.resetDeleteMemberForm();

		            $('#delete-member-modal').modal('hide');

		            if(response.success) {
		                this.$parent.$parent.fetchMembers();

		                this.$parent.$parent.$refs.groupmembers.resetLoadedData();
                		this.$parent.$parent.$refs.groupmembers.getGroupMembers();
		                
		                toastr.success(response.message);
		            } else {
		            	toastr.error(response.message);
		            }
		        })
		        .catch(error => console.log(error));
    		}

    	},

    	created() {
    		if(window.Laravel.language == 'cn'){
    			this.getTranslation();
    		}
    	}

    }

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>