<template>
	
	<form class="form-horizontal" @submit.prevent="deleteReportType">

		<p>Are you sure you want to delete this report type?</p>

		<button type="submit" class="btn btn-primary pull-right">Delete</button>
	    <button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">Close</button>

	</form>

</template>

<script>
	
	export default {

		props: ['reporttypeid'],

		methods: {

			deleteReportType() {
				axios.delete('/visa/notification/report-type/' + this.reporttypeid)
					.then(response => {
						if(response.data.success) {
							this.$parent.$parent.setSelectedReportTypeId(null);

		                	this.$parent.$parent.loadReportTypes();

		                	$('#delete-report-type-modal').modal('hide');

		                	toastr.success(response.data.message);
		                }
					})
					.catch(error => console.log(error));
			}

		}

	}

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>