<template>

	<div>
		<div v-show='screen == 1'>
			<div v-show="loading">
				<div class="spiner-example">
		            <div class="sk-spinner sk-spinner-wave">
		                <div class="sk-rect1"></div>
		                <div class="sk-rect2"></div>
		                <div class="sk-rect3"></div>
		                <div class="sk-rect4"></div>
		                <div class="sk-rect5"></div>
		            </div>
		        </div>
			</div> <!-- loading -->

			<div v-show="!loading">
				<div class="table-responsive">
		            <table class="table table-striped table-bordered table-hover clients-datatable">
		                <thead>
			                <tr>
			                    <th class="text-center">
			                        <input type="checkbox" @click="toggleAllCheckbox">
			                    </th>
			                    <th>{{ (translation) ? translation['name'] : 'Name' }}</th>
			                    <th>{{ (translation) ? translation['client-id'] : 'Client ID' }}</th>
			                    <th>{{ (translation) ? translation['package'] : 'Package' }}</th>
			                    <th>{{ (translation) ? translation['date-recorded'] : 'Date Recorded' }}</th>
			                    <th>{{ (translation) ? translation['details'] : 'Details' }}</th>
			                    <th>{{ (translation) ? translation['status'] : 'Status' }}</th>
			                </tr>
		                </thead>
		                <tbody>
		                    <tr v-for="clientService in clientServices">
		                    	<td class="text-center">
		                    		<input type="checkbox" 
		                    			:value="clientService.id" 
		                    			v-model="editServiceForm.clientServicesId">
		                    	</td>
		                    	<td>{{ clientService.user.full_name }}</td>
		                    	<td>{{ clientService.user.id }}</td>
		                    	<td>{{ clientService.tracking }}</td>
		                    	<td>{{ clientService.service_date }}</td>
		                    	<td>{{ clientService.detail }}</td>
		                    	<td>{{ clientService.status }}</td>
		                    </tr>
		                </tbody>
		            </table>
		        </div>

		        <a class="btn btn-primary pull-right" @click="changeScreen(2)">
		        	{{ (translation) ? translation['continue'] : 'Continue' }}
		        </a>
		    	<a class="btn btn-default pull-right m-r-10" data-dismiss="modal">
		    		{{ (translation) ? translation['close'] : 'Close' }}
		    	</a>

		    	<br>
	    	</div> <!-- !loading -->
		</div>

		<div v-show='screen == 2'>
			<form @submit.prevent="editService">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" :class="{ 'has-error': editServiceForm.errors.has('additional_charge') }">
						    <label for="additonal_charge">{{ (translation) ? translation['extra-cost'] : 'Extra Cost' }}</label>
						    <input type="text" class="form-control" id="additional_charge" name="additional_charge" v-model="editServiceForm.additional_charge">
						    <span class="help-block" v-if="editServiceForm.errors.has('additional_charge')" v-text="editServiceForm.errors.get('additional_charge')"></span>
						</div>

						<div class="form-group" :class="{ 'has-error': editServiceForm.errors.has('cost') }">
						    <label for="cost">{{ (translation) ? translation['cost'] : 'Cost' }}</label>
						    <input type="text" class="form-control" id="cost" name="cost" v-model="editServiceForm.cost">
						    <span class="help-block" v-if="editServiceForm.errors.has('cost')" v-text="editServiceForm.errors.get('cost')"></span>
						</div>

						<div class="form-group" :class="{ 'has-error': editServiceForm.errors.has('charge') }">
						    <label for="cost">{{ (translation) ? translation['charge'] : 'Charge' }}</label>
						    <input type="text" class="form-control" readonly id="charge" name="charge" v-model="editServiceForm.charge">
						    <span class="help-block" v-if="editServiceForm.errors.has('charge')" v-text="editServiceForm.errors.get('charge')"></span>
						</div>

						<div class="form-group" :class="{ 'has-error': editServiceForm.errors.has('discount') }" v-if="admin == '1' || admin == '1193'">
						    <label for="cost">{{ (translation) ? translation['discount'] : 'Discount' }}</label>
						    <input type="text" class="form-control" id="discount" name="discount" v-model="editServiceForm.discount">
						    <span class="help-block" v-if="editServiceForm.errors.has('discount')" v-text="editServiceForm.errors.get('discount')"></span>
						</div>

					</div>

					<div class="col-md-6">
						<div class="form-group">
						    <label for="status">{{ (translation) ? translation['status'] : 'Status' }}</label>
						    <select class="form-control" id="status" name="status" v-model="editServiceForm.status">
						    	<option value="complete">
						    		{{ (translation) ? translation['complete'] : 'Complete' }}
						    	</option>
						    	<option value="on process">
						    		{{ (translation) ? translation['on-process'] : 'On Process' }}
						    	</option>
						    	<option value="pending">
						    		{{ (translation) ? translation['pending'] : 'Pending' }}
						    	</option>
						    </select>
						</div>

						<div class="form-group">
						    <label for="note">{{ (translation) ? translation['note'] : 'Note' }}</label>
						    <textarea class="form-control" id="note" name="note" v-model="editServiceForm.note" placeholder="for internal use only, only employees can see."></textarea>
						</div>

						<div class="form-group" style="margin-top: 22px;">
						    <label for="active"></label>
						    <label class="radio-inline">
							  <input type="radio" id="active" name="active" value="1" v-model="editServiceForm.active"> {{ (translation) ? translation['enable'] : 'Enable' }}
							</label>
							<label class="radio-inline">
							  <input type="radio" id="active" name="active" value="0" v-model="editServiceForm.active"> {{ (translation) ? translation['disable'] : 'Disable' }}
							</label>
						</div>

						<div class="form-group" :class="{ 'has-error': editServiceForm.errors.has('reason') }" v-if="editServiceForm.discount>0" style="margin-top: 25px;">
						    <label for="cost">{{ (translation) ? translation['reason'] : 'Reason' }}</label>
						    <input type="text" class="form-control" id="reason" name="reason" v-model="editServiceForm.reason">
						    <span class="help-block" v-if="editServiceForm.errors.has('reason')" v-text="editServiceForm.errors.get('reason')"></span>
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-primary pull-right">{{ (translation) ? translation['save'] : 'Save' }}</button>
	    		<a class="btn btn-default pull-right m-r-10" @click="changeScreen(1)">{{ (translation) ? translation['back'] : 'Back' }}</a>
			</form>
		</div>
	</div>

</template>

<script>

    export default {

    	props: ['groupid'],

    	data() {
    		return {
    			loading: true,

    			translation: null,

    			screen: 1,
    			admin : null,
    			clientServices: [],

    			editServiceForm: new Form({
    				clientServicesId: [],
    				serviceId: '',
    				additional_charge: '',
    				cost: '',
    				charge: '',
    				discount: '',
    				reason: '',
    				status: '',
    				note: '',
    				active: ''
				}, { baseURL: axiosAPIv1.defaults.baseURL })	
    		}
    	},
    	created() {
    		if(window.Laravel.language == 'cn'){
    			this.getTranslation();
    		}

    		this.admin = this.$parent.$parent.userauth;
    	},
    	methods: {

    		getTranslation() {
        		axios.get('/visa/group/translation/edit-service')
			        .then(response => {
			        	this.translation = response.data.translation;
			        });
			},

    		changeScreen(screen) {
    			if(screen == 2) {
					if(this.editServiceForm.clientServicesId.length == 0) {
						toastr.error( (this.translation) ? this.translation['please-select-at-least-one-client'] : 'Please select at least one client' );
						return false;
					}
				}

    			this.screen = screen;
    		},

    		setEditServiceForm(clientServiceId, serviceId, additionalCharge, cost, discount, reason, status, note, active, charge) {
    			this.editServiceForm.clientServicesId = [];
    			this.editServiceForm.clientServicesId.push(clientServiceId);

    			this.editServiceForm.serviceId = serviceId;
    			this.editServiceForm.additional_charge = additionalCharge;
    			this.editServiceForm.cost = cost;
    			this.editServiceForm.charge = charge;
    			this.editServiceForm.discount = discount;
    			this.editServiceForm.reason = reason;
    			this.editServiceForm.status = status;
    			this.editServiceForm.note = '';
    			this.editServiceForm.active = active;
    		},

    		init(clientId, serviceId,cid) {
    			this.loading = true;

    			this.changeScreen(1);

    			let _clientId = clientId;
    			let _serviceId = serviceId;
    			let _cid = cid;
    			let _groupId = this.groupid;
    			axios.get('/visa/group/'+ _groupId +'/edit-services', {
    				params: {
    					clientId: _clientId,
    					serviceId: _serviceId,
    					cid: _cid
    				}
    			})
    			.then(response => {
    				this.clientServices = response.data;
    				//console.log(response.data[0].id);
    				this.callDataTable();

    				let { tip, cost, status, remarks, active, charge } = response.data[0];
    				let discount = null;
    				let reason = null;
    				if(response.data[0].discount){
	    				discount = (response.data[0].discount_amount > 0) 
	    					? response.data[0].discount.amount
	    					: '';
	    				reason = (response.data[0].discount_amount > 0) 
	    					? response.data[0].discount.reason 
	    					: '';
    				}

    				this.setEditServiceForm(_cid, serviceId, tip, cost, discount, reason, status, remarks, active, charge);
    			})
    			.catch(error => console.log(error));
    		},

    		callDataTable() {
				$('.clients-datatable').DataTable().destroy();

				var vm = this;

				setTimeout(function() {
					$('.clients-datatable').DataTable({
			            pageLength: 10,
			            responsive: true,
			            dom: '<"top"lf>rt<"bottom"ip><"clear">',
			            "fnDrawCallback": function( oSettings ) {
			            	vm.loading = false;
					    }
			        });
				}, 1000);
			},

			toggleAllCheckbox(e) {
				if(e.target.checked == true) {
					this.editServiceForm.clientServicesId = [];
					this.clientServices.forEach((c, index) => {
						this.editServiceForm.clientServicesId.push(c.id);
					});
				} else {
					this.editServiceForm.clientServicesId = [];
				}
			},

			editService() {
				this.editServiceForm.submit('patch', '/visa/group/' + this.groupid + '/edit-services')
		        .then(response => {
		            if(response.success) {
		                this.$parent.$parent.fetchDetails();
		                this.$parent.$parent.fetchGBatch();

		                this.$parent.$parent.$refs.groupmembers.resetLoadedData();
                		this.$parent.$parent.$refs.groupmembers.getGroupMembers();

		                this.$parent.$parent.$refs.addnewserviceref.fetchGroupPackagesServicesList();

		                $('#edit-service-modal').modal('hide');

		                toastr.success(response.message);
		            }
		        })
		        .catch(error => console.log(error));
			}

    	}

    }

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>