<template>

	<form class="form-horizontal" @submit.prevent="saveService">

		<div>

			<div class="col-md-12">
				<div class="form-group col-md-6">
				    <label class="col-md-4 control-label ">
				        {{ (this.translation) ? this.translation['tip'] : 'Tip' }}:
				    </label>
				    <div class="col-md-8">
				        <input type="number" min="0" class="form-control" name="tip" style="width:175px;" v-model="saveServiceForm.tip" :placeholder="(this.translation) ? this.translation['enter']+this.translation['tip'] : 'Enter Tip'">
				    </div>
				</div>

				<div class="form-group col-md-6 m-l-2">
				    <label class="col-md-4 control-label ">
				        {{ (this.translation) ? this.translation['status'] : 'Status' }}:
				    </label>
				    <div class="col-md-8">
				        <select class="form-control" name="status" style="width:175px;" v-model="saveServiceForm.status">
	                        <option value="complete">
	                        	{{ (this.translation) ? this.translation['complete'] : 'Complete' }}</option>
	                        <option value="on process">
	                        	{{ (this.translation) ? this.translation['on-process'] : 'On Process' }}
	                        </option>
	                        <option value="pending">
	                        	{{ (this.translation) ? this.translation['pending'] : 'Pending' }}
	                        </option>
	                    </select>
				    </div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group col-md-6">
				    <label class="col-md-4 control-label ">
				        {{ (this.translation) ? this.translation['cost'] : 'Cost' }}:
				    </label>
				    <div class="col-md-8">
				        <input type="number" min="0" class="form-control" name="cost" style="width:175px;" v-model="saveServiceForm.cost" :placeholder="(this.translation) ? this.translation['enter']+this.translation['cost'] : 'Enter Cost'">
				    </div>
				</div>

				<div class="form-group col-md-6 m-l-2">
				    <label class="col-md-4 control-label ">
				        {{ (this.translation) ? this.translation['discount'] : 'Discount' }}:
				    </label>
				    <div class="col-md-8">
				        <input type="number" class="form-control" name="discount" min="0" style="width:175px;" v-model="saveServiceForm.discount" :placeholder="(this.translation) ? this.translation['enter']+this.translation['discount'] : 'Enter Discount'">
				    </div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
				    <label class="col-md-2 control-label">
				        {{ (this.translation) ? this.translation['reason'] : 'Reason' }}:
				    </label>
				    <div class="col-md-10">
				        <input type="text" class="form-control" name="reason" v-model="saveServiceForm.reason" :placeholder="(this.translation) ? this.translation['enter']+this.translation['reason'] : 'Enter Reason'">
				    </div>
				</div>
			</div>

			<template  v-if="saveServiceForm.status=='complete' && checkDetail()">

				<template v-if="postDetail()=='9a'">
					<div class="col-md-12" style="margin-left:140px !important">
						<div class="form-group col-md-4">
							<div class="col-md-4">
								<div class="form-group">
									  <label>{{ (this.translation) ? this.translation['expiration-date'] : 'Expiration Date' }}</label>
									 <the-mask style="width:175px;" v-model="saveServiceForm.exp_date" id="exp_date"  class="input-sm form-control" name="exp_date"  placeholder="YYYY/MM/DD"  mask="####/##/##"/>
								</div>
							</div>
						</div>

						<div class="form-group col-md-4">

								<div class="col-md-4">
									<div class="form-group">
										<label>{{ (this.translation) ? this.translation['arrival-date'] : 'Arrival Date' }}</label>
										 <the-mask style="width:175px;" v-model="saveServiceForm.arrival_date" id="arrival_date"  class="input-sm form-control" name="arrival_date"  placeholder="YYYY/MM/DD"  mask="####/##/##"/>
									</div>
								</div>
						</div>
						<div class="form-group col-md-4 m-l-2">
							<div class="col-md-4">
								<div class="form-group">
									<label>{{ (this.translation) ? this.translation['first-expiry'] : '1st expiry' }}</label>
									 <the-mask style="width:175px;" v-model="saveServiceForm.first_exp_date" id="first_exp_date"  class="input-sm form-control" name="first_exp_date"  placeholder="YYYY/MM/DD"  mask="####/##/##"/>
								</div>
							</div>
					</div>
					</div>
				</template>

				<template v-if="postDetail()=='9g' || postDetail()=='trv'">

					<div class="col-md-12" style="margin-left:140px !important">
						<div class="form-group col-md-4">
							<div class="col-md-4">
								<div class="form-group">
									  <label>{{ (this.translation) ? this.translation['expiration-date'] : 'Expiration Date' }}</label>
									 <the-mask style="width:175px;" v-model="saveServiceForm.exp_date" id="exp_date"  class="input-sm form-control" name="exp_date"  placeholder="YYYY/MM/DD"  mask="####/##/##"/>
								</div>
							</div>
						</div>

						<div class="form-group col-md-4">

							<div class="col-md-4">
								<div class="form-group">
									<label>{{ (this.translation) ? this.translation['icard-issued'] : 'ICard Issued' }}</label>
									 <the-mask style="width:175px;" v-model="saveServiceForm.issue_date" id="issue_date"  class="input-sm form-control" name="issue_date"  placeholder="YYYY/MM/DD"  mask="####/##/##"/>
								</div>
							</div>
						</div>

						<div class="form-group col-md-4  m-l-2">

								<div class="col-md-4">
									<div class="form-group">
											<label>{{ (this.translation) ? this.translation['icard-expiry'] : 'ICard expiry' }}</label>
											<the-mask style="width:175px;" v-model="saveServiceForm.icard_exp_date" id="icard_exp_date"  class="input-sm form-control" name="icard_exp_date"  placeholder="YYYY/MM/DD"  mask="####/##/##" />
									</div>
								</div>
						</div>
						
					</div>

				</template>

			</template>

			<div classs="col-md-12">
				<div class="form-group">
				    <label class="col-md-2 control-label">
				        {{ (this.translation) ? this.translation['note'] : 'Note' }}:
				    </label>
				    <div class="col-md-10">
				        <input type="text" class="form-control" name="note" v-model="saveServiceForm.note" :placeholder="(this.translation) ? this.translation['enter']+this.translation['note'] : 'Enter Note'">
				    </div>
				</div>
			</div>

			<div classs="col-md-12">
				<div class="form-group col-md-6">
					<label class="col-md-4 control-label">
				        {{ (this.translation) ? this.translation['status'] : 'Status' }}:
				    </label>
				    <div class="col-md-8">
				    	<div style="height:5px;clear:both;"></div>
				        <label class="">
				        	<input type="radio" value="0" name="active" v-model="saveServiceForm.active"> <i></i>
				        	{{ (this.translation) ? this.translation['disabled'] : 'Disabled' }}
				        </label>

	                    <label class="m-l-2">
	                    	<input type="radio" value="1" name="active" v-model="saveServiceForm.active"> <i></i>
	                    	{{ (this.translation) ? this.translation['enabled'] : 'Enabled' }}
	                    </label>
	                </div>
			    </div>

			    <div class="form-group col-md-6">
				    <label class="col-md-4 control-label ">
				        {{ (this.translation) ? this.translation['extend-to'] : 'Extend To' }}:
				    </label>
				    <div class="col-md-6">
				    	<form id="daily-form" class="form-inline">
	                        <div class="form-group">
	                            <div class="input-group date">
	                                <span class="input-group-addon">
	                                    <i class="fa fa-calendar"></i>
	                                </span>
	                                <input type="text" id="date" v-model="saveServiceForm.extend" autocomplete="off" class="form-control datepicker" name="date">
	                            </div>
	                        </div>
	                    </form>
				    </div>
				</div>

				<div class="form-group">
				    <label class="col-md-2 control-label">
				       	{{ (this.translation) ? this.translation['required-documents'] : 'Required Documents' }}: <span class="text-danger">*</span>
				    </label>

				    <div class="col-md-10">
			            <select :data-placeholder="(this.translation) ? this.translation['select-docs'] : 'Select Documents'" class="chosen-select-for-required-docs" multiple style="width:350px;" tabindex="4">
			                <option v-for="doc in requiredDocs" :value="doc.id">
			                	{{ (doc.title).trim() }}
			                </option>
			            </select>
				    </div>
				</div>
				<div class="form-group">
				    <label class="col-md-2 control-label">
				       	{{ (this.translation) ? this.translation['optional-documents'] : 'Optional Documents' }}:
				    </label>

				    <div class="col-md-10">
			            <select :data-placeholder="(this.translation) ? this.translation['select-docs'] : 'Select Documents'" class="chosen-select-for-optional-docs" multiple style="width:350px;" tabindex="4">
			                <option v-for="doc in optionalDocs" :value="doc.id">
			                	{{ (doc.title).trim() }}
			                </option>
			            </select>
				    </div>
				</div>
			</div>


<!-- 			<div classs="col-md-12">
				<div class="form-group">
				    <label class="col-md-2 control-label">
				        Reporting:
				    </label>
				    <div class="col-md-10">
				        <input type="text" class="form-control" name="reporting" v-model="$parent.$parent.editServ.reporting">
				    </div>
				</div>
			</div> -->


		</div>

	    <div class="col-md-12">
			<button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">
				{{ (this.translation) ? this.translation['close'] : 'Close' }}
			</button>
			<button type="submit" class="btn btn-primary pull-right">
				{{ (this.translation) ? this.translation['save'] : 'Save' }}
			</button>
	    </div>
	</form>

</template>

<script>

	export default {

		data() {
			return {
				rcv:'',
				translation: null,
				dt:'',
				requiredDocs: [],
        		optionalDocs: [],
				saveServiceForm: {
					id: '',
					tracking: '',
					tip: '',
					status: '',
					cost: '',
					discount: '',
					reason: '',
					note: '',
					active: '',
					reporting: '',
					extend:'',
					detail:'',
					exp_date:'',
					arrival_date:'',
					first_exp_date:'',
					issue_date:'',
					icard_exp_date:''
				},
			}
		},

		methods: {
			getTranslation() {
				if(window.Laravel.language == 'cn'){
					axios.get('/visa/home/translation/edit-service-dashboard')
		               .then(response => {
		                   this.translation = response.data.translation;
		               });
	           }
			},
			checkDetail(){
				var l = false;
				//if(this.saveServiceForm.detail.toLowerCase().indexOf("9a") >= 0 || this.saveServiceForm.detail.toLowerCase().indexOf("9g") >= 0 || this.saveServiceForm.detail.toLowerCase().indexOf("trv") >= 0 || this.saveServiceForm.detail.toLowerCase().indexOf("cwv") >= 0){
				if(this.saveServiceForm.parent_id==63||this.saveServiceForm.parent_id==114||this.saveServiceForm.parent_id==70||this.saveServiceForm.parent_id==148||this.saveServiceForm.parent_id==238){
					l = true;
				}
				return l;
			},
			postDetail(){
				if(this.saveServiceForm.parent_id== 114 ){
					return '9a';
				}else if(this.saveServiceForm.parent_id== 63){
					return '9a';
				}else if(this.saveServiceForm.parent_id== 70){
					return '9g';
				}else if(this.saveServiceForm.parent_id== 148){
					return 'trv';
				}else if(this.saveServiceForm.parent_id== 238){
					return 'cwv';
				}else{
					return ''
				}
			},
			initChosenSelect() {

				$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').chosen({
					width: "100%",
					no_results_text: "No result/s found.",
					search_contains: true
				});

			},

			getDate(){
		    	console.log($('form#daily-form input[name=date]').val());
		    	this.dt = $('form#daily-form input[name=date]').val();
		    	this.saveServiceForm.extend = this.dt;
		    },

			setService(id, tracking, tip, status, cost, discount, reason, active, extend, rcv_docs, detail,parent_id) {
				this.saveServiceForm = {
					id, tracking, tip, status, cost, discount, reason, active, extend, rcv_docs, detail, parent_id}
			},

			clearSaveServiceForm() {
				this.saveServiceForm = {
					id: '',
					tracking: '',
					tip: '',
					status: '',
					cost: '',
					discount: '',
					reason: '',
					note: '',
					active: '',
					reporting: '',
					extend:'',
					rcv_docs:'',
					detail:'',
					exp_date:'',
					arrival_date:'',
					first_exp_date:'',
					issue_date:'',
					icard_exp_date:'',
					parent_id:''
				}
			},

			saveService() {
				var requiredDocs = '';
        		$('.chosen-select-for-required-docs option:selected').each( function(e) {
			        requiredDocs += $(this).val() + ',';
			    });

        		var optionalDocs = '';
        		$('.chosen-select-for-optional-docs option:selected').each( function(e) {
			        optionalDocs += $(this).val() + ',';
			    });

			    var docs = requiredDocs + optionalDocs;
				this.saveServiceForm.rcv_docs = docs.slice(0, -1);

				if(this.saveServiceForm.discount > 0 && this.saveServiceForm.reason == ''){
			        toastr.error( (this.translation) ? this.translation['please-input-discount-reason'] : 'Please input discount reason');
			    }else if(requiredDocs == '' && this.requiredDocs.length!=0){
        			toastr.error( (this.translation) ? this.translation['please-select-required-documents'] : 'Please select required documents');
			    } else {

        	axios.post('/visa/client/clientEditService', {
						id: this.saveServiceForm.id,
						tracking: this.saveServiceForm.tracking,
						tip: this.saveServiceForm.tip,
						status: this.saveServiceForm.status,
						cost: this.saveServiceForm.cost,
						discount: this.saveServiceForm.discount,
						reason: this.saveServiceForm.reason,
						note: this.saveServiceForm.note,
						active: this.saveServiceForm.active,
						reporting: this.saveServiceForm.reporting,
						extend: this.saveServiceForm.extend,
						rcv_docs: this.saveServiceForm.rcv_docs,
						exp_date: this.saveServiceForm.exp_date,
						arrival_date: this.saveServiceForm.arrival_date,
						first_exp_date: this.saveServiceForm.first_exp_date,
						issue_date: this.saveServiceForm.issue_date,
						icard_exp_date: this.saveServiceForm.icard_exp_date,
						detail: this.saveServiceForm.detail,
						parent_id:this.saveServiceForm.parent_id,
						//visa_id: (this.postDetail()=='9a' ? 1 : (this.postDetail()=='9g' ? 2 : (this.postDetail()=='trv' ? 3 : 4)));

					})
					.then(response => {
						if(response.data.success) {
							this.clearSaveServiceForm();

		                	this.$parent.$parent.callDataTables1();
		                	this.$parent.$parent.callDataTables2();
		                	$(".chosen-select-for-required-docs, .chosen-select-for-optional-docs").val('').trigger('chosen:updated');

		                	$('#editServiceModal').modal('hide');

		                	toastr.success( (this.translation) ? this.translation['service-successfully-updated'] : 'Service successfully updated');
		                }
					})
					.catch(error =>{
		                for(var key in error) {
			            	if(error.hasOwnProperty(key)) toastr.error(error[key][0])
			            }
		            });

        		}
			},

			fetchDocs(rd, od){

				$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').val('').trigger('chosen:updated');

				if(this.saveServiceForm.rcv_docs == '' || this.saveServiceForm.rcv_docs == null)
					this.rcv = ( this.saveServiceForm.rcv_docs!=null ? this.saveServiceForm.rcv_docs.split(",") : '');
				else
					this.rcv = this.saveServiceForm.rcv_docs.split(",");

			 	axios.get('/visa/group/'+rd+'/service-docs')
			 	  .then(result => {
		            this.requiredDocs = result.data;
		        });

			 	axios.get('/visa/group/'+od+'/service-docs')
			 	  .then(result => {
		            this.optionalDocs = result.data;
		        });

			},




		},
		created() {

			this.getTranslation();
		},
		mounted() {
			this.initChosenSelect();
        	// DatePicker
	        	$('.datepicker').datepicker({
	                todayBtn: "linked",
	                keyboardNavigation: false,
	                forceParse: false,
	                calendarWeeks: true,
	                autoclose: true,
	                format: "yyyy-mm-dd",
	            })
	            .on('changeDate', function(e) { // Bootstrap Datepicker onChange
	            	let id = e.target.id;
			        let date = e.target.value;

			        console.log('ID : ' + id);
			        console.log('DATE : ' + date);
			        this.getDate();
			    }.bind(this))
			    .on('change', function(e) { // native onChange
			    	let id = e.target.id;
			    	let date = e.target.value;

			    	console.log('ID : ' + id);
			        console.log('DATE : ' + date);
			    }.bind(this));

        },
				updated(){
					$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').chosen('destroy');
					$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').chosen({
						width: "100%",
						no_results_text: "No result/s found.",
						search_contains: true
					});

					$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').val(this.rcv).trigger('chosen:updated');
					$('.chosen-select-for-required-docs, .chosen-select-for-optional-docs').trigger('chosen:updated');

				}
	}

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>
