<template>

	<form class="form-horizontal" @submit.prevent="editAddress">

		<div class="form-group" :class="{ 'has-error': editAddressForm.errors.has('address') }">
	        <label class="col-sm-2 control-label">
	            {{ (translation) ? translation['name'] : 'Name' }}
	            <span class="text-danger">*</span>
	        </label>

	        <div class="col-sm-10">
	            <input type="text" class="form-control m-top-0" name="name" v-model="editAddressForm.name">
	            <span class="help-block" v-if="editAddressForm.errors.has('name')" v-text="editAddressForm.errors.get('name')"></span>
	        </div>
	    </div>

		<div class="form-group" :class="{ 'has-error': editAddressForm.errors.has('address') }">
	        <label class="col-sm-2 control-label">
	            {{ (translation) ? translation['number'] : 'Number' }}
	            <span class="text-danger">*</span>
	        </label>

	        <div class="col-sm-10">
	            <input type="text" class="form-control m-top-0" name="number" v-model="editAddressForm.number">
	            <span class="help-block" v-if="editAddressForm.errors.has('number')" v-text="editAddressForm.errors.get('number')"></span>
	        </div>
	    </div>

		<div class="form-group" :class="{ 'has-error': editAddressForm.errors.has('address') }">
	        <label class="col-sm-2 control-label">
	            {{ (translation) ? translation['address'] : 'Address' }}
	            <span class="text-danger">*</span>
	        </label>

	        <div class="col-sm-10">
	            <input type="text" class="form-control m-top-0" name="address" v-model="editAddressForm.address">
	            <span class="help-block" v-if="editAddressForm.errors.has('address')" v-text="editAddressForm.errors.get('address')"></span>
	        </div>
	    </div>

		<button type="submit" class="btn btn-primary pull-right">
			{{ (translation) ? translation['edit'] : 'Edit' }}
		</button>
	    <button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">
	    	{{ (translation) ? translation['close'] : 'Close' }}
	    </button>

	</form>

</template>

<script>

    export default {

    	props: ['groupid'],

    	data() {
    		return {
    			translation: null,

    			editAddressForm: new Form({
					address: '',
					number: '',
					name: '',
				}, { baseURL: axiosAPIv1.defaults.baseURL })
    		}
    	},

    	methods: {

    		getTranslation() {
        		axios.get('/visa/group/translation/edit-address')
			        .then(response => {
			        	this.translation = response.data.translation;
			        });
			},

    		setGroupAddress() {
    			axiosAPIv1.get('/visa/group/' + this.groupid)
				.then(response => {		
					this.editAddressForm.address = response.data.address;
					this.editAddressForm.number = response.data.user.contact_number;
					this.editAddressForm.name = response.data.name;
				})
				.catch(error => console.log(error));
    		},

    		editAddress() {
    			this.editAddressForm.submit('patch', '/visa/group/' + this.groupid + '/edit-address')
				.then(response => {
					if(response.success) {
						this.$parent.$parent.fetchDetails();

						$('#edit-address-modal').modal('hide');

						toastr.success(response.message);
					}
				})
				.catch(error => console.log(error));
    		}

    	},

    	created() {
			if(window.Laravel.language == 'cn'){
	    		this.getTranslation();
	    	}
    	}

    }

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>