<template>

	<form class="form-horizontal">
			<center>
			<br>

			<div class="i-checks">
				<label > <input type="radio" value="byservices" checked name="optradio"> <i></i> By Service </label>
				<label class="m-l-2"> <input type="radio" value="bymembers" name="optradio"> <i></i> By Members </label>
				<label class="m-l-2"> <input type="radio" value="bybatch" name="optradio"> <i></i> By Batch </label>
			</div>

			<br>

		    <a class="export-english btn btn-success btn-lg" @click="exportExcel('EN')">
		    	<img class="dd-selected-image" src="/shopping/img/general/flag/en.jpg"> English </a>
		    <a class="export-english btn btn-danger btn-lg m-l-xs" @click="exportExcel('CN')">
		    	<img class="dd-selected-image" src="/shopping/img/general/flag/cn.jpg"> Mandarin </a>
			<br>
			</center>
 			<!-- {{ radiovalue }} -->
			<div class="ibox float-e-margins" v-show="radiovalue == 'byservices'">
                <div class="ibox-title">
                    <h5>Filter Options</h5>
                </div>
<!-- 				<div class="form-group"><label class="col-sm-2 control-label">Date </label>
					<div class="col-sm-10"><input type="text" class="form-control date-picker" name="startDate" id="startDate"></div>
                </div> -->

                <div class="form-group" >
			        <label class="col-md-2 control-label">
			            Date
			        </label>

			        <div class="col-md-10">
			            <select data-placeholder="Select Date" multiple class="chosen-select-for-date" style="width:350px;" tabindex="4">
			            	<!-- <option value='0'>Select Date</option> -->
			                <option v-for="d in dateList" :value="d">
			                	{{ (d) }}
			                </option>
			            </select>
			        </div>
			    </div>

			    <div class="form-group">
			    	<label class="check" v-for="service in servicesList">
					    <input type="checkbox" class="service-selected" name="service-select" :value="service.id"> {{ service.detail }}
					  	<span class="checkmark"></span>
					</label>
			    </div>

<!--                 <div class="form-group" >
			        <label class="col-md-2 control-label">
			            Service
			        </label>

			        <div class="col-md-10">
			            <select data-placeholder="Select Service" class="chosen-select-for-service" multiple style="width:350px;" tabindex="4">
			                <option v-for="service in servicesList" :value="service.id">
			                	{{ (service.detail).trim() }}
			                </option>
			            </select>
			        </div>
			    </div> -->

            </div>

	</form>

</template>

<script>

    export default {

    	props: ['groupid','radiovalue'],

    	data() {
    		return {
    			translation: null,
    			servicesList: [],
    			dateList: [],
    			services: null,
    			dates: null,
    		}
    	},

    	methods: {

    		exportExcel($lang) {
    			var type = $("input[name='optradio']:checked").val();
    			var selectedDate = this.dates;
    			if(selectedDate == '' || selectedDate == null){
    				selectedDate = '0/0';
    			}
    			let vm = this;
				vm.services = '';
    			$('input.service-selected:checkbox:checked').each(function () {
		                vm.services += $(this).val() + ',';
		            });
    			console.log(vm.services);
    			var services = vm.services;
    			if(this.services == null || this.services == ''){
    				services = 0;
    			}
    			//alert(selectedDate+" "+services);

			    var dlink = '/visa/report/get-group-summary/'+this.groupid+"/"+type+"/"+$lang+"/"+services+"/"+selectedDate;

			    var preparingMessageHtml = 'We are preparing your report, please wait...';

			    var failMessageHtml = 'There was a problem generating your report, please try again';

			    //swal.close();
				$('#export-excel-modal').modal('hide');
		        $.fileDownload(dlink, {
		            preparingMessageHtml: preparingMessageHtml,
		            failMessageHtml: failMessageHtml
		        });
		        return false; //this is critical to stop the click event which will trigger a normal file download!
    		},

    		fetchDateList(grid) {
        		axios.get('/visa/service-manager/showDateAdded/'+grid+'/0')
					.then(response => {
						this.dateList = response.data;

						 setTimeout(() => {
							$(".chosen-select-for-date").trigger("chosen:updated");
						 }, 1000);
						
					})
					.catch(error => console.log(error) );
        	},

    		fetchServiceList(grid) {
        		axios.get('/visa/service-manager/showServiceAdded/'+grid+'/'+this.dates)
					.then(response => {
						this.servicesList = response.data.filter(r => r.parent_id != 0);

						// setTimeout(() => {
						// 	$(".chosen-select-for-service").trigger("chosen:updated");
						// }, 1000);
						
					})
					.catch(error => console.log(error) );
        	},

        	resetExportExcel(){
        		$('.chosen-select-for-date').val('').trigger('chosen:updated');
        		//$('.chosen-select-for-service').val('').trigger('chosen:updated');
        		this.servicesList = [];
		    	this.dateList= [];
		    	this.services= null;
		    	this.dates= null;
        		// $('#startDate').val('');
        	},

    	},

    	created() {
			if(window.Laravel.language == 'cn'){
	    		this.getTranslation();
	    	}
    	},

    	mounted(){
    		let vm = this;

    		$('.chosen-select-for-date').chosen({
					width: "100%",
					no_results_text: "No result/s found.",
					search_contains: true,
					max_selected_options:1
				});

    		$('.chosen-select-for-date').on('change', function() {
					let date = $(this).val();

					//vm.dates = date.join(",");
					vm.dates = date;
					if(date!=''){
						vm.fetchServiceList(vm.groupid);
					}
					//console.log(servString);

				});


            $('#export-excel-modal').on('show.bs.modal', () => {
		        this.resetExportExcel();
		    });

            // $('.date-picker').datepicker({
	           //      dateFormat: "mm/yy",
	           //      changeMonth: true,
	           //      changeYear: true,
	           //      showButtonPanel: true,
	           //      onClose: function(dateText, inst) {
	           //          function isDonePressed(){
	           //              return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
	           //          }

	           //          if (isDonePressed()){
	           //              var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
	           //              var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
	           //              $(this).datepicker('setDate', new Date(year, month, 1)).trigger('change');
	                        
	           //               $('.date-picker').focusout()//Added to remove focus from datepicker input box on selecting date
	           //          }
	           //      },
	           //      beforeShow : function(input, inst) {

	           //          inst.dpDiv.addClass('month_year_datepicker')
	           //          var datestr = ($(this).val()).length;
	           //          if (  datestr > 0) {
	           //          	datestr = $(this).val();
	           //              var year = datestr.substring(datestr.length-4, datestr.length);
	           //              var month = datestr.substring(0, 2);
	           //              $(this).datepicker('option', 'defaultDate', new Date(year, month-1, 1));
	           //              $(this).datepicker('setDate', new Date(year, month-1, 1));
	           //              $(".ui-datepicker-calendar").hide();
	           //          }
	           //      }
            //  });


			// $('input').on('ifChecked', function(event){
			//   	var type = $("input[name='optradio']:checked").val();
			//   	alert(type);
			//   	this.radiovalue = type;
			//   	alert(this.radiovalue);

			// });
    	}

    }

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}


.checkround {

    position: absolute;
    top: 6px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff ;
    border-color:#1ab394;
    border-style:solid;
    border-width:2px;
     border-radius: 50%;
}





.checkround:after {
    content: "";
    position: absolute;
    display: none;
}

.check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #fff ;
    border-color:#1ab394;
    border-style:solid;
    border-width:2px;
}




.check input:checked ~ .checkmark {
    background-color: #fff  ;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.check input:checked ~ .checkmark:after {
    display: block;
}


.check .checkmark:after {
    left: 3px;
    top: 0px;
    width: 5px;
    height: 9px;
    border: solid ;
    border-color:#1ab394;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cust-btn{
	margin-bottom: 10px;
	background-color: #1ab394;
	border-width: 2px;
	border-color: #1ab394;
	color: #fff;
}
.cust-btn:hover{
	
	border-color: #1ab394;
	background-color: #fff;
	color: #1ab394;
	border-radius: 20px;
	transform-style: 2s;

}

</style>