<template>
	<div>
		<div>
			<div class="row">
				<div class="col-md-6">
					<button type="button" class="btn btn-primary btn-block" 
						@click="changeMemberType('leader')">
						<i class="fa fa-star fa-fw" ></i> <i class="fa fa-star fa-fw" ></i> 
						{{ (translation) ? translation['make-group-leader'] : 'Make Group Leader' }}
					</button>
				</div>
				<div class="col-md-6">
					<button type="button" class="btn btn-info btn-block" 
						@click="changeMemberType('member')">
						<i class="fa fa-star-o fa-fw" ></i> {{ (translation) ? translation['make-group-member'] : 'Make Group Member' }}</button>
				</div>
			</div>
		</div>

	</div>

</template>

<script>

    export default {

    	props: ['groupid'],

    	data() {
    		return {
    			translation: null
    		}
    	},

    	methods: {

    		getTranslation() {
        		axios.get('/visa/group/translation/group-member-type')
			        .then(response => {
			        	this.translation = response.data.translation;
			        });
			},

    		changeMemberType(type) {
    			// option = make-group-leader | make-group-member
    			var vm = this;
    			this.$parent.$parent.changeMemberType(type);

    		},


    	},

    	created() {
    		if(window.Laravel.language == 'cn'){
    			this.getTranslation();
    		}
    	}

    }

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>