<template>
<div>
	 <!--<loading :active.sync="isLoading" 
        :is-full-page="false"></loading>-->
	<div  v-show="page_wizard==1  && !loading">
		<table class="table table-bordered table-striped table-hover group-members" style="width: 100%">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Date Created</th>
					<th>{{ (translation) ? translation['name'] : 'NAME' }}</th>
					<th>{{ (translation) ? translation['client-number'] : 'CLIENT NUMBER' }}</th>
					<th>{{ (translation) ? translation['total-service-cost'] : 'TOTAL COST' }}</th>
					<th v-show="_makeleader == 1 || _setting == 1">&nbsp;</th>
					<th v-show="_transfer == 1 || _setting == 1">&nbsp;</th>
					<th v-show="_delete == 1 || _setting == 1">&nbsp;</th>
				</tr>
			</thead>
		</table>
			<div class="form-group" v-show="nxt">
					<div class="col-sm-4 col-sm-offset-8">
						<button class="btn btn-primary pull-right" style="width:100px;margin-right:-18px" @click="$refs.wizards.nxtWizard('nxt')">{{ (translation) ? translation['next'] : 'Next' }}</button>
					</div>
			</div>
			
	 </div>
	 <wizard-component ref="wizards" :page_wizard="page_wizard" :selected_data="selectedData" :nxt="nxt">

     </wizard-component>
	   <div v-show="loading" class="ibox">
            <div class="ibox-content">
                <div class="spiner-example">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                </div>
            </div>
        </div>
	 <!--
	 <div  v-show="page_wizard==2">
		 <div class="row">
					<div class="col-md-6">
						<div class="form-group" :class="{ 'has-error': editServiceForm.errors.has('additional_charge') }">
						    <label for="additonal_charge">{{ (translation) ? translation['extra-cost'] : 'Extra Cost' }}</label>
						    <input type="text" class="form-control" id="additional_charge" name="additional_charge" v-model="tipValue" :disabled="tipStatus == 1">
						 	  <span class="help-block" v-if="editServiceForm.errors.has('additional_charge')" v-text="editServiceForm.errors.get('additional_charge')"></span>
						</div>

						<div class="form-group" :class="{ 'has-error': editServiceForm.errors.has('cost') }">
						    <label for="cost">{{ (translation) ? translation['cost'] : 'Cost' }}</label>
						    <input type="text" class="form-control" id="cost" name="cost" v-model="costValue" :disabled="costStatus == 1">
						  	<span class="help-block" v-if="editServiceForm.errors.has('cost')" v-text="editServiceForm.errors.get('cost')"></span>
						</div>

						<div class="form-group" :class="{ 'has-error': editServiceForm.errors.has('charge') }">
						    <label for="cost">{{ (translation) ? translation['charge'] : 'Charge' }}</label>
						    <input type="text" class="form-control" id="charge" name="charge" v-model="chargeValue" :disabled="chargeStatus == 1">
						   	<span class="help-block" v-if="editServiceForm.errors.has('charge')" v-text="editServiceForm.errors.get('charge')"></span>
						</div>

						<div class="form-group" :class="{ 'has-error': editServiceForm.errors.has('discount') }">
						    <label for="cost">{{ (translation) ? translation['discount'] : 'Discount' }}</label>
						    <input type="text" class="form-control" id="discount" name="discount" v-model="discountValue" :disabled="discountStatus == 1">
						    <span class="help-block" v-if="editServiceForm.errors.has('discount')" v-text="editServiceForm.errors.get('discount')"></span>
						</div>

					</div>

					<div class="col-md-6">
						<div class="form-group">
						    <label for="status">{{ (translation) ? translation['status'] : 'Status' }}</label>
						    <select class="form-control" id="status" name="status" v-model="statusValue" :disabled="statusStatus == 1">
						    	<option value="complete">
						    		{{ (translation) ? translation['complete'] : 'Complete' }}
						    	</option>
						    	<option value="on process">
						    		{{ (translation) ? translation['on-process'] : 'On Process' }}
						    	</option>
						    	<option value="pending">
						    		{{ (translation) ? translation['pending'] : 'Pending' }}
						    	</option>
						    </select>
						</div>

						<div class="form-group">
						    <label for="note">{{ (translation) ? translation['note'] : 'Note' }}</label>
						    <textarea class="form-control" id="note" name="note" v-model="noteValue" placeholder="for internal use only, only employees can see."></textarea>
						</div>

						<div class="form-group" style="margin-top: 22px;">
						    <label for="active"></label>
						    <label class="radio-inline">
							  <input type="radio" id="active" name="active" value="1" v-model="activeValue" :disabled="activeStatus == 1"> {{ (translation) ? translation['enable'] : 'Enable' }}
							</label>
							<label class="radio-inline">
							  <input type="radio" id="active" name="active" value="0" v-model="activeValue" :disabled="activeStatus == 1"> {{ (translation) ? translation['disable'] : 'Disable' }}
							</label>
						</div>

						<div class="form-group"  style="margin-top: 25px;" :class="{ 'has-error': editServiceForm.errors.has('reason') }" v-show="discountValue!='' && discountValue!=null" >
						    <label for="cost">{{ (translation) ? translation['reason'] : 'Reason' }}</label>
						    <input type="text" class="form-control" id="reason" name="reason" v-model="reasonValue" :disabled="discountStatus == 1">
						    <span class="help-block" v-if="editServiceForm.errors.has('reason')" v-text="editServiceForm.errors.get('reason')"></span>
						</div>
					</div>

					<div class="form-group">
					<div class="col-sm-4 col-sm-offset-8">
						<button class="btn btn-success pull-right" style="width:100px;margin-right:-18px;" @click="updateServices">Save</button>
						<button class="btn btn-primary pull-right" style="width:100px;margin-right:-18px;margin-right:8px" @click="nxtWizard('prv')">Back</button>						
					</div>
			</div>
				</div>
	 </div>-->
</div>
</template>

<script>
	import WizardComponent from '../../components/Visa/Wizards.vue'
	// import Loading from 'vue-loading-overlay';
	// import 'vue-loading-overlay/dist/vue-loading.css';
	export default {

		props: ['page_wizard','service_editor','_makeleader', '_transfer', '_delete', '_setting','group_id','loading'],

		data() {
			return {

				nxt:false,

				selectedData: [],
				
				loadedData:[],

				isLoading: false,

				translation: null,
			}
		},

		methods: {
			getTranslation() {
				if(window.Laravel.language == 'cn'){
	        		axios.get('/visa/group/translation/group-members')
				        .then(response => {
				        	this.translation = response.data.translation;
				        });
			    }
			},

			format(data) {
				let cid = null;
				let vm = this;
				let editText = 'Editing';
				let packageText = (this.translation) ? this.translation['package'] : 'Package';
				let dateRecordedText = (this.translation) ? this.translation['date-recorded'] : 'Date Recorded';
				let detailsText = (this.translation) ? this.translation['details'] : 'Details';
				let statusText = (this.translation) ? this.translation['status'] : 'Status';
				let chargeText = (this.translation) ? this.translation['charge'] : 'Charge';
				let discountText = (this.translation) ? this.translation['discount'] : 'Discount';
				let actionText = (this.translation) ? this.translation['action'] : 'Action';
				var table;
				if(!this.service_editor){
					 table = 
					'<table class="table table-bordered table-striped table-hover">'+
						'<thead>'+
							'<tr>'+
								'<th class="not-show">'+editText+'</th>'+
			                    '<th>'+packageText+'</th>'+
			                    '<th>'+dateRecordedText+'</th>'+
			                    '<th>'+detailsText+'</th>'+
			                    '<th>'+statusText+'</th>'+
			                    '<th>'+chargeText+'</th>'+
			                    '<th>'+discountText+'</th>'+
			                    '<th class="text-center">'+actionText+'</th>'+
		                    '</tr>'+
		                '</thead>'+
		                '<tbody>';
				}else{
					 table = 
					'<table class="table table-bordered table-striped table-hover">'+
						'<thead>'+
							'<tr>'+
								'<th class="showing">'+editText+'</th>'+
			                    '<th>'+packageText+'</th>'+
			                    '<th>'+dateRecordedText+'</th>'+
			                    '<th>'+detailsText+'</th>'+
			                    '<th>'+statusText+'</th>'+
			                    '<th>'+chargeText+'</th>'+
			                    '<th>'+discountText+'</th>'+
			                    '<th class="text-center">'+actionText+'</th>'+
		                    '</tr>'+
		                '</thead>'+
		                '<tbody>';
				}
				

		                // d.services => data
		                for(var i=0; i<data.length; i++) {
		                	cid = data[i].user.document_receive;
		                    let clientServiceId = JSON.parse(JSON.stringify(data[i])).id;

		                    var className = (data[i].active == 0) ? 'strikethrough' : '';

		                    if(data[i].remarks) {
		                       	var remarks = data[i].remarks;
		                        var details = '<a href="#" data-toggle="popover" data-placement="right" data-container="body" data-content="'+remarks+'" data-trigger="hover">'+data[i].detail+'</a>';
		                    } else {
		                        var details = data[i].detail;
		                    }

		                    if(data[i].discounts.length > 0) {
		                       	if(data[i].discounts[0].reason) {
		                        	var reason = data[i].discounts[0].reason;
		                        	var discount = '<a href="#" data-toggle="popover" data-placement="left" data-container="body" data-content="'+reason+'" data-trigger="hover">'+data[i].discounts[0].amount+'</a>';
		                  		} else {
		                   			var discount = data[i].discounts[0].amount;
		                   		}
		                    } else {
		                   		var discount = '&nbsp;';
		                    }
		                    
							//var _action = '<a href="javascript:void(0)" class="edit-service-action" data-toggle="modal" data-target="#edit-service-modal" data-serviceclientid="'+data[i].client_id+'" data-serviceserviceid="'+data[i].service_id+'" data-serviceid="'+data[i].id+'"><i class="fa fa-pencil-square-o" data-serviceclientid="'+data[i].client_id+'" data-serviceserviceid="'+data[i].service_id+'" data-serviceid="'+data[i].id+'"></i></a> &nbsp; <a href="javascript:void(0)" class="write-report-action" data-clientid="'+data[i].client_id+'" data-tracking="'+data[i].tracking+'" data-clientserviceid="'+clientServiceId+'"><i class="fa fa-list-alt" data-clientid="'+data[i].client_id+'" data-tracking="'+data[i].tracking+'" data-clientserviceid="'+clientServiceId+'"></i></a> &nbsp; <a href="javascript:void(0)" class="view-service-report-action" data-serviceid="'+data[i].id+'"><i class="fa fa-list" data-serviceid="'+data[i].id+'"></i></a>';
							
							// var _action = '<a href="javascript:void(0)" class="write-report-action" data-clientid="'+data[i].client_id+'" data-tracking="'+data[i].tracking+'" data-clientserviceid="'+clientServiceId+'"><i class="fa fa-list-alt" data-clientid="'+data[i].client_id+'" data-tracking="'+data[i].tracking+'" data-clientserviceid="'+clientServiceId+'"></i></a> &nbsp; <a href="javascript:void(0)" class="view-service-report-action" data-serviceid="'+data[i].id+'"><i class="fa fa-list" data-serviceid="'+data[i].id+'"></i></a>';

							var _action = '&nbsp; <a href="javascript:void(0)" class="write-report-action" data-clientid="'+data[i].client_id+'" data-tracking="'+data[i].tracking+'" data-clientserviceid="'+clientServiceId+'"><i class="fa fa-list-alt" data-clientid="'+data[i].client_id+'" data-tracking="'+data[i].tracking+'" data-clientserviceid="'+clientServiceId+'"></i></a>';

                        	if(data[i].status == 'pending'){
                        		var _action = '&nbsp;';
                        	}

		                    _action += '&nbsp; <a href="javascript:void(0)" class="view-service-report-action" data-serviceid="'+data[i].id+'"><i class="fa fa-list" data-serviceid="'+data[i].id+'"></i></a>';

							if(!this.service_editor){
								table += '<tr class="'+className+'" style="display:table-row">';
								table += '<td class="not-show"><input name="selectedServices[]" class="checkServices" type="checkbox" data-serviceclientid="'+data[i].client_id+'" data-serviceserviceid="'+data[i].service_id+'" data-serviceid="'+data[i].id+'"></td>';
		                       	table += '<td>'+data[i].tracking+'</td>';
		                        table += '<td>'+data[i].service_date+'</td>';
		                   		table += '<td>'+details+'</td>';
		                  		table += '<td>'+data[i].status+'</td>';
		                        table += '<td>'+(parseFloat(data[i].charge)+parseFloat(data[i].cost)+(parseFloat(data[i].tip)+(parseFloat(data[i].com_client) ? parseFloat(data[i].com_client):0)+(parseFloat(data[i].com_agent) ? parseFloat(data[i].com_agent) : 0))).toFixed(2)+'</td>';
		                        table += '<td>'+discount+'</td>';
		                   		table += '<td class="text-center">'+_action+'</td>';
		                    	table += '</tr>';
							}else{
								table += '<tr class="'+className+'" style="display:table-row">';
								table += '<td class="showing"><input name="selectedServices[]" class="checkServices" type="checkbox" data-serviceclientid="'+data[i].client_id+'" data-serviceserviceid="'+data[i].service_id+'" data-serviceid="'+data[i].id+'"></td>';
		                       	table += '<td>'+data[i].tracking+'</td>';
		                        table += '<td>'+data[i].service_date+'</td>';
		                   		table += '<td>'+details+'</td>';
		                  		table += '<td>'+data[i].status+'</td>';
		                        table += '<td>'+(parseFloat(data[i].charge)+parseFloat(data[i].cost)+(parseFloat(data[i].tip)+(parseFloat(data[i].com_client) ? parseFloat(data[i].com_client):0)+(parseFloat(data[i].com_agent) ? parseFloat(data[i].com_agent) : 0))).toFixed(2)+'</td>';
		                        table += '<td>'+discount+'</td>';
		                   		table += '<td class="text-center">'+_action+'</td>';
		                    	table += '</tr>';
							}
		                	
		                }

		        table += '</tbody></table>';

				$('body').on('click', '.checkServices', function (e) {
					let client_service_id = e.target.getAttribute('data-serviceid');
					if($('[name="selectedServices[]"]:checked').length > 0){
						if(e.target.checked){
					
							axios.get('/visa/group/member/services/'+e.target.getAttribute('data-serviceid'))
								  	.then((response) => { 
											 vm.selectedData.push(response.data[0]);
							});

						}else{
						
							 vm.selectedData = $.grep(vm.selectedData, function(e){ 
								 return e.id != client_service_id; 
							});
							
						}
						
									 //console.log(vm.selectedData);
						vm.nxt = true;
					}else{
						vm.selectedData = [];
						vm.nxt = false;
					}
					
				});

		        let rcv = cid;
		        let docrcv = '';
		        if(rcv){	        	
					let docrcv = '<ul class="tag-list" style="padding: 0">';
			        for(var i=0; i<rcv.length; i++) {
						docrcv = docrcv +'<li><a style="cursor:default;"><i class="fa fa-tag"></i>'+rcv[i]+'</a></li>';
					}
	                docrcv = docrcv +'</ul>';
		        }
		        if(data.length){
		        	return docrcv + table;
				}
				
				return '<i>No service for this member.</i>';
				

			},

			setPrimaryRow(data) {
				let groupLeader = (this.translation) ? this.translation['group-leader'] : 'Group Leader';
				let viceLeader = (this.translation) ? this.translation['vice-leader'] : 'Vice Leader';
				let makeVice = (this.translation) ? this.translation['make-vice-leader'] : 'Make Vice Leader';
				let transfer = (this.translation) ? this.translation['transfer'] : 'Transfer';
				let del = (this.translation) ? this.translation['delete'] : 'Delete';

				var vm = this;

				var table = $('table.group-members').DataTable( {
					"data": data,
					"order": [[ 5, "desc" ]],
					"columns": [
						{
						     "width": "5%",
						    "className":      'details-control text-center',
						    "orderable":      false,
						    "data":           null,
						    "defaultContent": '<i class="fa fa-arrow-right" style="cursor:pointer;"></i>'
						},
						{ 
						     "width": "10%",
						    data: null, render: function(data, type, row) {
						    	  if (data.date_register) {
								    return moment(String(data.date_register)).format("YYYY/MM/DD");
								  }
							    //return data.date_register;
						    }
						},
						{ 
						     "width": "25%",
						    data: null, render: function(data, type, row) {
							    return '<a href="/visa/client/' + data.id + '" target="_blank">' + (data.first_name + ' ' + data.last_name)  + '</a>';
						    }
						},
						{
						    "width": "10%",
							data: null, render: function(data, type, row) {
							    return data.id;
							}
						},
						{
						     "width": "10%",
							data: null, render: function(data, type, row, meta) {
							    return (data.total_service_cost -  data.discount).toFixed(2);
							}
						},
						{ 
						     // "width": "10%",
							data: null, render: function(data, type, row) {
							    if(data.leader == 1) {
							        return '<span class="hidden">3</span><span><i class="fa fa-star"></i><i class="fa fa-star"></i> '+ groupLeader +'</span>';
							    } else if(data.leader == 2) {
							        return '<span class="hidden">2</span><span><a href="javascript:void(0)" class="vice-leader-action" data-id="'+data.id+'"><i class="fa fa-star"></i> '+ viceLeader +'</a></span>';
							    } else {
							        return '<span class="hidden">1</span><span><a href="javascript:void(0)" class="make-leader-action" data-id="'+data.id+'"><i class="fa fa-star-o"></i> '+ makeVice +'</a></span>';
							    }
							}, className: 'text-center'
						},
						{ 
						     // "width": "10%",
							data: null, render: function(data, type, row) {
							    return '<a href="javascript:void(0)" class="transfer-action" data-toggle="modal" data-target="#transfer-modal" data-id="'+data.id+'">'+transfer+'</a>';
							}, className: 'text-center'
						},
						{ 
						     // "width": "10%",
							data: null, render: function(data, type, row) {
							    return '<a href="javascript:void(0)" class="delete-action" data-toggle="modal" data-target="#delete-member-modal" data-id="'+data.id+'">'+del+'</a>';
							}, className: 'text-center'
						}
					]
				});

				$('body').off('click', 'table.group-members tbody td.details-control');
				
				setTimeout(function() {
					
					$('body').on('click', 'table.group-members tbody td.details-control', function (e) {
						
						var tr = $(this).closest('tr');
						var row = table.row( tr );
						
						if(row.child.isShown()) {
							row.child.hide();
							tr.find('.fa-arrow-down').removeClass('fa-arrow-down').addClass('fa-arrow-right');
							tr.removeClass('shown');
						} else {
							tr.find('.fa-arrow-right').removeClass('fa-arrow-right').addClass('fa-arrow-down');
							//tr.closest('td').closest('i').removeClass('fa-arrow-right');
							//console.log(row.data());
							let clientId = row.data().client_id;
							// if( vm.loadedData.indexOf(clientId) == -1 ) {

							// 	vm.loadedData.push(clientId);
								let groupId = vm.group_id;
								var div = $('<div/>').addClass( 'loading' ).text( 'Loading...' );
								row.child(div).show();
								axios.get('/visa/group/' + groupId + '/member/' + clientId + '/services')
								  	.then((response) => {
								  		var cs =  vm.format(response.data);
								  		div.html( cs ).removeClass( 'loading' );
								  		row.child(div).show();
								  	});

							// } else {

							// 	row.child.show();
								
							// 	vm.$parent.checkboxesStatus();
							// }
							
							tr.addClass('shown');
						}
					});
				}.bind(this), 500);
			},
		

			setOnClickListener() {
				// Make vice leader
				$('body').on('click', 'table.group-members tbody a.make-leader-action', function (e) {
					let clientId = e.target.getAttribute('data-id');

					this.$parent.assignLeader(clientId, 'vice');
				}.bind(this));

				// Vice leader modal
				$('body').on('click', 'table.group-members tbody a.vice-leader-action', function (e) {
					$('#vice-leader-modal').modal('show');
					
					let clientId = e.target.getAttribute('data-id');
					
					this.$parent.seLclientId = clientId;
				}.bind(this));

				// Transfer
				$('body').on('click', 'table.group-members tbody a.transfer-action', function (e) {
					let clientId = e.target.getAttribute('data-id');

					this.$parent.$refs.transferref.setMemberId(clientId);
				}.bind(this));

				// Delete
				$('body').on('click', 'table.group-members tbody a.delete-action', function (e) {
					let clientId = e.target.getAttribute('data-id');

					this.$parent.$refs.deletememberref.setMemberId(clientId);
				}.bind(this));

				// Edit service
				$('body').on('click', 'table.group-members tbody .edit-service-action', function (e) {
					let serviceClientId = e.target.getAttribute('data-serviceclientid');
					let serviceServiceid = e.target.getAttribute('data-serviceserviceid');
					let serviceId = e.target.getAttribute('data-serviceid');

					this.$parent.$refs.editserviceref.init(serviceClientId, serviceServiceid, serviceId)
				}.bind(this));

				// Write report
				$('body').on('click', 'table.group-members tbody .write-report-action', function (e) {
					let clientId = e.target.getAttribute('data-clientid');
					let clientServiceId = e.target.getAttribute('data-clientserviceid');
					let tracking = e.target.getAttribute('data-tracking');

					this.$parent.createQuickReport(clientId, clientServiceId, tracking);
				}.bind(this));

				// Service report
				$('body').on('click', 'table.group-members tbody .view-service-report-action', function (e) {
					let serviceId = e.target.getAttribute('data-serviceid');

					this.$parent.viewReportByService(serviceId);
				}.bind(this));
			},
		
		},
		 components: {WizardComponent},
		
		created() {
			//this.$parent.fetchMembers();
			this.getTranslation();
			this.setOnClickListener();
		},
		

	}

</script>

<style>
.not-show{
  display:none !important;
}
.showing{
  display:block !important;
  text-align: center;
}

</style>
