<template>

	<div>

		<div class="form-group">
		    <label class="col-md-2 control-label">
		        {{ (this.translation) ? this.translation['action'] : 'Action' }}: <span class="text-danger">*</span>
		    </label>

		    <div class="col-md-10">
		        <select class="form-control" name="action" v-model="multipleQuickReportform.actionId" @change="getCategories">
		            <option v-for="action in actions" :value="action.id">
		           		{{ action.name }}
		            </option>
		        </select>
		    </div>
		</div> <!-- form-group -->

		<div class="form-group" v-show="multipleQuickReportform.actionId == 1 || multipleQuickReportform.actionId == 2 || multipleQuickReportform.actionId == 3 || multipleQuickReportform.actionId == 8 || multipleQuickReportform.actionId == 9 || multipleQuickReportform.actionId == 10 || multipleQuickReportform.actionId == 11 || multipleQuickReportform.actionId == 14 || multipleQuickReportform.actionId == 15 || multipleQuickReportform.actionId == 16">
		    <label class="col-md-2 control-label">
		        {{ (this.translation) ? this.translation['category'] : 'Category' }}: <span class="text-danger">*</span>
		    </label>

		    <div class="col-md-10">
		        <select class="form-control" name="category" v-model="multipleQuickReportform.categoryId" @change="changeCategoryHandler" v-show="!customCategory">
		            <option v-for="category in categories" :value="category.id">
		            	{{ category.name }}
		            </option>
		        </select>

		        <div v-show="multipleQuickReportform.actionId == 9">
		        	<input type="text" class="form-control" ref="categoryName" placeholder="Enter category" v-model="multipleQuickReportform.categoryName" v-show="customCategory">

		        	<div style="height:10px; clear:both;"></div>

		        	<button type="button" class="btn btn-sm btn-primary pull-right" @click="customCategory = !customCategory; multipleQuickReportform.categoryId = null">
			        	<span v-show="!customCategory">
			        		{{ (this.translation) ? this.translation['use-custom-category'] : 'Use Custom Category' }}
			        	</span>
			        	<span v-show="customCategory">
			        		{{ (this.translation) ? this.translation['use-predefined-category'] : 'Use Predefined Category' }}
			        	</span>
			        </button>
		        </div>
		    </div>
		</div> <!-- form-group -->

		<div v-show="multipleQuickReportform.actionId == 1"> <!-- Filed -->
			<!-- Date picker (date1 : auto capture : required) -->

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['estimated-releasing-date'] : 'Estimated Releasing Date' }}:
			       	<span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" id="date2" ref="date2" autocomplete="off">
                    </div>
			    </div>
			</div>

			<div class="form-group" v-show="multipleQuickReportform.categoryId == 1">
				<label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['scheduled-hearing-date-and-time'] : 'Scheduled Hearing Date and Time' }}:
			    </label>
			    <div class="col-md-10">
			    	<div class="row" v-for="(dateTimeElement, _index) in multipleQuickReportform.dateTimeArray">
				    	<div class="col-md-11">
					    	<div class="input-group date" style="margin-bottom: 10px;">
		                        <span class="input-group-addon">
		                        	<i class="fa fa-calendar"></i>
		                       	</span>

		                       	<input type="text" class="form-control datetimepickerarray" :name="index+'dateTimeArray[]'" v-model="dateTimeElement.value" placeholder="yyyy-mm-dd hh:mm:ss" autocomplete="off">
		                    </div>
	                    </div>
	                    <div class="col-md-1 text-center">
	                    	<button type="button" class="btn btn-danger btn-sm" @click="removeDateTimePickerArray(_index)" v-show="_index != 0">
	                    		<i class="fa fa-times"></i>
	                    	</button>
	                    </div>
                    </div>

                    <div style="height:10px;clear:both;"></div>

                    <button type="button" class="btn btn-primary btn-sm pull-right" @click="addDateTimePickerArray">
                    	<i class="fa fa-plus"></i> {{ (this.translation) ? this.translation['add'] : 'Add' }}
                    </button>
			    </div>
			</div>

			<div class="form-group" v-show="multipleQuickReportform.categoryId == 6 || multipleQuickReportform.categoryId == 7 || multipleQuickReportform.categoryId == 10 || multipleQuickReportform.categoryId == 14 || multipleQuickReportform.categoryId == 15">
				   <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['scheduled-appointment-date-and-time'] : 'Scheduled Appointment Date and Time' }}:
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datetimepicker" id="date3" ref="date3" autocomplete="off">
                    </div>
			    </div>

			</div>
		</div>

		<div v-if="multipleQuickReportform.actionId == 2"> <!-- Released -->

      		<!-- START -->
      		<div class="form-group" v-if="showOutcomeDocuments(serviceparentid, multipleQuickReportform.categoryId)">
      			<label class="col-md-2 control-label">
			        Documents:
			    </label>
			    <div class="col-md-10">

			    	<!-- 9g and DOLE-->
			    	<div v-if="serviceparentid == 70 && multipleQuickReportform.categoryId == 19">
			    		<div>
				        	<label>
				        		<input type="checkbox" v-model="multipleQuickReportform.nineGDocument" :value="10"> 
				        		Alien Employment Permit (AEP) Card Original
				        	</label>
				        </div>
			    	</div>

			    	<!-- Downgrading and CEZA -->
			    	<div v-else-if="serviceparentid == 114 && multipleQuickReportform.categoryId == 20">
			    		<div>
				        	<label>
				        		<input type="checkbox" v-model="multipleQuickReportform.downgradingDocument" :value="75"> 
				        		CEZA Cancellation Order Original
				        	</label>
				        </div>
			    	</div>

			    	<!-- Downgrading and DOLE -->
			    	<div v-else-if="serviceparentid == 114 && multipleQuickReportform.categoryId == 19">
			    		<div>
				        	<label>
				        		<input type="checkbox" v-model="multipleQuickReportform.downgradingDocument" :value="122"> 
				        		Cancellation Letter from DOLE
				        	</label>
				        </div>
			    	</div>

			    	<div v-else-if="showOutcomeDocuments(serviceparentid, multipleQuickReportform.categoryId)
			    	">
				        <table class="table table-bordered">
				        	<tr v-for="(cod, index2) in clientsoutcomedocuments" style="border-bottom: 1px solid #ddd;">
				        		<td style="color:#1ab394; padding-left:5px;">
				        			<strong>{{ cod.name }}</strong>

				        			<input type="hidden" :name="index+''+index2+'outcomeDocumentsClientServiceId'" :value="cod.client_service_id">
				        		</td>
				        		<td>
				        			<div v-for="outcomeDocument in outcomedocuments">
							        	<label v-if="checkIfVisible(serviceparentid, multipleQuickReportform.categoryId, outcomeDocument.id)">
							        		<span v-if="checkIfOnHand(outcomeDocument.id, cod.documents_on_hand)">
							        			<input type="checkbox" :name="index+''+index2+'outcomeDocumentsArray[]'" :value="outcomeDocument.id" :disabled="true" checked>
							        		</span>
							        		<span v-else>
							        			<input type="checkbox" :name="index+''+index2+'outcomeDocumentsArray[]'" :value="outcomeDocument.id">
							        		</span>
							        		{{ outcomeDocument.title }}
							        	</label>
							        </div>
				        		</td>
				        	</tr>
				        </table>
			    	</div>

			    </div>
      		</div>
      		<!-- END -->

			<div class="form-group" v-if="multipleQuickReportform.actionId == 2 && multipleQuickReportform.categoryId == 18 && ifninea && estimatedDates.length"> <!-- Immigration -->

				<div v-for="(e, index) in estimatedDates" class="col-md-12">
						<input ref="user_id" type="hidden" :value="e.id" />
						<table class="table table-bordered">
                        <thead>
                            <tr>
                               	<th class="font-bold" colspan="2">
                               		{{ e.first_name + ' ' + e.last_name }}
                               	</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:30%;">Extended until when</td>
                            	<td>
										 						<the-mask v-model="multipleQuickReportform.exp_date[index]" type="text" class="input-sm form-control"  placeholder="YYYY-MM-DD"  mask="####-##-##"  />
    					 								</td>
                            </tr>
                            <tr>
															<td style="width:30%;">Estimated Date</td>
															<td>
																<input id="estimated_date" ref="estimated_date" class="form-control" type="text" placeholder="####-##-##" :value="(e.exp_date) ? estimateDate(e.id, e.exp_date,e) : estimateDate(e.id, e.first_exp_date,e)" disabled />
															</td>
                            </tr>
                        </tbody>
                    </table>
				</div> <!-- estimatedDates -->

      		</div>

		</div>

		<div v-show="multipleQuickReportform.actionId == 3"> <!-- Paid OPS -->

		</div>

		<div v-show="multipleQuickReportform.actionId == 4"> <!-- Unable to file need additional requirements -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['documents'] : 'Documents' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
		            <select :id="'chosen-' + index" data-placeholder="Select Docs" class="chosen-select-for-docs-2" multiple style="width:350px;" tabindex="4">
		                <option v-for="servicedoc in servicedocs" :value="servicedoc.title">
		                	{{ (servicedoc.title).trim() }}
		                </option>
		            </select>
			    </div>
			</div>
		</div>

		<div v-show="multipleQuickReportform.actionId == 6"> <!-- Deadline of Submission -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['submission-date'] : 'Submission Date' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" id="date4" ref="date4" autocomplete="off">
                    </div>
			    </div>
			</div>

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['consequence-of-non-submission'] : 'Consequence of non submission' }}:
			    </label>

			    <div class="col-md-10">
			    	<div>
			    		<label>
			    			<input type="checkbox" v-model="multipleQuickReportform.extraDetails" value="Additional cost maybe charged.">
			    			{{ (this.translation) ? this.translation['additional-cost-maybe-charged'] : 'Additional cost maybe charged' }}.
			    		</label>
			    	</div>
			    	<div>
			    		<label>
			    			<input type="checkbox" v-model="multipleQuickReportform.extraDetails" value="Application maybe forfeited and has to re-apply.">
			    			{{ (this.translation) ? this.translation['application-maybe-forfeited-and-has-to-re-apply'] : 'Application maybe forfeited and has to re-apply' }}.
			    		</label>
			    	</div>
			    	<div>
			    		<label>
			    			<input type="checkbox" v-model="multipleQuickReportform.extraDetails" value="Initial deposit maybe forfeited.">
			    			{{ (this.translation) ? this.translation['initial-deposit-maybe-forfeited'] : 'Initial deposit maybe forfeited' }}.
			    		</label>
			    	</div>
			    </div>
			</div>
		</div>

		<div v-show="multipleQuickReportform.actionId == 7"> <!-- For Implementation -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['estimated-time-of-finishing'] : 'Estimated Time of Finishing' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datetimepicker" id="date5" ref="date5" autocomplete="off">
                    </div>
			    </div>
			</div>
		</div>

		<div v-show="multipleQuickReportform.actionId == 8"> <!-- Unable to file due to bad weather -->
            <div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['affected-date'] : 'Affected Date' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			    	<div class="input-daterange input-group">
		                <input type="text" class="input-sm form-control datepicker" id="date6" ref="date6" autocomplete="off" />
		                <span class="input-group-addon">{{ (this.translation) ? this.translation['to'] : 'to' }}</span>
		                <input type="text" class="input-sm form-control datepicker" id="date7" ref="date7" autocomplete="off" />
		            </div>
			    </div>
			</div>

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['target-filling-date'] : 'Target Filling Date' }}:
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" id="date8" ref="date8" autocomplete="off">
                    </div>
			    </div>
			</div>
		</div>

		<div v-show="multipleQuickReportform.actionId == 9"> <!-- Unable to finish due to suspension of work -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['date-range'] : 'Date Range' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
                    <div class="input-daterange input-group">
		                <input type="text" class="input-sm form-control datepicker" id="date9" ref="date9" autocomplete="off" />
		                <span class="input-group-addon">{{ (this.translation) ? this.translation['to'] : 'to' }}</span>
		                <input type="text" class="input-sm form-control datepicker" id="date10" ref="date10" autocomplete="off" />
		            </div>
			    </div>
			</div>
		</div>

		<div v-show="multipleQuickReportform.actionId == 10"> <!-- Processing Period Extension -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['extended-period-for-processing'] : 'Extended period for processing' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" id="date11" ref="date11" autocomplete="off" />
                    </div>
			    </div>
			</div>
		</div>

		<div v-show="multipleQuickReportform.actionId == 11"> <!-- For payment -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['estimated-releasing-date'] : 'Estimated Releasing Date' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" id="date12" ref="date12" autocomplete="off" />
                    </div>
			    </div>
			</div>
		</div>

		<div v-show="multipleQuickReportform.actionId == 12"> <!-- Picked up from client -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['date-and-time-pick-up'] : 'Date and Time Pick Up' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
                    <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datetimepicker" id="date13" ref="date13" autocomplete="off">
                    </div>
			    </div>
			</div>
		</div>

		<div v-show="multipleQuickReportform.actionId == 13"> <!-- For delivery now -->
			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['date-and-time-delivered'] : 'Date and Time Delivered' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datetimepicker" id="date14" ref="date14" autocomplete="off">
                    </div>
			    </div>
			</div>
		</div>

		<div v-show="multipleQuickReportform.actionId == 14"> <!-- Delivered -->
			<div class="form-group" v-show="multipleQuickReportform.categoryId == 128">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['company-courier'] : 'Company Courier' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <select class="form-control" id="company_courier" ref="company_courier">
			        	<option v-for="companyCourier in companyCouriers" :value="companyCourier.contact_number">
			        		{{ companyCourier.first_name + ' ' + companyCourier.last_name }}
			        		({{ companyCourier.contact_number }})
			        	</option>
			        </select>
			    </div>
			</div>

			<div class="form-group" v-show="multipleQuickReportform.categoryId != 128">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['tracking-number'] : 'Tracking Number' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <input type="text" class="form-control" id="tracking_number" ref="tracking_number">
			    </div>
			</div>

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['date-and-time-delivered'] : 'Date and Time Delivered' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datetimepicker" id="date15" ref="date15" autocomplete="off">
                    </div>
			    </div>
			</div>
		</div>

		<div v-show="multipleQuickReportform.actionId == 15"> <!-- For process of -->
			<div class="form-group" v-show="multipleQuickReportform.categoryId == 76 || multipleQuickReportform.categoryId == 77 || multipleQuickReportform.categoryId == 78 || multipleQuickReportform.categoryId == 79 || multipleQuickReportform.categoryId == 80 || multipleQuickReportform.categoryId == 81 || multipleQuickReportform.categoryId == 82 || multipleQuickReportform.categoryId == 83">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['estimated-releasing-date'] : 'Estimated Releasing Date' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" id="date16" ref="date16" autocomplete="off" />
                    </div>
			    </div>
			</div>
		</div>

	</div>

</template>

<script>
	import VueTheMask from 'vue-the-mask'
	export default {

		props: ['index', 'docs', 'servicedocs', 'translation', 'ifninea', 'service', 'months_required', 'serviceparentid', 'outcomedocuments', 'clientsoutcomedocuments'],

		data() {
        	return {
        		estimatedDates: [],
						//flag: false,
        		actions: [],
        		categories: [],

        		companyCouriers: [],

        		customCategory: false,

        		multipleQuickReportform: {

        			actionId: 1,
							distinctClientServices:'',
        			categoryId: null,
        			categoryName: null,

        			date1: null,
        			date2: null,
        			date3: null,
        			dateTimeArray: [],
							exp_date:[],
							estimated_date:null,
							user_id:null,
        			extraDetails: [],

        			nineADocument: [],
        			nineGDocument: [],
        			downgradingDocument: []
        		}

        	}
        },

        methods: {

        	showOutcomeDocuments(serviceParentId, categoryId) {
        		var visibility = false;

        		// 9a
        		if(serviceParentId == 63) {
        			// 18=Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// 9g
        		else if(serviceParentId == 70) {
        			// 18=Immigration, 19=DOLE
        			if(categoryId == 18 || categoryId == 19) { visibility = true; }
        		}

        		// ECC
        		else if(serviceParentId == 88) {
        			// 18=Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Bureau of Immigration Certificates
        		else if(serviceParentId == 101) {
        			// 18=Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Downgrading
        		else if(serviceParentId == 114) {
        			// 18=Immigration, 19=DOLE, 20=CEZA
        			if(categoryId == 18 || categoryId == 19 || categoryId == 20) { visibility = true; }
        		}

        		// Driver's License
        		else if(serviceParentId == 123) {
        			// 31=LTO
        			if(categoryId == 31) { visibility = true; }
        		}

        		// Blacklist
        		else if(serviceParentId == 126) {
        			// 18=Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// NSO Certificate
        		else if(serviceParentId == 133) {
        			// 25=NSO, 26=Cityhall
        			if(categoryId == 25 || categoryId == 26) { visibility = true; }
        		}

        		// ACR I-CARD
        		else if(serviceParentId == 136) {
        			// 18=Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Annual Report
        		else if(serviceParentId == 167) {
        			// 18=Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Special Permits
        		else if(serviceParentId == 141) {
        			// 18=Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Permanent Resident Visa (PRV- Proc)
        		else if(serviceParentId == 147) {
        			// 18=Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Temporary Resident Visa (TRV)
        		else if(serviceParentId == 148) {
        			// 18=Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Department of Foreign Affairs (DFA)
        		else if(serviceParentId == 158) {
        			// 24=Chinese Embassy, 29=DFA
        			if(categoryId == 24 || categoryId == 29) { visibility = true; }
        		}

        		// Other Services
        		else if(serviceParentId == 160) {
        			// 18=Immigration, 19=DOLE, 32=NBI, 148=PAL, 149=Cebu Pacific, 150=China Southern Airlines, 151=
        			// China East Airlines
        			if(categoryId == 18 || categoryId == 19 || categoryId == 32 || categoryId == 148 || categoryId == 149 || categoryId == 150 || categoryId == 151) { visibility = true; }
        		}

        		// Re-Stamping of Visa
        		else if(serviceParentId == 199) {
        			// 18=Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Special Retiree Resident Visa (SRRV) Conversion
        		else if(serviceParentId == 217) {
        			// 23=PRA
        			if(categoryId == 23) { visibility = true; }
        		}

        		// Bureau of Quarantine (BOQ)
        		else if(serviceParentId == 222) {
        			// 27=BOQ
        			if(categoryId == 27) { visibility = true; }
        		}

        		// Company Registration
        		else if(serviceParentId == 228) {
        			// 22=SEC, 26=Cityhall, 30=DTI, 125=BIR, 126=Barangay Hall
        			if(categoryId == 22 || categoryId == 26 || categoryId == 30 || categoryId == 125 || categoryId == 126) {
        				visibility = true;
        			}
        		}

        		// Board of Investment (BOI)
        		else if(serviceParentId == 230) {
        			// 18=Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Cagayan Economic Zone Authority(CEZA) Working Visa
        		else if(serviceParentId == 238) {
        			// 20=CEZA
        			if(categoryId == 20) { visibility = true; }
        		}

        		// Department of Justice (DOJ)
        		else if(serviceParentId == 259) {
        			// 21=DOJ
        			if(categoryId == 21) { visibility = true; }
        		}

        		return visibility;
        	},

        	checkIfOnHand(documentId, documentsOnHand) {
        		return documentsOnHand.includes(documentId.toString());
        	},

        	checkIfVisible(serviceParentId, categoryId, documentId) {
        		var visibility = true;

        		// Company Registration
        		if(serviceParentId == 228) {
        			visibility = false;

        			// 22-SEC 30-DTI
        			if(categoryId == 22 || categoryId == 30) {
        				// 198-SEC Registration/DTI
        				if(documentId == 198) { visibility = true; }
        			} 
        			// 126-Barangay Hall
        			else if(categoryId == 126) {
        				// 138-Barangay Clearance for Business
        				if(documentId == 138) { visibility = true; }
        			}
        			// 26-City Hall
        			else if(categoryId == 26) {
        				// 139-Locational Clearance // 149-Mayor's Permit
        				if(documentId == 139 || documentId == 149) { visibility = true; }
        			}
        			// 125-BIR
        			else if(categoryId == 125) {
        				// 141-BIR 2303 Certificate of Registration
        				if(documentId == 141) { visibility = true; }
        			}
        		}

        		return visibility;
        	},

					estimateDate(uid,dt,e){
						
						var ret=null;
						try {
							//console.log(dt);
							var d = moment(dt,'YYYY-MM-DD').add(this.months_required, 'months');
							ret =  moment(d,'YYYY-MM-DD').format('YYYY-MM-DD');
							if(ret=='Invalid date'){
								//toastr.remove();
								toastr.warning("Please properly enter the date information of client "+ e.user.first_name+" "+e.user.last_name+" in client profile page");
								ret="0000-00-00";
							}
						}
						catch(err) {
							//console.log(err)
						}

						return ret;
					},
        	getActions() {
        		axios.get('/visa/actions')
					.then(response => {
						this.actions = response.data;
					})
					.catch(error => console.log(error));
        	},

        	getCompanyCouriers() {
        		let role = 'company-courier';

        		axios.get('/visa/users-by-role/' + role)
					.then(response => {
						this.companyCouriers = response.data;
					})
					.catch(error => console.log(error));
        	},

        	getCurrentDate() {
        		let today = new Date();
				let dd = today.getDate();
				let mm = today.getMonth() + 1;
				let yyyy = today.getFullYear();

				if(dd < 10) {
				    dd = '0' + dd;
				}

				if(mm < 10) {
				    mm = '0' + mm;
				}

				return mm + '/' + dd + '/' + yyyy;
        	},

        	changeActionHandler(actionId) {
        		// Reset
        		this.multipleQuickReportform.date1 = null;
        		this.multipleQuickReportform.date2 = null;
        		this.multipleQuickReportform.date3 = null;
        		this.multipleQuickReportform.dateTimeArray = [];
        		this.multipleQuickReportform.extraDetails = [];

        		// For auto capture date
        		if(actionId == 1 || actionId == 3 || actionId == 4 ||  actionId == 7 || actionId == 11 || actionId == 15 || actionId == 16) {
        			this.multipleQuickReportform.date1 = this.getCurrentDate();
        		}
        	},

        	getCategories() {
        		let actionId = this.multipleQuickReportform.actionId;

        		this.changeActionHandler(actionId);

        		this.categories = [];

        		axios.get('/visa/categories-by-action-id', {
        				params: {
					    	actionId: actionId
					    }
        			})
					.then(response => {
						this.categories = response.data;
					})
					.catch(error => console.log(error));
        	},

        	changeCategoryHandler() {
        		if(this.multipleQuickReportform.actionId == 1 && this.multipleQuickReportform.categoryId == 1) {
        			this.addDateTimePickerArray();
        		}
        	},

        	addDateTimePickerArray() {
        		this.multipleQuickReportform.dateTimeArray.push({value:null});

        		setTimeout(() => {
			        $('.datetimepickerarray').inputmask("datetime", {
		                mask: "y-2-1 h:s:s",
		                placeholder: "yyyy-mm-dd hh:mm:ss",
		                leapday: "-02-29",
		                separator: "-",
		                alias: "yyyy-mm-dd"
		            });
        		}, 500);
        	},

        	removeDateTimePickerArray(index) {
        		this.multipleQuickReportform.dateTimeArray.splice(index, 1);
        	},

        	validate(distinctClientService) {
        	var isValid = true;
					if(this.multipleQuickReportform.actionId == 2 && this.multipleQuickReportform.categoryId == 18 && this.ifninea && this.multipleQuickReportform.exp_date.length==0 && this.estimatedDates.length > 0){
						toastr.error("Extended until when cannot be empty");
						isValid = false;
					}
					if(this.$refs.estimated_date!=null && this.multipleQuickReportform.exp_date.length > 0){
						
						for(var i=0;i<this.$refs.estimated_date.length;i++){

							if(this.estimatedDates[i].exp_date==null || this.estimatedDates[i].exp_date==''){
								try {
									var previous_date = moment(this.estimatedDates[i].first_exp_date);
									var new_date = moment(moment(this.multipleQuickReportform.exp_date[i]).format('YYYY-MM-DD'));
									if (previous_date > new_date) isValid = false;
									//console.log(isValid);
									//if(new_date.diff(previous_date, 'days')<25) isValid = false;
								}
								catch(err) {
									//console.log(err);
								   isValid = false;
								}
							}else{
								try {
									var previous_date = moment(this.estimatedDates[i].exp_date);
									var new_date = moment(moment(this.multipleQuickReportform.exp_date[i]).format('YYYY-MM-DD'));
									if (previous_date > new_date) isValid = false;
									//console.log(isValid);
									//if(new_date.diff(previous_date, 'days')<25) isValid = false;
									//console.log(isValid);
								}
								catch(err) {
									//console.log(err);
									isValid = false;
								}
							}
						}
						if(isValid){
							this.multipleQuickReportform.estimated_date = this.$refs.estimated_date;
							this.multipleQuickReportform.user_id = this.$refs.user_id;
							this.multipleQuickReportform.exp_date = this.multipleQuickReportform.exp_date;
						}else{
							//console.log(toastr.error.length);
							toastr.remove()
							toastr.error("Failed to save. Please check your date inputs");
						}
				}
        	if(this.multipleQuickReportform.actionId == 1) {
					let date2 = this.$refs.date2.value;
					let date3 = (this.$refs.date3.value) ? this.$refs.date3.value : '';

					if(this.multipleQuickReportform.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else if(date2 == '') {
						toastr.error( (this.translation) ? this.translation['please-fill-up-estimated-releasing-date'] : 'Please fill up estimated releasing date.', distinctClientService);
						isValid = false;
					} else {
						let dateTimeArray = [];
		        		$('input[name^="'+this.index+'dateTimeArray"]').each( function(e) {
		        			if(this.value != '') { dateTimeArray.push(this.value); }
					    });

						this.multipleQuickReportform.date2 = date2;
						if(this.multipleQuickReportform.categoryId == 6 || this.multipleQuickReportform.categoryId == 7 || this.multipleQuickReportform.categoryId == 10 || this.multipleQuickReportform.categoryId == 14 || this.multipleQuickReportform.categoryId == 15) {
							this.multipleQuickReportform.date3 = date3;
						}

						this.multipleQuickReportform.dateTimeArray = dateTimeArray;
					}
				} else if(this.multipleQuickReportform.actionId == 2 || this.multipleQuickReportform.actionId == 3) {
					if(this.multipleQuickReportform.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					}
				} else if(this.multipleQuickReportform.actionId == 4) {
					let docs = [];
	        		$('#chosen-' + this.index +' option:selected').each( function(e) {
				        docs.push($(this).val());
				    });

					if(docs.length == 0) {
						toastr.error( (this.translation) ? this.translation['please-select-documents'] : 'Please select documents.', distinctClientService);
						isValid = false;
					} else {
						$('#chosen-' + this.index).val('').trigger('chosen:updated');

						this.multipleQuickReportform.extraDetails = docs;
					}
				} else if(this.multipleQuickReportform.actionId == 6) {
					let date4 = this.$refs.date4.value;

					if(date4 == '') {
						toastr.error( (this.translation) ? this.translation['please-fill-up-submission-date'] : 'Please fill up submission date.', distinctClientService);
						isValid = false;
					} else {
						this.multipleQuickReportform.date1 = date4;
					}
				} else if(this.multipleQuickReportform.actionId == 7) {
					let date5 = this.$refs.date5.value;

					if(date5 == '') {
						toastr.error( (this.translation) ? this.translation['please-fill-up-estimated-time-of-finishing-date'] : 'Please fill up estimated time of finishing date.', distinctClientService);
						isValid = false;
					} else {
						this.multipleQuickReportform.date2 = date5;
					}
				} else if(this.multipleQuickReportform.actionId == 8) {
					let date6 = this.$refs.date6.value;
					let date7 = this.$refs.date7.value;
					let date8 = this.$refs.date8.value;

					if(this.multipleQuickReportform.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else if(date6 == '' || date7 == '') {
						toastr.error( (this.translation) ? this.translation['please-fill-up-affected-date'] : 'Please fill up affected date.', distinctClientService);
						isValid = false;
					} else {
						this.multipleQuickReportform.date1 = date6;
						this.multipleQuickReportform.date2 = date7;
						this.multipleQuickReportform.date3 = date8;
					}
				} else if(this.multipleQuickReportform.actionId == 9) {
					if(this.customCategory) {
						let categoryName = this.$refs.categoryName.value;

						if(categoryName == '') {
							toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
							isValid = false;
						} else {
							this.multipleQuickReportform.categoryId = 0;
							this.multipleQuickReportform.categoryName = categoryName;
						}
					}

					let date9 = this.$refs.date9.value;
					let date10 = this.$refs.date10.value;

					if(this.multipleQuickReportform.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else if(date9 == '' || date10 == '') {
						toastr.error( (this.translation) ? this.translation['please-fill-up-date-range'] : 'Please fill up date range.', distinctClientService);
						isValid = false;
					} else {
						this.multipleQuickReportform.date1 = date9;
						this.multipleQuickReportform.date2 = date10;
					}
				} else if(this.multipleQuickReportform.actionId == 10) {
					let date11 = this.$refs.date11.value;

					if(this.multipleQuickReportform.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else if(date11 == '') {
						toastr.error( (this.translation) ? this.translation['please-fill-up-extended-period-for-processing'] : 'Please fill up extended period for processing.', distinctClientService);
						isValid = false;
					} else {
						this.multipleQuickReportform.date1 = date11;
					}
				} else if(this.multipleQuickReportform.actionId == 11) {
					let date12 = this.$refs.date12.value;

					if(this.multipleQuickReportform.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else if(date12 == '') {
						toastr.error( (this.translation) ? this.translation['please-fill-up-estimated-releasing-date'] : 'Please fill up estimated releasing date.', distinctClientService);
						isValid = false;
					} else {
						this.multipleQuickReportform.date2 = date12;
					}
				} else if(this.multipleQuickReportform.actionId == 12) {
					let date13 = this.$refs.date13.value;

					if(date13 == '') {
						toastr.error( (this.translation) ? this.translation['please-fill-up-date-and-time-pick-up'] : 'Please fill up date and time pick up.', distinctClientService);
						isValid = false;
					} else {
						this.multipleQuickReportform.date1 = date13;
					}
				} else if(this.multipleQuickReportform.actionId == 13) {
					let date14 = this.$refs.date14.value;

					if(date14 == '') {
						toastr.error( (this.translation) ? this.translation['please-fill-up-date-and-time-delivered'] : 'Please fill up date and time deliverd.', distinctClientService);
						isValid = false;
					} else {
						this.multipleQuickReportform.date1 = date14;
					}
				} else if(this.multipleQuickReportform.actionId == 14) {
					let date15 = this.$refs.date15.value;
					let companyCourier = this.$refs.company_courier.value;
					let trackingNumber = this.$refs.tracking_number.value;

					if(this.multipleQuickReportform.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else if(this.multipleQuickReportform.categoryId == 128 && companyCourier == '') {
						toastr.error( (this.translation) ? this.translation['please-select-company-courier'] : 'Please select company courier.', distinctClientService);
						isValid = false;
					} else if(this.multipleQuickReportform.categoryId != 128 && trackingNumber == '') {
						toastr.error( (this.translation) ? this.translation['please-fill-up-tracking-number'] : 'Please fill up tracking number.', distinctClientService);
						isValid = false;
					} else if(date15 == '') {
						toastr.error( (this.translation) ? this.translation['please-fill-up-date-and-time-delivered'] : 'Please fill up date and time delivered.', distinctClientService);
						isValid = false;
					} else {
						this.multipleQuickReportform.date1 = date15;

						let extraDetail = (this.multipleQuickReportform.categoryId == 128) ? companyCourier : trackingNumber;
						this.multipleQuickReportform.extraDetails = [extraDetail];
					}
				} else if(this.multipleQuickReportform.actionId == 15) {
					let date16 = this.$refs.date16.value;

					if(this.multipleQuickReportform.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else if( date16 == '' && (this.multipleQuickReportform.categoryId == 76 || this.multipleQuickReportform.categoryId == 77 || this.multipleQuickReportform.categoryId == 78 || this.multipleQuickReportform.categoryId == 79 || this.multipleQuickReportform.categoryId == 80 || this.multipleQuickReportform.categoryId == 81 || this.multipleQuickReportform.categoryId == 82 || this.multipleQuickReportform.categoryId == 83) ) {
						toastr.error( (this.translation) ? this.translation['please-fill-up-estimated-releasing-date'] : 'Please fill up estimated releasing date.', distinctClientService);
						isValid = false;
					} else {
						this.multipleQuickReportform.date2 = date16;
					}
				} else if(this.multipleQuickReportform.actionId == 16) {
					if(this.multipleQuickReportform.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					}
				}

				return isValid;
        	},

        getEstimatedDates(nineAUserId) {
        	axios.get('/visa/report/visa-linker', {
					params: {
						userId: nineAUserId
					}
				})
				.then(response => {
					// if(!this.flag){
					// 	  //this.$parent.dateArray.push(response.data);
				 	// 		//console.log(this.$parent.dateArray);
					// 		this.flag=true;
			 		// }
					this.estimatedDates = response.data;
					setTimeout(() => {
						$('.datepicker').datepicker({
			                todayBtn: "linked",
			                keyboardNavigation: false,
			                forceParse: false,
			                calendarWeeks: true,
			                autoclose: true,
			                startDate: new Date()
			            });
					}, 500);
				});
        	}

        },

        created() {
        	this.getActions();

        	this.getCategories();

        	this.getCompanyCouriers();
        },
				updated(){
					$('.datepicker2').datepicker({
								todayBtn: "linked",
								keyboardNavigation: false,
								forceParse: false,
								calendarWeeks: true,
								autoclose: true,
								format: "yyyy-mm-dd",
								startDate: new Date(),
						}).on('changeDate', (e) => {
				      this.multipleQuickReportform.new_exp_date = e.format('yyyy-mm-dd');
				    });
				},
        mounted() {

        	// Chosen
        		$('.chosen-select-for-docs, .chosen-select-for-docs-2').chosen({
					width: "100%",
					no_results_text: "No result/s found.",
					search_contains: true
				});

        	// DatePicker
	        	$('.datepicker').datepicker({
	                todayBtn: "linked",
	                keyboardNavigation: false,
	                forceParse: false,
	                calendarWeeks: true,
	                autoclose: true,
	                format: "mm/dd/yyyy",
	                startDate: new Date(),

	            });


			// DateTime Picker
				$('.datetimepicker').inputmask("datetime", {
		            mask: "y-2-1 h:s:s",
		            placeholder: "yyyy-mm-dd hh:mm:ss",
		            leapday: "-02-29",
		            separator: "-",
		            alias: "yyyy-mm-dd"
		        });

        },
				components: {
					VueTheMask
				}

	}

</script>
