<template>
	
	<form class="form-horizontal" @submit.prevent="addMultipleQuickReport">

		<div v-for="(distinctClientService, index) in distinctClientServices.length" v-show="getEstimatedDates(index)">

			<div class="panel panel-default">
	            <div class="panel-heading">
	                {{ distinctClientServices[index] }}
	            </div>
	            <div class="panel-body">

	                <multiple-quick-report-form-v2 :key="index" :ref="'form-' + index" :index="index" :translation="translation" :actioncategory="actionCategory" :companycouriers="companyCouriers" :servicedocs="serviceDocs" :ifninea="ifNineA[index]" :months_required="months_required[index]" :serviceparentid="serviceParentId[index]" :serviceid="serviceId[index]" :clientsoutcomedocuments="clientsOutcomeDocuments[index]" :clientsoutcomeoptionaldocuments="clientsOutcomeOptionalDocuments[index]"></multiple-quick-report-form-v2>

	            </div>
	        </div>

		</div>

		<button v-if="!loading" type="submit" class="btn btn-primary pull-right">
			{{ (this.translation) ? this.translation['create-report'] : 'Create Report' }}
		</button>
    	<button v-if="loading" type="button" class="btn btn-primary pull-right">
	        <div class="sk-spinner sk-spinner-wave" style="width:40px; height:20px;">
	            <div class="sk-rect1 quick-report-sk-react"></div>
	            <div class="sk-rect2 quick-report-sk-react"></div>
	            <div class="sk-rect3 quick-report-sk-react"></div>
	            <div class="sk-rect4 quick-report-sk-react"></div>
	            <div class="sk-rect5 quick-report-sk-react"></div>
	        </div>
	    </button>

	    <button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">{{ (this.translation) ? this.translation['close'] : 'Close' }}</button>

	</form>

</template>

<script>
	
	export default {

		props: ['groupreport', 'groupid', 'clientsid', 'clientservices', 'trackings', 'iswritereportpage'],

		data() {
			return {
				loading: false,

				translation: null,

				actionCategory: [],

				companyCouriers: [],

				serviceDocs: [],

				ifNineA: [],

				nineAUserId: [],

				months_required: [],

				serviceParentId: [],
				serviceId: [],

				outcomeDocuments: [],
				clientsOutcomeDocuments: [],

				outcomeOptionalDocuments: [],
				clientsOutcomeOptionalDocuments: [],

				multipleQuickReportForm : new Form({
        			distinctClientServices: [],

        			groupReport: null,
        			groupId: null,

        			clientsId: [],
        			clientServicesId: [],
        			trackings: [],

        			exp_date: [],
					estimated_date: [],
					user_id: [],

        			actionId: [],

        			categoryId: [],
        			categoryName: [],

        			date1: [],
        			date2: [],
        			date3: [],
        			dateTimeArray: [],

        			extraDetails: [],

        			outcomeDocuments: [],
        			nineGDocument: [],
        			downgradingDocument: []
        		}, { baseURL: axiosAPIv1.defaults.baseURL })
			}
		},

		methods: {
			getTranslation() {
				axios.get('/visa/report/component-translation')
	               .then(response => {
	                   this.translation = response.data.translation;
	               });
			},

			getActionCategory() {
				axios.get('/visa/actions')
					.then(response => {
						this.actionCategory = response.data;
					});
			},

			getCompanyCouriers() {
        		let role = 'company-courier';

        		axios.get('/visa/users-by-role/' + role)
					.then(response => {
						this.companyCouriers = response.data;
					});
        	},

        	getServiceDocs() {
        		axios.get('/visa/group/service-docs-index')
			 	  	.then(result => {
		            	this.serviceDocs = result.data;

		            	setTimeout(() => {
			        		$('.chosen-select-for-docs').trigger('chosen:updated');
			        	}, 500);
		        	});
        	},

        	getOutcomeDocuments(clientServices, servicesIdArray) {
        		if(clientServices.length > 0 && servicesIdArray.length > 0) {
        			var clientServices = clientServices.map((clientService) => {
	        			return {
	        				id: clientService.id,
							client_id: clientService.client_id,
							service_id: clientService.service_id,
							rcv_docs: clientService.rcv_docs,
							report_docs: clientService.report_docs
	        			};
	        		});

        			axios.get('/visa/service/outcome-documents-v2', {
					    params: {
					    	clientServices: clientServices,
					    	servicesIdArray: servicesIdArray
					    }
					})
				 	.then(result => {
			            this.clientsOutcomeDocuments = result.data.clientsOutcomeDocuments;
			        });
        		}
			},

			getOutcomeOptionalDocuments(clientServices, servicesIdArray) {
				if(clientServices.length > 0 && servicesIdArray.length > 0) {
					var clientServices = clientServices.map((clientService) => {
	        			return {
	        				id: clientService.id,
							client_id: clientService.client_id,
							service_id: clientService.service_id,
							rcv_docs: clientService.rcv_docs,
							report_docs: clientService.report_docs
	        			};
	        		});
	        		
        			axios.get('/visa/service/outcome-optional-documents-v2', {
					    params: {
					    	clientServices: clientServices,
					    	servicesIdArray: servicesIdArray
					    }
					})
				 	.then(result => {
			            this.clientsOutcomeOptionalDocuments = result.data.clientsOutcomeOptionalDocuments;
			        });
        		}
			},

			getEstimatedDates(index) {
				let ref = 'form-' + index;

				setTimeout(() => {
					this.$refs[ref][0].getEstimatedDates(this.nineAUserId[index]);
				}, 500);

				return true;
			},

        	resetData() {
        		this.loading = false;

				this.ifNineA = [];

				this.nineAUserId = [];

				this.months_required = [];

				this.serviceParentId = [];

				this.serviceId = [],

				this.outcomeDocuments = [];
				this.clientsOutcomeDocuments = [];

				this.outcomeOptionalDocuments = [],
				this.clientsOutcomeOptionalDocuments = [],

				this.multipleQuickReportForm = new Form({
        			distinctClientServices: [],

        			groupReport: null,
        			groupId: null,

        			clientsId: [],
        			clientServicesId: [],
        			trackings: [],

        			exp_date: [],
					estimated_date: [],
					user_id: [],

        			actionId: [],

        			categoryId: [],
        			categoryName: [],

        			date1: [],
        			date2: [],
        			date3: [],
        			dateTimeArray: [],

        			extraDetails: [],

        			outcomeDocuments: [],
        			nineGDocument: [],
        			downgradingDocument: []
        		}, { baseURL: axiosAPIv1.defaults.baseURL });
        	},

        	reset() {
        		this.distinctClientServices.forEach((distinctClientService, index) => {
					let ref = 'form-' + index;
					this.$refs[ref][0].resetData();
				});

				this.resetData();
        	},

        	validate() {
				var isValid = true;

				this.distinctClientServices.forEach((distinctClientService, index) => {
					let ref = 'form-' + index;

					if( ! this.$refs[ref][0].validate(distinctClientService) ) {
						isValid = false;
					}
				});

				return isValid;
			},

			addMultipleQuickReport() {
				if(this.validate()) {

					this.multipleQuickReportForm.groupReport = this.groupreport;
					this.multipleQuickReportForm.groupId = this.groupid;
					this.multipleQuickReportForm.clientsId = this.clientsid;
					this.multipleQuickReportForm.clientServicesId = this.clientservices;
					this.multipleQuickReportForm.trackings = this.trackings;
					this.multipleQuickReportForm.distinctClientServices = this.distinctClientServices;

					this.distinctClientServices.forEach((distinctClientService, index) => {
						let ref = 'form-' + index;

						let _expDate = this.$refs[ref][0].multipleQuickReportForm.exp_date;
						let _newExpDate = this.$refs[ref][0].multipleQuickReportForm.estimated_date;
						let _user_id = this.$refs[ref][0].multipleQuickReportForm.user_id;
	     				let _actionId = this.$refs[ref][0].multipleQuickReportForm.actionId;
	     				let _categoryId = this.$refs[ref][0].multipleQuickReportForm.categoryId;
	     				let _categoryName = this.$refs[ref][0].multipleQuickReportForm.categoryName;
	     				let _date1 = this.$refs[ref][0].multipleQuickReportForm.date1;
	     				let _date2 = this.$refs[ref][0].multipleQuickReportForm.date2;
	     				let _date3 = this.$refs[ref][0].multipleQuickReportForm.date3;
	     				let _dateTimeArray = this.$refs[ref][0].multipleQuickReportForm.dateTimeArray;
	     				let _extraDetails = this.$refs[ref][0].multipleQuickReportForm.extraDetails;
	     				let _outcomeDocuments = this.$refs[ref][0].multipleQuickReportForm.outcomeDocuments;
	     				let _nineGDocument = this.$refs[ref][0].multipleQuickReportForm.nineGDocument;
	     				let _downgradingDocument = this.$refs[ref][0].multipleQuickReportForm.downgradingDocument;

						this.multipleQuickReportForm.exp_date.push(_expDate);
						this.multipleQuickReportForm.estimated_date.push(_newExpDate);
						this.multipleQuickReportForm.user_id.push(_user_id);
	     				this.multipleQuickReportForm.actionId.push(_actionId);
	     				this.multipleQuickReportForm.categoryId.push(_categoryId);
	     				this.multipleQuickReportForm.categoryName.push(_categoryName);
	     				this.multipleQuickReportForm.date1.push(_date1);
	     				this.multipleQuickReportForm.date2.push(_date2);
	     				this.multipleQuickReportForm.date3.push(_date3);
	     				this.multipleQuickReportForm.dateTimeArray.push(_dateTimeArray);
	     				this.multipleQuickReportForm.extraDetails.push(_extraDetails);
	     				this.multipleQuickReportForm.outcomeDocuments.push(_outcomeDocuments);
	     				this.multipleQuickReportForm.nineGDocument.push(_nineGDocument);
	     				this.multipleQuickReportForm.downgradingDocument.push(_downgradingDocument);
					});

					this.loading = true;

					this.multipleQuickReportForm.submit('post', '/visa/quick-report')
			            .then(response => {
			            	if(response.success) {
			            		this.loading = false;

			            		this.reset();

			            		$('#add-quick-report-modal').modal('hide');

			            		toastr.success(response.message);

			            		if(this.iswritereportpage) {
			            			$('#add-quick-report-modal').on('hidden.bs.modal', function (e) {
									  window.location.href = '/visa/report/write-report';
									});
			            		} else {
			            			setTimeout(() => {
				            			location.reload();
				            		}, 1000);
			            		}
			            	} else {
			            		this.loading = false;
			            	}
			            });

				}
			}
		},

		created() {
			if(window.Laravel.language == 'cn'){
				this.getTranslation();
			}

			this.getActionCategory();

			this.getCompanyCouriers();

			this.getServiceDocs();
		},

		computed: {
			distinctClientServices() {
				let distinctClientServices = [];

				this.ifNineA = [];
				this.months_required = [];
				this.serviceParentId = [];
				this.serviceId = [];

				var servicesIdArray = [];

				this.clientservices.forEach(clientService => {
					if(distinctClientServices.indexOf(clientService.detail) == -1) {
						distinctClientServices.push(clientService.detail);

						if(clientService.parent_id == 63) {
							this.ifNineA.push(true);
						} else {
							this.ifNineA.push(false);
						}

						this.months_required.push(clientService.months_required);

						this.serviceParentId.push(clientService.parent_id);

						this.serviceId.push(clientService.service_id);

						servicesIdArray.push(clientService.service_id);
					}
				});

				this.getOutcomeDocuments(this.clientservices, servicesIdArray);
				this.getOutcomeOptionalDocuments(this.clientservices, servicesIdArray);

				this.nineAUserId = [];
				distinctClientServices.forEach((d, index) => {
					var tempUserId = [];

					this.clientservices.forEach(c => {
						if(d == c.detail) {
							tempUserId.push(c.client_id);
						}
					});

					this.nineAUserId.push(tempUserId);
				});

				return distinctClientServices;
			}
		},

		mounted() {
			$('#add-quick-report-modal').on('hidden.bs.modal', () => {
			  	this.reset();
			});
		},

		components: {
	        'multiple-quick-report-form-v2': require('./MultipleQuickReportFormV2.vue')
	    }

	}

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
	div.quick-report-sk-react {
		background-color: #ffffff;
	}
</style>