<template>

	<form class="form-horizontal" @submit.prevent="addMultipleQuickReport">

		<!-- <div class="ios-scroll"> -->
		<div>
			<div v-for="(distinctClientService, index) in distinctClientServices.length" v-show="getEstimatedDates(index)">

				<div class="panel panel-default">
	                <div class="panel-heading">
	                    {{ distinctClientServices[index] }}
	                </div>
	                <div class="panel-body">

	                	<multiple-quick-report-form :service="distinctClientServices[index]" :key="index" :ref="'form-' + index" :docs="docs" :servicedocs="serviceDocs" :index="index" :translation="translation" :ifninea="ifninea[index]" :months_required="months_required[index]" :serviceparentid="serviceParentId[index]" :outcomedocuments="outcomeDocuments[index]" :clientsoutcomedocuments="clientsOutcomeDocuments[index]"></multiple-quick-report-form>

	                </div> <!-- panel-body -->
	        </div> <!-- panel -->

			</div> <!-- loop -->
		</div> <!-- ios-scroll -->

		<button v-if="!loading" type="submit" class="btn btn-primary pull-right">
			{{ (this.translation) ? this.translation['create-report'] : 'Create Report' }}
		</button>
    	<button v-if="loading" type="button" class="btn btn-primary pull-right">
	        <div class="sk-spinner sk-spinner-wave" style="width:40px; height:20px;">
	            <div class="sk-rect1 quick-report-sk-react"></div>
	            <div class="sk-rect2 quick-report-sk-react"></div>
	            <div class="sk-rect3 quick-report-sk-react"></div>
	            <div class="sk-rect4 quick-report-sk-react"></div>
	            <div class="sk-rect5 quick-report-sk-react"></div>
	        </div>
	    </button>

	    <button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">{{ (this.translation) ? this.translation['close'] : 'Close' }}</button>
	</form>

</template>

<script>

	export default {

		props: ['groupreport', 'groupid', 'clientsid', 'clientservices', 'trackings', 'iswritereportpage'],

		data() {
			return {

				loading: false,

				translation: null,

				nineAUserId: [],
				ifninea: [],
				months_required:[],
				//dateArray:[],
				docs: [],
				serviceDocs: [],

				outcomeDocuments: [],
				clientsOutcomeDocuments: [],

        		multipleQuickReportForm : new Form({
        			distinctClientServices:[],

        			groupReport: null,
        			groupId: null,
							exp_date:[],
							estimated_date:[],
							user_id:[],
        			clientsId: [],
        			clientServicesId: [],
        			trackings: [],

        			actionId: [],

        			categoryId: [],
        			categoryName: [],

        			date1: [],
        			date2: [],
        			date3: [],
        			dateTimeArray: [],

        			extraDetails: [],

        			outcomeDocuments: [],

        			nineADocument: [],
        			nineGDocument: [],
        			downgradingDocument: []
        		}, { baseURL: axiosAPIv1.defaults.baseURL }),

        		serviceParentId: []

			}
		},

		methods: {

			getComponentTranslation() {
				axios.get('/visa/report/component-translation')
	               .then(response => {
	                   this.translation = response.data.translation;
	               });
			},

			fetchDocs(id) {
				var ids = '';
				$.each(id, function(i, item) {
				    ids += id[i].docs_needed + ',' + id[i].docs_optional + ',';
				});

				var uniqueList=ids.split(',').filter(function(allItems,i,a){
				    return i==a.indexOf(allItems);
				}).join(',');

			 	axios.get('/visa/group/'+uniqueList+'/service-docs')
			 	  .then(result => {
		            this.docs = result.data;
		        });

	        	setTimeout(() => {
	        		$('.chosen-select-for-docs').trigger('chosen:updated');
	        	}, 5000);
			},

			getServiceDocs() {
        		axios.get('/visa/group/service-docs-index')
			 	  .then(result => {
		            this.serviceDocs = result.data;
		        });
        	},

			resetMultipleQuickReportForm() {
				// MultipleQuickReportForm.vue
					this.distinctClientServices.forEach((distinctClientService, index) => {
						let ref = 'form-' + index;

						this.$refs[ref][0].multipleQuickReportform = {
		        			actionId: 1,

		        			categoryId: null,
		        			categoryName: null,

		        			date1: null,
		        			date2: null,
		        			date3: null,
		        			dateTimeArray: [],

		        			extraDetails: [],

		        			nineADocument: [],
		        			nineGDocument: [],
		        			downgradingDocument: []
		        		}

		        		this.$refs[ref][0].$refs.date2.value = '';
		        		this.$refs[ref][0].$refs.date3.value = '';
		        		this.$refs[ref][0].$refs.date4.value = '';
		        		this.$refs[ref][0].$refs.date5.value = '';
		        		this.$refs[ref][0].$refs.date6.value = '';
		        		this.$refs[ref][0].$refs.date7.value = '';
		        		this.$refs[ref][0].$refs.date8.value = '';
		        		this.$refs[ref][0].$refs.date9.value = '';
		        		this.$refs[ref][0].$refs.date10.value = '';
		        		this.$refs[ref][0].$refs.date11.value = '';
		        		this.$refs[ref][0].$refs.date12.value = '';
		        		this.$refs[ref][0].$refs.date13.value = '';
		        		this.$refs[ref][0].$refs.date14.value = '';
		        		this.$refs[ref][0].$refs.date15.value = '';
		        		this.$refs[ref][0].$refs.date16.value = '';
		        		this.$refs[ref][0].$refs.categoryName.value = '';

		        		this.$refs[ref][0].customCategory = false;
					});

        		// MultipleQuickReport.vue
	        		this.multipleQuickReportForm = new Form({
	        			distinctClientServices:[],

	        			actionId: [],

	        			categoryId: [],
	        			categoryName: [],

	        			date1: [],
	        			date2: [],
	        			date3: [],
	        			dateTimeArray: [],

	        			extraDetails: [],

	        			outcomeDocuments: [],

	        			nineADocument: [],
	        			nineGDocument: [],
	        			downgradingDocument: []
	        		}, { baseURL: axiosAPIv1.defaults.baseURL });
			},

			validate() {
				var isValid = true;

				this.distinctClientServices.forEach((distinctClientService, index) => {
					let ref = 'form-' + index;

					if( ! this.$refs[ref][0].validate(distinctClientService) ) {
						isValid = false;
					}
				});

				return isValid;
			},

			getEstimatedDates(index) {
				let ref = 'form-' + index;
				setTimeout(() => {
					this.$refs[ref][0].getEstimatedDates(this.nineAUserId[index]);
				}, 500);
				// setTimeout(() => {
				// 	this.dateArray.push(this.$refs[ref][0].estimatedDates);
				// }, 500);
				//
				 //console.log(this.dateArray);

				return true;
			},

			getOutcomeDocuments(clientservices, servicesIdArray) {
				axios.post('/visa/service/outcome-documents', {
				    clientServices: clientservices,
				    servicesIdArray: servicesIdArray
				})
			 	.then(result => {
		            let { outcomeDocuments, clientsOutcomeDocuments } = result.data;

		            this.outcomeDocuments = outcomeDocuments;
		            this.clientsOutcomeDocuments = clientsOutcomeDocuments;
		        });
			},

			addMultipleQuickReport() {
				if(this.validate()) {
					this.multipleQuickReportForm.groupReport = this.groupreport;
					this.multipleQuickReportForm.groupId = this.groupid;
					this.multipleQuickReportForm.clientsId = this.clientsid;
					this.multipleQuickReportForm.clientServicesId = this.clientservices;
					this.multipleQuickReportForm.trackings = this.trackings;
					this.multipleQuickReportForm.distinctClientServices = this.distinctClientServices;

					this.distinctClientServices.forEach((distinctClientService, index) => {
						let ref = 'form-' + index;

						let _actionId = this.$refs[ref][0].multipleQuickReportform.actionId;
						let _categoryId = this.$refs[ref][0].multipleQuickReportform.categoryId;
						let _categoryName = this.$refs[ref][0].multipleQuickReportform.categoryName;
						let _date1 = this.$refs[ref][0].multipleQuickReportform.date1;
						let _date2 = this.$refs[ref][0].multipleQuickReportform.date2;
						let _date3 = this.$refs[ref][0].multipleQuickReportform.date3;
						let _dateTimeArray = this.$refs[ref][0].multipleQuickReportform.dateTimeArray;
						let _extraDetails = this.$refs[ref][0].multipleQuickReportform.extraDetails;
						let _expDate = this.$refs[ref][0].multipleQuickReportform.exp_date;
						let _newExpDate = this.$refs[ref][0].multipleQuickReportform.estimated_date;
						let _user_id = this.$refs[ref][0].multipleQuickReportform.user_id;
						let _nineADocument = this.$refs[ref][0].multipleQuickReportform.nineADocument;
						let _nineGDocument = this.$refs[ref][0].multipleQuickReportform.nineGDocument;
						let _downgradingDocument = this.$refs[ref][0].multipleQuickReportform.downgradingDocument;
						
						this.multipleQuickReportForm.actionId.push(_actionId);
						this.multipleQuickReportForm.categoryId.push(_categoryId);
	        			this.multipleQuickReportForm.categoryName.push(_categoryName);
	        			this.multipleQuickReportForm.date1.push(_date1);
	        			this.multipleQuickReportForm.date2.push(_date2);
	        			this.multipleQuickReportForm.date3.push(_date3);
	        			this.multipleQuickReportForm.dateTimeArray.push(_dateTimeArray);
	        			this.multipleQuickReportForm.extraDetails.push(_extraDetails);
								this.multipleQuickReportForm.exp_date.push(_expDate);
								this.multipleQuickReportForm.estimated_date.push(_newExpDate);
								this.multipleQuickReportForm.user_id.push(_user_id);

						this.multipleQuickReportForm.nineADocument.push(_nineADocument);
						this.multipleQuickReportForm.nineGDocument.push(_nineGDocument);
						this.multipleQuickReportForm.downgradingDocument.push(_downgradingDocument);
					});

					var outcomeDocuments = [];
					this.distinctClientServices.forEach((dcs, index) => {
						var _outcomeDocuments = [];

						for(var i=0; i<this.clientsOutcomeDocuments[index].length; i++) {
							var clientServiceId = $('input[name^="'+index+i+'outcomeDocumentsClientServiceId"]').val();

							var _documents = [];
							$('input[name^="'+index+i+'outcomeDocumentsArray"]:checked:not(:disabled)').each( function(e) {
								_documents.push(this.value);
			 				});

			 				_outcomeDocuments.push({
								'client_service_id' : clientServiceId,
								'documents' : _documents
							});
						}

						outcomeDocuments.push(_outcomeDocuments);
					});

					this.multipleQuickReportForm.outcomeDocuments = outcomeDocuments;

					this.loading = true;

					this.multipleQuickReportForm.submit('post', '/visa/quick-report')
			            .then(response => {
			            	if(response.success) {
			            		this.loading = false;

			            		this.resetMultipleQuickReportForm();

			            		$('#add-quick-report-modal').modal('hide');

			            		toastr.success(response.message);

			            		if(this.iswritereportpage) {
			            			$('#add-quick-report-modal').on('hidden.bs.modal', function (e) {
									  					window.location.href = '/visa/report/write-report';
													});
			            			}else {
			            			setTimeout(() => {
				            			location.reload();
				            		}, 1000);
			            		}
			            	} else {
			            		this.loading = false;
			            	}
			            });
				}
			}

		},

		created() {
			if(window.Laravel.language == 'cn'){
				this.getComponentTranslation();
			}

			this.getServiceDocs();
		},

		computed: {
			_isWriteReportPage() {
		      	return this.iswritereportpage || false;
		    },

			distinctClientServices() {
				let distinctClientServices = [];

				this.ifninea = [];
				this.nineAUserId = [];
				this.months_required=[];
				this.serviceParentId = [];

				var servicesIdArray = [];

				this.clientservices.forEach(clientService => {
					if(distinctClientServices.indexOf(clientService.detail) == -1) {
						distinctClientServices.push(clientService.detail);

						if(clientService.parent_id == 63) { // IF 9A
							this.ifninea.push(true);
						} else {
							this.ifninea.push(false);
						}
						this.months_required.push(clientService.months_required);
					
						this.serviceParentId.push(clientService.parent_id);

						servicesIdArray.push(clientService.service_id);
					}
				});

				this.getOutcomeDocuments(this.clientservices, servicesIdArray);

				distinctClientServices.forEach((d, index) => {
					var tempUserId = [];

					this.clientservices.forEach(c => {
						if(d == c.detail) {
							tempUserId.push(c.client_id);
							//tempUserId.push(c);
						}
					});

					this.nineAUserId.push(tempUserId);
				});

				return distinctClientServices;
			}
		},

		components: {
	        'multiple-quick-report-form': require('./MultipleQuickReportForm.vue')
	    }

	}

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
	div.quick-report-sk-react {
		background-color: #ffffff;
	}
</style>
