<template>
	
	<div>

		<div class="form-group">
		    <label class="col-md-2 control-label">
		        {{ (this.translation) ? this.translation['action'] : 'Action' }}: <span class="text-danger">*</span>
		    </label>

		    <div class="col-md-10">
		        <select class="form-control" name="action" v-model="multipleQuickReportForm.actionId" @change="getCategories();toggleCategorySection();toggleCustomCategorySection();resetCustomCategory();">
		            <option v-for="ac in actioncategory" :value="ac.action.id">
		           		{{ ac.action.name }}
		            </option>
		        </select>
		    </div>
		</div> <!-- form-group -->

		<div class="form-group" v-show="categorySection">
		    <label class="col-md-2 control-label">
		        {{ (this.translation) ? this.translation['category'] : 'Category' }}: <span class="text-danger">*</span>
		    </label>

		    <div class="col-md-10">
		        <select v-show="!customCategory" class="form-control" name="category" v-model="multipleQuickReportForm.categoryId">
		            <option v-for="category in categories" :value="category.id">
		            	{{ category.name }}
		            </option>
		        </select>

		        <input v-show="customCategory" type="text" class="form-control" placeholder="Enter category" v-model="multipleQuickReportForm.categoryName" ref="categoryName">

		        <div v-show="customCategorySection">
		        	<div style="height:10px; clear:both;"></div>

		        	<button type="button" class="btn btn-sm btn-primary pull-right" @click="toggleCustomCategory">
			        	<span v-show="!customCategory">
			        		{{ (this.translation) ? this.translation['use-custom-category'] : 'Use Custom Category' }}
			        	</span>
			        	<span v-show="customCategory">
			        		{{ (this.translation) ? this.translation['use-predefined-category'] : 'Use Predefined Category' }}
			        	</span>
			        </button>
		        </div>
		    </div>
		</div> <!-- form-group -->

		<div v-show="multipleQuickReportForm.actionId == 1"> <!-- Filed -->

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['estimated-releasing-date'] : 'Estimated Releasing Date' }}:
			       	<span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" ref="filed_date" autocomplete="off" onkeydown="return false">
                    </div>
			    </div>
			</div>

			<div class="form-group" v-show="multipleQuickReportForm.categoryId == 1">
				<label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['scheduled-hearing-date-and-time'] : 'Scheduled Hearing Date and Time' }}:
			    </label>
			    <div class="col-md-10">
			    	<div class="row" v-for="(dateTimeElement, i) in multipleQuickReportForm.dateTimeArray">
				    	<div class="col-md-11">
					    	<div class="input-group date" style="margin-bottom: 10px;">
		                        <span class="input-group-addon">
		                        	<i class="fa fa-calendar"></i>
		                       	</span>

		                       	<input type="text" class="form-control datetimepickerarray" v-model="dateTimeElement.value" :class="'datetimepickerarray'+i" :name="index+'dateTimeArray[]'" placeholder="yyyy-mm-dd hh:mm:ss" @keyup="setDateTimePickerArrayValue($event, i)">
		                    </div>
	                    </div>
	                    <div class="col-md-1 text-center">
	                    	<button type="button" class="btn btn-danger btn-sm" @click="removeDateTimePickerArray(i)" v-show="i != 0">
	                    		<i class="fa fa-times"></i>
	                    	</button>
	                    </div>
                    </div>

                    <div style="height:10px;clear:both;"></div>

                    <button type="button" class="btn btn-primary btn-sm pull-right" @click="addDateTimePickerArray">
                    	<i class="fa fa-plus"></i> {{ (this.translation) ? this.translation['add'] : 'Add' }}
                    </button>
			    </div>
			</div>

			<div class="form-group" v-show="multipleQuickReportForm.categoryId == 6 || multipleQuickReportForm.categoryId == 7 || multipleQuickReportForm.categoryId == 10 || multipleQuickReportForm.categoryId == 14 || multipleQuickReportForm.categoryId == 15">
				   <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['scheduled-appointment-date-and-time'] : 'Scheduled Appointment Date and Time' }}:
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datetimepicker" ref="filed_datetime" autocomplete="off">
                    </div>
			    </div>
			</div>

		</div>

		<div v-if="multipleQuickReportForm.actionId == 2"> <!-- Released -->

			<div id="show-outcome-optional-documents-section" class="form-group" :class="{'hidden':showOutcomeOptionalDocuments(serviceparentid, serviceid, multipleQuickReportForm.categoryId) == false}">
				<div class="col-md-12">

					<div class="project-list">
						<table class="table table-hover documents-field-table">
						    <tr v-for="cood in clientsoutcomeoptionaldocuments">
						       	<td class="project-status outcome-documents-client-name" style="width:30%;">
						        	{{ cood.name }}
						        	<input type="hidden" :name="'outcomeDocumentsClientServiceId1-'+index+'-'+cood.id" :value="cood.client_service_id">
						        </td>
						        <td class="project-title" style="width:70%;">
						        	<div v-for="ood in cood.outcomeOptionalDocuments">
									    <label>
									        <input type="radio" :value="ood.id" :name="'tempOutcomeDocuments-'+index+'-'+cood.id" :checked="cood.documents_on_hand.includes((ood.id).toString())">
									        	{{ ood.title }}
									    </label>
									    <div style="height:1px;clear:both;"></div>
									</div>
						        </td>
						    </tr>
						</table>
					</div>

				</div>
			</div>

			<div id="show-outcome-documents-section" class="form-group" :class="{'hidden':showOutcomeDocuments(serviceparentid, serviceid, multipleQuickReportForm.categoryId) == false}">
				<div class="col-md-12">

					<div class="project-list">
						<table class="table table-hover documents-field-table">
						    <tr v-for="cod in clientsoutcomedocuments">
						        <td class="project-status outcome-documents-client-name" style="width:30%;">
						        	{{ cod.name }}
						        	<input type="hidden" :name="'outcomeDocumentsClientServiceId2-'+index+'-'+cod.id" :value="cod.client_service_id">
						        </td>
						        <td class="project-title" style="width:70%;">
						        	<div v-for="od in cod.outcomeDocuments">
									    <label v-show="toggleOutcomeDocument(serviceparentid, serviceid, multipleQuickReportForm.actionId, multipleQuickReportForm.categoryId, od.id)">
									        <input type="checkbox" :value="od.id" :key="od.id" :name="'tempOutcomeDocuments-'+index+'-'+cod.id" :checked="cod.documents_on_hand.includes((od.id).toString()) || isChecked(checkedDocs, cod.id+'-'+serviceid+'-'+od.id)" :disabled="cod.documents_on_hand.includes((od.id).toString())" :get-ids="cod.id+'-'+serviceid+'-'+od.id" @change="check(cod.id+'-'+serviceid+'-'+od.id)"> 
									        {{ od.title }}
									        <!-- jeff -->
									    </label>
									</div>

									<div v-if="cod.outcomeOptionalDocuments.length > 0">
										<div style="height:10px;clear:both;"></div>
										<p>Optional:</p>
									</div>
									<div v-for="ood in cod.outcomeOptionalDocuments">
									    <label>
									        <input type="checkbox" :value="ood.id" :key="ood.id" :name="'tempOutcomeOptionalDocuments-'+index+'-'+cod.id" :checked="cod.documents_on_hand.includes((ood.id).toString())" :disabled="cod.documents_on_hand.includes((ood.id).toString())">
									        {{ ood.title }}
									    </label>
									</div>

									<div v-if="cod.additionalOutcomeDocuments.length > 0">
										<div style="height:10px;clear:both;"></div>

										<div v-for="aod in cod.additionalOutcomeDocuments">
											<label>
										        <input type="radio" :value="aod.id" :name="'tempAdditionalOutcomeDocuments-'+index+'-'+cod.id" :checked="cod.documents_on_hand.includes((aod.id).toString())" :disabled="isDisabled(cod.documents_on_hand, cod.additionalOutcomeDocuments)">
										        {{ aod.title }}
										    </label>
										    <div style="height:1px;clear:both;"></div>
									    </div>
									</div>

									<div v-if="cod.additionalOutcomeDocuments2.length > 0">
										<div style="height:10px;clear:both;"></div>

										<div v-for="aod2 in cod.additionalOutcomeDocuments2">
											<label>
										        <input type="radio" :value="aod2.id" :name="'tempAdditionalOutcomeDocuments2-'+index+'-'+cod.id" :checked="cod.documents_on_hand.includes((aod2.id).toString())" :disabled="isDisabled(cod.documents_on_hand, cod.additionalOutcomeDocuments2)">
										        {{ aod2.title }}
										    </label>
										    <div style="height:1px;clear:both;"></div>
									    </div>
									</div>

									<!-- 9A Visa Extensions
									<div v-if="serviceparentid == 63 && serviceid != 425 && serviceid != 426">
										<div style="height:10px;clear:both;"></div>

										<label>Optional:</label>
										<div style="height:1px;clear:both;"></div>
										<label>
									        <input type="radio" value="7" :name="'tempAdditionalOutcomeDocuments-'+index+'-'+cod.id">
									        WITH ACR I-Card Original
									    </label>
									    <div style="height:1px;clear:both;"></div>
									    <label>
									        <input type="radio" value="" :name="'tempAdditionalOutcomeDocuments-'+index+'-'+cod.id">
									        WITHOUT ACR I-Card Original
									    </label>
									</div>

									Downgrading
										9G Working Visa Downgrading - Complete Documents
										9G Working Visa Downgrading - Rush
										9G Working Visa Downgrading - Incomplete Documents- Rush
									<div v-if="serviceparentid == 114 && (serviceid == 121 || serviceid == 394 || serviceid == 423)">
										<div style="height:10px;clear:both;"></div>

										<label>Optional:</label>
										<div style="height:1px;clear:both;"></div>
										<label>
									        <input type="radio" value="131" :name="'tempAdditionalOutcomeDocuments-'+index+'-'+cod.id">
									        WITH Cancellation of ACR I-CARD
									    </label>
									    <div style="height:1px;clear:both;"></div>
									    <label>
									        <input type="radio" value="" :name="'tempAdditionalOutcomeDocuments-'+index+'-'+cod.id">
									        WITHOUT Cancellation of ACR I-CARD
									    </label>
									</div>

									Blacklist
										Request BLO order
									<div v-if="serviceparentid == 126 && serviceid == 334">
										<div style="height:10px;clear:both;"></div>

										<label>Optional:</label>
										<div style="height:1px;clear:both;"></div>
										<label>
									        <input type="radio" value="199" :name="'tempAdditionalOutcomeDocuments-'+index+'-'+cod.id">
									        WITH BLO Order
									    </label>
									    <div style="height:1px;clear:both;"></div>
									    <label>
									        <input type="radio" value="" :name="'tempAdditionalOutcomeDocuments-'+index+'-'+cod.id">
									        WITHOUT BLO Order
									    </label>
									</div>

									Special Retiree Resident Visa (SRRV) Conversion
										SRRV Principal
									<div v-if="serviceparentid == 217 && serviceid == 386">
										<div style="height:10px;clear:both;"></div>

										<label>Optional:</label>
										<div style="height:1px;clear:both;"></div>

										<label>
									        <input type="radio" value="201" :name="'tempAdditionalOutcomeDocuments-'+index+'-'+cod.id+'-1'">
									        WITH Affirmation
									    </label>
									    <div style="height:1px;clear:both;"></div>
									    <label>
									        <input type="radio" value="" :name="'tempAdditionalOutcomeDocuments-'+index+'-'+cod.id+'-1'">
									        WITHOUT Affirmation
									    </label>

									    <div style="height:5px;clear:both;"></div>

									    <label>
									        <input type="radio" value="200" :name="'tempAdditionalOutcomeDocuments-'+index+'-'+cod.id+'-2'">
									        WITH Certificate of Deposit
									    </label>
									    <div style="height:1px;clear:both;"></div>
									    <label>
									        <input type="radio" value="" :name="'tempAdditionalOutcomeDocuments-'+index+'-'+cod.id+'-2'">
									        WITHOUT Certificate of Deposit
									    </label>
									</div> -->
						        </td>
						    </tr>
						</table>
					</div>

				</div>
			</div>

			<div class="form-group" v-if="multipleQuickReportForm.categoryId == 18 && ifninea && estimatedDates.length">
				<div v-for="(e, i) in estimatedDates" class="col-md-12">
					<input ref="user_id" type="hidden" :value="e.id" />
					
					<table class="table table-bordered">
                        <thead>
                            <tr>
                               	<th class="font-bold" colspan="2">
                               		{{ e.first_name + ' ' + e.last_name }}
                               	</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:30%;">Extended until when</td>
                            	<td>
									<the-mask v-model="multipleQuickReportForm.exp_date[i]" type="text" class="input-sm form-control" placeholder="YYYY-MM-DD" mask="####-##-##" />
    					 		</td>
                            </tr>
                            <tr>
								<td style="width:30%;">Estimated Date</td>
								<td>
									<input id="estimated_date" ref="estimated_date" class="form-control" type="text" placeholder="####-##-##" :value="(e.exp_date) ? estimateDate(e.id, e.exp_date,e) : estimateDate(e.id, e.first_exp_date,e)" disabled />
								</td>
                            </tr>
                        </tbody>
                    </table>
				</div>
      		</div>

		</div>

		<div v-show="multipleQuickReportForm.actionId == 4"> <!-- Unable to file need additional requirements -->

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['documents'] : 'Documents' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
		            <select :id="'chosen-' + index" data-placeholder="Select Docs" class="chosen-select-for-docs" multiple style="width:350px;" tabindex="4">
		                <option v-for="servicedoc in servicedocs" :value="servicedoc.title">
		                	{{ (servicedoc.title).trim() }}
		                </option>
		            </select>
			    </div>
			</div>

		</div>

		<div v-show="multipleQuickReportForm.actionId == 6"> <!-- Deadline of Submission -->

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['submission-date'] : 'Submission Date' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" ref="deadline_of_submission_date" autocomplete="off" onkeydown="return false">
                    </div>
			    </div>
			</div>

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['consequence-of-non-submission'] : 'Consequence of non submission' }}:
			    </label>

			    <div class="col-md-10">
			    	<div>
			    		<label>
			    			<input type="checkbox" v-model="multipleQuickReportForm.extraDetails" value="Additional cost maybe charged.">
			    			{{ (this.translation) ? this.translation['additional-cost-maybe-charged'] : 'Additional cost maybe charged' }}.
			    		</label>
			    	</div>
			    	<div>
			    		<label>
			    			<input type="checkbox" v-model="multipleQuickReportForm.extraDetails" value="Application maybe forfeited and has to re-apply.">
			    			{{ (this.translation) ? this.translation['application-maybe-forfeited-and-has-to-re-apply'] : 'Application maybe forfeited and has to re-apply' }}.
			    		</label>
			    	</div>
			    	<div>
			    		<label>
			    			<input type="checkbox" v-model="multipleQuickReportForm.extraDetails" value="Initial deposit maybe forfeited.">
			    			{{ (this.translation) ? this.translation['initial-deposit-maybe-forfeited'] : 'Initial deposit maybe forfeited' }}.
			    		</label>
			    	</div>
			    </div>
			</div>

		</div>

		<div v-show="multipleQuickReportForm.actionId == 7"> <!-- For Implementation -->

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['estimated-time-of-finishing'] : 'Estimated Time of Finishing' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datetimepicker" ref="for_implementation_datetime" autocomplete="off">
                    </div>
			    </div>
			</div>

		</div>

		<div v-show="multipleQuickReportForm.actionId == 8"> <!-- Unable to file due to bad weather -->

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['affected-date'] : 'Affected Date' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			    	<div class="input-daterange input-group">
		                <input type="text" class="input-sm form-control datepicker" ref="unable_to_file_due_to_bad_weather_from_date" autocomplete="off" onkeydown="return false" />
		                <span class="input-group-addon">{{ (this.translation) ? this.translation['to'] : 'to' }}</span>
		                <input type="text" class="input-sm form-control datepicker" ref="unable_to_file_due_to_bad_weather_to_date" autocomplete="off" onkeydown="return false" />
		            </div>
			    </div>
			</div>

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['target-filling-date'] : 'Target Filling Date' }}:
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" ref="unable_to_file_due_to_bad_weather_target_filing_date" autocomplete="off" onkeydown="return false">
                    </div>
			    </div>
			</div>

		</div>

		<div v-show="multipleQuickReportForm.actionId == 9"> <!-- Unable to finish due to suspension of work -->

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['date-range'] : 'Date Range' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
                    <div class="input-daterange input-group">
		                <input type="text" class="input-sm form-control datepicker" ref="unable_to_finish_due_to_suspension_of_work_from_date" autocomplete="off" onkeydown="return false" />
		                <span class="input-group-addon">{{ (this.translation) ? this.translation['to'] : 'to' }}</span>
		                <input type="text" class="input-sm form-control datepicker" ref="unable_to_finish_due_to_suspension_of_work_to_date" autocomplete="off" onkeydown="return false" />
		            </div>
			    </div>
			</div>

		</div>

		<div v-show="multipleQuickReportForm.actionId == 10"> <!-- Extended processing period -->

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['extended-period-for-processing'] : 'Extended period for processing' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" ref="extended_processing_period_date" autocomplete="off" onkeydown="return false" />
                    </div>
			    </div>
			</div>

		</div>

		<div v-show="multipleQuickReportForm.actionId == 11"> <!-- For payment -->

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['estimated-releasing-date'] : 'Estimated Releasing Date' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" ref="for_payment_date" autocomplete="off" onkeydown="return false" />
                    </div>
			    </div>
			</div>

		</div>

		<div v-show="multipleQuickReportForm.actionId == 12"> <!-- Picked up documents from client -->

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['date-and-time-pick-up'] : 'Date and Time Pick Up' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
                    <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datetimepicker" ref="picked_up_documents_from_client_datetime" autocomplete="off">
                    </div>
			    </div>
			</div>

		</div>

		<div v-show="multipleQuickReportForm.actionId == 13"> <!-- For delivery -->

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['date-and-time-delivered'] : 'Date and Time Delivered' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datetimepicker" ref="for_delivery_datetime" autocomplete="off">
                    </div>
			    </div>
			</div>

		</div>

		<div v-show="multipleQuickReportForm.actionId == 14"> <!-- Delivered -->

			<div class="form-group" v-show="multipleQuickReportForm.categoryId == 128">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['company-courier'] : 'Company Courier' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <select class="form-control" ref="delivered_company_courier">
			        	<option v-for="c in companycouriers" :value="c.contact_number">
			        		{{ c.first_name + ' ' + c.last_name }}
			        		({{ c.contact_number }})
			        	</option>
			        </select>
			    </div>
			</div>

			<div class="form-group" v-show="multipleQuickReportForm.categoryId != 128">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['tracking-number'] : 'Tracking Number' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <input type="text" class="form-control" ref="delivered_tracking_number" autocomplete="off">
			    </div>
			</div>

			<div class="form-group">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['date-and-time-delivered'] : 'Date and Time Delivered' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datetimepicker" ref="delivered_datetime" autocomplete="off">
                    </div>
			    </div>
			</div>

		</div>

		<div v-show="multipleQuickReportForm.actionId == 15"> <!-- For processing of -->

			<div class="form-group" v-show="multipleQuickReportForm.categoryId == 76 || multipleQuickReportForm.categoryId == 77 || multipleQuickReportForm.categoryId == 78 || multipleQuickReportForm.categoryId == 79 || multipleQuickReportForm.categoryId == 80 || multipleQuickReportForm.categoryId == 81 || multipleQuickReportForm.categoryId == 82 || multipleQuickReportForm.categoryId == 83">
			    <label class="col-md-2 control-label">
			       	{{ (this.translation) ? this.translation['estimated-releasing-date'] : 'Estimated Releasing Date' }}: <span class="text-danger">*</span>
			    </label>

			    <div class="col-md-10">
			        <div class="input-group date">
                        <span class="input-group-addon">
                        	<i class="fa fa-calendar"></i>
                       	</span>
                       	<input type="text" class="form-control datepicker" ref="for_processing_of_date" autocomplete="off" onkeydown="return false" />
                    </div>
			    </div>
			</div>

		</div>

	</div>

</template>

<script>

	import VueTheMask from 'vue-the-mask';

	export default {

		props: ['index', 'translation', 'actioncategory', 'companycouriers', 'servicedocs', 'ifninea', 'months_required', 'serviceparentid', 'serviceid', 'outcomedocuments', 'clientsoutcomedocuments', 'outcomeoptionaldocuments', 'clientsoutcomeoptionaldocuments'],

		data() {
			return {
				categorySection: false,
				customCategorySection: false,
				customCategory: false,

				checkedDocs :null,

				categories: [],

				estimatedDates: [],

				multipleQuickReportForm: {
        			actionId: null,

        			categoryId: null,
        			categoryName: null,

        			extraDetails: [],

        			exp_date: [],
        			estimated_date: null,
					user_id: null,

        			date1: null,
        			date2: null,
        			date3: null,
        			dateTimeArray: [{value: ''}],

        			outcomeDocuments: [],
        			nineGDocument: [],
        			downgradingDocument: []
        		}
			}
		},

		methods: {
			isChecked(checkedDocs, ids) {
        		if( checkedDocs != null ) {
        			let arr = checkedDocs.split(',');

        			return arr.includes(ids);
        		}

        		return false;
        	},

        	check(ids){
        		var temp1 = '';
        		this.clientsoutcomedocuments.forEach(cod => {
					var _clientServiceId = $('input[name^="outcomeDocumentsClientServiceId2-'+this.index+'-'+cod.id+'"]').val();

					$('input[name^="tempOutcomeDocuments-'+this.index+'-'+cod.id+'"]:checked:visible:not(:disabled)').each( function(e) {
		            	temp1 += $(this).attr("get-ids") + ',';
		 			});

		 			$('input[name^="tempOutcomeOptionalDocuments-'+this.index+'-'+cod.id+'"]:checked:visible:not(:disabled)').each( function(e) {
		            	temp1 += $(this).attr("get-ids") + ',';
		 			});

					var value = $('input[name^="tempAdditionalOutcomeDocuments-'+this.index+'-'+cod.id+'"]:checked:visible:not(:disabled)').val();
					if(value != 0 && value != undefined) {
		            	temp1 += $(this).attr("get-ids") + ',';
					}

					var value = $('input[name^="tempAdditionalOutcomeDocuments2-'+this.index+'-'+cod.id+'"]:checked:visible:not(:disabled)').val();
					if(value != 0 && value != undefined) {
		            	temp1 += $(this).attr("get-ids") + ',';
					}
				});
					console.log(temp1);
					this.checkedDocs = temp1;
        	},

			isDisabled(documentsOnHand, options) {
				var flag = false;

				options.forEach(o => {
					let isInclude = documentsOnHand.includes((o.id).toString());
					
					if(isInclude) { flag = true; }
				});

				return flag;
			},

			toggleOutcomeDocument(serviceParentId, serviceId, actionId, categoryId, documentId) {
				var visibility = true;

				// 9G Working Visa Conversion
				if(serviceParentId == 70) {
					// 9G Working Visa Extension with AEP - 1 Year
					// 9G Working Visa Extension with AEP - 2 Years
					// 9G Working Visa Extension with AEP - 3 Years
					// 9G Working Visa Conversion with AEP - 1 Year
					// 9G Working Visa Conversion with AEP - 2 Years
					// 9G Working Visa Conversion with AEP - 3 Years
					if(serviceId == 325 || serviceId == 326 || serviceId == 327 || serviceId == 328 || serviceId == 97 || serviceId == 98) {
						// Released
						// Immigration
						// Alien Employment Permit (AEP) Card Original
						if(actionId == 2 && categoryId == 18 && documentId == 10) {
							return false;
						}
					}
				}

				// Downgrading
				else if(serviceParentId == 114) {
					// Cancellation of Working Visa
					if(serviceId == 403) {
						// Released
						// DOLE
						// Cancellation Letter from Bureau of Immigration
						if(actionId == 2 && categoryId == 19 && documentId == 123) {
							visibility = false;
						}
						// Released
						// Immigration
						// Cancellation Letter from DOLE
						else if(actionId == 2 && categoryId == 18 && documentId == 122) {
							visibility = false;
						}
					}
				}

				// Company Registration
				else if(serviceParentId == 228) {
					// Company Registration Service Fee
					if(serviceId == 267) {
						// 198 = SEC Registration/DTI
						// 138 = Barangay Clearance for Business
						// 139 = Locational Clearance
						// 149 = Mayor's Permit
						// 141 = BIR 2303 Certificate of Registration

						// Released
						// SEC // DTI
						if(actionId == 2 && (categoryId == 22 || categoryId == 30) && 
							(documentId == 138 || documentId == 139 || documentId == 149 || documentId == 141)) {
							return false;
						}
						// Released
						// Barangay Hall
						else if(actionId == 2 && categoryId == 126 && 
							(documentId == 198 || documentId == 139 || documentId == 149 || documentId == 141)) {
							return false;
						}
						// Released
						// City Hall
						else if(actionId == 2 && categoryId == 26 && 
							(documentId == 198 || documentId == 138 || documentId == 141)) {
							return false;
						}
						// Released
						// BIR
						else if(actionId == 2 && categoryId == 125 && 
							(documentId == 198 || documentId == 138 || documentId == 139 || documentId == 149)) {
							return false;
						}
					}
				}

				return visibility;
			},

			showOutcomeDocuments(serviceParentId, serviceId, categoryId) {
        		var visibility = false;

        		// 9A Visa Extensions
        		if(serviceParentId == 63) {
        			// Immigration
        			if(categoryId == 18 && (serviceId == 67 || serviceId == 286 || serviceId == 349 || serviceId == 350 || serviceId == 355 || serviceId == 364 || serviceId == 373 || serviceId == 337 || serviceId == 361 || serviceId == 405 || serviceId == 408 || serviceId == 412 || serviceId == 419 || serviceId == 418 || serviceId == 420 || serviceId == 421 || serviceId == 425 || serviceId == 426 || serviceId == 439 || serviceId == 440 || serviceId ==441)) { visibility = true; }
        			// PEZA
        			// Up To Date 9A Visa Extension - Peza
        			else if(categoryId == 152 && serviceId == 442) {
        				visibility = true;
        			}
        		}

        		// 9G Working Visa Conversion
        		else if(serviceParentId == 70) {
        			// Immigration
        			// 9G Working Visa Extension with AEP - 1 Year
        			// 9G Working Visa Extension with AEP - 2 Years
        			// 9G Working Visa Extension with AEP - 3 Years
        			// 9G Working Visa Conversion with AEP - 1 Year
        			// 9G Working Visa Conversion with AEP - 2 Years
        			// 9G Working Visa Conversion with AEP - 3 Years
        			// 9G Working Visa Conversion - 2 Years All in Package
        			// 9G Working Visa Conversion - 1 Year All in Package
        			// 9G Working Visa Conversion - 3 Years All in Package
        			// 9G Working Visa Conversion without  AEP - 1 Year
        			// 9G Working Visa Conversion without  AEP - 2 Years
        			// 9G Working Visa Conversion without  AEP - 3 Years
        			// 9G Working Visa Extension without  AEP - 1 Year
        			// 9G Working Visa Extension without  AEP - 2 Years
        			// 9G Working Visa Extension without  AEP - 3 Years
        			if(categoryId == 18 && (serviceId == 325 || serviceId == 326 || serviceId == 327 || serviceId == 328 || serviceId == 97 || serviceId == 98 || serviceId == 401 || serviceId == 417 || serviceId == 400 || serviceId == 432 || serviceId == 433 || serviceId == 434 || serviceId == 435 || serviceId == 436 || serviceId == 437)) { 
        				visibility = true;
        			}
        			// DOLE
        			// AEP Application - 1 Year
        			// AEP Application - 2 Years
        			// AEP Application - 3 Years
        			else if(categoryId == 19 && (serviceId == 429 || serviceId == 430 || serviceId == 431)) {
        				visibility = true;
        			}
        		}

        		// Emmigration Clearance Certificate (ECC)
        		else if(serviceParentId == 88) {
        			// Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Bureau of Immigration Certificates
        		else if(serviceParentId == 101) {
        			// Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Downgrading
        		else if(serviceParentId == 114) {
        			// 9G Working Visa Downgrading - Complete Documents
        			// Immigration
        			if(serviceId == 121 && categoryId == 18) { 
        				visibility = true;
        			}
        			// 9G Working Visa Downgrading - Rush
        			// Immigration
        			else if(serviceId == 394 && categoryId == 18) { 
        				visibility = true;
        			}
        			// 9G working visa - downgrading - incomplete documents Rush
        			// Immigration
        			else if(serviceId == 423 && categoryId == 18) { 
        				visibility = true;
        			}
        			// CEZA Working Visa Downgrading
        			// Immigration
        			else if(serviceId == 307 && categoryId == 18) { 
        				visibility = true;
        			}
        			// CEZA Working Visa Downgrading - Incomplete Documents- Rush
        			// Immigration
        			else if(serviceId == 415 && categoryId == 18) { 
        				visibility = true;
        			}
        			// CEZA Working Visa Downgrading - Complete Documents- Rush
        			// Immigration
        			else if(serviceId == 416 && categoryId == 18) { 
        				visibility = true;
        			}
        			// Cancellation of Working Visa
        			// DOLE
        			// Immigration
        			else if( (serviceId == 403 && categoryId == 19) || (serviceId == 403 && categoryId == 18) ) { 
        				visibility = true;
        			}
        		}

        		// Driver's License
        		else if(serviceParentId == 123) {
        			// LTO
        			if(categoryId == 31) { visibility = true; }
        		}

        		// Blacklist
        		else if(serviceParentId == 126) {
        			// Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// NSO Certificate
        		else if(serviceParentId == 133) {
        			// NSO
        			// Cityhall
        			if(categoryId == 25 || categoryId == 26) { visibility = true; }
        		}

        		// ACR I-CARD
        		else if(serviceParentId == 136) {
        			// Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Annual Report
        		else if(serviceParentId == 167) {
        			// Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Special Permits
        		else if(serviceParentId == 141) {
        			// Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Permanent Resident Visa (PRV- Proc)
        		else if(serviceParentId == 147) {
        			// Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Temporary Resident Visa (TRV)
        		else if(serviceParentId == 148) {
        			// Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Department of Foreign Affairs (DFA)
        		else if(serviceParentId == 158) {
        			// Chinese Embassy
        			// DFA
        			if(categoryId == 24 || categoryId == 29) { visibility = true; }
        		}

        		// Other Services
        		else if(serviceParentId == 160) {
        			// Immigration
        			// DOLE
        			// NBI
        			// PAL
        			// Cebu Pacific
        			// China Southern Airlines
        			// China East Airlines
        			if(categoryId == 18 || categoryId == 19 || categoryId == 32 || categoryId == 148 || categoryId == 149 || categoryId == 150 || categoryId == 151) { visibility = true; }
        		}

        		// Re-Stamping of Visa
        		else if(serviceParentId == 199) {
        			// Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Special Retiree Resident Visa (SRRV) Conversion
        		else if(serviceParentId == 217) {
        			// PRA
        			if(categoryId == 23) { visibility = true; }
        		}

        		// Bureau of Quarantine (BOQ)
        		else if(serviceParentId == 222) {
        			// BOQ
        			if(categoryId == 27) { visibility = true; }
        		}

        		// Company Registration
        		else if(serviceParentId == 228) {
        			// SEC 
        			// DTI
        			// Barangay Hall
        			// Cityhall  
        			// BIR 
        			if(categoryId == 22 || categoryId == 30 || categoryId == 126 || categoryId == 26  || categoryId == 125 ) {
        				visibility = true;
        			}
        		}

        		// Board of Investment (BOI)
        		else if(serviceParentId == 230) {
        			// Immigration
        			if(categoryId == 18) { visibility = true; }
        		}

        		// Cagayan Economic Zone Authority(CEZA) Working Visa
        		else if(serviceParentId == 238) {
        			// CEZA
        			if(categoryId == 20) { visibility = true; }
        		}

        		// Department of Justice (DOJ)
        		else if(serviceParentId == 259) {
        			// DOJ
        			if(categoryId == 21) { visibility = true; }
        		}

        		return visibility;
        	},

        	showOutcomeOptionalDocuments(serviceParentId, serviceId, categoryId) {
        		var visibility = false;

        		// 9G Working Visa Conversion
        		if(serviceParentId == 70) {
        			// DOLE
        			// 9G Working Visa Extension with AEP - 1 Year
        			// 9G Working Visa Extension with AEP - 2 Years
        			// 9G Working Visa Extension with AEP - 3 Years
        			// 9G Working Visa Conversion with AEP - 1 Year
        			// 9G Working Visa Conversion with AEP - 2 Years
        			// 9G Working Visa Conversion with AEP - 3 Years
        			// 9G Working Visa Conversion - 2 Years All in Package
        			// 9G Working Visa Conversion - 1 Year All in Package
        			// 9G Working Visa Conversion - 3 Years All in Package
        			if(categoryId == 19 && (serviceId == 325 || serviceId == 326 || serviceId == 327 || serviceId == 328 || serviceId == 97 || serviceId == 98 || serviceId == 401 || serviceId == 417 || serviceId == 400)) {
        				visibility = true;
        			}
        		} 
        		// Downgrading
        		else if(serviceParentId == 114) {
        			// CEZA Working Visa Downgrading
        			// CEZA
        			if(serviceId == 307 && categoryId == 20) {
        				visibility = true;
        			}
        			// CEZA Working Visa Downgrading - Incomplete Documents- Rush
        			// CEZA
        			else if(serviceId == 415 && categoryId == 20) {
        				visibility = true;
        			}
        			// CEZA Working Visa Downgrading - Complete Documents- Rush
        			// CEZA
        			else if(serviceId == 416 && categoryId == 20) {
        				visibility = true;
        			}
        		}

        		return visibility;
        	},

			getCategories() {
				let actionCategory = this.actioncategory.filter(ac => ac.action.id == this.multipleQuickReportForm.actionId);

				this.categories = actionCategory[0].categories;
			},

			toggleCategorySection() {
				/*
					1 = Filed
					2 = Released
					3 = Paid OPS
					8 = Unable to file due to bad weather
					9 = Unable to finish due to suspension of work
					10 = Extended processing period
					11 = For payment
					14 = Delivered
					15 = For processing of
					16 = Pending
				*/
				let actionIds = ['1', '2', '3', '8', '9', '10', '11', '14', '15', '16'];

				this.categorySection = actionIds.includes(this.multipleQuickReportForm.actionId);
			},

			toggleCustomCategorySection() {
				/*
					9 = Unable to finish due to suspension of work
				*/
				let actionIds = ['9'];

				this.customCategorySection = actionIds.includes(this.multipleQuickReportForm.actionId);
			},

			toggleCustomCategory() {
				this.customCategory = !this.customCategory;

				this.multipleQuickReportForm.categoryId = null
			},

			resetCustomCategory() {
				this.customCategory = false;
			},

			getEstimatedDates(nineAUserId) {
	        	axios.get('/visa/report/visa-linker', {
					params: {
						userId: nineAUserId
					}
				})
				.then(response => {
					this.estimatedDates = response.data;
				});
	        },

	        estimateDate(uid,dt,e){
				var ret=null;

				try {
					var d = moment(dt,'YYYY-MM-DD').add(this.months_required, 'months');
					ret =  moment(d,'YYYY-MM-DD').format('YYYY-MM-DD');

					if(ret == 'Invalid date') {
						toastr.warning("Please properly enter the date information of client "+ e.user.first_name+" "+e.user.last_name+" in client profile page");
						ret = "0000-00-00";
					}
				} catch(err) {
					console.log(err);
				}

				return ret;
			},

			setDateTimePickerArrayValue(event, index) {
				this.multipleQuickReportForm.dateTimeArray[index].value = $('.datetimepickerarray' + index).val();
			},

			addDateTimePickerArray() {
        		this.multipleQuickReportForm.dateTimeArray.push({value: ''});

        		var index = this.multipleQuickReportForm.dateTimeArray.length - 1;
        		setTimeout(() => {
			        $('.datetimepickerarray' + index).inputmask("datetime", {
		                mask: "y-2-1 h:s:s",
		                placeholder: "yyyy-mm-dd hh:mm:ss",
		                leapday: "-02-29",
		                separator: "-",
		                alias: "yyyy-mm-dd"
		            });
        		}, 250);
        	},

        	removeDateTimePickerArray(index) {
        		this.multipleQuickReportForm.dateTimeArray.splice(index, 1);
        	},

        	getCurrentDate() {
        		let today = new Date();
				let dd = today.getDate();
				let mm = today.getMonth() + 1;
				let yyyy = today.getFullYear();

				if(dd < 10) {
				    dd = '0' + dd;
				}

				if(mm < 10) {
				    mm = '0' + mm;
				}

				return mm + '/' + dd + '/' + yyyy;
        	},

        	checkIfValidDateTime(dateTime) {
        		let input = moment(dateTime, 'YYYY-MM-DD HH:mm:ss', true);
				
				return input.isValid();
        	},

        	checkIfValidDate(date) {
        		let input = moment(date, 'YYYY-MM-DD', true);
				
				return input.isValid();
        	},

        	checkIfMax100Years(date) {
        		let today = moment(new Date()).format('YYYY-MM-DD');

        		let input = moment(date);

        		let difference = input.diff(today, 'years');

        		return difference <= 100;
        	},

        	checkIfFutureDateTime(dateTime) {
        		let today = moment(new Date()).format('YYYY-MM-DD');
				let input = moment(dateTime);
				let difference = input.diff(today, 'days');

				return difference >= 1;
        	},

        	checkIfTodayAndFutureDateTime(dateTime) {
        		let today = moment(new Date()).format('YYYY-MM-DD');
				let input = moment(dateTime);
				let difference = input.diff(today, 'days', true);

				return difference >= 0;
        	},

        	estimatedReleasingDateLaterThanScheduledHearingDate(estimatedReleasingDate, scheduledHearingDate) {
        		var _estimatedReleasingDate = moment(estimatedReleasingDate, 'MM/DD/YYYY');
        		var _scheduledHearingDate = moment(scheduledHearingDate).format('YYYY-MM-DD');
        		var _scheduledHearingDate = moment(_scheduledHearingDate, 'YYYY-MM-DD');

        		var difference = _estimatedReleasingDate.diff(_scheduledHearingDate, 'days', true);

        		return difference >= 1;
        	},

        	checkIfDuplicateScheduledHearingDate(dateTimeArray, scheduledHearingDate, index) {
        		var isValid = true;

        		var _scheduledHearingDate = moment(scheduledHearingDate, 'YYYY-MM-DD HH:mm:ss', true).format('YYYY-MM-DD');

        		dateTimeArray.forEach((d, _index) => {
        			var _d = moment(d.value, 'YYYY-MM-DD HH:mm:ss', true).format('YYYY-MM-DD');

					if( (_index != index) && (moment(_d).isSame(_scheduledHearingDate)) ) {
						isValid = false;
					}
				});

				return isValid;
        	},

        	resetData() {
        		this.categorySection = false;
				this.customCategorySection = false;
				this.customCategory = false;

				this.categories = [];

				this.estimatedDates = [];

				this.multipleQuickReportForm = {
        			actionId: null,

        			categoryId: null,
        			categoryName: null,

        			extraDetails: [],

        			exp_date: [],
        			estimated_date: null,
					user_id: null,

        			date1: null,
        			date2: null,
        			date3: null,
        			dateTimeArray: [{value: ''}],

        			outcomeDocuments: [],
        			nineGDocument: [],
        			downgradingDocument: []
        		};
        	},

        	setMultipleQuickReportForm(actionId, categoryId, categoryName, extraDetails, expDate, estimatedDate, userId, date1, date2, date3, dateTimeArray, outcomeDocuments, nineGDocument, downgradingDocument) {

        		this.multipleQuickReportForm = {
        			actionId: actionId,

        			categoryId: categoryId,
        			categoryName: categoryName,

        			extraDetails: extraDetails,

        			exp_date: expDate,
        			estimated_date: estimatedDate,
					user_id: userId,

        			date1: date1,
        			date2: date2,
        			date3: date3,
        			dateTimeArray: dateTimeArray,

        			outcomeDocuments: outcomeDocuments,
        			nineGDocument: nineGDocument,
        			downgradingDocument: downgradingDocument
        		};
        	},

        	validate(distinctClientService) {
        		var actionId = null;
				var categoryId = null;
				var categoryName = null;
				var extraDetails = [];
				var expDate = [];
				var estimatedDate = [];
				var userId = [];
				var date1 = [];
				var date2 = [];
				var date3 = [];
				var dateTimeArray = [];
				var outcomeDocuments = [];
				var nineGDocument = [];
				var downgradingDocument = [];

        		var isValid = true;

				if(this.$refs.estimated_date != null && this.multipleQuickReportForm.exp_date.length > 0) {
						
					for(var i=0; i<this.$refs.estimated_date.length; i++) {
						if(this.estimatedDates[i].exp_date==null || this.estimatedDates[i].exp_date=='') {
							try {
								var previous_date = moment(this.estimatedDates[i].first_exp_date);
								var new_date = moment(moment(this.multipleQuickReportForm.exp_date[i]).format('YYYY-MM-DD'));

								if( (previous_date > new_date) || !this.checkIfValidDate(new_date) || !this.checkIfMax100Years(new_date) || !this.checkIfFutureDateTime(new_date) ) {
									isValid = false;
								}
							} catch(err) {
								isValid = false;
							}
						} else {
							try {
								var previous_date = moment(this.estimatedDates[i].exp_date);
								var new_date = moment(moment(this.multipleQuickReportForm.exp_date[i]).format('YYYY-MM-DD'));

								if( (previous_date > new_date) || !this.checkIfValidDate(new_date) || !this.checkIfMax100Years(new_date) || !this.checkIfFutureDateTime(new_date) ) {
									isValid = false;
								}
							} catch(err) {
								isValid = false;
							}
						}
					}

					if(isValid){
						expDate = this.multipleQuickReportForm.exp_date;
						estimatedDate = this.$refs.estimated_date;
						userId = this.$refs.user_id;
					} else {
						toastr.error("Failed to save. Please check your date inputs");
					}
				}

        		if(this.multipleQuickReportForm.actionId == null) {

        			toastr.error('Please select action.', distinctClientService);
					isValid = false;

        		} else if(this.multipleQuickReportForm.actionId == 1) {

        			var filed_date = this.$refs.filed_date.value;

					if(this.multipleQuickReportForm.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else if(filed_date == '' || filed_date == null) {
						toastr.error( (this.translation) ? this.translation['please-fill-up-estimated-releasing-date'] : 'Please fill up estimated releasing date.', distinctClientService);
						isValid = false;
					} else {
						actionId = this.multipleQuickReportForm.actionId;
						categoryId = this.multipleQuickReportForm.categoryId;
						date1 = this.getCurrentDate();
						date2 = filed_date;
						if(this.multipleQuickReportForm.categoryId == 6 || this.multipleQuickReportForm.categoryId == 7 || this.multipleQuickReportForm.categoryId == 10 || this.multipleQuickReportForm.categoryId == 14 || this.multipleQuickReportForm.categoryId == 15) {
							date3 = this.$refs.filed_datetime.value;
						}
						var temp = [];
						var errorMessage = '';
						this.multipleQuickReportForm.dateTimeArray.forEach((d, index) => {
							if(d.value != '') {
								if( !this.checkIfValidDateTime(d.value) ) {
									isValid = false;
									errorMessage = 'Invalid format in scheduled hearing date and time.';
								} else if( !this.checkIfTodayAndFutureDateTime(d.value) ) {
									isValid = false;
									errorMessage = 'Scheduled hearing date and time must be today or in the future.';
								} else if( !this.estimatedReleasingDateLaterThanScheduledHearingDate(date2, d.value) ) {
									isValid = false;
									errorMessage = 'Estimated releasing date must be later than scheduled hearing date.'
								} else if( !this.checkIfDuplicateScheduledHearingDate(this.multipleQuickReportForm.dateTimeArray, d.value, index) ) {
									isValid = false;
									errorMessage = 'Duplicate scheduled hearing date is not allowed.';
								} else {
									temp.push(d.value); 
								}
							}
						});

						if( isValid == false ) {
							toastr.error(errorMessage, distinctClientService);
						} else {
							dateTimeArray = temp;
						}
					}

        		} else if(this.multipleQuickReportForm.actionId == 2) {

        			if(this.multipleQuickReportForm.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else {
						actionId = this.multipleQuickReportForm.actionId;
						categoryId = this.multipleQuickReportForm.categoryId;

						// Outcome Documents //
							var _outcomeDocuments = [];

							if( !$("#show-outcome-optional-documents-section").hasClass('hidden') ) {
								this.clientsoutcomeoptionaldocuments.forEach(cood => {
									var _clientServiceId = $('input[name^="outcomeDocumentsClientServiceId1-'+this.index+'-'+cood.id+'"]').val();

									var _documents = [];
									$('input[name^="tempOutcomeDocuments-'+this.index+'-'+cood.id+'"]:checked:visible:not(:disabled)').each( function(e) {
										_documents.push(this.value);
						 			});
									
									_outcomeDocuments.push({
										'client_service_id' : _clientServiceId,
										'documents' : _documents
									});
								});
							}

							if( !$("#show-outcome-documents-section").hasClass('hidden') ) {
								this.clientsoutcomedocuments.forEach(cod => {
									var _clientServiceId = $('input[name^="outcomeDocumentsClientServiceId2-'+this.index+'-'+cod.id+'"]').val();

									var _documents = [];
									$('input[name^="tempOutcomeDocuments-'+this.index+'-'+cod.id+'"]:checked:visible:not(:disabled)').each( function(e) {
										_documents.push(this.value);
						 			});

						 			$('input[name^="tempOutcomeOptionalDocuments-'+this.index+'-'+cod.id+'"]:checked:visible:not(:disabled)').each( function(e) {
										_documents.push(this.value);
						 			});

									var value = $('input[name^="tempAdditionalOutcomeDocuments-'+this.index+'-'+cod.id+'"]:checked:visible:not(:disabled)').val();
									if(value != 0 && value != undefined) {
										_documents.push(value);
									}

									var value = $('input[name^="tempAdditionalOutcomeDocuments2-'+this.index+'-'+cod.id+'"]:checked:visible:not(:disabled)').val();
									if(value != 0 && value != undefined) {
										_documents.push(value);
									}


									// // 9A Visa Extensions
									// if(this.serviceparentid == 63) {
									// 	var value = $('input[name^="tempAdditionalOutcomeDocuments-'+this.index+'-'+cod.id+'"]:checked:visible').val();

									// 	if(value != '' && value != null && value != undefined) {
									// 		_documents.push(value);
									// 	}
									// }

									// // Downgrading
									// 	// 9G Working Visa Downgrading - Complete Documents
									// 	// 9G Working Visa Downgrading - Rush
									// 	// 9G Working Visa Downgrading - Incomplete Documents- Rush
									// if(this.serviceparentid == 114 && (this.serviceid == 121 || this.serviceid == 394 || 
									// 		this.serviceid == 423)) {
									// 	var value = $('input[name^="tempAdditionalOutcomeDocuments-'+this.index+'-'+cod.id+'"]:checked:visible').val();

									// 	if(value != '' && value != null && value != undefined) {
									// 		_documents.push(value);
									// 	}
									// }

									// // Blacklist
									// 	// Request BLO order
									// if(this.serviceparentid == 126 && this.serviceid == 334) {
									// 	var value = $('input[name^="tempAdditionalOutcomeDocuments-'+this.index+'-'+cod.id+'"]:checked:visible').val();

									// 	if(value != '' && value != null && value != undefined) {
									// 		_documents.push(value);
									// 	}
									// }

									// // Special Retiree Resident Visa (SRRV) Conversion -->
									// 	// SRRV Principal
									// if(this.serviceparentid == 217 && this.serviceid == 386) {
									// 	var value1 = $('input[name^="tempAdditionalOutcomeDocuments-'+this.index+'-'+cod.id+'-1'+'"]:checked:visible').val();

									// 	if(value1 != '' && value1 != null && value1 != undefined) {
									// 		_documents.push(value1);
									// 	}

									// 	var value2 = $('input[name^="tempAdditionalOutcomeDocuments-'+this.index+'-'+cod.id+'-2'+'"]:checked:visible').val();

									// 	if(value2 != '' && value2 != null && value2 != undefined) {
									// 		_documents.push(value2);
									// 	}
									// }

						 			_outcomeDocuments.push({
										'client_service_id' : _clientServiceId,
										'documents' : _documents
									});
								});
							}

							outcomeDocuments = _outcomeDocuments;

							// Downgrading
							// Cancellation of Working Visa
							// Released
							// DOLE
							// if(this.serviceparentid == 114 && this.serviceid == 403 && actionId == 2 && categoryId == 19) {
							// 	var temp = [];
							// 	outcomeDocuments.forEach(oD => {
							// 		temp.push(oD.documents[0]);
							// 	});

							// 	downgradingDocument = temp;
							// }

						// Outcome Optional Documents //
							// var outcomeOptionalDocuments = [];
							// this.clientsoutcomeoptionaldocuments.forEach(cood => {
							// 	var value = $('input[name^="tempOutcomeOptionalDocuments-'+this.index+'-'+cood.id+'"]:checked:visible').val();

							// 	if(value != '' && value != null && value != undefined) {
							// 		outcomeOptionalDocuments.push(value);
							// 	}
							// });

							// 9G Working Visa Conversion
							// if(this.serviceparentid == 70) {
							// 	nineGDocument = outcomeOptionalDocuments;
							// }
							// Downgrading
							// CEZA Working Visa Downgrading
							// CEZA Working Visa Downgrading - Incomplete Documents- Rush
							// CEZA Working Visa Downgrading - Complete Documents- Rush
							// if(this.serviceparentid == 114 && (this.serviceid == 307 || this.serviceid == 415 || 
							// 			this.serviceid == 416)) {
							// 	downgradingDocument = outcomeOptionalDocuments;
							// }
					}

					if(this.multipleQuickReportForm.categoryId == 18 && this.ifninea && this.estimatedDates.length > 0 && this.multipleQuickReportForm.exp_date.length == 0) {
						toastr.error("Extended until when cannot be empty");
						isValid = false;
					}

        		} else if(this.multipleQuickReportForm.actionId == 3) {

        			if(this.multipleQuickReportForm.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else {
						actionId = this.multipleQuickReportForm.actionId;
						categoryId = this.multipleQuickReportForm.categoryId;
						date1 = this.getCurrentDate();
					}

        		} else if(this.multipleQuickReportForm.actionId == 4) {

        			var docs = [];
	        		$('#chosen-' + this.index +' option:selected').each( function(e) {
				        docs.push($(this).val());
				    });

					if(docs.length == 0) {
						toastr.error( (this.translation) ? this.translation['please-select-documents'] : 'Please select documents.', distinctClientService);
						isValid = false;
					} else {
						$('#chosen-' + this.index).val('').trigger('chosen:updated');

						actionId = this.multipleQuickReportForm.actionId;
						date1 = this.getCurrentDate();
						extraDetails = docs;
					}

        		} else if(this.multipleQuickReportForm.actionId == 6) {

        			var deadline_of_submission_date = this.$refs.deadline_of_submission_date.value;

					if(deadline_of_submission_date == '' || deadline_of_submission_date == null) {
						toastr.error( (this.translation) ? this.translation['please-fill-up-submission-date'] : 'Please fill up submission date.', distinctClientService);
						isValid = false;
					} else {
						actionId = this.multipleQuickReportForm.actionId;
						extraDetails = this.multipleQuickReportForm.extraDetails;
						date1 = deadline_of_submission_date;
					}

        		} else if(this.multipleQuickReportForm.actionId == 7) {

        			var for_implementation_datetime = this.$refs.for_implementation_datetime.value;

					if(for_implementation_datetime == '' || for_implementation_datetime == null) {
						toastr.error( (this.translation) ? this.translation['please-fill-up-estimated-time-of-finishing-date'] : 'Please fill up estimated time of finishing date.', distinctClientService);
						isValid = false;
					} else {
						actionId = this.multipleQuickReportForm.actionId;
						date1 = this.getCurrentDate();
						date2 = for_implementation_datetime;
					}

        		} else if(this.multipleQuickReportForm.actionId == 8) {
        			
        			var unable_to_file_due_to_bad_weather_from_date = this.$refs.unable_to_file_due_to_bad_weather_from_date.value;
					var unable_to_file_due_to_bad_weather_to_date = this.$refs.unable_to_file_due_to_bad_weather_to_date.value;
					var unable_to_file_due_to_bad_weather_target_filing_date = this.$refs.unable_to_file_due_to_bad_weather_target_filing_date.value;

					if(this.multipleQuickReportForm.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else if( (unable_to_file_due_to_bad_weather_from_date == '' || unable_to_file_due_to_bad_weather_from_date == null) 
						|| (unable_to_file_due_to_bad_weather_to_date == '' || unable_to_file_due_to_bad_weather_to_date == null)
					) {
						toastr.error( (this.translation) ? this.translation['please-fill-up-affected-date'] : 'Please fill up affected date.', distinctClientService);
						isValid = false;
					} else {
						actionId = this.multipleQuickReportForm.actionId;
						categoryId = this.multipleQuickReportForm.categoryId;
						date1 = unable_to_file_due_to_bad_weather_from_date;
						date2 = unable_to_file_due_to_bad_weather_to_date;
						date3 = unable_to_file_due_to_bad_weather_target_filing_date;
					}

        		} else if(this.multipleQuickReportForm.actionId == 9) {
        			
        			if(this.customCategory) {
						var _categoryName = this.$refs.categoryName.value;

						if(_categoryName == '' || _categoryName == null) {
							toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
							isValid = false;
						} else {
							categoryId = 0;
							categoryName = _categoryName;
						}
					} else {
						categoryId = this.multipleQuickReportForm.categoryId;
					}

					var unable_to_finish_due_to_suspension_of_work_from_date = this.$refs.unable_to_finish_due_to_suspension_of_work_from_date.value;
					var unable_to_finish_due_to_suspension_of_work_to_date = this.$refs.unable_to_finish_due_to_suspension_of_work_to_date.value;

					if(this.multipleQuickReportForm.categoryId == null && !this.customCategory) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else if(
						(unable_to_finish_due_to_suspension_of_work_from_date == '' || unable_to_finish_due_to_suspension_of_work_from_date == null) 
						|| 
						(unable_to_finish_due_to_suspension_of_work_to_date == '' || unable_to_finish_due_to_suspension_of_work_to_date == null)
					) {
						toastr.error( (this.translation) ? this.translation['please-fill-up-date-range'] : 'Please fill up date range.', distinctClientService);
						isValid = false;
					} else {
						actionId = this.multipleQuickReportForm.actionId;
						date1 = unable_to_finish_due_to_suspension_of_work_from_date;
						date2 = unable_to_finish_due_to_suspension_of_work_to_date;
					}

        		} else if(this.multipleQuickReportForm.actionId == 10) {
        			
        			var extended_processing_period_date = this.$refs.extended_processing_period_date.value;

					if(this.multipleQuickReportForm.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else if(extended_processing_period_date == '' || extended_processing_period_date == null) {
						toastr.error( (this.translation) ? this.translation['please-fill-up-extended-period-for-processing'] : 'Please fill up extended period for processing.', distinctClientService);
						isValid = false;
					} else {
						actionId = this.multipleQuickReportForm.actionId;
						categoryId = this.multipleQuickReportForm.categoryId;
						date1 = extended_processing_period_date;
					}

        		} else if(this.multipleQuickReportForm.actionId == 11) {

        			var for_payment_date = this.$refs.for_payment_date.value;

					if(this.multipleQuickReportForm.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else if(for_payment_date == '' || for_payment_date == null) {
						toastr.error( (this.translation) ? this.translation['please-fill-up-estimated-releasing-date'] : 'Please fill up estimated releasing date.', distinctClientService);
						isValid = false;
					} else {
						actionId = this.multipleQuickReportForm.actionId;
						categoryId = this.multipleQuickReportForm.categoryId;
						date1 = this.getCurrentDate();
						date2 = for_payment_date;
					}

        		} else if(this.multipleQuickReportForm.actionId == 12) {
        			
        			var picked_up_documents_from_client_datetime = this.$refs.picked_up_documents_from_client_datetime.value;

					if(picked_up_documents_from_client_datetime == '' || picked_up_documents_from_client_datetime == null) {
						toastr.error( (this.translation) ? this.translation['please-fill-up-date-and-time-pick-up'] : 'Please fill up date and time pick up.', distinctClientService);
						isValid = false;
					} else {
						actionId = this.multipleQuickReportForm.actionId;
						date1 = picked_up_documents_from_client_datetime;
					}

        		} else if(this.multipleQuickReportForm.actionId == 13) {

        			var for_delivery_datetime = this.$refs.for_delivery_datetime.value;

					if(for_delivery_datetime == '' || for_delivery_datetime == null) {
						toastr.error( (this.translation) ? this.translation['please-fill-up-date-and-time-delivered'] : 'Please fill up date and time deliverd.', distinctClientService);
						isValid = false;
					} else {
						actionId = this.multipleQuickReportForm.actionId;
						date1 = for_delivery_datetime;
					}
        		
        		} else if(this.multipleQuickReportForm.actionId == 14) {
        			
					var delivered_company_courier = this.$refs.delivered_company_courier.value;
					var delivered_tracking_number = this.$refs.delivered_tracking_number.value;
					var delivered_datetime = this.$refs.delivered_datetime.value;

					if(this.multipleQuickReportForm.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else if(this.multipleQuickReportForm.categoryId == 128 && (delivered_company_courier == '' || delivered_company_courier == null)) {
						toastr.error( (this.translation) ? this.translation['please-select-company-courier'] : 'Please select company courier.', distinctClientService);
						isValid = false;
					} else if(this.multipleQuickReportForm.categoryId != 128 && (delivered_tracking_number == '' || delivered_tracking_number == null)) {
						toastr.error( (this.translation) ? this.translation['please-fill-up-tracking-number'] : 'Please fill up tracking number.', distinctClientService);
						isValid = false;
					} else if(delivered_datetime == '' || delivered_datetime == null) {
						toastr.error( (this.translation) ? this.translation['please-fill-up-date-and-time-delivered'] : 'Please fill up date and time delivered.', distinctClientService);
						isValid = false;
					} else {
						actionId = this.multipleQuickReportForm.actionId;
						categoryId = this.multipleQuickReportForm.categoryId;
						extraDetails = (this.multipleQuickReportForm.categoryId == 128) ? [delivered_company_courier] : [delivered_tracking_number];
						date1 = delivered_datetime;
					}

        		} else if(this.multipleQuickReportForm.actionId == 15) {

        			var for_processing_of_date = this.$refs.for_processing_of_date.value;

					if(this.multipleQuickReportForm.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else if(
						(for_processing_of_date == '' || for_processing_of_date == null) 
						&& 
						(this.multipleQuickReportForm.categoryId == 76 || this.multipleQuickReportForm.categoryId == 77 || this.multipleQuickReportForm.categoryId == 78 || this.multipleQuickReportForm.categoryId == 79 || this.multipleQuickReportForm.categoryId == 80 || this.multipleQuickReportForm.categoryId == 81 || this.multipleQuickReportForm.categoryId == 82 || this.multipleQuickReportForm.categoryId == 83
						) 
					) {
						toastr.error( (this.translation) ? this.translation['please-fill-up-estimated-releasing-date'] : 'Please fill up estimated releasing date.', distinctClientService);
						isValid = false;
					} else {
						actionId = this.multipleQuickReportForm.actionId;
						categoryId = this.multipleQuickReportForm.categoryId;
						date1 = this.getCurrentDate();
						date2 = for_processing_of_date;
					}

        		} else if(this.multipleQuickReportForm.actionId == 16) {

        			if(this.multipleQuickReportForm.categoryId == null) {
						toastr.error( (this.translation) ? this.translation['please-select-category'] : 'Please select category.', distinctClientService);
						isValid = false;
					} else {
						actionId = this.multipleQuickReportForm.actionId;
						categoryId = this.multipleQuickReportForm.categoryId;
						date1 = this.getCurrentDate();
					}

        		}

        		if(isValid) {
        			this.setMultipleQuickReportForm(actionId, categoryId, categoryName, extraDetails, expDate, estimatedDate, userId, date1, date2, date3, dateTimeArray, outcomeDocuments, nineGDocument, downgradingDocument);
        		}

        		return isValid;
        	}
	    },

		mounted() {
	        $('.datepicker').datepicker({
	            todayBtn: "linked",
	            keyboardNavigation: false,
	            forceParse: false,
	            calendarWeeks: true,
	            autoclose: true,
	            format: "mm/dd/yyyy",
	            startDate: new Date()
	        });

	        $('.datetimepicker, .datetimepickerarray').inputmask("datetime", {
		        mask: "y-2-1 h:s:s",
		        placeholder: "yyyy-mm-dd hh:mm:ss",
		        leapday: "-02-29",
		        separator: "-",
		        alias: "yyyy-mm-dd"
		    });

		    $('.chosen-select-for-docs').chosen({
				width: "100%",
				no_results_text: "No result/s found.",
				search_contains: true
			});
        },

		components: {
			VueTheMask
		}

	}

</script>

<style scoped>
	.outcome-documents-client-name {
		color:#1ab394;
		font-weight: bold;
		padding-left:5px;
	}
	table.documents-field-table tr {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
</style>