<template>
    <div>
        <!-- <loading :active.sync="isLoading" 
        :is-full-page="false"></loading>-->
        <div v-show="page_wizard==1 && !loading">
            <table class="table table-bordered table-striped table-hover dt-gservice" style="width: 100% !important;">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>{{ (translation) ? translation['service-name'] : 'Service Name' }}</th>
                        <th>{{ (translation) ? translation['latest-date'] : 'Latest Date' }}</th>
                        <th>{{ (translation) ? translation['total-service-cost'] : 'Total Service Cost' }}</th>
                    </tr>
                </thead>
            </table>
            <div class="form-group" v-show="nxt">
					<div class="col-sm-4 col-sm-offset-8">
						<button class="btn btn-primary pull-right" style="width:100px;margin-right:-18px" @click="$refs.wizards.nxtWizard('nxt')">{{ (translation) ? translation['next'] : 'Next' }}</button>
					</div>
			</div>
        </div>
        <wizard-component ref="wizards" :page_wizard="page_wizard" :selected_data="selectedData" :nxt="nxt">

        </wizard-component>
         <div v-show="loading" class="ibox">
            <div class="ibox-content">
                <div class="spiner-example">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import WizardComponent from '../../components/Visa/Wizards.vue'
// import Loading from 'vue-loading-overlay';
// import 'vue-loading-overlay/dist/vue-loading.css';
export default {

		props: ['translation','page_wizard','group_id','loading'],

		data() {
			return {
                nxt:false,

                selectedData: [],
                
                isLoading: false,
            }
        },
        methods:{
            createDatatableToggleByService(serv) {
			var groupId = this.group_id;
			var table;
			$('table.dt-gservice').DataTable().destroy();

			var vi = this;

			setTimeout(function() {

				var formatByService = function(d) {
					var div = $('<div/>')
				        .addClass( 'loading' )
				        .text( 'Loading...' );
				axiosAPIv1.post('/visa/group/' + groupId + '/service-by-detail',{
					service_id : d.service_id
				})
				.then(response => {
							if(!vi.$parent.service_editor){
								 table = '<table class="table table-bordered table-striped table-hover">'+
									'<thead>'+
										'<tr>'+
											'<th class="not-show">Editing</th>'+
											'<th>Package</th>'+
											'<th>Date Recorded</th>'+
											'<th>Details</th>'+
											'<th>Status</th>'+
											// '<th>Cost</th>'+
											'<th>Charge</th>'+
											// '<th>Additional Fee</th>'+
											'<th>Discount</th>'+
											//'<th class="text-center">Action</th>'+
									'</tr>'+
									'</thead>'+
									'<tbody>';
							}else{
								table = '<table class="table table-bordered table-striped table-hover">'+
									'<thead>'+
										'<tr>'+
											'<th class="showing">Editing</th>'+
											'<th>Package</th>'+
											'<th>Date Recorded</th>'+
											'<th>Details</th>'+
											'<th>Status</th>'+
											// '<th>Cost</th>'+
											'<th>Charge</th>'+
											// '<th>Additional Fee</th>'+
											'<th>Discount</th>'+
											//'<th class="text-center">Action</th>'+
									'</tr>'+
									'</thead>'+
									'<tbody>';
							}
		                        for(var a=0; a<(response.data).length; a++) {
		                        	// var className = (response.data.active == 0) ? 'strikethrough' : '';
		                        	// var visibility = (response.data.group_id == groupId) ? 'table-row' : 'none';

		                        	table += '<tr>';
		                        	table += '<td colspan="9" style="background-color: #d2d2d2; text-transform: capitalize"><b>'+response.data[a].first_name+' '+response.data[a].last_name+'</b></td>';
		                        	table += '</tr>';

		                        for(var i=0; i<(response.data[a].services).length; i++) {
		                        	var className = (response.data[a].services[i].active == 0) ? 'strikethrough' : '';
		                        	var visibility = (response.data[a].services[i].group_id == groupId) ? 'table-row' : 'none';
		                        	if(response.data[a].services[i].remarks) {
		                        		var remarks = response.data[a].services[i].remarks;
		                        		var details = '<a href="#" data-toggle="popover" data-placement="right" data-container="body" data-content="'+remarks+'" data-trigger="hover">'+response.data[a].services[i].detail+'</a>';
		                        	} else {
		                        		var details = response.data[a].services[i].detail;
		                        	}
		                        	if(response.data[a].services[i].discount2.length > 0) {
		                        		if(response.data[a].services[i].discount2[0].reason) {
		                        			var reason = response.data[a].services[i].discount2[0].reason;
		                        			var discount = '<a href="#" data-toggle="popover" data-placement="left" data-container="body" data-content="'+reason+'" data-trigger="hover">'+response.data[a].services[i].discount2[0].amount+'</a>';
		                        		} else {
		                        			var discount = response.data[a].services[i].discount2[0].amount;
		                        		}
		                        	} else {
		                        		var discount = '&nbsp;';
		                        	}
		                        	//var _action = '<a href="javascript:void(0)" class="edit-service-action" data-toggle="modal" data-target="#edit-service-modal" data-serviceclientid="'+response.data[a].services[i].client_id+'" data-serviceserviceid="'+response.data[a].services[i].service_id+'" data-serviceid="'+response.data[a].services[i].id+'"><i class="fa fa-pencil-square-o" data-serviceclientid="'+response.data[a].services[i].client_id+'" data-serviceserviceid="'+response.data[a].services[i].service_id+'" data-serviceid="'+response.data[a].services[i].id+'"></i></a>';
									if(!vi.$parent.service_editor){
										table += '<tr class="'+className+'" style="display:'+visibility+'">';
										table += '<td class="not-show"><input name="selectedServices[]" class="checkServices2" type="checkbox" data-serviceclientid="'+response.data[a].services[i].client_id+'" data-serviceserviceid="'+response.data[a].services[i].service_id+'" data-serviceid="'+response.data[a].services[i].id+'"></td>';
		                        		table += '<td>'+response.data[a].services[i].tracking+'</td>';
		                        		table += '<td>'+response.data[a].services[i].service_date+'</td>';
		                        		table += '<td>'+details+'</td>';
		                        		table += '<td>'+response.data[a].services[i].status+'</td>';
		                        		table += '<td>'+(parseFloat(response.data[a].services[i].charge) + parseFloat(response.data[a].services[i].cost) + parseFloat(response.data[a].services[i].tip) + (parseFloat(response.data[a].services[i].com_client) ? parseFloat(response.data[a].services[i].com_client):0)+ (parseFloat(response.data[a].services[i].com_agent) ? parseFloat(response.data[a].services[i].com_agent):0)).toFixed(2)+'</td>';
		                        		// table += '<td>'+response.data[a].services[i].charge+'</td>';
		                        		// table += '<td>'+response.data[a].services[i].tip+'</td>';
		                        		table += '<td>'+discount+'</td>';
		                        		//table += '<td class="text-center">'+_action+'</td>';
		                        	table += '</tr>';
									}else{
										table += '<tr class="'+className+'" style="display:'+visibility+'">';
										table += '<td class="showing"><input name="selectedServices[]" class="checkServices2" type="checkbox" data-serviceclientid="'+response.data[a].services[i].client_id+'" data-serviceserviceid="'+response.data[a].services[i].service_id+'" data-serviceid="'+response.data[a].services[i].id+'"></td>';
		                        		table += '<td>'+response.data[a].services[i].tracking+'</td>';
		                        		table += '<td>'+response.data[a].services[i].service_date+'</td>';
		                        		table += '<td>'+details+'</td>';
		                        		table += '<td>'+response.data[a].services[i].status+'</td>';
		                        		table += '<td>'+(parseFloat(response.data[a].services[i].charge) + parseFloat(response.data[a].services[i].cost) + parseFloat(response.data[a].services[i].tip) + (parseFloat(response.data[a].services[i].com_client) ? parseFloat(response.data[a].services[i].com_client):0)+ (parseFloat(response.data[a].services[i].com_agent) ? parseFloat(response.data[a].services[i].com_agent):0)).toFixed(2)+'</td>';
		                        		// table += '<td>'+response.data[a].services[i].charge+'</td>';
		                        		// table += '<td>'+response.data[a].services[i].tip+'</td>';
		                        		table += '<td>'+discount+'</td>';
		                        		//table += '<td class="text-center">'+_action+'</td>';
		                        	table += '</tr>';
									}
									

		                        }
		                    }
						table += '</tbody></table>';
						
							$('body').on('click', '.checkServices2', function (e) {
                                let client_service_id = e.target.getAttribute('data-serviceid');
                                if($('[name="selectedServices[]"]:checked').length > 0){
                                    if(e.target.checked){
                                
                                        axios.get('/visa/group/member/services/'+e.target.getAttribute('data-serviceid'))
                                                .then((response) => { 
                                                        vi.selectedData.push(response.data[0]);
                                        });

                                    }else{
                                    
                                        vi.selectedData = $.grep(vi.selectedData, function(e){ 
                                            return e.id != client_service_id; 
                                        });
                                        
                                    }
                                    
                                               // console.log(vi.selectedData);
                                    vi.nxt = true;
                                }else{
                                    vi.selectedData = [];
                                    vi.nxt = false;
                                }
                                
                            });

		            //return table;

					div.html( table ).removeClass( 'loading' );
				})
				.catch(error => console.log(error));
				 
				    return div;

				};
				
				var table2 = $('table.dt-gservice').DataTable( {
			        "data": serv,
			        "columns": [
			            {
			            	"width": "5%",
			                "className":      'service-control text-center',
			                "orderable":      false,
			                "data":           null,
			                "defaultContent": '<i class="fa fa-arrow-right" style="cursor:pointer;"></i>'
			            },
			            { 
			            	"width": "30%",
			            	data: null, render: function(serv, type, row) {
				                return '<b style="color: #1ab394;">' + serv.detail + '</b>'
				            }
				        },
				        {
			            	"width": "15%",
				        	data: null, render: function(serv, type, row) {
				        		return '<b>'+moment(String(serv.service_date)).format("MMMM D,YYYY")+ '</b>'
				        	}
				        },
				        {
			            	"width": "15%",
				        	data: null, render: function(serv, type, row, meta) {
				        		return '<b>'+serv.totalcost+ '</b>'
				        	}
				        },
			        ]
			    });

				$('body').off('click', 'table.dt-gservice tbody td.service-control');
			    $('body').on('click', 'table.dt-gservice tbody td.service-control', function (e) {
					var tr2 = $(this).closest('tr');
					var row = table2.row( tr2 );
						 
					if(row.child.isShown()) {
                        row.child.hide();
                        tr2.find('.fa-arrow-down').removeClass('fa-arrow-down').addClass('fa-arrow-right');
						tr2.removeClass('shown');
					} else {
                        tr2.find('.fa-arrow-right').removeClass('fa-arrow-right').addClass('fa-arrow-down');
						row.child( formatByService(row.data()) ).show();
						tr2.addClass('shown');
					}
				});

				$('body').on('click', 'table.dt-gservice tbody .edit-service-action', function (e) {
					let serviceClientId = e.target.getAttribute('data-serviceclientid');
					let serviceServiceid = e.target.getAttribute('data-serviceserviceid');
					let serviceId = e.target.getAttribute('data-serviceid');

					this.$refs.editserviceref.init(serviceClientId, serviceServiceid, serviceId)
				}.bind(this));

			}.bind(this), 1000);

		    },
        },
        components: {WizardComponent},
        created(){
            //this.$parent.fetchGServices();
        }
}
</script>
<style>
.not-show{
  display:none !important;
}
.showing{
  display:block !important;
  text-align: center;
}

</style>