<template>

	<div>

		<div v-show="screen == 1">
			<div class="row">
				<div class="col-md-6">
					<button type="button" class="btn btn-primary btn-block" 
						@click="getDetails('client-to-group', 2)">
						{{ (translation) ? translation['client-to-group'] : 'Client to Group' }}
					</button>
				</div>
				<div class="col-md-6">
					<button type="button" class="btn btn-info btn-block" 
						@click="getDetails('group-to-client', 2)">
						{{ (translation) ? translation['group-to-client'] : 'Group to Client' }}
					</button>
				</div>
			</div>
		</div>

		<div v-show="screen == 2">
			<form class="form-horizontal" @submit.prevent="transfer">
				
				<div class="table-responsive">
	                <table class="table table-striped table-bordered table-hover transfer-datatable">
	                    <thead>
		                    <tr>
		                        <th class="text-center">
		                        	<input type="checkbox" @click="toggleAllCheckbox">
		                        </th>
		                        <th>{{ (translation) ? translation['detail'] : 'Detail' }}</th>
		                        <th>{{ (translation) ? translation['status'] : 'Status' }}</th>
		                        <th>{{ (translation) ? translation['tracking'] : 'Tracking' }}</th>
		                        <th>{{ (translation) ? translation['packages'] : 'Packages' }}</th>
		                    </tr>
	                    </thead>
	                    <tbody>
	                    	<tr v-for="service in services">
	                    		<td class="text-center">
	                    			<input type="checkbox" :value="service.id" v-model="transferForm.services">
	                    		</td>
	                    		<td>{{ service.detail }}</td>
	                    		<td>{{ service.status }}</td>
	                    		<td>{{ service.tracking }}</td>
	                    		<td>
	                    			<select class="form-control" :class="'transfer-package-select-' + service.id" 
	                    			>
	                    				<option value="Generate new package">
	                    					{{ (translation) ? translation['generate-new-package'] : 'Generate new package' }}
	                    				</option>
	                    				<option v-for="package in packages" :value="package.tracking" >
	                    					{{ (translation) ? translation['package-no'] : 'Package #' }}
	                    					{{package.tracking}}
	                    					({{ package.log_date | commonDate }})
	                    				</option>
	                    			</select>
	                    		</td>
	                    	</tr>
	                    </tbody>
	                </table>
	            </div>

				<button type="submit" class="btn btn-primary pull-right">
					{{ (translation) ? translation['complete-transfer'] : 'Complete Transfer' }}
				</button>
		    	<button type="button" class="btn btn-default pull-right m-r-10" @click="setScreen(1)">
		    		{{ (translation) ? translation['back'] : 'Back' }}
		    	</button>
		    </form>
		</div>

	</div>

</template>

<script>

    export default {

    	props: ['groupid'],

    	data() {
    		return {
    			translation: null,

    			screen: null,

    			services: [],
    			packages: [],

    			transferForm: new Form({
    				groupId: '',
    				memberId: '',
					services: [],
					packages:[],
					option: ''
				}, { baseURL: axiosAPIv1.defaults.baseURL })
    		}
    	},

    	methods: {

    		getTranslation() {
        		axios.get('/visa/group/translation/transfer')
			        .then(response => {
			        	this.translation = response.data.translation;
			        });
			},

    		setScreen(screen) {
    			this.screen = screen;
    		},

    		setMemberId(id) {
    			this.transferForm.memberId = id;

    			this.setScreen(1);
    		},

    		getDetails(option, screen) {
    			// option = client-to-group | group-to-client
    			this.transferForm.option = option;

    			var vm = this;

				function getServices() {
	                return axios.get('/visa/client/'+ vm.transferForm.memberId +'/services', {
    					params: {
    						option: option,
    						groupId: vm.groupid
    					}
    				});
	            }
	            function getPackages() {
	                // axios
	                return axios.get('/visa/client/'+ vm.transferForm.memberId +'/packages', {
    					params: {
    						option: option,
    						groupId: vm.groupid
    					}
    				});
	            }

	            axios.all([
	                getServices(),
	                getPackages()
	            ]).then(axios.spread(
	                (
	                services,
	                packages
	                ) => {
	                    
	                this.services = services.data;
	                this.packages = packages.data;
	            }))
	            .catch(error => console.log(error));

    			this.setScreen(screen);
    		},

    		callDataTable() {
				$('.transfer-datatable').DataTable().destroy();

				setTimeout(function() {
					$('.transfer-datatable').DataTable({
			            pageLength: 10,
			            responsive: true,
			            dom: '<"top"lf>rt<"bottom"ip><"clear">'
			        });
				}, 1000);
			},

			toggleAllCheckbox(e) {
				if(e.target.checked == true) {
					this.transferForm.services = [];
					this.services.forEach((s, index) => {
						this.transferForm.services.push(s.id);
					});
				} else {
					this.transferForm.services = [];
				}
			},

			resetTransferForm() {
				this.services = [];
				this.packages = [];
				this.transferForm.services = [];
        		this.transferForm.packages = [];
			},

    		transfer() {
    			if(this.transferForm.services.length == 0) {
        			toastr.error( (this.translation) ? this.translation['please-select-at-least-one-service'] : 'Please select at least one service' );
					return false;
        		} else {

        			this.transferForm.packages = [];

        			this.transferForm.services.forEach((s, index) => {
		        		let value = $('select.transfer-package-select-' + s).val();
		        			
		        		this.transferForm.packages.push(value);
		       		});

	    			this.transferForm.submit('patch', '/visa/client/' + this.groupid + '/transfer')
		            .then(response => {
		                if(response.success) {
		                	this.$parent.$parent.fetchDetails();
		                	this.$parent.$parent.fetchMembers();

		                	this.$parent.$parent.$refs.groupmembers.$refs.wizards.resetLoadedData();
                			this.$parent.$parent.getGroupMembers();

		                	this.$parent.$parent.$refs.addnewserviceref.fetchGroupPackagesServicesList();

		                	this.resetTransferForm();

		                	$('#transfer-modal').modal('hide');

		                	toastr.success(response.message);
		                }
		            })
		            .catch(error => console.log(error));

        		}
    		}

    	},

    	created() {
    		if(window.Laravel.language == 'cn'){
    			this.getTranslation();
    		}

    		this.transferForm.groupId = this.groupid;
    	}

    }

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>