<template>
	
	<form class="form-horizontal" @submit.prevent="updateReportType">

		<div class="form-group" :class="{ 'has-error': updateReportTypeForm.errors.hasOwnProperty('title') }">
		    <label class="col-md-2 control-label">
		        Title:
	        </label>
		    <div class="col-md-10">
		    	<input type="text" class="form-control" name="title" v-model="updateReportTypeForm.title">
		    	<p class="help-block" v-if="updateReportTypeForm.errors.hasOwnProperty('title')" v-text="updateReportTypeForm.errors.title[0]"></p>
		    </div>
		</div>

		<div class="form-group" :class="{ 'has-error': updateReportTypeForm.errors.hasOwnProperty('title_cn') }">
		    <label class="col-md-2 control-label">
		        Title CN:
	        </label>
		    <div class="col-md-10">
		    	<input type="text" class="form-control" name="title_cn" v-model="updateReportTypeForm.title_cn">
		    	<p class="help-block" v-if="updateReportTypeForm.errors.hasOwnProperty('title_cn')" v-text="updateReportTypeForm.errors.title_cn[0]"></p>
		    </div>
		</div>

		<div class="form-group" :class="{ 'has-error': updateReportTypeForm.errors.hasOwnProperty('description') }">
		    <label class="col-md-2 control-label">
		        Description:
	        </label>
		    <div class="col-md-10">
		    	<input type="text" class="form-control" name="description" v-model="updateReportTypeForm.description">
		    	<p class="help-block" v-if="updateReportTypeForm.errors.hasOwnProperty('description')" v-text="updateReportTypeForm.errors.description[0]"></p>
		    </div>
		</div>

		<div class="form-group" :class="{ 'has-error': updateReportTypeForm.errors.hasOwnProperty('services_id') }">
		    <label class="col-md-2 control-label">
		        Services:
	        </label>
		    <div class="col-md-10">
		    	<select data-placeholder="Select Service" class="chosen-select-for-services" multiple style="width:350px;" tabindex="4">
		            <option v-for="service in services" :value="service.id">
		                {{ (service.detail).trim() }}
		            </option>
		        </select>
		        <p class="help-block" v-if="updateReportTypeForm.errors.hasOwnProperty('services_id')" v-text="updateReportTypeForm.errors.services_id[0]"></p>
		    </div>
		</div>

		<div class="form-group">
		    <label class="col-md-2 control-label">
		        With Docs:
	        </label>
		    <div class="col-md-10">
		    	<input type="checkbox" name="with_docs" v-model="updateReportTypeForm.with_docs">
		    </div>
		</div>

		<button type="submit" class="btn btn-primary pull-right">Update</button>
	    <button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">Close</button>

	</form>

</template>

<script>
	
	export default {

		props: ['reporttypeid'],

		data() {
    		return {
    			services: [],

    			updateReportTypeForm: {
					title: '',
					title_cn: '',
					description: '',
					services_id: [],
					with_docs: false,
					errors: ''
				}
    		}
    	},

    	methods: {

    		updateReportType() {
				axios.patch('/visa/notification/report-type/' + this.reporttypeid, {
						title: this.updateReportTypeForm.title,
						title_cn: this.updateReportTypeForm.title_cn,
						description: this.updateReportTypeForm.description,
						services_id: this.updateReportTypeForm.services_id,
						with_docs: this.updateReportTypeForm.with_docs
					})
					.then(response => {
						if(response.data.success) {
							this.clearUpdateReportTypeForm();

		                	this.$parent.$parent.loadReportTypes();

		                	$('#update-report-type-modal').modal('hide');

		                	toastr.success(response.data.message);
		                }
					})
					.catch(error => this.updateReportTypeForm.errors = error.response.data);
			},

    		clearUpdateReportTypeForm() {
				this.updateReportTypeForm = {
					title: '',
					title_cn: '',
					description: '',
					services_id: [],
					with_docs: false,
					errors: ''
				}

				// Deselect All
				$('.chosen-select-for-services').val('').trigger('chosen:updated');
			},

    		loadServices() {
				axios.get('/visa/notification/services')
					.then(response => {
						this.services = response.data;

						setTimeout(() => {
							$(".chosen-select-for-services").trigger("chosen:updated");
						}, 500);
					})
					.catch(error => console.log(error));
			},

			updateChosen(servicesId) {
				setTimeout(() => {
					$(".chosen-select-for-services").val(servicesId).trigger("chosen:updated");
				}, 500);
			},

			initChosenSelect() {
	        	$('.chosen-select-for-services').chosen({
					width: "100%",
					no_results_text: "No result/s found.",
					search_contains: true
				});

	        	var vm = this;

				$('.chosen-select-for-services').on('change', function() {
					vm.updateReportTypeForm.services_id = $(this).val();
				});
	        }

    	},

    	created() {
			this.loadServices();
		},

		mounted() {
        	this.initChosenSelect();
    	}

	}

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>