<template>
	
	<form class="form-horizontal" @submit.prevent="updateDocument">

		<div class="form-group" :class="{ 'has-error': updateDocumentForm.errors.hasOwnProperty('title') }">
		    <label class="col-md-2 control-label">
		        Title:
	        </label>
		    <div class="col-md-10">
		    	<input type="text" class="form-control" name="title" v-model="updateDocumentForm.title">
		    	<p class="help-block" v-if="updateDocumentForm.errors.hasOwnProperty('title')" v-text="updateDocumentForm.errors.title[0]"></p>
		    </div>
		</div>

		<div class="form-group" :class="{ 'has-error': updateDocumentForm.errors.hasOwnProperty('title_cn') }">
		    <label class="col-md-2 control-label">
		        Title CN:
	        </label>
		    <div class="col-md-10">
		    	<input type="text" class="form-control" name="title_cn" v-model="updateDocumentForm.title_cn">
		    	<p class="help-block" v-if="updateDocumentForm.errors.hasOwnProperty('title_cn')" v-text="updateDocumentForm.errors.title_cn[0]"></p>
		    </div>
		</div>

		<hr>

			<button type="button" class="btn pull-left" @click="addDocumentType">
				<i class="fa fa-plus"></i> Add Document Type
			</button>

		<div style="height:20px; clear:both;"></div>

			<div v-for="(doc_type, index) in updateDocumentForm.doc_types">

				<input type="hidden" v-model="doc_type.id">

				<div class="form-group" :class="{ 'has-error': updateDocumentForm.errors.hasOwnProperty('doc_types.'+index+'.title') }">
					<div class="col-md-2">
				    	<button type="button" class="btn btn-danger pull-right" @click="removeDocumentType(index)">
				    		<i class="fa fa-times"></i>
				    	</button>
				    </div>
					<label class="col-md-2 control-label">
				        Name:
			        </label>
			        <div class="col-md-8">
				    	<input type="text" class="form-control" v-model="doc_type.title">
				    	<p class="help-block" v-if="updateDocumentForm.errors.hasOwnProperty('doc_types.'+index+'.title')">The name field is required.</p>
				    </div>
			    </div>

			    <div class="form-group" :class="{ 'has-error': updateDocumentForm.errors.hasOwnProperty('doc_types.'+index+'.title_cn') }">
			    	<div class="col-md-2">&nbsp;</div>
					<label class="col-md-2 control-label">
				        Name CN:
			        </label>
			        <div class="col-md-8">
				    	<input type="text" class="form-control" v-model="doc_type.title_cn">
				    	<p class="help-block" v-if="updateDocumentForm.errors.hasOwnProperty('doc_types.'+index+'.title_cn')">The name cn field is required.</p>
				    </div>
			    </div>
			</div>

		<div style="height:20px; clear:both;"></div>

		<button type="submit" class="btn btn-primary pull-right">Update</button>
	    <button type="button" class="btn btn-default pull-right m-r-10" data-dismiss="modal">Close</button>

	</form>

</template>

<script>
	
	export default {

		props: ['documentid'],

		data() {
    		return {
    			updateDocumentForm: {
					title: '',
					title_cn: '',
					doc_types: [],
					errors: ''
				}
    		}
    	},

    	methods: {

    		addDocumentType() {
				this.updateDocumentForm.doc_types.push({ id: '', title: '', title_cn: '' });
			},

			removeDocumentType(index) {
				this.updateDocumentForm.doc_types.splice(index, 1);
			},

    		updateDocument() {
				axios.patch('/visa/notification/doc/' + this.documentid, {
						title: this.updateDocumentForm.title,
						title_cn: this.updateDocumentForm.title_cn,
						doc_types: this.updateDocumentForm.doc_types
					})
					.then(response => {
						if(response.data.success) {
							this.clearUpdateDocumentForm();

		                	this.$parent.$parent.loadDocs();

		                	$('#update-document-modal').modal('hide');

		                	toastr.success(response.data.message);
		                }
					})
					.catch(error => this.updateDocumentForm.errors = error.response.data);
			},

    		clearUpdateDocumentForm() {
				this.updateDocumentForm = {
					title: '',
					title_cn: '',
					doc_types: [],
					errors: ''
				}
			},

    	}

	}

</script>

<style scoped>
	form {
		margin-bottom: 30px;
	}
	.m-r-10 {
		margin-right: 10px;
	}
</style>