<template>
    <div  v-show="page_wizard==2">
		 <div class="row">
					<div class="col-md-6">
						<div class="form-group" :class="{ 'has-error': editServiceForm.errors.has('additional_charge') }">
						    <label for="additonal_charge">{{ (translation) ? translation['extra-cost'] : 'Extra Cost' }}</label>
						    <input type="text" class="form-control" id="additional_charge" name="additional_charge" v-model="tipValue" :disabled="tipStatus == 1">
						 	  <span class="help-block" v-if="editServiceForm.errors.has('additional_charge')" v-text="editServiceForm.errors.get('additional_charge')"></span>
						</div>

						<div class="form-group" :class="{ 'has-error': editServiceForm.errors.has('cost') }">
						    <label for="cost">{{ (translation) ? translation['cost'] : 'Cost' }}</label>
						    <input type="text" class="form-control" id="cost" name="cost" v-model="costValue" :disabled="costStatus == 1">
						  	<span class="help-block" v-if="editServiceForm.errors.has('cost')" v-text="editServiceForm.errors.get('cost')"></span>
						</div>

						<div class="form-group" :class="{ 'has-error': editServiceForm.errors.has('charge') }">
						    <label for="cost">{{ (translation) ? translation['charge'] : 'Charge' }}</label>
						    <input type="text" class="form-control" id="charge" name="charge" v-model="chargeValue" disabled>
						   	<span class="help-block" v-if="editServiceForm.errors.has('charge')" v-text="editServiceForm.errors.get('charge')"></span>
						</div>

						<div class="form-group" :class="{ 'has-error': editServiceForm.errors.has('discount') }">
						    <label for="cost">{{ (translation) ? translation['discount'] : 'Discount' }}</label>
						    <input type="text" class="form-control" id="discount" name="discount" v-model="discountValue" :disabled="discountStatus == 1">
						    <span class="help-block" v-if="editServiceForm.errors.has('discount')" v-text="editServiceForm.errors.get('discount')"></span>
						</div>

					</div>

					<div class="col-md-6">
						<div class="form-group">
						    <label for="status">{{ (translation) ? translation['status'] : 'Status' }}</label>
						    <select class="form-control" id="status" name="status" v-model="statusValue" :disabled="statusStatus == 1">
						    	<option value="complete">
						    		{{ (translation) ? translation['complete'] : 'Complete' }}
						    	</option>
						    	<option value="on process">
						    		{{ (translation) ? translation['on-process'] : 'On Process' }}
						    	</option>
						    	<option value="pending">
						    		{{ (translation) ? translation['pending'] : 'Pending' }}
						    	</option>
						    </select>
						</div>

						<div class="form-group">
						    <label for="note">{{ (translation) ? translation['note'] : 'Note' }}</label>
						    <textarea class="form-control notes" id="note" name="note" v-model="noteValue" placeholder="for internal use only, only employees can see."></textarea>
						</div>

						<div class="form-group" style="margin-top: 22px;">
						    <label for="active"></label>
						    <label class="radio-inline">
							  <input type="radio" id="active" name="active" value="1" v-model="activeValue" :disabled="activeStatus == 1"> {{ (translation) ? translation['enable'] : 'Enable' }}
							</label>
							<label class="radio-inline">
							  <input type="radio" id="active" name="active" value="0" v-model="activeValue" :disabled="activeStatus == 1"> {{ (translation) ? translation['disable'] : 'Disable' }}
							</label>
						</div>

						<div class="form-group"  style="margin-top: 25px;" :class="{ 'has-error': editServiceForm.errors.has('reason') }" v-show="discountValue!='' && discountValue!=null" >
						    <label for="cost">{{ (translation) ? translation['reason'] : 'Reason' }}</label>
						    <input type="text" class="form-control" id="reason" name="reason" v-model="reasonValue" :disabled="discountStatus == 1">
						    <span class="help-block" v-if="editServiceForm.errors.has('reason')" v-text="editServiceForm.errors.get('reason')"></span>
						</div>
					</div>

					<div class="form-group">
					<div class="col-sm-4 col-sm-offset-8">
						<!--<button class="btn btn-success pull-right" style="width:100px;margin-right:-18px;" @click="updateServices">Save</button>-->
                        <button v-if="!loading" style="width:100px;margin-right:-18px;" class="btn btn-success pull-right" @click="updateServices">{{ (translation) ? translation['save'] : 'Save' }}</button>
                        <button v-if="loading"  style="width:100px;margin-right:-18px;" type="button" class="btn btn-default pull-right">
                            <div class="sk-spinner sk-spinner-wave" style="width:40px; height:20px;">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                        </button>
						<button class="btn btn-primary pull-right" style="width:100px;margin-right:-18px;margin-right:8px" @click="nxtWizard('prv')">{{ (translation) ? translation['back'] : 'Back' }}</button>						
					</div>
			</div>
				</div>
	 </div>
</template>

<script>

    export default {

		props: ['page_wizard','nxt','selected_data'],

		data() {
			return {
                loading:false,
                translation: null,
                editServiceForm: new Form({
    				clientServicesId: [],
    				serviceId: 0,
    				additional_charge: null,
    				cost: null,
    				//charge: null,
    				discount: null,
    				reason: null,
    				status: null,
    				note: null,
    				active: null
                }, { baseURL: axiosAPIv1.defaults.baseURL }),
                tipStatus:0,
				tipValue:null,
				chargeStatus:0,
				chargeValue:null,
				com_client:null,
				com_agent:null,
				costStatus:0,
				costValue:null,
				statusStatus:0,
				statusValue:null,
				activeValue:null,
				activeStatus:0,
				discountValue:null,
				discountStatus:0,
				reasonValue:null,
                noteValue:null,
                reasonStatus:0,
            }
        },
        methods:{
            resetEditServiceForm(){
					$('.showing').removeClass('showing').addClass('not-show');
					$('.showing').removeClass('showing').addClass('not-show');
					$('[name="selectedServices[]"]:checked').prop('checked', false);  
					this.$parent.nxt = false;
    				this.editServiceForm.clientServicesId=[];
    				this.editServiceForm.serviceId= 0;
    				this.editServiceForm.additional_charge=null;
    				this.editServiceForm.cost= null;
    				//this.editServiceForm.charge= null;
    				this.editServiceForm.discount= null;
    				this.editServiceForm.reason= null;
    				this.editServiceForm.status= null;
    				this.editServiceForm.note= null;
    				this.editServiceForm.active= null;
					$('.shown').closest("tr").next().remove();
					$('table tr').removeClass('shown');
					$('.fa-arrow-down').removeClass('fa-arrow-down').addClass('fa-arrow-right');
					this.$parent.selectedData = [];
					this.$parent.$parent.fetchDetails();
			},
			updateServices(){
				//this.editServiceForm.charge = this.chargeValue;
				this.editServiceForm.additional_charge = this.tipValue;
				this.editServiceForm.cost = this.costValue;
				this.editServiceForm.status = this.statusValue;
				this.editServiceForm.active = this.activeValue; 
				this.editServiceForm.discount =  this.discountValue;
				this.editServiceForm.reason =  this.reasonValue;
				this.editServiceForm.note =  this.noteValue;
				//console.log(this.editServiceForm);
				this.loading=true;
				this.editServiceForm.submit('patch', '/visa/group/' + window.location.pathname.split( '/' )[3]+ '/edit-services')
		        .then(response => {
		            if(response.success) {
						this.resetLoadedData();
						//this.getGroupMembers();
						this.$parent.$parent.page_wizard=1;
						this.$parent.$parent.service_editor=false;
						toastr.success(response.message);	
						
                        this.resetEditServiceForm();
						this.loading=false;
						this.$parent.$parent.fetchDetails();
                        // this.$parent.$parent.gServices=null;
                        // this.$parent.$parent.gBatch=null;
                        // //this.$parent.$parent.members=null;
                        // this.$parent.$parent.members2=null;
                        // this.$parent.$parent.fetchGBatch();
                        // this.$parent.$parent.fetchGServices();
                        // this.$parent.$parent.getGroupMembers();
                        //this.$parent.$parent.getGroupMembers();
						
		            }
		        })
		        .catch(error => console.log(error));
            },
            resetLoadedData() {
				this.loadedData = [];
			},
            nxtWizard(val){
				if(val==='nxt'){
                    this.$parent.$parent.page_wizard++;
                     this.editServiceForm.errors.errors={};
                    //console.log(this.editServiceForm);
				}else{
					this.$parent.$parent.page_wizard--;
					this.discountValue = '';
					this.reasonValue='';
                    this.noteValue='';
                    //console.log(this.editServiceForm);
                
				}
				
            },
           
            getTranslation() {
        		axios.get('/visa/group/translation/group-members')
			        .then(response => {
			        	this.translation = response.data.translation;
			        });
			},
        },
        
        watch: {
			
			service_editor: function () {
				//this.loadedData = [];
				this.$parent.$parent.checkboxesStatus();
				
				//console.log(this.service_editor);
            },
            
			selected_data: function(){
                let vm = this;
                var c ,d = 0;
				vm.chargeStatus = 0;
				vm.chargeValue = null;
				vm.tipStatus = 0;
				vm.tipValue = null;
				vm.costStatus = 0;
				vm.costValue = null;
				vm.statusStatus = 0;
				vm.statusValue = null;
				vm.activeStatus = 0;
				vm.activeValue = null;
				vm.discountStatus = 0;
				vm.discountValue = null;
				vm.reasonValue = null;
                vm.reasonStatus=0;
					vm.editServiceForm.clientServicesId=[];
					//vm.editServiceForm.charge=null;
					vm.editServiceForm.additional_charge=null;
					vm.editServiceForm.cost=null;
					vm.editServiceForm.status=null;
					vm.editServiceForm.active=null;
					vm.editServiceForm.discount=null;
				
                
				var counter = 0;
                var looper=0;
               
				$.each(vm.selected_data, function( key, value ) {
                    //vm.chargeValue = null;
					$.each(value, function( key, value ) {
						switch(key){
							case 'id':
									vm.editServiceForm.clientServicesId.push(value);
							break;

                            case 'com_client':
                                    vm.chargeValue += ($.isNumeric(value)  ? parseFloat(value) : 0);
                                   
							break;

                            case 'com_agent':
                                   vm.chargeValue +=  ($.isNumeric(value)  ? parseFloat(value) : 0);
                                   
							break;
							// case 'service_id':
							// 		vm.updatingData.service_id.push(value);
							// break;
							case 'charge':
								
								if(vm.chargeValue==null || vm.chargeValue == 0){
									vm.chargeValue = parseFloat(value);
								}else{
                                    
									if(vm.chargeValue!=parseFloat(value)){
										vm.chargeStatus = 1;
									}
								}
								// if(vm.chargeStatus>0){
								// 	vm.chargeValue = null;
        //                         }
								
							break;
							case 'tip':
								if(vm.tipValue==null){
									vm.tipValue = parseFloat(value);
								
								}else{
									if(vm.tipValue!=parseFloat(value)){
										vm.tipStatus = 1;
							
									}
								}
								if(vm.tipStatus>0){
									vm.tipValue = null;
								}
							break;
							case 'cost':
								if(vm.costValue==null){
									vm.costValue = parseFloat(value);
						
								}else{
									if(vm.costValue!=parseFloat(value)){
										vm.costStatus = 1;
						
									}
								}
								if(vm.costStatus>0){
									vm.costValue = null;
								}
							break;
							case 'status':
								if(vm.statusValue==null){
									vm.statusValue = value;
							
								}else{
									if(vm.statusValue!=value){
										vm.statusStatus = 1;
							
									}
								}
								if(vm.statusStatus>0){
									vm.statusValue = null;
								}
							break;
							case 'active' :
								if(vm.activeValue==null){
									vm.activeValue = value;
								
								}else{
									if(vm.activeValue!=value){
										vm.activeStatus = 1;
									
									}
								}
								if(vm.activeStatus>0){
									vm.activeValue = null;
								}
							break;
							case 'discounts' :
							//console.log( value.length);
								if(value.length>0){
									counter = value.length;
									$.each(value, function( key, value ) {
										$.each(value, function( key, value ) {
											if(key=='amount'){
												if(vm.discountValue==null){
														vm.discountValue = value;
												}else{
													
													if(parseFloat(vm.discountValue)!=parseFloat(value)){
														
														vm.discountStatus = 1;
													
													}
												}
												
											}
											if(key=='reason'){
												if(vm.reasonValue==null){
													vm.reasonValue	 = value;
												}else{
											
													if(vm.reasonValue!=value){
														
														vm.reasonStatus = 1;
													
													}
												}
											}
										});
											
									});
									if(looper>0){
									
										// vm.discountStatus = 1;
										// vm.discountValue = null;
									
                                    }
                                    		//console.log(vm.reasonStatus+'--'+vm.discountStatus);
                                    if(vm.reasonStatus==1 || vm.discountStatus==1){
                                        vm.discountStatus=1;
                                        vm.reasonValue=null;
                                        vm.discountValue=null;
                                    }
								}else{
									if(counter>0){
										vm.discountStatus = 1;
										vm.discountValue = null;
										vm.reasonValue = null;

									
									}
									
								}
								looper++;
								//console.log(value.length);
							break;
						}
						
						//console.log( key + ": " + value );
						// if(key=='user'){
						// 	$.each(value, function( key, value ) {
						// 		$.each(value, function( key, value ) {
						// 			console.log( key + ": " + value );
						// 		});
								
						// 	});
						// }
                        //
                        
                    });
                 
				});	

				if(vm.chargeStatus>0){
					vm.chargeValue = null;
                }
            // console.log(vm.chargeValue);
				

				
			}
		},
        created(){
           if(window.Laravel.language == 'cn'){
				this.getTranslation();
			}
        }
    }
</script>
<style>
.notes{
    resize: none;
}
</style>