// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;

  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;

  #app > .container {
    padding: 75px 15px 0;
  }
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

* {
  font-weight: 400;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

.btn-wyc-orange {
  background-color: $wyc-orange !important;
  color: white !important;
}

.text-wyc-orange {
  color: $wyc-orange;
}

.btn-wyc-global-orange{
  background-color: $wyc-default-orange !important;
  color: #fff !important;
}

.btn-wyc-global-blue{
  background-color: $wyc-default-blue !important;
  color: #fff !important;
}

.btn-wyc-global-teal{
  background-color: $wyc-default-teal !important;
  color: #fff !important;
}

.bg-orange-8 {
  background-color: $orange-800 !important;
  color: #ffffff !important;
}

.bg-lightblue-8 {
  background-color: $lightblue-800 !important;
  color: #ffffff !important;
}

.bg-cyan-8 {
  background-color: $cyan-800 !important;
  color: #ffffff !important;
}
