// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
// .container {
//   max-width: $max-width; /* 1 */
//   margin-left: auto; /* 2 */
//   margin-right: auto; /* 2 */
//   padding-left: 20px; /* 3 */
//   padding-right: 20px; /* 3 */
//   width: 100%; /* 1 */
//  }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.float {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
}

/* Margin */
.m {
  &-left-sm { margin-left: $size-sm }
  &-left-md { margin-left: $size-md }
  &-left-lg { margin-left: $size-lg }

  &-right-sm { margin-right: $size-sm }
  &-right-md { margin-right: $size-md }
  &-right-lg { margin-right: $size-lg }

  &-top-sm { margin-top: $size-sm }
  &-top-md { margin-top: $size-md }
  &-top-lg { margin-top: $size-lg }

  &-bottom-sm { margin-bottom: $size-sm }
  &-bottom-md { margin-bottom: $size-md }
  &-bottom-lg { margin-bottom: $size-lg }

  &-v-sm {
    margin-top: $size-sm;
    margin-bottom: $size-sm;
  }
  &-v-md {
    margin-top: $size-md;
    margin-bottom: $size-md;
  }
  &-v-lg {
    margin-top: $size-lg;
    margin-bottom: $size-lg;
  }

  &-h-sm {
    margin-left: $size-sm;
    margin-right: $size-sm;
  }
  &-h-md {
    margin-left: $size-md;
    margin-right: $size-md;
  }
  &-h-lg {
    margin-left: $size-lg;
    margin-right: $size-lg;
  }
  &-h-xlg {
    margin-left: ($size-lg * 2);
    margin-right: ($size-lg * 2);
  }
}

/* Padding */
.p {
  &-left-sm { padding-left: $size-sm }
  &-left-md { padding-left: $size-md }
  &-left-lg { padding-left: $size-lg }

  &-right-sm { padding-right: $size-sm }
  &-right-md { padding-right: $size-md }
  &-right-lg { padding-right: $size-lg }

  &-top-sm { padding-top: $size-sm }
  &-top-md { padding-top: $size-md }
  &-top-lg { padding-top: $size-lg }

  &-bottom-sm { padding-bottom: $size-sm }
  &-bottom-md { padding-bottom: $size-md }
  &-bottom-lg { padding-bottom: $size-lg }

  &-v-sm {
    padding-top: $size-sm;
    padding-bottom: $size-sm;
  }
  &-v-md {
    padding-top: $size-md;
    padding-bottom: $size-md;
  }
  &-v-lg {
    padding-top: $size-lg;
    padding-bottom: $size-lg;
  }

  &-h-sm {
    padding-left: $size-sm;
    padding-right: $size-sm;
  }
  &-h-md {
    padding-left: $size-md;
    padding-right: $size-md;
  }
  &-h-lg {
    padding-left: $size-lg;
    padding-right: $size-lg;
  }
  &-h-xlg {
    padding-left: ($size-lg * 2);
    margin-right: ($size-lg * 2);
  }
}

/* Border */
.b {
  &-left { border-left: 1px solid #ededed }
  &-right { border-right: 1px solid #ededed }
  &-top { border-top: 1px solid #ededed }
  &-bottom { border-bottom: 1px solid #ededed }

  &-v {
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
  }
  &-h {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }
}
