// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.panel-notification {
    width: 400px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);

    .panel-heading {
        border-bottom: 1px solid #f5f5f5;
    }

    .panel-body {
        position: relative;
        max-height: 300px;
        padding: 0;
        overflow: hidden;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                padding: 7px 15px;
                cursor: pointer;

                &:hover,
                &.not-read {
                    background-color: #f5f5f5;
                }

                > div {
                    float: left;
                }

                .notif-image {
                    width: 50px;
                    height: 50px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .notif-content {
                    width: 260px;
                    padding: 0 10px;
                }

                .notif-action {
                    width: 60px;

                    button {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .panel-footer {
        background-color: #fff;
        border-top: 1px solid #f5f5f5;

        a {
            font-size: inherit;
            color: inherit;
            padding: 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#inbox {
    .notif-image {
        width: 34px;
        height: 34px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .notif-content {
        width: 240px;
        padding: 0 10px;
    }

    .notif-action {
        width: 96px;
        text-align: right;
    }
}
