<template>
	<div class="col-md-4" style="height: 430px;">
        <div class="ibox">
            <div class="ibox-content product-box active">

                <div class="product-imitation" style="padding:0px !important; height:175px;">
                     <img alt="Product" v-bind:src="item.main_image" width="200" height="175px">
                </div>
                <div class="product-desc">
                    <span class="product-price">
                        P{{ formatPrice(priceDisplay) }}
                    </span>
                   
                    <a href="#" class="product-name" style="height:55px;"> {{ namelength }}</a>
                    <small class="label label-info " v-for="(value, key) in item.product_cats" style="display: inline-block; margin-bottom: 2spx;">{{ value.name }}</small>
                    <div class="m-t">
                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

export default {
	props: ['item'],
    methods:{
		approve(id){

		},
		reject(id){

		},
    },

  computed:{
    namelength(){
      if (this.item.name.length > 25) {
        var name = this.item.name.substr(0, 25)+"...";
        return name;
      }
      else{
        return this.item.name;
      }
    },
    priceDisplay(){
      if(this.item.sale_price){
        if(this.item.fee_included){
          return parseFloat(this.item.sale_price) + parseFloat(this.item.shipping_fee) + parseFloat(this.item.charge) + parseFloat(this.item.vat);
        }
        return this.item.sale_price;
      }
      else{
        if(this.item.fee_included){
          return parseFloat(this.item.price) + parseFloat(this.item.shipping_fee) + parseFloat(this.item.charge) + parseFloat(this.item.vat);
        }
        return this.item.price;
      }
    },
    starRating(){
      return "width:"+Math.round((this.item.rate/this.item.count)*20)+"%";
    },
    productRating(){
      return "width:"+this.item.product_rating+"%";
    },

  },
  methods:{
    formatPrice(value) {
        let val = (value/1).toFixed(2);
        // return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        return val;
    },
  }

}

</script>