<template>
	<div class="col-md-4">
        <div class="payment-card">
<!--             <i class="fa fa-cc-visa payment-icon-big text-success"></i> -->
            <img alt="Store" v-bind:src="item.cover_image" width="160" height="80">

            <h2 style="height:55px;">
                {{ namelength }}
            </h2>
            <div class="row">
                <div class="col-sm-12">
                    <small class="label label-info" v-if="item.is_active">Active</small>
                    <small class="label label-danger" v-else>Inactive</small>
                </div>
                <div class="col-sm-12">
                    <small>
                        <strong>created</strong> {{ toHumanCreatedAt }}
                    </small>
                    <div class="m-t">
	                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
	                </div>
                </div>

            </div>
        </div>
    </div>
</template>


<script>

export default {
	props: ['item'],
    methods:{
		approve(id){

		},
		reject(id){

		},
    },

  computed:{
    namelength(){
      if (this.item.name.length > 15) {
        var name = this.item.name.substr(0, 15)+"...";
        return name;
      }
      else{
        return this.item.name;
      }
    },
    starRating(){
      return "width:"+Math.round((this.item.rate/this.item.count)*20)+"%";
    },
    productRating(){
      return "width:"+this.item.product_rating+"%";
    },
	toHumanCreatedAt() {
	return moment.utc(this.item.created_at).fromNow();
	},

  }

}

</script>