<template>
<div>
  <!--
  <div v-for="most_latest in most_latest" >
  <div class="choice_item">
    <img class="img-fluid" :src="'../../images/news/'+most_latest.image" alt="" v-if="most_latest.image !== null">
    <img class="img-fluid" :src="'../../images/news/no-image.png'" alt="" v-else>
    <div class="choice_text">
      <div class="date">
        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{most_latest.created_at|formatDate}}</a>
        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
      </div>
      <a :href="'/news/' + most_latest.news_id"><h4>{{most_latest.header}}</h4></a>
      <span class="more" v-html="truncate(most_latest.content,200, '...')" style="font-size: 12px !important"></span>
    </div>
    </div>
  </div>
  -->

  <div class="col-xs-12 col-sm-12 col-md-12"  style="padding-top: 80px;">
    <div class="product_list p-left">

      <div v-for="news_item in news_item">
      <div class="col-xs-12 col-sm-6 col-md-3 no-padding">
        <div class="media">
          <div class="d-flex">
            <a class="post-title" :href="'/news/' + news_item.news_id" style="text-decoration:none;color:black">
            <div class="post-thumb">
              <img class="float-left" :src="'../../images/news/'+news_item.image"  style="width:150px !important; padding:5px;min-height:115px;" v-if="news_item.image !== null">
              <img class="float-left" :src="'../../images/news/no-image.png'"  style="width:150px !important; padding:5px;" v-else>
            </div>
            <div class="post-content">
              <h5 style="font-weight: bold !important; font-size:16px;">{{truncate(news_item.header,23, '...')}}</h5>
              <p class="more more-like" v-html="truncate(news_item.content,70, '...')" ></p>
              <span style="font-size:12px"><i class="fa fa-calendar" aria-hidden="true"></i> {{news_item.created_at|formatDate}}</span>
            </div>
            </a>
          </div>
          <!--
          <div class="media-body">
            <div class="choice_text">
              <a :href="'/news/' + news_item.news_id"><h4 style="font-size:12px;">{{news_item.header}}</h4></a>

              <div class="date">
                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{news_item.created_at|formatDate}}</a>
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
              </div>
            </div>
          </div>
          -->
        </div>

      </div>
      </div>

    </div>
</div>
</div>
</template>

<script>
let user = window.Laravel.user;

export default {
  data() {
    return {
      user: user,
      news_item: [],
      most_latest: []
    }
  },
  methods: {
    fetchMessages: function() {
        window.axios.get('news').then((res) => {
            this.news_item = res.data;

            //console.log(res.data);
        });
        window.axios.get('news/latest').then((res) => {
            this.most_latest = res.data;

            //console.log(res.data);
        });
    },
    truncate: function (text, length, suffix) {
      //console.log($.trim(text.replace(/(<([^>]+)>)/ig,"")).replace(/[_\W]+/g, " ").substring(0, length));
      var str = $.trim(text.replace(/&nbsp;/gi,' ').replace(/(<([^>]+)>)/ig," ")).substring(0, length);
      var nstr = str.length - str.replace(/&#/g,'').length;

      if($.trim(text.replace(/(<([^>]+)>)/ig,"").length)<length){
        return $.trim(text.replace(/&nbsp;/gi,' ').replace(/(<([^>]+)>)/ig," ")).substring(0, length+nstr);
      }else{
        return $.trim(text.replace(/&nbsp;/gi,' ').replace(/(<([^>]+)>)/ig," ")).substring(0, length+(nstr*8)) + suffix;
      }

    },
 },

 computed:{
   countResults: function(){
          return this.news_item.length;
    },
    isEmpty: function () {
          return jQuery.isEmptyObject(this.user)
    },

 },

 created() {
      this.fetchMessages();
  },


}

</script>
