<template>
<div>

  <div v-for="most_latest in most_latest" >
  <div class="choice_item">
    <img class="img-fluid img-big" v-if="most_latest.image !== null " :src="'../../../images/news/'+most_latest.image" alt="">
    <img class="img-fluid img-big" v-else :src="'../../../images/news/no-image.png'" alt="">
    <div class="choice_text">
      <div class="date">
        <span href="#"><i class="fa fa-calendar" aria-hidden="true"></i> {{most_latest.created_at|formatDate}}</span>
      </div>
      <a :href="'/news/' + most_latest.news_id" style="text-decoration:none;color:black"><h4 class="post-header" >{{most_latest.header}}</h4>
      <span class="more" v-html="truncate(most_latest.content,200, '...')" style="font-size: 12px !important"></span>
      </a>
    </div>
    </div>
  </div>
  <div class="product_list p-left">
    <div v-for="news_item in news_item" >
      <div class="media">
        <div class="d-flex">
          <a class="post-title"  :href="'/news/' + news_item.news_id" style="text-decoration:none;color:black">
          <div class="post-thumb">
            <img v-if="news_item.image !== null " :src="'../../../images/news/'+news_item.image"  style="width:150px !important; padding:5px;">
            <img v-else :src="'../../../images/news/no-image.png'" style="width:150px !important; padding:5px;">
          </div>
          <div class="post-content">
              <h4 style="font-size:12px;font-weight: bold !important;line-height:10px !important;">{{truncate(news_item.header,23, '...')}}</h4>
              <p class="more more-like" v-html="truncate(news_item.content,70, '...s')" style="font-size: 10px !important"></p>
              <span style="font-size:9px;line-height:10px;"><i class="fa fa-calendar" aria-hidden="true"></i> {{news_item.created_at|formatDate}}</span>
          </div>
          </a>
        </div>

      </div>

    </div>
  </div>
  <!--
  <div class="row">
      <Comment :commentUrl="19" :user="user">  </Comment>
  </div>
-->
</div>
</template>

<script>

let user = window.Laravel.user;

export default {
  components: { Comment: Comment},
  data() {
    return {
      user: user,
      news_item: [],
      most_latest: [],
    }
  },
  methods: {
    fetchMessages: function() {
        window.axios.get('/news',{
          params: {
            id: $(location).attr("href").split('/').pop()
          }
        }).then((res) => {
            this.news_item = res.data;
            //console.log(res.data);
        });
        window.axios.get('/news/latest',{
          params: {
            id: $(location).attr("href").split('/').pop()
          }
        }).then((res) => {
            this.most_latest = res.data;
            //console.log(res.data);
        });
    },
    truncate: function (text, length, suffix) {
      var str = $.trim(text.replace(/&nbsp;/gi,' ').replace(/(<([^>]+)>)/ig," ")).substring(0, length);
      var nstr = str.length - str.replace(/&#/g,'').length;

      if($.trim(text.replace(/(<([^>]+)>)/ig,"").length)<length){
        return $.trim(text.replace(/&nbsp;/gi,' ').replace(/(<([^>]+)>)/ig," ")).substring(0, length+nstr);
      }else{
        return $.trim(text.replace(/&nbsp;/gi,' ').replace(/(<([^>]+)>)/ig," ")).substring(0, length+(nstr*8)) + suffix;
      }


    },
    
 },

 computed:{
   countResults: function(){
          return this.news_item.length;
    },
    isEmpty: function () {
          return jQuery.isEmptyObject(this.user)
    },

 },

 created() {
      this.fetchMessages();
  },


}

</script>
