<template>

  <div>
    <div v-for="news_items in news_item" >
    <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top:40px;">

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12" style="word-wrap: break-word;line-height: 20px;text-align: justify;">
            <!--<div class="d-flex">-->
            <a :href="'/news/' + news_items.news_id" style="text-decoration:none;color:black">
              <img style="padding:5px 5px 0px 0px; width:246px !important; height:175px !important" class="img-fluid img-responsive float-left" :src="'../../images/news/'+news_items.image" v-if="news_items.image !== null">
              <img style="padding:5px 5px 0px 0px; width:246px !important; height:175px !important" class="float-left img-fluid img-responsive" :src="'../../images/news/large/no-image.png'" v-else>
              <span href="#"><i class="fa fa-calendar" aria-hidden="true"></i> {{news_items.created_at|formatDate}}</span>
              <h2 class="post-header" >{{truncate(news_items.header,30, '...')}}</h2>
              <span class="more more-like2" v-html="truncate(news_items.content,400, '...')">
              </span>
              </a>
            <!--</div>-->
          </div>
        </div>
        <!--
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="media-body">
            <div class="choice_text" style="margin-top:0 !important">
              <div class="date">
                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{news_items.created_at|formatDate}}</a>
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{countResults}}</a>
              </div>
              <a :href="'/news/' + news_items.news_id" ><h4 style="font-size: 15px !important">{{news_items.header}}</h4></a>
              <span class="more" v-html="truncate(news_items.content,300, '...')" style="font-size: 12px !important">
              </span>
            </div>
          </div>


        </div>
        </div>
      -->
      </div>


    </div>
  </div>


</template>

@push('scripts')
{!! Html::script(mix('js/pages/summernote.js','shopping')) !!}
@endpush

<script>
let user = window.Laravel.user;

export default {
  data() {
    return {
      user: user,
      news_item: []
    }
  },
  methods: {
    fetchMessages: function() {
        window.axios.get('news/featured').then((res) => {
            this.news_item = res.data;

            //console.log(res.data);
        });
    },
    truncate: function (text, length, suffix) {

      var str = $.trim(text.replace(/&nbsp;/gi,' ').replace(/(<([^>]+)>)/ig," ")).substring(0, length);
      var nstr = str.length - str.replace(/&#/g,'').length;

      if($.trim(text.replace(/(<([^>]+)>)/ig,"").length)<length){
        return $.trim(text.replace(/&nbsp;/gi,' ').replace(/(<([^>]+)>)/ig," ")).substring(0, length+nstr);
      }else{
        return $.trim(text.replace(/&nbsp;/gi,' ').replace(/(<([^>]+)>)/ig," ")).substring(0, length+(nstr*8)) + suffix;
      }

    }


 },

 computed:{
   countResults: function(){
          return this.news_item.length;
    },
    isEmpty: function () {
          return jQuery.isEmptyObject(this.user)
    },

 },

 created() {
      this.fetchMessages();
  },


}



</script>
