<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <button v-show="accessAbleRole(['human-resources','master'])" class="btn btn-primary col-md-2 pull-right" @click="showModal('holiday')">Add Event</button>
               
                <button class="btn btn-success col-md-2 pull-right" @click="showModal('leave')">File Leave</button>
                <button v-show="accessAbleRole(['master','human-resources'])" class="btn btn-warning col-md-2 pull-right" @click="showRequests" >Pending Requests</button>
            </div>

        </div>
        <br>

     <div class="row">
             <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <tbody>
                    <tr v-for="m in months" :key="m.month" >
                        <th style="text-aligh:left">{{m.month}}</th>
                        <td style="text-align:center" v-for="index in m.days" :key="index" :id="m.month+'_'+index+'_'+year_added"><span v-if="weekends(year_added+'/'+m.month+'/'+index)" class="weekend">{{index}}</span><span v-else>{{index}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div> 


        <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" v-show="event_status=='holiday'">Add Holidays</h4>
                        <h4 class="modal-title" v-show="event_status!='holiday'">Leave Application</h4>
                       <button @click="addInput" class="btn btn-warning" v-show="leave_type!='Consume OT' || event_status=='holiday'">Add new fields</button>
                       
                    </div>
                    <div class="dup-body">
                       
                            
                            <!--
                            <div class="form-group col-md-12" v-if="event_status=='holiday'" style="margin-top:20px;">
                                <label >Event title</label>
                                <input  class="input-sm form-control" type="text" v-model="holiday_title"/>
                            </div>
                             <div class="form-group" v-else>
                                <label>Title</label>
                                <input  class="input-sm form-control" type="text" v-model="holiday_title"/>
                            </div>
                            -->
                           
                            <div class="form-group col-md-12" v-if="event_status!='holiday'" style="margin-top:20px;">
                                <label >Leave Type</label>
                                <select class="form-control" v-model="leave_type" @change="resetInput">
                                    <option value="Sick Leave">Sick Leave</option>
                                    <option value="Annual Leave">Annual Leave</option>
                                    <option value="Leave with Permission">Leave with Permission</option>
                                    <!--<option value="Leave without Permission">Leave without Permission</option>
                                    <option value="Paternity Leave">Paternity Leave</option>
                                    <option value="Maternity Leave">Maternity Leave</option>
                                    <option value="Consume OT">Consume OT</option>
                                    <option value="Half day">Half day</option>
                                    <option value="Waiver">Waiver</option>-->
                                </select>
                            </div>
                             
                        <template v-if="event_status=='leave' && leave_type=='Consume OT'">
                            
                            <div class="form-group col-md-12">
                                <label>Date Leave</label>
                                <the-mask  v-model="holiday_from"  class="input-sm form-control" placeholder="YYYY-MM-DD"  mask="####-##-##"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Time From</label>
                                <the-mask  v-model="time_from"  class="input-sm form-control" placeholder="##:##"  mask="##:##" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Time To</label>
                                <the-mask  v-model="time_to"  class="input-sm form-control"  placeholder="##:##"  mask="##:##" />
                            </div>
                            
                            <div class="form-group col-md-12">
                                <label>Number of hours</label>
                                <input type="text" placeholder="0" class="input-sm form-control"  v-model="number_of_hours" />
                            </div>
                            
                             <div class="form-group col-md-12">
                                    <label>Reason</label>
                                    <textarea class="form-control" v-model="reason"></textarea>
                            </div>
                        </template>
                        
                        <template v-else>
                            <template v-for="(input, index) in inputs" >

                            <div :key="index">
                                <div class="form-group col-md-12" v-show="inputs[index].id>1">
                                    <button class="pull-right" @click="removeInput(index)">x</button>
                                </div>
                                <div class="form-group col-md-12" v-if="event_status=='holiday'" style="margin-top:20px;">
                                    <label >Event title</label>
                                    <input  class="input-sm form-control" type="text" v-model="input.title"/>
                                 </div>
                                    <template v-if="leave_type == 'Leave with Permission'">
                                        <div class="col-sm-4">
                                            <label> 
                                                <input type="radio" value="deductible"  v-model="input.leave_option"> 
                                                Deductible
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> 
                                                <input type="radio"  value="nondeductible"  v-model="input.leave_option"> 
                                                Non Deductible
                                            </label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> 
                                                <input type="radio"  value="consumeot"  v-model="input.leave_option"> 
                                                Consume OT
                                            </label>
                                        </div>
                                        
                                    </template>
                                    
                                <div class="form-group col-md-6" style="margin-top:20px">
                                    <label>Date Start</label>
                                    <the-mask  v-model="input.date_from"  class="input-sm form-control" placeholder="YYYY-MM-DD"  mask="####-##-##"/>
                                </div>
                                 <div class="form-group col-md-6" style="margin-top:20px">
                                    <label>Date End</label>
                                    <the-mask  v-model="input.date_to"  class="input-sm form-control" placeholder="YYYY-MM-DD"  mask="####-##-##"/>
                                </div>
                                    <template v-if="input.leave_option=='consumeot' || leave_type=='Annual Leave' || leave_type=='Sick Leave'">
                                                <div class="form-group col-md-6">
                                                    <label>Time Start</label>
                                                    <the-mask  v-model="input.time_from"  class="input-sm form-control" placeholder="##:##"  mask="##:##"/>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Time End</label>
                                                    <the-mask  v-model="input.time_to"  class="input-sm form-control"  placeholder="##:##"  mask="##:##" />
                                                </div>
                                    </template>
                                <div class="form-group col-md-12" v-if="event_status=='leave'">
                                    <label>Reason</label>
                                    <textarea class="form-control" v-model="input.reason"></textarea>
                                 </div>
                                 <div class="form-group col-md-12" v-show="event_status=='holiday'">
                                    <label >Rate</label>
                                    <select class="form-control" id="rate" v-model="input.rate">
                                        <option value="1" selected>100%</option>
                                        <option value="1.5">150%</option>
                                        <option value="2">200%</option>
                                        <option value="2.5">250%</option>
                                        <option value="3">300%</option>
                                    </select>
                                </div>
                            </div>
                            </template>
                               
                            <!--
                            <div class="form-group col-md-6">
                                <label>Date from</label>
                                <the-mask  v-model="holiday_from"  class="input-sm form-control" placeholder="YYYY-MM-DD"  mask="####-##-##"/>
                            </div>
                      
                    
                            <div class="form-group col-md-6">
                                <label>Date to</label>
                                <the-mask  v-model="holiday_to"  class="input-sm form-control" placeholder="YYYY-MM-DD"  mask="####-##-##"/>
                            </div>
                            <div class="form-group col-md-12" v-if="event_status=='leave'">
                                <label>Reason</label>
                               <textarea class="form-control" v-model="reason"></textarea>
                            </div>
                           -->
                            

                             
                        </template>
                         
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-6">
                            <span class="pull-left" v-show="leave_type=='Sick Leave'">Remaining Sick Leave: <code>{{(this.time_remaining['_sick_leave']==null) ? '00:00' : this.time_remaining['_sick_leave']}}</code></span> 
                            <span class="pull-left" v-show="leave_type=='Annual Leave'">Remaining Annual Leave: <code>{{(this.time_remaining['_annual_leave']==null) ? '00:00' : this.time_remaining['_annual_leave']}}</code></span> 
                            <span class="pull-left" v-show="leave_type=='Leave with Permission'">Remaining Overtime: <code>{{(this.time_remaining['_overtime']==null) ? '00:00' : this.time_remaining['_overtime']}}</code></span> 
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary" @click="postHoliday2()">Save</button>
                            <button type="button" class="btn btn-white" data-dismiss="modal" >Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal inmodal" id="myModal5" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Pending Requests</h4>                   
                    </div>
                    <div class="modal-body">
                         <div class="row">
                            <div class="pending-container">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                         
                                            <th>Type</th>
                                            <th>Start date</th>
                                            <th>End date</th>
                                            <th>Total Hours</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="p in pending" :key="p.id">
                                            <td>{{p.users.full_name}}</td>
                                           
                                            <td>{{p.type}}</td>
                                            <td>{{p.start_date}}</td>
                                            <td>{{p.end_date}}</td>
                                            <td v-if="p.type=='Consume OT'">{{p.hour_count}}</td>
                                            <td v-else>N/A</td>
                                            <td><button class="btn btn-primary form-control" @click="openReject(p.id)">View</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                             </div>
                         </div>
                         <div class="row" v-if="viewer">
                             <div class="form-group col-md-6">
                                <label>Name</label>
                                <input v-model="project[0].full_name" class="form-control border-less" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Type</label>
                                <input v-model="project[0].type" class="form-control border-less" disabled >
                            </div>
                            <!--
                            <div class="form-group col-md-6">
                                <label>Title</label>
                                <input v-model="project[0].title" class="form-control border-less" disabled>
                            </div>
                            -->
                            <div class="form-group col-md-6">
                                <label>Date From</label>
                                <input v-model="project[0].start_date" class="form-control border-less" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Date To</label>
                                <input v-model="project[0].end_date" class="form-control border-less" disabled>
                            </div>
                             <div class="form-group col-md-6">
                                <label>Time From</label>
                                <input v-model="project[0].time_start" class="form-control border-less" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Time To</label>
                                <input v-model="project[0].time_end" class="form-control border-less" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Total Hour(s)</label>
                                <input v-model="project[0].hour_count" class="form-control border-less" disabled>
                            </div>
                             <div class="form-group col-md-12">
                                <label>Reason</label>
                                <textarea v-model="project[0].reason" class="form-control border-less" disabled></textarea>
                             </div>
                              <div class="form-group col-md-12" v-if="project[0].act=='Denied'">
                                <label>Reason for Rejection</label>
                                <textarea v-model="project[0].reason_reject" class="form-control border-less"></textarea>
                             </div>
                             <div class="form-group col-md-8">
                                <label>Action</label>
                                <select class="form-control" v-model="project[0].act">
                                    <option value="Approved">Approved</option>
                                    <option value="Denied">Reject</option>
                                </select>
                            </div>
                             <div class="col-md-4">
                                 <button style="margin-top:23px" class="btn btn-warning pull-right" @click="closeModal()">Cancel</button>
                                 <button style="margin-top:23px" class="btn btn-success pull-right" @click="postAction(project[0].id)">Send Action</button>
                             </div>
                         </div>
                    </div>
                   
                </div>
            </div>
        </div>

     

    </div>
    
</template>
<script>
        let user = window.Laravel.user;
        var dt = new Date();
     export default {
         
		data() {
			return {
                time_remaining:null,
                user:user,
                schedule:null,
                months:[
                    {month:"January",days:31},
                    {month:"February",days:(this.leapyear(dt.getFullYear()) ? 29 : 28)},
                    {month:"March",days:31},
                    {month:"April",days:30},
                    {month:"May",days:31},
                    {month:"June",days:30},
                    {month:"July",days:31},
                    {month:"August",days:31},
                    {month:"September",days:30},
                    {month:"October",days:31},
                    {month:"November",days:30},
                    {month:"December",days:31},
                    ],
                year_added:dt.getFullYear(),
                holidays:[],
                holiday_from:'',
                holiday_to:'',
                holiday_title:'',
                event_status:'',
                leave_type:'Sick Leave',
                number_of_hours:1,
                reason:'',
                pending:[],
                viewer:false,
                project:[{id:0,act:'Approved',full_name:'',type:'',title:'',start_date:'',end_date:'',hour_count:0,reason:'',reason_reject:'',time_start:'',time_end:''}],
                refresher:false,
                inputs: [{
                    id:1,
                    title:'',
                    date_from: '',
                    date_to: '',
                    reason:'',
                    rate:1,
                    time_from:'',
                    time_to:'',  
                    leave_option:'deductible',
                   
                }],
              
            }
        },
        methods:{

            computeTimeDif(){
                this.time_from = [this.time_from .slice(0, 2), ':', this.time_from .slice(2)].join('');
                this.time_to = [this.time_to .slice(0, 2), ':', this.time_to .slice(2)].join('');
                // var sp = time_to.split(':');
                // if(sp[1]<12){

                // }
                var d1 = new Date("01/01/2019 " + this.time_from+':00');
                var d2 = new Date("01/01/2019 " + this.time_to+':00');
               
                if(!isNaN(d1) && !isNaN(d2)){
                     var timein = parseInt(d1.getTime()/1000);
                     var starttime = parseInt(d2.getTime()/1000);
                     var decimalTimeString = (starttime-timein)/3600;
                    var decimalTime = parseFloat(decimalTimeString);
                    decimalTime = decimalTime * 60 * 60;
                    var hours = Math.floor((decimalTime / (60 * 60)));
                    decimalTime = decimalTime - ((hours * 60) * 60);
                    var minutes = Math.floor((decimalTime / 60));
                    console.log(hours+':'+(minutes-8));
                }
                
            },
            accessAbleRole(arr){
                var flag = false;
                for(var i=0; i<arr.length; i++) {
                    for(var ii=0; ii<this.user.roles.length; ii++) {
                        for(var key in this.user.roles[ii]) {
                            //console.log(this.user.roles[ii]['label']);
                            if(this.user.roles[ii][key] == arr[i]) {
                                 flag = true;
                            }
                        }
                    }
                }
                return flag;
            },
            resetInput(){
                this.inputs = [{
                    id:1,
                    title:'',
                    date_from: '',
                    date_to: '',
                    reason:'',
                    rate:1,
                    time_from:'',
                    time_to:'',
                    leave_option:'deductible',
                    
                }];
            },
            addInput() {
                this.inputs.push({
                    id:this.inputs.length + 1,
                    title:'',
                    date_from:'',
                    date_to: '',  
                    reason:'',
                    rate:1,
                    time_from:'',
                    time_to:'',
                    leave_option:'deductible',
                 
                });
            },
            removeInput(id){
                if(this.inputs.length > 1)
                    this.inputs.splice(id, 1);;
            },
            closeModal(){
                this.viewer = false;
                $('#myModal5').modal('toggle');
                
            },           
            openReject(id){
                this.viewer = true;
                axios.get('/visa/payroll/get-holidays-id',{
                        params: {
                            holiday_id: id,
                        }
                    }).then(response => {
                        this.project[0].full_name = response.data.users.full_name;
                        this.project[0].type = response.data.type;
                        this.project[0].title = response.data.title;
                        this.project[0].start_date = response.data.start_date;
                        this.project[0].end_date = response.data.end_date;
                        this.project[0].hour_count = response.data.hour_count;
                        this.project[0].reason = response.data.reason;
                        this.project[0].id = response.data.id;
                        this.project[0].time_start = response.data.time_start;
                        this.project[0].time_end = response.data.time_end;
                    });
            },

            showModal(val){
                this.event_status = val;
                this.resetInput();
                $('#myModal4').modal('toggle');
            },
            showRequests(){
                this.resetInput();
                $('#myModal5').modal('toggle');
            },
           
            weekends(dt){
                
                var flag=false;
                dt= new Date(dt);
                dt = dt.getDay();
                if(dt==0 || dt==6){
                    flag = true;
                }
                return flag;
            },
            postAction(id){
                if(this.project[0].act=='Denied' && this.project[0].reason_reject==''){
                    toastr.error('Please fill out reason of rejection');
                }else{
                    axios.post('/visa/payroll/post-holiday-request-result',{
                        project:this.project,
                        id:id
                    }).then(response => {
                        if(response.data.success){
                            this.getHolidays();
                            this.closeModal();
                            swal({
                                    title: "Success",
                                    text: 'Action has been posted'
                            });
                        }else{
                                swal({
                                        title: "Error",
                                        text: "Contact admin"
                                });
                        }
                        
                    });
                }
            },
            isValidDate(s) {
                var bits = s.split('-');
                var d = new Date(bits[0] + '/' + bits[1] + '/' + bits[2]);
                return !!(d && (d.getMonth() + 1) == bits[1] && d.getDate() == Number(bits[2]));
            },
            postHoliday2(){
                var flag = false;
                if(this.leave_type=='Consume OT'){
                   
                    if(this.holiday_from.search("-")<0){
                        this.holiday_from = [this.holiday_from .slice(0, 4), '-', this.holiday_from .slice(4)].join('');
                        this.holiday_from = [this.holiday_from .slice(0, 7), '-', this.holiday_from .slice(7)].join('');
                    }
                    if(this.holiday_to.search("-")<0){
                        this.holiday_to = [this.holiday_to .slice(0, 4), '-', this.holiday_to .slice(4)].join('');
                        this.holiday_to = [this.holiday_to .slice(0, 7), '-', this.holiday_to .slice(7)].join('');
                    }
                     this.holiday_to = this.holiday_from;
                        if(this.holiday_from=='' || this.holiday_to=='' || this._rate=='' && this.event_status=='holiday'){
                            toastr.error('Make sure all fields are not empty');
                        }else if(this.holiday_from=='' || this.holiday_to=='' || this.reason=='' && this.event_status=='leave'){
                            toastr.error('Make sure all fields are not empty');
                        }else{
                            if(!this.isValidDate(this.holiday_from)){
                                toastr.error('Date from is invalid');
                            }else  if(!this.isValidDate(this.holiday_to)){
                                toastr.error('Date to is invalid');
                            }else{
                                var dt = new Date();
                                var yr_from = this.holiday_from.split('-');
                                var yr_to = this.holiday_to.split('-');
                                if(yr_from[0] != yr_to[0]){
                                    toastr.error('Event year did not match');
                                }else{
                                    
                                    var day_count = this.getNumberOfWorkingDays(this.holiday_from.replace("-", "/"),this.holiday_to.replace("-", "/"));
                                    
                                    if(day_count<=0){
                                        toastr.error('Please make sure that date from is not ahead from date to or the dates are weekends');
                                    }else{
                                        if(day_count>5){
                                            //warning for more than 5 days holiday
                                            $('#myModal4').modal('toggle');
                                        swal({
                                                title: 'Are you sure?',
                                                text: "You are filing holiday more than 5 working days",
                                                type: 'warning',
                                                showCancelButton: true,
                                                confirmButtonColor: '#3085d6',
                                                cancelButtonColor: '#d33',
                                                confirmButtonText: 'Yes, delete it!'
                                                }).then((res) => {
                                                    if(res){
                                                    axios.post('/visa/payroll/post-holiday',{
                                                            method:this.event_status,
                                                            start_date:this.holiday_from,
                                                            end_date:this.holiday_to,
                                                            event_title:this.holiday_title,
                                                            day_count:day_count,
                                                            type:this.leave_type,
                                                            number_of_hours:this.number_of_hours,
                                                            reason:this.reason,
                                                            rate:$('#rate').val(),
                                                            inputs:this.inputs
                                                        }).then(response => {
                                                            if(response.data.success){
                                                                this.getHolidays();
                                                            swal({
                                                                        title: "Success",
                                                                        text: response.data.message
                                                                });
                                                            }else{
                                                                swal({
                                                                            title: "Error",
                                                                            text: response.data.message
                                                                    });
                                                            }
                                                            
                                                        });
                                                    }
                                                }).catch(swal.noop);
                                        
                                        }else{
                                            axios.post('/visa/payroll/post-holiday',{
                                                    method:this.event_status,
                                                    start_date:this.holiday_from,
                                                    end_date:this.holiday_to,
                                                    event_title:this.holiday_title,
                                                    day_count:day_count,
                                                    type:this.leave_type,
                                                    number_of_hours:this.number_of_hours,
                                                    reason:this.reason,
                                                    rate:$('#rate').val(),
                                                    inputs:this.inputs
                                                }).then(response => {
                                                    console.log(response.data.success);
                                                    $('#myModal4').modal('toggle');
                                                    if(response.data.success){
                                                            this.getHolidays();
                                                        
                                                            swal({
                                                                    title: "Success",
                                                                    text: response.data.message
                                                            });
                                                    }else{
                                                            swal({
                                                                        title: "Error",
                                                                        text: response.data.message
                                                                });
                                                    }
                                                });
                                        }                         
                                    
                                    }
                                }
                            }
                        }
                        
                }else{//end of consume ot
  
                    var empty_title = false;
                    var incorrect_date = false;
                    var empty_date = false;
                    var empty_reason = false;
                    var timefrom = true;
                    var timeto = true;
                    var notcomparetime = false;
                    var leave_type = this.leave_type;
                    var insufficient = false;
                    var nhour = 0;
                    var nmin = 0;
                    var noschedule = false;
                    var schedHR = 0;
                    var schedMIN = 0;
                    var schedHRDIF = 0;
                    var beginningTime = 0;
                    var endTime  = 0;
                    var sameyear = true;
                    var timeremains = this.time_remaining;
                    var locked = false;
                    var formats = ["YYYY-MM-DD LT","YYYY-MM-DD h:mm:ss A","YYYY-MM-DD HH:mm:ss","YYYY-MM-DD HH:mm"];
                    var lacktimeannual=false;
                    var lacktimesick=false;
                    var lacktimeleave=false;
                    //alert(moment(timeremains['_locked_until'], formats, true).isValid());
                    
                    
                    if(this.schedule==null){
                        noschedule = true;
                    }else{
                        var schedEnd = moment(this.schedule['time_out'], 'HH:mm');
                        var schedStart = moment(this.schedule['time_in'], 'HH:mm');
                        schedHR = schedEnd.diff(schedStart, 'hours');
                        schedMIN = moment.utc(moment(schedEnd, "HH:mm:ss").diff(moment(schedStart, "HH:mm:ss"))).format("mm")
                        schedHRDIF = moment(schedHR+":"+schedMIN, 'HH:mm');
                        
                    }

                     $.each( this.inputs, function( key, value ) {
                         var flags = true;
                            if(value.title==''){
                                empty_title = true;
                            }
                            if(value.date_from=='' || value.date_to==''){
                                empty_date = true;
                            }
                            if(value.date_from.search("-")<0){
                                value.date_from = [value.date_from .slice(0, 4), '-', value.date_from .slice(4)].join('');
                                value.date_from = [value.date_from .slice(0, 7), '-', value.date_from .slice(7)].join('');
                            }
                            if(value.date_to.search("-")<0){
                                value.date_to = [value.date_to .slice(0, 4), '-', value.date_to .slice(4)].join('');
                                value.date_to = [value.date_to .slice(0, 7), '-', value.date_to .slice(7)].join('');
                            }
                            if(value.time_from.search(":")<0){
                                value.time_from = [value.time_from .slice(0, 2), ':', value.time_from .slice(2)].join('');
                            }
                             if(value.time_to.search(":")<0){
                                value.time_to = [value.time_to .slice(0, 2), ':', value.time_to .slice(2)].join('');
                            }

                                var bits = value.date_from.split('-');
                                var d1 = bits;
                                var d = new Date(bits[0] + '/' + bits[1] + '/' + bits[2]);
                                flags = !!(d && (d.getMonth() + 1) == bits[1] && d.getDate() == Number(bits[2]));
                                if(!flags) incorrect_date = true;
                             
                                var bits = value.date_to.split('-');
                                var d2 = bits;
                                var d = new Date(bits[0] + '/' + bits[1] + '/' + bits[2]);
                                flags = !!(d && (d.getMonth() + 1) == bits[1] && d.getDate() == Number(bits[2]));
                                if(!flags) incorrect_date = true;

                             if(value.reason==''){
                                 empty_reason = true;
                             }
                             if(d1[0]!=d2[0]){
                                 sameyear = false;
                             }
                            if((leave_type == 'Leave with Permission' && value.leave_option=='consumeot') || (leave_type != 'Leave with Permission')){
                               
                                if(timefrom)
                                    timefrom = moment(value.time_from, "HH:mm", true).isValid();
                                if(timeto)
                                    timeto = moment(value.time_to, "HH:mm", true).isValid();

                                     beginningTime = moment(value.time_from, 'HH:mm');
                                     endTime = moment(value.time_to, 'HH:mm');

                                if(!notcomparetime){
                                    
                                    if(endTime.isBefore(beginningTime)){
                                        notcomparetime = true;
                                    
                                    }    
                                }

                                schedHR = schedHR-1; //deduct 1hr from the time duration 1 hour is break time
                                var hr = endTime.diff(beginningTime, 'hours');
                                hr = (hr>schedHR) ? schedHR : hr; //if hours filed is greater than 8 if fixed time
                                var mins = moment.utc(moment(endTime, "HH:mm:ss").diff(moment(beginningTime, "HH:mm:ss"))).format("mm")
                                
                                    nhour = nhour+hr;
                                    nmin = nmin+parseInt(mins);
                                    if(nmin>=60){
                                        nmin = nmin-60;
                                        nhour = nhour+1;
                                    }

                                    if(leave_type=='Annual Leave'){
                                        var now = moment().format('YYYY-MM-DD HH:mm:ss');
                                            if(moment(timeremains['_locked_until'], formats, true).isValid()){
                                                var lock_date = moment(timeremains['_locked_until'], 'YYYY-MM-DD HH:mm:ss');
                                                if(lock_date.isAfter(now)){
                                                    locked = true;
                                                }

                                            }
                                            var leave_start = moment(value.date_from, 'YYYY-MM-DD HH:mm:ss');
                                            var duration = moment.duration(leave_start.diff(now));
                                            var hours = duration.asHours();
                                            if(hours<720){
                                                lacktimeannual = true;
                                            }
                                    }
                                    if(leave_type=='Sick Leave'){
                                        var now = moment().format('YYYY-MM-DD HH:mm:ss');
                                        var leave_start = moment(value.date_from, 'YYYY-MM-DD HH:mm:ss');
                                     
                                             var duration = moment.duration(leave_start.diff(now));
                                             var hours = duration.asHours();
                                             
                                             if((hours*-1)>72){
                                                lacktimesick = true;
                                             }
                                        
                                    }
                                    if(leave_type=='Leave with Permission'){
                                        var now = moment().format('YYYY-MM-DD HH:mm:ss');
                                        var leave_start = moment(value.date_from, 'YYYY-MM-DD HH:mm:ss');
                                       
                                             var duration = moment.duration(leave_start.diff(now));
                                             var hours = duration.asHours();
                                             if((hours*-1)>72){
                                                lacktimeleave = true;
                                             }
                                        
                                    }
                                //console.log(timeremains);
                                if(!insufficient && !notcomparetime){
                                    var total_time = null;
                                    if(leave_type=='Sick Leave'){      
                                        total_time = timeremains['_sick_leave'].split(':');
                                    }else if(leave_type=='Annual Leave'){
                                        total_time = timeremains['_annual_leave'].split(':');
                                    }else if(leave_type=='Leave with Permission' && value.leave_option=='consumeot'){
                                        total_time = timeremains['_overtime'].split(':');
                                    }
                                    var nnhour = nhour+(nhour * (d2[2]-d1[2]));
                                   if(nnhour>total_time[0]){
                                       insufficient = true;
                                   }
     
                                }
                               
                            }
                             //console.log( value.title );
                    });
                        
                        
                     

                       if(empty_date){
                           toastr.error('Make sure all date(s) are not empty');
                       }else if(incorrect_date){
                           toastr.error('Make sure all date(s) are correctly formatted');
                       }else if(empty_title && this.event_status=='holiday'){
                           toastr.error('Make sure all title(s) are not empty');
                       }else if(empty_reason && this.event_status!='holiday'){
                           toastr.error('Make sure all reason(s) are not empty');
                       }else if(!timefrom || !timeto){
                           toastr.error('Make sure all time are valid');
                       }else if(noschedule){
                           toastr.error('Please make sure that you are registered to the schedule table');
                       }else if(insufficient){
                           toastr.error('Your requested total time is more then your the time limit');
                       }else if(!sameyear){
                           toastr.error('Invalid year');
                       }else if(locked){
                           toastr.error('You cannot apply for leave until '+timeremains['_locked_until']);
                       }else{
                           if(notcomparetime){
                               toastr.error('Start time cannot be ahead from end time, Make sure the time format is 24 hrs');
                        //    }else if(lacktimeannual){
                        //        toastr.error('Annual leave application must be 720 hours ahead from the leave date');
                        //    }else if(lacktimesick){
                        //        toastr.error('Sick leave application must be 72 hours before or after the leave date');
                        //    }else if(lacktimeleave){
                        //        toastr.error('Leave with permission application must be 72 hours before or after the leave date');
                           }else{
                                axios.post('/visa/payroll/post-holiday',{
                                            method:this.event_status,
                                            type:this.leave_type,
                                            inputs:this.inputs,
                                            hour:nhour,
                                            min:nmin
                                        }).then(response => {
                                            //console.log(response.data.success);
                                            $('#myModal4').modal('toggle');
                                            if(response.data.success){
                                                    this.getHolidays();
                                                
                                                    swal({
                                                            title: "Success",
                                                            text: response.data.message
                                                    });
                                            }else{
                                                swal({
                                                            title: "Error",
                                                            text: response.data.message
                                                    });
                                            }
                                });
                           }
                            
                       }
                    
                }
            },
            postHoliday(){
                var flag = false;
                if(this.holiday_from.search("-")<0){
                    this.holiday_from = [this.holiday_from .slice(0, 4), '-', this.holiday_from .slice(4)].join('');
                    this.holiday_from = [this.holiday_from .slice(0, 7), '-', this.holiday_from .slice(7)].join('');
                }
                if(this.holiday_to.search("-")<0){
                    this.holiday_to = [this.holiday_to .slice(0, 4), '-', this.holiday_to .slice(4)].join('');
                    this.holiday_to = [this.holiday_to .slice(0, 7), '-', this.holiday_to .slice(7)].join('');
                }
                if(this.leave_type=='Consume OT'){this.holiday_to = this.holiday_from}
                if(this.holiday_from=='' || this.holiday_to=='' || this.holiday_title=='' || this._rate=='' && this.event_status=='holiday'){
                    toastr.error('Make sure all fields are not empty');
                }else if(this.holiday_from=='' || this.holiday_to=='' || this.holiday_title=='' || this.reason=='' && this.event_status=='leave'){
                     toastr.error('Make sure all fields are not empty');
                }else{
                    if(!this.isValidDate(this.holiday_from)){
                        toastr.error('Date from is invalid');
                    }else  if(!this.isValidDate(this.holiday_to)){
                        toastr.error('Date to is invalid');
                    }else{
                        var dt = new Date();
                        var yr_from = this.holiday_from.split('-');
                        var yr_to = this.holiday_to.split('-');
                        if(yr_from[0] != yr_to[0]){
                            toastr.error('Event year did not match');
                        }else{
                            
                            var day_count = this.getNumberOfWorkingDays(this.holiday_from.replace("-", "/"),this.holiday_to.replace("-", "/"));
                             
                            if(day_count<=0 && this.event_status!='holiday'){
                                toastr.error('Please make sure that date from is not ahead from date to or the dates are weekends');
                            }else{
                                if(day_count>5){
                                    //warning for more than 5 days holiday
                                    $('#myModal4').modal('toggle');
                                   swal({
                                        title: 'Are you sure?',
                                        text: "You are filing holiday more than 5 working days",
                                        type: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'Yes, delete it!'
                                        }).then((res) => {
                                            if(res){
                                               axios.post('/visa/payroll/post-holiday',{
                                                    method:this.event_status,
                                                    start_date:this.holiday_from,
                                                    end_date:this.holiday_to,
                                                    event_title:this.holiday_title,
                                                    day_count:day_count,
                                                    type:this.leave_type,
                                                    number_of_hours:this.number_of_hours,
                                                    reason:this.reason,
                                                    rate:$('#rate').val()
                                                }).then(response => {
                                                    if(response.data.success){
                                                        this.getHolidays();
                                                       swal({
                                                                title: "Success",
                                                                text: response.data.message
                                                        });
                                                    }else{
                                                          swal({
                                                                    title: "Error",
                                                                    text: response.data.message
                                                            });
                                                    }
                                                    
                                                });
                                            }
                                        }).catch(swal.noop);
                                   
                                }else{
                                   axios.post('/visa/payroll/post-holiday',{
                                        method:this.event_status,
                                        start_date:this.holiday_from,
                                        end_date:this.holiday_to,
                                        event_title:this.holiday_title,
                                        day_count:day_count,
                                        type:this.leave_type,
                                        number_of_hours:this.number_of_hours,
                                        reason:this.reason,
                                        rate:$('#rate').val()
                                    }).then(response => {
                                        console.log(response.data.success);
                                        $('#myModal4').modal('toggle');
                                         if(response.data.success){
                                                this.getHolidays();
                                            
                                                swal({
                                                        title: "Success",
                                                        text: response.data.message
                                                });
                                        }else{
                                              swal({
                                                        title: "Error",
                                                        text: response.data.message
                                                });
                                        }
                                    });
                                }                         
                               
                            }
                        }
                    }
                }
            },
           
            getNumberOfWorkingDays(dDate1, dDate2){ // input given as Date objects
                var holidays = [];
                var startDate = new Date(dDate1);
                var endDate = new Date(dDate2);  
                // Validate input
                if (endDate < startDate) {
                    return 0;
                }
                // Calculate days between dates
                var millisecondsPerDay = 86400 * 1000; // Day in milliseconds
                startDate.setHours(0,0,0,1);  // Start just after midnight
                endDate.setHours(23,59,59,999);  // End just before midnight
                var diff = endDate - startDate;  // Milliseconds between datetime objects    
                var days = Math.ceil(diff / millisecondsPerDay);
                
                // Subtract two weekend days for every week in between
                var weeks = Math.floor(days / 7);
                days -= weeks * 2;

                // Handle special cases
                var startDay = startDate.getDay();
                var endDay = endDate.getDay();
                
                // Remove weekend not previously removed.   
                if (startDay - endDay > 1) {
                    days -= 2;
                }
                // Remove start day if span starts on Sunday but ends before Saturday
                if (startDay == 0 && endDay != 6) {
                    days--;  
                }
                // Remove end day if span ends on Saturday but starts after Sunday
                if (endDay == 6 && startDay != 0) {
                    days--;
                }
                /* Here is the code */
                for (var i in holidays) {
                    if ((holidays[i] >= d0) && (holidays[i] <= d1)) {
                        days--;
                    }
                }
                //return (daysx>5 && status=='working_days') ? days + this.getSaturdays(startDate,endDate) : days;
                return days;
            },
           
            
            leapyear(year){
                return (year % 100 === 0) ? (year % 400 === 0) : (year % 4 === 0);
            },
           
            getHolidays(){
                   var monthNames=["January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December"
                     ];
                    axios.get('/visa/payroll/get-holidays',{
                        params: {
                            year: this.year_added,
                        }
                    }).then(response => {
                    this.holidays = response.data.list;
                    this.pending = response.data.pending;
                    this.time_remaining = response.data.timeremain;
                    this.schedule = response.data.schedule;
                    //console.log(this.time_remaining );
                       $.each( this.holidays, function( key, value ) { 
                           var sd = new Date(value.start_date);
                           var ed = new Date(value.end_date);
                           var mmonth = monthNames[parseInt(sd.getMonth())];
                           var mday1 = value.start_date.split('-');
                           var mday2 = value.end_date.split('-');
                           var nmday1 = mday1[2];
                           var nmday2 = mday2[2];
                           var nmyear = mday1[0];
                            for(var i=parseInt(nmday1);i<=parseInt(nmday2);i++){
                                var checkHol = $('#'+mmonth+'_'+i+'_'+nmyear+' span').hasClass('holiday');
                                
                                var mclass = (value.type=='Holiday' ? 'holiday':'leave');
                                mclass = (value.type=='Consume OT') ? 'consume-ot' : mclass;
                                mclass = (value.approval=='Pending') ? 'pending' : mclass;
                                var name = (value.type!='Holiday')? "<code>"+value.users.full_name+"</code><br>" : "";
                                var consume_ot = (value.type=='Consume OT') ? '<br>'+value.hour_count+' Hour(s)' : '';
                                var attr = $('#'+mmonth+'_'+i+'_'+nmyear+' span').attr('data-toggle');
                                // For some browsers, `attr` is undefined; for others, `attr` is false. Check for both.
                                if (typeof attr !== typeof undefined && attr !== false && !checkHol) {
                                    var title =  $('#'+mmonth+'_'+i+'_'+nmyear+' span').attr('title');
                                        title = title+'<hr>'+name+''+value.type+((value.type=='Holiday') ? '<br><u>'+value.title+'</u>' : '')+consume_ot+'<br>'+value.approval+'<br>'+value.status;
                                        $('#'+mmonth+'_'+i+'_'+nmyear+' span').attr('title',title);
                                        
                                }else{
                                    $('#'+mmonth+'_'+i+'_'+nmyear).addClass( mclass );
                                    $('#'+mmonth+'_'+i+'_'+nmyear+' span').attr('data-toggle', 'tooltip');
                                    $('#'+mmonth+'_'+i+'_'+nmyear+' span').attr('data-html', 'true');
                                    $('#'+mmonth+'_'+i+'_'+nmyear+' span').attr('title', name+''+value.type+((value.type=='Holiday') ? '<br><u>'+value.title+'</u>' : '')+consume_ot+'<br>'+value.approval+'<br>'+value.status);
                                }
                            }
                        });
                 })
            },
        },
        created(){
          this.getHolidays(); 
          
        },
       
      
       
   }
</script>
<style scoped>
    
    .holiday{
        background-color:#EDE493;
    }
    .leave{
        background-color: orange;
    }
    .tooltip {
        text-align:left;
    }
    .modal-body{
        background-color: #FFFFFF;
    }
    .weekend{
        color:red;
    }
    .pending{
        background-color:#93C3ED;

    }
    .consume-ot{
         background-color:#FFC0CB;
    }
    .pending-container{
        max-height: 300px;
        overflow: auto;
    }
    .border-less{
        background-color: white;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    
</style>
