<template>
	
	<div>
		
		<form id="delivery-sched-form" class="form-inline" @submit.prevent="filterSched('form')">
		    <div class="form-group">
		        <div class="input-daterange input-group" id="delivery-scheds-datepicker">
		            <input type="text" class="input-sm form-control" name="delivery-sched-date" autocomplete="off" />
		        </div>
		    </div>
		    
		    <div class="form-group">
		        <button type="submit" class="btn btn-primary" style="line-height: 1.2;">
		            <strong>{{ (this.translation) ? this.translation['filter'] : 'Filter' }}</strong>
		        </button>
		    </div>
			<button id="add_schedule" class="btn btn-warning" style="line-height: 1.2; margin-left: 2px;" type="button" @click="showScheduleModal('add', '')">{{ (this.translation) ? this.translation['add-schedule'] : 'Add Schedule' }}</button>

			<button @click="filterSched('today')" class="btn btn-primary btn-filter" :class="{'btn-outline' : activeButton!='today'}" style="margin-right: 2px;" type="button">{{ (this.translation) ? this.translation['today'] : 'Today' }}</button>

			<button @click="filterSched('tomorrow')" class="btn btn-primary btn-filter" :class="{'btn-outline' : activeButton!='yesterday'}" style="margin-right: 2px;" type="button">{{ (this.translation) ? this.translation['tomorrow'] : 'Tomorrow' }}</button>
		</form>

		<div style="height:20px; clear:both;"></div>

    	<table id="deliverySchedule" class="table table-striped table-bordered table-hover dataTables-example">
	        <thead>
	            <tr>
	                <th>{{ (this.translation) ? this.translation['item'] : 'Item' }}</th>
	                <th>{{ (this.translation) ? this.translation['schedule'] : 'Schedule' }}</th>
	                <th>{{ (this.translation) ? this.translation['location'] : 'Location' }}</th>
	                <th>{{ (this.translation) ? this.translation['rider'] : 'Rider' }}</th>
	                <th>{{ (this.translation) ? this.translation['action'] : 'Action' }}</th>         
	            </tr>
	        </thead>
	            <tbody>
	            	<tr v-for="ds in deliverySchedules" v-cloak>
	            		<td>{{ ds.item }}</td>
						<td>{{ ds.scheduled_date }} {{ ds.scheduled_time}}</td>
						<td>{{ ds.location }}</td>
						<td><span>{{ ds.rider.full_name }}</span></td>
						<td>
							<a @click="showScheduleModal('edit', ds.id)">
								{{ (this.translation) ? this.translation['edit'] : 'Edit' }}
							</a> 
							| 
							<a @click="$parent.showDeleteSchedPrompt(ds.id)">
								{{ (this.translation) ? this.translation['delete'] : 'Delete' }}
							</a>
						</td>         
	            	</tr>
	            	    
	            </tbody>                  
	    </table>

	</div>

</template>

<script>
	
	export default {
		data() {
			return {
				translation: null,

				activeButton: 'today',

				dateFilter: '',

				deliverySchedules: []
			}
		},

		methods: {
			getTranslation() {
				if(window.Laravel.language == 'cn'){
					axios.get('/visa/home/translation/delivery-schedule')
		               .then(response => {
		                   this.translation = response.data.translation;
		               });
		           }
			},

			formatDatePickerValue(value) {
				let datePickerValue = value.split('/');

				return datePickerValue[2] + '-' + datePickerValue[0] + '-' + datePickerValue[1];
			},

			showScheduleModal(val, id){
	            if(val == "add"){
	                $('#addScheduleModal').modal('toggle');
	                this.$parent.mode = "Add";
	            }else if(val == "edit"){
	                axios.post('/visa/home/getSched/'+ id) 
	                .then(result => {
	                    this.$parent.addSchedule = new Form ({
	                        id              :result.data.id,
	                        item            :result.data.item,
	                        rider_id        :result.data.rider_id,
	                        location        :result.data.location,
	                        scheduled_date  :this.formatDateYMD(result.data.scheduled_date),
	                        scheduled_time  :result.data.scheduled_time
	                    },{ baseURL: '/visa/home/'});
	                    this.$parent.dt = result.data.scheduled_date;
	                    this.$parent.scheduled_hour = this.getHour(result.data.scheduled_time);
	                    this.$parent.scheduled_minute = this.getMinute(result.data.scheduled_time);
	                    //$('form#frm_deliverysched input[name=date]').val(result.data.scheduled_date);
	                    this.$parent.mode = "Edit";
	                });
	                $('#addScheduleModal').modal('toggle');
	            }
	        },

	        //YYYY-MM-DD
			formatDateYMD(value) {
				let date = value.split('/');
				let newDate = date[2] + '-' + date[0] + '-' + date[1];

				return newDate;
			},

			//mm/dd/yyyy
			formatDateMDY(value) {
				let date = value.split('-');
				let newDate = date[1] + '/' + date[2] + '/' + date[0];

				return newDate;
			},

			alwaysTwoDigit(value){
				if (value.toString().length == 1) {
		            value = "0" + value;
		        }
		        return value;
			},

			getHour(value){
				let time = value.split(':');
		        return time[0];
			},

			getMinute(value){
				let time = value.split(':');
		        return time[1];
			},

			filterSched(date) {
				if(date == 'form') {
					let datePickerValue = $('form#delivery-sched-form input[name=delivery-sched-date]').val();

					if(datePickerValue == '') {
						datePickerValue = moment().format('MM/DD/YYYY');
					} else {
						datePickerValue = datePickerValue;
					}

					this.dateFilter = datePickerValue;
				} else {
					this.activeButton = date;

					if(date == 'today')
						this.dateFilter = moment().format('MM/DD/YYYY');
					else if(date == 'tomorrow')
						this.dateFilter = moment(new Date()).add(+1,'days').format('MM/DD/YYYY');

					$('form#delivery-sched-form input[name=delivery-sched-date]').val(this.dateFilter);
				}

				axios.get('/visa/home/getSchedulesbyDate', {
	                params: {
	                	dateFilter: this.dateFilter
	                }
	            })
	            .then(response => {
	            	let { success, schedules } = response.data;

	            	if(success) {
	            		$('#deliverySchedule').DataTable().destroy();

	            		this.deliverySchedules = schedules;

	            		setTimeout(() => {
	            			$('#deliverySchedule').DataTable({
		                        responsive: true,
		                        autoWidth: false,
		                        "columnDefs": [
			                            { "width": "25%", "targets": 1 }
			                        ],
		                        "lengthMenu": [[10, 25, 50], [10, 25, 50]],
		                        "iDisplayLength": 10
		                    });

		                    $(function () {
		                      	$('[data-toggle="tooltip"]').tooltip()
		                    });
	            		}, 1000);
	            	}
	            });
			}
		},

		created() {
			this.getTranslation();

			this.filterSched('today');
		},

		mounted() {
			$('#delivery-scheds-datepicker').datepicker({
                format:'mm/dd/yyyy',
                todayHighlight: true
            });
		}
	}

</script>

<style scoped>
	form button.btn-filter {
		float: right;
		line-height: 1.2; 
		margin-top: 5px;
	}
</style>