
<template>


	<form class="form-horizontal" @submit.prevent="editWho">

		<div class="form-group">
    		<label class="col-sm-2 control-label">Employee</label>
    		<div class="col-sm-10">
      			<select class="form-control" v-model="employeeId">
      				<option v-for="employee in employees" :value="employee.id">{{ employee.full_name }}</option>
      			</select>
    		</div>
  		</div>

  		<div class="form-group">
      		<button v-if="!loading" type="submit" class="btn btn-primary pull-right">Edit</button>

	    	<button v-if="loading" type="button" class="btn btn-primary pull-right">
	            <div class="sk-spinner sk-spinner-wave" style="width:40px; height:20px;">
	                <div class="sk-rect1 sk-react"></div>
	                <div class="sk-rect2 sk-react"></div>
	                <div class="sk-rect3 sk-react"></div>
	                <div class="sk-rect4 sk-react"></div>
	                <div class="sk-rect5 sk-react"></div>
	             </div>
	        </button>
  		</div>

	</form>

</template>

<script>

	export default {
		props: ['employees'],

		data() {
			return {
				loading: false,

				taskId: null,

				employeeId: null
			}
		},

		methods: {
			editWho() {
				if(this.employeeId == null) {
					toastr.error('Employee field is required.');
				} else {
					this.loading = true;

					axios.patch('/visa/task/' + this.taskId + '/update-who', {
					    employeeId: this.employeeId
					})
					.then(response => {
					   	let { success, message } = response.data;

					    if(success) {
					    	this.loading = false;
					    	
					    	this.taskId = null;
					    	this.employeeId = null;

					    	$('#editWhoModal').modal('hide');

					    	toastr.success(message);

					    	this.$parent.$parent.$refs.todaystasksv2.filterTasks();
					    }
					});
				}
			}
		}
	}

</script>

<style scoped>
	div.sk-react {
		background-color: #ffffff;
	}
</style>
