<template>
	
	<div>

		<ul class="connectList agile-list ui-sortable" style="padding:0;">

	        <li v-for="tag in laravelData.data" :key="tag.id" v-if="tag.visa_type == '9A' || ( (tag.visa_type == '9G' || tag.visa_type == 'TRV' || tag.visa_type == 'CWV') && tag.three_days )">
	           	<div class="feed-element">
	                <a :href="'/visa/client/' + tag.id" class="pull-left" target="_blank">
	                    <img alt="image" class="img-circle" :src="tag.avatar">
	                </a>
	                <div class="media-body ">
	                    <strong>
	                        <a :href="'/visa/client/' + tag.id" class="pull-left" target="_blank">
	                           	{{ tag.first_name + ' ' + tag.last_name }}
	                        </a>
	                    </strong>
	                    <br>
	                    <small class="text-muted">
	                    	{{ (translation) ? translation['client-id'] : 'Client ID' }}:
	                    	{{ tag.id }}
	                    </small>
	                    <div style="margin-top: 10px;">
	                        <span v-if="tag.visa_type == '9A'"> <!-- 9A -->
	                        	<div>
	                        		<strong>{{ (translation) ? translation['type'] : 'Type' }}:</strong> 
	                        		{{ tag.visa_type }}
	                        	</div>
	                        	<div>
	                        		<strong>
	                        			{{ (translation) ? translation['expiration-date'] : 'Expiration Date' }}:
	                        		</strong> 
	                        		{{ (tag.exp_date) ? tag.exp_date : tag.first_exp_date }}
	                        	</div>
	                        </span>

	                        <span v-if="tag.visa_type == '9G' || tag.visa_type == 'TRV'"> <!-- 9G or TRV -->
	                        	<div>
	                        		<strong>{{ (translation) ? translation['type'] : 'Type' }}:</strong> 
	                        		{{ tag.visa_type }}
	                        	</div>
	                        	<div v-if="tag.exp_date">
	                        		<strong>
	                        			{{ (translation) ? translation['expiration-date'] : 'Expiration Date' }}:
	                        		</strong> 
	                        		{{ tag.exp_date }}
	                        	</div>
	                        	<span v-if="tag.icard_exp_date">
	                        		<div>
	                        			<strong>
	                        				{{ (translation) ? translation['icard-expiration'] : 'ICard Expiration' }}:
	                        			</strong> 
	                        			{{ tag.icard_exp_date }}
	                        		</div>
	                        	</span>
	                        </span>
	                        
	                        <span v-if="tag.visa_type == 'CWV'"> <!-- CWV -->
	                        	<div>
	                        		<strong>{{ (translation) ? translation['type'] : 'Type' }}:</strong> 
	                        		{{ tag.visa_type }}
	                        	</div>
	                        	<div>
	                        		<strong>
	                        			{{ (translation) ? translation['expiration-date'] : 'Expiration Date' }}:
	                        		</strong> 
	                        		{{ tag.exp_date }}
	                        	</div>
	                        </span>
	                    </div>
	                </div>
	            </div>
	        </li>

	    </ul>

	    <div class="text-center">
	       	<pagination :data="laravelData" @pagination-change-page="getResults"></pagination>
	    </div>

    </div>

</template>

<script>

	export default {
		props: ['translation'],

		data() {
            return {
                laravelData: {},
            }
        },

		methods: {
			getResults(page) {
                if(typeof page === 'undefined') {
                    page = 1;
                }

                axios.get('/visa/home/get-reminders?page=' + page)
		            .then(response => {
		            	this.laravelData = response.data;
		            });
            }
		},

		created() {
			this.getResults();
		}
	}

</script>