<template>
	
	<div>

		<div class="social-feed-box">
			<div v-if="client" class="social-avatar">
				<a href="javascript:void(0)" class="pull-left">
				    <img :src="client.avatar">
				</a>
				<div class="media-body">
				    <a href="javascript:void(0)">
				        {{ client.full_name }}
				    </a>
				    <small class="text-muted">Client ID: {{ client.id }}</small>
				</div>
			</div>

			<div class="social-body">
				<div v-if="tasks.length > 0" class="activity-stream">
					<div v-for="task in tasks" class="stream">
                        <div class="stream-badge">
                            <i class="fa fa-circle"></i>
                        </div>
                        <div class="stream-panel">
                        
                        	<strong>{{ task.client_service.service_category.detail }}</strong> 
			                with an estimated cost of <strong>{{ task.estimated_cost }}</strong>,
							<span style="text-transform: lowercase;">{{ task.status }}</span> in {{ task.where_to_file }}
							by {{ task.who_is_in_charge_relation.full_name }}
							on {{ (task.custom_date) ? task.custom_date : task.date }}.

                        </div>
                    </div>
				</div>
			</div>
		</div>

	</div>

</template>

<script>
	export default {
		data() {
			return {
				tasks: [],
				client: null
			}
		},

		methods: {
			loadHistory(clientServiceId, client) {
				this.tasks = [];
				this.client = client;

				axios.get('/visa/task/history/'+clientServiceId)
		            .then(response => {
		            	this.tasks = response.data;
		            });
			}
		}
	}
</script>