<template>
	
	<div>

		<form id="todays-tasks-v2-form" class="form-inline" @submit.prevent="filterTasks">
		    <div class="form-group">
		    	<label for="exampleInputName2">{{ (translation) ? translation['date'] : 'Date' }}:</label>
			    <div class="input-daterange input-group" id="todays-task-v2-datepicker">
			        <input type="text" class="input-sm form-control" name="todays-task-v2-date" autocomplete="off" />
			    </div>
		    </div>

		    <div class="form-group">
		    	<label for="exampleInputName2">{{ (translation) ? translation['employee'] : 'Employee' }}:</label>
		    	<br>
		        <select class="form-control" v-model="employeeFilter">
		        	<option value="All">{{ (translation) ? translation['all'] : 'All' }}</option>
		        	<option v-for="employee in employees" :value="employee.id">{{ employee.full_name }}</option>
		        </select>
		    </div>
		    
		    <div class="form-group" style="margin-top:23px;">
		        <button type="submit" class="btn btn-primary" style="line-height:1.2;margin-top:5px;">
		            <strong>{{ (translation) ? translation['filter'] : 'Filter' }}</strong>
		        </button>
		    </div>
		</form>

		<div style="height:10px;clear:both;"></div>

		<div class="wrapper wrapper-content">
            <div class="row">

            	<div v-for="task in tasks" class="col-lg-12">

					<div v-if="task.data.length > 0" class="ibox">
		                <div class="ibox-content row">
		                	<div class="col-md-4"></div>
		                	<div class="col-md-4">
		                		<h3 class="m-b-xxs">{{ parseDate(task.date) }}</h3>
		                	</div>
		                	<div class="col-md-4">
		                		<h5 class="pull-right">
		                			{{ (translation) ? translation['total-estimated-cost'] : 'Total Estimated Cost' }}: 
		                			{{ task.estimatedCostPerDay }}
		                		</h5>
		                	</div>
		                </div>
		            </div> <!-- ibox -->

		            <div v-for="d in task.data" class="social-feed-box">
		            	<div class="row">

		            		<div class="col-md-2">
		            			<div class="social-avatar">
					                <a :href="'/visa/client/' + d.userId" target="_blank" style="display:block;text-align:center;">
					                    <img :src="d.avatar" style="margin-right:0px;">
					                </a>
					                <div class="media-body" style="text-align:center;">
					                	<div>
						                    <a :href="'/visa/client/' + d.userId" target="_blank" class="client-name">
						                        {{ d.userFullName }}
						                    </a>
					                    </div>
					                    <small class="text-muted client-id">
					                    	{{ (translation) ? translation['client-id'] : 'Client ID' }}: 
					                    	{{ d.userId }}
					                    </small>
					                </div>
					            </div>
		            		</div> <!-- col-md-2 -->

		            		<div class="col-md-8">
		            			<div class="social-body">
					                <div class="activity-stream">
										<div class="stream">
					                        <div class="stream-badge">
					                            <i class="fa fa-circle"></i>
					                        </div>
					                        <div class="stream-panel">

					                        	<strong>{{ d.serviceDetail }}</strong> 

						                        {{ (translation) ? translation['with-an-estimated-cost-of'] : 'with an estimated cost of' }} <strong>{{ d.estimatedCost }}</strong>,
												<span style="text-transform: lowercase;">{{ d.status }}</span> in {{ d.whereToFile }}

												by

												<span v-if="authorizedToEditWho">
													<a href="#" data-toggle="tooltip" data-placement="right" title="Edit" @click="editWho(d.id, d.whoIsInChargeId)">
														{{ d.whoIsInChargeFullName }}	
														<i class="fa fa-pencil"></i>
													</a>
												</span>
												<span v-else>
													{{ d.whoIsInChargeFullName }}
												</span>

												on {{ (d.customDate) ? d.customDate : d.date }}.

					                        </div>
					                    </div>
					                </div>
					            </div>
		            		</div> <!-- col-md-8 -->

		            		<div class="col-md-2">
		            			<div class="social-avatar">
		            				<div class="media-body">
		            					<span class="label label-primary estimated-cost pull-right">
					                    	{{ (translation) ? translation['estimated-cost'] : 'Estimated Cost' }}:
					                    	{{ d.estimatedCost }}
					                    </span>
		            				</div>
		            			</div>
		            		</div> <!-- col-md-2 -->

		            	</div>
		            </div> <!-- social-feed-box -->

		        </div>

            </div> <!-- row -->
        </div> <!-- wrapper -->
		
		<div class="row">
	        <infinite-loading :on-infinite="infiniteHandler" :distance="1" force-use-infinite-wrapper="true" ref="infiniteLoading">
	        	<span slot="no-results">
				  	-- {{ (translation) ? translation['no-results'] : 'No results' }} --
				</span>
				<span slot="no-more">
				  	-- {{ (translation) ? translation['no-more-data'] : 'No more data' }} --
				</span>
	        </infinite-loading>
        </div> <!-- row -->

	</div>

</template>

<script>
	
	export default {
		props: ['translation', 'employees'],

		data() {
			return {
				page: 1,

				dateFilter: moment().format('YYYY-MM-DD'),
				employeeFilter: 'All',

				tasks: [],

				authorizedToEditWho: false
			}
		},

		methods: {
			checkIfAuthorizedToEditWho() {
				let userId = window.Laravel.user.id;
				let userEmail = window.Laravel.user.email;

				if(
					userId == 1193 || userEmail == 'jason.tan656@gmail.com' 
					|| userId == 2352 || userEmail == 'ronnie.zhao656@gmail.com'
					|| userId == 7 || userEmail == 'rochelle.marieseno656@gmail.com'
				) { // Jason, Ronnie or Rochelle
					this.authorizedToEditWho = true;
				}
			},

			editWho(taskId, employeeId) {
				this.$parent.$refs.editwhoref.taskId = taskId;
				this.$parent.$refs.editwhoref.employeeId = employeeId;

				$('#editWhoModal').modal('show');
			},

			filterTasks() {
				this.page = 1;
				this.tasks = [];

				this.$nextTick(() => {
			        this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
			    });
			},

			infiniteHandler() {
                axios.get('/visa/home/get-todays-tasks?page='+this.page, {
	                params: {
	                	dateFilter: this.dateFilter,
	                	employeeFilter: this.employeeFilter
	                }
	            })
	            .then(response => {
	            	let { tasks, page } = response.data;

	            	if( tasks.length > 0 ) {
	            		if(parseInt(this.page) == parseInt(page)) {
	            			tasks.forEach((task, index) => {
			            		this.tasks.push(task);
			            	});

			            	this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');

			            	this.page++;
	            		}
	            	} else {
	            		this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
	            	}
                });	
			},

			formatDatePickerValue(value) {
				let datePickerValue = value.split('/');

				return datePickerValue[2] + '-' + datePickerValue[0] + '-' + datePickerValue[1];
			},

			formatDate(value) {
				let date = value.split('-');
				let newDate = date[1] + '/' + date[2] + '/' + date[0];

				return newDate;
			},

			parseDate(date) {
				return moment(date).format('MMMM DD, YYYY') + ' (' + moment(date).format('dddd') + ')';
			}
		},

		created() {
			this.checkIfAuthorizedToEditWho();
		},

		mounted() {
			$('#todays-task-v2-datepicker').datepicker({
                format:'mm/dd/yyyy',
                todayHighlight: true
            }).on('changeDate', (e) => {
			    let date = e.target.value;

			    this.dateFilter = this.formatDatePickerValue(date);
			});

            $('form#todays-tasks-v2-form input[name=todays-task-v2-date]').val( this.formatDate( this.dateFilter ) );
		}
	}

</script>

<style scoped>
	div.ibox-content {
		border: solid thin #1ab394;
		background-color: #f5f5f5;
	}
	a.client-name {
		display: inline;
	}
	small.client-id {
		display: block;
	}
	span.estimated-cost {
		font-size: 11px;
		white-space: normal;
	}
	.stream {
		padding: 5px 0;
	}
</style>