<template>

	<div>

		<form id="todays-services-form" class="form-inline" @submit.prevent="filterServices('form')">
		    <div class="form-group">
		        <div class="input-daterange input-group" id="todays-services-datepicker">
		            <input type="text" class="input-sm form-control" name="todays-service-date" autocomplete="off" />
		        </div>
		    </div>

		    <div class="form-group">
		        <button type="submit" class="btn btn-primary" style="line-height: 1.2;">
		            <strong>{{ (this.translation) ? this.translation['filter'] : 'Filter' }}</strong>
		        </button>
		    </div>

			<button @click="filterServices('today')" class="btn btn-primary btn-filter" :class="{'btn-outline' : activeButton!='today'}" style="margin-right: 2px;" type="button">{{ (this.translation) ? this.translation['today'] : 'Today' }}</button>

			<button @click="filterServices('yesterday')" class="btn btn-primary btn-filter" :class="{'btn-outline' : activeButton!='yesterday'}" style="margin-right: 2px;" type="button">{{ (this.translation) ? this.translation['yesterday'] : 'Yesterday' }}</button>
		</form>

		<div style="height:20px; clear:both;"></div>

    	<table id="todaysServicesTable" class="table table-striped table-bordered table-hover dataTables-example">
		    <thead>
		        <tr>
                <th>{{ (this.translation) ? this.translation['date'] : 'Date' }}</th>
				<th>{{ (this.translation) ? this.translation['name'] : 'Name' }}</th>
                <th>{{ (this.translation) ? this.translation['id'] : 'ID' }}</th>
                <th>{{ (this.translation) ? this.translation['package'] : 'Package' }}</th>
                <th style="width:30% !important">{{ (this.translation) ? this.translation['detail'] : 'Detail' }}</th>
                <th>{{ (this.translation) ? this.translation['cost'] : 'Cost' }}</th>
                <th>{{ (this.translation) ? this.translation['charge'] : 'Charge' }}</th>
				<!-- <th>Tip</th> -->
				<th style="width:5%">{{ (this.translation) ? this.translation['action'] : 'Action' }}</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr v-for="service in filServices">
		       		<td>{{ service.service_date }}</td>
		       		<td><span v-if="service.user!=null">{{ service.user.full_name }}</span>
						<a class="pull-right" href="#" data-toggle="popover" data-placement="top" data-container="body" :data-content="service.user.group_binded" data-trigger="hover" v-if="service.group_binded != ''">
							<b class="fa fa-user-circle group-icon m-r-2"></b>
						</a>
						<a class="pull-right" href="#" data-toggle="popover" data-placement="top" data-container="body" :data-content="'Unread Notifications : '+service.user.unread_notif" data-trigger="hover"  v-if="service.user.unread_notif > 0">
							<b class="fa fa-envelope unread-icon m-r-1"></b>
						</a>
						<a class="pull-right" href="#" data-toggle="popover" data-placement="top" data-container="body" data-content="App Installed by Client" data-trigger="hover"  v-if="service.user.binded">
							<b class="fa fa-mobile app-icon m-r-1"></b>
						</a>
					</td>
					<td><span v-if="service.user!=null">{{ service.user.id }}</span></td>
					<td>{{ service.tracking }}</td>
					<td style="width:30% !important">
						<a href="#" v-if="service.remarks!=''" data-toggle="popover" data-placement="right" data-container="body" :data-content="service.remarks" data-trigger="hover" >
			              {{ service.detail }}
			            </a>
			            <span v-else>{{ service.detail }}</span>
			        </td>
					<td>{{ totalCost(service.cost,service.tip) }}</td>
					<td>{{ service.charge }}</td>
					<!-- <td>{{ service.tip }}</td> -->
					<td class="text-center">
						<a href="#" data-toggle="modal" data-target="#editServiceModal" @click="$parent.setService(service)" v-cloak>
							<i class="fa fa-pencil-square-o"></i>
						</a>
						<a :href="'/visa/client/'+service.client_id" target="_blank" data-toggle="tooltip" data-placement="left" title="View client profile"><i class="fa fa-arrow-right"></i></a>
					</td>
		        </tr>
		    </tbody>
		</table>

	</div>

</template>

<script>
	export default {
	  props: ['mode'],
		data() {
			return {
				translation: null,
				activeButton: 'today',
				dateFilter: '',
				filServices: []
			}
		},

		methods: {
			getTranslation() {
				if(window.Laravel.language == 'cn'){
					axios.get('/visa/home/translation/todays-services')
		               .then(response => {
		                   this.translation = response.data.translation;
		               });
		           }
			},

			formatDatePickerValue(value) {
				let datePickerValue = value.split('/');

				return datePickerValue[2] + '-' + datePickerValue[0] + '-' + datePickerValue[1];
			},

			formatDate(value) {
				let date = value.split('-');
				let newDate = date[1] + '/' + date[2] + '/' + date[0];

				return newDate;
			},

			totalCost(cost,tip) {
				return (parseInt(cost) + parseInt(tip));
			},

			filterServices(date) {
				if(date == 'form') {
					let datePickerValue = $('form#todays-services-form input[name=todays-service-date]').val();

					if(datePickerValue == '') {
						datePickerValue = moment().format('MM/DD/YYYY');
					} else {
						datePickerValue = datePickerValue;
					}

					this.dateFilter = datePickerValue;
				} else {
					this.activeButton = date;

					if(date == 'today')
						this.dateFilter = moment().format('MM/DD/YYYY');
					else if(date == 'yesterday')
						this.dateFilter = moment(new Date()).add(-1,'days').format('MM/DD/YYYY');

					$('form#todays-services-form input[name=todays-service-date]').val(this.dateFilter);
				}

				  axios.get('/visa/client-services/get-service-by-date', {
	                params: {
	                	dateFilter: this.dateFilter
	                }
	            })
	            .then(response => {
	            	let { success, services } = response.data;

	            	if(success) {
	            		$('#todaysServicesTable').DataTable().destroy();

	            		this.filServices = services;

	            		setTimeout(() => {

	            			$('#todaysServicesTable').DataTable({
		                        responsive: true,
		                        autoWidth: false,
		                        "columnDefs": [
			                            { "width": "25%", "targets": 1 }
			                        ],
		                        "lengthMenu": [[10, 25, 50], [10, 25, 50]],
		                        "iDisplayLength": 10
		                    });

		                    $(function () {
		                      	$('[data-toggle="tooltip"]').tooltip()
		                    });

	            		}, 1000);
	            	}
	            });
			}
		},

		created() {
			this.getTranslation();
			this.filterServices(this.mode);

		},

		mounted() {

			$('#todays-services-datepicker').datepicker({
                format:'mm/dd/yyyy',
                todayHighlight: true
            });
		}
	}

</script>

<style scoped>
	form button.btn-filter {
		float: right;
		line-height: 1.2;
		margin-top: 5px;
	}
</style>
