<template>

	<div>

		<form id="todays-tasks-form" class="form-inline" @submit.prevent="filterTasks">
		    <div class="form-group">
		    	<label for="exampleInputName2">{{ (translation) ? translation['date'] : 'Date' }}:</label>
			    <div class="input-daterange input-group" id="todays-task-datepicker">
			        <input type="text" class="input-sm form-control" name="todays-task-date" autocomplete="off" />
			    </div>
		    </div>

		    <div class="form-group">
		    	<label for="exampleInputName2">{{ (translation) ? translation['employee'] : 'Employee' }}:</label>
		    	<br>
		        <select class="form-control" v-model="employeeFilter">
		        	<option value="All">{{ (translation) ? translation['all'] : 'All' }}</option>
		        	<option v-for="employee in employees" :value="employee.id">{{ employee.full_name }}</option>
		        </select>
		    </div>

		    <div class="form-group" style="margin-top:23px;">
		        <button type="submit" class="btn btn-primary" style="line-height:1.2;margin-top:5px;" :disabled="isDisabledButton">
		            <strong>{{ (translation) ? translation['filter'] : 'Filter' }}</strong>
		        </button>
		    </div>
		</form>

		<div style="height:10px;clear:both;"></div>

		<div class="wrapper wrapper-content">
            <div class="row">

            	<div class="col-lg-4 col-lg-offset-4 text-center">
            		<button type="button" class="btn btn-w-m btn-link load-previous-dates" @click="filterTasks('previous')" :disabled="isDisabledLink">
            			{{ (translation) ? translation['load-previous-dates'] : 'Load Previous Dates' }}
            		</button>
            	</div>

            	<div style="height:20px;clear:both"></div>

				<div v-for="task in tasks" class="col-lg-12">

					<div class="ibox">
		                <div class="ibox-content row">
		                	<div class="col-md-4"></div>
		                	<div class="col-md-4">
		                		<h3 class="m-b-xxs">{{ parseDate(task.date) }}</h3>
		                	</div>
		                	<div class="col-md-4">
		                		<h5 class="pull-right">
		                			{{ (translation) ? translation['total-estimated-cost'] : 'Total Estimated Cost' }}:
		                			{{ task.estimatedCostPerDay }}
		                		</h5>
		                	</div>
		                </div>
		            </div> <!-- ibox -->

		            <div v-for="(value, key, index) in task.data" class="social-feed-box">

		            	<div class="row">
		            		<div class="col-md-2">
		            			<div class="social-avatar">
					                <a :href="'/visa/client/' + value[0].client_service.user.id" target="_blank" style="display:block;text-align:center;">
					                    <img :src="value[0].client_service.user.avatar" style="margin-right:0px;">
					                </a>
					                <div class="media-body" style="text-align:center;">
					                	<div>
						                    <a :href="'/visa/client/' + value[0].client_service.user.id" target="_blank" class="client-name">
						                        {{ value[0].client_service.user.full_name }}
						                    </a>
					                    </div>
					                    <small class="text-muted client-id">
					                    	{{ (translation) ? translation['client-id'] : 'Client ID' }}:
					                    	{{ value[0].client_service.user.id }}
					                    </small>
					                </div>
					            </div>
		            		</div> <!-- col-md-2 -->

		            		<div class="col-md-8">
		            			<div class="social-body">
					                <div class="activity-stream">
										<div v-for="t in value" class="stream">
					                        <div class="stream-badge">
					                            <i class="fa fa-circle"></i>
					                        </div>
					                        <div class="stream-panel">

					                        	<strong>{{ t.client_service.service_category.detail }}</strong> 
						                        <!-- (<a href="javascript:void(0)" @click="viewHistory(t.client_service_id, t.client_service.service_category.detail, t.client_service.user)">View History</a>) -->
						                        {{ (translation) ? translation['with-an-estimated-cost-of'] : 'with an estimated cost of' }} <strong>{{ t.estimated_cost }}</strong>,
												<span style="text-transform: lowercase;">{{ t.status }}</span> in {{ t.where_to_file }}
												by
												<span v-if="authorizedToEditWho">
													<a href="#" data-toggle="tooltip" data-placement="right" title="Edit" @click="editWho(t.id, t.who_is_in_charge_relation.id)">
														{{ t.who_is_in_charge_relation.full_name }}	<i class="fa fa-pencil"></i>
													</a>
												</span>
												<span v-else>
													{{ t.who_is_in_charge_relation.full_name }}
												</span>
												on {{ (t.custom_date) ? t.custom_date : t.date }}.

					                        </div>
					                    </div>
					                </div> <!-- activity-stream -->
					            </div> <!-- social-body -->
		            		</div> <!-- col-md-8 -->

		            		<div class="col-md-2">
		            			<div class="social-avatar">
		            				<div class="media-body">
		            					<span class="label label-primary estimated-cost pull-right">
					                    	{{ (translation) ? translation['estimated-cost'] : 'Estimated Cost' }}:
					                    	{{ getEstimatedCost(value) }}
					                    </span>
		            				</div>
		            			</div>
		            		</div> <!-- col-md-2 -->
		            	</div> <!-- row -->

			        </div> <!-- social-feed-box -->

				</div>

			</div>
		</div>

        <div class="row">
	        <infinite-loading :on-infinite="infiniteHandler" force-use-infinite-wrapper="true" ref="infiniteLoading">
	        	<span slot="no-results">
				  	-- {{ (translation) ? translation['no-results'] : 'No results' }} --
				</span>
				<span slot="no-more">
				  	-- {{ (translation) ? translation['no-more-data'] : 'No more data' }} --
				</span>
	        </infinite-loading>
        </div>

	</div>

</template>

<script>

	export default {
		props: ['translation'],

		data() {
			return {
				isDisabledButton: false,
				isDisabledLink: false,

				page: 1,

				dateFilter: moment().format('YYYY-MM-DD'),
				employeeFilter: 'All',

				employees: [],

				tasks: [],

				authorizedToEditWho: false,
				taskId: null
			}
		},

		methods: {
			parseDate(date) {
				return moment(date).format('MMMM DD, YYYY') + ' (' + moment(date).format('dddd') + ')';
			},

			formatDatePickerValue(value) {
				let datePickerValue = value.split('/');

				return datePickerValue[2] + '-' + datePickerValue[0] + '-' + datePickerValue[1];
			},

			formatDate(value) {
				let date = value.split('-');
				let newDate = date[1] + '/' + date[2] + '/' + date[0];

				return newDate;
			},

			getEmployees() {
				axios.get('/emp')
					.then(response => {
						this.employees = response.data;
					});
			},

			checkIfAuthorizedToEditWho() {
				let userId = window.Laravel.user.id;
				let userEmail = window.Laravel.user.email;

				if(
					userId == 1193 || userEmail == 'jason.tan656@gmail.com'
					|| userId == 2352 || userEmail == 'ronnie.zhao656@gmail.com'
					|| userId == 7 || userEmail == 'rochelle.marieseno656@gmail.com'
				) { // Jason, Ronnie or Rochelle
					this.authorizedToEditWho = true;
				}
			},

			editWho(taskId, employeeId) {
				this.$parent.$refs.editwhoref.taskId = taskId;
				this.$parent.$refs.editwhoref.employeeId = employeeId;

				$('#editWhoModal').modal('show');
			},

			getEstimatedCost(value) {
				var estimatedCost = 0;

				value.forEach(v => estimatedCost += parseInt(v.estimated_cost) );

				return estimatedCost;
			},

			infiniteHandler($state) {
				this.isDisabledButton = true;
				this.isDisabledLink = true;

                let vm = this;

                axios.get('/visa/home/get-todays-tasks?page='+this.page, {
	                params: {
	                	dateFilter: this.dateFilter,
	                	employeeFilter: this.employeeFilter
	                }
	            })
	            .then(response => {
	            	if(response.data.length > 0) {
	            		this.page = this.page + 1;

	            		this.tasks.push(...response.data);

	            		this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');

	            		this.isDisabledButton = false;
	            		this.isDisabledLink = false;
	            	} else {
          				this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');

          				this.isDisabledButton = false;
          				this.isDisabledLink = false;
        			}
                });
            },

			filterTasks(option) {
				if(option == 'previous') {
					let datePickerValue = $('form#todays-tasks-form input[name=todays-task-date]').val();

					this.dateFilter = moment( this.formatDatePickerValue(datePickerValue) ).subtract(7, 'days').format('YYYY-MM-DD');

					$('form#todays-tasks-form input[name=todays-task-date]').val( this.formatDate( this.dateFilter ) );
				}

				this.page = 1;

				this.tasks = [];

				this.$nextTick(() => {
			        this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
			    });
			},

			viewHistory(clientServiceId, serviceDetail, client) {
				this.$parent.$refs.taskhistoryref.loadHistory(clientServiceId, client);

				$('#taskHistoryModal h3#task-history-title').text(serviceDetail);
				$('#taskHistoryModal').modal('show');
			}
		},

		created() {
			this.getEmployees();

			this.checkIfAuthorizedToEditWho();
		},

		mounted() {
			$('#todays-task-datepicker').datepicker({
                format:'mm/dd/yyyy',
                todayHighlight: true
            }).on('changeDate', (e) => {
			    let date = e.target.value;

			    this.dateFilter = this.formatDatePickerValue(date);
			});

            $('form#todays-tasks-form input[name=todays-task-date]').val( this.formatDate( this.dateFilter ) );
		}
	}

</script>

<style scoped>
	form button.btn-filter {
		float: right;
		line-height: 1.2;
		margin-top: 5px;
	}
	div.ibox-content {
		border: solid thin #1ab394;
		background-color: #f5f5f5;
	}
	a.client-name {
		display: inline;
	}
	small.client-id {
		display: block;
	}
	button.load-previous-dates {
		color: #1ab394 !important;
	}
	span.estimated-cost {
		font-size: 11px;
		white-space: normal;
	}
	.stream {
		padding: 5px 0;
	}
</style>
