/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.7.1
 *
*/

// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

// Variables, Mixins
@import "vendor/inspinia/variables";
@import "vendor/inspinia/mixins";

// INSPINIA Theme Elements
@import "vendor/inspinia/typography";
@import "vendor/inspinia/navigation";
@import "vendor/inspinia/top_navigation";
@import "vendor/inspinia/buttons";
@import "vendor/inspinia/badges_labels";
@import "vendor/inspinia/elements";
@import "vendor/inspinia/sidebar";
@import "vendor/inspinia/base";
@import "vendor/inspinia/pages";
@import "vendor/inspinia/chat";
@import "vendor/inspinia/metismenu";
@import "vendor/inspinia/spinners";

// Landing page styles
@import "vendor/inspinia/landing";

// RTL Support
@import "vendor/inspinia/rtl";

// For demo only - config box style
@import "vendor/inspinia/theme-config";

// INSPINIA Skins
@import "vendor/inspinia/skins";
@import "vendor/inspinia/md-skin";

// Media query style
@import "vendor/inspinia/media";

// Custom style
// Your custom style to override base style
@import "vendor/inspinia/custom";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }
  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}


#iosBlurBg {
	resize: horizontal;
	position: relative;
	/*width: 100%;
	height: 100vh;*/
	border-top: 350px solid transparent;
	border-left: 550px solid rgba(0,0,0,0.04);
	border-bottom: 350px solid transparent;
	background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
	/*box-shadow: 1px 1px 25px #999;*/
}

#whiteBg {
	resize: horizontal;
	position: absolute;
	top: -310px;
	right: 0;
	border-top: 310px solid transparent;
	border-left: 505px solid rgba(255,255,255,1);
	border-bottom: 310px solid transparent;
	border-right: 30px solid transparent;
	background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1));
}

#bottomEnter{
	position: absolute;
	top: 350px;
	left: 150px;
	z-index: -2;
	border-top: 200px solid transparent;
	border-right: 300px solid #15224a;
	border-bottom: 150px solid transparent;
	transform: rotate(-2deg);
}

#bottomBlurBg{
	position: absolute;
	top: 340px;
	left: 110px;
	z-index: -1;
	border-top: 200px solid transparent;
	border-right: 260px solid rgba(69,138,182,0.4);
	border-bottom: 120px solid transparent;
	transform: rotate(10deg);
}

.enterButton{
	position: absolute;
	top: 510px; 
	left: 330px;
	width: 70px;
	height: 70px;
	text-align: center;
}

.text-white{
	color: #fff;
}

.enterText{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.loginForm{
	position: absolute;
	top: 200px;
	left: 70px;
	width: 300px;
}

.title{
	 font-weight: 300;
	 font-size: 24px;
	 line-height: 1;
}

.title span{
	font-weight: 800;
	/*letter-spacing: 3px;*/
}

.title hr{
	width: 150px;
	border-width: 2px;
	border-color: #67e2fb; 
	margin: 0;

}

hr.short{
	width: 50px;
	border-width: 2px;
	border-color: #67e2fb; 
	float: left;
	margin: 0;

}


/*= input focus effects css
=========================== */
:focus{outline: none;}

/*.col-3{float: left; width: 100%; margin-top: 20px; margin-bottom: 0;} 
input{margin-top: 15px;font: 15px/24px "Open Sans", sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px; width: 65%;}*/

input::placeholder{
	/*text-transform: uppercase;*/
	letter-spacing: 0;
	/*font-size: 20px;*/
	font-weight: 300;
	/*padding-left: 15px;*/
}

.effect-2{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}

.forget button{
	margin-top: 50px;
	border-radius: 0;
	color: #aaa;
	margin-left: 50px;
	font-weight: 700;
}