@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button',
  'components/panel';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';

.mouse-cursor{
  cursor: pointer;
}

//for title on the right side of the data tables
.dt-title{
    border-left: 5px solid #686b6d;
    padding-left: 6px;
}

.table-responsive{
    padding: 20px;
}

.app-icon{
  color : green;
  font-size : 22px;
}
.group-icon{
  color : #3c8dbc;
  font-size : 20px;
}
.unread-icon{
  color : #fb5d48;
  font-size : 20px;
}

#btnMessageUser{
  display: none !important;
}

.form-control-auto-width{
    width:auto !important;
    padding:0px !important;
    display: inline !important;
}

.title {
  font-size: 22px;
  line-height: 1;
  margin: 0 4px 10px;
  padding: 0;
  border-bottom: 3px solid #80cbc4;
  span{
    display: inline-block;
    margin-bottom: -3px;
    padding-bottom: 10px;
    color: #e37222;
    border-bottom: 3px solid #00897b;
    font-weight:500;
    a{
      color: #666;
    }
  }
}

.htFixTable{
  min-height: 400px !important;
}

table.convo-info tr:nth-child(7) td {
  vertical-align: middle;
}
table.convo-info td:first-child {
  font-weight: bold;
  width: 30%;
}

div.feed-element.media div.media-body div.wellmsgs {
  word-break: break-all !important;
}

div.white-bg.page-heading {
  padding-bottom: 0px !important;

  h2 {
    display:inline-block !important;
    margin-bottom: 22px !important;
  }

  ol.breadcrumb {
    display:inline-block !important;
    margin-left: 70px !important;
  }

  a.btn {
    display:inline-block !important;
    // margin-top: 20px !important;
  }
}

//global class margin
.m-a-2 {
  margin: 1.5rem 1.5rem !important;
}

.m-t-2 {
  margin-top: 1.5rem !important;
}

.m-r-2 {
  margin-right: 1.5rem !important;
}
.m-r-1 {
  margin-right: 5px !important;
}

.m-b-2 {
  margin-bottom: 1.5rem !important;
}

.m-l-2 {
  margin-left: 1.5rem !important;
}

.m-x-2 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.m-y-2 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.m-a-3 {
  margin: 3rem 3rem !important;
}

.m-t-3 {
  margin-top: 3rem !important;
}

.m-r-3 {
  margin-right: 3rem !important;
}

.m-b-3 {
  margin-bottom: 3rem !important;
}

.m-l-3 {
  margin-left: 3rem !important;
}

.m-x-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.m-y-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}


//global class padding
.p-a-2 {
  padding: 1.5rem 1.5rem !important;
}

.p-t-2 {
  padding-top: 1.5rem !important;
}

.p-r-2 {
  padding-right: 1.5rem !important;
}
.p-r-1 {
  padding-right: 6px !important;
}

.p-b-2 {
  padding-bottom: 1.5rem !important;
}

.p-l-2 {
  padding-left: 1.5rem !important;
}

.p-x-2 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.p-y-2 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.p-a-3 {
  padding: 3rem 3rem !important;
}

.p-t-3 {
  padding-top: 3rem !important;
}

.p-r-3 {
  padding-right: 3rem !important;
}

.p-b-3 {
  padding-bottom: 3rem !important;
}

.p-l-3 {
  padding-left: 3rem !important;
}

.p-x-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.p-y-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.p-x-5 {
  padding-right: 5rem !important;
  padding-left: 5rem !important;
}

.p-y-5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.ibox-content-permission {
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  -o-border-image: none;
  border-image: none;
  border-width: 1px 0;
}

.avatar-upload {
    position: relative;
    margin: auto;
    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
        width: auto;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
