.tracking {
	.full-container{
		background-image: url("/shopping/images/avatar_all.png") !important;
		background-repeat: repeat !important;
		height: 100% !important; 
		background-position: center !important;
		.full-header-banner{
			padding: 20% !important;
			h1{
				color:#009688;
				font-weight: 700;
			}
			h4{
				font-weight: 700;

			}
			.tracking-txt{
				background: #0000007a;
				input{
					font-size: xx-large;
					color: #fff;
				}
			}
		}
	}

	&.result{
		.result-container{
			margin-top: 70px;
		}

		.result-package{
			color:#009688;
		}
		.tbl-child-header{
			font-weight:bold
		}

		.tracking-txt{
			margin: 0 !important;
		}

		.total-amount{
			color:#009688;
		}

		.available-bal-txt{
			font-weight:bold;
		}

		.client-id{
			font-size:x-small;
		}

		.result-name{
			font-weight:bold;
		}

		.group-name{
			font-size:small;
			font-weight:bold;
		}
		.no-report{
			color:#009688;
		}
		.has-report{
			color: #E37222;
		}

		.footable-filtering {
			display:none;
		}

		.btn-report{
			margin: 0;
		    padding: 0;
		    border: none;

		    &:hover{
		    	background-color:transparent
		    }

		    &:focus{
		    	background-color:transparent
		    }
		    
		    &:active{
		    	box-shadow:none
		    }
		}

		.leader-icon{
			color: #E37222;
		}

		.footable-row-detail-inner{
			width:100% !important;
			.services-tbl{
				thead{
					background-color: #0c5f5626 !important;
					color: #000 !important;
				}
			}
		}

		.footable{
			thead{
				background-color: #159588;
    			color: #fff;
    			th{
    				font-weight:bold;
    			}
    			
			}
		}
	}
}