<template>
	<a 	class='btn btn-has-loading btn-like btn-fab btn-fab-mini btn-like ' 
		:class='liked?"liked":"not-liked"'
		:href='"#"+ feedback' 
		@click='likeFeedback'
		data-toggle='tooltip'
		data-placement='bottom'
		:data-title='message'
		:id='"btnLike"+feedback'
	>
		<span class='fa fa-thumbs-up'></span> 
	</a>
</template>

		<!-- data-toggle='tooltip'
		:data-title='liked? "You liked this feedback":"Like"' -->

<script>
export default {
	props: [
		  'feedback'
		 ,'likes'

	],
	data:function () {
        return {
             user_id:Laravel.user.id
            ,feedbacklike_id:false
			,liked:false
			,message:"Like"
         }
    },
    watch:{
    	message:function (newMsg){
    		$('#btnLike'+this.feedback).tooltip('hide')
	          .attr('data-original-title', newMsg)
	          .tooltip('fixTitle');
    	}
    },
    created(){
    	var lang = this.$parent.$parent.lang;
    	axiosAPIv1.get('/product-review-likes?user='+this.user_id+'&product='+this.feedback)
		.then((res) => {
			if(res.data.length)
			{
				this.feedbacklike_id = res.data[0].id;
				this.liked = true;
				if(this.liked){
					if(this.likes=="1")
						this.message = lang['you-liked-this'];
					else{
						var like = this.likes - 1;
						this.likes = like;
						this.message = lang['you-and']+" "+like+" "+lang['others-liked-this'];
					}  
				} else {
					if(this.likes=="0")
						this.message = lang["like"];
					else{
						var like = this.likes - 1;
						this.likes = like;
						this.message = like+" "+lang['others-liked-this'];
					}
				}
			}else
			{
				$('[data-toggle="tooltip"]').tooltip()
			}
		});

    },
	methods:{
		likeFeedback(){
			var lang = this.$parent.$parent.lang;
			if(this.liked)
			{
				//update or search
				axiosAPIv1.get('/product-review-likes?user='+this.user_id+'&product='+this.feedback)
				.then((res) => {
					if(res.data.length)
					{
						this.feedbacklike_id = res.data[0].id;
						this.liked = true;
						axiosAPIv1.delete('/product-review-likes/'+this.feedbacklike_id)
						.then((res) => {
							this.liked = false;
							toastr.success('',lang['unliked']);
							if(this.likes=="0")
								this.message = lang["like"];
							else
								this.message = this.likes+" "+lang['others-liked-this'];
						});
					}
				});

			}else
			{
				axiosAPIv1.post('/product-review-likes',{
						 user_id:this.user_id
						,review_id:this.feedback
				}).then((res) => {
					this.liked = true;
					toastr.success('',lang['liked']);
					if(this.likes=="0")
						this.message = lang['you-liked-this']
					else
						this.message = lang['you-and']+" "+this.likes+" "+lang['others-liked-this'];
				});

			}
		}
	}
}
</script>