<template>
	<div class="col-md-12 col-sm-3 col-xs-6" >
		<div class="card"  @click='openModal(btn.modal)'>
	        <div class='col-md-4 text-center vertical-center'>
	            <i class="material-icons">{{btn.icon}}</i>
	        </div>
	        <div class='col-md-8'>
	            <div class="card-container">
	                <h4><b>{{ btn.title }}</b></h4> 
	                <p>{{btn.subtitle}}</slot></p> 
	            </div>
	        </div>
		</div>
	</div>
</template>


<script>
export default {
	props: ['btn'],
	methods: {
    	openModal: function (modal) {
    		$('#'+modal).modal('toggle')
	    }
	}
}
</script>