<template>
    <div class="faq-item">
        <div class="row">
            <div class="col-md-7">
                <a data-toggle="collapse" :href="'#faq'+item.id" class="faq-question">{{item.question}}</a>
                <h5>{{item.question_cn}}</h5>
                <small>Added on <i class="fa fa-clock-o"></i>{{item.created_at}}</small>
            </div>
            <div class="col-md-3">
                 <div class="tag-list">
                    <span class="tag-item">{{item.type}}</span>
                </div>
            </div>
            <div class="col-md-2 text-right">
                <button class="btn btn-warning btn-sm" @click="edit(item.id)"><i class="fa fa-pencil" ></i> <span class="bold">Edit</span></button>
                <button class="btn btn-danger btn-sm" @click="del(item.id)"><i class="fa fa-trash" ></i> <span class="bold">Delete</span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
               <div :id="'faq'+item.id" class="panel-collapse collapse ">
                    <div class="faq-answer" v-html="item.answer">
                        
                    </div>
                    <!-- <div class="faq-answer" v-html="item.answer_cn">

                    </div> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['item'],
        methods:{
            edit:function(id){
                this.$parent.showEditModal(id);
            },
            del:function(id){
                $('#deleteQuestion').modal('toggle');
                this.$parent.select = id;
            }
        }
    }
</script>