<template>
	<div class="feed-element">
		<a href="#" class="pull-left">
			<img alt="image" class="img-circle" :src="feedback.user.avatar">
		</a>
		<div class="media-body ">
			<small class="pull-right">{{toHumanApprovedAt}}</small>
			<strong>{{user}}</strong> posted a <strong>feedback</strong> . <br>
			<small class="text-muted" >
				<span v-html="processorWithLabel"></span>
			</small>
			<div class="row">
				<div class="col-md-3" v-if='feedback.image'>
					<img :src='feedback.image_path+"feedback.jpg"' class='img-responsive'>
				</div>
				<div :class="feedback.image?'col-md-9':'col-md-12'">
					<div class="well">
						{{feedback.content}}
					</div>
				</div>
			</div>
			<div class="pull-right">
				<a v-if='feedback.approved==0' class="btn btn-sm btn-danger" @click='process(feedback.id,2,"pending","Rejected!")'><i class="fa fa-times"></i> Reject</a>
				<a v-if='feedback.approved==0' class="btn btn-sm btn-primary" @click='process(feedback.id,1,"pending","Approved!")'><i class="fa fa-check"></i> Approve</a>
				<a v-if='feedback.approved!=0' class="btn btn-sm btn-warning" @click='process(feedback.id,0,feedback.approved==2?"rejected":"accepted","Restored to Pending!")'><i class="fa fa-check"></i> Restore</a>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: ['feedback'],
    methods:{
    	process(id,approve,from,msg){
    		axiosAPIv1
				.put('/feedbacks/'+id,{
					approved:approve,
					processor_id:Laravel.user.id
				})
				.then(result => {
					if(result.status == 200)
					{
						toastr.options = {
		                    closeButton: true,
		                    progressBar: true,
		                    showMethod: 'slideDown',
		                    timeOut: 4000
		                };
            			var fromArray = null;
		                switch(from)
		                {
		                	case 'pending':
		            			fromArray = this.$root.pending;
		            			this.$root.pending_count--;
		            			break;

		                	case 'accepted':
		            			fromArray = this.$root.approved;
		            			this.$root.approved_count--;
		            			break;

		                	case 'rejected':
		            			fromArray = this.$root.rejected;
		            			this.$root.rejected_count--;
		            			break;
		                }
		                //remove
            			var Index = fromArray.findIndex( i => i.id === id) 
            			fromArray.splice(Index ,1);

            			var toArray = null;
            			var opentab = null;
            			switch(approve)
            			{
            				case 0:
            					toArray = this.$root.pending;
            					opentab = 'pending';
            					this.$root.pending_count++;
            				break;
            				case 1:
            					toArray = this.$root.approved;
            					opentab = 'approved';
								this.$root.approved_count++;
            				break;
            				case 2:
            					toArray = this.$root.rejected;
            					opentab = 'rejected';
								this.$root.rejected_count++;
            				break;
            			}

		                toArray.unshift(result.data.data);
		                toastr.success(msg, 'Feedback');

		                //open to tab
		                $('a[href="#fb-'+opentab+'"]').tab('show');

		                //update shit

					}
				})
    	}
		
    },

    computed: {
    	toHumanCreatedAt() {
    		return moment.utc(this.feedback.created_at).fromNow();
    	},

    	toHumanApprovedAt() {
    		return moment.utc(this.feedback.updated).fromNow();
    	},

    	toReadableDate(){
    		var date = this.feedback.approved?this.feedback.updated_at:this.feedback.created_at;
    		return moment.utc(date).format('MMMM Do YYYY, h:mm:ss a');
    	},

    	processor(){
    		return this.feedback.processor.first_name+' '+this.feedback.processor.last_name;
    	},

    	user(){
    		return this.feedback.user.first_name+' '+this.feedback.user.last_name;
    	},

    	processorWithLabel(){
			return this.feedback.processor?"<b>Processed By: " +this.processor + "</b><br>on " + this.toReadableDate:this.toReadableDate;
    	}
    },
}

</script>