<template>
	
	<div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">
            <img v-if="activeLocale" :src="'/shopping/img/general/flag/' + activeLocale + '.jpg'">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
        	<li v-if="activeLocale && activeLocale != 'en'">
                <a href="javascript:void(0)" class="localization-btn" @click="setLocale('en')">
                    <center>
                        <img src="/shopping/img/general/flag/en.jpg">
                    </center>
                </a>
            </li>
            <li v-if="activeLocale && activeLocale != 'cn'">
                <a href="javascript:void(0)" class="localization-btn" @click="setLocale('cn')">
                    <center>
                        <img src="/shopping/img/general/flag/cn.jpg">
                    </center>
                </a>
            </li>
        </ul>
    </div>

</template>

<script>
	export default {
		data() {
			return {
				activeLocale: null
			}
		},

		methods: {
			getLocale() {
				$.ajax({
			      url: '/visa/get-locale',
			      type: 'GET'
			    }).then( result => {
			    	if(result.success) {
			    		this.activeLocale = result.activeLocale;
			    	}
			    });
			},

			setLocale(locale) {
			    $.ajax({
			      url: '/visa/set-locale/' + locale,
			      type: 'GET'
			    }).then( result => {
			    	if(result.success) {
			    		this.activeLocale = result.activeLocale;

			    		window.location.reload();
			    	}
			    });
			}
		},

		created() {
			this.getLocale();
		}
	}
</script>

<style scoped>
	ul.dropdown-menu {
		width: 48px !important;
		min-width: 48px !important;
	}
	a.localization-btn {
		padding: 0px !important;
	}
</style>