<template>
<div class="modal inmodal" :id="id" tabindex="1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog" :class="size" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-label">
                    <slot name="modal-title">Modal Title</slot>
                </h4>
            </div>
            <div class="modal-body">
                <slot name="modal-body">Modal Body</slot>
            </div>
            <div class="modal-footer">
                <slot name="modal-footer">
                    <button type="button" class="btn btn-flat" data-dismiss="modal">Close</button>
                </slot>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: {
         'size': {default:'modal-lg'}
        ,'id': {required:true}
        ,'contentSize': {default:'12'}

    }
}
</script>
