<template>
<div v-if="chatRoom" class="panel panel-chat-box">
    <div class="chat-box">
        <div class="panel-body">
            <infinite-loading :on-infinite="onInfinite" ref="infiniteLoading" direction="top" :distance="0"></infinite-loading>
            <ul>
                <li v-for="message in messages" :class="{ me: isMe(message) }">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="message" style="max-width:100%; word-wrap:break-word;">{{ message.body }}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <textarea v-if="chatRoom.is_active" v-model="newMessage" @keydown.enter.prevent="send" placeholder="Write something..."></textarea>
            <textarea v-else disabled>This issue is already closed</textarea>
        </div>
    </div>
</div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'

export default {
    data() {
        return {
            chatRoom: null,
            messages: [],
            newMessage: null,
            currentPage: 0,
            $chatBox: null,
            $conversation: null,
        }
    },

    watch: {
        $route(to, from) {
            Event.unlisten('chat-room-' + this.chatRoom ? this.chatRoom.id : null);

            this.chatRoom = null;
            this.messages = [];
            this.newMessage = null;
            this.currentPage = 0;
            this.$chatBox = null;
            this.$conversation = null;

            this.getChatRoom();
        }
    },

    methods: {
        onInfinite() {
            this.getMessages();
        },

        getChatRoom() {
            axiosAPIv1.get('/chat-rooms/' + this.$route.params.id)
                .then(result => {
                    this.chatRoom = result.data;

                    setTimeout(function () {
                        var $el = $(this.$el);

                        this.$chatBox = $el.find('.chat-box');
                        this.$conversation = $el.find('.panel-body');
                        this.$conversation.slimScroll({
                            height: '479px'
                        });
                    }.bind(this), 1);

                    this.markAllAsRead();

                    this.listen();

                    Event.fire('chat-room.selected', result.data);
                });
        },

        getMessages() {
            var prevScrollHeight = this.$conversation.prop('scrollHeight');

            return axiosAPIv1.get('/messages/chat-room/' + this.chatRoom.id, {
                params: {
                    page: ++this.currentPage,
                    limit: 999
                }
            }).then(result => {
                var data = result.data.data;

                if (data && data.length) {
                    data.sort((a, b) => {
                        return a.id - b.id;
                    });

                    this.messages = data.concat(this.messages);
                    this.currentPage = result.data.current_page;

                    setTimeout(function () {
                        if (this.currentPage === 1) {
                            this.$conversation.scrollTop(this.$conversation.prop('scrollHeight'));
                        } else {
                            this.$conversation.scrollTop(this.$conversation.prop('scrollHeight') - prevScrollHeight);
                        }

                        this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
                    }.bind(this), 1);
                } else {
                    this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
                }
            });
        },

        markAllAsRead() {
            return axiosAPIv1.post('/messages/mark-all-as-read', {
                to_chat_room: this.chatRoom.id
            }).then(result => {
                Event.fire('chat-box.marked-as-read');
            });
        },

        send() {
            if (! this.newMessage) {
                return;
            }

            this.messages.push({
                user_id: window.Laravel.user.id,
                body: this.newMessage
            });

            setTimeout(function () {
                this.$conversation.scrollTop(this.$conversation.prop('scrollHeight'));

                this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
            }.bind(this), 1);

            axiosAPIv1.post('/messages', {
                to_chat_room: this.chatRoom.id,
                body: this.newMessage
            }).then(result => Event.fire('chat-box.send'));

            this.newMessage = null;
        },

        close() {
            Event.fire('chat-box.close', this.chatRoom);
        },

        isMe(message) {
            return window.Laravel.user.id == message.user_id;
        },

        scrollToBottom() {
            setTimeout(function () {
                this.$conversation.scrollTop(this.$conversation.prop('scrollHeight'));
            }.bind(this), 1);
        },

        listen() {
            Event.listen('chat-room-' + this.chatRoom.id, function (message) {
                if (message.chat_room_id == this.chatRoom.id) {
                    this.messages.push(message);
                    this.scrollToBottom();
                }
            }.bind(this));
        }
    },

    components: {
        InfiniteLoading
    },

    created() {
        this.getChatRoom();
    }
}
</script>
