<template>
<div v-if="user" class="panel panel-chat-box">
    <div class="panel-heading">
        {{ fullName }}
        <a v-if="showSettings" href="javascript:void(0)" id="chat-box-settings" class="pull-right">
            <i class="fa fa-cog"></i>
        </a>
    </div>
    <div class="chat-box">
        <div class="panel-body">
            <infinite-loading :on-infinite="onInfinite" ref="infiniteLoading" direction="top" :distance="0"></infinite-loading>
            <ul>
                <li v-for="message in messages" :class="{ me: isMe(message) }">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="message" style="max-width:100%; word-wrap:break-word;">{{ message.body }}</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <textarea v-model="newMessage" @keydown.shift.enter.prevent="send" :disabled="isBlocked" placeholder="Write something..."></textarea>
            <a @click="send" href="javascript:void(0)" class="btn-send-message">
                <i class="fa fa-send"></i>
            </a>
        </div>
    </div>
</div>
</template>

<script>
import InfiniteLoading from 'vue-infinite-loading'

export default {
    data() {
        return {
            user: null,
            messages: [],
            newMessage: null,
            currentPage: 0,
            chatRoomId: null,
            $chatBox: null,
            $conversation: null,
        }
    },

    watch: {
        $route(to, from) {
            Event.unlisten('chat-room-' + this.chatRoomId);

            this.user = null;
            this.messages = [];
            this.newMessage = null;
            this.currentPage = 0;
            this.chatRoomId = null;
            this.$chatBox = null;
            this.$conversation = null;

            this.getUser();
        }
    },

    methods: {
        onInfinite() {
            this.getMessages();
        },

        getUser() {
            return axiosAPIv1.get('/users/' + this.$route.params.id + '?include=relationship')
                .then(result => {
                    this.user = result.data;

                    setTimeout(function () {
                        var $el = $(this.$el);

                        this.$chatBox = $el.find('.chat-box');
                        this.$conversation = $el.find('.panel-body');
                        this.$conversation.slimScroll({
                            height: '440px'
                        });
                    }.bind(this), 1);

                    this.markAllAsRead();

                    Event.fire('user-search.selected', result.data);
                });
        },

        getMessages() {
            var prevScrollHeight = this.$conversation.prop('scrollHeight');

            return axiosAPIv1.get('/messages/user/' + this.user.id, {
                params: {
                    page: ++this.currentPage,
                    limit: 999
                }
            }).then(result => {
                var data = result.data.data;

                if (data && data.length) {
                    data.sort((a, b) => {
                        return a.id - b.id;
                    });

                    this.messages = data.concat(this.messages);
                    this.currentPage = result.data.current_page;

                    if (! this.chatRoomId) {
                        this.chatRoomId = data[0].chat_room_id;
                        this.listen();
                    }

                    setTimeout(function () {
                        if (this.currentPage === 1) {
                            this.$conversation.scrollTop(this.$conversation.prop('scrollHeight'));
                        } else {
                            this.$conversation.scrollTop(this.$conversation.prop('scrollHeight') - prevScrollHeight);
                        }

                        this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
                    }.bind(this), 1);
                } else {
                    this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
                }
            });
        },

        markAllAsRead() {
            return axiosAPIv1.post('/messages/mark-all-as-read', {
                to_user: this.user.id
            }).then(result => {
                Event.fire('chat-box.marked-as-read');
            });
        },

        send() {
            if (! this.newMessage || this.isBlocked) {
                return;
            }

            this.messages.push({
                user_id: window.Laravel.user.id,
                body: this.newMessage
            });

            setTimeout(function () {
                this.$conversation.scrollTop(this.$conversation.prop('scrollHeight'));

                this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
            }.bind(this), 1);

            axiosAPIv1.post('/messages', {
                to_user: this.user.id,
                body: this.newMessage
            }).then(result => {
                if (! this.chatRoomId) {
                    this.chatRoomId = result.data.data.chat_room_id;
                    this.listen();
                }

                Event.fire('chat-box.send');
                Event.fire('new-message-notification');
            });

            this.newMessage = null;
        },

        close() {
            Event.fire('chat-box.close', this.user);
        },

        isMe(message) {
            return window.Laravel.user.id == message.user_id;
        },

        scrollToBottom() {
            setTimeout(function () {
                this.$conversation.scrollTop(this.$conversation.prop('scrollHeight'));
            }.bind(this), 1);
        },

        listen() {
            Event.listen('chat-room-' + this.chatRoomId, function (message) {
                if (message.chat_room_id == this.chatRoomId) {
                    this.messages.push(message);
                    this.scrollToBottom();
                }
            }.bind(this));
        },

        request() {
            return axiosAPIv1.post('/friends', {
                user_id2: this.user.id,
            }).then(result => this.getUser());
        },

        confirm() {
            return axiosAPIv1.post('/friends/' + this.user.friend_id + '/confirm')
                .then(result => this.getUser());
        },

        cancel() {
            return this.deleteRequest();
        },

        unfriend() {
            return this.deleteRequest();
        },

        block() {
            return axiosAPIv1.post('/friends/block', {
                user_id2: this.user.id,
            }).then(result => this.getUser());
        },

        unblock() {
            return this.deleteRequest();
        },

        deleteRequest() {
            return axiosAPIv1.delete('/friends/' + this.user.friend_id)
                .then(result => this.getUser());
        }
    },

    computed: {
        fullName() {
            return this.user.first_name + ' ' + this.user.last_name;
        },

        isBlocked() {
            return this.user.friend_status === 'Blocked';
        },

        showSettings() {
            if (this.user.friend_user_id == window.Laravel.user.id) {
                return true;
            } else if (this.user.friend_status === 'Blocked') {
                return false;
            }

            return true;
        }
    },

    components: {
        InfiniteLoading
    },

    created() {
        this.getUser();
    },

    mounted() {
        $.contextMenu({
            selector: '#chat-box-settings',
            trigger: 'left',

            callback: function (key, options) {
                this[key].apply(this, arguments);
            }.bind(this),

            build: function ($triggerElement, e) {
                var userId = this.user.friend_user_id,
                    status = this.user.friend_status,
                    items = {};

                if ((status === 'Request') && (userId != window.Laravel.user.id)) {
                    items['confirm'] = { name: 'Confirm', icon: 'fa-check' };
                    items['deleteRequest'] = { name: 'Delete Request', icon: 'fa-times' };
                } else if (status === 'Request') {
                    items['cancel'] = { name: 'Cancel Request', icon: 'fa-times' };
                } else if (status === 'Friend') {
                    items['unfriend'] = { name: 'Unfriend', icon: 'fa-times' };
                } else {
                    items['request'] = { name: 'Send Request', icon: 'fa-plus' };
                }

                if (status === 'Blocked') {
                    items = {
                        unblock: { name: 'Unblock', icon: 'fa-check' }
                    };
                } else {
                    items['block'] = { name: 'Block', icon: 'fa-ban' };
                }

                return { items };
            }.bind(this)
        });
    }
}
</script>
