
<template>
<li @click="action" class="clearfix" :class="{ 'not-read': notRead }">
    <div class="notif-image">
        <img :src="notification.chat_room.users[0].avatar">
    </div>
    <div class="notif-content">
        <div class="ellipsis"><strong>{{ fullName }}</strong></div>
        <div class="ellipsis">{{ notification.body }}</div>
    </div>
    <div class="notif-action">
        <div><small>{{ fromNow }}</small></div>
    </div>
</li>
</template>

<script>
export default {
    props: ['notification'],

    methods: {
        action() {
            axiosAPIv1.post('/notifications/' + this.notification.id + '/mark-as-read');

            if (this.notification.chat_room.name) {
                return window.location.href = '/messages/#/cr/' + this.notification.chat_room.id;
            }

            window.location.href = '/messages/#/u/' + this.notification.chat_room.users[0].id;
        }
    },

    computed: {
        notRead() {
            if(this.notification.read_at == null && this.notification.user_id != window.Laravel.user.id) {
                return true;
            }

            return false;
        },

        fromNow() {
            return moment.utc(this.notification.created_at).fromNow();
        },
        fullName() {
            if (this.notification.chat_room.name)
                return this.notification.chat_room.name;
            else
                return this.notification.chat_room.users[0].first_name + ' ' + this.notification.chat_room.users[0].last_name; 
        }
    }
}
</script>
