<template>
<tr>
    <td>{{ (issue.chat_room!=null) ? issue.chat_room.id : '' }}</td>
    <td class="project-status">
        <span class="label" :class="statusClass">{{ status }}</span>
    </td>
    <td class="project-title">
        <a :href="href">{{ issue.subject }}</a>
        <br/>
        <small>Created by: <strong>{{ issue.user.full_name }}</strong> on {{ createdOn }}</small>
    </td>
    <td class="project-people">
        <img v-for="user in users" :src="user.avatar" class="img-circle" data-toggle="tooltip" :title="user.full_name">
        <span v-if="! users.length" class="pull-right">No assigned support user</span>
    </td>
    <td class="project-actions">
        <a :href="href" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> View</a>
    </td>
</tr>
</template>

<script>
export default {
    props: ['issue'],

    methods: {

    },

    computed: {
        statusClass() {
            return (this.issue.status == 'open')
                ? 'label-primary'
                : 'label-danger';
        },

        status() {
            return this.issue.status.charAt(0).toUpperCase() + this.issue.status.slice(1);
        },

        href() {
            return '/customer-service/' + this.issue.id;
        },

        createdOn() {
            return moment.utc(this.issue.created_at).format('MMMM DD, YYYY - h:mm:ss A');
        },

        users() {
            if (this.issue.chat_room) {
                return this.issue.chat_room.users;
            }

            return [];
        }
    },

    created() {
        //
    },

    mounted() {
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    }
}
</script>
