<template>
<li>
    <router-link :to="routeTo" class="row" :class="{ 'not-read': notRead }">
        <div class="col-xs-2 message-user-avatar">
            <img :src="avatar" class="img-circle">
        </div>
        <div class="col-xs-7 message-content">
            <div class="ellipsis"><strong>{{ fullName }}</strong></div>
            <div class="ellipsis">{{ message.body }}</div>
        </div>
        <div class="col-xs-3 message-date">
            <div class="text-right">
                <small>{{ fromNow }}</small>
            </div>
        </div>
    </router-link>
</li>
</template>

<script>
export default {
    props: ['message'],

    computed: {
        routeTo() {
            if (this.message.chat_room.name) {
                return {
                    name: 'chat-room',
                    params: {
                        id: this.message.chat_room.id
                    }
                };
            }

            return {
                name: 'user',
                params: {
                    id: this.message.chat_room.users[0].id
                }
            };
        },

        notRead() {
            if (this.message.user_id == window.Laravel.user.id) {
                return false;
            }

            return ! this.message.read_at;
        },

        avatar() {
            return this.message.chat_room.users[0].avatar;
        },

        fullName() {
            if (this.message.chat_room.name) {
                return this.message.chat_room.users[0].full_name + ' - ' + this.message.chat_room.name;
            }

            return this.message.chat_room.name || this.message.chat_room.users[0].full_name;
        },

        fromNow() {
            return moment(this.message.created_at).fromNow();
        }
    }
}
</script>
