<template>
<li @click="action" class="clearfix" :class="{ 'not-read': notRead }">
    <div class="notif-image">
        <img :src="notification.data.image">
    </div>
    <div class="notif-content">
        <div class="ellipsis"><strong>{{ notification.data.title }}</strong></div>
        <div class="ellipsis" data-toggle="tooltip" data-placement="left" data-container="body" :title="notification.data.body">{{ notification.data.body }}</div>
        <div><small>{{ fromNow }}</small></div>
    </div>
    <div v-if="type === 'new-feedback'" class="notif-action">
        <button @click.stop="feedbackApprove" class="btn btn-primary btn-xs btn-block">Approve</button>
        <button @click.stop="feedbackReject" class="btn btn-danger btn-xs btn-block">Reject</button>
    </div>
</li>
</template>

<script>
export default {
    props: ['notification'],

    methods: {
        action() {
            let data = this.notification.data;

            if (! this.notification.read_at) {
                axiosAPIv1.post('/notifications/' + this.notification.id + '/mark-as-read');
            }

            if (this.type === 'new-feedback') {
                window.location.href = '/feedback';
            } else if (this.type === 'issue-assignment') {
                window.location.href = '/customer-service/' + data.issue.id;
            } else if (this.type === 'new-document') {
                window.location.href = '/documents';
            } else if (this.type === 'new-issue') {
                window.location.href = '/customer-service/' + data.issue.id;
            }else if (this.type === 'change-ewallet-transaction-status'|| this.type === 'new-ewallet-transaction') {
                window.location.href = '/ewallet';
            }
        },

        feedbackApprove() {
            axiosAPIv1.post('/feedbacks/' + this.notification.data.feedback.id + '/approve', {
                notification_id: this.notification.id
            }).then(result => {
                Event.fire('notification.remove', this.notification);
            });

            $(this.$el).slideUp(function () {
                $(this).remove();
            });
        },

        feedbackReject() {
            axiosAPIv1.post('/feedbacks/' + this.notification.data.feedback.id + '/reject', {
                notification_id: this.notification.id
            }).then(result => {
                Event.fire('notification.remove', this.notification);
            });

            $(this.$el).slideUp(function () {
                $(this).remove();
            });
        }
    },

    computed: {
        notRead() {
            return ! this.notification.read_at;
        },

        fromNow() {
            return this.notification.human_created_at;
        },

        type() {
            let arrType = this.notification.type.split('\\');
            let type = arrType[arrType.length - 1].replace(/([a-z](?=[A-Z]))/g, '$1-').toLowerCase();

            return type;
        }
    },

    mounted() {
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    }
}
</script>
