<template>
	<div>
		<div class="table-responsive">
			<table class='table table-hover'>
				<thead>
					<tr>
						<th>Item/s</th>
						<th>Qty</th>
						<th>Price</th>
						<th>Subtotal</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for='item in items' :key='item.id'>	
						<td>{{item.name}}</td>
						<td>{{item.qty}}</td>
						<td>{{sale_price | currency}}</td>
						<td>{{item.qty * sale_price | currency}}</td>
					</tr>
				</tbody>
			</table>
			<slot name='footer'></slot>
		</div>
	</div>
</template>


<script>
export default {
	props: ['items'],
	computed:{
		sale_price(){
			var salePrice = this.item.options.sale_price;
			return salePrice.replace(',', '');
		}
	}
}
</script>