<template>

	<div class='col-lg-12 col-md-6 col-sm-6'>
		<a class="remove" href="javascript:void(0)" @click="removeItems()" :title="this.$parent.lang['remove']""><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
		<div class='card vcenter-lg'
			v-bind:data-id="item.rowId">
			<div class='col-lg-5'>
                <div class="col-lg-1 text-right">
                    <div class='row'>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"  @click='select(index,item)'> 
                          </label>
                        </div>
                    </div>
                </div>
				<div class='col-lg-5 col-md-12 col-sm-12'>
					<a :href="'/product/' + item.options.slug"><img v-bind:src="item.options.image" class='img img-responsive'></a>
				</div>
				<div class='col-lg-6 col-md-12 col-sm-12'>
					<div class='row text-sm-center'>
						<span class='cart-item-name'><a :href="'/product/' + item.options.slug">{{item.name}}</a></span>
						<span class='cart-item-store'><a :href="'/stores/' + item.options.store" class='btn btn-sm btn-link'>{{item.options.store}}</a></span>
						<div class='cart-item-variations' v-show="item.options.color != '' ">{{this.$parent.lang['color']}}: {{item.options.color}}</div>
						<div class='cart-item-variations' v-show="item.options.size != '' ">{{this.$parent.lang['size']}}: {{item.options.size}}</div>
						<div class="cart-item-wishlist"><a href="javascript:void(0)" @click="moveToWishlist()"><span class="glyphicon glyphicon-heart"></span> {{this.$parent.lang['move-to-wishlist']}}</a></div>
					</div>
				</div>
			</div>
			<div class='col-lg-7 text-right'>
				<div class='col-lg-12'>
					<div class='col-lg-3 col-md-12  form-group'>
						<div class='cart-header hidden-lg col-md-6 col-sm-6'>{{this.$parent.lang['quantity']}}</div>
						<div class='col-lg-12 col-md-6 col-sm-6'>
							<input v-if="item.options.stock != '0'" :id="'q'+item.id" type='number' :max="item.options.stock" min='1' class='qty form-control text-right' v-model="item.qty" @click="updateqty()" @keyup="stock()" style="margin-left: -14px;">
							<input v-if="item.options.stock == '0'" :id="'q'+item.id" type='number' min='1' class='qty form-control text-right' v-model="item.qty" @click="updateqty()" @keyup="stock()" style="margin-left: -14px;">
						</div>
					</div>
					<div class='col-lg-4 col-md-12 form-group'>
						<div class='cart-header hidden-lg col-md-6 col-sm-6'>{{this.$parent.lang['item-price']}}</div>
						<div class='col-lg-12 col-md-6 col-sm-6 cart-item-price'>
							{{sale_price | currency}}
						</div>
					</div>
					<div class='col-lg-3 col-md-12 form-group hide'>
						<div class='cart-header hidden-lg col-md-6 col-sm-6'>{{this.$parent.lang['shipping-fee']}}</div>
						<div class='col-lg-12 col-md-6 col-sm-6 cart-item-price shipping'>
							{{shipping | currency}}
						</div>
					</div>
					<div class='col-lg-5 col-md-12 form-group'>
						<div class='cart-header hidden-lg col-md-6 col-sm-6'>{{this.$parent.lang['subtotal']}}</div>
						<div class='col-lg-12 col-md-6 col-sm-6 cart-item-subtotal'>
							{{subTotal | currency}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
export default {
	props: ['index','item'],
	
	methods:{
        select(index,item){
             this.$parent.selectItem(index,item);
        },
		updateqty(){
			 this.$parent.updateQty(this.item.qty,this.item.rowId);
		},
		stock(){
			if(parseInt(this.item.qty)>parseInt(this.item.options.stock)){
				this.item.qty = this.item.options.stock;
			}
			if(parseInt(this.item.qty)<=parseInt(this.item.options.stock)){
				this.item.qty = this.item.qty;
			}
			if(this.item.qty=='' || this.item.qty=='0'){
				this.item.qty = 1;
			}
			this.$parent.stock(this.item.id,this.item.qty,this.item.options.stock,this.item.rowId);
		},
		moveToWishlist(){
			this.$parent.moveToWishlist(this.item.id,this.item.rowId);
		},
		removeItems(){
			this.$parent.removeItems(this.item.id,this.item.name,this.item.rowId);
		}
	},
	computed:{
		sale_price(){
			var salePrice = this.item.options.sale_price;
			return salePrice.replace(',', '');
		},	
		itemPrice(){
			var salePrice = this.item.options.sale_price;
			if(parseInt(this.item.options.stock)==0){
				return salePrice.replace(',', '');
			}			
			if(parseInt(this.item.qty)>parseInt(this.item.options.stock) && parseInt(this.item.options.stock)!=0){
				return this.item.options.stock * salePrice.replace(',', '');
			}
			if(parseInt(this.item.qty)<=parseInt(this.item.options.stock)){
				return this.item.qty * salePrice.replace(',', '');
			}
			if(this.item.qty=='' || this.item.qty=='0'){
				return 1 * salePrice.replace(',', '');
			}
		},
		shipping(){
			return this.item.options.shipping_fee*this.item.qty + this.item.options.charge*this.item.qty + this.item.options.vat*this.item.qty;
		},
		subTotal(){
			return this.itemPrice + this.shipping;
		}
	}
}
</script>