<template>
<div>
	<div class="col-md-4 col-sm-6" v-for="(item,index) in items.data" :key="item.id" :id="'div'+item.id">
	  <div class="card">
	    <a :href="'/product/' + item.slug"><img class="card-img-top" :src="item.image" alt=""></a>
	    <ul class="list-group list-group-flush">
	      <li class="list-group-item"><a :href="'/product/' + item.slug" class="comp-name">{{item.name}}</a></li>
	      <li class="list-group-item">{{item.price | currency}}</li>	      
	      <li class="list-group-item margin1"><span class="font">Stock:</span> {{item.stock}}</li>
	      <li class="list-group-item">
		      <div class="rating-block">
	            <div class="star-ratings-sprite"><span :style="item.rating" class="star-ratings-sprite-rating"></span></div>
	          </div>
          </li>
          <li class="list-group-item margin2"><span class="font">Description:</span> {{item.desc}}</li>
	      <li class="list-group-item"><a href="javascript:void(0)" class="btn btn-raised btn-primary comp-btn" @click="addtocart(item.id, index)">ADD TO CART<div class="ripple-container"></div></a></li>
	      <li class="list-group-item"><a href="javascript:void(0)" class="btn btn-raised btn-primary comp-btn" @click="showRemoveDialog(item.id, index)">REMOVE<div class="ripple-container"></div></a></li>
		  <input :id="'prod_id' + item.id" :name="'prod_id' + item.id" type="hidden" :value="item.prod_id">
		  <input :id="'qty' + item.id" :name="'qty'+item.id" type="hidden" value="1">	
	    </ul>       
	  </div>
	</div>
</div>
</template>

<script>
export default {
	props: ['items'],
	methods:{
		showRemoveDialog(id,index){
			this.$parent.showRemoveDialog(id,index)
		},
		addtocart(id,index){
			this.$parent.addtocart(id,index)
		}		
	}
}
</script>