<template>
<div>
	<div class="faq-item">
	  <div class="row">
	      <div class="col-md-12">
	          <a data-toggle="collapse" :href="'#faq'+item.id" class="faq-question">{{item.question}}</a>
	      </div>
	  </div>
	  <div class="row">
	      <div class="col-lg-12">
	          <div :id="'faq'+item.id" class="panel-collapse collapse">
	              <div class="faq-answer">
	                  <p v-html="item.answer" v-if="item.upload_type == 'text'">
	                  </p>
	                  <img class="faq-content-pic" v-if="item.upload_type == 'picture'" v-bind:src="'/shopping/img/faq/en/'+item.type+'/'+item.id+'.png'">
	              </div>
	          </div>
	      </div>
	  </div>
	</div>
</div>

</template>

<script>
export default {
	props: ['item'],
	methods: {
		decodeHtml: function (htm) {
			alert(htm);
	      $("#jr").html(htm);
	    }
	}
}
</script>