<template>
<div class="table-responsive">
	<table class="table cart-table wishlist-table text-center">
		<thead>
			<tr>
				<th class="image"></th>
				<th class="name">PRODUCT NAME</th>
				<th class="stock">STOCK STATUS</th>
				<th class="price">PRICE</th>
				<th class="add-cart"></th>
				<th class="remove"></th>
			</tr>
		</thead>
		<tbody>
		  <tr v-for="(item,index) in items.data" :key="item.id" :id="'div'+item.id">
		    <td><a :href="'/product/' + item.slug" class="cart-pro-image"><img :src="item.image" alt="" /></a></td>
		    <td><a :href="'/product/' + item.slug" class="cart-pro-title">{{item.name}}</a></td>
		    <td><p class="stock in-stock">{{item.stock}}</p></td>
		    <td><p class="cart-pro-price">{{item.price | currency}}</p></td>
		    <td><a href="javascript:void(0)" class="btn btn-raised btn-primary add-cart-btn" @click="addtocart(item.id, index)">ADD TO CART<div class="ripple-container"></div></a></td>
		    <td><a :id="'btn' + item.id" href="javascript:void(0)" @click="showRemoveDialog(item.id,index)"><i class="fa fa-trash-o cart-pro-remove" aria-hidden="true"></i></a></td>
		    <input :id="'prod_id' + item.id" :name="'prod_id' + item.id" type="hidden" :value="item.product_id">
		    <input :id="'qty' + item.id" :name="'qty'+item.id" type="hidden" value="1">	    
		  </tr>
		</tbody>
	</table>
</div>
</template>

<script>
export default {
	props: ['items'],
	methods:{
		showRemoveDialog(id,index){
			this.$parent.showRemoveDialog(id,index)
		},
		addtocart(id,index){
			this.$parent.addtocart(id,index)
		}		
	}
}
</script>