<template>
	<div>
		<ul class="child">
    		<li v-for="tab in tabs" @click="selectTab(tab)" :class="{'is-active':tab.isActive}" class="li-child"><img class="img-child" src="shopping/img/general/notifications/small-circle.png" />
    			<a class="a-child">{{ tab.name }}</a>
    		</li>
    	</ul>

		<div class="tabs-details">
			<slot></slot>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return { tabs: [] };
	},

	created() {
		this.tabs = this.$children;
	},

	methods: {
		selectTab(selectedTab) {
			this.tabs.forEach(tab => { 
				tab.isActive = (tab.name == selectedTab.name)

				var cont = tab.name;
				cont = cont.split(' ').join('');

				if(tab.isActive==true)
				 $('#'+cont).show();
				else
				 $('#'+cont).hide();	
			});
		}

	}
}
</script>