<template>
<div :id="item.id" style="display:none">
  <div class="col-xs-12 col-sm-6 col-md-12" v-for="content in item.content">
  <div class="col-md-2">
	<img class="img-child" :src="content.src" />
  </div>
  <div class="content-container col-md-8">
  	<p class="ttle">{{content.title}}</p>
  	<p class="content">{{content.content}}</p>
  	<p class="date">{{content.date}}</p>
  </div>
  <div class="button-container col-md-2">
	<a :href="content.href" class="view">View Details</a>
  </div>
  <br/>
  </div>
</div>
</template>

<script>
export default {
	props: ['item']
}
</script>