.top-header {
    ul.list-inline {
        li {
            .dropdown {
                .btn {
                    text-transform: none;
                    font-weight: normal;
                    padding: 8px;
                }

                .profile-dropdown-toggle {
                    padding: 5px 8px;

                    &:hover, &:focus {
                        color: white;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }

                .profile-dropdown-menu {
                    li {
                        float: none;

                        a {
                            background-color: transparent;
                            display: block;
                            padding: 3px 20px;
                            clear: both;
                            font-weight: 400;
                            line-height: 1.42857143;
                            color: #333;
                            white-space: nowrap;

                            &:hover {
                                background-color: transparent;
                                color: $wyc-default-orange;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.btn-logout {
    display: block;
    padding: 5px 7px;
    color: #fff;
    border: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: transparent;

    &:hover {
        text-decoration: none;
        box-shadow: none;
        border-color: #66B9BF;
        background-color: #66B9BF;
    }
}

.dropdown-menu-login {
    background-color: #f9f9f9 !important;

    .link-forgot-password {
        display: inline !important;
        padding: 0 !important;
        color: #337ab7 !important;
        text-shadow: none !important;

        &:hover {
            color: initial;
            background-color: transparent !important;
        }
    }
}
