// -----------------------------------------------------------------------------
// This file contains styles that are specific to the About page.
// -----------------------------------------------------------------------------

@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';

#about-content{
	background-color: #fff;
	margin-top: 0 !important;
	.full-container{
		background-image: url("../img/general/about/large-banner-2.jpeg") !important;
		filter: alpha(Opacity=90);
  		opacity: 0.9;
  		background-size:     cover !important;                     
	  	background-repeat:   no-repeat !important;
	  	background-position: center center !important;
	}

	.about-context{
		margin-top: 5px;

		.about-description{
			font-size: medium;
		    text-align: justify;
		    margin-top: 20px;

		    span{
		    	color: $wyc-default-teal;
		    	font-weight: bold;
		    }
		}
		.choose-set{
			margin-top: 10px;
			.about-image{
				text-align: center;
				img{
					width: 100px;
				    height: 100px;
				    border-radius: 82px;
				}
				
			}
		}
		

		.about-text-header-container{
			background-color: $wyc-default-teal;
			padding:11px;

			.text-header{
				color: #fff;
				margin: 0 !important;
				font-weight: bold;
			}

			&.orange{
				background-color: $icon-color !important;
				.text-header{
					color: #000;
					margin: 0 !important;
				}
			}
		}
		
	}
}


	


