
@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';

[v-cloak] {
  display:none;
}

#cart_container{
	background: #ffffff;
	
	.cart-header{
		font-size: 0.9em;
		font-weight: bolder;
	}

	.cart-item-price{
		font-size: 1em;
		font-weight: bolder;
		text-align: center;
	}

	.cart-item-subtotal{
		font-size: 1em;
		font-weight: bolder;
		text-align: center;
		
	}

	#CartQuantity{
		padding:0;
	}

	.card{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.cart-item-name{
		font-size: 1.1em;
		display: block;
		a{
			color: #000;
			font-weight: bold;
		}
	}

	.cart-item-variations{
		font-size: 12px;
		display: block;
	}

	.cart-item-store{
		a{
			color: #009688;
			font-size: 0.8em;
			padding-left: 0px;
		}
	}

	.cart-item-wishlist{
		a{
			font-size: 10px;
			color: rgba(0,0,0, 0.87);
			text-decoration: none;
			&:hover {
				color: #e50050;
			}
		}
	}

	.item-selected{
		background:$selected-color;
	}

	.checkout-steps{
		background: $wyc-default-teal;
		padding-top:15px;
		padding-bottom:15px;
		-webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.3);
		box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.3);
		height:100%;
	}

	.checkout-steps{

		h4,h5,h6{
			color: #ffffff;
		}

		.step-container{
			cursor: pointer;
			opacity: 0.9;
			padding-top: 20px;
			padding-bottom: 20px;
			&:hover{
				opacity:1;
			}
		}

	}

	.remove{
	    position: absolute;
	    right: 20px;
	    top: 5px;
	    z-index: 2;
	}

	.checkout-steps-container{

		.mar-step1 {
			margin-top: -20px;
		}

		.mar-step2 {
			margin-bottom: 40px;
		}

		#total {
			td {
				text-align: right;
				padding-left: 35px;
			}
		}

		.e-wallet {
			text-align: center;
		    background-color: #e6e6e6;
		    width: 150px;
		    border: 2px solid #009688;
		    height: 85px;
		    .titles{
		    	margin-top:15px;
		    }
		    .balance{
		    	font-weight: bold;
		    }
		}

		.float {
			float: right;
		}

	}

	#modalCheckout {
		#placeOrder {
			margin-top: 50px;
		}
		.modal-body {
			overflow-wrap: break-word;
  			word-wrap: break-word;
		}
	}

	.qty {
		width: 45px;
	}

	.font-weight {
		font-weight: bold;
	}

	@media (max-width: 320px) {
		.table>tbody>tr>td, 
		.table>tbody>tr>th, 
		.table>tfoot>tr>td, 
		.table>tfoot>tr>th, 
		.table>thead>tr>td, 
		.table>thead>tr>th{
			padding: 1px !important;
		}

		.btn-modify{
			width: 210px;
		}

		.fa{
			margin-left: -16px;
		}


	}


	@media (max-width: 990px) {
		.checkout-steps{
		  	.step-container{
				padding-top: 0px;
				padding-bottom: 0px;
			}
		}

		.checkout-steps{
			padding-top:10px;
			padding-bottom:0px;
			height:100%;
		}

		.checkout-steps-container{
			height: auto;
			min-height: 100px;
			overflow-y: visible;
		}

	}

}

@media screen and (max-width: 991px) and (min-width: 768px) {

    .shipping {
    	margin-bottom: 31px;
    }

}


@media screen and (max-width: 767px) {

    #cart_container .cart-item-price, #cart_container .cart-item-subtotal {
        text-align: right !important;
    }

    #cart_container	.qty{
		width: 50px;
		float: right;
	}

}

@media screen and (max-width: 1199px) {

    #cart_container .cart-item-name, #cart_container .cart-item-store, #cart_container .cart-item-variations, #cart_container .cart-item-wishlist {
        margin-left: 20px;
    }

}

@media screen and (min-width: 1199px) {

    .cart-item-subtotal{
    	margin-left: -8px !important;
    }

    #cart_container	.qty{
		width: 50px;
    	margin-left: 6px !important;
	}	

}