// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Favorites page.
// -----------------------------------------------------------------------------

@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';

 #compare-content{

 	.card-img-top{
	    height: 250px;
	    width: 100%;
	    display: block;	
 	}
 	.list-group{
 		text-align: center;
 		.list-group-item{
 			line-height: 50px;
			.comp-name{
			    color: #606060;
			    font-weight: 300;
			    text-decoration: none;
			}
			.comp-name:hover{
			   	color:#e37222
			}
			.comp-btn{
				background-color: #303030;
			}
			.comp-btn:hover{
			    background-color: #009688;
			}
			.rating-block{
				margin: 0 auto;
				width: 35%;
			}
			.font{
				color: #009688;
			    font-weight: bold;
			    font-size: 15px;
			}
 		}
		.margin1{
			margin-bottom: 5px;
		}
		.margin2{
			margin-top: 20px;
		}
 	}
 }