// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Ewallet page.a
// -----------------------------------------------------------------------------

@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';

#ewallet_container{
	background: #ffffff;
	color: $text-color;
}

#ewallet_container{
	
	#modalTransferReceive{
		.receiver_multiselect{
			.multiselect__tag{
				white-space:normal !important;
				padding: 4px !important;
				width: 100% !important;
				span{
					width: 100% !important;
					text-overflow: ellipsis !important;
					white-space: nowrap !important;
					overflow: hidden !important;
					display: block !important;
					padding-right: 12px !important;
				}
			}
		}
	}
	#modalInstructions{
		z-index: 1051;
	}
	.main-header{
		.popover{
			width: 300px;
			top: 270px !important;
		}
	}

	.menu{
		z-index: 1;
	}

	.breakdown{
		.popover{
			// width: 300px;
			top: 90px !important;
			font-size: 12px;
		}
	}

	.bank-subheader{
		text-transform: capitalize;
	}
	.popover-title{
		border-bottom:none !important;
		background:#555 !important;
		border-radius: 0px !important;
	}

	#modalDepositUpload{
				// Base Colors
		$shade-10: #2c3e50 !default;
		$shade-1: #d7dcdf !default;
		$shade-0: #fff !default;
		$teal: #1abc9c !default;

		.range-slider {
		  margin: 60px 0 0 0%;
		}


		// Range Slider
		$range-width: 100% !default;

		$range-handle-color: $shade-10 !default;
		$range-handle-color-hover: $teal !default;
		$range-handle-size: 20px !default;

		$range-track-color: $shade-1 !default;
		$range-track-height: 10px !default;

		$range-label-color: $shade-10 !default;
		$range-label-width: 60px !default;

		.range-slider {
		  width: $range-width;
		}

		.range-slider__range {
		  -webkit-appearance: none;
		  height: $range-track-height;
		  border-radius: 5px;
		  background: $range-track-color;
		  outline: none;
		  padding: 0;
		  margin: 0;

		  // Range Handle
		  &::-webkit-slider-thumb {
		    appearance: none;
		    width: $range-handle-size;
		    height: $range-handle-size;
		    border-radius: 50%;
		    background: $range-handle-color;
		    cursor: pointer;
		    transition: background .15s ease-in-out;

		    &:hover {
		      background: $range-handle-color-hover;
		    }
		  }

		  &:active::-webkit-slider-thumb {
		    background: $range-handle-color-hover;
		  }

		  &::-moz-range-thumb {
		    width: $range-handle-size;
		    height: $range-handle-size;
		    border: 0;
		    border-radius: 50%;
		    background: $range-handle-color;
		    cursor: pointer;
		    transition: background .15s ease-in-out;

		    &:hover {
		      background: $range-handle-color-hover;
		    }
		  }

		  &:active::-moz-range-thumb {
		    background: $range-handle-color-hover;
		  }
		}


		// Range Label
		.range-slider__value {
		  display: inline-block;
		  position: relative;
		  width: $range-label-width;
		  color: $shade-0;
		  line-height: 20px;
		  text-align: center;
		  border-radius: 3px;
		  background: $range-label-color;
		  padding: 5px 10px;
		  margin-left: 8px;

		  &:after {
		    position: absolute;
		    top: 8px;
		    left: -7px;
		    width: 0;
		    height: 0;
		    border-top: 7px solid transparent;
		    border-right: 7px solid $range-label-color;
		    border-bottom: 7px solid transparent;
		    content: '';
		  }
		}


		// Firefox Overrides
		::-moz-range-track {
		    background: $range-track-color;
		    border: 0;
		}

		input::-moz-focus-inner,
		input::-moz-focus-outer { 
		  border: 0; 
		}

		#doc-container{
			min-height: 50px;
			max-height: 500px;
			overflow:hidden;
		}

		img{
			cursor:all-scroll;
		}
	}

	.card{
		z-index: 1000;
		cursor: pointer;
		i{
	      font-size: 4em;
	      padding-top: 10px;
	      margin-left: 15px;
	      color: $icon-color;
	    }
	}
	hr{
		border-color: $wyc-default-teal;
		border-style: dotted;
	}

	.medium-text{
		font-size: 1.5em;
		font-weight: bold;
	}

	.big-text{
		font-size: 2em;
	}

	.bigger-text{
		font-size: 3em;
		color : $wyc-default-teal;
	}

	.btn-open-modal{
		height: 120px;
		color: $wyc-default-teal;
		margin-top:10px;
		word-wrap: break-word;
		display: table;
		width: 100%;
	}

	.btn-open-modal:hover{
		background: $light-grey;
	}




	.vertical-center {
	 	display: table-cell;
   		vertical-align: middle;
	}



	hr{
		margin:0;
	}

	 .onlineLoadingArea
	,.offlineLoadingArea
	{
		display:none;
	}

	input.amount{
		font-size: 3em;
		border:0;
		text-align:center;
		outline:none;
		border-bottom: 2px solid $wyc-default-teal;
	}

	input.amount::placeholder{
		color: $wyc-default-teal;
	}

	input.amount::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $wyc-default-teal;
	}

	input.amount::-moz-placeholder { /* Firefox 19+ */
		color: $wyc-default-teal;
	}

	input.amount:-ms-input-placeholder { /* IE 10+ */
		color: $wyc-default-teal;
	}

	input.amount:-moz-placeholder { /* Firefox 18- */
		color: $wyc-default-teal;
	}
}

//for materialized text-number
.global-textbox.form-control::-webkit-inner-spin-button,
.global-textbox.form-control::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 320px) {
    .popover.right {
        width: 150px;
    	top: 123px !important;
    }
}


.small-text{
	font-size:smaller;		
}
