// -----------------------------------------------------------------------------
// This file contains styles that are specific to the FAQ page.
// -----------------------------------------------------------------------------

@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';

#faq-content{
	.faq-container{
  		padding: 40px;
  		text-align: center;
  		.faq-btn{
  			margin:20px 0;
  			.btn-media{
			  	&:hover,
			  	&:focus{
			  		text-decoration: none !important;
			  		.media{
			  			background-color: $light-grey;
			  		}
			  		.faq-head{
					  	background-color: $wyc-default-orange;
					}
			  	}

			  	.faq-icon{
			  		width:75px;
			  	}

			  	.media{
			  		padding:5px;
			  	}

				.faq-head{
				  	padding:5px;
				  	text-align:center;
				  	background-color: $wyc-default-tan;

				  	h4{
				  		color: #fff;
				  		margin-bottom:0 !important;
				  	}
				}

			    .faq-desc{
				  	font-size:medium;
				  	text-align: justify;
				}

		 	}

  		}

  		.faq-card{
  			cursor: pointer;
  			height: 245px;
		    min-height: 245px;
		    max-height: 245px;

		    .card{
		    	height: 215px;
			    min-height: 215px;
			    max-height: 215px;
			    min-width: 206px;
    			width: 25%;
		    }


			.card:hover{
			    .custom-icon{
					background:$wyc-default-teal !important;
				}

				a{
					color: $wyc-default-orange;
					text-decoration: none;
				}

				small{
					color: #000 !important;
				}
			}

			.custom-icon{
				font-size: 59px;
			    width: 85px;
			    height: 85px;
			    margin: 10px 0;
			   	-webkit-border-radius:1100%;
				-moz-border-radius:100%;
				-o-border-radius:100%;
				border-radius:100%;
			    color:#fff;
			    text-align:center;
			    -moz-transition:.5s;
				-webkit-transition:.5s;
				-o-transition:.5s;
				transition:.5s;

				&.account{
					padding: 11px 18px !important;
				}
				&.store{
					padding: 11px 13px !important;
				}

				&.product{
					padding: 10px 8px !important;
				}

				&.order{
					padding: 11px 15px !important;
				}

				&.friends{
					padding: 13px 12px !important;
				}

				&.ewallet{
					padding: 13px 12px !important;
				}

				&.chat{
					padding: 11px 13px !important;
				}

				&.feedback{
					padding: 9px 15px !important;
				}
			}

			a{
				color: $wyc-default-tan;
				&:hover{
					color: $wyc-default-orange;
					text-decoration: none;
				}
			}
		
			.bgc-yellow{
				background:gba(220, 200, 57, 0.6) !important;
			}

			.faq-name{
				span{
					font-size: x-large;
					color: $wyc-default-orange;
				}
			}
		}
  	}
}

#faq-container-content{
	.bgc-yellow{
		background:gba(220, 200, 57, 0.6) !important;
	}
  	.faq-side-btn{
  		width: 100%;
  	}

  	.note{
  		
  	}

  	.sub-header {
  		margin-top: 30px;
  	}

  	.well{
  		h5{
  			font-weight: bold;
  		}
  	}

	.active{
		background-color: $wyc-default-orange !important;
	    border-color: $wyc-default-orange !important;
	    color: #000 !important;
	}

	/* FAQ */
	.faq-item {
	  padding: 5px;
	  margin-bottom: 2px;
	  background: #fff;
	}
	.faq-question {
	  font-size: 18px;
	  font-weight: 600;
	  color: #1ab394;
	  text-decoration: none;
	  display: block;
	}
	.faq-question:hover {
	  color: #179d82;
	}
	.faq-answer {
	  margin-top: 10px;
	  background: #f3f3f4;
	  border: 1px solid #e7eaec;
	  border-radius: 3px;
	  padding: 15px;
	}

	.faq-content-pic{
		width: 100%;
		max-width: 605px;
	}
	.faq-item .tag-item {
	  background: #f3f3f4;
	  padding: 2px 6px;
	  font-size: 10px;
	  text-transform: uppercase;
	}
  	
  	.table{
		margin: 0;
	}

	.custom-icon {
		font-size:20px;
		background:#666;
		background:rgba(0,0,0,0.4);
		padding:10px;
		-webkit-border-radius:1100%;
		-moz-border-radius:100%;
		-o-border-radius:100%;
		border-radius:100%;
		color:#fff;
		// box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
		text-align:center;
		display:table-cell;
		vertical-align:middle;
		width:40px;
		height:40px;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		-o-transition:.5s;
		transition:.5s;
	}
	.custom-icon:hover {
		background:rgba(0,0,0,0.6);
	}

	.icon-wrapper {
		display:inline-block;
	}

	.fix-editor {
		display:none;
	}

	#subnav, .modal-body{
		tr td:first-child{
			width: 15%;
			text-align: center;
		}
		tr td{
			vertical-align: middle !important;
		}
		tr{
	        cursor: pointer;
		}
		@each $color-name, $color-code in $bg-colours {
		    
		    tr:hover .bgc-#{$color-name} {
		        
		            background: rgba($color-code, 1) !important;
		    }
		}
	}

	.mobile-menu-btn{
		position:fixed;
		bottom: 15px;
		right: 15px;
		z-index: 3000;
	}

	.modalBtn{
		z-index: 2000;
	}

}


