// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Favorites page.
// -----------------------------------------------------------------------------

@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';

 #favorites-content{
 	.table-responsive{
 		.cart-table{
 			thead{
 				tr{
 					th{
 						text-align: center;
 					}
 				}
 			}
 			tbody{
 				tr{
 					td{
 						vertical-align: middle;
 						.cart-pro-image{
						    display: block;
						    padding: 6px 22px;
						    img{
						    	width: 100px;
						    }
						}
						.cart-pro-title {
						    color: #606060;
						    font-weight: 300;
						    text-decoration: none;
						}
						.cart-pro-title:hover{
						   	color:#e37222
						}
 						.in-stock{
 							color: #30b878;
 							margin: 0px;
 						}
						.cart-pro-price{
							margin: 0px;
							color: #606060;
						    font-weight: 500;
						    letter-spacing: 0.5px;
						}
						.add-cart-btn{
							background-color: #303030;
						}
						.add-cart-btn:hover{
						    background-color: #009688;
						}
						.cart-pro-remove{
						    font-size: 20px;
						    color: #606060;
						}
 					}
 				}
 			}
 		}
 	}

  	.card-img-top{
	    height: 250px;
	    width: 100%;
	    display: block;	
 	}
 	.list-group{
 		text-align: center;
 		.list-group-item{
 			line-height: 50px;
			.comp-name{
			    color: #606060;
			    font-weight: 300;
			    text-decoration: none;
			}
			.comp-name:hover{
			   	color:#e37222
			}
			.comp-btn{
				background-color: #303030;
			}
			.comp-btn:hover{
			    background-color: #009688;
			}
			.rating-block{
				margin: 0 auto;
				width: 35%;
			}
			.font{
				color: #009688;
			    font-weight: bold;
			    font-size: 15px;
			}
 		}
		.margin1{
			margin-bottom: 5px;
		}
		.margin2{
			margin-top: 20px;
		}
 	}

 }

 @media screen and (min-width: 706px) {

    .mobile {
        display: none;
    }

    .desktop {
        display: show;
    }

}


@media screen and (max-width: 705px) {

    .mobile {
        display: show;
    }

    .desktop {
        display: none;
    }

}