@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';
#feedbacks_container{
	background: #fff;
}
#feedbacks_container{
	.fb-content{
		color: $mid-grey;
		font-size: 0.9em;
	}
	.btn-like .fa{
		font-size: 12px;
	}
	
	.btn-like{
	  height: 20px !important;
	  min-width: 20px !important;
	  width: 20px !important;
	  font-size: 15px !important;
	}

	.btn-like
	{
		&.liked{
			color: $wyc-default-teal;
			
		}
		&.not-liked{
			color: $dark-grey;
		}
	}

	.card{
		cursor: default;
		margin-bottom: 25px;
	}

	.fb-name{
		letter-spacing: 0.3px;
	    font-size: 1.2em;
	    padding-top: 4px;
	    color: $dark-grey;
	    text-transform: capitalize;
	    font-weight: 500;
	}
	
	hr{
		border-color: $light-grey;
	    border-style: solid;
	    margin-top: 10px;
	}

	.datetime{
		font-size: 0.7em;
		color: $mid-grey;
	    padding-bottom: 5px;

	}

	.fb-user-image{
		margin-top: 10px;
		height: 70px;
		width:  70px;
	}
	
	.fb-content{
		font-size: 0.9em;
	    color: $dark-grey;
	    padding-bottom: 5px;
	    padding-top: 5px;
		letter-spacing: 0.3px;

	}
	
	.user-feedback{
		padding-top: 10px;
		padding-bottom:  10px;
	}
	
	.fb-date{
		margin: 10px;
	}

	.fb-holder{
		position: relative;
		padding-bottom: 10px;
	}
	
	.fb-comments-holder{
		
		.user-feedback{
			border-top:  1px solid $light-grey;
	    	padding-bottom: 15px;
		}
	}

	.upload-container{
	    cursor: pointer;
		input{
			opacity: 0;
		    position: absolute;
		    top: 0;
		    height: 200px;
		    width:  200px;
		    z-index: 0;
		    left: 0;
		    cursor: pointer;
		}

		span{
			z-index: 100;
		}

	}

	.review-options{
		label{
			color: #444;
		}
	}
}