@import
    'node_modules/bootstrap-material-design/sass/shadows',
    '../abstracts/variables',
    '../abstracts/functions',
    '../abstracts/mixins';

#relationships_container{
    .friend-name{
        font-size: 1.2em;
        margin-bottom: 25px;
    }

    .friend-image{
        width: 170px;
        height: 170px;
        margin-top:25px;
        margin-bottom:15px;
        margin-left:auto;
        margin-right:auto;
    }

    .md-tabs{
        border-bottom:1px solid $mid-grey;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 10px;
        span{
            cursor: pointer;
            padding: 20px;
            padding-bottom: 10px;
            &.active{
                border-bottom:2px solid $wyc-default-teal;
            }
        }

    }

    .no-records{
        padding-top: 80px;
        padding-bottom: 80px;
        text-align: center;
    }
    
    .nav-tabs{
        background: #fff !important;
        
        li{
             &.active{
                a{

                    color: $wyc-default-teal !important;
                }
                border-bottom: 2px solid $wyc-default-teal !important;
            }
            a{
                color: #181818 !important;
                
                &:focus,&:hover{

                }
            }
        }
    }

    .friend-container{
        .card{
            margin-top: 20px;
        }

    }

    
}

@media screen and (max-width: 1199px) and (min-width: 991px) {

    .margin {
      margin-left: -18px;
    }

}

@media screen and (max-width: 767px) and (min-width: 500px) {
    .friend-container {
        width: 50%;
    }
}
@media screen and (max-width: 499px) {
    .friend-container {
        padding-left: 15%;
        padding-right: 15%;
    }
}