// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';

.services{
  .social-icon a {
    height: 29px !important;
    width: 31px !important;
  }


}

#contact{
  .android-img-btn{
    width: 175px;
  }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  /*background: url("/images/form-wizard-1.jpg") no-repeat;*/
  background-size: cover; }

.inner {
  max-width: 850px;
  margin: auto;
  margin-top: 0px;
  background: #fff;
  display: flex;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }

.image-holder {
  width: 50%;
  padding-right: 15px; }

form {
  width: 50%;
  padding-top: 77px;
  padding-right: 60px;
  padding-left: 15px; }

.error-required{
    background-image: linear-gradient(#009688, #009688), linear-gradient(#ce1919, #b31515) !important;
}

.swal2-modal .swal2-title {
  font-size: 20px;
}

.swal2-modal .swal2-confirm{
  /*margin-left: 160px;*/
}
/*h3 {
  font-size: 35px;
  font-family: "ElMessiri-SemiBold";
  text-align: center;
  margin-bottom: 27px;
  color: #ff9a9c; }*/

.form-holder {
  padding-left: 24px;
  position: relative; }
  .form-holder:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #ff9a9c;
    position: absolute;
    left: 1px;
    top: 40%;
    transform: translateY(-50%); }
  .form-holder.active:before {
    border: 2px solid transparent;
    background: #ff9a9c; }
.form-group {
    margin-top: 12px;
}
.form-login {
    margin-top: 12px;
}

.form-control {
  display: block;
  width: 100%;
  border-radius: 23.5px;
  height: 28px;
  padding: 0 4px;
  color: #808080;
  font-size: 15px;
  border: none;
  background: #f7f7f7;
  margin-bottom: 25px; }
  .form-control::-webkit-input-placeholder {
    font-size: 15px;
    color: #808080;
    text-transform: capitalize;
    font-family: "Montserrat-Regular"; }
  .form-control::-moz-placeholder {
    font-size: 15px;
    color: #808080;
    text-transform: capitalize;
    font-family: "Montserrat-Regular"; }
  .form-control:-ms-input-placeholder {
    font-size: 15px;
    color: #808080;
    text-transform: capitalize;
    font-family: "Montserrat-Regular"; }
  .form-control:-moz-placeholder {
    font-size: 15px;
    color: #808080;
    text-transform: capitalize;
    font-family: "Montserrat-Regular"; }

@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
button {
  letter-spacing: 2px;
  border: none;
  width: 133px;
  height: 47px;
  margin: auto !important;
  border-radius: 23.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #ff9a9c;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat-SemiBold";
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
  button:hover {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; }

.date-dropdowns {display: inline-flex;
    width: 100%;}
.day, .month, .year{
  color: #ababab;
  font-size: 13px;
}

.checkbox label, .radio label, label {
    font-size: 13px !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size:  13px !important;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size:  13px !important;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size:  13px !important;
}
:-moz-placeholder { /* Firefox 18- */
  font-size:  13px !important;
}


.col {flex:1;} 

.checkbox {
  position: relative;
  padding-left: 19px;
  margin-bottom: 37px;
  margin-left: 26px; }
  .checkbox label {
    cursor: pointer;
    color: #999; }
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox input:checked ~ .checkmark:after {
    display: block; }

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #e7e7e7; }
  .checkmark:after {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ff9a9c;
    position: absolute;
    display: none; }

.form-login {
  display: flex;
  align-items: center;
  /*margin-left: 23px; */
}

[v-cloak] { display:none; }

@media (max-width: 767px) {
  .inner {
    display: block; width: 80%;}

  .image-holder {
    width: 0%;
    padding-right: 0; }

  form {
    width: 100%;
    padding: 0px 15px 70px; }

  .wrapper {
    background: none; } }