// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Notifications page.
// -----------------------------------------------------------------------------

@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';

 #notifications-content{
 	.left-pane{
 		.tabs{
 			.parent{
 				list-style:none;
 				line-height: 60px;
 				margin-left: -50px;
 				.img-parent{
 				    margin-left: 25px;
    				margin-right: 15px;
 				}
 				.a-parent{
 					text-decoration: none;
 				    color: #333;
 				}
 				.child{
 					list-style:none;
 					line-height: 40px;
 					margin-left: -30px;
 					.li-child:hover{
 						cursor: pointer;
 						background-color: #f8f8f8;
 					}
 					.is-active{
 						border-left: 4px solid #ff6838;
 					}
 					.img-child{
 						margin-left: 25px;
					    margin-right: 13px;
 					}
 					.a-child{
	 					text-decoration: none;
	 				    color: #333;
 					}
 					.a-child:hover{
 						color: #ff6838;
 					}
 				}
 			}		
 		}
 	}
 	.right-pane{
 		.cont{
 			height: 38px;
    		border-bottom: 2px solid #f5f5f5;
    		margin-bottom: 20px;
 			.mark-all{
	 			text-decoration: none;
			    color: #9c9c9c;
			    float: right;
 			}
 		}
 		.content-container{
 			.ttle{
 				color: #333;
 				font-size:15px;
 			}
 			.content{
 				color: #a7a7a7;
 			}
 			.date{
 				color: #a7a7a7;
 			}
 		}
 		.button-container{
 			.view{
 			    color: #333;
			    font-size: 12px;
			    border: 1px solid;
			    padding: 5px;
			    text-decoration: none;
			    border-color: #a7a7a7;
 			}
 		}
 		.center{
 			text-align: center;
 		}
 	}
 }