// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Profile page.
// -----------------------------------------------------------------------------

@import
'../abstracts/variables',
'../abstracts/functions',
'../abstracts/mixins';

// -----------------------------------------------------------------------------
// PROFILE PAGE
// -----------------------------------------------------------------------------


#profile-container{
	.profile-title{
	text-transform: uppercase;
	}

	.mobile-menu-btn{
		position:fixed;
		bottom: 15px;
		right: 15px;
		z-index: 3000;
	}

	.count-display{
		font-size: 6rem;
		font-weight: 100;
		color: #fff;
	}
	.description-display{
		font-weight: 100;
		font-size: 2rem;
		color: #fff;
		font-variant: capitalize;
	}

	.custom-icon {
		font-size:20px;
		background:#666;
		background:rgba(0,0,0,0.4);
		padding:10px;
		-webkit-border-radius:1100%;
		-moz-border-radius:100%;
		-o-border-radius:100%;
		border-radius:100%;
		color:#fff;
		// box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
		text-align:center;
		display:table-cell;
		vertical-align:middle;
		width:40px;
		height:40px;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		-o-transition:.5s;
		transition:.5s;
	}
	.custom-icon:hover {
		background:rgba(0,0,0,0.6);
	}
	.fix-editor {
		display:none;
	}
	.icon-wrapper {
		display:inline-block;
	}

	.container{
    	background-color: #fff;
	}
	.profile-row {
		padding: 5px 17px !important;
		.fb-profile{
			.fb-image-profile{
				text-align: center;
				z-index: 9;
				width: 100%;
				margin-top: 20px;
				&.thumbnail{
					border-radius: 100% !important;
				}
			}
			.fb-profile-text{
				h1{
					font-size:xx-large !important;
					margin-top: 0;
				}
			}
		}

		.profile-heading {
			h2{
				.verify-icon{
					cursor: pointer;
					img{
						width: 20px;
						color: #fff;
					}
				}
			}
		}
		.badges-set{
			margin-top: 5px;
			background-color: #fff;
		}
	}

	.profile-body{
		display:none;
		background: #fff;
		&.active{
			display:block;
		}
	}

	.table{
		margin: 0;
	}

	#subnav,.modal-body{
		tr td:first-child{
			width: 15%;
			text-align: center;
		}
		tr td{
			vertical-align: middle !important;
		}
		tr{
	        cursor: pointer;
		}
		@each $color-name, $color-code in $bg-colours {

		    tr:hover .bgc-#{$color-name} {

		            background: rgba($color-code, 1) !important;
		    }
		}

	}

// -----------------------------------------------------------------------------
// PROFILE PAGE >> STORE LIST
// -----------------------------------------------------------------------------
.store-item {
	position: relative;
	background: #FFF;
	margin-bottom: 20px;
	border: 8px solid #FFF;
	-webkit-border-radius: 5px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 5px;
	-moz-background-clip: padding;
	border-radius: 5px;
	background-clip: padding-box;
	-webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
	-moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
	box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
	color: inset 0 1px #fff,0 0 8px #c8cfe6;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;

	.store-image {
		overflow: hidden;
		text-align: center;
		position: relative;
		img {
			max-width: 100%;
			-webkit-transition: all .25s ease;
			-moz-transition: all .25s ease;
			-o-transition: all .25s ease;
			-ms-transition: all .25s ease;
			transition: all .25s ease;
		}
	}

	&:hover{
		border: 8px solid #eeaa7b;

		.store-image {
			img {
				position: relative;
				-webkit-transform: scale(1.1) rotate(2deg);
				-moz-transform: scale(1.1) rotate(2deg);
				-o-transform: scale(1.1) rotate(2deg);
				-ms-transform: scale(1.1) rotate(2deg);
				transform: scale(1.1) rotate(2deg);
				max-height:100px;
			}
		}

		.store-info-fade {
			display: block;
			-webkit-opacity: 1;
			-moz-opacity: 1;
			opacity: 1;
		}
	}

	ul {
		list-style-type: none;
		margin-left: 0;
		margin-top: 20px;
		text-align: center;
		padding: 0;
		li {
			line-height: 28px;
		}
	}

	.store-project-name {
		font-size: 1.3em;
		text-transform: uppercase;
		color:#e37222;
		font-weight: 500;
	}

	.read-more {
		text-align: center;
		padding-top: 10px;
	}

	.store-info-fade {
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		top: 0;
		position: absolute;
		background: #000;
		background: rgba(0, 0, 0, 0.7);
		width: 100%;
		height: 100%;
		color: #FFF;
		text-shadow: 2px 2px 4px #000000;
		filter: dropshadow(color=#000000, offx=2, offy=2);
		-webkit-transition: opacity .25s linear;
		-moz-transition: opacity .25s linear;
		-o-transition: opacity .25s linear;
		-ms-transition: opacity .25s linear;
		transition: opacity .25s linear;
		ul {
			margin-top: 10%;
			margin: 10% 20px 0 20px;
			padding: 0;
			li {
				text-align: center;
				&:first-child {
					border-bottom: 1px solid #CCC;
				}
			}
		}

		.btn {
			border: 1px solid #66b9bf;
			-webkit-border-radius: 2px;
			-webkit-background-clip: padding-box;
			-moz-border-radius: 2px;
			-moz-background-clip: padding;
			border-radius: 2px;
			background-clip: padding-box;
			color: #FFFFFF;
			cursor: pointer;
			display: inline-block;
			text-transform: none;
			-webkit-transition: all .25s ease;
			-moz-transition: all .25s ease;
			-o-transition: all .25s ease;
			-ms-transition: all .25s ease;
			transition: all .25s ease;
			text-align: center;
			background: none repeat scroll 0 0 #66b9bf;
			text-shadow: none;
			box-shadow: none;
			color: #FFF;
			white-space: nowrap;

			&:hover {
				background: none repeat scroll 0 0 #07889b;
				color: #FFF;
				text-decoration: none;
				border: 1px solid #07889b;
			}
		}
	}
}
}

// -----------------------------------------------------------------------------
// PROFILE SETTINGS
// -----------------------------------------------------------------------------

#profile-settings-container{
	h4.title{
		font-weight: bolder;
		color: $wyc-default-teal;
	}
	.custom-select{
		margin-top: 25px !important;
	}
	.account-input-set{
		padding-bottom: 15px;
		.multiselect{
			margin-top: 27px;
		}
		.prf-input-set{
			padding-top:10px !important;
			.form-group{
				margin: 0 !important;
				.form-control{
					height: 29px !important;
				    padding: 4px 24px 4px 0 !important;
				    font-size: 14px !important;
				}
				.editable-buttons{
					.btn{
						&.btn-sm{
							padding: 5px 12px;
    						font-size: 10px;
    						margin: 6px 0;
						}
						&.btn-primary {
							color: $wyc-default-orange;
						}
					}
				}
			}
		}
		.account-input-left{
			padding-left: 0 !important;
		}

		.account-input-right{
			padding-right: 0 !important;
			padding-left: 0 !important;
		}

		#txt-landline{
			margin-left: -5px;
		}

		.account-label{
			font-weight:bold;
			margin-top: 15px;
			&.question-label{
				font-size: 14px;
    			color: $wyc-default-teal;
			}
			&.answer-label{
				font-size: 14px;
    			color: $dark-grey;
			}
		}

		.small-label{
			font-size: 11px;
			font-weight: normal;
		}

		.btn-ship-add {
			margin: 10px 0;
		}

		.radio-label {
			margin-right:10px;
			font-weight:bold;
		}

		.radio-opt-label {
			margin-right:10px;
			font-weight:normal;
		}

		.control-label{
			&.custom-label{
				font-size: 16px !important;
			    margin: 0 !important;
			}
		}
	}

	.account-picture-set {
		height: 236px;
		img {
			height: 236px;
			max-height: 236px;
			position: absolute !important;
			border-radius:100%;
			border: 5px solid rgba(182, 182, 182, 0.5);
		}

		.avatar-uploader {
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 236px;
		    height: 232px;
		    background: 0 0;
		    border-radius: 100%;
		    overflow: hidden;
		    margin-left: 17px;

			.edit {
			    position: absolute;
			    width: 100%;
			    height: 38px;
			    line-height: 28px;
			    border: 0;
			    background: rgba(0, 0, 0, 0.27);
			    color: #fff;
			    font-size: 13px;
			    text-align: center;
			    bottom: 0px;
			    transition: background .25s ease;
			}

			input {
			    position: absolute;
			    bottom: 0;
			    right: 0;
			    padding: 0;
			    font-size: 27px;
			    opacity: 0;
			    filter: alpha(opacity=0);
			    width: 100%;
			    cursor: pointer;
			}
		}
	}

	.fileUpload {
		position: relative;
		overflow: hidden;
		input.upload {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			font-size: 20px;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
		}
	}

	.btn-change-dp {
		outline:none;
		padding: 1px 10px !important;
		background-color: transparent;
		span{
			font-size: 30px;
			color: $light-grey;
		}
		&:active{
			box-shadow:none !important;
		}
	}

	.next-panel{
		margin-top:30px;
	}

	.last-panel{
		margin-top:30px;
		margin-bottom:50px;
	}









	#upload-documents {
		.list-group-item{
			border-style: none !important;
			outline: none !important;

			&.active{
				color: $wyc-default-teal;
				background-color: transparent;
				text-align: center;
				cursor:default;
			}

			.upload-doc-subhead{
				font-weight: bold;
				font-size: larger;
			}

			.doc-icon{
				font-family: 'FontAwesome';
				content: "\f069";
			}

			.doc-btn-set{
				text-align: right;
			}

			.account-label{
				margin-top: 0 !important;
			}

			.col-sm-7{
				margin-top: 5px !important;
			}
		}
	}

	.doc-action-btns{
		display: inline;
	}
}


// -----------------------------------------------------------------------------
// Friends
// -----------------------------------------------------------------------------
.friend-name{
	font-size: 1.2em;
	margin-bottom: 25px;
}

.friend-image{
	width: 110px;
	height: 110px;
	margin-top:25px;
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
}

.md-tabs{
	border-bottom:1px solid $mid-grey;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 10px;
	span{
		cursor: pointer;
		padding: 20px;
		padding-bottom: 10px;
		&.active{
			border-bottom:2px solid $wyc-default-teal;
		}
	}

}

// security-panels
#security-settings{

	span.reminder-high:before{
		content: "\f164";
		color: $brand-success;
	}

	span.reminder-low:before{
		content: "\f05e";
		color: $brand-danger;
	}

	span.reminder-med:before{
		content: "\f071";
		color: $brand-warning;
	}

	.progress-bar-set{
		margin: 10px;

		.progress {
			margin-bottom: 0;
		}
	}

	#reminder-context{
		margin-bottom: 10px;
		// border-radius: 8px;
		display: inline-flex;
		width: 100%;
		margin-top: 5px;

		span:before{
			font-family: 'FontAwesome';
			font-size: 30px;
			font-weight: normal !important;
		}
		.msg-context{
			font-weight: bold;
			margin-left: 15px;
			margin-top: 15px;
		}
	}

	.security-settings-set{
		.progressbar-color.high{
			width:100% !important;
			height:100% !important;
		}

		.progressbar-color.low{
			width:20% !important;
			height:100% !important;
		}

		.progressbar-color.med{
			width:50% !important;
			height:100% !important;
		}

		.prof-label{
			span{
				font-weight:bold;
			}
		}
	}
	.security-panel{
		margin-bottom: 0 !important;
		.panel-footer{
			background-color: #fff !important;
			text-align: right !important;
		}

		.panel-heading{
			&:hover{
				background-color: $light-grey;

				.sec-settings-notes{
					font-weight: bold
				}
			}

			.sec-settings-icon{
				font-size:40px;
				color: $icon-color;
			}

			.sec-settings-title{
				font-weight: bold;
				font-size: small;
			}

			.sec-settings-notes{
				font-size: small;
				font-weight: bold
			}

			.sec-settings-minitext{
				color: $wyc-default-teal;
				font-size: smaller;
				&.critical{
					color: #bb0d0d !important;
				}
			}

			.sec-settings-link{
				font-size: small;
				color: $wyc-default-teal;
			}
		}

		.security-question-set{
			margin-top:20px;
		}

		#set-security-que {
			display: none;
			&.active {
				display: block;
			}
		}

		#view-security-que {
			display: none;
			&.active {
				display: block;
			}
		}

	}

	.font-smaller-2{
		font-size: 0.8em;
	}

	.font-smaller-3{
		font-size: 0.6em;
	}


}

.btnUpload{
	cursor:pointer;
	max-width:200px;
	max-height:200px;
	&:hover{
		opacity: 0.8;
	}
}

$facebook-timestamp-color : #90949c;
$facebook-notif-bg-color : #eee;
$facebook-notif-hover-color : #e8e8e8;
$facebook-notif-border-color : #dddfe2;
$facebook-notif-new-bgcolor : #edf2fa;

#notifications{
	.notification-list{
		padding-left:0px;

		li{
			font-size: 12px;
			list-style-type: none;
			border-top: 1px solid $facebook-notif-border-color;
			cursor: pointer;
			background: #fff;
			padding: 5px;
			a{
				color:#181818;
				&:hover{
					text-decoration: none;
				}
			}

			&:first-child{
				border-top: 0px;
			}

			&:hover{
				background: $facebook-notif-hover-color;
			}

			&.not-read{
				background: $facebook-notif-new-bgcolor;
				&:hover{
					background: $facebook-notif-hover-color;
				}
			}

			.timestamp{
				color: $facebook-timestamp-color;
				padding-left:2px;
			}

			.image{
				margin-right: 5px;
				display: inline-table;
			    vertical-align: middle;
			    img{
			    	height: 40px;
			    	width:  40px;
			    }
			}
			.content{
				display: inline-table;
			    vertical-align: middle;
			    padding-top: 10px;
			}

			.add-image{
				height: 70px;
			    width: auto;
			    padding-top:5px;
			    padding-bottom:5px;
			}
		}
	}
}


#blueimp-gallery{
	img{
		zoom: 2;
	}
}

// range slider
#modalDocsView{
		// Base Colors
	$shade-10: #2c3e50 !default;
	$shade-1: #d7dcdf !default;
	$shade-0: #fff !default;
	$teal: #1abc9c !default;

	.range-slider {
	  margin: 60px 0 0 0%;
	}


	// Range Slider
	$range-width: 100% !default;

	$range-handle-color: $shade-10 !default;
	$range-handle-color-hover: $teal !default;
	$range-handle-size: 20px !default;

	$range-track-color: $shade-1 !default;
	$range-track-height: 10px !default;

	$range-label-color: $shade-10 !default;
	$range-label-width: 60px !default;

	.range-slider {
	  width: $range-width;
	}

	.range-slider__range {
	  -webkit-appearance: none;
	  // width: calc(100% - (#{$range-label-width + 13px}));
	  width: 100% !important;
	  height: $range-track-height;
	  border-radius: 5px;
	  background: $range-track-color;
	  outline: none;
	  padding: 0;
	  margin: 0;

	  // Range Handle
	  &::-webkit-slider-thumb {
	    appearance: none;
	    width: $range-handle-size;
	    height: $range-handle-size;
	    border-radius: 50%;
	    background: $range-handle-color;
	    cursor: pointer;
	    transition: background .15s ease-in-out;

	    &:hover {
	      background: $range-handle-color-hover;
	    }
	  }

	  &:active::-webkit-slider-thumb {
	    background: $range-handle-color-hover;
	  }

	  &::-moz-range-thumb {
	    width: $range-handle-size;
	    height: $range-handle-size;
	    border: 0;
	    border-radius: 50%;
	    background: $range-handle-color;
	    cursor: pointer;
	    transition: background .15s ease-in-out;

	    &:hover {
	      background: $range-handle-color-hover;
	    }
	  }

	  &:active::-moz-range-thumb {
	    background: $range-handle-color-hover;
	  }
	}


	// Range Label
	.range-slider__value {
	  display: inline-block;
	  position: relative;
	  width: $range-label-width;
	  color: $shade-0;
	  line-height: 20px;
	  text-align: center;
	  border-radius: 3px;
	  background: $range-label-color;
	  padding: 5px 10px;
	  margin-left: 8px;

	  &:after {
	    position: absolute;
	    top: 8px;
	    left: -7px;
	    width: 0;
	    height: 0;
	    border-top: 7px solid transparent;
	    border-right: 7px solid $range-label-color;
	    border-bottom: 7px solid transparent;
	    content: '';
	  }
	}


	// Firefox Overrides
	::-moz-range-track {
	    background: $range-track-color;
	    border: 0;
	}

	input::-moz-focus-inner,
	input::-moz-focus-outer {
	  border: 0;
	}

	#doc-container{
		height: 500px; overflow:hidden;
	}

	img{
		cursor:all-scroll;
	}
}

@media screen and (max-width: 1999px) {
    #profile-settings-container .account-input-set .account-input-right {
      margin-left: -15px;
    }
}

button[data-target="#individual"] {
   	width: 100% !important;
}
