@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';

#purchase_report_container{
 	.ellipsis
 	{
 		cursor:pointer;
 	}

 	.btn-group
 	{
 		margin: 0;
 	}

 	.report-header{
 		text-align:center;
 	}

 	.box-product-outer {
	    max-width: 260px !important;
	}

	.box-product .img-wrapper {
	    max-height: 222px;
	    height: 230px;
	}

	.purchase-tbl{
		font-size: smaller;
		button{
			font-size: x-small;
			padding-right: 4px;
    		padding-left: 4px;
		}

		.custom-rec{
			padding: 3px 0px;
		}
	}
}

	.report-product-modal{
		.modal-content{
    		.modal-body{
    			overflow-y: auto;
    			padding: 24px 6px !important;
    		}
    		.modal-footer{
    			padding: 5px;
    		}
			.card{
				padding: 5px 0;
				min-height: 210px;

				&.total-card{
					margin-top: 5px;
				}

				&.address-detail{
					margin-top: 5px;
					p{
						margin-bottom: 0;
					}
				}
			}

			.productDetails{
				.title{
					&.qualification{
						font-size: 22px;
						margin-top: 10px;
					}
				}
				.productName{
					margin-top: 5px;
					// text-overflow: ellipsis;
	    			// overflow: hidden;
	    			// white-space:nowrap;
	    			font-size: large;
	    			word-wrap: break-word;
				}
				.sku{
					font-size: smaller;
				}
			}
			.order-details{
				text-align: left;
			}
			.delivery-info{
				margin-bottom: 10px;
			}
			.product-set{
				.product-img-set{
					text-align: center;
					.product-img{
						width: 100%;
						height: 100%;
					}
					.product-status{
						margin-top: 10px;
						background-color: $wyc-default-teal;
					}
				}
			}

			.priceDetails{
				.original-price{
					font-size: large;
    				text-decoration: line-through;
    				color: $dark-grey;
				}
				.unit-price{
					font-size: xx-large;
    				color: $wyc-default-teal;
				}

			}

			#photoEvidence{
				h4{
					margin-top: 25px;
				}
				.img-wrapper{
				    display: inline-block;
				    margin: 16px;
				    div{
				        width: 372px;
						height: 300px;
						img{
							width: 100%;
							height: 100%;
						}				    
				    }

				}
			}

			#videoEvidence{
				h4{
					margin-top: 25px;
				}
				video {
				    width: 100% !important;
				    height: auto !important;
				}
			}

			.qualification-container{
				margin-top: 5px;
			}

		}
	}

	.airway-product-modal{
		.modal-content{
			border:	none;
			font-size: 11px;

    		.modal-body{
    			overflow-y: auto;
    			padding: 24px 6px !important;

    			.deliver{
    				font-family: Cambria;
    				font-size: 15px;
    				font-weight: bold;
    			}

    			.address{
    				width: 400px;
    			}

    			table, td, th{
				    border: 1px solid black;
				}

				table{
				    border-collapse: collapse;
				    width: 100%;
				}

				th{
				    text-align: left;
				    font-weight: bold;
				}

				.awb{
					float: right; 
					// margin-right: 20px; 
					// margin-top: -120px;
				}

				.received{
					float: left; 
					margin-left: 15px;
					margin-top: 5px;
				}

				.attempt{
					float: right; 
					margin-right: 20px;
					margin-top: 5px;
				}

				.text-align{
					text-align: center;
				}

				.padding-left{
					padding-left: 10px;
				}

				.border-top{
					border-top: none;
				}

				.b{
					font-weight: bold;
				}

				.margin{
					margin-top: 15px;
				}

				.float{
					float: right;
				}

				.inclusive{
					font-weight: bold;
				    font-size: 9px;
				    margin-right: 10px;
				}

				hr{
				    border-style: solid;
    				border-color: black;
    				margin-top: 10px;
    				// width: 300px;
				}

				.bottom-info{
					margin-top: 10px;
				}
    		}
    		.modal-footer{
    			padding: 5px;
    		}
    	}
    }

.return-item-mask {
	position: absolute;
	top: 0;
	left: 15px;
	right: 15px;
	bottom: 0;
	z-index: 9999;
	background-color: rgba(255, 255, 255, .8);
}

table.sales-tbl tbody tr.order-separator {
	border-top: solid 2px #999 !important;
}

div.products-info table {
	thead tr th:nth-child(1) {
		width: 20%;
	}
	tbody tr td {
		vertical-align: middle;
	}
}
div.order-details div.payment-info div.col-sm-6 {
	text-align: right;
}

div#photoEvidence h4.title, div#videoEvidence h4.title, div.order-notes h4.title {
	text-align: left;
}
div#videoEvidence video {
	cursor: pointer;
}
div.ekko-lightbox.modal + div.modal-backdrop {
	background-color: #000;
	opacity: 0.8;
}

#purchase_report_container {
	.orders-tbl {
		font-size: smaller;
		text-align: center;

		tbody {
			tr.clickable {
				cursor: pointer;
				background-color: #00a5a5;
    			color: #FFF;
			}
			td {
				width: 20%;
				a{
					color: 	#FFF;
					font-weight: 	bold;
				}
			}
		}
	}

	.order-details-tbl {
		tbody td {
			width: 20%;
			vertical-align: middle;
			
			img {
				height:100px;
			}
		}
	}
}