 @import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';

#sales_report_container{
	background:#fff;
	.card{
		position: relative;
	}

	.owlbg{
		padding-top: 20px;
		background-color:#e4fbf9;
		margin-bottom: 10px;
	}

	.count_display{
		text-align: center;
		width: 100%;
		font-size: 5em;
		color: $icon-color;
		margin-bottom: -15px;
	}

	.count_description{
		font-size: 1.2em;
		text-align: center;
		color: $dark-grey;
		width: 100%;
		margin-bottom: 15px;
	}

	.store-panel{
		.panel{
			box-shadow: none;
			.panel-heading{
				background-color: transparent !important;
				a{
					text-decoration: none;
					cursor: pointer;
					.store-name{
						font-weight: bolder;
						color: $wyc-default-teal;
					}
					.pending-notification{
						color: $wyc-default-orange;
					}
				}
			}
			.panel-collapse{
				.nav-pills{
					li{
						a{
							color:$wyc-default-orange;
							cursor: pointer;
							background-color: transparent !important;
								.badge{
									background-color: $wyc-default-powder;
									color: #000;
								}
						}
						&.active{
							a{
								text-decoration: none;
								color: #fff !important;
    							background-color: $wyc-default-teal !important;	
								&:focus, &:hover{
									color: #fff !important;
    								background-color: $wyc-default-teal !important;	
								}
								.badge{
    								background-color: #fff !important;
									color: $wyc-default-orange !important;
    							}
							}
						}
					}
				}
				.no-purchase{
					text-align: center;
					h4{
						font-weight: bolder;
					}
				}

				.filter-table{
					display: none;
					&.show{
						display: block;
					}
				}

				.no-purchase{
					display: none;
					&.show{
						display: block;
					}
				}
			}
		}

		table > tbody > tr > td {
			vertical-align: middle;

			.btn-group {
				margin: 0;
			}
		}

		.report-header{
			text-align: center;
		}

		.sales-tbl{
			font-size: smaller;
			button{
				font-size: x-small;
				padding-right: 4px;
	    		padding-left: 4px;
			}

			.custom-rec{
				padding: 3px 0px;
			}
		}
	}
}

	.report-product-modal{
		.modal-content{
    		.modal-body{
    			overflow-y: auto;
    			padding: 24px 6px !important;
    		}
    		.modal-footer{
    			padding: 5px;
    		}
			.card{
				padding: 5px 0;
				&.total-summary{
					min-height: 174px;
    				margin-top: 6px;
				}

				.order-notes{
					resize:none;
					&:focus{
						webkit-box-shadow: none;
						-moz-box-shadow: none;
						box-shadow: none;
					}
				}

				&.total-card{
					margin-top: 5px;
				}

				&.address-detail{
					margin-top: 5px;
					p{
						margin-bottom: 0;
					}
				}
			}

			.product-set{
				.product-img-set{
					text-align: center;
					img{
						width: 100%;
						height: 100%;
					}
					.product-status{
						margin-top: 10px;
						background-color: $wyc-default-teal;
					}
				}
			}
			.productDetails{
				.title{
					&.qualification{
						font-size: 16px;
						margin-top: 10px;
					}
				}
				.productName{
					margin-top: 5px;
					font-size: medium;

				}
				.sku{
					font-size: smaller;
				}
			}

			#photoEvidence{
				h4{
					margin-top: 25px;
				}
				.img-wrapper{
				    display: inline-block;
				    margin: 16px;
				    div{
				        width: 372px;
						height: 300px;
						img{
							width: 100%;
							height: 100%;
						}				    
				    }

				}
			}

			#videoEvidence{
				h4{
					margin-top: 25px;
				}
				video {
				    width: 100% !important;
				    height: auto !important;
				}
			}

			.returned-info{
				margin: 20px 0;
			}

			.return-details{
				text-align: right;
				margin: 5px 0;
			}
			.order-details{
				text-align:left;
			}
			.delivery-info{
				margin-bottom: 10px;
			}
			.qualification-container{
				margin-top: 5px;
			}

		}
	}

	.intransit-modal{
		.modal-content{
    		.modal-body{
    			// overflow-y: auto;
    			// padding: 24px 6px !important;
    			// min-height: 230px;

    			.shipInfo{
    				margin-top: 10px;
    				font-size: 24px;
    				color: $wyc-default-orange;
    			}

	    		.prlist{
	    				background-color: #fbfbfb;
	    				border: 1px solid #e8e8e8;
	    				margin-top: -55px;
	    				min-height: 375px;
	    				max-height: 375px;
	    				padding: 10px;
	    				overflow-y: auto;
	    			.lsprod{
	    				min-height: 250px;
	    				max-height: 250px;
	    				overflow-y: auto;	
	    				.catlist dl{
							width:100%;
							margin:0 auto;
							border-bottom:1px dashed #ccc;
							padding:10px;
							overflow:hidden;
							background:#f2f2f2;
						}
						.catlist dd{overflow:auto}
						.catlist dt strong{
							float:right;
							padding:0 0 0 20px;
						}
						.catlist dt img{
							float:left;
							margin:0 10px 0 0;
							border:1px solid #000;
						}
	    			}
	    		}
    		}
    	}
	}

	.airway-product-modal{
		.modal-content{
			border:	none;
			font-size: 11px;

    		.modal-body{
    			overflow-y: auto;
    			padding: 24px 6px !important;

    			.deliver{
    				font-family: Cambria;
    				font-size: 15px;
    				font-weight: bold;
    			}

    			.address{
    				width: 400px;
    			}

    			table, td, th{
				    border: 1px solid black;
				}

				table{
				    border-collapse: collapse;
				    width: 100%;
				}

				th{
				    text-align: left;
				    font-weight: bold;
				}

				.awb{
					float: right; 
					margin-right: 20px; 
					margin-top: -120px;
				}

				.received{
					float: left; 
					margin-left: 15px;
					margin-top: 5px;
				}

				.attempt{
					float: right; 
					margin-right: 20px;
					margin-top: 5px;
				}

				.text-align{
					text-align: center;
				}

				.padding-left{
					padding-left: 10px;
				}

				.border-top{
					border-top: none;
				}

				.b{
					font-weight: bold;
				}

				.margin{
					margin-top: 15px;
				}

				.float{
					float: right;
				}

				.inclusive{
					font-weight: bold;
				    font-size: 9px;
				    margin-right: 10px;
				}

				hr{
				    border-style: solid;
    				border-color: black;
    				margin-top: 10px;
    				// width: 300px;
				}
				
				.bottom-info{
					margin-top: 10px;
				}
    		}
    		.modal-footer{
    			padding: 5px;
    		}
    	}
    }

	.txt-cont{
		line-height: 2;
	}

table.sales-tbl tbody tr.order-separator {
	border-top: solid 2px #999 !important;
}

div.products-info table {
	thead tr th:nth-child(1) {
		width: 20%;
	}
	tbody tr td {
		vertical-align: middle;
	}
}
div.order-details div.payment-info div.col-sm-6 {
	text-align: right;
}

div#photoEvidence h4.title, div#videoEvidence h4.title, div.order-notes h4.title {
	text-align: left;
}
div#videoEvidence video {
	cursor: pointer;
}
div.ekko-lightbox.modal + div.modal-backdrop {
	background-color: #000;
	opacity: 0.8;
}
#sales_report_container .store-panel {

	.orders-tbl {
		font-size: smaller;
		text-align: center;

		tbody tr.clickable {
			cursor: pointer;
			background-color: #00a5a5;
    		color: #FFF;
    		td {
				
				a{
					color: 	#FFF;
					font-weight: 	bold;
				}
			}
		}
	}

	.order-details-tbl {
		tbody td {
			width: 20%;

			img {
				height:100px;
			}
		}
	}
}