// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Store page.
// -----------------------------------------------------------------------------

@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';

// -----------------------------------------------------------------------------
// OPEN STORE
// -----------------------------------------------------------------------------
#open-store-content{
	.store-nav{
		li.active{
			background-color:$wyc-default-orange !important;
		}
	}
	.store-pill-content{
		width:230px;
		img{
			width:45px;
		}
		span{
			margin: 0 15px;
		}
	}

	.store-input-set{
		padding-top:20px;
		padding-bottom:10px;

		.multiselect-note{
			margin-top: 8px !important;
		    color: #838383 !important;
		    font-size: 12px !important;
		}
		.store-label{
			margin-top:20px;
		}

		.custom-select{
			margin-top: 25px !important;
		}

		.alert-set{
			margin-top: 5px !important;
		}
	}

	.store-subhead{
		margin-top:30px !important;
	}



}

// -----------------------------------------------------------------------------
// FINISH OPEN STORE
// -----------------------------------------------------------------------------

#store-finish-content{
	background-color: #fff;
	margin-top: 0 !important;

	.full-container{
		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/store/backgrounds/party-shop.jpeg") !important;
		background-size:     cover !important;
		background-repeat:   no-repeat !important;
		background-position: center center !important;
		.full-header-banner{
			padding: 8% !important;
		}
	}

	.store-container {
		.store-options{
			.store-text-header-container{
				background-color: $wyc-default-teal;
				padding:11px;

				&.red{
					background-color: #d9534f;
				}
				.text-header{
					color: #fff;
					margin: 0 !important;
					font-weight: bold;
				}

				&.orange{
					background-color: $icon-color !important;
					.text-header{
						color: #000;
						margin: 0 !important;
					}
				}
			}
			.store-finish-buttons{
				margin-top:20px;
				text-align:center;
				a{
					img {
						width:190px;
					}

					h4{
						&:hover{
							text-decoration: none !important;
						}
					}
				}

			}

			.home-btn-set{
				margin-bottom: 10px !important;
			}
		}



	}
}

// -----------------------------------------------------------------------------
// STORE PROFILE CARD
// -----------------------------------------------------------------------------
	.big-card{
		padding-top: 20px;
	    margin: 10px 0 20px 0;
	    background-color: rgba(214, 224, 226, 0.2);
	    border-top-width: 0;
	    border-bottom-width: 2px;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    text-align:center;

		&.hovercard{
			position: relative;
		    padding-top: 0;
		    overflow: hidden;
		    background-color: rgba(214, 224, 226, 0.2);

		    .cardheader {
			    background: url("http://lorempixel.com/850/280/nature/4/");
			    background-size: cover;
			    height: 135px;

			  	.cover-uploader {
				    display: inline-block;
				    width: auto;
				    position: absolute;
				    z-index: 2;
				    right: 16px;
				    top: 12px;
				    padding: 0 12px;
				    height: 32px;
				    line-height: 32px;
				    background: rgba(0,0,0,.27);
				    border: 0;
				    border-radius: 1.6rem;
				    color: rgba(255,255,255,.87);
				    transition: background .25s ease;
				    &:hover {
				      color: #fff;
				      background: rgba(0,0,0,.54);
				    }

				    input{
					  position: absolute;
					  top: 0;
					  right: 0;
					  margin: 0;
					  padding: 0;
					  font-size: 20px;
					  cursor: pointer;
					  opacity: 0;
					  filter: alpha(opacity=0);
					  width: 128px;
					}
				}

			}

			.avatar {
			    position: absolute;
				top: 12px;
				margin-bottom: -50px;
				img {
				    width: 100px;
				    height: 100px;
				    max-width: 100px;
				    max-height: 100px;
				    -webkit-border-radius: 50%;
				    -moz-border-radius: 50%;
				    border-radius: 50%;
				    border: 5px solid rgba(255,255,255,0.5);
				    margin-left:20px;
				}
			}
			.avatar-uploader {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100px;
			    height: 100px;
			    background: 0 0;
			    border-radius: 100%;
			    overflow: hidden;
			    margin-left: 20px;

			    &:hover {
			      color: #fff;
			      background: rgba(0,0,0,.54);
			    }

			    .edit {
				    position: absolute;
				    width: 100%;
				    height: 26px;
				    line-height: 26px;
				    border: 0;
				    background: rgba(0,0,0,.27);
				    color: #fff;
				    font-size: 12px;
				    text-align: center;
				    bottom: 0;
				    transition: background .25s ease;
				}

				input{
				    position: absolute;
				    bottom: 0;
				    right: 0;
				    margin: 0;
				    padding: 0;
				    font-size: 20px;
				    opacity: 0;
				    filter: alpha(opacity=0);
				    width: 100px;
				}
			}

			.info {
			    padding: 10px 0px 10px;

			    .title {
				    margin-bottom: 4px;
				    font-size: 24px;
				    line-height: 1;
				    color: #262626;
				    vertical-align: middle;
				}

				.desc {
				    overflow: hidden;
				    font-size: 12px;
				    line-height: 20px;
				    color: #737373;
				    text-overflow: ellipsis;
				}
			}
		}
	}

	.store-info-set{
		margin-bottom:10px;
		.store-info{
			text-align:center;
			margin-bottom: 10px;
		}

		.store-badge {
			.store-badge-icon{
				width: 45px;
				height: 45px;
				margin-top: 11px;
			}
		}
	}

// -----------------------------------------------------------------------------
// STORE PAGE
// -----------------------------------------------------------------------------

#store-content{

}